<style>
	
.tbl_toggle thead th {
background-color:#E5EDF7;
border-color:#FFFFFF #FFFFFF #AEBBCC;
border-style:solid;
border-width:1px;
font-size:0.9em;
padding:4px;
text-align:left;
}
.tbl_toggle tbody th, .tbl_toggle tbody td {
border-bottom:1px solid #E3E3E3;
padding:4px;
text-align:left;
}
.tbl_toggle tbody tr.odd td {
border-color:#DFDFDF;
border-style:solid;
border-width:1px 0;
}
.tbl_toggle tbody tr.even td {
background-color:#EFEFEF;
border-color:#FFFFFF;
border-style:solid;
border-width:1px 0;
}
.tbl_toggle tbody tr.odd-highlight td {
background-color:#FEFDCA;
border-color:#DFDFDF;
border-style:solid;
border-width:1px 0;
}
.tbl_toggle tbody tr.even-highlight td {
background-color:#FEFDCA;
border-color:#FFFFFF;
border-style:solid;
border-width:1px 0;
}
.tbl_toggle tbody tr.odd:hover td, .tbl_toggle tbody tr.even:hover td, .tbl_select tbody tr.odd:hover td, .tbl_select tbody tr.even:hover td {
background-color:#E1EFF4;
cursor:pointer;
}
.tbl_toggle tbody tr.first td {
border-top-width:0;
}
.tbl_toggle tbody tr.current_row td {
background-color:#E1EFF4;
border-bottom-width:0;
}
.tbl_toggle tbody tr.question_detail_row:hover td {
background-color:transparent;
}
.tbl_toggle tfoot td {
border-top:1px solid #AEBBCC;
font-weight:bold;
padding:8px 3px;
}

.line {
display:block;
float:left;
position:relative;
width:100%;
}

.line .twoCol_left_half {
margin-left:-100%;
width:48%;
}

line .twoCol_right_half {
margin-left:-48%;
width:48%;
}

.line .item {
float:left;
left:100%;
position:relative;
}

.line .item_answer span.answer_chosen {
background-color:#F7F198;
font-size:9px;
padding:1px 2px;
}

.line .item_answer span.answer_correct {
background-color:#8FD182;
font-size:9px;
margin-left:4px;
padding:1px 2px;
}
	
</style>

<script>
function removeRowFromList(rowId){
	
	var rowObj = document.getElementById(rowId);
	var rIndex = rowObj.sectionRowIndex;
	rowObj.parentNode.deleteRow(rIndex);
	
	Element.hide('spinner');
}	

function viewQuestion(questionId){
		
		var explanation = document.getElementById("full_"+questionId);
		if (explanation != null && typeof(explanation) != 'undefined') {
			// já expandido
			
			if (explanation.style.display == 'none') {
				Effect.SlideDown("full_"+questionId);
			}
			else {
				Effect.SlideUp("full_"+questionId);
			}
		}
		else {
		
			new Ajax.Request("/questions/"+questionId, {
				method: 'get',
				parameters: "?id=" + questionId,
				onLoading: function(){
				
				var loadingbar = "<tr><div id='full_"+ questionId + "'><div><td id='thebug_"+ questionId + "' colspan='5'> <img src='../../images/loadingAnimation.gif'/></td></div></div></tr>";
				
				Element.insert("question_"+questionId, {after: loadingbar});
				
				}/*,
				onComplete: function(request){
				
				
				}*/
			});
		}
}	
</script>


<% if @questions && @questions.length > 0 %>

<table style="width: 100%">
  <tr>
    <th>Questão</th> <!-- snippet da questão? -->
	<th>Autor</th>
	<th>Dificuldade</th>
	<th>Categoria</th>
    <th>Data de criação</th>
  </tr>
<% @questions.each do |question| %>
  <tr id = "question_<%= question.id %>">
  	<td>
    	<%= truncate_words( question.statement, 70, '...') %> <!-- TODO texto sem formatacao -->
	</td>
	<td>
    	<%= question.author.display_name %> <!-- TODO texto sem formatacao -->
	</td>
	<td>
    	Fácil
	</td>
	<td>
    	Matemática
	</td>
    <td><%=h time_ago_in_words(question.created_at)  %></td>
	 
  
     
<% if (action_name == 'index' and current_user and question.author == current_user and not question.public) %>
   
   <td><%= link_to 'Editar', edit_question_path(question) %> </td>
    <td>	<%= link_to 'Remover', question, :confirm => 'Are you sure?', :method => :delete %></td>

<% elsif (action_name == 'add' and current_user ) %>
  <td>		
  <%= link_to_function 'Visualizar', "viewQuestion(" + question.id.to_s + ")"%>
<%= link_to_remote 'Adicionar', :url => { :controller => :exams, :action => :add_question, :question_id => question.id, :exam_type => exam_type }, 
						:before => "Element.show('spinner')",
        				:success => "removeRowFromList('tr_" + question.id.to_s + "')" %>
						<!-- :method => :delete --> 
						 <!-- :update => "local_search_results" -->
</td>
<% end %>

     </tr>
<% end %>
</table>
<% else %>

Não há questões públicas no momento.

<% end %> 

<div id="pagination" align="center" style="padding-top: 20px; padding-bottom: 15px;">

		<%= will_paginate  @questions,  :class => "pagination_number"  %>
		
    </div>