<%#
  Navegação entre questões.

  Variáveis:
    exercise: o exercício.
    current: a questão atual.
    first: a primeira questão.
    last: a última questão.
    review: se é revisão.
%>

<div class="exercise-box exercise-box-gray exercise-question-navigation">
  <ol class="exercise-question-navigation-list">
    <% if prev_range = current.item_at_offset(-4) %>
      <li class="exercise-question-navigation-item">
        <%= link_to "...", exercise_question_path(exercise, prev_range) %>
      </li>
    <% end %>
    <% limit, offset = pagination(current) %>
    <% questions_navigation = exercise.questions.limit(limit).offset(offset).order('position ASC') %>
    <% questions_navigation.each do |question| %>
      <% choice = question.choice_for(current_user) if question %>
      <% question_link = capture do %>
        <%= link_to question.position, exercise_question_path(exercise, question) if question %>
      <% end %>
      <% current_class = (question == current) ? "exercise-question-navigation-item-current" : "" %>
      <% if review %>
        <li class="exercise-question-navigation-item <%= current_class %> <%= right_or_wrong(choice) %>">
          <%= question_link %>
        </li>
      <% else %>
        <% question_answered_class = choice ? "exercise-question-navigation-item-answered" : "" %>
        <%= content_tag :li, question_link,
          class: "exercise-question-navigation-item #{ current_class } #{ question_answered_class }" %>
      <% end %>
    <% end %>
    <% if current != last %>
      <li class="exercise-question-navigation-item">
        <% if  next_range = current.item_at_offset(4) %>
          <%= link_to "...", exercise_question_path(exercise, next_range) %>
        <% end %>
      </li>
    <% end %>
  </ol>
  <div class="clearfix">
    <% if current != first %>
      <%= link_to "< primeira", exercise_question_path(exercise, first),
        :class => "pull-left link-secondary" %>
    <% end %>
    <% if current != last %>
      <%= link_to "> última", exercise_question_path(exercise, last),
        :class => "pull-right link-secondary" %>
    <% end %>
  </div>
</div>