<script>

//TODO validar numero de chaves > 0
function requestKeysToSchool(schoolId){
	var keysNumber = $('keys_number').val();//document.geteleme
	alert('você solicitou '+keysNumber +' chaves para a escola: '+schoolId);
}

function showRequestKeysBox(){
		document.getElementById('request_keys_link').style.display = 'none';
        document.getElementById('request_keys_box').style.display = 'inline';
}

function selectAll(){
	var checkboxes = document.getElementsByName("ids[]");
	for (var i =0; i< checkboxes.length; i++) {
		checkboxes[i].checked = true;
	}
	
}

function selectNone(){
	var checkboxes = document.getElementsByName("ids[]");
	for (var i =0; i< checkboxes.length; i++) {
		checkboxes[i].checked = false;
	}
}

function selectNewExpirationDate(){
	return confirm("selecionou opcao 1 e data válida?");
}

function changeOption(optionSelect){
	//var optionSelect = document.getElementById('option');
	
	var option = optionSelect.selectedIndex;
	//alert(option);
	if (option == 0) { // Renovar prazo
	document.getElementById('exp_date_box').style.display = 'inline';
	document.getElementById('role_box').style.display = 'none';
	
	} else if (option == 1) { // Renovar chave
	
	document.getElementById('role_box').style.display = 'none';
	document.getElementById('exp_date_box').style.display = 'none';
	} else if (option == 2) { // Mudar papel
		document.getElementById('exp_date_box').style.display = 'none';
		document.getElementById('role_box').style.display = 'inline';
	}
	
}

function validateForm(){
	var optionSelected = document.getElementById('option').optionSelect.selectedIndex;
	if (optionSelected == 1) { // Renovar chave
		return confirm('As chaves selecionadas serão substituídas por novas chaves com mesmo prazo de validade. Confirma?')
	} else {
		return true;
	}
	
}

function showRequestKeysForm(){
		document.getElementById('request_keys_link').style.display = 'none';
        document.getElementById('request_keys_form').style.display = 'inline';
}


</script>
Novo Exame >> Adicionar Questão
<h1>Listando questões</h1>

<p>
	
		<div id="local_search_form">
			
			<!-- form_remote_tag :update => "questions",
                       :url => { :controller => :questions, :action => :create },
                       :position => "bottom", #before e after nao funcionam com o :update
						:loading => 'itemLoading()', 
					    :complete => "closePopup()" do -->
			
		
        <% form_remote_tag :url => { :controller => :questions, :action => :search },
					:before => "Element.show('spinner')",
					:success => "Element.hide('spinner')" do -%>
           	Buscar
			<%= text_field_tag :query %>
		    <%= submit_tag 'Search' %>
        <% end -%>
		
		
		</div>
</p>



<% form_remote_tag :url => { :controller => :questions, :action => :sort } do %>
Ordenar:
<%= select_tag(:sort_by, options_for_select([['Data de criação', 1], ['Nome', 2], ['Ratings', 3]], 1)) %>
<%= select_tag(:order, options_for_select([['Dec', 1], ['Cre', 2]], 1)) %>
<%= submit_tag "OK"%>
<% end %>


<hr>


<div id="local_search_results" style="min-height: 200px">

<%= render :partial => "questions/list" %>

</div>
<%= link_to 'Back', :controller => :exams, :action => :new %>

<%= image_tag("spinner.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "spinner",
              :style =>"display: none;" ) %>

