<li id="requisition-<%= friend.id %>" class="clearfix">
  <span>Você tem uma nova requisição de contato:</span>
  <div class="grid_5 friend">
    <%= image_tag friend.avatar.url(:thumb_32), :class => 'avatar' %>
    <div class="grid_4 friend-details">
      <%= link_to friend.display_name, user_path(friend), :class => 'name' %>
      <span class="counter">
        <%= pluralize friend.friends_in_common_with(current_user).length,
          'contato'  %> em comum
      </span>
    </div>
  </div>
  <div class="actions">
    <%= image_tag 'spinner.gif', :style => 'display: none;',
      :id => "spinner-#{friend.id}" %>
    <%= link_to_remote 'Recusar',
      :url => user_friendship_path(current_user,
                                   current_user.friendship_for(friend)),
      :method => :delete,
      :loading => "$('#spinner-#{friend.id}').show();",
      :success => "$('#requisition-#{friend.id}').slideToggle();",
      :html => { :class => 'remove' }%>
    <%= link_to_remote 'Aceitar',
      :url => user_friendships_path(current_user, :friend_id => friend.id),
      :loading => "$('#spinner-#{friend.id}').show();",
      :success => "$('#requisition-#{friend.id}').slideToggle();",
      :html => { :class => 'accept-friend' }%>
  </div>
</li>
