<%# Sidebar da home do usuário  %>
<div class="sidebar alpha grid_3">
  <div class="image-frame">
    <%= image_tag current_user.avatar.url(:thumb_120),
      :alt => 'profile', :width => 120, :height => 120 %>
  </div>

  <ul class="local-nav">
    <li>
      <div class="<%= (current_page? :controller => :users, :action => :home) ?
        "session selected".to_s : "session".to_s %>">
      <%= link_to current_user.display_name, home_user_path(current_user),
        :class => 'icon icon-redu_r8_c333_s1' %>
      </div>
    </li>
    <li>
      <div class="<%= (current_page? :controller => :messages, :action => :index) ?
        "session selected".to_s : "session".to_s %>">
        <%= link_to "Mensagens (#{current_user.unread_message_count})",
          user_messages_path(current_user),
          :class => 'icon icon-redu_r10_c331_s1' %>
      </div>
    </li>
    <li>
      <div class="<%= (current_page? :controller => :users, :action => :mural) ?
        "session selected".to_s : "session".to_s %>">
        <%= link_to 'Meu Mural', mural_user_path(current_user),
        :class => "icon icon-redu_r8_c379_s1" %>
      </div>
    </li>
    <%= render :partial => 'users/new/sidebar_environment_item',
      :collection => current_user.environments, :as => :environment %>
    <li>
      <div class="<%= (current_page? :controller => :users, :action => :edit) ?
        "session selected".to_s : "session".to_s %>">
        <%= link_to 'Configurações', edit_user_path(current_user),
        :class => "icon icon-redu_r8_c221_s1" %>
      </div>
    </li>
    <li>
      <div class="session">
        <%= link_to 'Contatos', user_friendships_path(current_user),
          :class => 'icon icon-redu_r8_c325_s1'%>
      </div>
      <ul class="connections clearfix">
        <%= render :partial => 'users/new/item_short',
          :collection => @friends %>
      </ul><!-- end .connections -->
      <%= link_to 'Ver mais', user_friendships_path(current_user),
        :class => 'more' %>
    </li>
  </ul><!-- end .local-nav -->
</div>

