<div class="sidebar alpha grid_3">
  <div class="image-frame ">
    <%= image_tag @user.avatar.url(:thumb_120), :alt => 'user' %>
  </div>

  <ul class="local-nav">
    <li>
      <div class="<%= (current_page? user_path(@user)) ?
                       "session selected".to_s : "session".to_s %>">
        <%= link_to "Perfil: #{@user.first_name}", user_path(@user),
        :class => "icon icon-redu_r8_c361_s1" %>
      </div>
     </li>
    <li>
      <div class="<%= (current_page? user_friendships_path(@user)) ?
                       "session selected".to_s : "session".to_s %>">
        <%= link_to 'Contatos', user_friendships_path(@user),
          :class => "icon icon-redu_r8_c325_s1"%>
      </div>
      <ul class="connections clearfix">
        <%= render :partial => 'users/new/item_short',
          :collection => @user.friends.n_recent(9) %>
      </ul><!-- end .connections -->
        <%= link_to 'Ver mais', user_friendships_path(@user),
          :class => "more"%>
    </li>
  </ul><!-- end .local-nav -->
  <% friendship = current_user.friendship_for @user %>
  <% if current_user.friends?(@user) %>
    <%= link_to 'Remover conexão',
      user_friendship_path(current_user, friendship.id),
      :method => :delete,
      :class => "disconnect icon icon-redu_r12_c43_s1"%>
  <% end %>
</div>
