<%= render :partial => 'users/new/home_sidebar' %>
<div class="main grid_10" style="width: 580px;">
  <ol id="breadcrumbs" class="clearfix">
    <li>
      <%= link_to 'Home', home_user_path(current_user),
        :class => 'replacement home icon icon-redu_r8_c227_s1' %>
    </li>
  </ol>
  <% unless @friends_requisitions.empty? %>
    <ul class="friends-requisitions">
      <%= render :partial => 'users/new/friend_requisition',
        :collection => @friends_requisitions, :as => :friend %>
    </ul>
  <% end %>
  <% if current_user.has_course_invitation? %>
    <ul class="courses-requisitions">
      <%= render :partial => 'courses/new/item_invitation',
        :collection => @course_invitations %>
    </ul>
  <% end %>
  <%= render :partial => 'statuses/new/create_status',
    :locals => { :statusable => current_user } %>
  <div id="statuses" class="statuses">
    <ol>
      <%= render :partial => 'statuses/new/item', :collection => @statuses %>
    </ol>

    <%= will_paginate @statuses, :renderer => EndlessRenderer %>
  </div><!-- end .statuses -->
</div><!-- end .main -->
