<% content_for :header_scripts_and_styles do %>
  <script type="text/javascript">
    function verifyTOS(){
      if (document.getElementById('user_tos').checked) {
        return true;
      }
      else {
        alert('Você não pode se cadastrar se não aceitar os termos de uso do Redu');
        return false;
      }
    }

  </script>
<% end %>
<div id="clean" class="container_16 clearfix">
  <div class="grid_4 alpha header">
    <h1 class="logotipo replacement">
      <a href="" class="">Redu: rede social educacional</a>
    </h1>
  </div>
  <div class="main grid_12 omega">
    <h3 class="call">Cadastro</h3>
    <% form_for :user, :url => users_path,
      :html => {:class => 'common', :onsubmit => 'return verifyTOS();'} do |f| %>
      <%= error_messages_for :user %>
      <% field_set_tag "Informações pessoais", :class => 'separator' do %>
        <%= f.label :first_name, "Nome:" %>
        <%= f.text_field :first_name, :class => 'small' %>
        <%= error_for :user, :first_name %>

        <%= f.label :last_name, "Sobrenome:" %>
        <%= f.text_field :last_name, :class => 'small' %>
        <%= error_for :user, :last_name %>

        <%= f.label :birthday, :birthday.l + ":" %>
        <div class="inline">
          <%= date_select :user, :birthday,
            {:start_year => 1926, :end_year => (Time.now.year - 13)} %>
        </div>
        <%= error_for :user, :birthday %>
      <% end %>
      <% field_set_tag "Informações de contato", :class => 'separator' do %>
        <%= f.label :login, :username.l %>
        <%= f.text_field :login, :class => 'small' %>
        <%= error_for :user, :login %>

        <%= f.label :email, :email.l %>
        <%= f.text_field :email, :class => 'small' %>
        <%= error_for :user, :email %>
      <% end %>
      <% field_set_tag "Senha", :class => 'separator' do %>
        <%= f.label :password, :password.l %>
        <%= f.password_field :password, :class => 'small' %>
        <%= error_for :user, :password %>

        <%= f.label :password_confirmation, 'Confirmação:' %>
        <%= f.password_field :password_confirmation, :class => 'small' %>
        <%= error_for :user, :password_confirmation %>
      <% end %>
      <% field_set_tag "Termos", :class => 'tos' do %>
        <div class="inline">
          <%= check_box "user", "tos" %>
          <%= f.label "tos", "Li e aceito os termos de uso do Redu" %>
        </div>
      <% end %>
      <%= submit_tag :sign_up.l, :class => 'important' %>
      <%= hidden_field_tag :inviter_id, params[:inviter_id] %>
      <%= hidden_field_tag :inviter_code, params[:inviter_code] %>
    <% end %>
  </div>


</div><!-- end #content -->
