<% content_for :container_class do "entity-wrapper" end %>

<div class="span3">
  <%= render "spaces/sidebar_new", space: @space, user: current_user %>
</div>
<div class="span13">
  <%= render "spaces/breadcrumbs_new", space: @space %>
  <div class="content-body">
    <%= render "spaces/header_new", space: @space %>

    <div class="content-section">
      <%= content_tag :h3, @client_application.name, class: "header-breadcrumb-big icon-app-gray_32_34-before" %>
    </div>

    <hr class="list-separator">

    <div class="content-section">
      <div class="iframe-canvas">
      </div>
      <%= lazy_load(:canvas) do %>
        $(document).ready(function(){
          var canvas = new Canvas({
          remote : "<%= @canvas_url.html_safe %>"
          });
        });
      <% end %>
    </div>
  </div>
</div>