<%= render :partial => 'spaces/sidebar', :locals => { :space => @space } %>
<div class="main space grid_12 omega big-col">
  <div class="expander open">
    <a href="#">&#9654;</a>
  </div>
  <%= render :partial => 'spaces/breadcrumbs', :locals => { :space => @space } %>
  <%= render :partial => 'spaces/header',
    :locals => { :space => @space }%>

  <div class="body clearfix space-canvas">
    <div class="header clearfix">
      <h4 class="title"><%= @client_application.name %></h4>
      <span class="detail">plataforma de aplicativos</span>
    </div>

    <div class="iframe-canvas">
    </div>
    <%= lazy_load(:canvas, :jammit => true, :clear => false) do %>
      $(document).ready(function(){
        var canvas = new Canvas({
        remote : "<%= @canvas_url.html_safe %>"
        });
      });
    <% end %>
  </div><!-- end #environment-courses -->

</div><!-- end main -->
