<tr id="user-<%= user_item_admin.user_id %>" class="row">
  <td class="cell checkbox-cell centered-cell"><%= check_box_tag 'users[]', user_item_admin.user.id, false,
    {:class => "autoCheck", :id => "remove-#{user_item_admin.user.id}"}  %></td>
  <td class="cell member-cell centered-cell">
    <%= image_tag user_item_admin.user.avatar(:thumb_32), :class => "avatar", :size => "32x32" %>
    <div class="member-info">
      <%= link_to user_item_admin.user.display_name, user_item_admin.user,
        :rarget => "_blank", :class => "member-name" %>
      <span class="member-detail">Último login em <%= user_item_admin.user.last_login_at && l(user_item_admin.user.last_login_at, :format => :admin) %></span>
      <span class="member-detail">Inscrito em <%= user_item_admin.created_at && l(user_item_admin.created_at, :format => :admin) %></span>
    </div>
  </td>
  <td class="cell centered-cell">
    <span class="member-detail">
      <span class="icon-course-gray_16_18-before">
      <% is_admin = user_item_admin.role.environment_admin?%>
        <% if !is_admin %> 
          Matriculado em <%= courses_count = user_item_admin.user.courses.of_environment(@environment).count %> <%=t :course_, :count => courses_count %>
        <% else %>
          Administrador
        <% end %>
      </span>
    </span>
  </td>
  <td class="cell centered-cell">
    <%= link_to "Papéis", environment_user_roles_path(@environment, user_item_admin.user),
      :class => "option icon-manage-gray_8_10-before"%>
  </td>
</tr>
