<div class="content-section clearfix">
  <%= content_tag(:h3,
    "#{ @total_courses } #{ t("hierarchy.course", count: @total_courses) }",
    class: "entity-management-count") unless @courses.empty? %>

  <%= link_to "Criar novo curso",
    new_environment_course_path(@environment),
    class: "button-primary pull-right" %>
</div>

<% if @courses.empty? %>
  <%= render "shared/empty_message",
    icon_message: "Nenhum curso.",
    icon_class: "icon-course-empty_128_130",
    message: "Este Ambiente não possui nenhum Curso." %>
<% else %>
  <div class="content-section">
    <ul class="entity-mangement-list">
      <%= render :partial => 'courses/admin/item_admin', :collection => @courses %>
    </ul>
  </div>
  <% if @courses.total_pages > 1 %>
    <hr class="list-separator">
    <%= paginate @courses, theme: "numbers", outer_window: 1, inner_window: 4 %>
    <hr class="list-separator">
  <% end %>
<% end %>