<% content_for :header_scripts_and_styles do %>
  <%= javascript_include_tag "entity-management-members-filter" %>
<% end %>

<div class="content-section clearfix">
  <%= content_tag(:h3,
    "#{ pluralize(@environment.users.count, "membro") } e #{ @environment.courses.count } #{ t("hierarchy.course", count: @environment.courses.count).downcase }",
    class: "entity-management-count") %>
</div>

<%= form_tag search_users_admin_environment_path(@environment), remote: true,
  class: "entity-mangement-members-filter-form clearfix" do %>
  <%= render "shared/admin/filter_members_form_new" %>
<% end %>
<div class="environment-management-member-search-result">
  <% if @memberships.blank? %>
    <%= render "shared/empty_message", icon_message: "Nenhum membro.",
      icon_class: "icon-member-empty_128_130",
      message: "Este Ambiente não possui membros." %>
  <% else %>
    <%= render "environments/admin/user_list_admin", memberships: @memberships,
      environment: @environment %>
  <% end %>
</div>