<%= form_for @environment, html: { multipart: true, class: "form-horizontal" },
  url: @environment do |f| %>
  <div class="form-fieldset-section">
    <%= concave_error_messages_for(@environment) %>

    <div class="control-group row">
      <div class="control-label span3">
        <label for="cpf">CPF</label>
      </div>
      <div class="controls span4">
        <input type="text" id="cpf" placeholder="000.000.000-00">
      </div>
    </div>

    <div class="control-group row">
      <div class="control-label span3">
        <%= f.label :name, "Nome" %>
      </div>
      <div class="controls span7">
        <%= f.text_field :name,
          placeholder: "Nome do ambiente virtual de aprendizagem" %>
        <%= concave_errors_for(f.object, :name) %>
      </div>
    </div>

    <div class="control-group row">
      <div class="control-label span3">
        <%= f.label :initials, "Abreviação" %>
      </div>
      <div class="controls span7">
        <%= f.text_field :initials, placeholder: "Abreviação ou sigla" %>
        <%= concave_errors_for(f.object, :initials) %>
      </div>
    </div>

    <div class="control-group row">
      <div class="control-label span3">
        <%= f.label :path, class: "pull-right" do %>
          <span class="label-tooltip-icon icon-info-tooltip-lightblue_16_18 text-replacement" rel="tooltip" title="Esse será o endereço que as pessoas usarão para acessar o seu Ambiente.">Informação</span>
          <%= t(:path) %>
        <% end %>
      </div>
      <div class="controls span7">
        <div class="input-prefix-redu area-fix">
          <button class="button-default area-prefix" disabled>http://redu.com.br/</button>
          <%= f.text_field :path, class: "area-infix" %>
        </div>
        <%= concave_errors_for(f.object, :path) %>
      </div>
    </div>

    <div class="control-group row">
      <div class="control-label span3">
        <%= f.label :description, "Descrição" %>
      </div>
      <div class="controls span7">
        <%= f.text_area :description,
          placeholder: "Informações acerca do Ambiente de Aprendizagem (200 caracteres)",
          rows: 6, maxlength: 200 %>
        <%= concave_errors_for(f.object, :description) %>
      </div>
    </div>

    <div class="control-group row">
      <div class="control-label span3">
        <%= f.label :tag_list, "Palavras-chave" %>
      </div>
      <div class="controls span7">
        <%= f.text_field :tag_list,
          placeholder: "O ambiente resumido em palavras elementares" %>
        <span class="legend">(separadas por vírgula)</span>
        <%= concave_errors_for(f.object, :tag_list) %>
      </div>
    </div>

    <div class="control-group row">
      <div class="control-label span3">
        <%= f.label :avatar, "Imagem" %>
      </div>
      <div class="controls span7">
        <%= f.file_field :avatar %>
        <span class="legend">Adicione uma imagem de proporção igual ou similar a um quadrado</span>
        <%= concave_errors_for(f.object, :avatar) %>
      </div>
    </div>
  </div>

  <hr class="list-separator">

  <div class="content-section clearfix">
    <%= link_to "Remover ambiente", @environment,
      confirm: "Você tem certeza que deseja remover este ambiente?",
      method: :delete,
      class: "button-danger pull-left" %>

    <%= f.submit t(:save_changes), class: "button-primary pull-right" %>
  </div>
<% end %>