  <script type="text/javascript">
    $(document).ready(function(){
        $("#environment_name").bind('keyup blur', function(e){
          $("#environment_path").val($(this).slug());
          $(".form-common .path .environment").html($(this).slug());
          })

        $("#environment_path").bind('keyup blur', function(e){
          $("#environment_path").val($(this).slug());
          $(".form-common .path .environment").html($(this).slug());
          })

        })
</script>
<%= render :partial => 'shared/management_background' %>
<div class="management-sidebar">
  <%= render :partial => 'environments/sidebar',
    :locals => { :environment => @environment } %>
 </div>
<div class="main grid_12 omega big-col management-wrapper">
  <%= render :partial => 'environments/breadcrumbs',
    :locals => { :environment => @header_environment || @environment } %>

  <%= render :partial => 'environments/admin/header',
    :locals => { :environment => @header_environment || @environment } %>

  <div id="environment-manage" class="body management">
    <%= render :partial => 'environments/admin/clean_header' %>

    <%= tabs :environments_admin do %>
      <% if @environment.plan %>
        <div class="plan-panel">
          <div class="plan-use">
            <span class="plan-type"><%= @environment.plan.name %></span>
            <%= render :partial => "quotas/quotas_old",
              :locals => { :quota_file => @environment.percentage_quota_file,
                           :plan => @environment.plan,
                           :quota_multimedia => @environment.percentage_quota_multimedia,
                           :quota_members => @environment.percentage_quota_members,
                           :quota => @environment.quota } %>
          </div>
        </div>
      <% end %>

      <%= form_for @environment, :html => { :class => 'concave-form',
        :multipart => true }, :url => environment_path(@header_environment || @environment) do |f| %>
        <%= concave_error_messages_for(@environment) %>
        <%= f.label :name, "Nome" %>
        <%= f.text_field :name  %>
        <%= concave_errors_for(f.object, :name) %>
        <span class="tip">Nome do ambiente virtual de aprendizagem</span>
        <%= f.label :initials, "Abreviação" %>
        <%= f.text_field :initials  %>
        <%= concave_errors_for(f.object, :initials) %>
        <span class="tip">Abreviação ou sigla</span>
        <%= f.label :path, t(:path) %>
        <%= f.text_field :path %>
        <%= concave_errors_for(f.object, :path) %>
        <%= f.label :description, "Descrição", :class => "concave-label-high" %>
        <%= f.text_area :description, :size=>'102x4' %>
        <%= concave_errors_for(f.object, :description) %>
        <%= f.label :tag_list,
          raw("Palavras-chave <span class='snippet'>(separadas por vírgula)</span>") %>
        <%= f.text_field :tag_list %>
        <span class="tip">O ambiente resumido em palavras elementares</span>
        <%= f.label :avatar, "Imagem" %>
        <%= f.file_field :avatar %>
        <span class="tip">Adicione uma imagem de proporção igual ou similar a um quadrado</span>
        <hr/>

        <%= f.submit "Salvar alterações" %>
        <%= link_to "Remover ambiente", environment_path(@header_environment || @environment),
          :confirm => "Você tem certeza que deseja remover este ambiente?",
          :method => :delete,
          :class => "concave-remove" %>
      <% end %>
      <%= link_to "Sair", environment_path(@header_environment || @environment),
        :class => "manage exit icon-manage-gray_8_10-before" %>
    <% end %>
  </div>
</div><!-- end #environment-edit -->
