<li class="alternative-item visible alternative-add clearfix">
  <%= f.label :text, :class => "alternative-label" %>
  <% random_number = get_random_number %>
  <%# Necessário "new_alternative_item" para o awesome_nested_fields
      também modificar este id ao replicar uma alternativa %>
  <%= f.check_box :correct, :class => "is-correct",
    :id => "correct-#{random_number}-alternative-new_alternative_item" %>
  <%= f.label :correct, raw("<span class='confirm icon-small icon-confirm-gray_16_18'></span>"),
    :class => "is-correct-label", :for => "correct-#{random_number}-alternative-new_alternative_item" %>
  <%= f.cktext_area :text, :class => "alternative-text", ckeditor: {width: '350', height: '200'}, index: 'removefromhash_'+random_number %>
  <a href="#" class="alternative-remove icon-small icon-delete-gray_8_10 replacement">excluir alternativa</a>
  <div class="tip">Clique aqui para adicionar mais uma alternativa</div>
  <%= concave_errors_for(f.object, :text) %>

  <%= f.hidden_field :id %>
  <%= f.hidden_field :_destroy %>
</li>
