<li class="ar-question-item invisible">
  <span class="position">1</span>

  <div class="fields">
    
    <%= f.label :statement %>
    <%= f.text_area :statement, :class => "ar-question-statement" %>
    <div class="tip">Descrição da questão e sua problemática</div>
    <%= f.label :explanation %>
    <%= f.text_area :explanation %>
    <div class="tip">Explicação da questão. Será exibida após a realização do exame</div>

    <%= f.hidden_field :id %>
    <%= f.hidden_field :_destroy %>

    <div class="nested-fields-level-2 clearfix">
      <div class="simple-actions">
        <a href="#" class="ar-question-remove">excluir questão</a>
        <a href="#" class="ar-finalize-edition">finalizar edição da questão</a>
      </div>
    </div>

  </div>
</li>
