<%# Painel para escolher qual tipo de recurso será adicionando.
  Recebe space e subject como locals %>

<div id="lectures_types" class="clearfix new-resource">
  <div class="resources-types">
    <div class="resource-numbering">
      <label class="concave-label">Nova aula</label>
      <span class="position"></span>
    </div>
    <ul>
      <li>
        <%= link_to "Página de texto",
          new_space_subject_lecture_path(space, subject, :type => "Page"),
          :remote => true, :class => "option icon-page-lightblue_32_34-before",
          :title => 'simples página de texto e imagens que permite a criação de um conteúdo a partir do navegador.' %>
      </li>
      <li>
        <%= link_to "Documento e apresentação",
          new_space_subject_lecture_path(space, subject, :type => "Document"),
          :remote => true, :class => "option icon-document-lightblue_32_34-before",
          :title => 'arquivos de texto prontos para visualização (PDF), apresentações através de slides (PPT, PPTx, PDF) e imagens (PNG, JPEG, GIF).' %>
      </li>
      <li>
        <%= link_to "Vídeo",
          new_space_subject_lecture_path(space, subject, :type => "Seminar"),
          :remote => true, :class => "option icon-seminar-lightblue_32_34-before",
          :title => 'conteúdo em formato de vídeo a partir de link do Youtube' %>
      </li>
      <li>
        <%= link_to "Exercício",
          new_space_subject_lecture_path(space, subject, :type => "Exercise"),
          :remote => true, :class => "option icon-exercise-lightblue_32_34-before",
          :title => 'avaliação de conhecimento em formato de teste com questões de múltipla escolha.' %>
      </li>
      <li>
        <%= link_to "Aula já existente",
          new_space_subject_lecture_path(space, subject, :type => "Existent"),
          :remote => true, :class => "option icon-lecture-lightblue_32_34-before",
          :title => 'replique um conteúdo já criado previamente por você.' %>
      </li>
    </ul>
    <span class="explanation">
      <strong class="type">Página simples: </strong>
      simples página de texto e imagens que permite a criação de um conteúdo a partir do navegador.
    </span>
  </div>
</div>
