<div class="nested-fields-level-1 clearfix">
  <%= hidden_field_tag "lecture[lectureable_attributes][_type]", "Exercise" %>
  <div class="label-wrapper">
    <%= label_tag "Questões" %>
  </div>

  <ol class= "teste">
    <ol>
      <input type="radio" class="tipo" name="tipo" id = "fechada" value="multipla-escolha">Múltipla-Escolha
      <input type="radio" class="tipo" name ="tipo" id = "aberta" value="dissertativa">Dissertativa    
      <button type="button" id="new">Escolher</button>
    </ol>

    <ol id ="dissertative" class="ar-question-container clearfix" style= "display: none">
      <a href="#" class="ar-question-add ar-question-add-top">+ adicionar</a>
      <%= f.nested_fields_for :ar_questions, { :new_item_index => 'new_ar_question_item', :render_template => false } do |builder| %>
        <%= render 'lectures/admin/ar_question_fields', :f => builder %>
        
      <% end %>
      <%= nested_fields_templates %>
      <a href="#" class="ar-question-add">+ adicionar questão</a>
      
    </ol>
    
    <ol id="multiple_choice" class="question-container clearfix" style= "display: none">
      <a href="#" class="question-add question-add-top">+ adicionar</a>
      <%= f.nested_fields_for :questions, { :new_item_index => 'new_question_item', :render_template => false } do |builder| %>
        <%= render 'lectures/admin/question_fields', :f => builder %>
      <% end %>
      
      <%= nested_fields_templates %>
      <a href="#" class="question-add">+ adicionar questão</a>
    </ol>
  </ol>
</div>
