<div id="lecture_form">
  <%= form_for document, :as => :document, :url => space_subject_lectures_path,
    :html => { :id => "document-form", :class => "concave-form",
               :multipart => true }, :remote => true do |f| %>
     <%= label_tag :name, t(:title) %>
     <%= text_field_tag :name %>
     <span class="tip">Nome da aula</span>
     <%= concave_errors_for(@lecture, :name) %>
     <%= f.label :attachment, "Arquivo" %>
     <%= f.file_field :attachment  %>
     <% unless @document.errors[:attachment_content_type].empty? %>
       <ul class="errors_on_field"><li>Formato de arquivo inválido</li></ul>
     <% end %>

     <%= f.submit %>
     <%= link_to "Cancelar", "#", :class => 'concave-clean cancel-lecture' %>
 <% end %>
</div>
