<%= form_for [@space, @subject, lecture], :remote => true,
  :html => { :class => "concave-form resource-form" } do |f| %>
  <%= f.label :lecture_id, "Suas aulas" %>
  <% if user_existent_lectures.empty? %>
    <div class="box_notice">Você não possui nenhuma aula. Crie uma nova!</div>
  <% else %>
    <%= select_tag(:lecture_id, options_for_select(user_existent_lectures), :class => "existent-lectures") %>
    <%= f.submit %>
  <% end %>
  <%= hidden_field_tag "subject_id", @subject.id %>
  <%= link_to "Cancelar", "#", :class => 'concave-clean cancel-lecture' %>
<% end %>
