<%= hidden_field_tag "lecture[lectureable_attributes][_type]", "Page" %>
<%= f.label :body, "Texto" %>
<%= f.cktext_area :body,
  :width => '525px', :height => '495px',
  :index => get_random_number %>
<%= concave_errors_for(f.object, :body) %>
<span class="tip">Conteúdo da aula</span>
<%= concave_errors_for(f.object, :body) %>
