<li class="question-item visible">
  <% random_number = get_random_number %>
  <span class="position">1</span>
  <div class="summary clearfix">
    <div class="statement">(Enunciado não informado)</div>
    <span class="alternatives">
      <span class="qtt">0</span> alternativas. Correta: <span class="correct">(não marcada)</span>
    </span>
    <span class="expand icon-small icon-expand_down-gray_16_18 replacement">Mais detalhes</span>
  </div>
  <div class="fields">
    <%= f.label :statement %>
    <%= f.cktext_area :statement, :class => "question-statement", ckeditor: {width: '400'}, index: 'removefromhash_'+random_number %>
    <div class="tip">Descrição da questão e sua problemática</div>
    <%= concave_errors_for(f.object, :base) %>
    <%= concave_errors_for(f.object, :statement) %>
    <%= concave_errors_for(f.object, :alternatives) %>
    <%= f.label :explanation %>
    <%= f.cktext_area :explanation, ckeditor: {width: '400'}, index: 'removefromhash_'+random_number %>
    <div class="tip">Explicação da questão. Será exibida após a realização do exame</div>

    <%= f.hidden_field :id %>
    <%= f.hidden_field :_destroy %>

    <div class="nested-fields-level-2 clearfix">
      <ol class="alternative-container">
        <%= f.nested_fields_for :alternatives, { :new_item_index => 'new_alternative_item' } do |builder| %>
          <%= render 'lectures/admin/alternative_fields', :f => builder %>
        <% end %>
      </ol>
      <div class="simple-actions">
        <a href="#" class="question-remove">excluir questão</a>
        <a href="#" class="finalize-edition">finalizar edição da questão</a>
      </div>
    </div>
  </div>
</li>
