<%= hidden_field_tag "lecture[lectureable_attributes][_type]", "Seminar" %>

<% showup = (!f.object.errors[:original].empty? or (!@lecture.errors[:name].empty? and f.object.errors[:external_resource].empty?)) %>
<div id="upload_resource_field" class="seminar-field" style="<%= showup ? 'display: block;' : 'display: none;' %>">
  <%= f.label :original, "Upload" %>
  <%= f.file_field :original  %>
  <%= concave_errors_for(f.object, :original) %>
</div>

<div id="external_resource_field" class="seminar-field" style="display: block;%>">
  <%= f.label :external_resource_url, "URL" %>
  <%= f.text_field :external_resource_url %>
  <span class="tip">Endereço do vídeo no Youtube (Tutorial de como colocar videos <a target="_blank" href="https://youtu.be/mlk7wskSRqg">aqui</a>)</span>
  <%= concave_errors_for(f.object, :external_resource_url) %>
</div>

<div id="youtube_preview" class="clearfix" style="<%= showup ?  'display: none;' : 'display: block;' %>">
  <%= label_tag "Prévia" %>
</div>
