<tr id="<%= item.id %>-lecture" class="asset-item clearfix">
  <td class="index">
    <%= item.position %>
  </td>
  <td class="name">
    <%= link_to item.name,
      space_subject_lecture_path(space, subject, item)  %>
  </td>
  <td>
    <%= link_to "Editar", edit_space_subject_lecture_path(space, subject, item),
      :class => "edit icon icon-redu_r12_c5_s1" %>
  </td>
  <td>
    <%= link_to "Remover",
      space_subject_lecture_path(space, subject, item),
      :method => :delete,
      :class => "icon icon-redu_r12_c43_s1 delete",
      :confirm => "Você tem certeza que deseja deletar deste módulo? Todas as informações serão perdidas."  %>
  </td>
</tr>
