<li class="clearfix">
  <% if !item.published? && (can? :manage, item) %>
    <%= link_to 'Editar', edit_space_subject_path(item.space, item),
      :class => "edit icon icon-redu_r12_c45_s1" %>
  <% elsif item.published && (can? :manage, item) %>
    <%#FIXME Trocar por ícone %>
    <span class="edit" style="color: #B3B2B3;">Publicado</span>
  <% end %>
  <%= link_to item.title, space_subject_path(item.space, item),
    :class => 'name' %>
  <% if item.recent? %>
    <%#FIXME Trocar por ícone %>
    <span style="color: #F9A737; font-weight: bold; font-size: 0.7em;">NOVO</span>
  <% end %>
  <span class="description"><%= item.description %></span>
  <ul class="tags clearfix">
    <% item.tags.each do |tag| %>
      <li>
        <%= link_to tag.name, space_subjects_path(item.space) %>
      </li>
    <% end %>
  </ul>
  <span class="expand replacement">Mais detalhes</span>
  <div class="details" style="display: none;">
    <strong>Recursos</strong>
    <ul class="resources">
      <%= render :partial => 'lectures/new/item_preview',
        :collection => item.lectures %>
    </ul>
  </div>
</li>
