<%= render :partial => 'spaces/new/sidebar', :locals => { :space => @space } %>
<div class="main grid_12 omega big-col">
  <%= render :partial => 'spaces/new/breadcrumbs', :locals => { :space => @space } %>
  <%= render :partial => 'spaces/new/header',
    :locals => { :space => @space }%>

  <div id="space-subjects" class="hierarchy-listing-wrapper">
    <div class="header">
      <h4>M贸dulos</h4>
      <span class="counter">
        <% if can? :manage, @space %>
          <%= pluralize(@space.subjects.count, 'm贸dulo') %>
        <% else %>
          <%= pluralize(@space.subjects.visible.count, 'm贸dulo') %>
        <% end %>
      </span>
    </div>
    <% if can? :manage, @space %>
      <div class="admin-actions">
        <%= link_to "Novo m贸dulo", new_space_subject_path(@space),
           :id => 'link-new-subject', :class => 'button' %>
        <%= image_tag 'spinner.gif', :id => 'spinner-new-subject',
          :style => 'display: none;' %>
      </div>
    <% end %>

    <ul id="subjects_list" class="hierarchy-listing subjects">
      <%= render :partial => 'subjects/new/item', :collection => @subjects %>
    </ul>
    <%= will_paginate @subjects, :renderer => EndlessRenderer %>
  </div><!-- end #environment-courses -->
</div><!-- end .main -->
