<%= render :partial => "subjects/new/sidebar" %>
<div class="main grid_12 omega big-col">
  <ol id="breadcrumbs" class="clearfix">
    <li>
      <%= link_to 'Home', home_user_path(current_user),
        :class => 'replacement home icon icon-redu_r8_c227_s1' %>
    </li>
    <li>
      <%= link_to @subject.space.course.environment.name,
        environment_path(@subject.space.course.environment),
        :class => 'replacement icon icon-redu_r8_c217_s1' %>
    <li>
        <%= link_to @subject.space.course.name,
          environment_course_path(@subject.space.course.environment, @subject.space.course),
          :class => 'replacement icon icon-redu_r8_c313_s1' %>
    </li>
    <li>
        <%= link_to @subject.space.name, space_path(@subject.space),
          :class => 'replacement icon icon-redu_r8_c307_s1' %>
    </li>

    <li>
        <%= link_to @subject.title, space_subject_path(@space, @subject),
          :class => 'icon icon-redu_r11_c211_s1'%>
    </li>
  </ol>
  <div id="hierarchy-header" class="clearfix subject-header">
    <span class="prefix"><%= @subject.space.course.environment.name %> > <%= @subject.space.course.name %>
      > <%= @subject.space.name %>
    </span>
    <h3 class="call subject-name"><%= @subject.title %></h3>

    <% if @subject.published? && !current_user.enrolled?(@subject) %>
      <%= link_to "Participar",
        enroll_space_subject_path(@space, @subject),
        :method => :post,
        :class => "important" %>
    <% else %>
      <% if current_user.enrolled?(@subject) and
      !current_user.get_association_with(@subject).student_profile.graduaded? %>
        <%= link_to "Abandonar",
          unenroll_space_subject_path(@space, @subject, :user_id => current_user.id),
            :method => :post,
            :confirm => "Tem certeza? Todas as suas informações vinculadas a este módulo serão perdidas.",
            :class => "important" %>
      <% end %>
    <% end %>

    <div class="grid_9 alpha">
      <span class="description">
        <%= @subject.description %>
      </span>
    </div>
    <ul class="statistics grid_3 omega">
      <li>
        <em class="icon icon-redu_r8_c207_s1">Professores:</em>
        <span><%= @subject.space.teachers.length %></span>
      </li>
      <li>
        <em class="icon icon-redu_r8_c385_s1">Tutores:</em>
        <span><%= @subject.space.tutors.length %></span>
      </li>
      <li>
        <em class="icon icon-redu_r8_c355_s1">Alunos:</em>
        <span><%= @subject.members.length %></span>
      </li>
    </ul>
    
  </div><!-- end #hierarchy-header -->
  <div id="subject-blocked">
    <span class="replacement icon-blocked">Você não tem acesso ao módulo.</span>
    <span class="message">O conteúdo desta página é restrito para quem é membro do módulo.</span>
  </div>
</div> <!-- main -->
