<div id="teacher-participation-chart">
  <%= lazy_load(:chart, :jammit => true) do %>
    try{
      id_course = <%= @course.id %>;
      initialize_graph();
    }catch(e){}
  <% end %>
</div>

<div id="teacher-select-chart">
  <%= select(:user, "id", User.all.collect {
    |teacher| [teacher.first_name, teacher.id ] }, { :default => User.first },
    { :onchange => "id_teacher = this.options[this.selectedIndex].value;" })%>
</div>

<div class="space-choosen-chart">
  <% @course.spaces.each do |space| %>
    <div class="item-space-chart">
      <%= check_box_tag space.name, space.id, true,
        { :class => "item-space-check" } %>
      <%= label_tag space.name, space.name %>
    </div>
  <% end %>
  <div class="item-space-chart">
    <%= check_box_tag "all-check", "0", true %>
    <%= label_tag "all-check", "Todos" %>
  </div>
</div>

<div class="time-range-chart">
  <div class="item-time-range-chart">
    <%= label_tag "date_start", "Início" %>
    <%= date_select "date_start", "start", :default => Date.today - 9 %>
  </div>

  <div class="item-time-range-chart">
    <%= label_tag "date_end", "Fim" %>
    <%= date_select "date_end", "start" %>
  </div>

  <div class="submit-chart">
    <%= submit_tag "Update", :onclick => "graph_interaction();" %>
  </div>
</div>

