<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title><%= raw(page_title) %></title>
    <link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css' />
    <%= stylesheet_link_tag 'reset.css' %>
    <%= stylesheet_link_tag '960.css' %>
    <%= stylesheet_link_tag 'new-fonts.css' %>
    <%= stylesheet_link_tag 'new-style.css' %>
    <%= javascript_include_tag 'jquery.js' %>
    <%= javascript_include_tag 'jquery.tipTip.minified.js' %>
    <%= javascript_include_tag 'new_common.js' %>
    <%= yield :header_scripts_and_styles %>
    <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->

  </head>
  <body>
    <%= @content_for_layout %>
    <div id="footer" class="container_16 clearfix">
      <h1 id="logotipo-footer" class="replacement">
        <%= link_to 'Redu: potencializando o talento das pessoas.',
          :title => 'Página Inicial' %>
      </h1>
      <div class="copyright">Copyright 2010 - redu.com.br. Todos os direitos reservados.</div>

      <div id="nav-footer">
        <ul>
          <li>
            <a href="">Sobre o Redu</a>
          </li>
          <li>
            <%= link_to "Privacidade", :controller => "base", :action => "privacy" %>
          </li>
          <li>
            <%= link_to "Termos de uso", :controller => "base", :action => "tos" %>
          </li>
          <li>
            <%= link_to "Contato", :controller => "base", :action => "contact" %>
          </li>
        </ul>
      </div><!-- end #nav-footer -->
    </div><!-- end #footer -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-13202852-1']);
      _gaq.push(['_setDomainName', '.redu.com.br']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script>
     <%= yield :footer_scripts_and_styles %>
   </body>
 </html>
