<tr class="row">
  <td class="cell cell-400">
    <div class="space-info icon-space-gray_16_18-before">
      <%= link_to item_admin.name, space_path(item_admin), :class => "space-name" %>
      <span class="space-detail members"><%= pluralize member_count, 'membro' %> </span>
      <span class="space-detail subject-count"><%= item_admin.subjects.length %> módulos</span>
      <span class="space-detail created-at">criado em <%= l(item_admin.created_at, :format => :admin) %></span>
    </div>
  </td>
  <td class="cell centered-cell"><%= link_to 'Gerenciar disciplina', edit_space_path(item_admin),
        :class => "option icon-manage-gray_8_10-before" %> </td>
      <td class="cell centered-cell"><%= link_to 'Remover', space_path(item_admin),
        :confirm => 'Você tem certeza que deseja remover este curso?',
        :method => :delete,
        :class => "option icon-delete-gray_8_10-before" %> </td>
</tr>
