<%= render :partial => 'spaces/admin/management_sidebar',
  :locals => { :space => @space } %>

<div class="main grid_12 omega big-col">
  <%= render :partial => 'spaces/breadcrumbs',
    :locals => { :space => @space } %>
  <%= render :partial => 'spaces/admin/header',
        :locals => { :space => @space }%>
    <div id="course-manage" class="body management">
      <%= render :partial => 'spaces/admin/clean_header' %>

      <%= tabs :spaces_admin do %>
        <h3 class="form-header">
          <%= c = @space.subjects.count %> <%= t :module, :count => c %>
        </h3>
        <%= render "subjects/admin/index_admin", :subjects => @subjects, :space => @space %>
        <%= link_to "Sair", space_path(@space), :class => "manage exit icon-manage-gray_8_10-before" %>
      <% end %>
    </div><!-- end #space-manage -->
</div><!-- end .main -->
