<%= render :partial => 'shared/management_background' %>
<%= render :partial => 'spaces/admin/management_sidebar',
  :locals => { :space => @space } %>

<div class="main space grid_12 omega big-col">
  <%= render :partial => "spaces/breadcrumbs", :locals => { :space => @space } %>

  <div id="space-manage" class="body management">
    <%= render :partial => 'spaces/admin/header',
      :locals => { :space => @space }%>
    <%= render :partial => 'spaces/admin/clean_header' %>

    <%= tabs :spaces_admin do %>
      <div id="user_list">
        <h3 class="form-header-closer">
          <%= @space.users.count %> membro(s) cursam a disciplina
        </h3>
        <%= render :partial => 'spaces/admin/user_list_admin',
          :locals => {:memberships => @memberships}%>
      </div>

      <%= paginate @memberships, :theme => 'endless' %>
      <%= link_to "Sair", space_path(@space), :class => "manage exit icon-manage-gray_8_10-before" %>
    <% end %>
  </div><!-- end #space-manage -->
</div><!-- end .main -->
