<div class="content-section">
  <%= render "courses/admin/storage_box", course: @space.course %>
</div>

<hr class="list-separator">

<%= form_for @space, html: { class: "form-horizontal", multipart: true } do |f| %>
  <%= render "spaces/form", space: @space, f: f, edit: true %>

  <hr class="list-separator">

  <%# Botões. %>
  <div class="content-section clearfix">
    <%= link_to "Remover Disciplina", @space, method: :delete,
      confirm: "Você tem certeza que deseja remover esta Disciplina?",
      class: "button-danger pull-left" %>

    <%= f.submit t(:save_changes), class: "button-primary pull-right" %>
  </div>
<% end %>