<%= render :partial => 'spaces/sidebar', :locals => { :space => @space } %>
<div class="main space grid_12 omega big-col">
  <%= render :partial => 'spaces/breadcrumbs',
    :locals => { :space => @space } %>

    <div id="space-manage" class="body management">
      <%= render :partial => 'spaces/admin/header',
        :locals => { :space => @space }%>
      <%= render :partial => 'spaces/admin/clean_header' %>

      <%= tabs :spaces_admin do %>
        <%= form_for(@space, :html => { :class => "form-common", :multipart => true }) do |f| %>
          <%= render :partial => "spaces/form",
            :locals => { :f => f, :edit => true} %>

          <%= f.submit 'Salvar alterações' %>
          <%= link_to 'Deletar disciplina', @space,
            :confirm => 'Você tem certeza que deseja remover esta disciplina?', :method => :delete,
            :class => "vanilla remove" %>
        <% end %>

      <% end %>
    </div><!-- end #space-manage -->

  </div><!-- end .main -->
