<%= render :partial => 'spaces/admin/management_sidebar',
  :locals => { :space => @space } %>

<div class="main grid_12 omega big-col">
  <%= render :partial => 'spaces/breadcrumbs',
    :locals => { :space => @space, :header_space => @header_space } %>
  <%= render :partial => 'spaces/admin/header',
      :locals => { :space => @space }%>
  <div id="course-manage" class="body management">
    <%= render :partial => 'spaces/admin/clean_header' %>

    <%= tabs :spaces_admin do %>
      <%= subtabs :spaces_admin do %>
        <% if @browser_not_supported %>
           <%= render :partial => 'spaces/admin/disclaimer_chart' %>
        <% else %>
          <h3 class="form-header graph-header">Qual a participação dos alunos nas aulas?</h3>

          <%= lazy_load(:chart) do %>
            var graph = new LectureParticipationGraph();
            graph.load({ chart:{ renderTo: "lecture-participation-chart" } ,
            form: $("#graph-form") });
          <% end %>

          <%= form_tag api_vis_lecture_participation_path(@space.id), :method => :get,
            :remote => true, :class => "concave-form", :id => "graph-form" do %>
            <%= label_tag "", "Aulas", :id => "form-problem" %>
            <ul class="columns">
              <li>
                <%= check_box_tag "all-check", "0", true %>
                <%= label_tag "all-check", "Todos" %>
              </li>
              <% @space.subjects.each do |subject| %>
                <%= render :partial => 'spaces/admin/lecture_item_admin',
                  :collection => subject.lectures, :as => :lecture %>
              <% end %>
            </ul>

            <%= label_tag "date_start_fake", "Data inicial" %>
            <%= field_set_tag nil, :class => "inline" do %>
              <%= date_select "date_start_fake", nil,
                :default => Date.today - 9 %>
              <%= text_field_tag :date_start, nil,
                :style => "display: none;" %>
            <% end %>

            <%= label_tag "date_end_fake", "Data final" %>
            <%= field_set_tag nil, :id => "date-validate",
              :class => "inline" do %>
              <%= date_select "date_end_fake", nil, :end_year => Date.today.year %>
              <%= text_field_tag :date_end, nil, :style => "display: none;" %>
            <% end %>

            <%= hidden_field_tag :oauth_token, @token %>
            <%= submit_tag "Atualizar", :class=>"concave-submit" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <%= link_to "Sair", space_path(@space), :class => "manage exit icon-manage-gray_8_10-before" %>
  </div>
</div>
