<% if @browser_not_supported %>
  <%= render "spaces/admin/disclaimer_chart" %>

<% elsif @space.students_id.empty? %>
  <div class="content-section">
    <% message = capture do %>
      <div class="two-columns-wrapper">
        <span class="two-columns-column icon-private-red2_64_66 text-replacement">
          Aviso
        </span>
        <ul class="two-columns-column">
          <li>O conteúdo desta página não está disponível para o curso que não possui alunos matriculados.</li>
          <li>Você pode <%= link_to "convidar pessoas a se tornarem membros", admin_manage_invitations_environment_course_path(@space.course.environment, @space.course)%>.</li>
        </ul>
      </div>
    <% end %>
    <%= render "bootstrap/message_block", type: "info", close: false,
      button: nil, message: message %>
  </div>

<% else %>
  <div class="content-section clearfix">
    <h3 class="entity-management-count">Qual o desempenho dos alunos?</h3>
  </div>
  <div class="content-section">
    <p>Este mapa é uma representação do desempenho dos alunos matriculados na disciplina.</p>
    <p>Cada aluno está representado por um retângulo, o seu tamanho é proporcional à sua participação nas aulas e módulos e sua cor é determinada pela média obtida no exercícios da disciplina.</p>
    <p>As cores e as notas estão relacionadas segundo a legenda a seguir:</p>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="report-legend-wrapper">
      <rect width="30" height="10" class="report-legend-gray"/>
    </svg>
    <span class="legend">Nenhum exercício realizado</span>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="report-legend-wrapper">
      <rect width="30" height="10" class="report-legend-red"/>
    </svg>
    <span class="legend">0 - 3</span>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="report-legend-wrapper">
      <rect width="30" height="10" class="report-legend-orange"/>
    </svg>
    <span class="legend">3 - 5</span>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="report-legend-wrapper">
      <rect width="30" height="10" class="report-legend-yellow"/>
    </svg>
    <span class="legend">5 - 7</span>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="report-legend-wrapper">
      <rect width="30" height="10" class="report-legend-green"/>
    </svg>
    <span class="legend">7 - 9</span>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="report-legend-wrapper">
      <rect width="30" height="10" class="report-legend-blue"/>
    </svg>
    <span class="legend">9 - 10</span>
    <p>Para ver mais informações dos alunos passe o mouse por cima do mapa ou clique nos retângulos.</p>

    <%= lazy_load(:chart) do %>
      var treemap = new StudentsTreemap();
      treemap.load({ form: $("#graph-form"),
                     renderTo: "treemap-chart",
                     url: "<%= api_space_users_path(@space.id, oauth_token: @token, :role=>"member", partial: true) %>",
                     print: "<%= students_participation_report_show_space_path(@space.id) %>"});
    <% end %>

    <%= form_tag api_vis_students_participation_path(@space.id), method: :get,
       remote: true, class: "report-form form-horizontal", id: "graph-form" do %>
      <p>Selecione o período da informação que vai obter:</p>

      <%# Data inicial. %>
      <div class="control-group control-select-date row">
        <div class="control-label span3">
          <label>Data inicial</label>
        </div>
        <div class="controls span6">
          <%= date_select "date_start_fake", nil, default: Date.today - 9 %>
          <%= text_field_tag :date_start, nil, style: "display: none;",
            class: "reports-form-date-start" %>
        </div>
      </div>

      <%# Data final. %>
      <div class="control-group control-select-date row">
        <div class="control-label span3">
          <label>Data final</label>
        </div>
        <div class="controls span6 report-form-error-date">
          <%= date_select "date_end_fake", nil, end_year: Date.today.year %>
          <%= text_field_tag :date_end, nil, style: "display: none;",
            class: "reports-form-date-end" %>
        </div>
      </div>

      <%= hidden_field_tag :oauth_token, @token %>
      <div class="clearfix">
        <%= image_tag "spinner-grey.gif", class: "hide" %>
        <%= submit_tag "Atualizar", class: "button-primary pull-right" %>
      </div>
    <% end %>
  </div>
<% end %>