<%= render :partial => 'spaces/admin/management_sidebar',
  :locals => { :space => @space } %>

<div class="main grid_12 omega big-col">
  <%= render :partial => 'spaces/breadcrumbs',
    :locals => { :space => @space, :header_space => @header_space } %>
  <%= render :partial => 'spaces/admin/header',
      :locals => { :space =>  @space }%>
  <div id="course-manage" class="body management">
   
    <%= render :partial => 'spaces/admin/clean_header' %>

    <%= tabs :spaces_admin do %>
      <%= subtabs :spaces_admin do %>
        <% if @browser_not_supported %>
          <%= render :partial => 'spaces/admin/disclaimer_chart' %>
        <% elsif @space.students_id.empty? %>
          <div class="body">
            <div class="flash-message notice">
              <ul class="message icons-big-before icon-privacy-lightred_64_66-before">
                <li>O conteúdo desta página não está disponível para o curso que não possui alunos matriculados.</li>
                <li>Você pode <%= link_to "convidar pessoas a se tornarem membros", admin_manage_invitations_environment_course_path(@course.environment, @course)%>.</li>
              <ul>
            </div>
          </div>
        <% else %>
          <h3 class="form-header graph-header">Qual o desempenho dos alunos?</h3>
          <div id="explanation">
            <p class="text">
              Este mapa é uma representação do desempenho dos alunos matriculados na disciplina.
            </p>
            <p class="text">
              Cada aluno está representado por um retângulo, o seu tamanho é proporcional à sua participação nas aulas e módulos e sua cor é determinada pela média obtida no exercícios da disciplina.
            </p>
            <p class="text">
              As cores e as notas estão relacionadas segundo a legenda a seguir:
            </p>
            <div id="legend">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
              <rect width="30" height="10" id="gray"/> </svg>
              <span class="item-legend">Nenhum exercício realizado</span>
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
              <rect width="30" height="10" id="red"/> </svg>
              <span class="item-legend">0 - 3</span>
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
              <rect width="30" height="10" id="orange"/> </svg>
              <span class="item-legend">3 - 5</span>
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
              <rect width="30" height="10" id="yellow"/> </svg>
              <span class="item-legend">5 - 7</span>
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
              <rect width="30" height="10" id="green"/> </svg>
              <span class="item-legend">7 - 9</span>
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
              <rect width="30" height="10" id="blue"/> </svg>
              <span class="item-legend">9 - 10</span>
            </div>
            <p class="text">
                Para ver mais informações dos alunos passe o mouse por cima do mapa ou clique nos retângulos.
            </p>
          </div>

          <%= lazy_load(:chart) do %>
            var treemap = new StudentsTreemap();
            treemap.load({ form: $("#graph-form"),
            renderTo: "treemap-chart",
            url: "<%= api_space_users_path(@space.id, :oauth_token => @token, :role=>"member", :partial => true) %>",
            print: "<%= students_participation_report_show_space_path(@space.id) %>"});
          <% end %>

         <%= form_tag api_vis_students_participation_path(@space.id), :method => :get,
            :remote => true, :class => "concave-form", :id => "graph-form" do %>
            <p id="form-explanation">
                Selecione o período da informação que vai obter:
            </p>

            <%= label_tag "date_start_fake", "Data inicial", :id => "form-problem" %>
            <%= field_set_tag nil, :class => "inline" do %>
              <%= date_select "date_start_fake", nil,
                :default => Date.today - 9 %>
              <%= text_field_tag :date_start, nil,
                :style => "display: none;" %>
            <% end %>

            <%= label_tag "date_end_fake", "Data final" %>
            <%= field_set_tag nil, :id => "date-validate",
              :class => "inline" do %>
              <%= date_select "date_end_fake", nil, :end_year => Date.today.year %>
              <%= text_field_tag :date_end, nil, :style => "display: none;" %>
            <% end %>

            <%= hidden_field_tag :oauth_token, @token %>
            <%= submit_tag "Atualizar", :class=>"concave-submit" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <%= link_to "Sair", space_path(@space), :class => "manage exit icon-manage-gray_8_10-before" %>
  </div>
</div>
