<%= render :partial => 'spaces/admin/management_sidebar',
  :locals => { :space => @space } %>

<div class="main grid_12 omega big-col">
  <%= render :partial => 'spaces/breadcrumbs',
    :locals => { :space => @header_space || @space } %>
  <%= render :partial => 'spaces/admin/header',
      :locals => { :space => @header_space || @space }%>
  <div id="course-manage" class="body management">
    
    <%= render :partial => 'spaces/admin/clean_header' %>

    <%= tabs :spaces_admin do %>
      <%= subtabs :spaces_admin do %>
        <div id="subject-chart-admin">
          <% if @browser_not_supported %>
            <%= render :partial =>'spaces/admin/disclaimer_chart' %>
          <% else %>
            <h3 class="form-header graph-header">Quantos alunos finalizaram o módulo?</h3>
            <h3 class="form-header form-header-complement graph-header">Quantos pedidos de ajuda foram respondidos?</h3>
            <%= render :partial => 'spaces/admin/subject_chart_admin',
              :collection => @space.subjects, :as => :subject %>

            <%= lazy_load(:chart) do %>
              try{
              var par = new SubjectParticipation();
              par.load("<%= api_vis_subject_activities_path(@space.id) %>",
              "<%= @token %>",
              "<%= @space.subjects.map { |subj| "&subjects[]=#{subj.id}" }.join %>"
              );
              }catch(e){}
            <% end %>

          <% end %>
        </div>
      <% end %>
    <% end %>
    <%= link_to "Sair", space_path(@space), :class => "manage exit icon-manage-gray_8_10-before" %>
  </div>
</div>
