<% if @browser_not_supported %>
  <%= render "spaces/admin/disclaimer_chart" %>

<% else %>
  <% content_for :header_scripts_and_styles do %>
    <%= stylesheet_link_tag "chart" %>
  <% end %>

  <div class="report-subject-participation-header content-section">
    <h3 class="entity-management-count pull-left">Quantos alunos finalizaram o módulo?</h3>
    <h3 class="entity-management-count pull-right">Quantos pedidos de ajuda foram respondidos?</h3>
  </div>
  <div class="content-section">
    <ul class="list-unstyled">
      <%= render partial: "spaces/admin/subject_chart_admin",
        collection: @space.subjects %>
    </ul>
  </div>
  <%= lazy_load(:chart) do %>
    try {
      var par = new SubjectParticipation();
      par.load("<%= api_vis_subject_activities_path(@space.id) %>",
               "<%= @token %>",
               "<%= @space.subjects.map { |subj| "&subjects[]=#{subj.id}" }.join %>");
    } catch(e) {}
  <% end %>
<% end %>