<script type="text/javascript">
  $(document).ready(function(){
      $("#message_to").fcbkcomplete({
        json_url: "<%= auto_complete_users_path %>",
        addontab: true,
        complete_text: "Digite o nome de um contato...",
        height: 6,
      });

      <% if @recipients %>
        <% @recipients.each do |recipient| %>
          $("#message_to").trigger("addItem", [{"title":"<%= recipient.display_name.to_s %>", "value":"<%= recipient.id.to_s %>"}])
        <% end %>
      <% end %>
    });
</script>

<%= form_for [user, message] do |f| %>
  <%= f.error_messages %>
    <div class="control-group">
      <div class="control-label">
        <%= f.label :message_to, "Para" %>
      </div>
      <div style= "width: 100%;">
        <select id="message_to" name="message_to">
        </select>
      </div>
    </div>
    <div class="control-group">
      <div class="control-label">
        <%= f.label :message_subject, "Assunto" %>
      </div>
      <div class="controls">
        <%= f.text_field :subject, :placeholder =>"Digite o assunto desta mensagem" %>
        <%= concave_errors_for f.object, :message_subject %>
      </div>
    </div>
    <div class="control-group">
      <div class="control-label">
        <%= f.label :message_body, "Mensagem" %>
      </div>
      <div class="controls">
        <%= f.text_area :body, :size => "73x6", :placeholder =>"Escreva a mensagem" %>
        <%= concave_errors_for f.object, :message_body %>
      </div>
    </div>
<% end %>