<script type="text/javascript">
  $(document).ready(function(){
      $("#message_to").fcbkcomplete({
        json_url: "<%= auto_complete_users_path %>",
        addontab: true,
        complete_text: "Digite o nome de um contato...",
        height: 6,
      });

      <% if @recipients %>
        <% @recipients.each do |recipient| %>
          $("#message_to").trigger("addItem", [{"title":"<%= recipient.display_name.to_s %>", "value":"<%= recipient.id.to_s %>"}])
        <% end %>
      <% end %>
    });
</script>

<%= form_for [@user, @message], :html => { :class => 'form-common' } do |f| %>
  <%= f.error_messages %>

  <%= label_tag :message_to, t( :to ) + ":" %>

  <div style="width: 412px; float: left;"><!-- necessario para manter o input e o sugestion alinhados -->
    <select id="message_to" name="message_to">
    </select>
  </div>

  <%= label_tag :message_subject, t( :subject_of_message ) + ":" %>
  <%= f.text_field :subject %>
  <%= label_tag :message_body, t( :message ) + ":" %>
  <%= f.text_area :body, :size => "73x10" %>
  <%= submit_tag t( :send ) %>
<% end %>
