<%- form_for message, :url => user_messages_path(user), :html => {:class => "MainForm"} do |f| %>
	<%- if message.reply_to %>
		<%= f.hidden_field :to %>
	<%- else %>
		<p>
			<label for='username'>
			<%= :to.l %>
			<em>
				<%= "(" + :type_a_username.l + ")" %>
			</em>
			</label>
		</p>
		<%= text_field_tag 'message[to]', @message.to, {:autocomplete => "off", :size => 35, :id => "message_to"} %>
		<%= auto_complete_field 'message_to', {:url => auto_complete_for_username_user_messages_path(@user), :tokens=>','} %>	
		<p>
			<label for='username'>
				<%= :subject_of_message.l + ":" %>
			</label>
		</p>
		<%= f.text_field :subject %>
		<p>
			<label for='username'>
				<%= :message.l + ":" %>
			</label>
		</p>
		<%= f.text_area :body %>	
		<p>
			<%= submit_tag :send.l %>
		</p>
	<% end %>
<% end %>
