	<% form_remote_tag :url => {:action => :delete_selected, :user_id => @user.id}, :loading => "jQuery('#del-spinner').show()" do %>

	<%= hidden_field_tag :mailbox, :inbox %>

	<h3>
		<%= :inbox.l %>
	</h3>
		
	<table class='messages' border = "0" width = "100%">
		<tbody>
			<% if @messages.empty? %>
			<tr>
				<td colspan='5'>
					<%= :no_messages.l %>
				</td>	
			</tr>
			<% else %>
				<% @messages.each do |message| %>
					<tr>
						<td width='10px'>
							<fieldset class='inline'>
								<%= check_box_tag "delete[]", message.id %>
							</fieldset>
						</td>
						<td width='60px'>
							<div class='photo'>
								<%= link_to image_tag( message.sender.avatar_photo_url(:thumb), "height"=>"50px", "alt"=>"#{message.sender.login}", "width"=>"50px" ), user_path(message.sender), :title => "#{message.sender.login}'s " + :profile.l %>
							</div>
						</td>
						<td>
							<%= link_to_remote h(message.subject), :url =>  user_message_path(@user, message, :mailbox => :inbox), :method => :get %>
							<br>
							<%= :from.l %>
							<%= link_to h(message.sender.login), user_path(message.sender) %>
						</td>
						<td width='20px'>
							<em>
								<%= message.read? ? 'Lida, ' : 'Não-Lida, ' %>
							</em>	
						</td>
						<td class='meta'>
							<%= h message.created_at.to_s(:long) %>
						</td>
					</tr>
				<% end %>			
			<% end %>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5">
					<%-if @messages.any? %>
						<p>
							<%= submit_tag :delete_selected.l %><%= image_tag 'spinner.gif', :id => 'del-spinner', :style => 'display: none' %>
						</p>
					<% end %>
				</td>	
			</tr>
		</tfoot>
	</table>	
	<% end %>	 
	
	<div class='pagination'>
	<%= paginating_links @messages if @messages.page_count > 1 %>
	</div>
	
