<tr>
  <td>
    <%= check_box_tag "delete[]", message.id %>
  </td>

  <td>
    <%= link_to h(message.subject), user_message_path(@user, message) %>
  </td>
  <td>
  	<% otheruser = ((mailbox == :sent) ? message.recipient : message.sender) %>
    <%= link_to h(otheruser.display_name), user_path(otheruser) %>
  </td>	
  <% if mailbox == "inbox" %>
    <td>  
      <em>
        <%= message.read? ? 'Lida' : 'Não-Lida' %>
      </em>
    </td>
  <% end %>
  <td class='meta'>
    <%= h time_ago_in_words(message.created_at) %>
  </td>
</tr>
