<% if message.reply_to %>

  <h3>
    RESPONDER MENSAGEM
  </h3>

<%else %>

  <h3>
    NOVA MENSAGEM
  </h3>
<%end%>

<%#render :partial => 'form', :locals => {:message => message, :user => @user} %>

<% form_for message, :url => user_messages_path(@user) do |f| %>
  <div id="errors"></div>
  <%= f.error_messages %>

  <% if message.reply_to %>
    <%= f.hidden_field :recipient_id, :value => message.to %>
    <%= f.hidden_field :sender_id, :value => @user.id %>
  <% else %>
    <p>
      <label for='message_to'>
        <%= :to.l %>
      </label>
    </p>

    <select id="message_to" name="message_to">
      <% unless params[:message_to] and params[:message_to].length > 0 %>
        <% @ausers = User.find(:all, :select=> "id,first_name", :conditions => [ 'id IN (?)', params[:message_to] ]) %>
        <%  @aab = @ausers.map{|u| {u.first_name => u.id}} %>
        <%= options_for_select(@aab) %>
      <% end %>
    </select>
    <div>
      <div id = "placeholder">

      </div>
    </div>


  <% end %>

  <p>
    <label for='message_subject'>
      <%= :subject_of_message.l + ":" %>
    </label>
  </p>
  <%= f.text_field :subject %>
  <p>
    <label for='message_body'>
      <%= :message.l + ":" %>
    </label>
  </p>
  <%= f.text_area :body, :size => "73x10" %>
  <p>
    <%= submit_tag :send.l %><%= image_tag "spinner.gif", :id => "msg_spinner", :style => "display: none"%>
  </p>

<% end %>

<script type="text/javascript">

  $(document).ready(function(){
    $("#message_to").fcbkcomplete({
      json_url: "<%= auto_complete_for_username_user_messages_path %>?format=js",
      addontab: true,
      complete_text: "Digite o nome de seu contato...",
      height: 2,
      cache: true,
      newel:true,
      attachto: "placeholder"
    });
  });


</script>
