	<div id='title'>
		<%= :sent_messages.l %>
	</div>
	<table>
		<tbody>
			<%- if @messages.empty? %>
				<tr>
					<%= :no_messages.l %>
				</tr>
			<%- else %>
				<%- @messages.each do |message| %>
					<tr>
						<td width = '10px'>
							<fieldset>
								<%= check_box_tag "delete[]", message.id %>
							</fieldset>
						</td>
						<td width = '60px'>
							<%= link_to image_tag( message.recipient.avatar_photo_url(:thumb), "height"=>"50px", "alt"=>"#{message.recipient.login}", "width"=>"50px" ), user_path(message.recipient), :title => "#{message.recipient.login}'s " + :profile.l %>
						</td>
						<td>
							<%= link_to h(message.subject), user_message_path(@user, message)%>
							<br>
							<%= :to.l %>
							<%= link_to h(message.recipient.login), user_path(@user)%>
						</td>
						<td width = '150px'>
							<%= h message.created_at.to_s(:long) %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
		<tfoot>
			<tr>
				<td colspan = "4">
					<%- if @messages.any? %>
						<p>
							<%= submit_tag :delete.l %>
						</p>
					<% end %>
				</td>
			</tr>
		</tfoot>
	</table>
