<div id='yui-main'>	
	<div class='yui-b'>
	
	<h3>
		<%= :sent_messages.l %>
	</h3>
	<table class='messages' border='0' width='100%'>
		<tbody>
			<%- if @messages.empty? %>
				<tr>
					<td colspan ="4">
						<%= :no_messages.l %>
					</td>
				</tr>
			<%- else %>
				<%- @messages.each do |message| %>
					<tr>
						<td width = '10px'>
							<fieldset class='inline'>
								<%= check_box_tag "delete[]", message.id %>
							</fieldset>
						</td>
						<td width = '60px'>
							<div class='photo'>
							<%= link_to image_tag( message.recipient.avatar_photo_url(:thumb), "height"=>"50px", "alt"=>"#{message.recipient.login}", "width"=>"50px" ), user_path(message.recipient), :title => "#{message.recipient.login}'s " + :profile.l %>
							</div>
						</td>
						<td>
							<%= link_to h(message.subject), user_message_path(@user, message)%>
							<br>
							<%= :to.l %>
							<%= link_to h(message.recipient.login), user_path(message.recipient)%>
						</td>
						<td class='meta' >
							<%= h message.created_at.to_s(:long) %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
		<tfoot>
			<tr>
				<td colspan = "4">
					<%- if @messages.any? %>
						<p>
							<%= submit_tag :delete.l %>
						</p>
					<% end %>
				</td>
			</tr>
		</tfoot>
	</table>
	
	</div>
</div>	
