		<% form_remote_tag :url => {:action => :delete_selected, :user_id => @user.id}, :loading => "jQuery('#del-spinner').show()" do %>
		<%= hidden_field_tag :mailbox, :sent %>
	<h3>
		<%= :sent_messages.l %>
	</h3>

	<table class='messages' border='0' width='100%'>
		<tbody class='messages_table'>
			<% if @messages.empty? %>
			<tr>
				<td colspan='5'>
					<%= :no_messages.l %>
				</td>
			</tr>
			<% else %>
					<%= render :partial => 'messages/item', :collection => @messages, :as => :message, :locals => {:mailbox => :sent} %>
			<% end %>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5">
					<%-if @messages.any? %>
						<p>
							<%= submit_tag :delete_selected.l %><%= image_tag 'spinner.gif', :id => 'del-spinner', :style => 'display: none' %>
						</p>
					<% end %>
				</td>
			</tr>
		</tfoot>
	</table>
	<% end %>

	<% unless @messages.length < 10%>
	<div id="more">
	<%= link_to_remote "mais...", :url => {:controller => :messages, :action => :more, :mailbox => 'sent', :user_id => current_user.id, :limit => 10}, :method =>:get, :loading => "$('#more').html('"+escape_javascript(image_tag('spinner.gif'))+"')"%>
	</div>
	<% end %>
