    <% form_tag delete_selected_user_messages_path(:user_id => @user.id) do %>
      <%= hidden_field_tag :mailbox, "sent" %>
	<h3>
		<%= :sent_messages.l %>
	</h3>

	<table class='common' border='0' width='100%'>
		<thead>
			<tr>
				<th> </th>
				<th>Assunto</th>
				<th>De</th>
				<th>Quando</th>
			</tr>
		</thead>
		<tbody class='messages_table'>
			<% if @messages.empty? %>
			<tr>
				<td colspan='5'>
					<div class="box_notice"><%= :no_messages.l %></div>
				</td>
			</tr>
			<% else %>
					<%= render :partial => 'messages/item', :collection => @messages, :as => :message, :locals => {:mailbox => :sent} %>
			<% end %>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5">
					<%-if @messages.any? %>
						<p>
							<%= submit_tag :delete_selected.l %><%= image_tag 'spinner.gif', :id => 'del-spinner', :style => 'display: none' %>
						</p>
					<% end %>
				</td>
			</tr>
		</tfoot>
	</table>
	<% end %>

	<% unless @messages.length < 10 %>
          <%= endless_for(:messages, {:mailbox => 'sent', :user_id => current_user.id}, 2, :action => :index_sent) %>
	<% end %>
