		<% form_remote_tag :url => {:action => :delete_selected, :user_id => @user.id}, :loading => "jQuery('#del-spinner').show()" do %>
		<%= hidden_field_tag :mailbox, :sent %>
	<h3>
		<%= :sent_messages.l %>
	</h3>
	
	<table class='messages' border='0' width='100%'>
		<tbody>
			<% if @messages.empty? %>
				<tr>
					<td colspan ="4">
						<%= :no_messages.l %>
					</td>
				</tr>
			<% else %>
				<% @messages.each do |message| %>
					<tr>
						<td>
								<%= check_box_tag "delete[]", message.id %>
						</td>
						<td>
							<%= link_to image_tag( message.recipient.avatar.url(:thumb), :alt=>"#{message.recipient.login}", :class=> "photo" ), user_path(message.recipient), :title => "#{message.recipient.login}'s " + :profile.l %>
						</td>
						<td>
							<%= link_to_remote h(message.subject), :url =>  user_message_path(@user, message, :mailbox => :sent), :method => :get %>
							<br>
							<%= :to.l %>
							<%= link_to h(message.recipient.login), user_path(message.recipient)%>
						</td>
						<td class='snippet' >
							<%= h message.created_at.to_s(:long) %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
		<tfoot>
			<tr>
				<td colspan = "4">
					<% if @messages.any? %>
						<p>
							<%= submit_tag :delete.l %><%= image_tag 'spinner.gif', :id => 'del-spinner', :style => 'display: none' %>
						</p>
					<% end %>
				</td>
			</tr>
		</tfoot>
	</table>
	<% end %>	 

