<h3>
  <%= :subject_of_message.l + ":"%>
  <%=h @message.subject %>
</h3>
<p>
  <%= :from.l + ":" %>
  <%= @message.sender.eql?(@user) ? link_to("You", user_path(@user)) : link_to(h(@message.sender.login), user_path(@message.sender)) %>
</p>
<p>
  <%= :to.l + ":" %>
  <%= @message.recipient.eql?(@user) ? link_to(:to_you.l, user_path(@user)) : link_to(h(@message.recipient.login), user_path(@message.recipient)) %>
</p>
<p>
  <%= :date_title.l + ":" %>
  <%= @message.created_at.to_s(:long) %>
</p>
<p class='message_body'>
  <%= auto_link(@message.body) %>
</p>

<% if @message.sender.eql? @user %>
  <%= link_to 'Voltar para mensagens enviadas', index_sent_user_messages_path(@user) %>
<% else %>
  <%= link_to 'Voltar para caixa de entrada', user_messages_path(@user) %>
<% end %>
