<% if mailbox == 'sent' %>
voltar para <%= link_to_remote "mensagens enviadas", :url =>  user_messages_path(@user, :mailbox => :sent), :method => :get%>
<% else %>
voltar para <%= link_to_remote "caixa de entrada", :url =>  user_messages_path(@user, :mailbox => :inbox), :method => :get%>

<% end %>
			
				<h3>
					<%= :subject_of_message.l + ":"%>
					<%=h @message.subject %>
				</h3>
				<p>
					<%= :from.l + ":" %>
					<%= @message.sender.eql?(@user) ? link_to("You", user_path(@user)) : link_to(h(@message.sender.login), user_path(@message.sender)) %>
				</p>
				<p>
					<%= :to.l %>
					<%= @message.recipient.eql?(@user) ? link_to(:to_you.l, user_path(@user)) : link_to(h(@message.recipient.login), user_path(@message.recipient)) %>
				</p>
				<p>
					<%= :date_title.l + ":" %>
					<%= @message.created_at.to_s(:long) %>
				</p>
				<p class='message_body'>
					<%# auto_link(h(@message.body)) %>
				</p>
				
			
				
		