<div class="span3">
  <%= render :partial => "users/left_sidebar",
    :locals => { :user => @user } %>
</div>
<div class="span10">
  <div class="content-area">
    <%= render :partial => "messages/breadcrumb",
      :locals => { :user => @user } %>
    <div class="content-body">
      <div class="content-section">
        <%= render "bootstrap/header_breadcrumb", :header_breadcrumb_items => [
          { :name => "Mensagens",
            :link => user_messages_path(@user),
            :classes => "icon-message-gray_32_34-before"
          },
          { :name => "Recebidas",
            :link => user_messages_path(@user),
            :counter => @total_messages
          }
          ] %>
        <%= link_to "Nova Mensagem", new_user_message_path(@user),
          :remote => true,
          :class => "button-primary icon-message-new-white_blue_16_18-before pull-right" %>
      </div>
      <%= new_tabs(:new_users) %>
      <%= render :partial => 'messages/index',
        :locals => { :mailbox => :inbox, :messages => @messages,
          :user => @user } %>
    </div>
    <%= render :partial => "messages/breadcrumb",
      :locals => { :user => @user } %>
  </div>
</div>
<div class="span3">
  <%= render :partial => "users/right_sidebar",
    :locals => { :user => @user } %>
</div>