<div class="span3">
  <%= render :partial => "users/left_sidebar",
    :locals => { :user => @user } %>
</div>
<div class="span10">
  <div class="content-area">
    <%= render :partial => "messages/breadcrumb",
      :locals => { :user => @user } %>
    <div class="content-body">
      <div class="content-section">
        <ul class="header-breadcrumb">
          <li class="header-breadcrumb-item">
            <%= link_to "Mensagens", user_messages_path(@user),
              :class => "header-breadcrumb-link icon-sent-message-gray_32_34-before",
              :title => "Mensagens" %>
          </li>
          <li class="header-breadcrumb-item">
            <%= link_to index_sent_user_messages_path(@user),
              :class => "header-breadcrumb-link",
              :title => "Enviadas" do %>
              Enviadas <%= content_tag(:span, parentize(@total_messages),
              :class => "header-breadcrumb-item-light") %>
            <% end %>
          </li>
        </ul>
        <%= link_to "Nova Mensagem", new_user_message_path(@user),
          :remote => true,
          :class => "button-primary icon-message-new-white_blue_16_18-before pull-right" %>
      </div>
      <%= new_tabs(:new_users) %>
      <%= render :partial => 'messages/index',
        :locals => { :mailbox => :outbox, :messages => @messages,
        :user => @user } %>
    </div>
    <%= render :partial => "messages/breadcrumb",
      :locals => { :user => @user } %>
  </div>
</div>
<div class="span3">
  <%= render :partial => "users/right_sidebar",
    :locals => { :user => @user } %>
</div>