<script type="text/javascript">
var messagesPath = "<%= user_messages_path %>";
var writeMessagePath = "<%= new_user_message_path %>";

var $messagetabs;

$(document).ready(function() {

    $messagetabs = $(".message-tabs").tabs({
        select: function(event, ui) {
            if (ui.index == 2) {
                // Escrever
                $("#tabs-3-content").html('');
                jQuery.ajax({
                    data: '',
                    dataType: 'script',
                    success: function(request) {
                        $("#tabs-3-loading").hide();
                    },
                    type: 'get',
                    url: writeMessagePath
                });

                $("#tabs-3-loading").show();
            }
            else if (ui.index == 1) {
                // Caixa de Saída
                $("#tabs-2-content").html('');
                jQuery.ajax({
                    data: 'mailbox=sent',
                    dataType: 'script',
                    success: function(request) {
                        $("#tabs-2-loading").hide();
                    },
                    type: 'get',
                    url: messagesPath
                });

                $("#tabs-2-loading").show();
            }
        }
    });
});
</script>

<div class="grid_16">
<div id="breadcrumbs">
	<a href="#">mensagens</a> > caixa de entrada
</div>

<div id="title_video">Mensagens</div>
</div>



<div class="grid_10">
<div class="message-tabs tabs">
	    <ul>
		    <li><a href="#tabs-1">Caixa de Entrada <%= "(#{@user.unread_message_count})" if @user.unread_messages? %></a></li>
		    <li><a href="#tabs-2">Caixa de Saída</a></li>
				<li><a href="#tabs-3">Escrever</a></li>
	    </ul>
	    
		<div id="tabs-1" class="clearfix first-page">
	
		<%= render :partial => "inbox" %>  
		
		</div>
		
		<!-- caixa de saída -->
		<div id="tabs-2">
			
			<%=  image_tag 'loadingAnimation.gif', :id=> 'tabs-2-loading', :style => 'padding: 20px;'%>
			<div id="tabs-2-content"></div>
		</div>
		<!-- escrever -->
		<div id="tabs-3">
			<%=  image_tag 'loadingAnimation.gif', :id=> 'tabs-3-loading', :style => 'padding: 20px;'%>
			<div id="tabs-3-content"></div>
		</div>
		
</div><!-- end tabs -->	
</div>

<div class="grid_6 ">
											<div class="y_addinfo">
                                <div class="addinfocontent">
                                    <h1>
                                        Configurar participação</h1>
                                    <p>
                                        Por padrão, o Redu envia todas as mensagens que você recebe por email. Você pode alterar essas
																				configurações clicando <%= link_to "aqui", edit_user_path(current_user) %>.
																				
																		</p>
																			
																			</div>
                            </div>
														
														
														
</div>




