<% content_for :header_scripts_and_styles do %>
  <%= stylesheet_link_tag "fb_style.css" %>
  <%=  javascript_include_tag "jquery.fcbkcomplete.min.js"%>
<% end %>

<%= render :partial => 'users/home_sidebar' %>
<div class="main grid_10" style="width: 580px;">
  <%= render :partial => 'messages/breadcrumb' %>
  <div id="messages">
    <%
      fake_tabs ['Recebidas', user_messages_path(@user), {:class => 'icon icon-message-gray_16_16'}],
        ['Enviadas', index_sent_user_messages_path(@user),  {:class => 'icon icon-messagereply-gray_16_16'}],
        ['Nova', new_user_message_path(@user), {:class => 'icon icon-messagecreate-gray_16_16'}] do
    %>
    <div class="actions">
      <% if @message.sender == @user %>
        <%= link_to "< voltar", index_sent_user_messages_path(@user),
          :class => 'back' %>
      <% else %>
        <%= link_to "< voltar", user_messages_path(@user),
          :class => 'back' %>
      <% end %>
    </div>
      <ul class="messages clearfix">
        <li>
          <div class="title"> <%= @message.subject %> </div>
          <div class="content">
            <div class="pretty-text">
              <p><%= auto_link simple_format(@message.body) %></p>
            </div>
          </div>
          <% showed_user = @message.sender == @user ?
            @message.recipient : @message.sender %>
          <div class="recipient">
            <%= image_tag showed_user.avatar.url(:thumb_32),
              :class => 'avatar' %>
            <%= link_to showed_user.display_name,
              user_path(showed_user), :class => 'user' %>
            <span class="date">
              <%= @message.created_at.strftime('%b %e, %Y, %l:%M %p') %>
            </span>
          </div>
        </li>
      </ul>
      <% if @message.recipient == @user %>
        <div class="respond">
          <% form_tag nil, :id => 'dummy_reply', :class => 'MainForm common'  do %>
            <%= label_tag "Resposta:" %>
            <%= text_area_tag nil, nil, { :onclick => "$('div.new-folder-inner').slideToggle(); $('#dummy_reply').hide(); return false;" } %>

          <% end %>
          <div class="new-folder-inner" style="display:none;">
            <%= render :partial => 'messages/form_reply' %>
          </div>
        </div>
      <% end %>
      <div class="actions">
        <% if @message.sender == @user %>
          <%= link_to "< voltar para mensagens enviadas",
            index_sent_user_messages_path(@user), :class => 'back' %>
        <% else %>
          <%= link_to "< voltar para mensagens recebidas",
            user_messages_path(@user), :class => 'back' %>
        <% end %>
      </div>
    <% end %>
  </div><!-- end .messages -->
</div><!-- end .main -->
