<div id="all_content3">
    <div id="col_content">
        <div id="breadcrumbs">
            <a href="<%=application_url%>">home</a>
            > mensagens
        </div>
		<%= render :partial => 'messages/sidebar_nav' %>
		<br/><br/>
        <div>
			<div id='title'>
				<%= :subject_of_message.l + ":"%>
				<%=h @message.subject %>
			</div>
			<p>
				<%= :from.l + ":" %>
				<%= @message.sender.eql?(@user) ? link_to("You", user_path(@user)) : link_to(h(@message.sender.login), user_path(@message.sender)) %>
			</p>
			<p>
				<%= :to.l %>
				<%= @message.recipient.eql?(@user) ? link_to(:to_you.l, user_path(@user)) : link_to(h(@message.recipient.login), user_path(@message.recipient)) %>
			</p>
			<p>
				<%= :date_title.l + ":" %>
				<%= @message.created_at.to_s(:long) %>
			</p>
			<pre>
				<%= auto_link(h(@message.body)) %>
			</pre>
			<%- if @reply %>
				<ul>
					<%- if @message.recipient.eql? @user %>
					<li>
						<%= link_to :reply.l, new_user_message_path(@user, :reply_to => @message), :onclick => "$('reply').toggle(); $('message_body').activate().scrollTo();return false;" %>
					</li>
					<% end %>
				</ul>
			<% end %>
        </div>
    </div>
</div>