<div class="span3">
  <%= render "users/left_sidebar", user: @user %>
</div>
<div class="span10">
  <div class="content-area">
    <div class="content-body">
      <div class="content-section">
        <ul class="header-breadcrumb">
          <li class="header-breadcrumb-item">
            <%= link_to "Mensagens", user_messages_path(@user),
              class: "header-breadcrumb-link icon-message-gray_32_34-before",
              title: "Mensagens" %>
          </li>
          <li class="header-breadcrumb-item">
            <% if defined? @total_received_messages %>
            <%= link_to user_messages_path(@user),
              class: "header-breadcrumb-link",
              title: "Recebidas" do %>
              Recebidas <%= content_tag(:span, parentize(@total_received_messages), class: "header-breadcrumb-item-light") %>
            <% end %>
          <% else %>
            <%= link_to index_sent_user_messages_path(@user),
              class: "header-breadcrumb-link",
              title: "Recebidas" do %>
              Enviadas <%= content_tag(:span, parentize(@total_sent_messages), class: "header-breadcrumb-item-light") %>
            <% end %>
          <% end %>
          </li>
        </ul>
        <%= link_to "Nova Mensagem", new_user_message_path(@user), remote: true, class: "button-primary icon-message-new-white_blue_16_18-before pull-right" %>
      </div>
      <%= new_tabs(:new_users) %>
      <div class="content-section">
        <h3> <%= @message.subject %> </h3>
      </div>
      <ol class="status-list">
        <li>
          <div class="status without-context">
            <div class="subject">
              <% showed_user = @message.sender == @user ?
                @message.recipient : @message.sender %>
              <%= @message.sender == @user ? 'Para: ' : 'De: ' %></br>
              <%= render "statuses/user_image", user: showed_user %>
              <div class="subject-info">
                <%= render "statuses/user_name", user: showed_user %>
                <%= render "statuses/timeago", timestamp: @message.created_at %>
              </div>
            </div>
            <div class="subject-content">
              <div class="status-content status-tab tab-left">
                <%= content_tag :p,
                  raw(auto_link(simple_format(@message.body))) %>
              </div>
              <% if @message.recipient == @user %>
                <div class="messages-reply-form">
                  <%= render 'messages/form_reply' %>
                </div>
              <% end %>
            </div>
          </div>
        </li>
      </ol>
    </div>
    <%= render "messages/breadcrumb", user: @user %>
  </div>
</div>
<div class="span3">
  <%= render "users/right_sidebar", user: @user %>
</div>
