<h1>Listing profiles</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Birthdate</th>
    <th>Occupation</th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%=h profile.first_name %></td>
    <td><%=h profile.last_name %></td>
    <td><%=h profile.birthdate %></td>
    <td><%=h profile.occupation %></td>
    <td><%= link_to 'Show', profile %></td>
    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    <td><%= link_to 'Destroy', profile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New profile', new_profile_path %>