<h1>New profile</h1>

<% form_for(@profile) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :birthdate %><br />
    <%= f.date_select :birthdate %>
  </p>
  <p>
    <%= f.label :occupation %><br />
    <%= f.text_field :occupation %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', profiles_path %>