<% content_for :page_id, 'group' %>
<div class="grid_10">
	
	
            <% form_tag sessions_path, :class => 'MainForm' do %>
						
<% field_set_tag "Login" do %>

            <label for='username'>
                <%=:username.l %>
            </label>
            <%= text_field_tag 'login', nil, :size => 35 %>
            <label for='username'>
                <%=:password.l %>
            </label>
            <%= password_field_tag 'password', nil, :size => 35 %>
            <label for='remember_me'>
                <%=:remember_me.l %>
                <%= check_box_tag 'remember_me' %>
            </label>
            <%= submit_tag "Entrar" %>
            <% end %>
 <% end %>
</div>

<div class="grid_6 user_instructions">
    <h3><%=:dont_have_an_account.l %></h3>

    <%= link_to "&raquo; " + :click_here_to_sign_up.l, "/signup" %>


    <h3><%=:forgot_your_password.l %></h3>

    <%= link_to "&raquo; " + :click_here_to_retrieve_it.l, forgot_password_url %>

    <h3><%=:forgot_your_username.l %></h3>

    <%= link_to "&raquo; " + :click_here_to_retrieve_it.l, forgot_username_url %>
</div>
 