<% content_for :page_id, 'group' %>
<div class="grid_10">
  <%= form_for @user_session, :url => sessions_path do |f| %>

    <%= field_set_tag "Login" do %>

      <label for='username'>
        <%= t( :username_or_email ) %>
      </label>
      <%= f.text_field :login, :size => 35 %>
      <%= error_for :user_session, :login %>

      <label for='username'>
        <%= t( :password ) %>
      </label>
      <%= f.password_field :password, :size => 35 %>
      <%= error_for :user_session, :password %>
      <label for='remember_me'>
        <%= t( :remember_me ) %>
        <%= f.check_box :remember_me %>
      </label>
      <%= f.submit "Entrar" %>

      <% unless Rails.env == "production" || Rails.env == "staging"  %>
        <%= form_tag({:controller => :users, :action => :create}, {:method => :post}) do %>
          <%= raw oauth_login_button :value => "Login with Twitter", :class => "twitter" %>
        <% end %>
      <% end %>

    <% end %>
  <% end %>

</div>

<div class="grid_6 user_instructions">
  <h3><%= t( :dont_have_an_account ) %></h3>

  <%= link_to raw("&raquo; " + t(:click_here_to_sign_up)), signup_url %>
  <h3><%= t( :forgot_your_password ) %></h3>
  <%= link_to raw("&raquo; " + t(:click_here_to_retrieve_it)), forgot_password_url %>
  <h3><%= t( :forgot_your_username ) %></h3>
  <%= link_to raw("&raquo; " + t(:click_here_to_retrieve_it)), forgot_username_url %>
</div>

