<div class="grid_11">
  <div>
    <% unless @forum.description.blank? %>
      <%= @forum.description_html %>
    <% end %>

    <span class="grid_11 alpha">
    <%#= feed_icon_tag @forum.name, space_forum_sb_posts_path(@space, :format => :rss) %>
    <%= pluralize @forum.topics_count, :topic.l %>, <%= pluralize @forum.sb_posts_count, :post.l %>
    </span>
  </div>

  <% if not @topics.empty? %>
    <% if logged_in? %>
      <%= link_to :post_a_new_topic.l, new_space_forum_topic_path(@space) %>
    <% end %>
   <table class="common">
      <tr>
        <th><%= :topics.l %></th>
        <th><%= :posts.l %></th>
        <th><%= :views.l %></th>
        <th><%= :last_post.l %></th>
      </tr>
      <% for topic in @topics %>
        <tr>
          <td>
            <% if topic.locked? %>
              <%= image_tag "lock.gif", :class => "icon grey", :title => :topic_locked.l %>
            <% end %>
            <%= link_to topic.title, space_forum_topic_path(@space, topic) %>
          </td>
          <td><%= topic.sb_posts_count %></td>
          <td><%= number_with_delimiter(topic.views) %></td>
          <td>
            <%= time_ago_in_words(topic.replied_at) %>
            <%= :by.l %>
            <%= topic.replied_by_user.display_name %>
            <%= link_to :view.l, space_forum_topic_path(:forum_id => @forum, :id => topic, :page => topic.last_page) %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="box_notice grid_5 alpha">
      Nenhum tópico foi criado ainda.
      <%= link_to 'Crie um agora!', new_space_forum_topic_path(@space) %>
    </div>
  <% end %>
</div>
