<h1>Listing medias</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @medias.each do |media| %>
  <tr>
    <td><%=h media.name %></td>
    <td><%= link_to 'Show', media %></td>
    <td><%= link_to 'Edit', edit_media_path(media) %></td>
    <td><%= link_to 'Destroy', media, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New media', new_media_path %>