<div class="details <%= lecture.lectureable.class.to_s.downcase %>-details clearfix">
  <h3 class="name"><%= lecture.position %>.<%= lecture.name %></h3>
  <ul class="statistics">
    <li><%= time_ago_in_words lecture.created_at %></li>
    <li>Exibições: <%= lecture.view_count %></li>
  </ul>
  <div id="rating_lecture" class="rating">
    <%= ratings_for lecture, :remote_options => {
      :url => rate_space_subject_lecture_path(lecture.subject.space,
                                              lecture.subject, lecture)} %>
  </div>
</div>
