<div id="lecture_form">
<%= stylesheet_link_tag 'uploadify' %>
<%= render_uploadify(:id  => "document_attachment",
       :url => space_subject_lectures_url(@space, @subject),
       :allow_multiple_files => false,
       :fields => ['document_attachment', 'name'],
       :allowed_extensions => [:ppt, :pptx, :pdf, :odp, :pps, :doc, :docx]) %>

<% form_for :document, @document, :url => { :action => "create" },
   :html => { :multipart => true, :method => :put,
     :id => "document-form", :class => "common" } do |f| %>

   <%= f.error_messages %>
   <% field_set_tag do %>
     <%= label_tag :name, :title.l %>
     <%= text_field_tag :name %>
     <%= error_for :name %>
     <%= f.label :attachment, "Arquivo" %>
     <div id="upload_resource_field" class="uploadify" >
       <%= f.file_field :attachment  %>
       <span class="tip">Tamanho máximo: 100 mb</span>
       <%= error_for :document, :attachment %>

       <%= uploadify_cancel "Parar", :class => "cancel vanilla" %>
       <%= uploadify_submit "Enviar material", :style => "display: none;" %>
       <%= link_to_function "Cancelar",
         "$('#document-form').remove(); return false;",
         :class => "cancel vanilla"%>
     </div>
     <% unless @document.new_record? %>
       <div class="box_notice">Você já inseriu o arquivo <%= @document.attachment_file_name %></div>
     <% end %>
   <% end %>
 <% end %>
</div>
