<% if item.lectureable_type == 'Seminar' %>
  <li class="clearfix video">
<% else %>
  <li class="clearfix <%= item.lectureable_type.downcase %>">
<% end %>
  <div class="info">
    <span class="ordering"><%= item.position %></span>
    <%= link_to item.name,
      space_subject_lecture_path(item.subject.space, item.subject, item),
      :class => "name" %>
  </div>
  <div class="ratings" id="rating_video">
    <%= ratings_for item, :static ,:remote_options => {
      :url => rate_space_subject_lecture_path(@subject.space, @subject , item)} %>
  </div>
  <div class="type">
    <%= item.lectureable_type %>
  </div>
</li>

