<%= render :partial => "subjects/sidebar" %>
<div class="main grid_12 omega big-col">
  <%= render :partial => "subjects/breadcrumbs", :locals => { :subject => @subject } %>

  <%= render :partial => "subjects/header",
    :locals => { :subject => @subject, :space => @space } %>

  <div id="subject-resources" class="hierarchy-listing-wrapper">

    <div class="header">
      <h4>Recursos</h4>
      <% if @lectures.count > 1 %>
        <span class="counter">
          <%= @lectures.count %> recursos disponíveis
        </span>
      <% else %>
        <span class="counter">
          <%= @lectures.count %> recurso disponível
        </span>
      <% end %>
    </div>
    <% if can? :manage, @subject %>
      <div class="admin-actions ">
        <%= link_to "Adicionar recurso",
          edit_space_subject_path(@subject.space, @subject),
          :class => 'button' %>
      </div>
    <% end %>
    <ol class="hierarchy-listing ordered-hierarchy-listing resources">
      <%= render :partial => "lectures/new/item", :collection => @lectures %>
    </ol>

    <%= will_paginate @lectures, :renderer => EndlessRenderer %>

  </div><!-- end #environment-courses -->

</div><!-- end .main -->
