<%= render :partial => 'lectures/new/lights' %>
<%= render :partial => 'subjects/new/sidebar' %>
<div class="main grid_12 omega big-col">
  <ol id="breadcrumbs" class="clearfix">
    <li>
      <%= link_to 'Home', home_user_path(current_user),
        :class => 'replacement home icon icon-redu_r8_c227_s1' %>
    </li>
    <li>
      <%= link_to @subject.space.course.environment.name,
        environment_path(@subject.space.course.environment),
        :class => 'replacement icon icon-redu_r8_c217_s1' %>
    </li>
    <li>
      <%= link_to @subject.space.course.name,
        environment_course_path(@subject.space.course.environment, @subject.space.course),
        :class => 'replacement icon icon-redu_r8_c313_s1' %>
    </li>
    <li>
      <%= link_to @subject.space.name, space_path(@subject.space),
        :class => 'replacement icon icon-redu_r8_c307_s1' %>
    </li>
    <li>
      <%= link_to @subject.title, space_subject_path(@space, @subject),
        :class => 'icon icon-redu_r11_c211_s1'%>
    </li>
  </ol>
  <%= render :partial => 'subjects/new/header',
    :locals => { :subject => @subject } %>

  <div id="resource" class="hierarchy-listing-wrapper">
    <div class="header">
      <h4>Recursos</h4>
      <span class="counter">
        <%= @subject.lectures.length %> recursos disponíveis
      </span>
    </div>
    <%= render :partial => 'lectures/new/context',
      :locals => { :student_grade => @student_grade, :done => @done } %>
    <%= render :partial => 'lectures/new/info',
      :locals => { :lecture => @lecture } %>
    <%= render :partial => 'lectures/new/details',
      :locals => { :lecture => @lecture} %>
        <%= render :partial => "lectures/new/document",
          :locals => { :lecture => @lecture } %>

    <div class="student-actions">
      <ul>
        <li class="selected">
          <span class="help"></span>
          <a href="" title="" class="action-help" >
            Solicitar ajuda
          </a>
        </li>
        <!--
        <li>
          <span class="annotations"></span>
          <a href="" title="">Anotações</a>
        </li>
        -->
        <li>
          <span class="lights"></span>
          <a href="" id="lights" title="">Apagar luzes</a>
        </li>
        <li>
          <span id ="favorite" class="favorite"></span>
            <% if current_user.has_favorite(@lecture) %>
                <%= link_to_remote('Desfavoritar',
                                   {:url => { :controller => :favorites, :action => :not_favorite,
                                     :id => @lecture.id, :type => @lecture.class.to_s,
                                     :new_layout => true},
                                     :loading => "$('#rm_favorites_link').hide(); $('#favorite_spinner').show();" },
                                     { :id => 'rm_favorites_link' }) %>
          <% else %>
              <%= link_to_remote('Favoritar',
                                 {:url => { :controller => :favorites, :action => :favorite,
                                   :id => @lecture.id, :type => @lecture.class.to_s,
                                   :new_layout => true},
                                   :loading => "$('#favorites_link').hide(); $('#favorite_spinner').show();" },
                                   { :id => 'favorites_link' }) %>
        <% end %>
          <%= image_tag 'loading_bar.gif', :style => 'display:none;', :id => 'favorite_spinner' %>
        </li>
        <li>
          <% content_for :footer_scripts_and_styles do %>
          <!-- AddThis Button BEGIN -->
          <script type="text/javascript">
            var addthis_config = {
              "data_track_clickback": true,
              ui_click: true,
              ui_cobrand: "Redu"
            };
          </script>
          <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=redu">
          </script>
          <!-- AddThis Button END -->
          <% end %>
          <span class="share"></span>
          <a class="addthis_button" href="http://addthis.com/bookmark.php?v=250&amp;username=redu" title="">Compartilhar</a>
        </li>
      </ul>
    </div>

    <div class="statuses-wrapper clearfix">
      <%= render :partial => 'statuses/new/create_status',
        :locals => { :statusable => @lecture } %>
      <div id="statuses" class="statuses">
        <ol>
          <%= render :partial => 'statuses/new/item',
            :collection => @statuses %>
        </ol>

        <%= will_paginate @statuses, :renderer => EndlessRenderer %>
      </div><!-- end .statuses -->
    </div>
  </div><!-- end #resource -->

</div><!-- end .main -->
