<div class="context">
  <% if current_user.get_association_with(@lecture.subject) %>
    <%= render :partial => 'subjects/progress_bar',
      :locals => { :student_grade => student_grade } %>
    <%= form_tag done_space_subject_lecture_path(@lecture.subject.space,
                                                 @lecture.subject,
                                                 @lecture),
                 :remote => true, :method => :post,
                 :id => 'do_lecture', :class => (done ? "done" : "undone") do %>
      <%= field_set_tag do %>
        <%= hidden_field_tag 'lecture_id', @lecture.id %>
        <% if done %>
          <%= hidden_field_tag 'done', '0' %>
        <% else %>
          <%= hidden_field_tag 'done', '1' %>
        <% end %>
        <% disabled = done.nil? %>
        <%= add_tiptip_if_disabled(disabled) do %>
          <%= check_box_tag '', nil, done, :id => 'mark-as-done', :onclick => "$('#do_lecture').submit()", :disabled => done.nil?  %>
          <%= label_tag 'Aula finalizada?', nil, :for => 'mark-as-done',
            :class => "#{mark_lecture_icon(done)} #{disable_label_if(disabled)}" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <div class="context-nav">
    <% unless @lecture.last_item? %>
      <%= link_to "Próxima aula",
        space_subject_lecture_path(@lecture.subject.space, @lecture.subject,
                                   @lecture.next_item),
        :class => "next icon-expand-right-gray_8_10-before" %>
    <% end %>
    <% unless @lecture.first_item? %>
      <%= link_to "Aula anterior",
        space_subject_lecture_path(@lecture.subject.space, @lecture.subject,
                                   @lecture.previous_item),
        :class => "previous icon-expand-left-gray_8_10-before" %>
    <% end %>
  </div>

</div><!-- end #context -->
