<div class="details <%= lecture.lectureable.class.to_s.downcase %>-details clearfix">
  <h3 class="position"><%= lecture.position %></h3>
  <div id="rating_lecture" class="rating">
    <%= ratings_for lecture, :remote_options => {
      :url => rate_space_subject_lecture_path(lecture.subject.space,
                                              lecture.subject, lecture)} %>
  </div>
  <% if can? :manage, @lecture %>
    <div class="admin-actions">
      <%= link_to 'Remover',
        space_subject_lecture_path(@lecture.subject.space,
                                   @lecture.subject,
                                   @lecture),
        :method => :delete,
        :confirm => "Você tem certeza que deseja remover esta aula? Não será possível recuperá-la.",
        :class => "delete icon-delete-gray_8_10-before" %>
    </div>
  <% end %>
  <div class="resource-info">
    <h3 class="name icon-<%= lecture.lectureable_type.downcase %>-gray_32_34-before"><%= lecture.name %></h3>
    <ul class="statistics">
      <li><%= time_ago_in_words lecture.created_at %></li>
      <li>Visualizado <%= lecture.view_count %> <%= lecture.view_count > 1 ? "vezes" : "vez" %></li>
      <% if @question || @results %>
        <li><%= link_to "Voltar", space_subject_lecture_path(@space, @subject, @lecture) %></li>
      <% end %>
    </ul>
  </div>
</div>
