<%#
  Detalhes.

  Variáveis:
    lecture: a aula.
    question: se for uma página de questão.
    results: se for uma página de resultados.
%>

<% subject = lecture.subject %>
<% space = subject.space %>

<div class="content-section">
  <% if can? :manage, lecture %>
    <%= link_to "Remover", space_subject_lecture_path(space, subject, lecture),
      method: :delete,
      confirm: "Você tem certeza que deseja remover esta aula? Não será possível recuperá-la.",
      class: "link-secondary pull-right icon-close-gray_8_10-before",
      title: "Remover esta aula" %>
  <% end %>

  <%= content_tag :h6, lecture.subject.name, class: "lecture-header-title-neutral" %>

  <div class="clearfix">
    <% lecture_position = content_tag :span, "#{ lecture.position }.",
      class: "lecture-header-title-neutral" %>
    <%= content_tag :h2, lecture_position + " " + lecture.name,
      class: "lecture-header-title" %>

    <% lecture_type_name = t lecture.lectureable_type %>
    <%= content_tag :span, lecture_type_name, title: lecture_type_name,
      class: "pull-right text-replacement icon-#{ lecture_type_class(lecture) }-gray_32_34" %>
  </div>

  <%= content_tag :time, time_ago_in_words(lecture.created_at),
    class: "legend", title: l(lecture.created_at, format: :time_ago) %>
  <% if question || results %>
    <span class="legend">|</span>
    <%= link_to "Voltar", space_subject_lecture_path(space, subject, lecture),
      class: "link-secondary" %>
  <% end %>
</div>