<div id="<%= lecture.id %>-item-edition" class="clearfix edit-resource">
  <div class="resources-types">
    <div class="resource-numbering">
      <label class="concave-label">Editar aula</label>
      <span class="position"><%= lecture.position %></span>
    </div>
    <ul>
      <li class="selected">
        <%= link_to "Página de texto",
          new_space_subject_lecture_path(space, subject, :type => "Page"),
          :remote => true, :class => "icon-page-lightblue_32_34-before",
          :title => 'Permite a postagem de conteúdo de leitura rápida como um tutorial ou um texto introdutório.' %>
      </li>
    </ul>
    <span class="explanation">
      <strong class="type">Página simples:</strong>
      Permite a postagem de conteúdo de leitura rápida como um tutorial ou um texto introdutório.
    </span>
  </div>

  <%= form_for lecture.lectureable, :as => :page,
    :url => space_subject_lecture_path(@space, @subject, lecture),
    :remote => :true, :method => :put,
    :html => { :class => "concave-form page-form" } do |f| %>
    <%= render :partial => 'lectures/page_fields', :locals => { :f => f }%>
  <% end %>
</div>
