<div id="lecture_form">
  <%= form_for @seminar, :as => :seminar,
    :url => space_subject_lectures_path,
    :html => { :id => "seminar-form", :class => "form-common" } do |f| %>

    <% field_set_tag do %>
      <%= label_tag :name, t( :title ) %>
      <%= text_field_tag :name %>
      <%= hidden_field_tag "subject_id", @subject.id %>
      <%= error_for :name %>

      <% field_set_tag do %>
        <legend class="label">
          Tipo de material:
        </legend>
        <div class="inline">
          <%= f.radio_button :external_resource_type, :youtube,
            {:onchange => "switchCourseFields(2);", :checked => true} %>
          <span class="question question-blue_12_12 tiptip" title="Você pode utilizar vídeos públicos do YouTube dentro dos seu módulo do Redu, basta copiar o endereço do vídeo."></span>
          <%= f.label :external_resource_type_youtube, "Youtube", :class => "inline"  %>
          <%= f.radio_button :external_resource_type, :upload, {:onchange => "switchCourseFields(1);"} %>
          <span class="question question-blue_12_12 tiptip" title="Envie um vídeo do seu computador caso queria mante-lo privado. Assim somente seus alunos no Redu terão acesso."></span>
          <%= f.label :external_resource_type_upload, "Upload", :class => "inline"  %>
          <%= error_for :seminar, :external_resource_type %>
          <%= error_for :seminar, :external_resource_type_upload %>
        </div>
      <% end %>

      <% field_set_tag nil, :id => 'upload_resource_field', :class => 'uploadify',
        :style => 'display: none;' do %>
        <%= f.label :original, "Upload" %>
        <%= f.file_field :original  %>
        <span class="tip">Tamanho máximo: 100 mb</span>
        <%= error_for :seminar, :original %>

        <%= uploadify_cancel "Parar", :class => "vanilla cancel" %>
        <%= uploadify_submit "Enviar material", :style => "display: none;"  %>
      <% end %>

      <% field_set_tag nil, :id => 'external_resource_field' do %>
        <legend class="label">Youtube</legend>
        <%= f.text_field :external_resource %>
        <span class="tip">
          Exemplo: http://www.youtube.com/watch?v=_1GjgFjX5gE
        </span>
        <%= error_for :seminar, :external_resource %>
      <% end %>

      <% field_set_tag nil, :id => 'youtube_preview',
        :style => 'display: none;' do %>
        <legend class="label">Prévia</legend>
        <object width="420" height="300">
          <param name="movie" value="none" id="yt_preview_param"/>
          <param name="allowFullScreen" value="true"/>
          <param name="allowscriptaccess" value="always"/>
          <embed src="none" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="420" height="300"/>
        </object>
      <% end %>
      <%= f.submit "Criar", :class => 'vanilla' %>
      <%= link_to_function "Cancelar",
        "$('#seminar-form').remove(); return false;",
        :class => 'cancel vanilla' %>
      <%= image_tag 'spinner.gif', :id => 'spinner-form-seminar',
        :style => 'display: none;' %>
    <% end %>
  <% end %>
</div>
