
		<%= form_lesson.hidden_field(:position, :value => "0") %>
		
		<h3 style="color: #bbb;">Texto Interativo</h3>
		
		 Titulo:
		<br>
		<%= form_lesson.text_field :title, :onkeyup => "topicTitle(this);" %>
		<br>
		<br>
		<% form_lesson.object.lesson = Page.new unless form_lesson.object.lesson %>
		<% form_lesson.fields_for :lesson do | build |%>

			
			Conteúdo:
			<br>
			<%= build.text_area :body, :size => "80x25", :class => "mceEditor" %>
			<br>
			<br>
			
			<%= form_lesson.hidden_field(:_destroy, :value => false, :id => "destroy_" + ((build.object.id) ? build.object.id.to_s : '0'))  %> 
			<%= build.hidden_field(:lesson_type, :value => "Page") %>
			<br>
			<br>
			
			<% end %>
