<div id="item">
    <div id="title">
        <%= link_to lecture.name, lecture %>
    </div>
    
    <div id="identification">
        <ul id="identification_resource">
            <!-- Uma modificação, antes ficava link_to lecture.owner.login -->
            <li>
                <%= link_to lecture.owner.display_name, user_path(lecture.owner) %>
            </li>
            <li>
                |
            </li>
            <li> Criado: 
                <%= time_ago_in_words(lecture.created_at) %>
            </li>
            <li>
                |
            </li>
            <li>
                Exibições (<%= lecture.view_count %>)
            </li>
        </ul>
    </div>
    <div id="description">
        <%= truncate_words( lecture.description, 10, '...') %>
    </div>
    <div id="identification">
        <ul id="identification_resource">
            <li>
                <strong>Categoria:</strong>
                Matemática
            </li>
            <li>
                |
            </li>
            <li>
                <strong>Tags:</strong>
                <%= lecture.tag_list %>
            </li>
        </ul>
    </div>
    <div id="ratting">
        <ul id="ratting_menu">
            <li>
                <%= ratings_for lecture, :static %>
            </li>
            <li class="evaluation_rating">
                Avaliações(<%= lecture.rates.count %>)
            </li>
        </ul>
    </div>
</div>
