<% if item_short.lectureable.class.to_s == 'Page'
    css_class = 'icon icon-page-lightblue_16_16'
   elsif item_short.lectureable.class.to_s == 'Document'
    css_class = 'icon icon-slides-lightblue_16_16'
   elsif item_short.lectureable.class.to_s == 'Seminar'
    css_class = 'icon icon-video-lightblue_16_16'
   end

%>
<li id=<%= "#{item_short.id}-item" %>>
  <span class="<%= css_class %>"></span>
  <%= item_short.name %>
  <% if !item_short.subject.visible? && (can? :manage, item_short.subject) %>
    <% if item_short.lectureable.class.to_s == 'Page' && !item_short.is_clone %>
      <%= link_to "Editar",
        edit_space_subject_lecture_path(item_short.subject.space,
                                        item_short.subject, item_short),
        :remote => true, :class => 'edit' %>
  <% end %>
  <%= link_to "Remover",
    space_subject_lecture_path(item_short.subject.space,
                               item_short.subject, item_short),
    :remote => true, :method => :delete,
    :confirm => "Você tem certeza que deseja excluir essa aula? Não será mais possível recuperá-la.",
    :class => 'delete' %>
<% end %>
</li>
