 	<%  if logged_in? %>
  <div id="task_bar_exames"><%= link_to 'Nova Aula', :action => 'new' %> | 
  <%= link_to 'Todas', lectures_path %> |
  <%= link_to 'Publicadas', published_user_lectures_path(current_user.id) %> |
  <%= link_to 'Não Publicadas', unpublished_user_lectures_path(current_user.id) %> |
  <%= link_to 'Em Moderação', waiting_user_lectures_path(current_user.id) %> 
  </div>
	<% end %>
