<script type="text/javascript">
	function removeField(link){
		jQuery(link).parent("fieldset:first").hide()
		jQuery(link).siblings("input[type=hidden]:first").val("1")
	}
	// TODO evitar esta duplicacao
	function add_fields(link, association, content) {
		var new_id = new Date().getTime();
		var regexp = new RegExp("new_" + association, "g")
		jQuery(link).before("<fieldset>" + content.replace(regexp, new_id) + "</fieldset>");
	}

</script>

<div id="all_content3">
  <div id="col_content">
    <div id="title">EDITANDO VÍDEO-AULA
  </div>

<% form_for @lecture, :html => { :multipart => true } do |f| %>
<%= f.error_messages %>



	<%= f.label "Nome:" %><br/>
	<%= f.text_field :name %><br/><br/>

	<%= f.label "Descrição:" %><br/>
	<%= f.text_area :description, :size => "50x3" %><br/><br/>

	<%= f.label "Tags:" %><br/>
	<%= f.text_field :tag_list %><br/><br/>


<%= render :partial => 'attachment_form', :locals => {:f => f, :lecture => @lecture}%>


<%= f.submit 'Atualizar' %> ou <%= link_to 'Cancelar', lecture_path(@lecture) %>

<% end %>



</div>
</div>
