<div class="grid_16">
<div id="breadcrumbs">
		<% if @space %>
	<a href="<%=application_url%>">início</a> > <a href="#">redes</a> > <%= link_to @space.name, @space %> > <%= link_to @course.name, @course %> > editar
	<% else %>
	<a href="<%=application_url%>">início</a> > <a href="#">ensinar</a> > <%= link_to @course.name, @course %> > editar
	<%end %>
</div>
</div>
	
	<div class="grid_16"> 
<h3 class="call">Editando artigo </h3>


<% form_for @course, :html => { :multipart => true } do |f| %>
<%= f.error_messages %>
<%= hidden_field_tag("space_id", @space.id) if @space %>

<% field_set_tag "Informacoes Gerais" do %>

	<%= f.label "Nome:" %>
	<%= f.text_field :name %>

	<%= f.label "Descrição:" %>
	<%= f.text_area :description, :size => "50x3" %>
	
	<%= f.label "Tags:" %>
	<%= f.text_field :tag_list %>
<% end %>
</div>
	
	<div class="grid_12 push_2">
	<% fields_for "course[courseable_attributes][]", @course.courseable  do |thepage| %>
	<%= f.hidden_field(:courseable_type, :value => "Page" )%>
	 <%= thepage.label 'Texto' %>
	 <%= thepage.text_area :body, :class => "mceEditor" %>
	<% end %>
	</div>

<div class="grid_16" style="margin-top: 20px;"> 
<%= f.submit 'Atualizar' %> ou <%= link_to 'Cancelar', course_path(@course) %>
</div>
<% end %>


