<%= render :partial => 'subjects/sidebar' %>
<div class="main grid_12 omega big-col">
  <%= render :partial => 'subjects/breadcrumbs', :locals => { :subject => @subject } %>
  <%= render :partial => 'subjects/header',
    :locals => { :subject => @subject, :space => @space } %>

  <div id="resource-new" class="hierarchy-listing-wrapper">
    <div class="header">
      <h4>Recursos</h4>
      <span class="counter">Adicionar recurso</span>
    </div>
    <% content_for :header_scripts_and_styles do %>
      <%= javascript_include_tag :ckeditor %>
    <% end %>
    <div id="new_subject" class="new-subject">
      <%= render :partial => 'lectures/index_short' %>
      <%=
        render :partial => "lectures/choose_type",
          :locals => { :subject => @subject, :space => @space }
        %>
    </form>
</div>
</div>
