<%= render :partial => 'lectures/javascripts' %>
<%= render :partial => 'subjects/sidebar' %>
<div class="main space grid_12 omega big-col">
  <%= render :partial => "subjects/breadcrumbs", :locals => { :subject => @subject } %>
  <%= render :partial => 'subjects/header',
    :locals => { :subject => @subject, :space => @space } %>

  <div id="resource" class="hierarchy-listing-wrapper">
    <div class="resource-head">
      <%= render :partial => 'lectures/info',
        :locals => { :lecture => @lecture } %>
      <%= render :partial => 'lectures/context',
        :locals => { :student_grade => @student_grade, :done => @done } %>
    </div>

    <div class="resource-content clearfix">
      <%= render :partial => 'lectures/details',
        :locals => { :lecture => @lecture} %>
      <div class="stage exercise">

        <div class="start-exercise">
          <form action="action" method="post" accept-charset="utf-8">
            <button type="submit" class="concave-button">
              <span class="do-exercise icon-exercise-white_16_18-before">Fazer exercício</span>
            </button>
          </form>
        </div>

        <div class="exercise-overview undone">
          <span class="exercise-call exercise-name undone">Exercício 1:</span>
          <span class="qty-questions undone">22</span>
          <span class="qty-questions-tip">questões (múltipla ecolha)</span>
          <span class="qty-questions undone">22</span>
          <span class="qty-questions-tip undone">questões explicadas</span>
        </div>

        <div class="exercise-clean">
          <span class="exercise-note">Este exercício ainda não foi resolvido</span>
        </div>

      </div> <!-- end .stage -->
    </div>

  </div><!-- end #resource -->

</div><!-- end .main -->
