<%= render :partial => 'lectures/javascripts' %>
<%= render :partial => 'subjects/sidebar' %>
<div class="main space grid_12 omega big-col">
  <%= render :partial => "subjects/breadcrumbs", :locals => { :subject => @subject } %>
  <%= render :partial => 'subjects/header',
    :locals => { :subject => @subject, :space => @space } %>

  <div id="resource" class="hierarchy-listing-wrapper">
    <div class="resource-head">
      <%= render :partial => 'lectures/info',
        :locals => { :lecture => @lecture } %>
      <%= render :partial => 'lectures/context',
        :locals => { :student_grade => @student_grade, :done => @done } %>
    </div>

    <div class="resource-content clearfix">
      <%= render :partial => 'lectures/details',
        :locals => { :lecture => @lecture} %>
      <div class="stage exercise">

        <div class="start-exercise">
          <%= link_to (space_subject_lecture_path(@space, @subject, @lecture),
                       :class => "concave-button") do  %>
            <span class="do-exercise icon-exercise-white_16_18-before">Fazer exercícios</span>
          <% end %>
        </div>

        <div class="exercise-overview undone">
          <span class="exercise-call exercise-name undone"><%= @lecture.name %></span>
          <span class="qty-questions undone"><%= @lecture.lectureable.info[:questions_count] %></span>
          <span class="qty-questions-tip">questões (múltipla ecolha)</span>
          <span class="qty-questions"><%= @lecture.lectureable.info[:explained_count] %></span>
          <span class="qty-questions-tip undone">questões explicadas</span>
        </div>

        <% if @lecture.lectureable.results.count > 0 %>
          <div class="exercise-result">
            <span class="exercise-call">Média Geral</span>
            <span class="average-grade"><%= @lecture.lectureable.info[:average_grade].round(2).to_s %></span>
            <span class="exercise-call">Compartilhe dúvidas com</span>
            <ol class="list-users-exercise">
              <% @lecture.lectureable.results.n_best_grades(3).includes(:user).each do |result| %>
                <li>
                  <%= image_tag result.user.avatar(:thumb_32), :size => "32x32", :class => "avatar" %>
                  <%= link_to result.user.display_name %>
                </li>
              <% end %>
            </ol>
          </div>

          <div class="users-exercise">
            <span class="exercise-call">Quem já fez</span>
            <span class="qty-users-exercise"><%= @lecture.lectureable.results.count %></span>
            <span class="qty-users-tip">pessoas</span>
            <ul class="list-users-exercise">
            <% @lecture.lectureable.results.n_recents(4).includes(:user).each do |result| %>
              <li>
                <%= image_tag result.user.avatar(:thumb_32), :size => "32x32", :class => "avatar" %>
                <%= link_to result.user.display_name %>
                <span class="qty-list-users-tip"><%= time_ago_in_words(result.finalized_at) %></span>
              </li>
            <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>

  </div><!-- end #resource -->

</div><!-- end .main -->
