<% content_for :header_scripts_and_styles do %>
  <%= stylesheet_link_tag :new_wall %>
  <%= javascript_include_tag :new_wall %>
<% end %>

<%= render :partial => 'lectures/javascripts' %>
<%= render :partial => 'subjects/sidebar' %>
<div class="main space grid_12 omega big-col">
  <%= render :partial => "subjects/breadcrumbs", :locals => { :subject => @subject } %>
  <%= render :partial => 'subjects/header',
    :locals => { :subject => @subject, :space => @space } %>

  <div id="resource" class="hierarchy-listing-wrapper">
    <div class="resource-head">
      <%= render :partial => 'lectures/info',
        :locals => { :lecture => @lecture } %>
      <%= render :partial => 'lectures/context',
        :locals => { :student_grade => @student_grade, :done => @done } %>
    </div>

    <div class="resource-content clearfix">
      <%= render :partial => 'lectures/details',
        :locals => { :lecture => @lecture} %>
      <div id="view_video" class="stage" align="center" >
        <%= render :partial => "lectures/player",
          :locals => { :seminar => @lecture.lectureable } %>
      </div>
    </div>

    <%= render "lectures/create_statuses", :lecture => @lecture,
      :statuses => @statuses, :status => @status %>
  </div><!-- end #resource -->

</div><!-- end .main -->
