<div class="grid_16">
</div>
<div class="grid_9 push_3">
  <table class="booking_steps" cellpadding="0" cellspacing="0">
    <tbody><tr>
        <td><span class="book_step disabled"><span><em>1</em>Informações Gerais</span></span></td>
        <td class="spacer">&nbsp;</td>
        <td><span class="book_step disabled"><span><em>2</em>Editor de Aula</span></span></td>
        <td class="spacer">&nbsp;</td>
        <td><span class="book_step current"><span><em>3</em>Publicação</span></span></td>
      </tr>
  </tbody></table>
</div>

<div class="grid_15">
  <h3 class="call">Nova Aula - Publicação</h3>
</div>
<div class="grid_8">

  <% form_for :lecture, @lecture, :url => { :action => "create" }, :html => {:id => "form_step_3",  :multipart => true } do |f| %>
    <%= f.error_messages %>
    <%= hidden_field_tag("step", "3", options = {})%>

    <% if @lecture.lectureable_type == 'InteractiveClass' %>
      <%= field_set_tag 'Imagem' do %>
        <%= f.label 'Defina uma imagem para esta aula' %>
        <%= f.file_field :avatar %>
      <% end %>
    <%end %>

    <%= field_set_tag 'Compartilhe!' do %>
      <%= render :partial => 'shared/share', :locals => {:resource => @lecture}%>
    <% end %>
    <%= f.submit "< Anterior", :name => "back_button" %>
  </div>

  <div class="grid_6 push_1">
    <div class="y_addinfo">
      <div class="addinfocontent">
        <h1>
          Termos e Condições do Redu</h1>
        <p>
          Por favor não publique conteúdo que esteja protegido por direitos autoriais, conteúdo obceno ou que viole
          os <%= link_to "termos e condições", {:controller => "base", :action => "tos"}, :target => "_blank"%> do Redu.

          Ao clicar no botão abaixo você estará concordando com esses termos.</p>

        <p><span style="font-style: italic;">Uma vez publicado, as opções de publicação não poderão mais serem editadas.</span></p>

        <p class="large_btn"><a href="#" id="adm_showpay" style="color: #fff;" onclick="jQuery('#form_step_3').submit();">Publicar</a></p>
      </div>
    </div>
  </div>

<% end %>

</div>
</div>
