<div class="grid_16">
  <%= stylesheet_link_tag 'uploadify' %>
  <%= render_uploadify(:id  => "document_attachment",
                       :url => space_subject_lectures_url(@space, @subject),
                       :allow_multiple_files => false,
                       :fields => ['document_attachment', 'step'],
                       :allowed_extensions => [:ppt, :pptx, :pdf, :odp, :pps]) %>
   <% form_for :document, @document, :url => { :action => "create" },
     :html => { :multipart => true, :method => :put } do |f| %>

     <%= f.error_messages %>
     <%= hidden_field_tag "step", "2" %>
     <% field_set_tag 'Documento' do %>
       <div id="upload_resource_field" >
         <%= f.label :attachment, "Arquivo do seu computador (máximo: 100MB)" %>
         <%= f.file_field :attachment  %>

         <%= uploadify_cancel("Parar") %>
         <%= uploadify_submit "Enviar material", :style => "margin: 10px 0; float: left; width: 120px; text-align: center; display: none;"  %>
       </div>  
     <% end %>

     <%= link_to '< Anterior', new_space_subject_lecture_path(@space, @subject, :step => '1'), :class => "button" %> 
     <%= f.submit 'Próximo >', :class => "button" %> 

     <br><%= link_to 'Cancelar', cancel_space_subject_lectures_path(@space, @subject), :confirm => "Tem certeza que deseja sair do editor de aulas?" %>
 <% end %>


</div>
