
<div class="grid_15 omega alpha">
  <div class="grid_9 push_3">
    <table class="booking_steps" cellpadding="0" cellspacing="0">
      <tbody><tr>
          <td><span class="book_step current"><span><em>1</em>Informações Gerais</span></span></td>
          <td class="spacer">&nbsp;</td>
          <td><span class="book_step disabled"><span><em>2</em>Editor de Aula</span></span></td>
          <td class="spacer">&nbsp;</td>
          <td><span class="book_step disabled"><span><em>3</em>Publicação</span></span></td>
        </tr>
    </tbody></table>
  </div>
  <div class="grid_14">
    <h3 class="call">Nova Aula</h3>
  </div>
</div>

<%= form_for :lecture, @lecture, :url => {:controller => :lectures, :action => :create }, :html => { :multipart => true } do |f| %>

  <div class="grid_16">
    <%= f.error_messages %>
  </div>
  <%= hidden_field_tag("step", "1", options = {})%>
  <%= f.hidden_field :lazy_asset_id %>
  <div class="grid_8">

    <%= field_set_tag 'Informações Gerais' do %>

      <%= f.label "Título: " %>
      <%= f.text_field :name %>
      <%= error_for :lecture, :name %>

      <% random_number = get_random_number%>
      <%= f.label "Descrição:" %>
      <div style="">
        <%= f.text_area :description, :size => "50x3", :class => "desc-#{random_number}" %>
        <%= render :partial => 'shared/limit_char_field', :locals => { :class_textarea => "desc-#{random_number}" }%>
      </div>
      <%= error_for :lecture, :description %>

      <%= f.label raw("Palavras-chave <span class='snippet'>(separadas por vírgula)</span>") %>
      <%= f.text_field :tag_list %>

    <%end%>

  </div>



  <div class="grid_6 push_1">

    <%= field_set_tag 'Tipo de Aula' do %>

      <div style="margin-bottom: 20px;">

        <h3><%= f.radio_button(:lectureable_type, "Seminar")%> Vídeo-aula</h3>
        Permite mostrar um vídeo- ou áudio-aula acompanhado de documentos para download.

      </div>

      <div style="margin-bottom: 20px;">

        <h3><%= f.radio_button(:lectureable_type, "InteractiveClass")%> Aula passo-a-passo</h3>
        Uma aula passo-a-passo pode possuir várias páginas com recursos interativos tais como vídeos, texto, questões e exames.
      </div>

      <div style="margin-bottom: 20px;">
        <h3><%= f.radio_button(:lectureable_type, "Page")%> Artigo</h3>
        Um artigo permite a postagem de conteúdo de leitura rápida como um tutorial ou uma página simples.
      </div>


      <div style="margin-bottom: 20px;">
        <h3><%= f.radio_button(:lectureable_type, "Document")%> Apresentação</h3>
        Apresentação do PowerPoint
      </div>
    <% end %>

  </div>

  <div class="grid_16">
    <%= f.submit 'Próximo >' %>
  </div>

<% end %>



