


<script type="text/javascript">

	
var min = 8;
var max = 18;
function increaseFontSize(){
    var thecontainer = document.getElementById('topic_body');
    var p = thecontainer.getElementsByTagName('p');
    for (i = 0; i < p.length; i++) {
        if (p[i].style.fontSize) {
            var s = parseInt(p[i].style.fontSize.replace("px", ""));
        }
        else {
            var s = 12;
        }
        if (s != max) {
            s += 2;
        }
        p[i].style.fontSize = s + "px";
    }
}

function decreaseFontSize(){
	var thecontainer = document.getElementById('topic_body');
    var p = thecontainer.getElementsByTagName('p');
    for (i = 0; i < p.length; i++) {
        if (p[i].style.fontSize) {
            var s = parseInt(p[i].style.fontSize.replace("px", ""));
        }
        else {
            var s = 12;
        }
        if (s != min) {
            s -= 2;
        }
        p[i].style.fontSize = s + "px"
    }
}
	
	function checkTopic(tIndex){
		document.getElementById('topic_check_'+tIndex).innerHTML = '<img title="completei!" src="/images/checkbox.png" alt="Checkbox" onclick="unCheckTopic(' + tIndex + '); return false;">'
	}
	
	function unCheckTopic(tIndex){
		document.getElementById('topic_check_'+tIndex).innerHTML = '<img title="completei!" src="/images/checkbox_clear.png" alt="Checkbox" onclick="checkTopic(' + tIndex + '); return false;">'
	}
	
	var topics = {};
	
	
	var topicCount = 1;
	var currentTopic = 0;
	
	function selectTopic(topic){
		//alert('topic: '+topic + ' | current: '+ currentTopic);
		
		var curListItem = document.getElementById('topic_item_'+ currentTopic);
		var selListItem = document.getElementById('topic_item_'+ topic);
		if (typeof(curListItem) != 'undefined' ) {
		curListItem.className = "topic_item"; 
		}
		if (typeof(selListItem) != 'undefined' ) {
		selListItem.className += " topic_item_sel";
		}
		
		document.getElementById('topic_body_'+ currentTopic).style.display = "none";
		document.getElementById('topic_body_'+ topic).style.display = "block";
		
		currentTopic = topic;
	}

	jQuery(document).ready(function(){
		jQuery("a.lights_on").click(
			function(e){
				jQuery("#lights-dimmed").fadeOut("slow");
				jQuery(this).toggle();
				jQuery("a.lights_off").toggle();

				e.preventDefault();
			}
		)

		jQuery("a.lights_off").click(
			function(e){
				jQuery("#lights-dimmed").fadeIn("fast");
				jQuery(this).toggle();
				jQuery("a.lights_on").toggle();

				e.preventDefault();
			}
		)

		jQuery("#annotation_link").click(
			function(e){
				jQuery("#annotation_box").slideDown("fast");
				e.preventDefault();
			}
		)

		jQuery("#annotation_menu a").click(function(e){
			jQuery("#annotation_box").slideUp("slow");
			e.preventDefault();

		})

	})

		
</script>
<div id="lights-dimmed" style="display:none; height: 100%;">&nbsp;</div>

<div id="all_content3">
    <div id="col_content_video">
        <div id="item_video" class="clearfix">
            <div id="title_video">
                <%= @lecture.name %>
				<% if can? :manage, @lecture %>
                	<%= link_to 'Editar', {:action => "edit"}, :class => "button icon-edit" %>
					<%= link_to 'Remover', @lecture, {:confirm => 'Você tem certeza que quer remover esta aula permanentemente?', :method => :delete, :class => "button icon-delete"} %>
				<% end %>	
				<% if current_user and not current_user.has_access_to_lecture(@lecture) and not @lecture.external_resource_type.eql?('youtube') %>
					<%= link_to "Comprar", { :action => :buy, :id => @lecture.id }, :class => "button icon-buy"%>
				<% end %>
				
				
                           </div>
            <!--	<div id="title_video"><a href="#">História - Revolução Francesa</a></div>    -->
            <!--<div id="edit_admin">
				
            </div>-->
			<div>
            <div id="identification1">
                <ul id="identification_resource1">
                    <li>
                        <%= link_to @lecture.owner.display_name, user_path(@lecture.owner) %>
                    </li>
                    <li>
                        |
                    </li>
                    <li>
                        <%= time_ago_in_words @lecture.created_at %>
                    </li>
                    <li>
                        |
                    </li>
                    <li>
                        Exibições(<%= @lecture.view_count %>)
                    </li>
                </ul>
            </div>
            <div id="description_video">
                <%= @lecture.description %>
            </div>
            <div id="identification1">
                <ul id="identification_resource1">
                    <li>
                        <strong>Categoria:</strong>
                        Português
                    </li>
                    <li>
                        |
                    </li>
                    <li>
                        <strong>Tags:</strong>
                        <%= @lecture.tag_list %>
                    </li>
                </ul>
            </div>
        </div>
		
        
		</div>

		<div id="interactive_container" align="center" >
			
			<div id="topic_bar">
				<div id="topic_list">
					<% @lecture.lectureable.lessons.each_with_index do |lesson, x| %>
					
						<a href="#" onclick="selectTopic(<%=x%>); return false;" id="topic_item_<%=x%>" class="topic_item<%= (x == 0) ? ' topic_item_sel' : ''%>" title="<%=lesson.title%>">
		  				
						<span id="topic_check_<%=x%>"> <%= image_tag 'checkbox_clear.png', :title => "completei!", :onclick => "checkTopic(" + x.to_s + "); return false;"%> </span>
						<span id="topic_name_<%=x%>"> <%= truncate_chars(lesson.title, 20) %></span> 
			 			</a>
						
					<% end %>
				</div>
			
			</div>
			
			 <div id="topic_body"><!-- TODO: carregar via ajax? -->
			 	<b></b><div id="accessbility_bar">
				<%= link_to_function((image_tag 'icons/audio.jpg', :title => 'Leitura', :border => 0), "alert('em breve!');" )%>
				<%= link_to_function((image_tag 'icons/icon_fontSizeUp.gif', :title => 'Aumentar fonte', :border => 0), "increaseFontSize();")%>
				<%= link_to_function((image_tag 'icons/icon_fontSizeDown.gif', :title => 'Diminuir fonte', :border => 0), "decreaseFontSize();")%>
				<%= image_tag 'icons/fullscreen.gif', :title => 'Tela cheia'%>
			 	</div>
			 	<%# @lecture.interactive_class.lessons.sort(|a,b| a<b).each_with_index do |l, x| %>
				<% @lessons.each_with_index do |l, x| %>
				<div id="topic_body_<%=x%>" style="display: <%= (x == 0) ? 'block' : 'none'%>; background: white;">
					<div id="topic_body_text" style="padding: 0 15px 15px 15px; min-height:360px;">
					<h3 style="color: #bbb; margin-top: 0; margin-bottom:15px;"><%= l.title %></h3>
					
					<% if l.lesson_type == 'Page'%>
					<%= l.lesson.body %>
					<% elsif l.lesson_type == 'Seminar' %>
						<%= render :partial => "lectures/player", :locals => {:lecture => l.lesson, :is_interactive_class => true} %>
					<% elsif l.lesson_type == 'ExternalObject'%>
					<%= l.lesson.html_embed %>
					<% end %>
					
					</div>
					<div id="navigation_bar">
						<%# button_to_function "< Anterior","selectTopic(" + (x - 1).to_s + ");", :disabled => (x==0) ? true : false %>
						<%# button_to_function "Próximo >","selectTopic(" + (x + 1).to_s + ");", :disabled => (x>=(@lessons.length-1)) ? true : false %>
					</div>
				</div>
				
				
				<% end %>
			 </div>
			
			
        </div>



		
		
		
		</div>
</div>
