<%= render :partial => 'spaces/admin/management_sidebar',
  :locals => { :space => @space } %>

<div class="main grid_12 omega big-col">
  <%= render :partial => 'spaces/breadcrumbs', :locals => { :space => @space } %>
  <%= render :partial => "spaces/admin/header",
      :locals => { :space => @space } %>
  <div id="space-manage" class="body management">
    <%= render :partial => 'spaces/admin/clean_header' %>
    <%= tabs :spaces_admin do %>
      <h3 class="form-header">Edição de <strong class="strong">módulo</strong></h3>
      <%= link_to "< voltar para a listagem de modulos",
        admin_subjects_space_path(@space), :class => "back" %>
      <%= render 'subjects/admin/edit', :space => @space, :subject => @subject, :quota => @quota, :plan => @plan %>

    <%= link_to "Sair", environment_course_path(@environment, @course), :class => "manage exit icon-manage-gray_8_10-before" %>
    <% end %>
  </div><!-- end #space-manage -->
</div><!-- end .main -->
