<%= render :partial => 'users/new/home_sidebar' %>
<div class="main grid_10" style="width: 580px;">
  <ol id="breadcrumbs" class="clearfix">
    <li>
      <%= link_to 'Home', home_user_path(@user), :class => 'replacement home icon icon-redu_r8_c227_s1' %>
    </li>
    <li>
      <%= link_to 'Configurações', edit_user_path(@user) %>
  </ol>
  <div id="invoice-index">
    <%
      fake_tabs ['Perfil', edit_user_path(@user), {:class => 'icon'}],
        ['Conta', account_user_path(@user), {:class => 'icon'}],
        ['Planos', user_plans_path(@user), {:class => 'icon'}],
        ['Faturas', plan_invoices_path(@plan), {:class => 'icon'}] do
      %>
    <div class="call">
      <span class="billable">
        <%= link_to @plan.billable.name, environment_course_path(@plan.billable.environment, @plan.billable) %>
      </span>
      <span class="name"><%= @plan.name %></span>
    </div>
    <ul class="quotas clearfix">
      <li class="clearfix">
        <div class="meta">
          <span class="label">membros:</span>
          <span class="numeric">
            <%= @plan.billable.users.count %>/
            <%= @plan.members_limit %>
          </span>
        </div>
        <div class="progress">
          <div class="completed" style="width: <%= @quota_members %>%;">
            <span><%= @quota_members %>%</span>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="meta">
          <span class="label">documentos:</span>
          <span class="numeric">
            <%= number_to_human_size(@quota_file, :precision => 2) %>/
            <%= number_to_human_size(@plan.file_storage_limit, :precision => 2) %>
          </span>
        </div>
        <div class="progress">
          <div class="completed" style="width: <%= @quota_file %>%;">
            <span><%= @quota_file %>%</span>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="meta">
          <span class="label">vídeos:</span>
          <span class="numeric">
            <%= number_to_human_size(@quota_multimedia, :precision => 2) %>/
            <%= number_to_human_size(@plan.video_storage_limit, :precision => 2) %>
          </span>
        </div>
        <div class="progress">
          <div class="completed" style="width: <%= @quota_multimedia %>%;">
            <span><%= @quota_multimedia %>%</span>
          </div>
        </div>
      </li>
    </ul>
    <table class="common spaced">
      <thead>
        <tr>
          <th style="width: 15%">Fatura:</th>
          <th style="width: 40%">Data:</th>
          <th style="width: 15%">Estado:</th>
          <th style="width: 20%">Valor:</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @invoices.each do |invoice| %>
          <tr>
            <td><%= invoice.id %></td>
            <td>
              <span class="date">
                <%= l invoice.period_start %> a
                <%= l invoice.period_end %>
              </span>
            </td>
            <td>
              <span class="state">
                <%= Invoice.human_attribute_name(invoice.state)%>
              </span>
            </td>
            <td>
              <span class="value">
                <%= number_to_currency(invoice.amount) %>
              </span>
            </td>
            <td>
              <% if invoice.pending? %>
                <%= pagseguro_form invoice.plan.create_order, :submit => "Pagar" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
</div>


