<%# Form de Status resposta %>
<div class="create-status create-response" style = "display: none;">
  <% form_remote_for :status,
    :url => respond_user_status_path(current_user, status_id),
    :before => "$('.response_spinner').show();"do |f| %>
    <%= f.error_messages %>
    <% field_set_tag do %>
      <% random_number = get_random_number%>
      <div class="textarea">
        <%= f.text_area :text, :rows => 1, :class => "status-answer-#{random_number}" %>
      </div>
      <%= render :partial => 'shared/new/limit_char_field', :locals => { :class_textarea => "status-answer-#{random_number}" }%>

      <%= hidden_field :status, :statusable_id, :value => statusable.id %>
      <%= hidden_field :status, :statusable_type, :value => statusable.class.to_s %>
      <%= hidden_field_tag "status[kind]", Status::ANSWER %>
      <%= f.submit 'Postar' %>
      <a href="" class="cancel">Cancelar</a>
      <%= image_tag 'spinner.gif', :class => "response_spinner",
        :style => 'display: none'%>
  <% end %>
<% end %>
</div>
