<%# Form de Status resposta %>
<div class="create-status create-response" style = "display: none;">
  <%= form_for :status,
    :url => respond_user_status_path(current_user, status_id),
    :remote => true, :html => { :class => "form-loader concave-form" } do |f| %>

    <%= hidden_field :status, :statusable_id, :value => statusable.id %>
    <%= hidden_field :status, :statusable_type, :value => statusable.class.to_s %>
    <%= hidden_field_tag "status[kind]", Status::ANSWER %>

    <%= f.error_messages %>
    <%= field_set_tag do %>
      <% random_number = get_random_number%>
      <%= f.label :text, "Resposta status",
        :class => "status-icon-answer replacement" %>
      <%= f.text_area :text, :rows => 1,
        :class => "status-answer-#{random_number}" %>
      <%= render :partial => 'shared/limit_char_field',
        :locals => { :class_textarea => "status-answer-#{random_number}" }%>

      <div class="status-buttons">
        <a href="#" class="cancel">Cancelar</a>
        <%= f.submit 'Postar' %>
      </div>
    <% end %>
<% end %>
</div>
