<%# Form de status  %>
<% random_number = get_random_number%>
<div class="create-status inform-my-status">
  <%= form_for @status, :remote => true, :html => { :class => "form-loader" } do |f| %>
    <%= flash[:statuses_errors] %>
    <%= hidden_field_tag "return", request.url %>
    <%= hidden_field :status, :statusable_id, :value => statusable.id %>
    <%= hidden_field :status, :statusable_type, :value => statusable.class.to_s %>
    <%= hidden_field_tag "status[kind]", Status::STATUS %>

    <%= f.error_messages %>
    <%= field_set_tag do %>

      <div class="textarea">
        <%= f.text_area :text, :rows => 1, :class => "status status-#{random_number}" %>
      </div>
      <%= render :partial => 'shared/limit_char_field', :locals => { :class_textarea => "status-#{random_number}" }%>
      <%= f.submit 'Postar' %>
      <a href="" class="cancel">Cancelar</a>
  <% end %>
<% end %>
</div>

