<%# Form de status  %>
<% random_number = get_random_number%>
<div class="create-status inform-my-status">
  <%= form_for @status, :remote => true, :html => { :class => "form-loader concave-form" } do |f| %>
    <%= flash[:statuses_errors] %>
    <%= hidden_field_tag "return", request.url %>
    <%= hidden_field :status, :statusable_id, :value => statusable.id %>
    <%= hidden_field :status, :statusable_type, :value => statusable.class.to_s %>
    <%= hidden_field_tag "status[type]", 'Status' %>

    <%= f.error_messages %>
    <%= field_set_tag do %>
      <%= f.label :text, "Seu mural",
        :class => "status-icon replacement"%>
      <%= f.text_area :text, :rows => 1, :class => "status textarea status-#{random_number}" %>
      <%= render 'shared/limit_char_field', :class_textarea => "status-#{random_number}", :limit => 800 %>
      <div class="status-buttons">
        <a href="#" class="cancel">Cancelar</a>
        <%= f.submit 'Postar' %>
      </div>
  <% end %>
<% end %>
</div>

