<%# Form de Status resposta %>
<div class="create-status create-response" style="display: none;">
  <%= form_for :status,
    :url => respond_status_path(in_response_to),
    :remote => true, :html => { :class => "form-loader concave-form" } do |f| %>

    <%= hidden_field :status, :in_response_to_id, :value => in_response_to.id %>
    <%= hidden_field :status, :in_response_to_type, :value => in_response_to.class.to_s %>

    <%= f.error_messages %>
    <%= field_set_tag do %>
      <% random_number = get_random_number%>
      <%= f.label :text, "Resposta status",
        :class => "status-icon-answer replacement concave-label" %>
      <%= f.text_area :text, :rows => 1,
        :class => "status-answer-#{random_number}" %>
      <%= render :partial => 'shared/limit_char_field',
        :locals => { :class_textarea => "status-answer-#{random_number}", :limit => 800 }%>

      <div class="status-buttons">
        <%= link_to 'Cancelar', nil, :rel => "nofollow", :class => 'button-default cancel' %>
        <%= f.submit 'Postar', :class => "button-primary" %>
      </div>
    <% end %>
<% end %>
</div>
