<%= f.error_messages %>
<% field_set_tag do %>

<% random_number = get_random_number%>
<%= f.text_area :text, :rows => 1, :class => "growup inner-label status status-q-#{random_number}", :style => "width: 95%" %>
<%= render :partial => 'shared/limit_char_field', :locals => { :class_textarea => "status-q-#{random_number}" }%>

<%= hidden_field_tag "status[kind]", Status::QUESTION %>
<% end %>
<button type="submit">Perguntar</button><%= image_tag 'spinner.gif', :class => 'status_spinner', :style => 'display: none'%>
