<%# Status e suas respostas  %>
<li id="status-<%= item.id %>">
  <div class="status">
    <div class="status-text">
      <%= image_tag item.user.avatar.url(:thumb_32), :class => "avatar", :width => 32, :height => 32 %>
      <%= link_to item.user.display_name, user_path(item.user),
        { :class => 'username' } %>
      <span class="date">
        hรก <%= time_ago_in_words item.created_at %>
      </span>
    </div>
    <div class="status-message">
      <p>
        <% if item.log %>
          <%= raw activity_name(item) %>
        <% else %>
          <%= raw auto_link(item.text) %>
        <% end %>
      </p>
    </div>
    <ul class="actions clearfix">
      <% if can? :respond, item %>
        <li>
          <a href="#" class="icon icon-spinner-gray_8_8 reply-status">Responder</a>
        </li>
        <li>
          <%= render :partial => 'statuses/favorite',
            :locals => { :status => item } %>
        </li>
      <% end %>
      <% if can? :manage, item %>
        <li>
          <%= link_to 'Apagar',
            status_path(item),
            :confirm => 'Deseja remover a postagem?',
            :method => :delete,
            :remote => true,
            :class => "icon icon-x-gray_8_8" %>
        </li>
      <% end %>
    </ul>
    <%= render :partial => 'statuses/create_response',
      :locals => { :statusable => item.statusable, :status_id => item.id }%>
  </div>
  <div class="responses">
    <ol>
      <% unless item.responses.empty? %>
        <%= render :partial => 'statuses/response',
          :collection => item.statuses %>
      <% end %>
    </ol>
    <a href="#" class="toggle-statuses">
      Ver todas as <span class="qty"></span> respostas
    </a>
  </div><!-- end .responses -->
</li>
