<%# Status e suas respostas  %>

<% if can_render_status?(item)  %>
  <% if item.type.eql? 'Log' %>
    <%= render "statuses/log", :log => item %>
  <% elsif item.type.eql? 'CompoundLog' %>
      <% if item.logeable_type.eql? 'Friendship' %>
        <%= render 'statuses/friendship_compound', :compound => item %>
      <% elsif item.logeable_type.eql? 'UserCourseAssociation' %>
        <%= render 'statuses/uca_compound', :compound => item %>
      <% end %>
  <% else %>
    <% if item.statusable_type.eql?('Lecture') && item.type == 'Help' %>
      <li id="status-<%= item.id %>">
        <div class="status">
          <div class="status-context icons-big-after icon-request-help-orange_64_66-after">
            <span class="status-subject icon-small icon-course-lightblue_32_34">
            </span>
            <%= link_to item.statusable.subject.space.name, space_path(item.statusable.subject.space), :class => "status-main" %>
            <%= link_to item.statusable.subject.name, space_subject_path(item.statusable.subject.space, item.statusable.subject), :class => "status-secondary icon-expand-gray_8_10-before" %>
          </div>
          <div class="status-log">
            <%= render "statuses/user_image", :item => item %>
            <div class="status-icon icon-<%= item.user ? role_at(item.user, item.statusable.subject) : "member" %>-gray_16_18-before ">
              <%= render "statuses/user_name", :item => item %>
              <span class="status-info">solicitou <span class="status-help">ajuda</span> em</span>
              <%= link_to item.statusable.name, space_subject_lecture_path(item.statusable.subject.space, item.statusable.subject, item.statusable) %>
              <% if can? :manage, item %>
                <%= link_to 'Fechar',
                  status_path(item),
                  :method => :delete,
                  :remote => true,
                  :class => 'close icon-small icon-close-gray_16_16 replacement remove-help-request',
                  :confirm => 'Ao remover o pedido de ajuda, as respostas também serão apagadas. Deseja removê-lo?'%>
            <% end %>
              <%= render :partial => 'statuses/timeago', :locals => { :item => item } %>
            </div>
            <%= render 'statuses/resource', :status => item %>
            <%= render 'statuses/responses', :status => item %>
            <%= render 'statuses/actions', :status => item %>
            <%= render :partial => 'statuses/create_response',
              :locals => { :in_response_to => item }%>
          </div>
        </div>
      </li>
    <% elsif item.statusable_type.eql?('Lecture') %>
      <li id="status-<%= item.id %>">
        <div class="status">
          <div class="status-context">
            <span class="status-subject icon-small icon-subject-lightblue_32_34">
            </span>
            <%= link_to item.statusable.subject.space.name, space_path(item.statusable.subject.space), :class => "status-main" %>
            <%= link_to item.statusable.subject.name, space_subject_path(item.statusable.subject.space, item.statusable.subject), :class => "status-secondary icon-expand-gray_8_10-before" %>
          </div>
          <div class="status-log">
            <%= render "statuses/user_image", :item => item %>
            <div class="status-icon icon-<%= item.user ? role_at(item.user, item.statusable) : "member" %>-gray_16_18-before ">
              <%= render "statuses/user_name", :item => item %>
              <span class="status-info">comentou no mural da aula  <%= link_to item.statusable.name, space_subject_lecture_path(item.statusable.subject.space, item.statusable.subject, item.statusable) %></span>
              <% if can? :manage, item %>
                <%= link_to 'Fechar',
                  status_path(item),
                  :method => :delete,
                  :remote => true,
                  :class => 'close icon-small icon-close-gray_16_16 replacement',
                  :confirm => 'Ao remover o comentário, todas as respostas serão apagadas. Deseja removê-lo?' %>
            <% end %>
              <%= render :partial => 'statuses/timeago', :locals => { :item => item } %>
            </div>
            <%= render 'statuses/resource', :status => item %>
            <%= render 'statuses/responses', :status => item %>
            <%= render 'statuses/actions', :status => item %>
            <%= render :partial => 'statuses/create_response',
              :locals => { :in_response_to => item }%>
          </div>
        </div>
      </li>
    <% elsif item.statusable_type.eql?('Space') %>
      <li id="status-<%= item.id %>">
        <div class="status">
          <div class="status-context">
            <span class="status-subject icon-small icon-space-lightblue_32_34">
            </span>
            <%= link_to item.statusable.course.name, environment_course_path(item.statusable.course.environment, item.statusable.course), :class => "status-main" %>
            <%= link_to item.statusable.name, space_path(item.statusable), :class => "status-secondary icon-expand-gray_8_10-before" %>
          </div>
          <div class="status-log">
            <%= render "statuses/user_image", :item => item %>
            <div class="status-icon icon-<%= item.user ? role_at(item.user, item.statusable) : "member" %>-gray_16_18-before ">
              <%= render "statuses/user_name", :item => item %>
              <span class="status-info">comentou no mural da disciplina  <%= link_to item.statusable.name, mural_space_path(item.statusable) %></span>
              <% if can? :manage, item %>
                <%= link_to 'Fechar',
                  status_path(item),
                  :method => :delete,
                  :remote => true,
                  :class => 'close icon-small icon-close-gray_16_16 replacement',
                  :confirm => 'Ao remover o comentário, todas as respostas serão apagadas. Deseja removê-lo?' %>
            <% end %>
              <%= render :partial => 'statuses/timeago', :locals => { :item => item } %>
            </div>
            <%= render 'statuses/resource', :status => item %>
            <%= render 'statuses/responses', :status => item %>
            <%= render 'statuses/actions', :status => item %>
            <%= render :partial => 'statuses/create_response',
              :locals => { :in_response_to => item }%>
          </div>
        </div>
      </li>
    <% else %>
      <li id="status-<%= item.id %>">
        <div class="status">
          <div class="status-text">
            <%= image_tag (item.user ? item.user.avatar.url(:thumb_32) : "missing_users_thumb_32.png"),
              :class => "avatar", :width => 32, :height => 32 %>
            <% if item.user %>
              <%= link_to item.user.display_name, user_path(item.user), :class => "username" %>
            <% else %>
              <span class="username">[Usuário Removido]</span>
            <% end %>

            <span class="status-info">
            <% if item.statusable_type.eql?('User') %>
              <% unless item.statusable.eql?(item.user) %>
                comentou no mural de <%= link_to item.statusable.display_name, show_mural_user_path(item.statusable) %>
              <% else %>
                comentou no <%= link_to "seu próprio mural", show_mural_user_path(item.user) %>
              <% end %>
            <% end %>
            </span>
            <% if can? :manage, item %>
                <%= link_to 'Fechar',
                  status_path(item),
                  :method => :delete,
                  :remote => true,
                  :class => 'close icon-small icon-close-gray_16_16 replacement',
                  :confirm => 'Ao remover este comentário, as respostas também serão excluídas. Deseja removê-lo?'%>
            <% end %>
            <%= render :partial => 'statuses/timeago', :locals => { :item => item } %>
          </div>
          <%= render 'statuses/resource', :status => item %>
          <%= render 'statuses/responses', :status => item %>
          <%= render 'statuses/actions', :status => item %>
          <%= render :partial => 'statuses/create_response',
            :locals => { :in_response_to => item } %>
        </div>
      </li>
    <% end %>
  <% end %>
<% end %>
