<li id="status-<%= log.id %>">
  <div class="status icons-big-after icon-document-lightblue_64_66-after">
    <div class="status-context">
      <span class="status-subject icon-small icon-space-lightblue_32_34">
      </span>
      <%= link_to log.logeable.subject.space.name, space_path(log.logeable.subject.space), :class => "status-main" %>
      <%= link_to log.logeable.subject.title, space_subject_lecture_path(log.logeable.subject.space, log.logeable.subject, log.logeable), :class => "status-secondary icon-expand-gray_8_10-before" %>
    </div>
    <div class="status-log">
      <%= image_tag log.user.avatar.url(:thumb_32),
        :width => 32, :height => 32, :class => 'friend-avatar' %>
      <div class="status-icon icon-<%= role_at(log.user, log.logeable) %>-gray_16_18-before">
        <%= link_to log.user.display_name, user_path(log.logeable.owner), :class => "username" %>
        <span class="status-info"><%= raw log.action_text %></span>
        <%= link_to log.logeable.name, space_subject_lecture_path(log.logeable.subject.space, log.logeable.subject, log.logeable) %>
        <span class="date">
          <%= time_ago_in_words log.created_at %>
        </span>
      </div>
    </div>
  </div>
</li>

