<%# Layout de adição de amizade %>
<li>
  <div class="status">
    <div class="status-text">
      <%= image_tag current_user.avatar.url(:thumb_32),
        :class => "avatar", :width => 32, :height => 32 %>
      <a href="#" class="username" >Nome Sobrenome</a>
      <span class="status-info">adicionou a sua rede de contatos:</span>
      <span class="date">
        <%= time_ago_in_words current_user.created_at %>
      </span>
    </div>
    <div class="status-content">
      <%= image_tag current_user.avatar.url(:thumb_32),
        :width => 32, :height => 32, :class => 'friend-avatar' %>
      <a href="#" class="username" >Nome Sobrenome</a>
      <span class="friend-summary">
        22 contatos e 2 disciplinas em comum
      </span>
    </div>
  </div>
</li>

<%# Layout de comentário no mural: %>
<li>
  <div class="status">
    <div class="status-text">
      <%= image_tag current_user.avatar.url(:thumb_32), :class => "avatar",
        :width => 32, :height => 32 %>
      <a href="#" class="username" >Nome Sobrenome</a>
      <span class="status-info">
        comentou em <a href="#">seu Mural</a>:
      </span>
      <span class="date">
        há 2 dias
      </span>
    </div>
    <div class="status-message">
      <p>
        lorem ipsum dolor sit amet
      </p>
    </div>
  </div>
</li>

<%# Layout de publicação em um módulo %>
<li>
  <div class="status">
    <div class="status-context">
      <span class="status-subject icon-small icon-space-lightblue_32_34">
      </span>
      <a href="#" class="status-main">
        Disciplina Ipsum Dolor
      </a>
      <a href="#" class="status-secondary icon-expand-gray_8_10-before">
        Nome do módulo
      </a>
    </div>
    <div class="status-log">
      <%= image_tag current_user.avatar.url(:thumb_32),
        :width => 32, :height => 32, :class => 'friend-avatar' %>
      <div class="status-icon icon-teacher-gray_16_18-before">
        <a href="#" class="username" >Nome Sobrenome</a>
        <span class="status-info">publicou a aula</span>
        <a href="#">Lorem Ipsum</a>
        <span class="date">
          há 3 dias atrás
        </span>
      </div>
    </div>
  </div>
</li>

<li>
  <div class="status">
    <div class="status-context">
      <span class="status-subject icon-small icon-space-lightblue_32_34">
      </span>
      <a href="#" class="status-main">
        Disciplina Ipsum Dolor
      </a>
      <a href="#" class="status-secondary icon-expand-gray_8_10-before">
        Nome do módulo
      </a>
    </div>
    <div class="status-log">
      <%= image_tag current_user.avatar.url(:thumb_32),
        :width => 32, :height => 32, :class => 'friend-avatar' %>
      <div class="status-icon icon-teacher-gray_16_18-before">
        <a href="#" class="username" >Nome Sobrenome</a>
        <span class="status-info">solicitou <span class="status-help">ajuda</span> em</span>
        <a href="#">Lorem Ipsum:</a>
        <span class="date">
          há 3 dias atrás
        </span>
        <div class="status-message">
          <p>
            lorem ipsum dolor sit amet
          </p>
        </div>
      </div>
      <%# só para testes, para verificar o layout dos campos  %>
      <ul class="actions clearfix">
        <% if can? :respond, item %>
          <li>
            <a href="#" class="icon icon-spinner-gray_8_8 reply-status">Responder</a>
          </li>
          <li>
            <%= render :partial => 'statuses/favorite',
              :locals => { :status => item } %>
          </li>
        <% end %>
        <% if can? :manage, item %>
          <li>
            <%= link_to 'Apagar',
              status_path(item),
              :confirm => 'Deseja remover a postagem?',
              :method => :delete,
              :remote => true,
              :class => "icon icon-x-gray_8_8" %>
          </li>
        <% end %>
      </ul>
      <%= render :partial => 'statuses/create_response',
        :locals => { :statusable => item.statusable, :status_id => item.id }%>
      <div class="responses">
        <ol>
          <li id="status-22">
            <div class="re-status">
              <div class="status-text">
                <img alt="Missing_users_thumb_32" class="avatar" height="32" src="/images/new/missing_users_thumb_32.png?1311947788" width="32" />
                <a href="/pessoas/tiago" class="username">Tiago Ferreira</a>
                <span class="date">
                  há 4 dias
                </span>
              </div>
              <div class="status-message">
                <p>
                  Só estou testando já que eu tenho que visualizar tods as respostas, isso é um pouco complicado, mas tudo bem. Só estou testando já que eu tenho que visualizar tods as respostas, isso é um pouco compl.
                </p>
              </div>
              <ul class="actions clearfix">
                <li>
                  <a href="/pessoas/tiago/favoritos/22/favorite?type=Status" class="icon icon-favorite-gray_8_8" data-method="post" data-remote="true" id="status-22-favorites_link" rel="nofollow">Favoritar</a>

                </li>
                <li>
                  <a href="/statuses/22" class="icon icon icon-x-gray_8_8" data-confirm="Deseja remover a postagem?" data-method="delete" data-remote="true" rel="nofollow">Apagar</a>
                </li>
              </ul>
            </div>
          </li>
        </ol>
      </div>
    <%# o teste termina aqui %>
    </div>
</li>
