<li class="clearfix" id="status-<%= question.id %>">
    <div class="photo overlay">
    <img src="images/question-mark.png" class="mark" alt="" />
    <%= image_tag( question.user.avatar_photo_url(:thumb), {:width => "50", :height=>"50" })%>    
    </div>
    <div class="activity clearfix question">
        <div class="actions">
            <a href="" class="icon ico-bookmark">favoritos</a>
            <a href="" class="icon ico-comment">comentar</a>
        </div>
        <span class="msg">
            <%= link_to question.user.login_slug, user_path(question.user), :class => "author" %>
            <%= question.text %>
            <span class="when quiet"><%= time_ago_in_words question.created_at %></span>
        </span>
        <div class="question-action">
            <a href="">Responder</a>
            <div class="answer hide">
            <div class="error form"></div>
            <% form_for :status, :url => {:controller => "statuses", :action => "respond", :id => question.id } do |f| %>
            <%= render :partial => "statuses/form_answer", :locals => { :f => f, :question => question } %>
            <% end %>
            </div>
        </div>
        <ul class="response clearfix" >
            <%= render :partial => 'statuses/response', :collection => question.statuses.find(:all, :order => "created_at DESC") %>
        </ul><!-- end response -->
    </div><!-- end activity -->
</li>
