<%# Status resposta %>
<li id="status-<%= response.id %>">
  <hr>
  <div class="response">
    <% if can? :manage, response %>
        <%= link_to 'Fechar',
          status_path(response),
          :method => :delete,
          :remote => true,
          :class => 'icon-close icon-small icon-close-gray_16_16 replacement',
          :confirm => 'Deseja remover esta resposta?'%>
    <% end %>
    <% if response.user %>
      <%= link_to user_path(response.user), :rel => "nofollow", :title => response.user.display_name, :class => 'author-thumbnail' do %>
        <%= image_tag response.user.avatar.url(:thumb_32),
        :width => 32, :height => 32 %>
      <% end %>
      <%= link_to response.user.display_name, user_path(response.user), :class => "link-name" %>
    <% else %>
      <%= link_to user_path(response.user), :rel => "nofollow", :title => response.user.display_name, :class => 'author-thumbnail' do %>
        <%= image_tag "missing_users_thumb_32.png", :width => 32, :height => 32 %>
        <span class="username">[Usuário Removido]</span>
      <% end %>
    <% end %>
    <%= render "statuses/timeago", :timestamp => response.created_at %>
    <div clqass="status-content">
      <p><%= status_message(response.text) %></p>
      <% if response.status_resources.first %>
        <% if response.status_resources.first.thumb_url %>
          <div class="post-resource">
          <div class="thumbnail">
            <%= link_to response.status_resources.first.link, :target => "_blank", :rel => "nofollow" do %>
              <%= image_tag(response.status_resources.first.thumb_url, :class => "preview-link") %>
            <% end %>
          </div>
        <% else %>
          <div class="post-resource">
        <% end %>
          <div class="post-text">
            <h3><%= link_to response.status_resources.first.title, response.status_resources.first.link, :target => "_blank", :rel => "nofollow", :class => "title" %></h3>
            <h4 class="source-site">
              <%= response.status_resources.first.provider %>
            </h4>
            <p class="post-description"><%= response.status_resources.first.description %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</li>
