<%# Status resposta %>
<li id="status-<%= response.id %>">
  <div class="re-status">
    <div class="status-text">
      <%= image_tag response.user.avatar.url(:thumb_32), :width => 32,
        :height => 32, :class => 'avatar'%>
      <%= link_to response.user.display_name, user_path(response.user),
        { :class => 'username' } %>
      <span class="date">
        hรก <%= time_ago_in_words response.created_at %>
      </span>
    </div>
    <div class="status-message">
      <p><%= raw auto_link(h(response.text).gsub(/\n/, '</br>'))%></p>
    </div>
    <% if response.status_resources.first %>
      <div class="post-resource">
      <% if response.status_resources.first.thumb_url %>
        <div class="thumbnail">
          <%= link_to response.status_resources.first.link, :target => "_blank", :rel => "nofollow" do %>
            <%= image_tag(response.status_resources.first.thumb_url, :class => "preview-link") %>
          <% end %>
        </div>
      <% end %>
        <div class="post-text">
          <h3><%= link_to response.status_resources.first.title, response.status_resources.first.link, :target => "_blank", :rel => "nofollow", :class => "title" %></h3>
          <h4 class="source-site">
            <%= response.status_resources.first.provider %>
          </h4>
          <p class="post-description"><%= response.status_resources.first.description %></p>
        </div>
      </div>
    <% end %>
    <ul class="actions clearfix"></ul>
  </div>
<hr class="border-post"/>
</li>
