<%# Status resposta %>
<li id="status-<%= response.id %>">
  <hr class="border-post" />
  <div class="re-status">
    <div class="status-text">
      <%= image_tag response.user.avatar.url(:thumb_32), :width => 32,
        :height => 32, :class => 'avatar'%>
      <%= link_to response.user.display_name, user_path(response.user),
        { :class => 'username' } %>
      <span class="date">
        hรก <%= time_ago_in_words response.created_at %>
      </span>
    </div>
    <div class="status-message">
      <% if response.status_resources.first %>
        <span class="comment-title">
          <%= raw auto_link(h(response.text).gsub(/\n/, '</br>'))%>
        </span>
        <div class="new-post">
        <% if response.status_resources.first.thumb_url %>
          <div class="thumbnail">
            <span class="preview-link">
              <%= link_to response.status_resources.first.link, :target => "_blank", :rel => "nofollow" do %>
                <%= image_tag(response.status_resources.first.thumb_url) %>
              <% end %>
            </span>
          </div>
        <% end %>
        <div class="description">
          <%= link_to response.status_resources.first.title, response.status_resources.first.link, :target => "_blank", :rel => "nofollow", :class => "title" %>
          <h3 class="link">
            <%= response.status_resources.first.provider %>
          </h3>
          <p><%= response.status_resources.first.description %></p>
        </div>
      </div>
      <% else %>
        <%= raw auto_link(h(response.text).gsub(/\n/, '</br>'))%>
      <% end %>
    </div>
  </div>
</li>
