<li class="clearfix <%= (status_counter == 0) ? 'first_item' : ''%> " id="status-<%= status.id %>">
    <div class="photo <%= (@school) ? ((status.user.teacher? @school) ? 'teacher' : '') : '' %>"><!-- TODO performace -->
    <%= image_tag( status.user.avatar.url(:thumb), {:width => "50", :height=>"50" })%>
    </div>
    <div class="activity clearfix question">
        <div class="actions">
            <a href="" class="icon ico-bookmark">favoritos</a>
            <a href="" class="icon ico-comment">comentar</a>
        </div>
        <span class="msg">
            <%= link_to status.user.login_slug, user_path(status.user), :class => "author" %>
            <% if status.log %>
						<%= activity_name(status) %>
						<% else %>
						<%= status.text %>
						<% end %>
            <span class="when quiet"><%= time_ago_in_words status.created_at %></span>
        </span>
        <div class="question-action">
            <a href="">Responder</a>
            <div class="answer hide">
            <div class="error form"></div>
            <% form_for :status, :url => {:controller => 'statuses', :action => "respond", :id => status.id } do |f| %>
            <%= render :partial => "statuses/form_answer", :locals => { :f => f, :question => status, :statusable => statusable } %>
            <% end %>
            </div>
        </div>
        <ul class="response clearfix" >
            <%= render :partial => 'statuses/response', :collection => status.statuses.find(:all, :order => "created_at DESC") %>
        </ul><!-- end response -->
    </div>
</li>
