<li class="clearfix <%= (status_counter == 0) ? 'first_item' : ''%> " id="status-<%= status.id %>">
    <div class="photo <%= (@space) ? ((status.user.teacher? @space) ? 'teacher' : '') : '' %>">
    <%= image_tag( status.user.avatar.url(:thumb), {:width => "50", :height=>"50" })%>
    </div>
    <div class="activity clearfix question">
      <% if can? :manage, status %>
        <div class="actions">
          <%= link_to_remote 'Remover',
            :url => status_path(status),
            :loading => "$('#status-#{status.id} > .activity > .actions .ico-delete-status').hide(); $('#status-#{status.id} > .activity > .actions #favorite_spinner').show();",
            :confirm => 'Deseja remover a postagem?',
            :method => :delete,
            :html => { :class => "icon ico-delete-status" } %>

            <%= render :partial => "statuses/favorite" , :locals => {:status => status} %>
      </div>
        <% end %>
        <span class="msg">
          <%= link_to raw(status.user.login_slug), user_path(status.user),
            :class => "author" %>
          <% if status.log %>
            <%= raw activity_name(status) %>
          <% else %>
            <%= raw auto_link(status.text) %>
          <% end %>
            <span class="when quiet"><%= time_ago_in_words status.created_at %></span>
        </span>
        <div class="question-action">
            <a href="">Responder</a>
            <div class="answer hide">
            <div class="error form"></div>
            <% form_for :status, :url =>
              respond_user_status_path(current_user, status) do |f| %>
            <%= render :partial => "statuses/form_answer", :locals => { :f => f, :question => status, :statusable => statusable } %>
            <% end %>
            </div>
        </div>
        <ul class="response clearfix" >
            <%= render :partial => 'statuses/response', :collection => status.statuses.find(:all, :order => "created_at DESC") %>
        </ul><!-- end response -->
    </div>
</li>
