<li id="status-<%= compound.id %>">
  <div class="status log">
    <div class="context">
      <% if compound.statusable.environment.avatar_file_name %>
      <%= link_to compound.statusable.name, environment_course_path(compound.statusable.environment, log.logeable) do %>
        <%= image_tag compound.statusable.environment.avatar.url(:thumb_32),
          :size => '32x32',
         :class => 'author-thumbnail'
        %>
      <% end %>
      <% else %>
          <%= link_to compound.statusable.name, environment_course_path(compound.statusable.environment, compound.statusable), :class => "text-replacement context-icon icon-course-gray_32_34-before" %>
      <% end %>
    </div>
    <div class="subject">
      <div class="subject-info">
        <span class="link-fake see-all link-secondary">+ ver todos</span>
        <span class="icon-grouping-gray_!6_18-before action"> O curso possui <%= compound.logs.count %> novos membros
        </span>
      </div>
    </div>
    <div class="subject-content">
      <ul class="grouping-elements">
        <%= render :partial => "statuses/compound_item",
          :collection => compound.logs.collect {|log| log.logeable.user },
          :as => :compound_user %>
      </ul>
      <% unless compound.logs.count <= 11 %>
        <a href="#" class="show-more">Ver mais </a>
      <% end %>
    </div>
  </div>
</li>
