<li id="status-<%= compound.id %>">
  <div class="status">
    <div class="context">
      <% if compound.statusable.environment.avatar_file_name %>
        <%= image_tag compound.statusable.environment.avatar.url(:thumb_32),
          :size => '32x32',
          :class => 'avatar'
        %>
    <% else %>
      <%= image_tag 'new/missing_courses_thumb_32.png', :class => 'author-thumbnail' %>
    <% end %>
      <%= link_to compound.statusable.environment.name, environment_path(compound.statusable.environment) %>
      <%= link_to compound.statusable.name, environment_course_path(compound.statusable.environment, compound.statusable) %>
      <span class="action">
        possui <%= compound.logs.count %> novos membros
      </span>
    </div>
    <div class="grouping-elements">
      <ul>
        <%= render :partial => "statuses/compound_item",
          :collection => compound.logs.collect {|log| log.logeable.user },
          :as => :compound_user %>
      </ul>
      <% unless compound.logs.count <= 11 %>
        <a href="#" class="show-more">Ver mais </a>
      <% end %>
    </div>
  </div>
</li>
