<%#
  Área com criação de status, mural e paginação.

  Variáveis:
    status: o status (normalmente um novo).
    statusable: o item statusable.
    placeholder: placeholder da área de texto (o valor default é nil).
    statuses: a coleção de status.
%>

<% placeholder = nil unless local_assigns.has_key? :placeholder %>

<%# Preview de links externos. %>
<%= render "statuses/template_preview" %>

<% create_status = capture do %>
  <%= render "statuses/create_status", status: status,
    statusable: statusable,
    placeholder: placeholder %>
<% end %>

<div class="content-section">
  <% if statusable.is_a?(Lecture) %>
    <div class="lecture-wall-wrapper">
      <div class="centralize">
        <ul class="lecture-wall-actions clearfix">
          <li class="lecture-wall-action">
            <button class="button-primary button-big lecture-wall-button button-comment icon-comment-white_blue_32_34-before">Comentar</button>
          </li>
          <li class="lecture-wall-action">
            <button class="button-primary button-big lecture-wall-button button-help icon-request-help-white_blue_32_34-before">Pedir ajuda</button>
          </li>
        </ul>
      </div>
      <%= create_status %>
    </div>
  <% else %>
    <%= create_status %>
  <% end %>
</div>
<ol id="statuses" class="status-list">
  <%= render partial: "statuses/item", collection: statuses %>
</ol>
<%= paginate statuses, theme: "new_endless" %>