<h1><%= course.name %></h1>
Ambiente: <%= link_to course.environment.name, environment_path(course.environment) %> |
Criador: <%= course.owner.display_name unless course.owner.nil? %><br />
Membros: <%= course.users.length %> |
Professores: <%= course.teachers.count %><br />
Disciplinas: <%= course.spaces.length %>
