<h1><%= course.name %></h1>
Papel: <%= user_course_role(course, current_user) %> |
Ambiente: <%= link_to course.environment.name, environment_path(course.environment) %> |
Criador: <%= course.owner.try(:display_name) %><br />
Membros: <%= course.user_course_associations.length %> |
<% cache ["search_course_teachers_count", course.id] do %>
  Professores: <%= course.teachers.count %><br />
<% end %>
Disciplinas: <%= course.spaces.length %>
