<%#
  Elemento da coleção de cursos.

  Variáveis:
    course: o curso da coleção.
%>
<% if course_counter.even? %>
  <li class="result-separator"><hr></li>
<% end %>
<li class="general-list-item">
  <div class="general-list-item-body">
    <div class="general-list-item-column">
      <%= link_to environment_path(course.environment),
        :title => course.environment.name do %>
        <%= image_tag course.environment.avatar.url(:thumb_90),
          :alt => course.environment.name, :title => course.environment.name,
          :size => "90x90" %>
      <% end %>
    </div>
    <div class="general-list-item-column">
      <% role_icon = user_course_role(course, current_user) %>
      <% unless role_icon.nil? %>
        <span class="icon-<%= role_icon %>-lightblue_16_18 show text-replacement pull-right" rel="tooltip" title="<%= role_icon_to_text(role_icon)%>"><%= role_icon_to_text(role_icon)%></span>
      <% end %>
      <span class="legend"><%= course.environment.name %> —</span>
      <h5 class="general-list-item-title">
        <%= link_to course.name,
          environment_course_path(course.environment, course),
          :class => "general-list-item-title-link",
          :title => course.name %>
      </h5>
      <% unless course.owner.nil? %>
        <span class="legend">Criado por <%= link_to course.owner.try(:display_name), user_path(course.owner) %></span>
      <% end %>
      <ul class="general-list-item-counters">
        <li class="general-list-item-counter icon-members-gray_16_18-before">
          <%= pluralize(course.user_course_associations.length, "Membro") %>
        </li>
        <li class="general-list-item-counter icon-teacher-gray_16_18-before">
          <% cache ["search_course_teachers_count", course.id] do %>
            <%= course.teachers.count %>
          <% end %>
        </li>
         <li class="general-list-item-counter icon-space-gray_16_18-before">
          <%= course.spaces.length %>
        </li>
        <% spaces_filtered = filter_spaces(course.spaces) %>
        <% if spaces_filtered.length > 0 %>
          <li class="dropdown">
            <a id="spaces-1" class="dropdown-toggle button-default button-dropdown" role="button" data-toggle="dropdown" data-target="#">
              <span class="icon-arrow-down-lightblue_8_10 show text-replacement">Expandir</span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="spaces-1">
              <li><span>Lista de Disciplinas (<%= spaces_filtered.length %>)</span></li>
              <% spaces_filtered.each do |space| %>
                <li><%= link_to space.name, space_path(space), :class => "icon-space-lightblue_16_18-before" %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</li>