<h1><%= environment.name %></h1>
Papel: <%= user_environment_role(environment, current_user) %>
Administrador(es): <%= environment.owner.display_name %><br />
Abreviação: <%= environment.initials %><br />
Cursos: <%= environment.courses.length %>
| Membros: <%= environment.user_environment_associations.length %><br />
