<h1><%= space.name %></h1>
<%#TODO Se o usuário participa da disciplina, exibir status de completude %>
Papel: <%= user_course_role(space.course, current_user) %> |
Ambiente: <%= link_to space.course.environment.name, environment_path(space.course.environment) %> |
Curso: <%= link_to space.course.name, environment_course_path(space.course.environment, space.course) %><br />
Autor: <%= space.course.owner.try(:display_name) %><br />
