<li>
  <span><%= user.first_name %></span>
  <span><%= user.last_name %></span>
  <span><%= user.localization %></span>
  <span><%= user.birth_localization %></span>

  <% Experience.current_jobs(user.experiences).each do |job| %>
    <span><%= job.title %></span>
    <span><%= job.company %></span>
  <% end %>

  <% education = user.most_important_education.first %>
  <% unless education.nil? %>
    <span><%= education.educationable.institution %></span>
  <% end %>

  <% user.tags.each do |tag| %>
    <span><%= tag.name %></span>
  <% end %>

  <%= user.friends_in_common_with(current_user).count %>
</li>
