<%#
  Elemento da coleção de perfis.

  Variáveis:
    user: o usuário da coleção.
%>
<% if user_counter.even? %>
  <hr>
<% end %>
<div id="search-results-user-<%= user.id %>" class="search-results-list-item">
  <div class="general-list-item user-n-environment-search-list-item">
    <div class="general-list-item-body">
      <%= link_to user_path(user), :title => user.display_name,
        :class => "general-list-item-column" do %>
        <%= image_tag user.avatar.url(:thumb_90),
          :alt => user.display_name, :title => user.display_name,
          :size => "90x90" %>
      <% end %>
      <div class="general-list-item-column">
        <% if is_friend?(user) %>
          <%= render "icon_is_friend" %>
        <% end %>
        <h4 class="general-list-item-title">
          <%= link_to user.display_name, user_path(user),
            :title => user.display_name,
            :class => "general-list-item-title-link text-truncate" %>
        </h4>
        <% job = Experience.current_jobs(user.experiences).first %>
        <% unless job.nil? %>
          <span class="legend icon-curriculum-professional-gray_8_10-before text-truncate" title="<%= "#{job.title} na #{job.company}" %>"><%= job.title %> na <%= job.company %></span>
        <% end %>

        <% education = user.most_important_education.first %>
        <% unless education.nil? %>
          <span class="legend icon-curriculum-academic-gray_8_10-before text-truncate" title="<%= education.educationable.institution %>"><%= education.educationable.institution %></span>
        <% end %>
        <% unless user.localization.to_s.empty? %>
          <span class="legend icon-biography-gray_8_10-before text-truncate" title="<%= "Mora em #{user.localization}" %>">Mora em <%= user.localization %></span>
        <% end %>
        <ul class="general-list-item-counters">
          <%#: TODO (ui-components): remover o hover azul destes dois ícones abaixo. %>
          <li class="general-list-item-counter icon-contacts-gray_16_18-before">
            <%= pluralize(user.friends.length, "Amigo", "Amigos") %> <%= show_mutual_friends_counter(user) %>
          </li>
          <li class="general-list-item-counter icon-course-gray_16_18-before">
            <% cache ["search_user_courses_count", user.id] do %>
              <%= pluralize(user.courses.count, "Curso") %>
            <% end %>
          </li>
        </ul>
        <% # Só não é amigo se existe friendship não aceito entre eles
           # ou se são a mesma pessoa %>
        <% if !is_friend?(user) %>
          <% # Se existir pedido de amizade %>
          <% if current_friendship(user) %>
            <% # Se eu fiz o pedido %>
            <% if current_friendship(user).status == "requested" %>
              <%= render "button_invite_disabled" %>
            <% # Se eu tenho que aceitar algum pedido %>
            <% else %>
              <%= link_to user_friendships_path(current_user,
                  :friend_id => user.id,
                  :in_search => true, :in_search_accept => true),
                :method => :post, :remote => true,
                :class => "button-success user-n-environment-search-list-item-button" do %>
                <%# TODO (ui-components): Adicionar ícone branco. %>
                <span class="icon-teacher-white_16_18-before" rel="tooltip" title="Aceitar pedido de conexão">Aceitar</span>
              <% end %>
            <% end %>
          <% # Se não houver pedido de amizade ainda
           # e se não são a mesma pessoa %>
          <% elsif !user.is?(current_user) %>
            <%= link_to user_friendships_path(current_user,
                :friend_id => user.id,
                :in_search => true, :in_search_send => true),
              :method => :post, :remote => true,
              :class => "button-default user-n-environment-search-list-item-button" do %>
              <%# TODO (ui-components): Adicionar a versão azul escura no hover deste ícone. %>
              <span class="icon-invite-lightblue_16_18 show text-replacement" rel="tooltip" title="Enviar pedido de conexão">Enviar pedido de conexão</span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>