<li>
  <span><%= user.first_name %></span>
  <span><%= user.last_name %></span>
  <span><%= user.localization %></span>
  <span><%= user.birth_localization %></span>

  <% Experience.current_jobs(user.experiences).each do |job| %>
    <span><%= job.title %></span>
    <span><%= job.company %></span>
  <% end %>

  <% education = user.most_important_education.first %>
  <% unless education.nil? %>
    <span><%= education.educationable.institution %></span>
  <% end %>

  <% user.tags.each do |tag| %>
    <span><%= tag.name %></span>
  <% end %>

  <span><%= (user.courses & current_user.courses).count %></span>

  <% if !is_friend?(user) %>
    <% if current_friendship(user) %>

      <% if current_friendship(user).status == 'pending' %>
        <span>Aguardando aceitação</span>
      <% else %>
        <%= link_to 'Aceitar pedido de conexão',
            user_friendships_path(current_user,
                                  :friend_id => user.id),
                                  :method => :post %>
      <% end %>

    <% else %>
      <%= link_to 'Adicionar contato',
          user_friendships_path(current_user,
                                :friend_id => user.id),
                                :method => :post %>
    <% end %>
  <% end %>
</li>
