<div class="span16">
  <div class="search-title-header">
      <h2 class="search-title icon-apps-portal-gray_48_50-before link-container pull-left">
        <a href="/" class="search-title-link link-target" title="Busca por Ambientes e Perfis">Busca por Ambientes e Perfis</a>
      </h2>
    <div id="search-breadcrumb" class="breadcrumb-mini-wrapper">
      <ul class="breadcrumb-mini" id="search-breadcrumb">
        <li class="breadcrumb-mini-item icon-arrow-right-separator-gray_16_18-after">
          <a class="breadcrumb-mini-link icon-magnifier-lightblue_16_18-before selected simple-navigation-active-leaf" href="/">Busca</a>
        </li>
      </ul>
    </div>
    <span class="legend">Busque pelos Ambientes de Aprendizagem e seus Cursos e Disciplinas. Você também pode buscar pelos Perfis que fazem parte do Redu.
    </span>
  </div>
  <div class="content-body search-content">
    <ul class="tabs tabs-big">
      <li class="tab tab-active">
        <a href="#" class="tab-title icon-basic-guide-lightblue_16_18-before" title="Geral">Geral (10)</a>
      </li>
      <li class="tab">
        <a href="#" class="tab-title icon-environment-lightblue_16_18-before" title="Ambientes">Ambientes (8)</a>
      </li>
      <li class="tab">
        <a href="#" class="tab-title icon-profile-lightblue_16_18-before" title="Perfil">Perfil (6)</a>
      </li>
    </ul>
    <%# Se foi encontrado algum resultado. %>
    <% if @total_results > 0 %>
      <div class="search-results">
        <%= render :partial => "result_quantity",
          :locals => { :query => @query, :total_results => @total_results,
            :general_search => true } %>
        <div class="search-filter">
          <div class="filters">
            <button class="filter icon-environment-lightblue_16_18-before">Ambientes (3)</button>
            <button class="filter icon-course-lightblue_16_18-before">Cursos (2)</button>
            <button class="filter filter-active icon-space-lightblue_16_18-before">Disciplinas (2)</button>
          </div>
        </div>
        <%= render :partial => "user_list",
          :locals => { :profiles => @profiles, :show_see_all => true } %>
        <ul class="results-group results-by-environment">
          <li class="title-result">
            <span class="title-result-name icon-environment-gray_32_34-before">Ambientes: <%= @environments.total_entries %></span>
            <% if show_see_all_results_link?(@environments.total_entries) %>
              <%= link_to "Veja todos os resultados", search_environments_only_path(:q => @query, :f => ["ambientes"]),
                :title => "Veja todos os resultados de ambientes" %>
            <% end %>
          </li>
          <li>
            <ul class="result-found">
              <%= render :partial => "environment", :collection => @environments %>
            </ul>
          </li>
          <li><hr class="list-separator"></li>
        </ul>
        <ul class="results-group results-by-course">
          <li class="title-result">
            <span class="title-result-name icon-course-gray_32_34-before">Cursos: <%= @courses.total_entries %></span>
            <% if show_see_all_results_link?(@courses.total_entries) %>
              <%= link_to "Veja todos os resultados", search_courses_only_path(:q => @query, :f => ["cursos"]),
                :title => "Veja todos os resultados de cursos" %>
            <% end %>
          </li>
          <li>
            <ul class="result-found">
              <%= render :partial => "course", :collection => @courses %>
            </ul>
          </li>
          <li><hr class="list-separator"></li>
        </ul>
        <ul class="results-group results-by-space">
          <li class="title-result">
            <span class="title-result-name icon-space-gray_32_34-before">Disciplinas: <%= @spaces.total_entries %></span>
            <% if show_see_all_results_link?(@spaces.total_entries) %>
              <%= link_to "Veja todos os resultados", search_spaces_only_path(:q => @query, :f => ["disciplinas"]),
                :title => "Veja todos os resultados de disciplinas" %>
            <% end %>
          </li>
          <li>
            <ul class="result-found">
              <%= render :partial => "space", :collection => @spaces %>
            </ul>
          </li>
          <li><hr class="list-separator"></li>
        </ul>
      </div>

    <%# Nenhum resultado encontrado. %>
    <% else %>
      <%= render :partial => "empty_search_result",
        :locals => { :query => @query } %>

    <% end %>
  </div>
</div>