<%= content_for :container_class do %>search-portal<% end %>

<div class="span16">
  <%= render :partial => "header", :locals => { :query => @query } %>
  <%# TODO: remover .search-content. %>
  <div class="portal-body content-body search-content">
    <%# TODO: as abas não estão aparecendo. %>
    <%= new_tabs :search %>
    <%# Se foi encontrado algum resultado. %>
    <% if @total_results > 0 %>
      <%# TODO: remover .search-results. %>
      <div class="search-results">
        <%= render :partial => "result_quantity",
          :locals => { :total_results => @total_results,
                       :query => @query } %>
        <%= render :partial => "user_list",
          :locals => { :profiles => @profiles,
                       :query => @query } %>
        <%= render :partial => "environment_list",
          :locals => { :environments => @environments,
                       :query => @query } %>
        <%= render :partial => "course_list",
          :locals => { :courses => @courses,
                       :query => @query } %>
        <%= render :partial => "space_list",
          :locals => { :spaces => @spaces,
                       :query => @query } %>
      </div>
    <%# Nenhum resultado encontrado. %>
    <% else %>
      <%= render :partial => "empty_search_result",
        :locals => { :query => @query } %>
    <% end %>
  </div>
  <div class="breadcrumb-mini-wrapper">
    <%= render :partial => "breadcrumb_mini", :locals => { :query => @query } %>
  </div>
</div>