<%= content_for :container_class do %>portal-search<% end %>

<div class="span16">
  <%= render :partial => "header", :locals => { :query => @query } %>
  <div class="portal-body content-body">
    <%= new_tabs :search %>
    <%# Se foi encontrado algum resultado. %>
    <% if @total_results > 0 %>
      <%= render :partial => "result_quantity",
        :locals => { :query => @query,
                     :total_results => @total_results } %>
      <%= render :partial => "user_list",
        :locals => { :profiles => @profiles,
                     :query => @query } %>
      <% if @profiles.total_pages > 1 %>
        <hr class="list-separator">
      <% end %>
      <%= paginate @profiles, :theme => "numbers",
        :outer_window => 1, :inner_window => 4 %>
    <%# Nenhum resultado encontrado. %>
    <% else %>
      <%= render "shared/empty_message", :icon_message => "Nenhum resultado encontrado",
        :icon_class => "icon-search-empty_128_130",
        :message => raw("Sentimos muito, mas não achamos resultado para <strong>#{@query}</strong>. Tente outro termo.") %>
    <% end %>
  </div>
  <div class="breadcrumb-mini-wrapper">
    <%= render :partial => "breadcrumb_mini", :locals => { :query => @query } %>
  </div>
</div>