<%= content_for :container_class do %>portal-search<% end %>

<div class="span16">
  <%= render :partial => "header", :locals => { :query => @query } %>
  <div class="portal-body content-body search-content">
    <%= new_tabs :search %>
    <%# Se foi encontrado algum resultado. %>
    <% if @total_results > 0 %>
      <div class="search-results">
        <%= render :partial => "result_quantity",
          :locals => { :query => @query,
                       :total_results => @total_results } %>
        <%= render :partial => "user_list",
          :locals => { :profiles => @profiles,
                       :query => @query } %>
      </div>
      <%= paginate @profiles, :theme => "numbers",
        :outer_window => 1, :inner_window => 4 %>
    <%# Nenhum resultado encontrado. %>
    <% else %>
      <%= render :partial => "empty_search_result",
        :locals => { :query => @query } %>
    <% end %>
  </div>
  <div class="breadcrumb-mini-wrapper">
    <%= render :partial => "breadcrumb_mini", :locals => { :query => @query } %>
  </div>
</div>