<%# Detalhes do billable
  Params: partner_environment_association %>
<% invoices.of_billable(partner_environment_association.environment_id, "Environment").each do |invoice| %>
  <div class="billable-infos">
    <% if partner_environment_association.environment %>
      <h3 class="name"><%= partner_environment_association.environment.name %></h3>
      <span class="created-by">Criado por <%= partner_environment_association.environment.owner.try(:display_name) || "Usuário removido" %></span>
    <% else %>
      <% environment = partner_environment_association.plan_of_dead_environment.billable_audit %>
      <h3 class="name"><%= environment["name"] %></h3>
      <span class="created-by">Criado por <%= environment["owner"].try(:display_name) || "Usuário removido" %></span>
    <% end %>

    <%= render "invoices/#{invoice.plan.class.to_s.underscore}_details", :invoice => invoice %>
  </div>
<% end %>
