<%# Detalhes do plano, inclui os detalhes do curso em relação ao invoice
    Params: invoice %>
<div class="invoice">
  <div class="plan-infos">
    <h3 class="plan-name"><%= invoice.plan.name %></h3>
    <span class="infos">
      <strong>Licença:</strong> <span class="price"><%= number_to_currency invoice.plan.price %>;</span> <strong>capacidade de armazenamento:</strong> <span class="storage-limit"><%= number_to_human_size(invoice.plan.video_storage_limit + invoice.plan.file_storage_limit, :precision => 0) %>;</span> <strong>usuários inscritos:</strong> <span class="qtt-members"><%= invoice.licenses.count %>;</span> <strong>licenças pagáveis:</strong> <span class="qtt-payable-licenses"><%= invoice.licenses.payable.count %></span></span>
    <span class="plan-period"><strong>Período:</strong><%= l invoice.period_start %> a <%= l invoice.period_end %></span>
  </div>
  <ul class="courses">
    <%= render :partial => "invoices/course_details", :collection => invoice.plan.billable.courses, :as => :course, :locals => { :invoice => invoice } %>
  </ul>

  <span class="total">
    Total: <strong><%= invoice.open? ? "(em aberto)" : number_to_currency(invoice.amount) %></strong>
  </span>
</div>

