<%# Detalhes do plano do tipo PackagePlan, inclui os detalhes do curso em
  relação ao invoice.
  Params: invoice %>
<div class="invoice">
  <div class="plan-infos">
    <h3 class="plan-name"><%= invoice.plan.name %></h3>
    <span class="infos">
      <strong>Preço:</strong> <span class="price"><%= number_to_currency invoice.plan.price %>;</span> <strong>capacidade de armazenamento:</strong> <span class="storage-limit"><%= number_to_human_size(invoice.plan.video_storage_limit + invoice.plan.file_storage_limit, :precision => 0) %></span>
    <span class="plan-period"><strong>Período:</strong><%= l invoice.period_start %> a <%= l invoice.period_end %></span>
  </div>

  <span class="total">
    Total: <strong><%= invoice.open? ? "(em aberto)" : number_to_currency(invoice.amount) %></strong>
  </span>
</div>

