<%= include_stylesheets :print, :media => 'print' %>

<div id="invoice-show">
  <%= render 'invoices/report_header' %>

  <%= render 'invoices/client', :client => @plan.billable || @plan.billable_audit, :period => @invoice.period_start..@invoice.period_end %>

  <div class="billable-infos">
    <h3 class="name"><%= @plan.billable.try(:name) || @plan.billable_audit.try(:[], "name") %></h3>
    <% if @plan.billable %>
      <span class="created-by">Criado por <%=  @plan.billable.owner.try(:display_name) || "Usuário removido" %></span>
    <% else %>
      <span class="created-by">Criado por <%= @plan.billable_audit["owner"].try(:display_name) || "Usuário removido" %></span>
    <% end %>

    <%= render "invoices/#{@invoice.plan.class.to_s.underscore}_details", :invoice => @invoice %>
  </div>
</div>
