<%= include_stylesheets :print, :media => 'print' %>
<div id="invoice-show">
  <%= render 'invoices/report_header' %>

  <%= render 'invoices/client', :client => @plan.billable, :period => @invoice.period_start..@invoice.period_end %>

  <div class="billable-infos">
    <h3 class="name"><%= @plan.billable.name %></h3>
    <span class="created-by">Criado por <%= @plan.billable.owner ? @plan.billable.owner.display_name : "Usuário removido" %></span>

    <%= render "invoices/#{@invoice.plan.class.to_s.underscore}_details", :invoice => @invoice %>
  </div>
</div>
