<%#
  Item do resultado de um aluno na tabela de relatório.

  Variáveis:
    user_item_admin: um resultado.
%>

<% report = user_item_admin.to_report %>

<tr>
  <td>
    <%= render "users/thumb_legend", user: user_item_admin.user,
      legend: content_tag(:span, time_ago_in_words(user_item_admin.finalized_at), class: "legend show"),
      wrapper_class: "text-left" %>
  </td>
  <%= content_tag :td, detailed_period_of_time(report[:duration]),
    class: "exercise-report-neutral" %>
  <%= content_tag :td, report[:grade].round(2), class: "exercise-report-grade" %>
  <%= content_tag :td, report[:hits], class: "exercise-report-hits" %>
  <%= content_tag :td, report[:misses], class: "exercise-report-misses" %>
  <%= content_tag :td, report[:blanks], class: "exercise-report-neutral" %>
</tr>