<% report = item.to_report %>
<tr class="row">
  <td class="cell">
    <div class="member-info">
      <%= image_tag item.user.avatar(:thumb_32), :size => "32x32", :class => 'avatar' %>
      <span class="member-name"><%= item.user.display_name %></span>
      <span class="member-detail"><%= l(item.finalized_at, :format => :time_ago) %></span>
    </div>
  </td>
  <td class="cell">
    <span class="student-time"><%= detailed_period_of_time(report[:duration]) %></span>
  </td>
  <td class="cell">
    <span class="student-score"><%= report[:grade].round(2) %></span>
  </td>
  <td class="cell">
    <span class="student-correct"><%= report[:hits] %></span>
  </td>
  </td>
  <td class="cell">
    <span class="student-wrong"><%= report[:misses] %></span>
  </td>
  </td>
  <td class="cell">
    <span class="student-null"><%= report[:blanks] %></span>
  </td>
  </td>
</tr>

