<% content_for :content do %>
  <% content_for :container_class do "entity-wrapper" end %>

  <div class="span3">
    <%= render "courses/sidebar", course: @course %>
  </div>
  <div class="span13">
    <div class="content-body">
      <%= render "courses/header_new", course: @course,
        responsibles_associations: @responsibles_associations %>

      <%= yield %>
    </div>
    <%= render "courses/breadcrumb", course: @course %>
  </div>
<% end %>

<%= render template: "layouts/new_application" %>