<div id="folder-admin" class="clearfix">
  <% if current_user.can_manage? space %>
    <div style="position: relative;">
      <div class="new-folder">
        <a href="#" class="button" >Criar nova pasta</a>
        <div class="new-folder-inner holder" style="display:none;">
          <% @new_folder = Folder.new %>
          <%= form_for [space, @new_folder],
            :remote => true, :html => { :method => :post } do |f| %>
            <%= f.text_field :name %>
            <%= f.hidden_field :space_id, :value => space.id %>
            <%= f.hidden_field :parent_id, :value => folder.id %>
            <%= f.submit 'Ok' %>
            <%= image_tag 'spinner.gif', :id => 'new-folder-spinner', :class => "spinner", :style => 'display: none' %>
          <% end %>
        </div>
      </div>

      <div class="new-file">
        <a href="#" class="button">Upload de Arquivo</a>
        <div class="new-file-inner holder" style="display:none;">
          <% form_for(myfile, :url => do_the_upload_space_folder_path(space.id, folder.id, :format => 'js'), :html => { :multipart => true, :target => 'upload_frame', :onsubmit => "$('#new-file-spinner').show()"}) do |f| %>
            <div class="file-wrapper clearfix">
              <%= f.file_field :attachment %>
              <%= link_to "Procurar", "#", :class => "browse button" %>
            </div>
            <%= f.hidden_field :folder_id, :value => folder.id %>
            <%= hidden_field_tag :space_id,  space.id %>
            <%= submit_tag 'Ok' %>
            <%= image_tag 'spinner.gif', :id => 'new-file-spinner', :class => "spinner", :style => 'display: none' %>
          <% end %>
          <iframe id='upload_frame' name="upload_frame" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>
        </div>
      </div>
    </div>
  <% end %>
</div>
