<tr>
  <td class="file <%= type_class(item_file)%>"></td>
  <td class='name' ><%= link_to h(item_file.attachment_file_name),
    download_space_folder_path(:id => folder.id, :file_id => item_file.id,
                               :space_id => space.id)%></td>
  <td class="size"><span class="size"><%= bytes_to_kb(item_file.attachment_file_size) %> Kb</span></td>
  <td class="date"><span class="date"><%= time_ago_in_words(item_file.attachment_updated_at) %></span></td>

    <td class="delete" colspan="2">
      <% if can_delete %>
          <%=
            link_to "",
              destroy_file_space_folder_path(space, folder,
                                             :file_id => item_file.id),
              :confirm => 'Tem certeza?',
              :method => :delete,
              :remote => true,
              :class => "delete icon-close-gray_8_10-before"
            %>
      <% end %>
    </td>
</tr>
