<%#
  Linha da tabela de arquivos.

  Variáveis:
    space: a disciplina.
    folder: a pasta atual.
    can_delete: se pode deletar os arquivos.
%>

<tr>
  <td>
    <% ext = file_type_class(item_file) %>
    <%= content_tag :span, ext, title: ext,
      class: "files-list-centralize sprite-file-ext file-ext-#{ ext } text-replacement" %>
  </td>
  <td>
    <%= link_to h(item_file.attachment_file_name),
      download_space_folder_path(id: folder.id, file_id: item_file.id,
                                 space_id: space.id) %>
  </td>
  <td>
    <%= content_tag :span,
      "#{ bytes_to_kb(item_file.attachment_file_size) } Kb", class: "legend" %>
  </td>
  <td>
    <%= content_tag :span, time_ago_in_words(item_file.attachment_updated_at),
      class: "legend" %>
  </td>
  <td>
    <% if can_delete %>
      <%= link_to "Remover arquivo",
          destroy_file_space_folder_path(space, folder,
                                         file_id: item_file.id),
          confirm: "Tem certeza?",
          method: :delete,
          remote: true,
          class: "files-list-centralize icon-close-gray_8_10 text-replacement",
          title: "Remover arquivo"
        %>
    <% end %>
  </td>
</tr>