<%= image_tag("loadingAnimation.gif", :id => "loading-files", :style =>"display: none;" ) %>

<table class="common folders">
  <thead>
    <tr>
      <th style="width: 30px;"></th>
      <th style="width: 290px;"><%= link_order 'Nome', 'name' %></th>
      <th style="width: 110px;"><%= link_order 'Tamanho', 'filesize' %></th>
      <th style="width: 135px;"><%= link_order 'Modificado', 'date_modified' %></th>
      <th style="width: 75px;"></th>
      <th style="width: 75px;"></th>
    </tr>
    <% if @folder.parent %>
      <tr>
        <td class="directory collapsed">&nbsp;</td>
        <td>
          <%= link_to "...", space_folders_path(@space, :id => @folder.parent),
            :remote => true %>
      </td>
      <td>--</td>
      <td>--</td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
</thead>
<% @folders.each do |folder| %>
  <tr id="folder_<%= folder.id %>">
    <td class="directory ext_folder"></td>
    <td>
      <%=
        link_to h(folder.name),
          space_folders_path(@space, :id => folder.id),
          :remote => true,
          :class => "folder-name"
        %>
      <div class="rename-folder" style="display:none;">
        <%= form_for :folder, folder, :url => space_folder_path(@space, folder),
          :remote => true, :html => { :method => :put } do |f| %>
          <%= f.text_field :name %>
          <%= f.submit 'Ok' %>
          <%= link_to "Cancelar", "#", :class => "cancel" %>
          <%= image_tag 'spinner.gif', :id => "rename-folder-spinner_#{folder.id}", :style => 'display: none' %><BR>
        <% end %>
      </div>
    </td>
    <td><span class="size">--</span></td>
    <td><span class="date"><%= time_ago_in_words(folder.date_modified) %></span></td>

    <% if @can_update %>
      <td>
        <%= link_to "Renomear", '#',
          :class => "rename icon icon-management-gray_8_8",
          :id => "#{folder.id}" %>
      </td>
    <% end %>

    <% if @can_delete %>
      <td>
        <%=
          link_to "Remover",
            destroy_folder_space_folder_path(@space, folder),
            :confirm => "Todos os arquivos e subpastas serão removidos.\nDeseja continuar?",
            :method => :delete,
            :remote => true,
            :class => "delete icon icon-x-gray_8_8"
          %>
      </td>
    <% end %>
  </tr>
<% end %>

<% @myfiles.each do |myfile| %>
  <tr>
    <td class="file <%= type_class(myfile)%>"></td>
    <td><%= link_to h(myfile.attachment_file_name),
      download_space_folder_path(:id => @folder.id, :file_id => myfile.id,
                                 :space_id => @space.id)%></td>
    <td><span class="size"><%= bytes_to_kb(myfile.attachment_file_size) %> Kb</span></td>
    <td><span class="date"><%= time_ago_in_words(myfile.attachment_updated_at) %></span></td>

    <% if @can_delete %>
      <td colspan="2">
        <%=
          link_to "Remover",
            destroy_file_space_folder_path(@space, @folder,
                                           :file_id => myfile.id),
            :confirm => 'Tem certeza?',
            :method => :delete,
            :remote => true,
            :class => "delete icon icon-x-gray_8_8"
          %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>
