<div id="folder-index" class="clearfix">
  <% if flash[:folder_error] %>
    <div id="error"><%= flash[:folder_error] %></div>
  <% end %>

  <div class="folder">
    <span class="title">Pastas</span>
    <div id="folder-context" class="context">
      <%= render :partial => 'folders/context', :locals => { :folder => @folder } %>
    </div>

    <%= image_tag("loadingAnimation.gif", :id => "loading-files", :style =>"display: none;" ) %>
    <ul class="folder_list child-folders">
      <%= render :partial => "folders/item", :collection => @folders,
        :locals => { :space => @space, :can_update => @can_update,
          :can_delete => @can_delete } %>
    </ul>
  </div>

  <div id="file_list" >
    <span class="quota">Usando <%= number_to_human_size(@space.course.quota.try(:files) || @space.course.environment.quota.try(:files), :precision => 0) %></span>
    <% unless  @myfiles.empty? %>
      <span class="title">Arquivos</span>
      <table class="common files">
        <thead style="display: none;">
          <tr>
            <th style="width: 20px;"></th>
            <th style="width: 350px;"><%= link_order 'Nome', 'name' %></th>
            <th style="width: 100px;"><%= link_order 'Tamanho', 'filesize' %></th>
            <th style="width: 165px;"><%= link_order 'Modificado', 'date_modified' %></th>
            <th style="width: 20px;"></th>
          </tr>
        </thead>
        <%= render :partial => "folders/item_file", :collection => @myfiles,
          :locals => { :space => @space, :folder => @folder,
            :can_delete => @can_delete } %>
      </table>
      <span class="quota">Usando <%= number_to_human_size(@space.course.quota.try(:files) || @space.course.environment.quota.try(:files), :precision => 0) %></span>
    <% end %>
  </div>
</div>