<%= render :partial => 'spaces/sidebar', :locals => { :space => @space } %>
<div class="main space grid_12 omega big-col">
  <%= render :partial => 'spaces/breadcrumbs', :locals => { :space => @space } %>
  <%= render :partial => 'spaces/header',
    :locals => { :space => @space }%>

  <div id="space-subjects" class="body clearfix">
    <div class="header clearfix">
      <h4 class="title">Arquivos de Apoio</h4>
      <span class="detail">(<%= pluralize @files_count, "arquivo" %>)</span>
    </div>
    <%= render :partial => 'folders/admin',
      :locals => { :space => @space, :folder => @folder, :myfile => @myfile } %>
    <div id="materials" class="main-content">
      <%= render :partial => 'folders/list' %>
    </div>
  </div><!-- end #environment-courses -->

</div><!-- end main -->
