<% content_for :container_class do "entity-wrapper" end %>

<div class="span3">
  <%= render "spaces/sidebar_new", space: @space, user: current_user %>
</div>
<div class="span13">
  <%= render "spaces/breadcrumbs_new", space: @space %>
  <div class="content-body">
    <%= render "spaces/header_new", space: @space %>

    <div class="content-section">
      <ul class="header-breadcrumb-big">
        <li class="header-breadcrumb-big-item">
          <a class="header-breadcrumb-big-link" href="#" title="Arquivos de Apoio">Arquivos de Apoio</a>
        </li>
      </ul>
    </div>

    <div class="content-section clearfix">
      <%= render 'folders/admin', :space => @space, :folder => @folder,
        :myfile => @myfile %>
    </div>
    <div class="content-section">
      <%= render 'folders/list' %>
    </div>
  </div>
</div>