<% content_for :header_scripts_and_styles do %>
  <%= javascript_include_tag "jquery.filestyle.mini.js" %>
  <%= javascript_include_tag "folders.js" %>
<% end %>

<%= render :partial => 'spaces/sidebar', :locals => { :space => @space } %>
<div class="main grid_12 omega big-col">
  <%= render :partial => 'spaces/breadcrumbs', :locals => { :space => @space } %>
  <%= render :partial => 'spaces/header',
    :locals => { :space => @space }%>
  <div id="space-materials" class="hierarchy-listing-wrapper">
    <div class="header">
      <h4>Material de apoio</h4>
      <span class="counter"><%= @files_count %> arquivos no total</span>
    </div>
  </div>
  <div>
    <div id="materials">
      <%= render :partial => 'folders/index' %>
    </div>
  </div>
</div><!-- end main -->
