<% content_for :container_class do "entity-wrapper" end %>

<div class="span3">
  <%= render "spaces/sidebar_new", space: @space, user: current_user %>
</div>
<div class="span13">
  <%= render "spaces/breadcrumbs_new", space: @space %>
  <div class="content-body">
    <%= render "spaces/header_new", space: @space %>

    <div class="space-sub-header content-section">
      <h3 class="header-breadcrumb-big icon-file-gray_32_34-before">Arquivos de Apoio</h3>
    </div>

    <%= render "admin", space: @space, folder: @folder, myfile: @myfile %>

    <div class="content-section">
      <%= render "list", space: @space, folder: @folder,
        folders: @folders, can_update: @can_update, can_delete: @can_delete,
        myfiles: @myfiles %>
    </div>
  </div>
</div>