<div id="all_content3">
<div id="col_content_video">
	<div id="breadcrumbs_video"><a href="<%=application_url%>">home</a> > <%= link_to 'redes', schools_path %> > <strong><a href="#"><%= @school.name%></a></strong></div>  
    <div id="title">ARQUIVOS</div>
<!-- LISTAGEM RECURSO ############################################################################################################################################## -->

<% if flash[:folder_error] %>
    <div id="error"><%= flash[:folder_error] %></div>
<% end %>




<div id="all_list">
	
<%= render :partial => "schools/school_info", :locals => {:school => @school}%>
</div>


<h3>Upload de arquivo</h3>

<% form_for :myfile, @myfile, :url => { :action => "do_the_upload" }, :html => { :multipart => true } do |f| %>
  <%= f.file_field :attachment %> (max. 10MB)
  <%= f.hidden_field :folder_id, :value => @folder_id %>
  <%= hidden_field_tag :school_id,  @school.id %>
   <br>
   <%= submit_tag 'OK' %>
<% end %>



<%= link_to 'Voltar', school_folders_path(:school_id => @school.id)%>

</div></div></div>