<div class="landing-functionalities">
  <h1 id="funcionalidades" class="landing-navigation-title">Funcionalidades</h1>
  <%= render :partial => "landing/social-network-&-chat" %>
  <hr>
  <%= render :partial => "landing/discussion-wall" %>
  <hr>
  <%= render :partial => "landing/multimedia-classes" %>
  <hr>
  <%= render :partial => "landing/basic-reports" %>
  <hr>
  <%= render :partial => "landing/management-&-support" %>
  <hr>
  <%= render :partial => "landing/oer" %>
  <hr>
  <%= render :partial => "landing/api" %>
  <hr>
  <%= render :partial => "landing/others" %>
</div>
