<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'reset.css'	%>
    <%= stylesheet_link_tag '960.css'	%>
    <%= stylesheet_link_tag 'style-closed.css'	%>
    <%= javascript_include_tag 'jquery-1.4.2.min.js', 'jquery-ui-1.8.1.custom.min.js'  %>
</head>
<body>
  <div class="container_16 clearfix">
    <div id="header" class="grid_16 alpha omega">
      <h1 class="logotipo grid_5 alpha">
      	<a href="/">Redu - Rede Social Educacional</a>
      </h1>
      <div class="menu grid_4 prefix_6 omega">
      	<ul>
           <li><%= link_to "Sobre", home_path %></li>
          <li><%= link_to "Contato", contact_path %></li>
      	</ul>
      </div>
    </div>

    <div id="content" class="grid_16 alpha omega">
    <script type="text/javascript"  charset="utf-8">
      $(document).ready(function(){
          $(".tabs").tabs({
            fx: { opacity: 'toggle' }
          });
          $(".tabs").tabs("rotate", 8000);
      })
    </script>
      <div id="banner" class="tabs grid_11 alpha">
        <ul>
        	<li class="redu">
        		<a href="#redu">O Redu</a>
        	</li>
        	<li class="professores">
        		<a href="#professores">Professores</a>
        	</li>
        	<li class="alunos">
        		<a href="#alunos">Alunos</a>
        	</li>
        </ul>
        <div id="redu" class="banner1">
        <span class="call">O Redu <em>promove</em> um ambiente social para a <em>aprendizagem</em></span>
        </div>
        <div id="professores" class="banner2">
          <span class="call">Recursos <em>inteligentes</em> que facilitam a <em>aprendizagem</em></span>
        </div>
        <div id="alunos" class="banner3">
          <span class="call">Aprender ficou mais <em>prático</em></span>
        </div>
      </div>
      <div id="sidebar" class="grid_5 omega">
       <div class="beta box">
          <div class="call">
          	<span class="name">Recebeu o convite?</span>
          	<span class="tip">Informe a chave e teste o Redu</span>
                <% form_tag new_user_path, :method => :get,
                    :class => 'common beta_key'  do |f|  %>
                    <% field_set_tag "Informe a chave recebida por e-mail",
                        :class => "hide" do %>
                      <%= label_tag :beta_key, "Chave" %>
                      <%= text_field_tag :beta_key, nil, :class => "small" %>
                      <button class="common small"><span>Ok!</span></button>
                    <% end %>
                <% end %>
          </div>
        </div>
        <div class="login box">
          <div class="call">
          	<span class="name">Acesse o Redu</span>
                <span class="tip">Digite seus dados para entrar</span>
                <% @user_session = UserSession.new %>
                <% form_for :user_session, :url => sessions_path, 
                    :html => { :class => "common" } do |f|  %>
                    <%= render :partial => 'users/login', :locals => {:f => f} %>
                <% end %>
          </div>
        </div>
 
      </div>
    </div>
 </div>
 <div id="footer" class="clearfix">
   <div class="container_16">
     <div class="grid_11"><span class="copyright">2010 - Todos os direitos reservados - Redu</span></div>
   </div>
 </div>
</body>
</html>

