<div class="span3">
  <%= render :partial => "users/left_sidebar" %>
</div>
<div class="span10">
  <div class="content-area">
    <%= render :partial => "users/breadcrumb_home" %>
    <div class="content-body">
      <div class="environment-title">
        <h2 class="portal-title icon-apps-portal-gray_48_50-before link-container pull-left">
          <a href="/" class="portal-title-link link-target" title="Ambientes que Participo">Ambientes que Participo</a>
        </h2>
      </div>
      <%= render :partial => "home/environments/list_environment_course_space",
                 :locals => { :environments => @environments } %>
      <div class="pagination">
        <hr class="list-separator">
        <a class="button-default icon-arrow-down-pagination-gray_16_18-before" href="SHOW_MORE_LINK"  title="Mostrar mais...">Mostrar mais...</a>
      </div>
    </div>
    <%= render :partial => "users/breadcrumb_home" %>
  </div>
</div>
<div class="span3">
  <%= render :partial => "users/right_sidebar" %>
</div>
