<div class="span3">
  <%= render :partial => "users/left_sidebar",
     :locals => { :user => @user } %>
</div>
<div class="span10">
  <div class="content-area">
    <%= render :partial => "users/breadcrumb_home",
       :locals => { :user => @user } %>
    <div class="content-body">
      <%= render :partial => "users/welcome_greeting",
         :locals => { :user => @user } %>
      <%= render :partial => "users/explore_redu", :locals => { :user => @user} %>
      <% unless @user.settings.visited?("learn-environments") %>
        <hr class="list-separator">
        <div class="home-container">
          <div class="learning-environments">
            <span id="learn-environments" data-tour="learn-environments" data-dismiss="alert" class="message-close">×</span>
            <div class="big">
              <h3>O que são Ambientes de Aprendizagem?</h3>
              <p>Os Ambientes de Aprendizagem são locais de criação, interação e discussão de conteúdos (textos, imagens, vídeos, apresentações, aplicativos, etc). Entenda sua hierarquia no gráfico abaixo:</p>
            </div>
            <div class="small institution">
              <h4>Instituição / Produtor Independente</h4>
              <p class="legend">Cada Ambiente de Aprendizagem começa pelo espaço da Instituição (ou Produtor), onde se tem acesso aos Cursos. <b>Exemplo: Escola Pernambucana</b></p>
            </div>
            <div class="small">
              <h4>Curso</h4>
              <p class="legend">Neste espaço estão organizados os Membros e opções de privacidade. Daqui pode-se requisitar matrícula, convidar e gerenciar. <b>Exemplo: 3° Ano – Ensino Médio</b></p>
            </div>
            <div class="small space right">
              <h4>Disciplina</h4>
              <p class="legend">O conteúdo é dividido em Disciplinas, seja em ordem cronológica ou organizacional. Dentro destes espaços os Membros interagem e se tem Relatórios sobre seu desempenho. <b>Exemplo: Português</b></p>
            </div>
            <div class="small right">
              <h4>Módulo e Aula</h4>
              <p class="legend">Aqui é disponibilizado o conteúdo propriamente dito: as Aulas Multimídia. O Módulo serve para organizar as Aulas e permitir aos Membros o controle sobre seu aprendizado. <b>Exemplo: Módulo I: Ortografia; Aula I: Regras Básicas de Acentuação Gráfica</b></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= render :partial => "users/breadcrumb_home",
       :locals => { :user => @user } %>
  </div>
</div>
<div class="span3">
  <%= render :partial => "users/right_sidebar",
     :locals => { :user => @user } %>
</div>
<%= render :partial => "users/tour", :locals => { :user => @user } %>
