<div class="container">
  <ul class="landing-navigation">
    <li class="landing-navigation-item">
      <%= render :partial => "landing/filters" %>
    </li>
    <li class="landing-navigation-item">
      <%= render :partial => "landing/segments" %>
    </li>
    <li class="landing-navigation-item">
      <%= render :partial => "landing/advantages" %>
    </li>
    <li class="landing-navigation-item">
      <%= render :partial => "landing/social-network-&-chat" %>
    </li>
    <li class="landing-navigation-item">
      <%= render :partial => "landing/discussion-wall" %>
    </li>
    <li class="landing-navigation-item">
      <%= render :partial => "landing/multimedia-classes" %>
    </li>
    <li class="landing-navigation-item">
      <%= render :partial => "landing/basic-reports" %>
    </li>
    <li class="landing-navigation-item">
      <%= render :partial => "landing/management-&-support" %>
    </li>
    <li class="landing-navigation-item">
      <%= render :partial => "landing/oer" %>
    </li>
    <li class="landing-navigation-item">
      <%= render :partial => "landing/api" %>
    </li>
    <li class="landing-navigation-item">
      <%= render :partial => "landing/misc" %>
    </li>
    <li class="landing-navigation-item">
      <%= render :partial => "landing/plans" %>
    </li>
    <li class="landing-navigation-item">
      <%= render :partial => "landing/partners" %>
    </li>
  </ul>
</div>
