<div class="container">
  <div class="landing-navigation">
    <%= render :partial => "landing/filters" %>
    <hr class="list-separator"/>
    <%= render :partial => "landing/segments" %>
    <hr class="list-separator"/>
    <%= render :partial => "landing/advantages" %>
    <hr class="list-separator"/>
    <%= render :partial => "landing/functionalities" %>
    <hr class="list-separator"/>
    <%= render :partial => "landing/plans" %>
    <hr class="list-separator"/>
    <%= render :partial => "landing/partners" %>
  </div>
</div>
