<% content_for :page_id, 'learn' %>
<div id="group-header-learn" class="container_16">
    <div class="logo-learn">
        <span>Aprender</span>
    </div>
    <div class="info grid_5">
    	<h2 class="text-header"><a href="">Acompanhe seus cursos, suas redes e explore novos recursos!</a></h2>
    </div><!-- end info -->
    
</div><!-- end group-header -->

<div class="grid_5 calls">
    <ul class="sortable clearfix">
    <li class="clearfix">
    <span class="call"><span>Popular</span></span>
    <ul class="box-popular-resources">
        <li>
            <img src="../images/learn_r2_c2.jpg" alt="" />
            <a href="" class="tt-popular">Direito Penal em 20 aulas</a>
            <a href="" class="views">613 visualizações</a>
            <a href="" class="source">Faculdade Joaquim Nabuco</a>
        </li>
        <li>
            <img src="../images/learn_r2_c2.jpg" alt="" />
            <a href="" class="tt-popular">Direito Penal em 20 aulas</a>
            <a href="" class="views">613 visualizações</a>
            <a href="" class="source">Faculdade Joaquim Nabuco</a>
        </li>
        <li>
            <img src="../images/learn_r2_c2.jpg" alt="" />
            <a href="" class="tt-popular">Direito Penal em 20 aulas</a>
            <a href="" class="views">613 visualizações</a>
            <a href="" class="source">Faculdade Joaquim Nabuco</a>
        </li>
        <li>
            <img src="../images/learn_r2_c2.jpg" alt="" />
            <a href="" class="tt-popular">Direito Penal em 20 aulas</a>
            <a href="" class="views">613 visualizações</a>
            <a href="" class="source">Faculdade Joaquim Nabuco</a>
        </li>          
    </ul>
    </li>
    <!--
    <li class="clearfix">
    <span class="call"><span>Recursos recomendados</span></span>
    <ul class="box-popular-resources">
        <li>
            <img src="images/learn_r2_c2.jpg" alt="" />
            <a href="" class="tt-popular">Direito Penal em 20 aulas</a>
            <a href="" class="views">613 visualizações</a>
            <a href="" class="source">Faculdade Joaquim Nabuco</a>
        </li>
        <li>
            <img src="images/learn_r2_c2.jpg" alt="" />
            <a href="" class="tt-popular">Direito Penal em 20 aulas</a>
            <a href="" class="views">613 visualizações</a>
            <a href="" class="source">Faculdade Joaquim Nabuco</a>
        </li>
        <li>
            <img src="images/learn_r2_c2.jpg" alt="" />
            <a href="" class="tt-popular">Direito Penal em 20 aulas</a>
            <a href="" class="views">613 visualizações</a>
            <a href="" class="source">Faculdade Joaquim Nabuco</a>
        </li>           
    </ul>
    </li>-->
    </ul><!-- end sortable -->
</div><!-- end calls -->
<div class="explore calls grid_7">
    <ul class="sortable clearfix ui-sortable" unselectable="on" style="-moz-user-select: none;">
        
        <li class="clearfix">
        <span class="call"><span>Explorar</span></span>
            <ul class="clearfix box-explore">
                <li>
					<a href="http://example.com/" class="area">Concursos</a>
                    <a href="http://example.com/" class="categories">Ensino superior</a>, <a href="http://example.com/" class="categories">Direito penal</a>, <a href="http://example.com/" class="categories">Matemática</a>, <a href="http://example.com/" class="categories">Português</a>
                </li>
            </ul>
            <a style="display: block;" href="" class="more">Ver mais</a>
        </li>
    </ul>
</div><!-- explore main -->

<div class="sidebar grid_4 sidebar-right">
    <div class="box-user-login">
        <%= 
            link_to image_tag( current_user.avatar.url(:thumb), 
                {:width => "50", :height=>"45", :border => 0 }), @user 
        %>
		<%= link_to current_user.display_name, current_user, :class => "name-user" %> 
		<%= link_to "Meu perfil", @user, :class => "text-profile" %> 
    </div><!-- end box-user-login -->

    <ul class="sortable clearfix ui-sortable">
    <li class="clearfix">
    <span class="call"><span>Seus cursos (4)</span></span>
        <ul class="sub-groups box-course progress-bar">
            <li>
                <span class="course">Revolução Francesa</span>
                <span class="bar-chart">
                    <span style="width: 70%;"><span>70%</span></span>
                </span>
            </li>
            <li>
                <span class="course">Fisiologia da Obesidade</span>
                <span class="bar-chart">
                    <span style="width: 30%;"><span>30%</span></span>
                </span>
            </li>
            <li>
                <span class="course">Segunda Guerra</span>
                <span class="bar-chart">
                    <span style="width: 90%;"><span>90%</span></span>
                </span>
            </li>
        </ul>
        <a class="more" href="" style="display: block;">Ver mais</a>
    </li>
    
    <li class="clearfix">
    <span class="call"><span>Suas redes (4)</span></span>
    <div class="followship box clearfix">
        <ul class="clearfix">
	    <% unless @schools.empty? %>
		<% @schools.each do |school| %>
	    	  <li><%= link_to image_tag(school.avatar_photo_url(:thumb), {:width => "50", :height=>"45", :border => 0 }), school %>
		<% end %>
	    <% end %>
        </ul>
        <%= link_to 'Ver mais', schools_path, :class => 'icon more' %>
    </div>
    </li>
    </ul>        
    
        
        
</div><!-- sidebar content -->
