<%= render :partial => "landing/welcome" %>
<div class="container">
  <div class="landing-navigation">
    <%= render :partial => "landing/filters" %>
    <hr id="segmentos" class="list-separator"/>
    <%= render :partial => "landing/segments" %>
    <hr id="vantagens" class="list-separator"/>
    <%= render :partial => "landing/advantages" %>
    <hr id="funcionalidades" class="list-separator"/>
    <%= render :partial => "landing/functionalities" %>
    <hr id="planos"  class="list-separator"/>
    <%= render :partial => "landing/plans" %>
    <hr id="parceiros" class="list-separator"/>
    <%= render :partial => "landing/partners" %>
  </div>
</div>
