<div class="container_16 clearfix" id="home">
  <div class="grid_10 alpha">
    <h1 class="logotipo replacement">
      <a href="">Redu: rede social educacional</a>
    </h1>
    <div class="call">
      <strong>Potencializado o talento das pessoas</strong>
      <p>O Redu é uma plataforma de ensino a distância que foi construída tendo como base as interações sociais. </p>
      <p>
        Aqui, o aluno tem acesso fácil ao conteúdo disponibilizado pelo professor, que por sua vez consegue organizar suas aulas com mais rapidez e eficácia.
      </p>
      <p>Esse ambiente de aprendizagem atende as necessidades de instituições e produtores independentes que querem construir sua própria EaD.</p>
    </div>
  </div>
  <div class="grid_6 omega">
    <div class="hall">
      <%= link_to "Criar nova conta", signup_url, :class => "important signup" %>
      <hr/>

      <%= form_for @user_session, :html => { :class => "form-common highlightable"} ,:url => sessions_path do |f| %>

        <%= field_set_tag do %>

          <%= f.label :login, "Login ou e-mail:", :class => "small" %>
          <%= f.text_field :login, :class => "small" %>
          <%= error_for :user_session, :login %>

          <%= f.label :password, "Senha:" ,:class => "small" %>
          <%= f.password_field :password, :class => "small" %>
          <%= error_for :user_session, :password %>

          <%= field_set_tag "", :class => "inline" do %>
            <%= f.check_box :remember_me %>
            <%= f.label :remeber_me, "Manter-me logado" %>
          <% end %>

          <%= f.submit "Avançar" %>
        <% end %>

      <% end %>

    </div>
    <%= "Esqueceu seu login?" %>
    <%= link_to "Clique aqui para recuperar o login",
      forgot_username_url %>
    <%= "Esqueceu sua senha?" %>
    <%= link_to "Clique aqui para recuperar a senha",
      forgot_password_url %>
  </div>
</div>
