<input type="checkbox" id="ck-modal">
<div class="bg-modal">
  <label for="ck-modal" class="label-bg"></label>
  <section id="painel-cadastro">
    <h4 class="title-modal">Criar uma conta <label for="ck-modal"><span class="icv"></span><span class="ich"></span></label></h4>
    <span class="error-message">Um texto de erro aqui também</span>
    <p class="info-face">Caso tenha uma conta no Facebook, você pode evitar o trabalho de preencher formulários ao associar sua conta ao Openredu. Desta forma, o cadastro é feito de forma automática.</p>
    <div class="cad-facebook">
      <figure class="icon-social">
        <a href="#">
            <%= image_tag('facebook.svg')%>
            <p>Cadastre-se usando o Facebook</p>
        </a>
      </figure>
    </div>
    <form class="form-cadastra">
      <div class="field-group">
        <input type="text" name="fname" placeholder="Seu primeiro nome">
        <input type="text" name="fname" placeholder="Seu sobrenome">
        <input type="email" name="email" placeholder="Seu e-mail de contato" class="email">
        <input type="email" name="email-confirm" placeholder="Repita seu e-mail aqui" class="email">
        <input type="text" name="login" placeholder="Digite um nome de usuário/login" class="clr">
        <label class="info">O Login define como será o endereço de sua página no Openredu.<label>
        <div class="mail">
          <input type="password" name="senha" placeholder="Crie uma senha">
          <input type="password" name="senha-confirm" placeholder="Repita a senha aqui">
        </div>
        <label class="captcha">
          <span class="title">Pergunta aleatória</span>
          <em>?</em>
          <span class="tooltip">Lore ipsum dolor...Lore ipsum dolorLore ipsum dolorLore ipsum dolor</span>
        </label>
          <input type="text" class="captcha" name="captcha" placeholder="Digite a resposta aqui" >
      </div>
      <div class="confirm-terms">
        <input type="checkbox" class="input-check" id="ck-confirm-terms"/><label for="ck-confirm-terms">Aceito os <a href="#">Termos de Uso</a> da plataforma Openredu</label>
      </div>
      <div class="bt-groups">
        <button id="bt_cancelar" class="bt inativo">cancelar</button><button id="bt_enviar" class="bt ativo">cadastrar</button>
      </div>
    </form>
  </section>
</div>
<section id="content" class="principal">
  <div class="left">
    <figure class="logo">
      <%= image_tag('logo-openredu.svg')%>
    </figure>
    <h1 class="title">Aprender nunca foi tão fácil</h1>
    <p class="intro">
      O Openredu é uma plataforma para ensino com tecnologia, que permite criar, compartilhar e discutir conteúdos das mais diversas formas, estimulando a aprendizagem, colaboração e diversão.
    </p>
  </div>
  <div class="right">
    <section class="form-container">
      <%= form_for @user_session || UserSession.new, :remote => true, url: sessions_path, html: { class: 'form-login' } do |f| %>
        <h2 class="sub-title">ACESSE SUA CONTA AQUI</h2>
        <% unless @user_session.errors.empty? %>
          <ul class="messages-errors">
            <% f.object.errors.each do |key, msg| %>
              <li class="error-message"><%=msg%></li>
            <% end %>
          <ul>
        <% end %>
        <%= f.text_field :login, class: 'input', placeholder: 'login' %>
        <%= f.password_field :password, class: 'input', placeholder: 'senha' %><br />
        <%= f.check_box :remember_me, class: 'check', id: 'lembrar-me' %>
        <label class="lb-check-lembrar" for="lembrar-me">lembrar</label><br />
        <button class="bt active">entrar</button>
      <% end %>
      <a href="#" class="bt in">esqueci a senha</a>
      <div class="loginface">
        <a href="#">
          <%= image_tag('facebook.svg')%>
          <p>Login com Facebook</p>
        </a>
      </div>
    </section>
    <section class="out-form">
      <label class="bt out" for="ck-modal">criar uma conta</label>
    </section>
  </div>
</section>
<footer id="foot-page">
  <section class="footer main">
    <div class="about">
      <figure>
        <%= image_tag('logo-openredu-pb50.svg')%>
      </figure>
      <p>
      Openredu é uma rede social educacional desenvolvida por pesquisadores da UFPE e mantida por dezenas de colaboradores no Brasil e em em diversos países.
      </p>
    </div>
    <div class="area-menu">
      <nav class="menu">
        <ul>
          <li class="item"><a href="#" >Sobre o Openredu</a></li>
          <li class="item"><a href="#" >Colabore com o projeto</a></li>
          <li class="item"><a href="#" >Conheça a comunidade</a></li>
          <li class="item"><a href="#" >Fórum</a></li>
          <li class="item"><a href="#" >Política de privacidade</a></li>
          <li class="item"><a href="#" >Termos de uso</a></li>
        </ul>
      </nav>
    </div>
    <div class="more-contact">
      <p class="copyleft">Orgulhosamente desenvolvido pela comunidade</p>
      <figure>
        <%= image_tag('openredu-org-white.svg')%>
      </figure>
      <div class="icones-social">
        <ul>
          <li class="item-social">
            <a href="#">
              <figure class="icon-social">
                <%= image_tag('facebook.svg')%>
              </figure>
            </a>
          </li>
          <li class="item-social">
            <a href="#">
              <figure class="icon-social">
                <%= image_tag('twitter.svg')%>
              </figure>
            </a>
          </li>
          <li class="item-social">
            <a href="#">
              <figure class="icon-social">
                <%= image_tag('youtube.svg')%>
              </figure>
            </a>
          </li>
          <li class="item-social">
            <a href="#">
              <figure class="icon-social">
                <%= image_tag('github.svg')%>
              </figure>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</footer>
