<div class="container">
  <div class="landing-navigation">
    <%= render :partial => "filters" %>
    <hr class="list-separator"/>
    <%= render :partial => "form_login" %>
    <hr class="list-separator"/>
    <%= render :partial => "segments" %>
    <hr class="list-separator"/>
    <%= render :partial => "advantages" %>
    <hr class="list-separator"/>
    <%= render :partial => "functionalities" %>
    <hr class="list-separator"/>
    <%= render :partial => "plans" %>
    <hr class="list-separator"/>
    <%= render :partial => "partners" %>
  </div>
</div>




