<% content_for :page_id, 'teach' %>
<div class="container_16" id="group-header-learn">
	<div class="logo-learn">
	    <span>Ensinar</span>
	</div>
	<div class="info grid_5">
		<h2 class="text-header"><a href="">Gerencie suas redes e estimule seus aprendizes!</a></h2>
	</div><!-- end info -->

	<div id="box-nav-networks">
	    <ul>
	        <li class="bt-networks">
		        <%= link_to "Crie Redes!", new_school_path, :class => "text-tt" %>
				<%= link_to "Crie espaços para distribuição do seu conteúdo", new_school_path, :class => "text-desc" %>
	        </li>
	        <li class="bt-aulas">
	            <%= link_to "Crie Aulas!", new_course_path, :class => "text-tt" %>
				<%= link_to "Atinja muito mais pessoas com sua aula", new_course_path, :class => "text-desc" %>
	        </li>
	        <li class="bt-exames">
	            <%= link_to "Crie Exames!", new_exam_path, :class => "text-tt" %>
	            <%= link_to "Elabore exercícios e simulados para os seus alunos", new_exam_path, :class => "text-desc" %>
	
	        </li>

	    </ul>
	</div>
</div>

<ul class="grid_16 sortable calls headlines">
	<li class="clearfix grid_5 students-overview">
		<span class="call">
			<span>Meus alunos</span>
			<span class="option" id="">Opções</span>
			<ul class="options">
				<li><a href="">Nova aula</a></li>
				<li><a href="">Outra opçao</a></li>
				<li><a href="">Outra opçao</a></li>
			</ul>
		</span>
		<ul>
			<li class="clearfix">
				<img src="/images/thumb.gif" alt="" class="photo" /><a href="" class="name">Guilherme</a>
				<a href="" class="info">Redu</a>
			</li>
			<li class="clearfix">
				<img src="/images/thumb.gif" alt="" class="photo" /><a href=""  class="name">Cassio</a>
				<a href="" class="info">Colégio de Aplicaçãp</a>
			</li>
			<li class="clearfix">
				<img src="/images/thumb.gif" alt="" class="photo" /><a href=""  class="name">André</a>
				<a href="" class="info">CIn</a>
			</li>
		</ul>
	</li>
	
	<li class="clearfix grid_5 lectures-overview">
		<span class="call">
			<span>Minhas aulas</span>
		</span>
		<ul>
			<li class="clearfix">
				<img src="/images/thumb.gif" alt="" class="photo"/><a href="" class="name">Direito penal</a>
			</li>
			<li class="clearfix">
				<img src="/images/thumb.gif" alt="" class="photo"/><a href="" class="name">Portugês para vestibular</a>
			</li>
			<li class="clearfix">
				<img src="/images/thumb.gif" alt="" class="photo"/><a href="" class="name">História do Brasil</a>
			</li>
		</ul>
	</li>

	<li class="clearfix grid_5 personal-overview">
		<span class="call">
			<span>Meu Perfil</span>
			<span class="option" id="">Opções</span>
			<ul class="options">
				<li><a href="">Nova aula</a></li>
				<li><a href="">Outra opçao</a></li>
				<li><a href="">Outra opçao</a></li>
			</ul>
		</span>
		<img src="/images/thumb.gif" alt="" class="photo" />
		<a href="" class="name">Guilherme Cavalcanti</a>
		<a href="" class="edit">Editar</a>
		<a href="" class="plan">PRO</a>
	</li>	
	<li class="clearfix grid_5 statistics">
		<span class="call"><span>Estatísticas</span></span>
		<div></div>
	</li>
	
	<li class="clearfix grid_5 groups">
		<span class="call">
			<span>Minhas Redes</span>
		</span>
		<ul>
			<li class="clearfix"><img src="/images/thumb.gif" class="photo"><a href="" class="name">Colégio Aplicacao</a></li>
			<li class="clearfix"><img src="/images/thumb.gif" class="photo"><a href="" class="name">Colégio Damas</a></li>
			<li class="clearfix"><img src="/images/thumb.gif" class="photo"><a href="" class="name">NUCE</a></li>
		</ul>
	</li>
	
	<li class="clearfix grid_5 courses">
		<span class="call">
			<span>Meus Cursos</span>
		</span>
		<ul>
			<li><a href="" class="name">Colégio Aplicacao</a></li>
			<li><a href="" class="name">Colégio Damas</a></li>
			<li><a href="" class="name">NUCE</a></li>
		</ul>
	</li>
</ul>