<% content_for :page_id, 'teach' %>

<style>
.cx-widget {
-webkit-box-shadow: #AAA 0px 4px 10px;
background-color: #E9E9E9;
border-bottom-left-radius: 10px 10px;
border-bottom-right-radius: 10px 10px;
border-top-left-radius: 10px 10px;
border-top-right-radius: 10px 10px;
margin-top: 20px;
padding: 1px;
/*width: 306px;*/
	}
	
	.widget-head {
height: 18px;
margin: 0px auto;
padding: 3px 0px;
/*width: 294px;*/
padding-left: 10px;
}

.move {
cursor: move;
}

.widget-content {
background: #FDFDFD;
border-bottom-left-radius: 10px 10px;
border-bottom-right-radius: 10px 10px;
border-top-left-radius: 0px 0px;
border-top-right-radius: 0px 0px;
overflow: hidden;
padding: 15px 10px;
/*width: 286px;*/
}
</style>


<div class="container_16" id="group-header-learn">
	<div class="logo-learn">
	    <span>Ensine</span>
	</div>
	<div class="info grid_5">
		<h2 class="text-header"><a href="">Gerencie suas redes e estimule seus aprendizes!</a></h2>
	</div><!-- end info -->

	<div id="box-nav-networks">
	    <ul>
	        <li class="bt-networks">
		        <%= link_to "Crie Redes!", new_school_path, :class => "text-tt" %>
				<%= link_to "Crie espaços para distribuição do seu conteúdo", new_school_path, :class => "text-desc" %>
	        </li>
	        <li class="bt-aulas">
	            <%= link_to "Crie Aulas!", new_course_path, :class => "text-tt" %>
				<%= link_to "Produza e compartilhe conteúdo educacional", new_course_path, :class => "text-desc" %>
	        </li>
	        <li class="bt-exames">
	            <%= link_to "Crie Exames!", new_exam_path, :class => "text-tt" %>
	            <%= link_to "Elabore exercícios e simulados para os seus alunos", new_exam_path, :class => "text-desc" %>
	
	        </li>

	    </ul>
	</div>
	
</div>
<!--
<div class="cx-widget grid_5" id="inclusao"> 
    <div class="widget-head move"> 
    	<div class="seta-colapse"></div> 
    	<h3>Inclusão</h3> 
    </div> 
    
    <div class="widget-content"><a href="/inclusao/educacao-especial/seguranca-autonomia-429874.shtml"><img src="/img/home/gestao-escola-inclusiva-w.jpg" alt="gestão, escola inclusiva"></a>
      <h2><a href="/inclusao/educacao-especial/seguranca-autonomia-429874.shtml">Infográfico da escola inclusiva</a></h2> 
      <p><a href="/inclusao/educacao-especial/seguranca-autonomia-429874.shtml">Os cuidados para garantir a locomoção de todos com segurança e autonomia pela escola</a></p>
    
  <p>&nbsp;</p> 
  <p class="links_texto"><a href="/inclusao/educacao-especial/aprender-superar-511027.shtml"><strong>Fundamentos</strong>  Deficiências e síndromes</a></p> 
  <p class="links_video"><a href="/inclusao/educacao-especial/experiencia-matheus-aluno-autista-escola-482092.shtml"><strong>Vídeo</strong> Matheus, um aluno autista, na escola</a></p> 
    
    </div> 
</div>


<div class="cx-widget grid_5" id="inclusao"> 
    <div class="widget-head move"> 
    	<div class="seta-colapse"></div> 
    	<h3>Inclusão</h3> 
    </div> 
    
    <div class="widget-content"><a href="/inclusao/educacao-especial/seguranca-autonomia-429874.shtml"><img src="/img/home/gestao-escola-inclusiva-w.jpg" alt="gestão, escola inclusiva"></a>
      <h2><a href="/inclusao/educacao-especial/seguranca-autonomia-429874.shtml">Infográfico da escola inclusiva</a></h2> 
      <p><a href="/inclusao/educacao-especial/seguranca-autonomia-429874.shtml">Os cuidados para garantir a locomoção de todos com segurança e autonomia pela escola</a></p>
    
  <p>&nbsp;</p> 
  <p class="links_texto"><a href="/inclusao/educacao-especial/aprender-superar-511027.shtml"><strong>Fundamentos</strong>  Deficiências e síndromes</a></p> 
  <p class="links_video"><a href="/inclusao/educacao-especial/experiencia-matheus-aluno-autista-escola-482092.shtml"><strong>Vídeo</strong> Matheus, um aluno autista, na escola</a></p> 
    
    </div> 
</div>
-->
<ul class="grid_16 sortable calls headlines">
	
	<li class="clearfix grid_5 personal-overview">
		<span class="call">
			<span>Meu Perfil</span>
			<span class="option" id="">Opções</span>
			<ul class="options">
				<li><a href="">Nova aula</a></li>
				<li><a href="">Outra opçao</a></li>
				<li><a href="">Outra opçao</a></li>
			</ul>
		</span>
		  <%=  link_to image_tag( current_user.avatar_photo_url(:thumb), 
                    {:class=> "photo", :border => 0 }), current_user   %> 
		<%= link_to current_user.display_name, current_user, :class => "name" %>
		<%= link_to "Editar", edit_user_path(current_user), :class => "edit" %>
		<!-- <a href="" class="plan">PRO</a> -->
	</li>	
	
	<li class="clearfix grid_5 students-overview">
		<span class="call">
			<span>Meus alunos</span>
			<span class="option" id="">Opções</span>
			<ul class="options">
				<li><a href="">Nova aula</a></li>
				<li><a href="">Outra opçao</a></li>
				<li><a href="">Outra opçao</a></li>
			</ul>
		</span>
		<ul>
			<li class="clearfix">
				<img src="/images/thumb.gif" alt="" class="photo" /><a href="" class="name">Guilherme</a>
				<a href="" class="info">Redu</a>
			</li>
			<li class="clearfix">
				<img src="/images/thumb.gif" alt="" class="photo" /><a href=""  class="name">Cassio</a>
				<a href="" class="info">Colégio de Aplicaçãp</a>
			</li>
			<li class="clearfix">
				<img src="/images/thumb.gif" alt="" class="photo" /><a href=""  class="name">André</a>
				<a href="" class="info">CIn</a>
			</li>
		</ul>
	</li>
	
	<li class="clearfix grid_5 lectures-overview">
		<span class="call">
			<span>Minhas aulas (<%= current_user.courses.count%>)</span>
		</span>
		<% if current_user.courses.size > 0 %>
		<ul>
			<%# TODO performance %>
			<% for course in current_user.courses[0..4] do%>
			<li class="clearfix">
				 <%=  link_to image_tag( course.thumb_url, 
                    {:class=> "photo", :border => 0 }), course   %> 
				<%= link_to course.name, course, :class => "name" %>
			</li>
			<% end %>
			<li class="clearfix">
				<%= link_to "(ver todos)", user_courses_path(current_user), :class => "info" %>
			</li>
		</ul>
		<% else %>
		Você não possui aulas ainda. Crie uma <%= link_to "agora!", new_course_path %>
		<% end %>
	</li>


	<!--
	<li class="clearfix grid_5 statistics">
		<span class="call"><span>Estatísticas</span></span>
		<div></div>
	</li>
	-->
	
	<li class="clearfix grid_5 groups">
		<span class="call">
			<span>Minhas Redes (<%= current_user.schools_owned.count%>)</span>
		</span>
			
			<% if current_user.schools_owned.size > 0 %>
		<ul>
			<% for school in current_user.schools_owned[0..4] do%>
			<li class="clearfix">
				 <%=  link_to image_tag(  school.avatar_photo_url(:thumb), 
                    {:class=> "photo", :border => 0 }), school   %> 
				<%= link_to school.name, school, :class => "name" %>
					<span class="info"> <%= school.users.count %> membros</span>
			</li>
			<% end %>
			<li class="clearfix">
				<%= link_to "(ver todas)", user_schools_path(current_user), :class => "info" %>
			</li>
		</ul>
		<% else %>
		Você não possui redes ainda. Crie uma <%= link_to "agora!", new_school_path %>
		<% end %>
			
		
	</li>
	
	

	
	
	<!--
	<li class="clearfix grid_5 courses">
		<span class="call">
			<span>Meus Cursos</span>
		</span>
		<ul>
			<li><a href="" class="name">Colégio Aplicacao</a></li>
			<li><a href="" class="name">Colégio Damas</a></li>
			<li><a href="" class="name">NUCE</a></li>
		</ul>
	</li> 
	-->
</ul>


