<%= stylesheet_link_tag "teach-header.css"  %>
<% content_for :page_id, 'teach' %>
<div class="container_16" id="common-header">
  <div class="session-title">
    Redes
  </div> <!-- title -->
</div>
<div class="grid_16 clearfix" id="bg-content">
  <div class="left-sidebar">
    <div class="title">
      Educação a distância nunca foi tão simples
    </div> <!-- /title -->
    <div class="redu-screens">
    </div> <!-- /redu-screens -->
  </div> <!-- /left-sidebar -->

  <div class="right-sidebar">
    <div class="title">
      Crie um ambiente de ensino a distância em dois passos
    </div> <!-- /title -->
    <%= render :partial => 'environments/environment_simple_form' %>
  </div><!-- /right-sidebar -->
</div><!-- /bg-content -->

<div class="grid_6">
  <span class="call">
    Quem já faz parte do Redu
  </span>
  <ul>
    <li class="alpha grid_3">
      <a href=""><%= image_tag "cin.png" %></a>
    </li>
    <li class="grid_3 omega">
      <a href=""><%= image_tag "grupo-ser.png" %></a>
    </li>
    <li class="alpha grid_3">
      <a href=""><%= image_tag "fafire.png" %></a>
    </li>
    <li class="grid_3 omega">
      <a href=""><%= image_tag "ecole-centrale-paris.png" %></a>
    </li>
  </ul>
</div>
<div class="grid_10">
  Video redu
</div>

