<%- form_for :bulletin do |f| %>
	<%= f.error_messages %>

	<%= hidden_field_tag("school_id", @school.id) if @school %>

	<%= f.label :title %>
	<%= f.text_field :title%>

	<%= f.label :description %>
	<%= f.text_area :description, :size => "60x12", :class => "mceEditor"%>
	
	<%= f.label "Tags <span class='snippet'>(separadas por vírgula)</span>" %>
	<%= f.text_field :tag_list %>
	
	<%= f.submit "Salvar"%>
<% end %>