<%- form_for @bulletin do |f| %>
	<fieldset><legend>Notícia</legend>
	<%= f.error_messages %>

	<%= hidden_field_tag("school_id", params[:school_id]) %>

	<%= f.label "Título" %>
	<%= f.text_field :title %>

	<%= f.label "Breve Descrição  <span class='snippet'>(até 250 caracters)</span>" %>
	<%= f.text_area :tagline, :size => "70x5" %>

	<%= f.label "Descrição" %>
	<%= f.text_area :description, :size => "70x14", :class => "mceEditor"%>

	<%= f.label "Tags <span class='snippet'>(separadas por vírgula)</span>" %>
	<%= f.text_field :tag_list %>

	<%= f.submit "Salvar"%>
	</fieldset>
<% end %>
	
<%= link_to 'Ver todas', school_bulletins_path(@school) %>

