<li class="clearfix">
  <div class="date grid_1 aplha">
    <span class="month quiet"><%= bulletin.created_at.strftime("%b") %></span>
    <span class="quiet day"><%= bulletin.created_at.day %></span>
    <span class="quiet year"><%= bulletin.created_at.year %></span>
  </div>
  <span class="title grid_10 omega"><%= link_to bulletin.title, school_bulletin_path(bulletin.school, bulletin) %>
</span>
  <span class="rating"></span>
  <span class="tagline quiet grid_10 omega"><%= bulletin.tagline %></span>
  <div class="grid_5 omega" >
    <%= render :partial => 'tags/tags', :object => bulletin.tags  %>
 </div>
</li>
