<%= render :partial => "spaces/space_info", :locals => {:space => @space,:show => false} %>
<%= render :partial => "spaces/sidebar", :locals => {:space => @space} %>
<div class="main grid_12">		
	<% if @bulletins && @bulletins.size > 0 %>

			<ul class="bulletins grid_12 alpha omega">
				<%= render :partial => 'bulletins/list', :collection => @bulletins, :as => :bulletin, :locals => {
				:is_index => true } %> 
			</ul>
			<%= link_to "Crie uma nova notícia.", new_space_bulletin_path(@space), :class => "button"%>

	<% else %>
		Nenhuma notícia foi enviada ainda. <%= link_to 'Envie uma agora!', :action => 'new' %>
	<% end %>
	<div id="pagination" align="center" class="pagination">

		<%= will_paginate  @bulletins %>
		
  </div>
</div>
