<%= render :partial => 'bulletins/sidebar', :locals => { :bulletinable => @bulletinable } %>
<div class="main grid_12 omega big-col">
    <%= render :partial => 'bulletins/header', :locals => { :bulletinable => @bulletinable } %>

  <div id="space-bulletins" class="body">
    <div class="header">
      <h4>Notícias</h4>
      <span class="counter">
        <%= pluralize(@bulletinable.bulletins.length, 'notícia') %>
      </span>
    </div>
    <% if can? :manage, @bulletinable %>
      <div class="admin-actions">
        <%= link_to 'Criar nova notícia',
          new_polymorphic_path([@bulletinable, Bulletin.new]),
          :class => 'button vanilla' %>
      </div>
    <% end %>

    <div id="bulletins" class="bulletin-listing-wrapper clearfix">
      <ul>
        <%= render :partial => 'bulletins/item',
          :collection => @bulletins %>
      </ul>
      <%= will_paginate @bulletins, :renderer => EndlessRenderer %>
    </div>

  </div><!-- end #bulletin -->

</div><!-- end .main -->
