<%= render :partial => "schools/school_info", :locals => {:school => @school,:show => false} %>
<%= render :partial => "schools/sidebar", :locals => {:school => @school} %>

<div class="main grid_12">		
	<% if @bulletins && @bulletins.size > 0 %>

			<ul class="grid_12">
				<%= render :partial => 'bulletins/list', :collection => @bulletins, :as => :bulletin, :locals => {
				:is_index => true } %> 
			</ul>
			<%= link_to "Crie uma nova notícia.", new_school_bulletin_path(@school), :class => "button"%>

	<% else %>
		Nenhuma notícia foi enviada ainda. <%= link_to 'Envie uma agora!', :action => 'new' %>
	<% end %>
	<div id="pagination" align="center" class="pagination">

		<%= will_paginate  @bulletins %>
		
  </div>
</div>
