<% if @bulletinable.class.to_s.eql? "Space" %>
  <%= render :partial => "spaces/sidebar", :locals => {:space => @bulletinable} %>
<% end %>

<% if @bulletinable.class.to_s.eql?('Space') %>
<div class="main grid_12 omega">
  <% if @bulletins && @bulletins.size > 0 %>

    <% if can? :manage, @bulletinable || current_user.tutor?(@bulletinable) %>
      <%= link_to "Crie uma nova notícia.", new_polymorphic_path([@bulletinable, Bulletin.new]), :class => "button"%>
    <% end %>
    <ul id="bulletins" class="bulletins grid_12 alpha omega">
      <%= render :partial => 'bulletins/list', :collection => @bulletins, :as => :bulletin, :locals => {
        :is_index => true } %>
    </ul>

    <%= will_paginate @bulletins, :renderer => EndlessRenderer %>
  <% else %>
    Nenhuma notícia foi enviada ainda.
    <% if can? :manage, @space || current_user.tutor?(@space) %>
      <%= link_to 'Envie uma agora!', new_polymorphic_path([@bulletinable, Bulletin.new]) %>
    <% end %>
  <% end %>

</div>
<% else %>
  <div class="grid_16 fake-tabs start-page">
    <%= render :partial => "environments/taskbar" %>
    <div class="panel clearfix">
      <% if @bulletins && @bulletins.size > 0 %>

      <% if can? :manage, @bulletinable %>
        <%= link_to "Crie uma nova notícia.", new_polymorphic_path([@bulletinable, Bulletin.new]), :class => "button"%>
      <% end %>
        <hr/>
        <ul id="bulletins" class="bulletins">
          <%= render :partial => 'bulletins/list', :collection => @bulletins, :as => :bulletin, :locals => {
            :is_index => true } %>
        </ul>
        <%= will_paginate @bulletins, :renderer => EndlessRenderer %>
        <hr/>

        <% if can? :manage, @bulletinable %>
          <%= link_to "Crie uma nova notícia.", new_polymorphic_path([@bulletinable, Bulletin.new]), :class => "button"%>
        <% end %>

      <% else %>
        Nenhuma notícia foi enviada ainda.
        <% if can? :manage, @bulletinable %>
          <%= link_to 'Envie uma agora!', new_polymorphic_path([@bulletinable, Bulletin.new]) %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
<% end %>
