<% content_for :header_scripts_and_styles do %>
  <%= javascript_include_tag :ckeditor %>
<% end %>
<% if @bulletinable.class.to_s.eql? "Space" %>
  <%= render :partial => 'spaces/sidebar', :locals => { :space => @bulletinable } %>
<% else %>
  <%= render :partial => "environments/sidebar", :locals => { :environment => @bulletinable } %>
<% end %>
<div class="main grid_12 omega big-col">
    <% if @bulletinable.class.to_s.eql? "Environment" %>
      <%= render :partial => "environments/breadcrumbs", :locals => { :environment => @environment } %>
      <%= render :partial => 'environments/header',
        :locals => { :environment => @environment }%>
    <% elsif @bulletinable.class.to_s.eql? "Space" %>
      <%= render :partial => "spaces/breadcrumbs", :locals => { :space => @space } %>
       <%= render :partial => 'spaces/header',
         :locals => { :space => @space }%>
      <% end %>
    <div id="bulletin-new" class="hierarchy-listing-wrapper">
      <div class="header">
        <h4>Notícias</h4>
        <span class="counter">Nova notícia</span>
      </div>

      <%= render :partial => "bulletins/form",
        :locals => {:bulletinable => @bulletinable,  :bulletin => @bulletin }%>
    </div><!-- #bulletin-new -->
  </div><!-- end main -->
