<div class="main grid_16">
	<h3>VER NOTÍCIA</h3>

<div id="clearfix">
	<%= render :partial => 'bulletins/item', :bulletin => @bulletin %>
	
	<div id="rating_video">
		<%= ratings_for @bulletin %>
	</div>	
	
	<div class="grid_3 omega options">
		<span class="likeable">
		   	<span class="like">
			<%= link_to_remote image_tag('thumbs_up.png', :border => '0'), :url=> {:action => :vote, :id => @bulletin.id, :like => true}, :success => 'disableVoting();' %><br/><%= @bulletin.votes_for%>
			</span>
			<span class="deslike">
			<%= link_to_remote image_tag('thumbs_down.png', :border => '0'), :url=> {:action => :vote, :id => @bulletin.id, :like => false}, :success => 'disableVoting();' %><br/><%= @bulletin.votes_against%></span>
	    </span>
    </div>
</div>

	<%= link_to 'Ver notícias da rede', school_bulletins_path(@bulletin.school) %>
</div>