<% is_space = @bulletinable.class.to_s.eql? "Space" %>
<div class="grid_16">
  <% if @bulletinable.class.to_s.eql? "Space" %>
    <%= render :partial => "spaces/sidebar", :locals => {:space => @bulletinable} %>
  <% end %>

  <div class="main grid_12 <%= is_space ? "" : "alpha" %> omega">

    <div class="<%= is_space ? "grid_11" : "grid_16" %> alpha omega bulletin-content">
      <h4 class="name"><%= link_to @bulletin.title, polymorphic_path([@bulletin.bulletinable, @bulletin]) %></h4>
      <div class="pretty-text">
        <%= raw @bulletin.description %>
      </div>
      <div >
        <div class="tags">
          <span class="title">Palavras-chave</span>
          <%= render :partial => 'tags/tags', :object => @bulletin.tags %>
        </div>
      </div>
      <%# link_to 'Ver notícias da rede', polymorphic_path([@bulletin.bulletinable]) %>
    </div><!-- end bulletin-content --> 
    <div class="bulletin-actions clearfix">
      <div class="grid_5 alpha">
        <%= render :partial => 'like/likeable', :object => @bulletin %>
      </div>
      <div id="rating_video" class="grid_5 omega"><%= ratings_for @bulletin %></div>
    </div><!-- end bulletin-actions -->
    <div class="grid_11 alpha omega clearfix" style="padding: 10px 0;">
      <% if can? :manage, @bulletin %>
        <%= link_to 'Editar', edit_polymorphic_path([@bulletin.bulletinable, @bulletin]), :class => "button"%>
        <%= link_to 'Remover', polymorphic_path([@bulletin.bulletinable, @bulletin]),
          {:confirm => 'Você tem certeza que deseja remover permanentemente esta notícia?',
            :method => :delete, :class => "button"} %>
        <% end %></div>
    </div>
  </div>
