<%= render :partial => "#{@bulletinable.class.to_s.downcase + 's'}/new/sidebar" %>
<div class="main grid_12 omega big-col">
  <ol id="breadcrumbs" class="clearfix">
    <% if @bulletinable.class.to_s.eql? "Environment" %>
      <li>
        <%= link_to 'Home', home_user_path(current_user),
          :class => 'replacement home icon icon-redu_r8_c227_s1' %>
      </li>
      <li>
        <%= link_to @environment.name,
          environment_path(@environment),
          :class => 'replacement icon icon-redu_r8_c217_s1' %>
      </li>
      </ol>
      <%= render :partial => 'environments/new/header',
        :locals => { :environment => @environment }%>
    <% elsif @bulletinable.class.to_s.eql? "Space" %>
       <li>
        <%= link_to 'Home', home_user_path(current_user),
          :class => 'replacement home icon icon-redu_r8_c227_s1' %>
       </li>
       <li>
        <%= link_to @space.course.environment.name,
          environment_path(@space.course.environment),
          :class => 'replacement icon icon-redu_r8_c217_s1' %>
       </li>
       <li>
        <%= link_to @space.course.name,
          environment_course_path(@space.course.environment, @space.course),
          :class => 'replacement icon icon-redu_r8_c313_s1' %>
       </li>
       <li>
        <%= link_to @space.name, space_path(@space),
          :class => 'icon icon-redu_r8_c307_s1' %>
       </li>
       </ol>
       <%= render :partial => 'spaces/new/header',
         :locals => { :space => @space }%>
      <% end %>

    <div id="bulletin" class="body">
      <div class="header">
        <h4>Notícias</h4>
        <span class="counter">
          Notícias
          <% if @bulletinable.class.to_s.eql? "Space" %>
            da disciplina
          <% else %>
            do ambiente
          <% end %>
          <%= @bulletinable.name %>
        </span>
      </div>
      <div class="info">
        <%= image_tag @bulletin.owner.avatar(:thumb_32), :class => "avatar" %>
        <span class="label">Autor:</span>
        <%= link_to @bulletin.owner.display_name, user_path(@bulletin.owner) %>
      </div>
      <% if can? :manage, @bulletin %>
        <div class="admin-actions">
          <%= link_to 'Editar',
            edit_polymorphic_path([@bulletin.bulletinable, @bulletin]),
            :class => "edit icon icon-redu_r12_c5_s1" %>
          <%= link_to 'Remover',
            polymorphic_path([@bulletin.bulletinable, @bulletin]),
            :method => :delete,
            :confirm => "Você tem certeza que deseja remover esta aula? Não será possível recuperá-la.",
            :class => "delete icon icon-redu_r12_c43_s1" %>
        </div>
      <% end %>
      <div class="details clearfix">
        <div class="date">
          <span class="month"><%= @bulletin.created_at.strftime('%b') %></span>
          <span class="day"><%= @bulletin.created_at.day %></span>
          <span class="year"><%= @bulletin.created_at.year %></span>
        </div>
        <h3 class="title"><%= @bulletin.title %></h3>
        <ul class="tags clearfix">
          <% @bulletin.tags.each do |tag| %>
            <li>
              <%= link_to tag,
                polymorphic_path([@bulletin.bulletinable, @bulletin]) %>
            </li>
          <% end %>
        </ul>
      </div><!-- end .details -->

      <div class="bulletin-content pretty-text">
        <%= raw @bulletin.description %>
      </div>
    </div><!-- end #bulletin -->

  </div><!-- end .main -->
