<div class="landing-footer">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="landing-footer-logo-wrapper">
          <br />
          <%= link_to "http://tech.redu.com.br/",
              :class => "landing-footer-logo-link" do %>
              <h1>
                <%= image_tag "landing/footer-redu-tech-logo.png",
                    :alt => "Redu Educational Technologies",
                    :title => "Redu Educational Technologies",
                    :class => "landing-footer-logo-img"
                %>
              </h1>
          <% end %>
          <span class="landing-footer-cnpj">CNPJ: 12.359.885 / 0001-07</span>
        </div>
      </div>
      <div class="span3">
        <ul class="landing-footer-navigation">
          <li>
            <%= link_to "Sobre o Redu",
                home_path,
                :title => "Sobre o Redu"
            %>
          </li>
          <li>
            <%= link_to "Segmentos",
                home_path(:anchor => "segmentos"),
                :title => "Segmentos"
            %>
          </li>
          <li>
            <%= link_to "Vantagens",
                home_path(:anchor => "vantagens"),
                :title => "Vantagens"
            %>
          </li>
          <li>
            <%= link_to "Funcionalidades",
                home_path(:anchor => "funcionalidades"),
                :title => "Funcionalidades"
            %>
          </li>
          <li>
            <%= link_to "Planos",
                home_path(:anchor => "planos"),
                :title => "Planos"
            %>
          </li>
        </ul>
      </div>
      <div class="span3">
        <ul class="landing-footer-navigation">
          <li>
            <%= link_to "Blog",
                "http://blog.redu.com.br/",
                :title => "Blog"
            %>
          </li>
          <li>
            <%= link_to "Desenvolvedores",
                "http://developers.redu.com.br/",
                :title => "Desenvolvedores"
            %>
          </li>
          <li>
            <%= link_to "Política de Privacidade",
                "#politica-privacidade",
                :title => "Política de Privacidade",
                "data-toggle" => "modal"
            %>
          </li>
          <li>
            <%= link_to "Termos de Uso",
                "#termos-uso",
                :title => "Termos de Uso",
                "data-toggle" => "modal"
            %>
          </li>
        </ul>
        <%= render :partial => "landing/modal_tos" %>
        <%= render :partial => "landing/modal_privacy_policy" %>
      </div>
      <div class="span3">
        <div class="landing-footer-social-networks-legend">
          <span class="legend">Siga-nos na web</span>
        </div>
        <div class="landing-footer-social-networks">
          <%= link_to "Facebook", "https://www.facebook.com/redesocialeducacional", :class => "landing-footer-social-network sprite-social-facebook text-replacement" %>
          <%= link_to "Twitter", "http://twitter.com/redu_ead", :class => "landing-footer-social-network sprite-social-twitter text-replacement" %>
        </div>
      </div>
      <div class="span3">
        <div class="landing-footer-contact link-container">
          <div class="row">
            <div class="span2">
              <h3>
                <%= link_to "Fale Conosco",
                      contact_path,
                      :title => "Fale Conosco",
                      :class => "link-target"
                %>
              </h3>
              <p class="legend">Dúvidas? Nosso suporte online pode lhe ajudar</p>
            </div>
            <div class="span1 alpha-half">
              <span class="landing-footer-talk-to-us-balloons sprite-talk-to-us text-replacement" title="Fale Conosco">Fale conosco</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
