<div class="landing-footer">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="landing-footer-logo-wrapper">
          <br />
          <%= link_to "http://tech.redu.com.br/",
              :class => "landing-footer-logo-link" do %>
            <%= image_tag "landing/footer-redu-tech-logo.png",
                :alt => "Redu Educational Technologies",
                :title => "Redu Educational Technologies",
                :class => "landing-footer-logo-img"
            %>
          <% end %>
        </div>
      </div>
      <div class="span3">
        <ul class="landing-footer-navigation">
          <li>
            <%= link_to "Sobre o Redu", 
                landing_path, 
                :title => "Sobre o Redu" 
            %>
          </li>
          <li>
            <%= link_to "Segmentos", 
                landing_path(:anchor => "segmentos"), 
                :title => "Segmentos" 
            %>
          </li>
          <li>
            <%= link_to "Vantagens", 
                landing_path(:anchor => "vantagens"), 
                :title => "Vantagens" 
            %>
          </li>
          <li>
            <%= link_to "Funcionalidades", 
                landing_path(:anchor => "funcionalidades"), 
                :title => "Funcionalidades" 
            %>
          </li>
          <li>
            <%= link_to "Planos", 
                landing_path(:anchor => "planos"), 
                :title => "Planos" 
            %>
          </li>
        </ul>
      </div>
      <div class="span3">
        <ul class="landing-footer-navigation">
          <li>
            <%= link_to "Central de Ajuda", 
                "/", 
                :title => "Central de Ajuda" 
            %>
          </li>
          <li>
            <%= link_to "Blog", 
                "http://blog.redu.com.br/", 
                :title => "Blog" 
            %>
          </li>
          <li>
            <%= link_to "Desenvolvedores", 
                "http://developers.redu.com.br/", 
                :title => "Desenvolvedores" 
            %>
          </li>
          <li>
            <%= link_to "Política de Privacidade", 
                "#politica-privacidade", 
                :title => "Política de Privacidade",
                "data-toggle" => "modal" 
            %>
          </li>
          <li>
            <%= link_to "Termos de Uso", 
                "#termos-uso", 
                :title => "Termos de Uso",
                "data-toggle" => "modal"
            %>
          </li>
        </ul>
      </div>
      <div class="span3">
        <div class="landing-footer-social-networks-legend">
          <span class="legend">Siga-nos na web</span>
        </div>
        <div class="landing-footer-social-networks">
          <%= link_to "https://www.facebook.com/redesocialeducacional" do %>
            <%= image_tag "landing/facebook.png",
                :alt => "Facebook",
                :title => "Facebook"
            %>
          <% end %>
          <%= link_to "http://twitter.com/redu_ead" do %>
            <%= image_tag "landing/twitter.png",
                :alt => "Twitter",
                :title => "Twitter"
            %>
          <% end %>
        </div>
      </div>
      <div class="span3">
        <div class="landing-footer-contact link-container">
          <div class="row">
            <div class="span2">
              <h3>
                <%= link_to "Fale Conosco", 
                      "#",
                      :title => "Fale Conosco",
                      :class => "link-target"
                %>
              </h3>
              <p class="legend">Dúvidas? Nosso suporte online pode lhe ajudar</p>
            </div>
            <div class="span1 alpha-half">
              <span class="landing-footer-talk-to-us-balloons" title="Fale Conosco"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
