<%#
  Funcionalidades.
%>

<div class="landing-functionalities">
  <h2 class="landing-navigation-title">Funcionalidades</h2>
  <%= render "landing/social_network_n_chat" %>
  <hr class="landing-functionalities-separator">
  <%= render "landing/discussion_wall" %>
  <hr class="landing-functionalities-separator">
  <%= render "landing/multimedia_classes" %>
  <hr class="landing-functionalities-separator">
  <%= render "landing/basic_reports" %>
  <hr class="landing-functionalities-separator">
  <%= render "landing/management_n_support" %>
  <hr class="landing-functionalities-separator">
  <%= render "landing/oer" %>
  <hr class="landing-functionalities-separator">
  <%= render "landing/api" %>
  <hr class="landing-functionalities-separator">
  <%= render "landing/others" %>
</div>