<div class="landing-header">
  <div class="container">
    <%= link_to home_path,
        :class => "landing-logo-wrapper" do %>
      <%= image_tag "landing/logo.png",
          :class => "landing-logo",
          :alt => "Redu",
          :title => "Redu"
      %>
    <% end %>
    <div class="landing-header-buttons">
      <div class="landing-button-sign-up">
        <span class="icon-add-friend-darkgray_32_34"></span>
        <%= link_to "Não possui conta? Cadastre-se, é grátis", "#cadastro", :class => "button-big button-success", "data-toggle" => "modal" %>
        <%= render :partial => "landing/modal-sign-up" %>
      </div><!--
   --><div class="landing-button-sign-in">
        <span class="icon-profile-darkgray_32_34"></span>
        <%= link_to "Entre no Redu", "Modal Login", :class => "button-big button-primary" %>
      </div>
    </div>
  </div>
</div>
