<%= render :partial => 'shared/loading_message' %>
<div class="nav-global nav-global-fixed-top">
    <div class="nav-global-inner">
      <div class="container">
        <div class="nav-global-container">
          <%= link_to "Redu", home_path, :title => "Redu", :class => "nav-global-brand logo-redu-gray_140_40" %>
          <div class="nav-global-buttons">
            <% if current_user %>
              <% if current_page?(home_user_path(current_user)) %>
                <%= link_to 'Início', home_user_path(current_user), :class => "nav-global-button nav-global-button-active", :title => "Início" %>
              <% else %>
                <%= link_to 'Início', home_user_path(current_user), :class => "nav-global-button", :title => "Início" %>
              <% end %>
            <% else %>
              <% if current_page?(application_path) %>
                <%= link_to 'Início', application_path, :class => "nav-global-button nav-global-button-active", :title => "Início" %>
              <% else %>
                <%= link_to 'Início', application_path, :class => "nav-global-button", :title => "Início" %>
              <% end %>
            <% end %>
            <% if current_page?(courses_index_path) %>
              <%= link_to "Ambientes", courses_index_path, :class => "nav-global-button nav-global-button-active", :title => "Ambientes" %>
            <% else %>
              <%= link_to "Ambientes", courses_index_path, :class => "nav-global-button", :title => "Ambientes" %>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="landing-header">
  <div class="container">
    <%= link_to home_path,
        :class => "landing-logo-wrapper" do %>
      <%= image_tag "landing/logo.png",
          :class => "landing-logo",
          :alt => "Redu",
          :title => "Redu"
      %>
    <% end %>
    <div class="landing-header-buttons">
      <div class="landing-button-sign-up">
        <span class="icon-add-friend-darkgray_32_34"></span>
        <%= link_to "Não possui conta? Cadastre-se, é grátis", "#cadastro", :class => "button-big button-success pull-right", "data-toggle" => "modal" %>
        <%= render :partial => "landing/modal_sign_up" %>
      </div>
      <div class="landing-button-sign-in">
        <span class="icon-profile-darkgray_32_34"></span>
        <div class="button-group pull-right">
          <button class="button-big button-primary dropdown-toggle" data-toggle="dropdown">Entre no Redu</button>
          <div class="dropdown-menu">
            <%= render :partial => "landing/dropdown_sign_in" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
