
  <!--<div class="modal hide fade" id="modal-plan-ensino-fund-med">-->
    <div class="modal-window">
      <span class="modal-name">
        <%= image_tag "landing/icon-48px-instituicao.png",
          :alt => "Instituição",
          :title => "Instituição"
        %>
        <h3>Planos para Ensino Médio e Fundamental</h3>
      </span>
    <hr>
    <span class="plan-information">
      <table class="table-without-borderradius">
            <thead>
              <tr>
                <th>Benefícios</th>
                <th>Grátis</th>
                <th>Prata
                  <span class="icon-medal">
                    <%= image_tag "landing/medal-silver.png",
                      :alt => "Prata",
                      :title => "Prata"
                    %>
                  </span>
                </th>
                <th>Ouro
                  <span class="icon-medal">
                    <%= image_tag "landing/medal-gold.png",
                      :alt => "Ouro",
                      :title => "Ouro"
                    %>
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Número de Alunos Permitidos</td>
                <td>60</td>
                <td>Ilimitado</td>
                <td>Ilimitado</td>
              </tr>
              <tr>
                <td>Armazenamento</td>
                <td>15 MB</td>
                <td>Ilimitado</td>
                <td>Ilimitado</td>
              </tr>
              <tr>
                <td>Rede Social</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Relatório Básico</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
               <tr>
                <td>Mural de Discussão</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
               <tr>
                <td>Aulas Multimídia</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Exercícios Múltipla Escolha</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
               <tr>
                <td>Gerenciamento do Ambiente Virtual de Aprendizagem</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Integração dos Recursos Educacionais Abertos</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Acesso à API do Redu</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Suporte Online</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Mobile</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Formação dos Professores</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Consultoria na Estruturação dos Recursos Midiáticos</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Banco de questões: ENEM e Vestibulares</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Customização de Relatórios</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Integração com Sistemas de Gestão Acadêmico</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Integração com o Portal da Escola</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Suporte Prioritário</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Importação / Exportação de Cursos do Moodle</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Preços <strong>(por licença)</strong></td>
                <td><span class="free">Grátis</span></td>
                <td><strong>R$ 5</strong></td>
                <td><a href="http://#">Consulte-nos</a></td>
              </tr>
            </tbody>
          </table>
      </span>
      <hr>
      <button class="button-default">Voltar</button>
    </div>
  <!--</div>-->

<div class="modal-window">
      <span class="modal-name">
        <%= image_tag "landing/icon-48px-instituicao.png",
          :alt => "Instituição",
          :title => "Instituição"
        %>
        <h3>Planos para o Ensino Superior</h3>
      </span>
    <hr>
    <span class="plan-information">
      <table class="table-without-borderradius">
            <thead>
              <tr>
                <th>Benefícios</th>
                <th>Grátis</th>
                <th>Prata
                  <span class="icon-medal">
                    <%= image_tag "landing/medal-silver.png",
                      :alt => "Prata",
                      :title => "Prata"
                    %>
                  </span>
                </th>
                <th>Ouro
                  <span class="icon-medal">
                    <%= image_tag "landing/medal-gold.png",
                      :alt => "Ouro",
                      :title => "Ouro"
                    %>
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Número de Alunos Permitidos</td>
                <td>60</td>
                <td>Ilimitado</td>
                <td>Ilimitado</td>
              </tr>
              <tr>
                <td>Armazenamento</td>
                <td>15 MB</td>
                <td>Ilimitado</td>
                <td>Ilimitado</td>
              </tr>
              <tr>
                <td>Rede Social</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Relatório Básico</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
               <tr>
                <td>Mural de Discussão</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
               <tr>
                <td>Aulas Multimídia</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Exercícios Múltipla Escolha</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
               <tr>
                <td>Gerenciamento do Ambiente Virtual de Aprendizagem</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Integração dos Recursos Educacionais Abertos</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Acesso à API do Redu</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Suporte Online</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Mobile</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Formação dos Professores</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Consultoria na Estruturação dos Recursos Midiáticos</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Customização de Relatórios</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Customização de Exercícios</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Integração com Sistemas de Gestão Acadêmico</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Integração com o Portal da Faculdade</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Criação do Portal de Venda de Cursos Online</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Suporte Prioriário</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Importação / Exportação de Cursos do Moodle</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Preços <strong>(por licença)</strong></td>
                <td><span class="free">Grátis</span></td>
                <td><strong>R$ 5</strong></td>
                <td><a href="http://#">Consulte-nos</a></td>
              </tr>
            </tbody>
          </table>
      </span>
      <hr>
      <button class="button-default">Voltar</button>
    </div>

<div class="modal-window">
      <span class="modal-name">
        <%= image_tag "landing/icon-48px-produtor.png",
          :alt => "Instituição",
          :title => "Instituição"
        %>
        <h3>Planos para o Produtor Independente</h3>
      </span>
    <hr>
    <span class="plan-information">
      <table class="table-without-borderradius">
            <thead>
              <tr>
                <th>Benefícios</th>
                <th>Grátis</th>
                <th>Prata
                  <span class="icon-medal">
                    <%= image_tag "landing/medal-silver.png",
                      :alt => "Prata",
                      :title => "Prata"
                    %>
                  </span>
                </th>
                <th>Ouro
                  <span class="icon-medal">
                    <%= image_tag "landing/medal-gold.png",
                      :alt => "Ouro",
                      :title => "Ouro"
                    %>
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Número de Alunos Permitidos</td>
                <td>60</td>
                <td>Ilimitado</td>
                <td>Ilimitado</td>
              </tr>
              <tr>
                <td>Armazenamento</td>
                <td>15 MB</td>
                <td>Ilimitado</td>
                <td>Ilimitado</td>
              </tr>
              <tr>
                <td>Rede Social</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Relatório Básico</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
               <tr>
                <td>Mural de Discussão</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
               <tr>
                <td>Aulas Multimídia</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Exercícios Múltipla Escolha</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
               <tr>
                <td>Gerenciamento do Ambiente Virtual de Aprendizagem</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Integração dos Recursos Educacionais Abertos</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Acesso à API do Redu</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Suporte Online</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Mobile</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Consultoria na Estruturação dos Recursos Midiáticos</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Customização de Relatórios</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Customização de Exercícios</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Criação do Portal de Venda de Cursos Online</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Suporte Prioriário</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Importação / Exportação de Cursos do Moodle</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Preços <strong>(por licença)</strong></td>
                <td><span class="free">Grátis</span></td>
                <td><strong>R$ 5</strong></td>
                <td><a href="http://#">Consulte-nos</a></td>
              </tr>
            </tbody>
          </table>
      </span>
      <hr>
      <button class="button-default">Voltar</button>
    </div>

<div class="modal-window">
      <span class="modal-name">
        <%= image_tag "landing/icon-48px-instituicao.png",
          :alt => "Instituição",
          :title => "Instituição"
        %>
        <h3>Planos para Consultoria e treinamento de R.H.</h3>
      </span>
    <hr>
    <span class="plan-information">
      <table class="table-without-borderradius">
            <thead>
              <tr>
                <th>Benefícios</th>
                <th>Grátis</th>
                <th>Prata
                  <span class="icon-medal">
                    <%= image_tag "landing/medal-silver.png",
                      :alt => "Prata",
                      :title => "Prata"
                    %>
                  </span>
                </th>
                <th>Ouro
                  <span class="icon-medal">
                    <%= image_tag "landing/medal-gold.png",
                      :alt => "Ouro",
                      :title => "Ouro"
                    %>
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Número de Alunos Permitidos</td>
                <td>60</td>
                <td>Ilimitado</td>
                <td>Ilimitado</td>
              </tr>
              <tr>
                <td>Armazenamento</td>
                <td>15 MB</td>
                <td>Ilimitado</td>
                <td>Ilimitado</td>
              </tr>
              <tr>
                <td>Rede Social</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Relatório Básico</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
               <tr>
                <td>Mural de Discussão</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
               <tr>
                <td>Aulas Multimídia</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Exercícios Múltipla Escolha</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
               <tr>
                <td>Gerenciamento do Ambiente Virtual de Aprendizagem</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Integração dos Recursos Educacionais Abertos</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Acesso à API do Redu</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Suporte Online</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Mobile</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Formação dos Professores</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Consultoria na Estruturação dos Recursos Midiáticos</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Customização de Relatórios</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Customização de Exercícios</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Integração com o Site da Empresa</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Criação do Portal de Venda de Cursos Online</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Suporte Prioriário</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Importação / Exportação de Cursos do Moodle</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Preços <strong>(por licença)</strong></td>
                <td><span class="free">Grátis</span></td>
                <td><strong>R$ 5</strong></td>
                <td><a href="http://#">Consulte-nos</a></td>
              </tr>
            </tbody>
          </table>
      </span>
      <hr>
      <button class="button-default">Voltar</button>
    </div>
