
  <!--<div class="modal hide fade" id="modal-plan-ensino-fund-med">-->
    <div class="modal-window">
      <span class="modal-name">
        <%= image_tag "landing/icon-48px-instituicao.png",
          :alt => "Instituição",
          :title => "Instituição"
        %>
        <h3>Planos para Ensino Médio e Fundamental</h3>
      </span>
    <hr>
    <span class="plan-information">
      <table class="table-without-borderradius">
            <thead>
              <tr>
                <th>Benefícios</th>
                <th>Grátis</th>
                <th>Prata
                  <span class="icon-medal">
                    <%= image_tag "landing/medal-silver.png",
                      :alt => "Prata",
                      :title => "Prata"
                    %>
                  </span>
                </th>
                <th>Ouro
                  <span class="icon-medal">
                    <%= image_tag "landing/medal-gold.png",
                      :alt => "Ouro",
                      :title => "Ouro"
                    %>
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Número de Alunos Permitidos</td>
                <td>60</td>
                <td>Ilimitado</td>
                <td>Ilimitado</td>
              </tr>
              <tr>
                <td>Armazenamento</td>
                <td>15 MB</td>
                <td>Ilimitado</td>
                <td>Ilimitado</td>
              </tr>
              <tr>
                <td>Rede Social</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Relatório Básico</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
               <tr>
                <td>Mural de Discussão</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
               <tr>
                <td>Aulas Multimídia</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Exercícios Múltipla Escolha</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
               <tr>
                <td>Gerenciamento do Ambiente Virtual de Aprendizagem</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Integração dos Recursos Educacionais Abertos</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Acesso à API do Redu</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Suporte Online</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Mobile</td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Formação dos Professores</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Consultoria na Estruturação dos Recursos Midiáticos</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Banco de questões: ENEM e Vestibulares</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Customização de Relatórios</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Integração com Sistemas de Gestão Acadêmico</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Integração com o Portal da Escola</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Suporte Prioritário</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Importação / Exportação de Cursos do Moodle</td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/x-red.png",
                      :alt => "Não",
                      :title => "Não"
                  %></td>
                <td><%= image_tag "landing/arrow-green.png",
                      :alt => "Sim",
                      :title => "Sim"
                  %></td>
              </tr>
              <tr>
                <td>Preços <strong>(por licença)</strong></td>
                <td><span class="free">Grátis</span></td>
                <td><strong>R$ 5</strong></td>
                <td><a href="http://#">Consulte-nos</a></td>
              </tr>
            </tbody>
          </table>
      </span>
      <hr>
      <button class="button-default">Voltar</button>
    </div>
  <!--</div>-->

<div class="modal-window">
  <span class="modal-name">
    <%= image_tag "landing/icon-48px-instituicao.png",
      :alt => "Instituição",
      :title => "Instituição"
    %>
    <h3>Planos para o Ensino Superior</h3>
  </span>
  <hr>
  <span class="plan-information">
    <table class="table-without-borderradius">
      <thead>
        <tr>
          <th>Benefícios</th>
          <th>Grátis</th>
            <th>Prata
              <span class="icon-medal">
                <%= image_tag "landing/medal-silver.png",
                  :alt => "Prata",
                  :title => "Prata"
                %>
              </span>
            </th>
            <th>Ouro
              <span class="icon-medal">
                <%= image_tag "landing/medal-gold.png",
                  :alt => "Ouro",
                  :title => "Ouro"
                %>
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Número de Alunos Permitidos</td>
            <td>60</td>
            <td>Ilimitado</td>
            <td>Ilimitado</td>
          </tr>
          <tr>
            <td>Armazenamento</td>
            <td>15 MB</td>
            <td>Ilimitado</td>
            <td>Ilimitado</td>
          </tr>
          <tr>
            <td>Rede Social</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Relatório Básico</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Mural de Discussão</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Aulas Multimídia</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Exercícios Múltipla Escolha</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Gerenciamento do Ambiente Virtual de Aprendizagem</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Integração dos Recursos Educacionais Abertos</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Acesso à API do Redu</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Suporte Online</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Mobile</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Formação dos Professores</td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Consultoria na Estruturação dos Recursos Midiáticos</td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Customização de Relatórios</td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Customização de Exercícios</td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Integração com Sistemas de Gestão Acadêmico</td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Integração com o Portal da Faculdade</td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
                  %>
            </td>
              <td><%= image_tag "landing/arrow-green.png",
                    :alt => "Sim",
                    :title => "Sim"
                %></td>
            </tr>
            <tr>
            <td>Criação do Portal de Venda de Cursos Online</td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            </tr>
            <tr>
              <td>Suporte Prioriário</td>
              <td><%= image_tag "landing/x-red.png",
                    :alt => "Não",
                    :title => "Não"
                %></td>
              <td><%= image_tag "landing/x-red.png",
                    :alt => "Não",
                    :title => "Não"
                %></td>
              <td><%= image_tag "landing/arrow-green.png",
                    :alt => "Sim",
                    :title => "Sim"
                %></td>
            </tr>
            <tr>
              <td>Importação / Exportação de Cursos do Moodle</td>
              <td><%= image_tag "landing/x-red.png",
                    :alt => "Não",
                    :title => "Não"
                %></td>
              <td><%= image_tag "landing/x-red.png",
                    :alt => "Não",
                    :title => "Não"
                %></td>
              <td><%= image_tag "landing/arrow-green.png",
                    :alt => "Sim",
                    :title => "Sim"
                %></td>
            </tr>
            <tr>
              <td>Preços <strong>(por licença)</strong></td>
              <td><span class="free">Grátis</span></td>
              <td><strong>R$ 5</strong></td>
              <td><a href="http://#">Consulte-nos</a></td>
            </tr>
          </tbody>
        </table>
      </span>
      <hr>
      <button class="button-default">Voltar</button>
    </div>

<div class="modal-window">
  <span class="modal-name">
    <%= image_tag "landing/icon-48px-produtor.png",
      :alt => "Instituição",
      :title => "Instituição"
    %>
    <h3>Planos para o Produtor Independente</h3>
  </span>
  <hr>
  <span class="plan-information">
    <table class="table-without-borderradius">
        <thead>
          <tr>
            <th>Benefícios</th>
            <th>Grátis</th>
            <th>Prata
              <span class="icon-medal">
                <%= image_tag "landing/medal-silver.png",
                  :alt => "Prata",
                  :title => "Prata"
                %>
              </span>
            </th>
            <th>Ouro
              <span class="icon-medal">
                <%= image_tag "landing/medal-gold.png",
                  :alt => "Ouro",
                  :title => "Ouro"
                %>
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Número de Alunos Permitidos</td>
            <td>60</td>
            <td>Ilimitado</td>
            <td>Ilimitado</td>
          </tr>
          <tr>
            <td>Armazenamento</td>
            <td>15 MB</td>
            <td>Ilimitado</td>
            <td>Ilimitado</td>
          </tr>
          <tr>
            <td>Rede Social</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Relatório Básico</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
           <tr>
            <td>Mural de Discussão</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
           <tr>
            <td>Aulas Multimídia</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Exercícios Múltipla Escolha</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
           <tr>
            <td>Gerenciamento do Ambiente Virtual de Aprendizagem</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Integração dos Recursos Educacionais Abertos</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Acesso à API do Redu</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Suporte Online</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Mobile</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Consultoria na Estruturação dos Recursos Midiáticos</td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Customização de Relatórios</td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Customização de Exercícios</td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Criação do Portal de Venda de Cursos Online</td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Suporte Prioriário</td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Importação / Exportação de Cursos do Moodle</td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Preços <strong>(por licença)</strong></td>
            <td><span class="free">Grátis</span></td>
            <td><strong>R$ 5</strong></td>
            <td><a href="http://#">Consulte-nos</a></td>
          </tr>
        </tbody>
      </table>
  </span>
  <hr>
  <button class="button-default">Voltar</button>
</div>

<div class="modal-window">
  <span class="modal-name">
    <%= image_tag "landing/icon-48px-instituicao.png",
      :alt => "Instituição",
      :title => "Instituição"
    %>
    <h3>Planos para Consultoria e treinamento de R.H.</h3>
  </span>
<hr>
<span class="plan-information">
  <table class="table-without-borderradius">
        <thead>
          <tr>
            <th>Benefícios</th>
            <th>Grátis</th>
            <th>Prata
              <span class="icon-medal">
                <%= image_tag "landing/medal-silver.png",
                  :alt => "Prata",
                  :title => "Prata"
                %>
              </span>
            </th>
            <th>Ouro
              <span class="icon-medal">
                <%= image_tag "landing/medal-gold.png",
                  :alt => "Ouro",
                  :title => "Ouro"
                %>
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Número de Alunos Permitidos</td>
            <td>60</td>
            <td>Ilimitado</td>
            <td>Ilimitado</td>
          </tr>
          <tr>
            <td>Armazenamento</td>
            <td>15 MB</td>
            <td>Ilimitado</td>
            <td>Ilimitado</td>
          </tr>
          <tr>
            <td>Rede Social</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Relatório Básico</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
           <tr>
            <td>Mural de Discussão</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
           <tr>
            <td>Aulas Multimídia</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Exercícios Múltipla Escolha</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
           <tr>
            <td>Gerenciamento do Ambiente Virtual de Aprendizagem</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Integração dos Recursos Educacionais Abertos</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Acesso à API do Redu</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Suporte Online</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Mobile</td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Formação dos Professores</td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Consultoria na Estruturação dos Recursos Midiáticos</td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Customização de Relatórios</td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Customização de Exercícios</td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Integração com o Site da Empresa</td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Criação do Portal de Venda de Cursos Online</td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Suporte Prioriário</td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Importação / Exportação de Cursos do Moodle</td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/x-red.png",
                  :alt => "Não",
                  :title => "Não"
              %></td>
            <td><%= image_tag "landing/arrow-green.png",
                  :alt => "Sim",
                  :title => "Sim"
              %></td>
          </tr>
          <tr>
            <td>Preços <strong>(por licença)</strong></td>
            <td><span class="free">Grátis</span></td>
            <td><strong>R$ 5</strong></td>
            <td><a href="http://#">Consulte-nos</a></td>
          </tr>
        </tbody>
      </table>
  </span>
  <hr>
  <button class="button-default">Voltar</button>
</div>
<div class="modal-window">
  <span class="modal-name">
    <%= image_tag "landing/icon-48px-instituicao.png",
      :alt => "Instituição",
      :title => "Instituição"
    %>
    <h3 class="call-cadaster">Cadastre-se no Redu. <h3 class="call-cadaster">É gratuito, rápido e fácil.</h3></h3>
  </span>
  <div class="modal-cadaster">
    <p>Caso tenha uma conta no Facebook, você pode evitar o trabalho de preencher formulários ao associar sua conta ao Redu. Desta forma, o cadastro é feito de forma automática.</p>
    <span class="legend">Opcional</span>
  </div>
  <hr>
  <div class="modal-cadaster">
  <form class="form-horizontal">
    <p>Ou preencha os formulários abaixo e crie seu perfil no Redu.</p>
    <div class="form-left">
      <div class="control-group row control-big">
        <div class="control-label span2">
          <label for="first-name">Nome</label>
        </div>
        <div class="controls span5">
          <input type="text" placeholder="Seu primeiro nome" id="first-name">
        </div>
      </div>
      <div class="control-group row control-big">
        <div class="control-label span2">
          <label for="last-name">Sobrenome</label>
        </div>
        <div class="controls span5">
          <input type="text" id="last-name" placeholder="Seu primeiro nome">
        </div>
      </div>
  </div>
    <div class="form-right">
    <div class="control-group row control-big">
      <div class="control-label span2">
        <label for="e-mail">E-mail</label>
      </div>
      <div class="controls span5">
        <input type="text" placeholder="Seu e-mail de contato" id="e-mail">
      </div>
    </div>
    <div class="control-group row control-big">
      <div class="control-label span2">
        <label for="email-confirmation">Confirmação</label>
      </div>
      <div class="controls span5">
        <input type="text" id="email-confirmation" placeholder="Digite novamente o e-mail">
      </div>
    </div>
  </form>
</div>
</div>
<hr>
<div class="modal-cadaster">
<form class="form-horizontal">
<div class="form-left">
<div class="control-group row control-big">
  <div class="control-label span2">
    <label for="login">Login</label>
  </div>
  <div class="controls span5">
    <input type="text" placeholder="Como será o seu apelido?" id="login">
  </div>
</div>
<p class="legend">O Login define como será o endereço de sua página no Redu.
Ex.: redu.com.br/pessoas/<b>seulogin</b></p>
</div>
<div class="form-right">
<div class="control-group row control-big">
  <div class="control-label span2">
    <label for="password">Senha</label>
  </div>
  <div class="controls span5">
    <input type="text" id="password" placeholder="Digite sua senha">
  </div>
</div>
<div class="control-group row control-big">
  <div class="control-label span2">
    <label for="password-confirmation">Confirmação</label>
  </div>
  <div class="controls span5">
    <input type="text" id="password-confirmation" placeholder="Confirme sua senha">
  </div>
</div>
</div>
</div>
</form>
<hr>
<div class="submit-cadaster">
  <form>
    <div class="control-group">
      <div class="controls">
        <label class="control-checkbox">
          <input type="checkbox">
          Aceito os <%= link_to "Termos de Uso",
            "#termos-uso",
            :title => "Termos de Uso",
            "data-toggle" => "modal"
        %> da plataforma Redu
        </label>
      </div>
    <button class="button-big button-success">Cadastrar sua conta</button>
    <button class="button-big button-default">Cancelar</button>
    </div>
  </form>
</div>
</div>

<div class="modal-window">
  <div class="cadaster-success">
    <span class="modal-name">
      <h3 class="call-cadaster">Sua conta foi criada. Seja bem vindo(a)!</h3>
    </span>
    <div class="call">
      <p> Olá. Seu cadastro foi efetuado com sucesso. No entanto, é necessário que você o confirme. Enviamos um e-mail para sua caixa de entrada contendo um link – basta clicá-lo. Mas não se preocupe: você tem até 30 dias para realizar esta etapa. Até lá, experimente o Redu e não hesite em entrar em contato conosco caso surjam dúvidas, reclamações ou sugestões. </p>
    </div>
    <div class="modal-window">
    <button class="button-primary">Experimentar o Redu</button>
  </div>
  </div>
</div>

<div class="modal-window">
    <span class="modal-name">
      <%= image_tag "landing/icon-32px-termos-de-uso.png",
        :alt => "Termos de Uso",
        :title => "Termos de Uso"
      %>
      <h3>Termos de Uso</h3>
    </span>
    <div class="container">
      <p>Estes são os termos de uso que regem os serviços oferecidos pela empresa <em>REDU – Desenvolvimento e Licenciamento de Programas de Informática Ltda.</em> devidamente inscrita no CNPJ/MF sob o nº 12.359.885/0001-07, denominada aqui como <em>Redu</em>. Qualquer indivíduo, doravante nominada <em>USUÁRIO</em>, que pretenda utilizar os serviços do site, deverá aceitar os Termos de Uso, e todas as demais políticas e princípios que o regem.</p>

      <p>Por este instrumento e na melhor forma de direito, o(s) <em>USUÁRIO(S)</em> declara(m) conhecer, se obrigando a cumprir integralmente, a regulamentação estipulada pelo <em>Redu</em> para a navegação e a utilização dos Serviços oferecidos através do site, em conformidade com as cláusulas e condições seguintes, cuja aceitação prévia, será condição indispensável de acesso aos Serviços.</p>

      <span class="section">Do cadastro</span>

      <p>A realização do cadastro é condição indispensável à utilização dos Serviços disponibilizados no site <em>Redu</em>, assumindo os <em>USUÁRIOS</em> a responsabilidade exclusiva pela veracidade dos dados, para este fim, fornecidos.</p>

      <p>É de responsabilidade integral e exclusiva dos <em>USUÁRIOS</em> a constante atualização do seu respectivo cadastro, com a imediata informação de todo e qualquer dado pessoal ou informacional que eventualmente sofra alguma alteração.</p>

      <p>Cada <em>USUÁRIO</em> poderá realizar um único cadastro, podendo o <em>Redu</em> suspender, em caráter temporário ou definitivo, cadastros que aparentem pertencer a um mesmo <em>USUÁRIO</em>.</p>

      <p>O <em>Redu</em> poderá, ao efetuar o cadastro, utilizar quaisquer informações que considere necessárias à identificação dos <em>USUÁRIOS</em>, bem como, a qualquer tempo e ao seu exclusivo critério, solicitar dados adicionais e requerer o envio de documentos visando à conferência dos dados cadastrados.</p>

      <p>Caso seja constatada a existência de dados incompletos ou inverídicos, o <em>Redu</em> poderá suspender, em caráter temporário ou definitivo, o cadastro do <em>USUÁRIO</em>, bloqueando, pelo tempo em que perdurar a suspensão, o acesso a todos os serviços por ele utilizados, sem prejuízo de outras medidas que entenda serem necessárias.</p>

      <p>A suspensão ou cancelamento da conta de cadastro do <em>USUÁRIO</em>, em decorrência de iniciativa deste ou do <em>Redu</em>, implicará o bloqueio de qualquer serviço utilizado pelo proprietário da conta veiculado, não cabendo direito à indenização ou ressarcimento.</p>

      <p>O <em>USUÁRIO</em> que tenha sua conta suspensa ou cancelada pelo <em>Redu</em> não poderá realizar novo cadastro, exceto com a expressa anuência do <em>Redu</em>.</p>

      <p>Os <em>USUÁRIOS</em> reconhecem que são os únicos responsáveis pelos atos praticados com uso de suas respectivas contas de cadastro e comprometem-se a zelar pela segurança destas, devendo notificar o <em>Redu</em> caso verifiquem a ocorrência de acesso às suas contas, ou uso destas, sem suas devidas autorizações.</p>

      <p>É expressamente proibida a venda, cessão, aluguel ou a efetivação de qualquer outra forma de transferência da conta de cadastro do <em>USUÁRIO</em>, sendo esta de caráter personalíssimo e intransferível.</p>

      <span class="section">Das responsabilidades do usuário</span>

      <p>Cada <em>USUÁRIO</em> é integralmente responsável por todo e qualquer conteúdo que seja transmitido a um servidor, exibido, enviado por e-mail ou de qualquer outra forma disponibilizado através do Site.</p>

      <p>O <em>Redu</em> não controla o conteúdo disponibilizado através do Serviço e, como consequência, não garante a correção, integridade ou qualidade de tal conteúdo.</p>

      <span class="section">Da política de privacidade</span>

      <p>O <em>Redu</em> possui uma política expressa sobre a questão da privacidade online. As informações de registro e algumas outras informações sobre o <em>USUÁRIO</em> estão sujeitas ao tratamento referido em tal política de privacidade.</p>

      <p>Para maiores informações acerca da política de privacidade aplicável ao <em>Redu</em>, consultar a <em>Política de Privacidade</em> disponível neste endereço eletrônico, <a href="http://www.redu.com.br/privacy" title="Política de Privacidade">http://www.redu.com.br/privacy</a>.</p>

      <span class="section">Da propriedade intelectual</span>

      <p>Quaisquer criações intelectuais constantes do site da <em>Redu</em> sobre as quais incidam direitos autorais ou de propriedade industrial, tais como textos, imagens, marcas, logotipos, base de dados ou layouts, pertencem ao Site, sendo vedada a terceiros sua reprodução sem prévia autorização por escrito do respectivo proprietário, sob pena de aplicação das sanções previstas na legislação cabível.</p>

      <p>O <em>USUÁRIO</em> afirma deter os direitos autorais ou de propriedade industrial sobre qualquer conteúdo que venha a enviar, postar ou exibir dentro da plataforma do <em>Redu</em>.</p>

      <span class="section">Das sanções</span>

      <p>O <em>Redu</em> poderá suspender ou cancelar, em caráter temporário ou definitivo, conta de cadastro de <em>USUÁRIO</em> que infrinja das disposições contidas neste instrumento, sem prejuízo das medidas judiciais cabíveis.</p>

      <span class="section">Das disposições gerais</span>

      <p>Este instrumento será regido pelas disposições legais brasileiras em vigor aplicáveis.</p>

      <p>No caso de qualquer termo ou condição do presente contrato ou de seus anexos ser considerado inválido ou ineficaz, a validade ou eficácia do remanescente do presente contrato não será afetada.</p>

      <p>O não-exercício por qualquer das partes de qualquer dos direitos que para si resultem do presente contrato não constituirá, nem será considerado, uma renúncia ou perda dos referidos direitos.</p>

      <p>O <em>Redu</em> reserva-se o direito de, a qualquer tempo, alterar as disposições constantes dos  <em>TERMOS DE USO</em>, visando aprimorar os serviços prestados aos seus <em>USUÁRIOS</em>. As alterações a este instrumento entrarão em vigor 10 (dez) dias após sua publicação no site da <em>Redu</em>. Neste prazo, deverão os <em>USUÁRIOS</em> que não concordem com as alterações comunicar sua posição ao <em>Redu</em>, que procederá ao cancelamento da conta de cadastro do <em>USUÁRIO</em>, caso não existam dívidas em aberto. A não manifestação dentro do prazo implica a aceitação tácita das alterações.</p>

      <span class="section">Do foro</span>

      <p>Para dirimir quaisquer dúvidas ou questões quanto à interpretação e à aplicação das cláusulas e condições contratuais aqui assentadas, as partes elegem o foro da Comarca de Recife, no estado de Pernambuco, com renúncia expressa a qualquer outro por mais privilegiado que seja.</p>

      <p>Atualizado pela última vez em: <em>março de 2012</em></p>
    </span>
    </div>
  <hr>
  <button class="button-default">Voltar</button>
</div>

<div class="modal-window">
    <span class="modal-name">
      <%= image_tag "landing/icon-32px-politica-de-privacidade.png",
        :alt => "Política de Privacidade",
        :title => "Política de Privacidade"
      %>
      <h3>Política de Privacidade</h3>
    </span>
    <div class="container">
      <p>Essa política descreve as condutas e os procedimentos, adotados pelo Redu, acerca da coleta, do uso e da divulgação das informações relacionadas à utilização dos produtos e serviços da plataforma Redu.</p>

      <span class="section">Da coleta e uso das informações</span>

      <p>As informações são coletadas com o intuído de aprimorar os serviços utilizados pelos nossos usuários. Essas são coletadas e utilizadas de diversas maneiras:</p>

      <p><span class="standout">Informações solicitadas durante o registro:</span> Ao criar ou reconfigurar uma conta no Redu, o usuário fornece algumas informações pessoais, como seu nome, nome de usuário, senha e endereço de e-mail. Algumas dessas informações, por exemplo, seu nome e nome de usuário, são listados publicamente, incluso na sua página de perfil e em resultados de pesquisa realizados no site.</p>

      <p><span class="standout">Informações complementares:</span> O usuário pode fornecer informações adicionais para tornar públicas, como uma breve biografia, sua localização, a instituição de ensino a que se vincula e/ou uma imagem.</p>

      <p><span class="standout">Mensagens, vídeo-aulas, exames e outras informações públicas:</span> Nossos serviços são principalmente concebidos para ajudá-lo a compartilhar as informações com outros usuários. Dessa forma, a maioria das informações postadas é pública, havendo a opção de torná-la privada. Incluindo-se nessa política não apenas as mensagens que o usuário postou, mas também os outros usuários que esse segue, a opção de marcar como favoritos e outras informações que vierem a ser disponibilizada pelo usuário.</p>

      <p><span class="standout">Registro de dados:</span> Nossos servidores automaticamente registram a informação criada pelo uso dos serviços. O registro de dados pode incluir informações como seu endereço IP, tipo de navegador, o domínio de referência, páginas visitadas, e os termos de busca. Outras ações, tais como a interação com os anúncios, também podem ser incluídas no registro de dados.</p>

      <p><span class="standout">Cookies:</span> Utilizamos cookies para recolher dados adicionais de uso do site e para melhorar nossos serviços. Um cookie é um pequeno arquivo de dados que são transferidos para o disco rígido do seu computador. O Redu pode utilizar cookies de sessão e cookies persistentes para entender melhor como o usuário interage com nossos serviços, para monitorar o uso agregado por nossos visitantes e tráfego web de roteamento em nossos serviços.</p>

      <p><span class="standout">Serviços de terceiros:</span> O Redu usa o Google Analytics para ajudar a entender o uso dos nossos serviços. Através do Google Analytics o Redu recolhe as informações enviadas pelo seu navegador, como parte de uma solicitação de página da web, incluindo cookies eo seu endereço IP. O Google também recebe informações e seu uso é regido por sua <a href="http://www.google.com/policies/privacy/" title="Política de Privacidade">Política de Privacidade da Google</a>.</p>

      <span class="section">Do compartilhamento de divulgação de informações</span>

      <p>O Redu não compartilha, nem divulga suas informações privadas, exceto com o objetivo de fornecer aos usuários o produto e/ou serviços solicitados, tendo obtido para tanto a sua permissão, ou nas circunstâncias excepcionais descritas a seguir:</p>

      <p>Fornecemos as informações disponibilizadas, com os nossos parceiros. Essas empresas parceiras poderão usar os dados disponibilizados com o objetivo de auxiliar o Redu na prestação do serviço ao qual se destina. Contudo, tais empresas não possuem direito de compartilhar quaisquer informações com terceiros estranhos a essa relação.</p>

      <p>Podemos revelar suas informações, para atendermos a ordens judiciais nos termos da legislação em vigor, ou em processos judiciais para estabelecer ou exercer nossos direitos legais ou empreender defesa contra ações judiciais. Bem como, quando acreditarmos de boa-fé ser necessário compartilhar informações com o objetivo de investigar, impedir ou adotar medidas relativas a atividades ilegais, suspeitas de fraude, situações envolvendo possíveis ameaças à segurança física de qualquer pessoa, violações do Termo de uso do Redu ou com outros objetivos, com procedimentos especificados e autorizados pela&nbsp; lei.</p>

      <p>Caso o Redu esteja envolvido em uma falência, fusão, aquisição, reestruturação ou venda de ativos, suas informações podem ser vendidas ou transferidas como parte dessa transação. As promessas nesta política de privacidade serão aplicáveis às suas informações como transferidos para a nova entidade.</p>

      <p>Podemos compartilhar ou divulgar as suas informações que não são privadas, agregados ou informações pessoais, como seus comentários públicos ou o número de usuários que clicaram em um link específico.</p>

      <span class="section">Da confidencialidade e segurança</span>

      <p>Limitamos o acesso às informações pessoais que temos sobre o usuário aos nossos empregados que, conforme acreditamos, possam ter necessidade delas para exercer suas funções que visam fornecer a você nossos produtos e serviços.</p>

      <span class="section">Das mudanças nesta política</span>

      <p>O Redu pode atualizar essa política. Havendo alguma alteração em nossa Política de Privacidade, enviaremos uma notificação para o endereço de e-mail associado a conta do usuário. Ao continuar a utilizar os serviços após as alterações se tornarem eficaz, o usuário concorda em ficar vinculado a essa.</p>

      <p>Qualquer dúvida ou sugestão sobre nossa política de privacidade, por favor envie um e-mail para <a href="mailto:privacidade@redu.com.br" title="privacidade@redu.com.br">privacidade@redu.com.br</a></p>

      <p>Atualizado pela última vez em: <em>março de 2012</em></p>
    </div>
  <hr>
  <button class="button-default">Voltar</button>
</div>
