<%#
  Aulas Multimídia.
%>

<div class="landing-multimedia landing-navigation-message-hover">
  <div class="landing-multimedia-description">
    <h3 class="landing-navigation-subtitle">Aulas Multimídia</h3>
    <h4 class="landing-navigation-legend">Assista aulas de vídeo, leia artigos, documentos e apresentações dos professores.</h4>
    <p class="landing-navigation-message">Os meios podem ser diversos, mas os fins são os mesmos: a construção do conhecimento. Em qualquer formato, as aulas estarão disponíveis a todos os membros do curso.</p>
  </div>
  <div class="landing-multimedia-types">
    <div class="landing-multimedia-types-left">
      <%= link_to "#aula-video", "data-toggle" => "modal",
        class: "landing-multimedia-type sprite-multimedia-video" do %>
        <span class="landing-multimedia-type-circle"></span>
      <% end %>
      <%= link_to "#aula-documento", "data-toggle" => "modal",
        class: "landing-multimedia-type sprite-multimedia-document" do %>
        <span class="landing-multimedia-type-circle"></span>
      <% end %>
      <%= link_to "#aula-apresentacao", "data-toggle" => "modal",
        class: "landing-multimedia-type sprite-multimedia-presentation" do %>
        <span class="landing-multimedia-type-circle"></span>
      <% end %>
    </div><!--
 --><div class="landing-multimedia-types-right">
      <div class="landing-multimedia-exercise-box">
        <%= link_to "#aula-exercicio", "data-toggle" => "modal",
          class: "landing-multimedia-type sprite-multimedia-exercise" do %>
          <span class="landing-multimedia-type-circle"></span>
        <% end %>
        <h4 class="landing-navigation-legend">Exercícios de múltipla escolha</h4>
        <p><strong>Avalie conhecimentos através de exercícios on-line.</strong></p>
        <p>Teste conhecimentos em questões de múltipla escolha. É possível acompanhar o desempenho e evolução nesse tipo de avaliação.</p>
      </div>
    </div>
  </div>
  <span class="landing-multimedia-icon sprite-icon-exercise text-replacement" title="Aulas Multimídia">Aulas Multimídia</span>
  <%= render "landing/modal_multimedia", title: "Aula de Vídeo",
    image: "landing/multimedia-video-screenshot.png", type: "video",
    size: "778x820" %>
  <%= render "landing/modal_multimedia", title: "Aula de Texto",
    image: "landing/multimedia-document-screenshot.png", type: "documento",
    size: "778x820" %>
  <%= render "landing/modal_multimedia", title: "Aula de Apresentação",
    image: "landing/multimedia-presentation-screenshot.png", type: "apresentacao",
    size: "778x820" %>
  <%= render "landing/modal_multimedia", title: "Exercícios",
    image: "landing/multimedia-exercise-screenshot.png", type: "exercicio",
    size: "778x742" %>
</div>