<div class="landing-partners-wrapper">
  <h2 class="partners-title">Alguns parceiros do Redu</h2>
  <div class="landing-partners">
    <%= link_to "Academia para o Desenvolvimento da Educação",
        "http://www.adebrasil.org.br/",
        :class => "landing-partner sprite-partner-ade text-replacement",
        :title => "Academia para o Desenvolvimento da Educação",
        :alt => "Academia para o Desenvolvimento da Educação"
    %>
    <%= link_to "Universidade Federal de Pernambuco",
        "http://www.ufpe.br/",
        :class => "landing-partner sprite-partner-ufpe text-replacement",
        :title => "Universidade Federal de Pernambuco",
        :alt => "Universidade Federal de Pernambuco"
    %>
    <%= link_to "Faculdade de Igarassu",
        "http://www.facig-pe.edu.br/",
        :class => "landing-partner sprite-partner-facig text-replacement",
        :title => "Faculdade de Igarassu",
        :alt => "Faculdade de Igarassu"
    %>
    <%= link_to "Escola Técnica Regional",
        "http://etrpe.com.br/",
        :class => "landing-partner sprite-partner-etr text-replacement",
        :title => "Escola Técnica Regional",
        :alt => "Escola Técnica Regional"
    %>
    <%= link_to "Universidade Federal do Vale do São Francisco",
        "http://www.univasf.edu.br/",
        :class => "landing-partner sprite-partner-univasf text-replacement",
        :title => "Universidade Federal do Vale do São Francisco",
        :alt => "Universidade Federal do Vale do São Francisco"
    %>
    <%= link_to "Faculdade Franssinetti do Recife",
        "http://www.fafire.br/",
        :class => "landing-partner sprite-partner-fafire text-replacement",
        :title => "Faculdade Franssinetti do Recife",
        :alt => "Faculdade Franssinetti do Recife"
    %>
  </div>
</div>
