<div class="landing-plans">
  <h1 id="planos" class="landing-navigation-title">Planos</h1>
  <div class="type-plan">
      <span class="type-plan-icon">
            <%= image_tag "landing/icon-48px-instituicao.png",
                :alt => "Instituição",
                :title => "Instituição"
            %>
            <h4> Ensino Médio e Fundamental </h4>
      </span>
      <span class="free-plan">
        <hr>
        <h5>Grátis para até</h5>
        <h2 class="limit-users-free">60</h2>
        <h5>alunos</h5>
       <hr>
      </span>
      <span class="learn-plan">
        <%= link_to "Conheça o planos", nil, :class => 'button-big button-primary' %>
        <!--<button class="button-primary button-big" data-toggle="modal" href="#modal-plan-ensino-fund-med">Conheça os planos</button>-->
      </span>
  </div>
  <div class="type-plan">
      <span class="type-plan-icon">
             <%= image_tag "landing/icon-48px-instituicao.png",
                :alt => "Instituição",
                :title => "Instituição"
            %>
            <h4> Ensino Superior</h4>
      </span>
      <span class="free-plan">
        <hr>
        <h5>Grátis para até</h5>
        <h2 class="limit-users-free">60</h2>
        <h5>alunos</h5>
       <hr>
      </span>
      <span class="learn-plan">
        <%= link_to "Conheça o planos", nil, :class => 'button-big button-primary' %>
      </span>
  </div>
  <div class="type-plan">
      <span class="type-plan-icon">
             <%= image_tag "landing/icon-48px-produtor.png",
                :alt => "Produtor",
                :title => "Produtor"
            %>
             <h4>Produtor independente</h4>
      </span>
      <span class="free-plan">
        <hr>
        <h5>Grátis para até</h5>
        <h2 class="limit-users-free">60</h2>
        <h5>alunos</h5>
       <hr>
      </span>
      <span class="learn-plan">
        <%= link_to "Conheça o planos", nil, :class => 'button-big button-primary' %>
      </span>
  </div>
  <div class="type-plan">
      <span class="type-plan-icon">
             <%= image_tag "landing/icon-48px-consultoria.png",
                :alt => "Consultoria",
                :title => "Consultoria"
            %>
            <h4>Consultoria e treinamento de R.H.</h4>
      </span>
      <span class="free-plan">
        <hr>
        <h5>Grátis para até</h5>
        <h2 class="limit-users-free">60</h2>
        <h5>alunos</h5>
       <hr>
      </span>
      <span class="learn-plan">
        <%= link_to "Conheça o planos", nil, :class => 'button-big button-primary' %>
      </span>
  </div>
</div>
<%= render :partial => 'landing/modals-windows' %>

