<div class="landing-plans">
  <h1 id="planos" class="landing-navigation-title">Planos</h1>
  <div class="type-plan">
    <div class="type-plan-icon">
      <span class="landing-plan-icon sprite-plan-institution text-replacement">Ensino médio e fundamental</span>
      <h4> Ensino Médio e Fundamental </h4>
    </div>
    <div class="free-plan">
      <hr>
      <h5>Grátis para até</h5>
      <h2 class="limit-users-free">60</h2>
      <h5>alunos</h5>
     <hr>
    </div>
    <span class="learn-plan">
      <%= link_to "conheça o plano", "#plan-high-school", "data-toggle" => "modal", :class => 'button-big button-primary' %>
    </span>
    <%= render :partial => 'landing/modal_plan_high_school' %>
  </div>
  <div class="type-plan">
    <div class="type-plan-icon">
      <span class="landing-plan-icon sprite-plan-institution text-replacement">Instituição</span>
      <h4> Ensino Superior</h4>
    </div>
    <div class="free-plan">
      <hr>
      <h5>Grátis para até</h5>
      <h2 class="limit-users-free">60</h2>
      <h5>alunos</h5>
     <hr>
    </div>
    <span class="learn-plan">
      <%= link_to "conheça o plano", "#plan-university", "data-toggle" => "modal", :class => 'button-big button-primary' %>
    </span>
    <%= render :partial => 'landing/modal_plan_university' %>
  </div>
  <div class="type-plan">
    <div class="type-plan-icon">
      <span class="landing-plan-icon sprite-plan-independent text-replacement">Produtor Independente</span>
      <h4>Produtor independente</h4>
    </div>
    <div  class="free-plan">
      <hr>
      <h5>Grátis para até</h5>
      <h2 class="limit-users-free">60</h2>
      <h5>alunos</h5>
     <hr>
    </div>
    <span class="learn-plan">
      <%= link_to "conheça o plano", "#plan-independent", "data-toggle" => "modal", :class => 'button-big button-primary' %>
    </span>
    <%= render :partial => 'landing/modal_plan_independent' %>
  </div>
  <div class="type-plan">
    <div class="type-plan-icon">
      <span class="landing-plan-icon sprite-plan-consultancy-hr text-replacement">Consultoria</span>
      <h4>Consultoria e treinamento de R.H.</h4>
    </div>
    <div class="free-plan">
      <hr>
      <h5>Grátis para até</h5>
      <h2 class="limit-users-free">60</h2>
      <h5>alunos</h5>
     <hr>
    </div>
    <span class="learn-plan">
      <%= link_to "conheça o plano", "#plan-consultancy", "data-toggle" => "modal", :class => 'button-big button-primary' %>
    </span>
    <%= render :partial => 'landing/modal_plan_consultancy_hr' %>
  </div>
</div>
