<div class="landing-plans">
  <h1 id="planos" class="landing-navigation-title">Planos</h1>
  <div class="type-plan">
    <span class="type-plan-icon">
      <span class="landing-plan-icon sprite-plan-institution"></span>
      <h4> Ensino Médio e Fundamental </h4>
    </span>
    <span class="free-plan">
      <hr>
      <h5>Grátis para até</h5>
      <h2 class="limit-users-free">60</h2>
      <h5>alunos</h5>
     <hr>
    </span>
    <span class="learn-plan">
      <%= link_to "Conheça o planos", "#plano-ensino-medio-e-fundamental", "data-toggle" => "modal", :class => 'button-big button-primary' %>
    </span>
    <%= render :partial => 'landing/modal-plan-high-school' %>
  </div>
  <div class="type-plan">
    <span class="type-plan-icon">
      <span class="landing-plan-icon sprite-plan-institution"></span>
      <h4> Ensino Superior</h4>
    </span>
    <span class="free-plan">
      <hr>
      <h5>Grátis para até</h5>
      <h2 class="limit-users-free">60</h2>
      <h5>alunos</h5>
     <hr>
    </span>
    <span class="learn-plan">
      <%= link_to "Conheça o planos", "#plano-ensino-superior", "data-toggle" => "modal", :class => 'button-big button-primary' %>
    </span>
    <%= render :partial => 'landing/modal-plan-university' %>
  </div>
  <div class="type-plan">
    <span class="type-plan-icon">
      <span class="landing-plan-icon sprite-plan-independent"></span>
      <h4>Produtor independente</h4>
    </span>
    <span class="free-plan">
      <hr>
      <h5>Grátis para até</h5>
      <h2 class="limit-users-free">60</h2>
      <h5>alunos</h5>
     <hr>
    </span>
    <span class="learn-plan">
      <%= link_to "Conheça o planos", "#plano-produtor-independente", "data-toggle" => "modal", :class => 'button-big button-primary' %>
    </span>
    <%= render :partial => 'landing/modal-plan-independent' %>
  </div>
  <div class="type-plan">
    <span class="type-plan-icon">
      <span class="landing-plan-icon sprite-plan-consultancy-hr"></span>
      <h4>Consultoria e treinamento de R.H.</h4>
    </span>
    <span class="free-plan">
      <hr>
      <h5>Grátis para até</h5>
      <h2 class="limit-users-free">60</h2>
      <h5>alunos</h5>
     <hr>
    </span>
    <span class="learn-plan">
      <%= link_to "Conheça o planos", "#plano-consultoria-treinamento-rh", "data-toggle" => "modal", :class => 'button-big button-primary' %>
    </span>
    <%= render :partial => 'landing/modal-plan-consultancy-hr' %>
  </div>
</div>
