<%= @presenter.context(self) do |presenter| %>
  <td colspan="2">
    <table class="status-answer">
      <tr>
        <td rowspan="3" class="avatar-cell">
          <%= image_tag presenter.author_avatar(:thumb_32), size: "32x32" %>
        </td>
        <td rowspan="3" class="content-cell">
          <span class="status-action">
            <%= presenter.author_link %> <%= presenter.action %>
          </span>
          <span class="hiearchy-path">
            <%= presenter.hierarchy_breadcrumbs %>
          </span>
          <%= presenter.answer_link %>
          <span class="status-action">Comentário:</span>
          <blockquote class="status-content">
            <%= presenter.answer_text %>
          </blockquote>
        </td>
        <td rowspan="3" class="icon-cell">
          <%= image_tag "mail/icon-friendship-big.png", size: "64x64" %>
        </td>
      </tr>
    </table>
  </td>
<% end %>
