<div id="header" class="container_16">
    <h1 id="logo" class="grid_2"><a href="<%=application_url%>" class="replacement">Redu - Rede Social Educacional</a></h1>
    <div id="global-nav" class="grid_6">
      <ul class="clearfix">
        <li class="item-1">
          <% if current_user %>
            <%= link_to "Início", home_user_path(current_user) %>
          <% else %>
            <%= link_to "Início", new_user_path %>
          <% end %>
        </li>
        <li class="item-2 selected">
          <% if current_user %>
            <%= link_to "Aprenda", user_path(current_user) %>
          <% else %>
            <%= link_to "Aprenda", new_user_path  %>
          <% end %>
        </li>
        <li class="item-3">
          <%= link_to "Ensine", teach_index_path %>
        </li>
        <li class="item-4">
          <%= link_to "Cursos", courses_index_path %>
        </li>
      </ul>
    </div>
    <div id="global-search" class="grid_5">
        <form action="" id="search">
            <div class="searchbox">
            <input type="text" name="search" />
            <input type="submit" value="Buscar" class="replacement" onclick="alert('No momento esta opção está desabilitada.\n Ela ficará disponível na versão pública do Redu.'); return false;" />
            </div>
        </form>
    </div>

    <div class="user-actions grid_3">
	<% if current_user %>
          <div id="user-container">
            <div id="topnav" class="topnav"><a href="login" class="signin"><span><%= current_user.display_name %></span></a> </div>
            <fieldset id="signin_menu" class="signedin">
              <ul>
                <li>
                  <%= link_to "Meu perfil", user_path(current_user) %>
                  <% if can? :manage, current_user %>
                    <%= link_to "Editar", edit_user_path(current_user), :class => "small quiet" %>
                  <% end %>
                </li>
                <% if current_user.admin? %>
                  <li>
                    <%= link_to "Painel administrativo", admin_dashboard_path %>
                  </li>
                <% end %>
                <li>
                  <%= link_to "Mensagens (#{current_user.unread_message_count})", user_messages_path(current_user) %>
                </li>
                <% unless AppConfig.closed_beta_mode %>
                  <li>
                    <%= link_to "Convidar", invite_user_path(current_user) %>
                  </li>
                <% end %>
                <li>
                  <strong>
                    <%= link_to "Sair", logout_path %>
                  </strong>
                </li>
              </ul>
            </fieldset>
          </div>
	<% else %>
          <div id="user-container">
            <div id="topnav" class="topnav"><a href="login" class="signin"><span>Entrar</span></a> </div>
            <fieldset id="signin_menu">
              <% @user_session = UserSession.new %>
              <% form_for @user_session, :url => sessions_path do |f| %>
                <%= f.label :login, :username_or_email.l %>
                <%= f.text_field :login, :size => 35, :id => "username" %>
                <p>
                  <%= f.label :password, :password.l %>
                  <%= f.password_field :password, :size => 35 %>
                </p>
                <p class="remember">
                  <%= f.submit "Entrar", :id => "signin_submit" %>
                  <%= f.check_box :remember_me, :id => "remember" %>
                  <%= f.label :remember_me, :remember_me.l, :class => "inline" %>
                </p>
                <% unless Rails.env == 'production' || Rails.env == 'staging' %>
                  <% form_tag({:controller => :users, :action => :create}, {:method => :post}) do %>
                    <%= oauth_login_button :value => "Login with Twitter", :class => "twitter" %>
                  <% end %>
                <% end %>
                <p class="forgot"><%= link_to "Esqueceu a senha?", forgot_password_path %> </p>
                <p class="forgot-username"><%= link_to "Esqueceu o usuário?", forgot_username_path %> </p>
              <% end %>
            </fieldset>
          </div>

	<% end %>

</div><!-- end header -->
    </div>

