<div id="header" class="container_16">
    <h1 id="logo" class="grid_3"><a href="<%=application_url%>" class="replacement">Redu - Rede Social Educacional</a></h1>
    <div id="global-nav" class="grid_6">
        <ul class="clearfix">
	    <li class="item-1">
	        <a href="<%=application_url%>">Início</a>
	    </li>
	    <li class="item-2 selected">
			<%= link_to "Aprenda", { :controller => "base", :action => "teach_index" } %>
	    </li>
	    <li class="item-3">
		<%= link_to "Ensine", { :controller => "base", :action => "learn_index" } %>	
		</li>
		<li class="item-4"><a href="<%= schools_path %>">Redes</a></li>
	    </ul>
    </div>
    <div id="global-search" class="grid_5">
        <form action="" id="search">
            <div class="searchbox">
            <input type="text" name="search" />
            <input type="submit" value="Buscar" class="replacement" />
            </div>
        </form>
    </div>
    
    <div class="user-actions grid_2">
   <a href="#user-settings" class="pandora closed"><%= current_user.first_name %></a>
        <div id="user-settings" class="option hide">
        <ul>
        	<li>
            	<a href="<%=user_path(current_user)%>">Meu Perfil</a>
			</li>
			<hr/>
			<% if current_user.admin? %>
			<li><a href="<%= admin_dashboard_path %>" style="color: red;">Admin</a></li>
			<% end %>
            <li>
            	<a href="<%=user_messages_path(current_user)%>">Mensagens (<%=current_user.unread_message_count %>)</a>
			</li>
            <li>
                <%= link_to 'Favoritos', favorites_courses_path(:from => 'favorites') %>
            </li>
            <li>
            	<%= link_to "Convidar", invite_user_path(current_user) %>
            </li>
            <li>
                <a href="<%=logout_path%>">Sair</a>
            </li>
        </ul>
        </div>

   <!--
      <a href="#user-login" class="pandora closed">Login</a>
        <div id="user-login" class="option hide">
        <form action="" method="" class="common">
        <fieldset>
            <label for="username">Login</label>
            <input type="text" id="username" name="" />
            <label for="password">Senha</label>
            <input type="password" id="password" name="" />
            <button type="submit">Entrar</button>
        </fieldset>
        </form>
        </div> -->
</div><!-- end header -->       
    </div>

