<div id="all_content3">
    <div id="col_content">
        <div id="breadcrumbs">
            <a href="<%=application_url%>">rede</a>
            > fórum > tópico
        </div>

<%-box do %>
	<label for='username'>
		<%= :edit_topic.l %>
	</label>

	<%= error_messages_for :topic %>
	<%- form_for :topic, :url  => forum_topic_path(@forum, @topic), :html => { :method => :put, :class => "MainForm" } do |f| %>
		<%= render :partial => "form", :object => f %>
		<p>
			<%= submit_tag :save_changes.l, :or.l => link_to(:cancel.l, forum_topic_path(@forum, @topic)) %>
		</p>
	<% end %>

<% end %>


	</div>
</div>