<div id="all_content3">
    <div id="col_content">
        <div id="breadcrumbs">
            <a href="<%=application_url%>">rede</a>
            > fórum
        </div>
		
		
		<%- @meta = { :description => "#{@topic.title.capitalize} discussion.",:keywords => "#{@topic.tags.join(', ') if @topic.tags}", :robots => AppConfig.robots_meta_show_content} %>
		<%- @section = 'forums' %>
		<%- @page_title = @topic.title %>
		<%- @monitoring = logged_in? && current_user.monitoring_topic?(@topic) %>
		
		<script type="text/javascript">
		function monitor_click(checkbox){
		if (checkbox.checked) {
  		<%= remote_function :url => forum_topic_monitorship_path(@forum, @topic) %>
  		} else {
  		<%= remote_function :url => forum_topic_monitorship_path(@forum, @topic), :method => :delete %>
  		}} 	
		</script>
		
	<%-box :class => "alt first_alt" do %>
		
			<%- if logged_in? %>
		
				<%- form_tag forum_topic_monitorship_path(@forum, @topic), :style => 'margin-top:0em; float:right;' do %>
					<div id='monitor_topic'>
						<input id='monitor_checkbox' type="checkbox" checked= "@monitoring" onclick="monitor_click(this);" />
						<label id='monitor_label' for="monitor_checkbox">
							<%= :watch.l+"#{@monitoring ? :watch_ing.l : ''}" %> 
							<%= :topic.l %>
						</label>
						<%= hidden_field_tag '_method', 'delete' if @monitoring %>
						<%= submit_tag :Set, :id => 'monitor_submit', :style => "display:none" %>
					</div>
				<% end %>
		
			<% end %>
			
			<%= link_to :forums.l, forum_home_path %> >
			<span class='arrow'>
				<%= link_to h(@topic.forum.name), forum_path(@topic.forum) %> >
			</span>
			<span class='arrow'>
				<%=h @topic.title %>
			</span>
			
		
	<% end %>
		
	<%-box :class => "forum" do %>
		
		<h3 id='topic-title'>
			<%= h @topic.title %>
			<%- if @topic.locked? %>
				<span>
					<%= :locked2.l %>
				</span>			
			<% end %>
			<%- if logged_in? %>
				<span id='topic_mod' style="display:none;">
					<%- if @topic.editable_by?(current_user) %>
					<%= link_to(:edit.l, edit_forum_topic_path(@forum, @topic), :class => "utility") %> |
					<%= link_to(:delete.l, forum_topic_path(@forum, @topic), :class => "utility", :method => :delete, :confirm => :delete_this_topic_forever.l) %>
					<% end %>
				</span>
				<script type="text/javascript">
					$('topic-title').observe('mouseover', function(){ $('topic_mod').show()});
      				$('topic-title').observe('mouseout', function(){ $('topic_mod').hide()});     
				</script>
			<% end %>
		</h3>
		
		<p class='subtitle'>
				<%= feed_icon_tag @topic.title, forum_topic_path(@forum, @topic, :format => :rss) %>
				<%= "#{pluralize @topic.sb_posts.count, :post.l}, #{:voices.l}," %>
				<%= "Tagged: #{@topic.tags.collect{|t| link_to( h(t.name), tag_url(t), :class => 'tag') }.join(" ")}" unless @topic.tags.empty? %>
		</p>
		<ul class='flat talking'>
			<li class='label'>
				<%= :voices.l+":" %>
				<%- @voices.each do |user| %>
					<li>
						<%= link_to h(user.display_name), user_path(user) %> 
					</li>
				<% end %>
			</li>
		</ul>
		
		<h6 class='all right'>
			<%= link_to_function :reply_to_topic.l, "ReplyForm.init()", :class => "utility" %>
			<%- if @posts.page_count > 1 %>
				<div class='pagination clear'>
					<%= paginating_links @posts %>					
				</div>
			<% end %>
		</h6>
		<a name="#{@posts.to_a.first.dom_id}" id="#{@posts.to_a.first.dom_id}" >
		
		
		<table class='posts wide' cellspacing='0' border='0' cellpadding='0' >
			<tbody>
			<%- for post in @posts do %>
				<%- unless post.eql?(@posts.to_a.first) %>
					<tr class='spacer'>
						<td colspan="2">
							<a name="<%=post.dom_id%>-row" id="<%=post.dom_id%>"></a>
						</td>
					</tr>
				<% end %>
				<tr class='post' id='posts-<%=post.dom_id%>-row' >
					<td class='author vcard'  width="15%">
						<div class='date'>
							<a href="#<%=post.dom_id%>" rel="bookmark" >
								<abbr class='updated' title="#{post.created_at.xmlschema}">
									<%= time_ago_in_words(post.created_at) %>
								</abbr>							
							</a>
						</div>
						<%= avatar_for post.user %>
						<span class='fn'>
							<%= link_to truncate(h(post.user.display_name), :length => 20), user_path(post.user), :class => (post.user == @posts.to_a.first.user ? "admin" : nil) %>
						</span>
						<span class='posts'>
							<%= pluralize post.user.sb_posts_count, :post.l %>
							<%- if logged_in? && post.editable_by?(current_user) %>
								<p>
									<span class='edit'>
										<%= ajax_spinner_for "edit-post-#{post.id}", "spinner_bounce.gif" %>
										<%= link_to_remote(:edit_post.l, {:url => edit_forum_topic_sb_post_path(@forum, @topic, post), :method => :get, :before => "EditForm.init(#{post.id});", :condition => "!EditForm.isEditing(#{post.id})" }, {:class => "utility"}) %>
									</span>
									<div class="make-moderator-#{post.user_id}">
										<%- if admin? && !post.user.admin? %>
											<%= render :partial => '/moderators/toggle', :locals => {:user => post.user, :forum => @forum} %>
										<% end %>
									</div>
								</p>
							<% end %>
						</span>
						<td class='body entry-content' id="post-body-#{post.id}" width='85%'>
							<%= link_to_function image_tag('/clearbits/comment.gif', :class => 'icon reply'), "$('reply').toggle()" if logged_in? %>
							<%= post.body_html %>
						</td>
					</td>
					
				</tr>
				<br/>
			<% end %>
			</tbody>
		</table>
		
		<%- if @posts.page_count > 1 %>
			<div class='pagination'>
				<%= paginating_links @posts %>
			</div>	
		<% end %>
		
		<%- if logged_in? %>
			<div id='edit'>
			<%- if @topic.locked? %>
				<p>
					<%= image_tag "clearbits/lock.gif", :class => "icon grey", :title => :topic_locked.l %>
					<label for='username'>
						<%= :this_topic_is_locked.l %>
					</label>
				</p>
			<%- else %>
				<h6 class='all right'>
					<%= link_to_function :reply_to_topic.l, "ReplyForm.init()", :class => "utility" %>
					<div id='reply' class='editbox'>
						<div class='container'>
						<%= content_tag 'p', h(flash[:bad_reply]), :class => 'notice' if flash[:bad_reply] %>
					
						<%- form_for :post, :url => sb_posts_path(:forum_id => @forum, :topic_id => @topic, :page => @topic.last_page) do |f| %>
						<table cellspacing="0" border="0" cellpadding="0" width="100%">
							<tr>
								<td rowspan="2" width="70%" >
									<%= f.text_area :body, :style => "width: 99%" %>
								</td>
								<td style="vertical-align:top;">
									<%= submit_tag :save_reply.l %>
									<span class='button_or'>
										<%= :or.l+" #{link_to_function :cancel.l, "$('reply').hide()"}" %>
									</span>
								</td>
							</tr>
							<tr>
								<td style="vertical-align: bottom; padding-bottom:15px;"></td>
							</tr>
						</table>	
						<% end %>
						</div>
					</div>
				</h6>	
			<% end %>
			</div>
			<%= javascript_tag "$('reply').hide();" %>
		<%- else %>
		<p>
			<%= link_to :log_in_to_reply_to_this_topic.l, new_forum_topic_sb_post_path(@topic.forum, @topic), :class => "utility" %>
		</p>	
		<% end %>
		
	<% end %>
	
	<%-box :class => "alt" do %>
	<%= link_to :forums.l, forum_home_path %> >
	<span class='arrow'>
		<%= link_to h(@topic.forum.name), forum_path(@topic.forum) %> >
	</span>
	<span class='arrow'>
		<%= h @topic.title %>
	</span>
	<% end %>
	
		
	</div>
</div>