  		<div id="task_bar_exames">
  		<%= link_to 'Senhas Beta', beta_keys_path %> | 
		<%= link_to 'Newsletter', :action => 'new' %> | 
		<%= link_to 'Feedback', :action => 'new' %> |
		<%= link_to 'Estatísticas', statistics_path %> | 
		<span>
		Moderar ( 
		<%= link_to 'Aulas' , pending_courses_path %> |
		<%= link_to 'Exames', favorites_courses_path %> |
  		<%= link_to 'Redes', published_user_courses_path(current_user.id) %> |
		<%= link_to 'Usuários', favorites_courses_path %> | 
		<%= link_to 'Comentários', admin_comments_path %> )
		</span>
		</div>
