<%= image_tag 'loadingAnimation.gif', :id => 'loading_bar', :style => "display: none; margin-top: 40px"%>

<table style="width: 100%; margin: 15px 10px 20px 10px;" id ="user_list_table">
				<tr>
					<th></th><th>#ID</th><th>Usuário</th><th>Data</th><th>Papel</th><th></th>
				</tr>
		 	<% for user in users %>
				<tr>
					<tr>
						<td><%= check_box_tag 'users[]', user.id  %></td>
						<td><%= user.id  %></td>
						<td><%= link_to user.display_name, user_path(user), :target => "_blank" %> </td>
						<td><%= time_ago_in_words(user.created_at) %> </td>
						<td><%= user.role.name %> </td>
						<td><%= link_to( :assume_id.l , assume_user_path(user) ) %> </td>
						<td><%= link_to_remote(image_tag('icons/delete.png', :border => 0), {:url => user_path(user), :method => :delete, :success => visual_effect(:fade, "user_#{user.id}"), :confirm => "Are you sure you want to permanently delete this user"} ) %> </td>
					</tr>
				</tr>
 			<% end %>
</table>