<script type="text/javascript">
	function selectAll(){
	//$('select_all_link').hide();
	//$('select_all_string').show();
	var checkboxes = document.getElementsByName("schools[]");
	for (var i =0; i< checkboxes.length; i++) {
		checkboxes[i].checked = true;
	}
	
}

function selectNone(){
	var checkboxes = document.getElementsByName("schools[]");
	for (var i =0; i< checkboxes.length; i++) {
		checkboxes[i].checked = false;
	}
}

	
</script>

<div class="grid_16">
<div id="breadcrumbs">
	<a href="#">Administração</a> > Redes
</div>

<div id="title_video">Moderação de Redes</div>
</div>

<div class="main grid_16">
    <div class="fake-tabs grid_16 alpha omega">
        <%= render :partial => "admin/taskbar" %>
        <div class="panel">
        	
					<h3>Mostrando redes mais recentes</h3>
					
    <div id="all_list">
    	
		<% if @schools && @schools.size > 0 %>
		Selecionar <%=link_to_function 'Todos', 'selectAll()'%> | <%=link_to_function 'Nenhum', 'selectNone()'%> 
		
		 <% form_tag :action => :moderate_schools do %>
			<table style="width: 100%; margin: 15px 10px 20px 10px;" class="common">
				<tr>
					<th></th><th>#ID</th><th>Rede</th><th>Dono</th><th>Data</th>
				</tr>
		 	<% for school in @schools %>
				<tr>
					<tr>
						<td><%= check_box_tag 'schools[]', school.id  %></td>
						<td><%= school.id  %></td>
						<td><%= link_to school.name, school_path(school), :target => "_blank" %> </td>
                                                <% if school.owner %>
                                                  <td><%= school.owner.display_name %> </td>
                                                <% else %>
                                                  <td> Rede sem dono </td>
                                                <% end %>
						<td><%= time_ago_in_words(school.created_at) %> </td>
					</tr>
				</tr>
 			<% end %>
			</table>
			<%= submit_tag "Remover" %>
		 <% end %>
		<% else %>
 			Não há redes públicas ainda. 
		<% end %>
    	
    </div> <!-- fim da listagem --> 
	
	<div id="pagination" align="center" class="pagination">

		<%= will_paginate  @schools, :params => {:sort_by => @sort_by}, :class => "pagination_number"  %>
		
    </div>

</div>
	</div>
</div>
