<script type="text/javascript">
	function selectAll(){
	//$('select_all_link').hide();
	//$('select_all_string').show();
	var checkboxes = document.getElementsByName("spaces[]");
	for (var i =0; i< checkboxes.length; i++) {
		checkboxes[i].checked = true;
	}

}

function selectNone(){
	var checkboxes = document.getElementsByName("spaces[]");
	for (var i =0; i< checkboxes.length; i++) {
		checkboxes[i].checked = false;
	}
}


</script>

<div class="grid_16">
  <div id="title_video">Moderação de Redes</div>
</div>

<div class="main grid_16">
    <div class="fake-tabs grid_16 alpha omega">
        <%= render :partial => "admin/taskbar" %>
        <div class="panel">

					<h3>Mostrando disciplinas mais recentes</h3>

    <div id="all_list">

		<% if @spaces && @spaces.size > 0 %>
		Selecionar <%=link_to_function 'Todos', 'selectAll()'%> | <%=link_to_function 'Nenhum', 'selectNone()'%>

		 <% form_tag :action => :moderate_spaces do %>
			<table style="width: 100%; margin: 15px 10px 20px 10px;" class="common">
				<tr>
					<th></th><th>#ID</th><th>Disciplina</th><th>Dono</th><th>Data</th>
				</tr>
		 	<% for space in @spaces %>
				<tr>
					<tr>
						<td><%= check_box_tag 'spaces[]', space.id  %></td>
						<td><%= space.id  %></td>
						<td><%= link_to space.name, space_path(space), :target => "_blank" %> </td>
                                                <% if space.owner %>
                                                  <td><%= space.owner.display_name %> </td>
                                                <% else %>
                                                  <td> Disciplina sem dono </td>
                                                <% end %>
						<td><%= time_ago_in_words(space.created_at) %> </td>
					</tr>
				</tr>
 			<% end %>
			</table>
			<%= submit_tag "Remover" %>
		 <% end %>
		<% else %>
 			Não há disciplinas públicas ainda.
		<% end %>

    </div> <!-- fim da listagem -->

	<div id="pagination" align="center" class="pagination">

		<%= will_paginate  @spaces, :params => {:sort_by => @sort_by}, :class => "pagination_number"  %>

    </div>

</div>
	</div>
</div>
