<h1>Listando chaves da escola</h1>

<table>
  <tr>
    <th>Chave</th>
	<th>Usuário</th>
    <th>Expiration date</th>
  </tr>

<% @user_school_associations.each do |association| %>
  <tr>
  	<td><%=h association.access_key.key %></td>
    <td>
    	<%=h association.user ? association.user.name : 'unsigned' %>
		</td>
    <td><%=h association.access_key.expiration_date %></td>
   
    <td><%= link_to 'Show', association %></td>
	<td><%= link_to 'Edit', edit_user_school_association_path(association) %></td>
    <td><%= link_to 'Destroy', association, :confirm => 'Are you sure?', :method => :delete %></td>
 
     </tr>
<% end %>
</table>

<br />

