<%  if logged_in? %>
<ul class="menu">

<li>
<%= 
link_to_unless_current 'Solicitacões(' + @space.pending_requests.count.to_s + ')', admin_requests_space_path do
  link_to 'Solicitações', admin_requests_space_path, 
    :class => 'selected'
end
%>
</li>

<li>
<%= 
link_to_unless_current 'Membros (' + @space.users.count.to_s + ')', admin_members_space_path do
  link_to 'Membros', admin_members_space_path, 
    :class => 'selected'
end
%>
</li>
<li>
<%= 
link_to_unless_current 'Submissões', admin_submissions_space_path do
  link_to 'Submissões', admin_submissions_space_path, 
    :class => 'selected'
end
%>
</li>
<li>
<%= 
link_to_unless_current 'Aparência', look_and_feel_space_path do
  link_to 'Aparência', look_and_feel_space_path, :class => 'selected'
end
%>
</li>
<li>
<%= 
link_to_unless_current 'Configurações', edit_space_path(@space) do
  link_to 'Configurações', edit_space_path(@space), :class => 'selected'
end
%>
</li>
<li>
<%=
link_to_unless_current 'Notícias (' + waiting_bulletins_count.to_s + ')', admin_bulletins_space_path do
  link_to 'Notícias', admin_bulletins_space_path, :class => 'selected'
end
%>
</li>
<li>
<%=
link_to_unless_current 'Eventos (' + waiting_events_count.to_s + ')', admin_events_space_path do
  link_to 'Eventos', admin_events_space_path, :class => 'selected'
end
%>
</li>
<!--<li><%= link_to 'Papéis', owner_user_spaces_path(current_user.id) %></li>-->
<!--<li><%= link_to 'Gadgets', owner_user_spaces_path(current_user.id) %></li>-->
<!--<li><%= link_to 'Conta (Premium)', owner_user_spaces_path(current_user.id) %></li>-->
</ul>

<% end %>
