<%#
  Formulário de criação/edição de disciplina.

  Variáveis:
    space: a disciplina.
    f: o formulário.
    edit: se o formulário está sendo usado para edição.
%>

<%= new_concave_error_messages_for space %>

<div class="form-fieldset-section">
  <%= hidden_field_tag "course_id", space.course.id %>

  <%# Nome. %>
  <div class="control-group row">
    <div class="control-label span3">
      <%= f.label :name, "Nome da Disciplina" %>
    </div>
    <div class="controls span8">
      <%= f.text_field :name, placeholder: "Nome da Disciplina" %>
      <%= concave_errors_for(f.object, :name) %>
    </div>
  </div>

  <%# Descrição. %>
  <div class="control-group row">
    <div class="control-label span3">
      <%= f.label :description, "Descrição" %>
    </div>
    <div class="controls span8">
      <%= f.text_area :description,
        placeholder: "Digite informações resumidas acerca da Disciplina",
        rows: 6 %>
      <%= concave_errors_for(f.object, :description) %>
    </div>
  </div>

  <%# Palavras-chave. %>
  <div class="control-group row">
    <div class="control-label span3">
      <%= f.label :tag_list, "Palavras-chave" %>
    </div>
    <div class="controls span8">
      <%= f.text_field :tag_list,
        placeholder: "Áreas de estudo e interesses relacionados ao tema em palavras-chave" %>
      <span class="legend">(separadas por vírgula)</span>
      <%= concave_errors_for(f.object, :tag_list) %>
    </div>
  </div>

  <% unless edit %>
    <div class="control-group row">
      <div class="control-label span3">
        <label>Termos e condições do Redu</label>
      </div>
      <div class="controls span8">
        <p class="legend">Por favor não publique conteúdo que esteja protegido por direitos autorais, conteúdo obsceno ou que viole os termos e condições do Redu. Ao clicar no botão abaixo, você estará concordando com esses termos.</p>
      </div>
    </div>
  <% end %>
</div>