<div class="grid_16">
  <%= f.error_messages %>
</div>

<div class="<%= (edit) ? 'grid_15 alpha omega': 'grid_16 ' %>">

  <% field_set_tag 'Informações Gerais' do %>

    <%= hidden_field_tag "course_id", @course.id %>

    <%= f.label "Nome" %>
    <%= f.text_field :name ,  :onkeyup => ((edit) ? nil : "generatePath(this)") %>
    <%= error_for :space, :name %>

    <% random_number = get_random_number%>
    <%= f.label "Descrição:" %>
    <div style="">
      <%= f.text_area :description, :size => "50x3", :class => "desc-#{random_number}" %>
      <%= render :partial => 'shared/limit_char_field', :locals => { :class_textarea => "desc-#{random_number}" }%>
    </div>
    <%= error_for :space, :description %>

    <%= f.label "Imagem <span class='snippet'>(tamanho recomendado: 200 x 64)</span>" %>
    <%= f.file_field :avatar %>

    <%= f.label "Palavras-chaves <span class='snippet'>(separadas por vírgula)</span>" %>
    <%= f.text_field :tag_list %>

  <% end %>
 
</div>

<div class="<%= (edit) ? 'grid_15 alpha omega' : 'grid_9'%>">
<fieldset>
	<legend>Moderação</legend>

	<% field_set_tag 'Quem pode postar na disciplina?' do %>
	  <div>
	  <%= f.radio_button :submission_type, "1" %>
		<%= f.label :sumbission_type, "Todos - sem moderação", :class => "inline" %>
		</div><div>
		<%= f.radio_button :submission_type, "2" %>
		<%= f.label :submission_type, "Todos - com moderação", :class => "inline" %>
		</div><div>
		<%= f.radio_button :submission_type, "3" %>
		<%= f.label :submission_type, "Apenas professores e administradores", :class => "inline" %>
		</div>
	<% end %>
	
</fieldset>
</div>
<% unless edit %>
  <div class="grid_6">
    <div class="y_addinfo">
      <div class="addinfocontent">
        <h1>
          Dica
        </h1>
        <p>
          As opções de configuração poderão ser modificadas a qualquer momento nas opções de gerenciamento da disciplina.</p>
      </div>
    </div>
  </div>
  <div class="grid_6">
    <div class="y_addinfo">
      <div class="addinfocontent">
        <h1>
          Termos e Condições do Redu
        </h1>
        <p>Por favor não publique conteúdo que esteja protegido por direitos autoriais, conteúdo obceno ou que viole
          os <%= link_to "termos e condições", {:controller => "base", :action => "tos"}, :target => "_blank"%> do Redu.

          Ao clicar no botão abaixo você estará concordando com esses termos.</p>

      </div>
    </div>
  </div>
<% end %>

