<%#
  Renderiza o cabeçalho da página de Disciplina.

  Variáveis:
    space: a disciplina.
%>

<div class="content-body-fix-top">
  <%= render "bootstrap/header", current_entity: space.course %>
</div>

<div class="entity-header content-section">

  <%= content_tag :h2, space.name, class: "entity-header-title" %>

  <% unless space.description.blank? %>
    <%= content_tag :p, space.description,
      class: "entity-header-info icon-description-gray_16_18-before" %>
  <% end %>

  <% unless space.tags.empty? %>
    <%= content_tag :p, space.tags.join(", "),
      class: "entity-header-info icon-tag-gray_16_18-before" %>
  <% end %>
</div>

<% if can?(:manage, space) %>
  <div class="entity-actions">
    <%= link_to "Criar novo módulo", new_space_subject_path(space),
      class: "entity-action button-primary" %>
    <%= link_to "Gerenciar disciplina",
      edit_space_path(space),
      class: "entity-action button-default icon-manage-lightblue_16_18-before" %>
  </div>
<% end %>

<hr class="space-header-separator list-separator">