<%#
  Renderiza o cabeçalho da página de Disciplina.

  Variáveis:
    space: a disciplina.
%>

<div class="content-body-fix-top">
  <%= render "bootstrap/header", entity: space %>
</div>

<div class="entity-header content-section clearfix">
  <% if can?(:manage, space) %>
    <%= link_to "Gerenciar disciplina",
      edit_space_path(space),
      class: "link-secondary icon-manage-lightblue_8_10-before pull-right" %>
  <% end %>

  <h2 class="entity-header-title">
    <%= link_to space.name, space %>
  </h2>

  <% unless space.description.blank? %>
    <%= content_tag :p, space.description,
      class: "entity-header-info icon-description-gray_16_18-before" %>
  <% end %>

  <% unless space.tags.empty? %>
    <%= content_tag :p, space.tags.join(", "),
      class: "entity-header-info icon-tag-gray_16_18-before" %>
  <% end %>
</div>