<div id="hierarchy-header" class="clearfix space-header">
  <span class="parent">
    <%= space.course.environment.initials_or_name %> /
    <%= space.course.name  %>
  </span>
  <% if can?(:manage, space) %>
    <%= link_to "Gerenciar discipl.",
      edit_space_path(space),
      :class => "manage icon-manage-gray_8_10-before" %>
  <% end %>
  <h3 class="call name"><%= space.name %></h3>
  <% unless space.description.empty? && space.tags.empty? %>
    <div class="details">
      <% unless space.description.empty? %>
        <span class="description icon-bio-gray_16_18-before">
          <%= space.description %>
        </span>
      <% end %>
      <% unless space.tags.empty? %>
        <ul class="tags icon-tag-gray_16_18-before clearfix <%= space.description.empty? ? "" : "separator" %>">
          <% space.tags.each do |tag| %>
            <li>
              <%= link_to tag, nil %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div><!-- end #hierarchy-header -->
