<li class="clearfix">
  <div class="info">
    <%= image_tag item.avatar.url(:thumb_32),
      :alt => 'disciplina' %>
    <%= link_to item.name, space_path(item) %>
    <ul class="tags">
        <% item.tags.each do |tag| %>
          <li>
            <%= link_to tag,
              environment_course_path(item.course.environment, item.course) %>
          </li>
        <% end %>
    </ul>
  </div>
  <div class="activities">
    <ul>
      <% item.recent_log.each do |type, logs| %>
        <% unless logs.size == 0 %>
      <li>
        <span class="qty">+<%= logs.size %></span>
        <%= link_to resource_name(type, logs.size),
          polymorphic_path([item, type.to_s.camelize.constantize.new]) %>
      </li>
    <% end %>
      <% end %>
    </ul>
  </div>
  <div class="statistics">
    <ul class="statistics">
      <li>
        <em>Membros:</em>
        <span><%= item.users.length %></span>
      </li>
      <li>
        <em>Professores:</em>
        <span><%= item.teachers.length %></span>
      </li>
      <li>
        <em>Tutores:</em>
        <span><%= item.tutors.length %></span>
      </li>
      <li>
        <em>Alunos:</em>
        <span><%= item.students.length %></span>
      </li>
    </ul>
  </div>
</li>
