<li class="child clearfix">
  <%= image_tag item.avatar.url(:thumb_32), :alt => 'disciplina' %>
  <%= link_to item.name, space_path(item), :class => "name" %>
  <%= link_to "Gerenciar", edit_space_path(item),
    :class => "manage icon-manage-gray_8_10-before" %>
  <div class="info">
    <ul class="resources clearfix">
      <%= link_to "Conteúdo:", space_path(item),
        :class => "title icon-content-lightblue_16_18-before" %>
      <li class="subjects icon-subject-gray_16_18-before"><%= pluralize item.subjects.visible.count,  "módulo" %></li>
      <li class="lectures icon-lecture-gray_16_18-before"><%= pluralize item.lectures_count, "aula" %></li>
    </ul>
    <ul class="resources clearfix">
      <%= link_to "Mural da Disciplina:", mural_space_path(item),
        :class => "title icon-wall-lightblue_16_18-before" %>
    <li class="comments"><%= pluralize item.statuses.count, "comentário" %></li>
    </ul>
    <ul class="resources clearfix">
      <%= link_to "Arquivos de Apoio:", space_folders_path(item),
        :class => "title icon-file-lightblue_16_18-before" %>
    <li class="files"><%= pluralize item.myfiles.count, "arquivo" %></li>
    </ul>
  </div>
</li>
