<li <%= "class='first_item'" if (item_counter%3 == 0) %> >
	<%= link_to (image_tag space.avatar_photo_url(:thumb)), space, :class => "logo" %>
	<%= link_to space.name, space, :class => "name" %>
	<div class="badge_info">
	<span class="quiet">Faculdades, Ensino Superior</span>
	<span  class="quiet">Membros: <%= space.users.size() %> </span>
	</div>
	<%  if current_user and current_user.can_manage? @space %>
		<span><%= link_to "gerenciar", manage_space_path(space), :class => "icon more"%></span>
	<% end %>
</li>
