<%#
  Barra lateral da disciplina.

  Variáveis:
    space: a disciplina.
    user: o usuário.
%>

<div class="entity-sidebar">
  <%= render "environments/sidebar_thumbnail", environment: space.course.environment %>

  <%= render "bootstrap/breadcrumb_icons", current_entity: space %>

  <%= new_local_nav :spaces_new %>

  <div class="nav-local-balloon">
    <span class="nav-local-balloon-arrow icon-arrow-up-balloon-gray_20_8"></span>
    <span class="nav-local-balloon-title">Você na disciplina:</span>
    <%= render "spaces/lectures_progress", space: space, user: user %>
    <div class="nav-local-separator"></div>
    <% user_comments = space.activities.where(user_id: user.id).count %>
    <%= content_tag :span, "Comentários: #{ user_comments }",
      class: "nav-local-balloon-item icon-comment-gray_16_18-before" %>
  </div>
</div>
