<div class="sidebar space alpha grid_3">
  <div class="image-frame space-frame">
    <%= image_tag space.course.environment.avatar.url(:thumb_100),
      :size => "90x90", :alt => 'profile', :class => "environment" %>
    <span class="space icons-big icon-space-white_64_64 replacement"><%=  space.name %></span>
  </div>

  <ul class="local-nav">
    <li>
      <%
        if space.subjects.visible.recent.count > 0
          subjects_count = "(+#{space.subjects.visible.recent.count})"
        end
      %>
      <div class="<%= (current_page? space_path(space)) ?
        "session selected".to_s : "session".to_s %>">
        <% selected = (current_page? space_path(space)) ? "icon-subject-white_16_18-before" : "icon-subject-lightblue_16_18-before" %>
        <%= link_to "Conteúdo #{subjects_count}", space_path(space),
          :class => "#{selected}" %>
      </div>
    </li>
    <li>
      <div class="<%= (current_page? mural_space_path(space)) ?
                    "session selected".to_s : "session".to_s %>">
        <% selected = (current_page? mural_space_path(space)) ? "icon-wall-white_16_18-before" : "icon-wall-lightblue_16_18-before" %>
        <%= link_to 'Mural', mural_space_path(space),
          :class => "#{selected}" %>
      </div>
    </li>
    <li>
      <div class="<%= (current_page? space_folders_path(space)) ?
                    "session selected".to_s : "session".to_s %>">
        <% selected = (current_page? space_folders_path(space)) ? "icon-file-white_16_18-before" : "icon-file-lightblue_16_18-before" %>
        <%= link_to 'Arquivos de Apoio', space_folders_path(space),
          :class => "#{selected}" %>
      </div>
    </li>
    <li>
      <div class="<%= (current_page? users_space_path(space)) ?
                    "session selected".to_s : "session".to_s %> big-separator">
        <% selected = (current_page? users_space_path(space)) ?
          "icon-members-white_16_18-before" : "icon-members-lightblue_16_18-before" %>
        <%= link_to "Membros: #{space.users.size}", users_space_path(space),
          :class => "#{selected}" %>
      </div>
      <% unless space.teachers.count == 0 %>
        <span class="call icon-teacher-gray_16_18-before">Professores: <%= link_to space.teachers.count, users_space_path(space), :class => "count" %></span>
        <ul class="connections clearfix">
          <%= render :partial => 'users/item_medium_24',
            :collection => space.teachers.n_recent(2) %>
        </ul><!-- end .connections -->
      <% end %>
      <% unless space.tutors.count == 0 %>
        <span class="call icon-tutor-gray_16_18-before">Tutores: <%= link_to space.tutors.count, users_space_path(space), :class => "count" %></span>
        <ul class="connections clearfix">
          <%= render :partial => 'users/item_medium_24',
            :collection => space.tutors.n_recent(2) %>
        </ul><!-- end .connections -->
      <% end %>
      <span class="call icon-member-gray_16_18-before">Alunos: <%= link_to space.students.count, users_space_path(space), :class => "count" %></span>
      <ul class="connections students clearfix">
        <% @sidebar_students = space.students.n_recent.page(params[:page]).per(4) %>
        <%= render :partial => 'users/item_medium_24',
          :collection => @sidebar_students %>
      </ul><!-- end .connections -->
      <%= paginate @sidebar_students, :theme => 'sidebar_endless',
        :params => { :controller => 'spaces', :action => 'students_endless',
                     :id => space.id },
          :text => "Mostrando os <X> últimos alunos da disciplina" %>
    </li>
  </ul><!-- end .local-nav -->
</div>
