<div class="sidebar space alpha grid_3">
  <div class="image-frame space-frame">
    <%= link_to(space.course.environment) do %>
      <%= image_tag space.course.environment.avatar.url(:thumb_90),
        :size => "90x90", :alt => 'profile', :class => "environment" %>
    <% end %>
    <span class="space icons-big icon-space-white_64_64 replacement"><%=  space.name %></span>
  </div>
  <%= local_nav(:spaces) %>
  <% teachers_count = space.teachers.count %>
  <% unless teachers_count == 0 %>
    <span class="call icon-teacher-gray_16_18-before">Professores: <%= link_to teachers_count, space_users_path(space, :role => :teachers), :class => "count" %></span>
    <ul class="connections clearfix">
      <%= render :partial => 'users/item_medium_24',
        :collection => space.teachers.limit(2) %>
    </ul><!-- end .connections -->
  <% end %>
  <% tutors_count = space.tutors.count %>
  <% unless tutors_count == 0 %>
    <span class="call icon-tutor-gray_16_18-before">Tutores: <%= link_to tutors_count, space_users_path(space, :role => :tutors), :class => "count" %></span>
    <ul class="connections clearfix">
      <%= render :partial => 'users/item_medium_24',
        :collection => space.tutors.limit(2) %>
    </ul><!-- end .connections -->
  <% end %>
  <span class="call icon-member-gray_16_18-before">Alunos: <%= link_to space.students.count, space_users_path(space, :role => :students), :class => "count" %></span>
  <ul class="connections students clearfix">
    <% @sidebar_students = space.students.page(params[:page]).per(4) %>
    <%= render :partial => 'users/item_medium_24',
      :collection => @sidebar_students %>
  </ul><!-- end .connections -->
  <%= paginate @sidebar_students, :theme => 'sidebar_endless',
    :params => { :controller => 'spaces', :action => 'students_endless',
      :id => space.id },
      :text => "Mostrando os <X> últimos alunos da disciplina" %>
  </li>
</div>
