<div class="sidebar grid_4 alpha">
  <ul class="sortable clearfix">
   
	 
	 <li class="clearfix" style="background-color: #FFFFDF; -moz-box-shadow:0 4px 12px #DDDDDD; ">
    <span class="call"><span style ="background:none repeat scroll 0 0 #FFFFDF; color:orange;">Ações</span></span>
    <ul class="menu">
    	
			<li>
				<%= link_to_function "Criar atividade", "$schooltabs.tabs('select', 1); $('#status_text').focus()"%>
			</li>
			<!--
      <li><a href="" class="closed sb">Acompanhar alunos</a></li>
      <li><a href="" class="closed sb">Acompanhar aulas</a></li>
			-->
			<% if current_user.can_post?(@space)%>
      <li>
      	<%= link_to "Criar aula", new_lecture_path(:space_id => @space.id)%>
				</li>
			<li>
				<%= link_to "Criar exame", new_exam_path(:space_id => @space.id)%>
			</li>
			<li>
				<%= link_to "Criar evento", new_space_event_path(:space_id => @space)%>
			</li>
			<% end %>
			<% unless @space.owner == current_user %>
			<li>
			
			<span style='display:none;margin-left:15px;' class='participate_spinner'>
    			<%= image_tag 'spinner.gif' %>
      </span>
			<%= subscription_link %>
			
			</li>
			<% end %>
    </ul>
  </li>
	<!--
  <li class="clearfix">
    <span class="call"><span>Seus cursos (4)</span></span>
    <ul class="sub-groups progress-bar">
      <li>
        <a href="" class="closed sb">Matemática</a>
        <ul>
        <li>
        <a href="" class="course">Revolução Francesa</a>
        <span class="bar-chart">
        <span style="width: 70%"><span>70%</span></span>
        </span>
      </li>
      <li>
        <a href="" class="course">Fisiologia da Obesidade</a>
        <span class="bar-chart">
        <span style="width: 30%"><span>30%</span></span>
        </span>
        </li>
      <li>
        <a href="" class="course">Segunda Guerra</a>
        <span class="bar-chart">
        <span style="width: 90%"><span>90%</span></span>
        </span>
        </li>
      </ul>
      <a href="" class="more">Ver mais</a>
      </li>
      <li><a href="" class="closed sb">História</a></li>
      <li><a href="" class="closed sb">Geografia</a></li>
      <li><a href="" class="closed sb">Xadrez</a></li>
    </ul>
  </li>
	-->
	
	
  <li class="clearfix">
    <span class="call"><span>Membros (<%= @space.users.size %>)</span></span>
      <div class="followship box clearfix">
      <ul class="clearfix">
        <%= render :partial => 'spaces/member_short', :collection => @space.users, :as => :member %>
      </ul>
      <a href="<%= members_space_path(@space) %>" class="icon more">Ver mais</a>
      </div><!-- end followship -->
  </li>
  <li class="clearfix">
    <span class="call"><span>Professores (<%= teachers_preview(space).size %>)</span></span>
    <% unless teachers_preview(space).empty? %>
    <div class="followship box clearfix">
        <ul class="clearfix">
        <%= render :partial => 'spaces/member_short', :collection => teachers_preview(space), :as => :member %>
        </ul>
        <a href="<%= teachers_space_path %>" class="icon more">Ver mais</a>
    </div><!-- end followship -->
    <% else %>
      <div class="box_notice">Nenhum professor 
			<%= link_to("Cadastre um professor", admin_members_space_path(@space), :class => "icon more") if current_user.can_manage?(@space) %>
			</div>
    <% end %>
  </li>
	
	
	<li>
		<% @month_events = month_events(@space.id, Time.now.month) %>
		
		<span class="call"><span>Eventos</span></span>
		<%= calendar(:year => Time.now.year, :month => Time.now.month) do |d|
			if has_event_in?(@month_events, d.mday)
				link_to d.mday, day_space_events_path(@space) + "/?day="+ d.mday.to_s, {:class => "hasEvent"}
			else
				d.mday
			end
		end	%>
		<%= link_to "Ver mais", space_events_path(@space), :class => "icon more" %> | 
		<%= link_to "Criar evento", new_space_event_path(@space), :class => "icon more" %>
	</li>
	
	
  </ul><!-- end sortable -->

</div><!-- end sidebar -->
