<div id="group-header" class="grid_16 alpha omega">
    
		<div class="logo grid_4 alpha" onmouseover="$('#change_avatar_link').show();" onmouseout="$('#change_avatar_link').hide()">
        <%= image_tag( @space.avatar(:thumb) )%>
				
				<% if current_user.space_admin? @space %>
				<div class="upload-avatar-outter">
         <a href="#" onclick="$('div.upload-avatar-inner').slideToggle(); return false;" id="change_avatar_link" class="config" style="display:none">Mudar imagem</a>

					<div class="upload-avatar-inner hoverdiv">
			          
					<% form_for @space, :html => { :multipart => true, :onsubmit => "$('#upload-avatar-spinner').show()"  } do |f| %>
					<%= f.file_field :avatar %> (200x64)
					<%= hidden_field_tag :only_image, true %>
					<br>
					<%= submit_tag 'OK' %>
					<%= image_tag 'spinner.gif', :id => 'upload-avatar-spinner', :style => 'display: none' %>
					<% end %>
	
					</div>
				</div>
				<% end %>
    </div>
		
    <div class="info grid_9">
    <h2 class="name"><%= link_to  @space.name, @space %></h2>
    <% if current_user.can_manage?(@space)%>
    <%= link_to "Gerenciar", manage_space_path(@space), :class => 'config' %>
    <% end %>
    <span class="areas">
    <a href="">Ensino Médio, Escolas</a> | Criador: <%= owner_link %>
    </span>

    </div><!-- end info -->
	<% if show %>
	<div class="grid_3 omega options">
		
		   	<span class="like">
			<%= link_to_remote image_tag('thumbs-up.jpg', :border => '0'), :url=> {:action => :vote, :id => @space.id, :like => true}, :loading => '$("#like_link").hide(); $("#like_spinner").show()', :html => {:id => "like_link"}%>
			<%= image_tag 'spinner.gif', :id => 'like_spinner', :style => 'display: none' %>
			&#40;<span id="like_count" style="display: inline"><%= @space.votes_for%></span>&#41;
			
			</span>
			
			
	</div>
	<%end%>
</div><!-- end group-header -->
