<ul class="menu">
    <% if can? :manage, @space 
        subjectTitle = "Compartilhe módulos e aulas"
        subjectClass = "tooltipable"

        filesTitle = "Compartilhe documentos"
        filesClass = "tooltipable"
      end
    %>
  <li>
    <%= link_to_unless_current 'Mural', space_path(@space),
      :class => "tooltipable", :title => "Discuta e tire dúvidas" do
          link_to 'Mural', space_path(@space), :class => "selected tooltipable",
            :title => "Discuta e tire dúvidas"
        end
    %>
  </li>
  <li>
    <%= link_to_unless_current 'Módulos', space_subjects_path(@space),
      :class => "#{subjectClass}", :title => "#{subjectTitle}" do
          link_to 'Módulos', space_subjects_path(@space), :class => "selected #{subjectClass}",
            :title => "#{subjectTitle}"
        end
    %>
  </li>
  <li>
    <%= link_to_unless_current 'Arquivos', space_folders_path(@space),
      :class => "#{filesClass}", :title => "#{filesTitle}" do
          link_to 'Arquivos', space_folders_path(@space), :class => "selected #{filesClass}",
            :title => "#{filesTitle}"
        end
    %>
  </li>
  <li>
    <%= link_to_unless_current 'Fórum', space_forum_path(@space) do
          link_to 'Fórum', space_forum_path(@space), :class => "selected"
        end
    %>
  </li>  <li>
    <%= link_to_unless_current 'Notícias', space_bulletins_path(@space) do
          link_to 'Notícias', space_bulletins_path(@space), :class => "selected"
        end
    %>
  </li>
</ul>
