<%= render :partial => 'spaces/sidebar', :locals => { :space => @space } %>
<div class="main grid_12 omega big-col">
  <%= render :partial => "spaces/breadcrumbs", :locals => { :space => @space } %>
    <%= render :partial => 'spaces/header',
      :locals => { :space => @space }%>

    <div id="space-manage" class="body">
      <div class="header">
        <h4>Gerenciamento</h4>
        <span class="counter">Informações gerais da Disciplina <%= @space.name %></span>
      </div>

      <%= fake_tabs ["Informações", edit_space_path(@space), { :class => "icon icon-management-gray_16_16" }],
        ["Membros", admin_members_space_path(@space), { :class => "icon icon-members-lightblue_16_16" }] do %>

      <div id="user_list">
        <%= render :partial => 'spaces/user_list_admin',
          :locals => {:memberships => @memberships}%>
      </div>

      <%= will_paginate @memberships, :renderer => EndlessRenderer %>
      <% end %>
    </div><!-- end #space-manage -->

  </div><!-- end .main -->

