<% content_for :page_id, 'group' %>
<div class="main grid_16">
<%= render :partial => "spaces/space_info", :locals => {:space => @space,:show => false} %>

<div class="fake-tabs grid_16 alpha omega">
	<%= render :partial => "spaces/admin_taskbar" %>
	<div class="panel squeeze">
	
	<% form_for(@space, :html => { :multipart => true }) do |f| %>
		<%= f.error_messages %>
		<%= render :partial => "general_step", :locals => { :f => f, :edit => true} %>
		<%= render :partial => "settings_step", :locals => { :f => f, :edit => true } %>
		
		<div class="grid_15 alpha omega"> 
		<% field_set_tag 'Visibilidade' do %>
			<%= f.label "Pública <span class='snippet'>(Visível em todo o Redu)</span>" %>
			<%= f.check_box :public %>
			<%end%>
		</div>
	  <p>
		<%= f.submit 'Atualizar' %> ou <%= link_to 'Voltar', @space %><BR/><BR/>
	  </p>

	<% end %>
	<%= link_to 'Deletar rede', @space, 
			:confirm => 'Você tem certeza que deseja remover esta rede?', :method => :delete %>
	</div><!-- end panel -->
</div><!-- end tabs -->
</div><!-- end main -->
