<%= render "shared/new_wall_assets" %>

<%= render partial: 'spaces/sidebar', locals: { space: @space } %>
<div class="main space grid_12 omega big-col">
  <%= render partial: 'spaces/breadcrumbs', locals: { space: @space } %>
  <%= render partial: 'spaces/header',
    locals: { space: @space }%>

  <div id="space-statuses" class="body clearfix">
    <div class="header clearfix">
      <h4 class="title">Mural</h4>
    </div>

    <div class="status-large" style="clear: both;">
      <%# Status. %>
      <%= render "statuses/wall", status: @status, statusable: @space,
        statuses: @statuses %>
    </div><!-- end .statuses -->
  </div><!-- end #environment-courses -->

</div><!-- end .main -->
