<% content_for :page_id, 'group' %>
<%- @meta = { :description => "#{@space.name}'s profile on #{AppConfig.community_name}.", :keywords => "#{@space.name}, #{@space.tags.join(", ") unless @space.tags.nil?}", :robots => AppConfig.robots_meta_show_content }%>

<div class="grid_16">
  <%= render :partial => "spaces/sidebar", :locals => {:space => @space} %>

  <div class="main grid_12 omega">
    <div class="fake-tabs">
      <%= render :partial => 'taskbar' %>
  <div>
    <%= javascript_include_tag 'flow.js' %>
    <%= render :partial => "statuses/create_status", :locals => {:status => @status, :statusable => @space }%>
    <ul class="activities">
      <%= render :partial => "statuses/type_proxy", :collection => @statuses, :as => :status, :locals => {:statusable => @space } %>
    </ul><!-- end activities -->			

    <%= will_paginate @statuses, :renderer => EndlessRenderer,
      :class => "endless_statuses",
      :params => {:id => @space.id, :type => 'Space'} %>
  </div>
</div><!-- end tabs -->
</div><!-- end main -->
</div>
