<style>
#resume {
	background-color:#BBCCFF;
	padding: 15px;
	-moz-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	margin-top: 60px;
	
}

#resume div.right div {
	background-color: white;
	-moz-border-radius: 8px 8px 8px 8px;
	padding: 10px;
	float: right;
	width: 400px;
		border-radius: 8px 8px 8px 8px;
}

#resume div.right div a.join-btn {
	display: block;
	padding: 10px;
	background-color: orange;
	color: white;
	font-size: 1.4em;
	margin-top: 20px;
	text-align: center;
	width: 100px;
}
#resume div.right {
margin-right: 30px;
}

#resume div.right ul {
	/*width: 450px;*/
}

#resume img {
	float: left;
margin-right: 20px;
margin-top: 10px;
}

#resume div h3 {
 font-size: 1.2em;
 color: #514721;
}

#resume div.right span {
display: block;
font-size: 0.8em;
}

#resume div.right span.desc {
	font-size: 1em;
	margin-bottom:  5px;
}

</style>

<% content_for :page_id, 'group' %>
<%- @meta = { :description => "Perfil da disciplina #{@space.name} no #{AppConfig.community_name}.", :keywords => "#{@space.name}, #{@space.tags.join(", ") unless @space.tags.nil?}", :robots => AppConfig.robots_meta_show_content }%>



<div class="main grid_16">


<div id="resume" class="grid_12 push_2">
    <div class="left">
        <%= image_tag @space.avatar_photo_url(:medium) %>
    </div>
    <div class="right">
        <div>
            <h3><%= @space.name %></h3>
            <span class="desc"><%= @space.description %></span>
            <span>12 membros</span>
            <span>Participação: <%= subscription_type(@space) %></span>
            <span>Submissão: <%= submission_type(@space) %></span>
						<% if space_association_pending? %>
							<span class="box_notice">Sua solicitação foi feita, aguarde a autorização dos moderadores da disciplina.</span>
						<% elsif space_association_disaproved? %>
							<span class="box_notice">Por algum motivo, você não foi aceito pelo moderador.</span>
						<% else %>
							<%= link_to "ENTRAR", join_space_path(@space), :class => "join-btn"%>
						<% end %>
        </div>
        <ul class="clearfix">
            <%= render :partial => 'spaces/member_short', :collection => @space.users, :as => :member %>
        </ul>
    </div>
</div>

</div><!-- end main -->

