<%= render :partial => 'spaces/sidebar', :locals => { :space => @space } %>

<div class="main space grid_12 omega big-col">
  <%= render :partial => 'spaces/breadcrumbs', :locals => { :space => @space } %>
  <%= render :partial => 'spaces/header',
    :locals => { :space => @space }%>

  <div id="space-users" class="body">
    <div class="header clearfix">
      <h4 class="title">Membros da disciplina</h4>
      <span class="detail">(<%= pluralize @space.subjects.count, "módulo" %> , <%= pluralize @space.lectures_count, "aula" %>)</span>
    </div>
    <%= render :partial => "users/list",
      :locals => { :entity => @space, :users => @users,
        :teachers => @teachers, :tutors => @tutors, :students => @students } %>
  </div><!-- end #environment-courses -->

</div><!-- end .main -->
