<li id="status-<%= item.id %>">
  <hr class="list-separator">
  <div class="status">
    <div class="context">
      <%= link_to item.statusable.name, space_subject_lecture_path(item.statusable.subject.space, item.statusable.subject, item.statusable), :class => "text-replacement context-icon icon-lecture-gray_32_34-before" %>
      <span class="legend">
        <%= item.statusable.subject.space.course.environment.name %> >
        <%= item.statusable.subject.name  %> >
        <%= item.statusable.subject.space.name %>
      </span>
      <%= link_to item.statusable.name,space_subject_lecture_path(item.statusable.subject.space, item.statusable.subject, item.statusable) %>
    </div>
    <div class="subject">
      <%= render "statuses/user_image", :user => item.user %>
      <div class="subject-info icon-<%= item.user ? role_at(item.user, item.statusable) : "member" %>-gray_16_18-before ">
        <%= render "statuses/user_name", :user => item.user %>
        <span class="action">comentou no mural da aula </span><%= link_to item.statusable.name, space_subject_lecture_path(item.statusable.subject.space, item.statusable.subject, item.statusable) %>
        <% if can? :manage, item %>
          <%= link_to 'Fechar',
            status_path(item),
            :method => :delete,
            :remote => true,
            :class => 'icon-close icon-small icon-close-gray_16_16 replacement',
            :confirm => 'Ao remover o comentário, todas as respostas serão apagadas. Deseja removê-lo?' %>
      <% end %>
        <%= render "statuses/timeago", :timestamp => item.created_at %>
      </div>
    </div>
    <div class="subject-content">
    <%= render 'statuses/resource', :status => item %>
    <%= render 'statuses/responses', :status => item %>
    <%= render 'statuses/actions', :status => item %>
    <%= render :partial => 'statuses/create_response',
      :locals => { :in_response_to => item }%>
    </div>
  </div>
</li>