<%# Descrição e tags nos e-mails de notificação (aceita description e tags) %>
<% tags ||= []; description ||= "" %>
<table class="meta">
  <% unless description.empty? %>
    <tr>
      <td><%= image_tag "mail/icon-description-small.png", :class => "right-space", :size => "15x17" %></td>
      <td class="description">
        <%= description %>
      </td>
    </tr>
  <% end %>
  <% unless (description.empty? || tags.empty?) %>
    <tr>
      <td colspan="2">
        <%= image_tag "mail/dots.gif", :class => "separator", :size => "448x22" %>
      </td>
    </tr>
  <% end %>
  <% unless tags.empty? %>
    <tr>
      <td>
        <%= image_tag "mail/icon-tags-small.png", :class => "right-space", :size => "17x10" %>
      </td>
      <td><%= tags.join(",") %></td>
    </tr>
  <% end %>
</table>
