<td colspan="2">
  <table class="user-common">
    <tr>
      <td class="common-message-cell">
        Olá, esta notificação foi requisitada para lhe lembrar a sua senha.
        Para a segurança, uma nova senha aleatória foi gerada. Você pode mudá-la diretamente no seu painel de <%= link_to "configurações", account_user_url(@user) %>.
      </td>
      <td class="common-action-cell">
        <%= image_tag "mail/icon-friendship-big.png", :size => "64x64" %>
      </td>
    </tr>
  </table>
  <table class="user-data">
    <tr>
      <td colspan="2" class="username-cell">
        <%= link_to @user.display_name, user_url(@user), :class => "username" %>
      </td>
    </tr>
    <tr>
      <td class="field-cell">Email:</td>
      <td class="value-cell">
        <a href="mailto:<%= @user.email %>" class="plain-text"><%= @user.email %></a>
      </td>
    </tr>
    <tr>
      <td class="field-cell">Nova senha:</td>
      <td class="value-cell"><%= @new_password %></td>
    </tr>
  </table>
</td>
