<td colspan="2">
  <table class="course-moderation">
    <tr>
      <td class="first-cell">
        <%= image_tag @user.avatar(:thumb_32), :class => "right-space", :size => "32x32" %>
      </td>
      <td class="user-cell">
        <a href="<%= user_url(@user) %>" class="user-name">
          <%= @user.display_name %>
          <em>(<%= @user.email %>)</em>
        </a>

        <span class="call">Deseja participar do curso.</span>
      </td>
      <td rowspan="2" class="big-icon-cell">
        <%= image_tag "mail/icon-course-big.png", :size => "64x64" %>
      </td>
    </tr>
    <tr>
      <td class="first-cell">
        <%= image_tag "mail/icon-arrow.png", :size => "31x42" %>
      </td>
      <td> &nbsp; </td>
    </tr>
    <tr>
      <td class="first-cell">
        <%= image_tag @environment.avatar(:thumb_32), :size => "32x32", :class => "right-space" %>
      </td>
      <td>
        <table>
          <tr>
            <td rowspan="2">
              <%= image_tag "mail/icon-lock-small.png", :size => "12x17", :class => "lock" %>
            </td>
            <td>
              <span class="environment-name"><%= @environment.name %> /</span>
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to @course.name, environment_course_url(@environment, @course), :class => "course-name" %>
            </td>
          </tr>
        </table>
      </td>
      <td class="acceptance-cell">
        <%= link_to "Aceitar ou recusar pedido", admin_members_requests_environment_course_url(@environment, @course), :class => "accept" %>
        <%= link_to "Configurações do curso", edit_environment_course_url(@environment, @course), :class => "config" %>
      </td>
    </tr>
  </table>
</td>
