<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<%= stylesheet_link_tag "reset" %>
</head>
<body>
<table>
  <tbody class="body">
    <tr>
      <td>
        <div style="text-align: center; background-color: white;">
          <%= link_to image_tag(@vars[:image_name]), 'http://www.openredu.ufpe.br' %>
        </div>
      </td>
    </tr>
  </tbody>
  <tr class="footer">
    <td class="footer-info-wrapper">
      <div class="footer-info">
        Esta notificação foi enviada para
        <% if @user %>
          <a href="mailto:<%= @user.email %>"><%= @user.email %></a>.
        <% else %>
          <a href="mailto:<%= @user.email %>"><%= @user.email %></a>.
        <% end %>
        Não é necessário responder a este e-mail.
      </div>
    </td>
  </tr>
</table>
</body>
</html>
