<td colspan="2">
  <table class="user-common">
    <tr>
      <td class="common-message-cell">
        Olá, <%= link_to @user.display_name, user_url(@user) %>. <br/>
        Seja bem vindo(a) ao Openredu, a plataforma de ensino a distância baseada em interações sociais. Este é um email de confirmação de cadastro. Confira todos os dados e clique no link à direita para ativar sua conta.
      </td>
      <td class="common-action-cell">
        <%= image_tag "mail/icon-friendship-big.png", :size => "64x64" %>
        <%= link_to "Ativar o cadastro", activate_url(@user.activation_code), :class => "common-action" %>
      </td>
    </tr>
  </table>
  <table class="user-data">
    <tr>
      <td colspan="2" class="username-cell">
        <%= link_to @user.display_name, user_url(@user), :class => "username" %>
      </td>
    </tr>
    <tr>
      <td class="field-cell">Email:</td>
      <td class="value-cell">
        <a href="mailto:<%= @user.email %>" class="plain-text"><%= @user.email %></a>
      </td>
    </tr>
    <% if @user.birthday %>
    <tr>
      <td class="field-cell">Nascimento:</td>
      <td class="value-cell"><%= l @user.birthday %></td>
    </tr>
    <% end %>
    <tr>
      <td class="field-cell">Login:</td>
      <td class="value-cell"><%= @user.login %></td>
    </tr>
    <tr>
      <td class="field-cell">Senha:</td>
      <td class="value-cell">******</td>
    </tr>
  </table>
</td>
