<li id="status-<%= log.id %>">
  <hr class="list-separator">
  <div class="status">
    <div class="context">
      <% if log.logeable.environment.avatar_file_name %>
        <%= image_tag log.logeable.environment.avatar.url(:thumb_32),
          :size => '32x32',
          :class => 'author-thumbnail'
        %>
      <% else %>
        <span class="status-subject icon-small icon-environment-lightblue_32_34">
        </span>
      <% end %>
      <%= link_to log.logeable.environment.name, environment_path(log.logeable.environment) %>
      <%= link_to log.logeable.name, environment_course_path(log.logeable.environment, log.logeable) %>
    </div>
    <div class="subject">
      <%= render "statuses/user_image", :item => log %>
      <div class="status-icon icon-<%= log.user ? role_at(log.user, log.logeable) : "member" %>-gray_16_18-before">
        <%= render "statuses/user_name", :item => log %>
        <span class="action"> <%= raw auto_link(log.action_text) %></span>
        <%= link_to log.logeable.name, environment_course_path(log.logeable.environment, log.logeable),
          :class => "target icon-space-gray_16_18-before" %>
        <%= render :partial => 'statuses/timeago', :locals => { :item => log } %>
      </div>
    </div>
  </div>
</li>
