<%#
  Log de ingresso a curso.

  Exemplo: "X ingressou no curso Y".

  Variáveis:
    log: o log de ingresso a curso.
%>

<%= content_tag :li, id: "status-#{log.id}" do %>
  <hr class="list-separator">
  <div class="status">
    <div class="context">
      <%= render "statuses/context_environment", course: log.logeable.course %>
    </div>
    <div class="subject">
      <%= render "statuses/user_image", user: log.user %>
      <div class="subject-info">
        <%= render "statuses/user_name", user: log.user %>
        <%= content_tag :span, raw(log.text), class: "action" %>
        <%= link_to log.logeable.course.name,
          environment_course_path(log.logeable.course.environment, log.logeable.course),
          class: "target icon-course-gray_16_18-before" %>
        <%= render "statuses/timeago", status: log, timestamp: log.created_at %>
      </div>
    </div>
  </div>
<% end %>