<%#
  Log de curso.

  Exemplo: "X criou o curso Y".

  Variáveis:
    log: o log de curso.
%>

<%= content_tag :li, id: "status-#{log.id}" do %>
  <hr class="list-separator">
  <div class="status">
    <div class="context">
      <% if log.logeable.environment.avatar_file_name %>
        <%= link_to environment_path(log.logeable.environment),
          title: log.logeable.environment.name do %>
          <%= image_tag log.logeable.environment.avatar.url(:thumb_32),
            size: "32x32",
            class: "author-thumbnail",
            alt: log.logeable.environment.name %>
        <% end %>
      <% else %>
        <%= link_to log.logeable.name,
          environment_course_path(log.logeable.environment, log.logeable),
          class: "text-replacement context-icon icon-course-gray_32_34-before" %>
      <% end %>
      <%= content_tag :span, context_path(log.logeable), class: "legend" %>
    </div>
    <div class="subject">
      <%= render "statuses/user_image", user: log.user %>
      <div class="subject-info">
        <%= render "statuses/user_name", user: log.user, entity: log.logeable %>
        <%= content_tag :span, raw(auto_link(log.action_text)), class: "action" %>
        <%= link_to log.logeable.name,
          environment_course_path(log.logeable.environment, log.logeable),
          class: "icon-course-gray_16_18-before" %>
        <%= render "statuses/timeago", timestamp: log.created_at %>
      </div>
    </div>
  </div>
<% end %>