<%#
  Log de ingresso a curso.

  Exemplo: "X ingressou no curso Y".

  Variáveis:
    log: o log de ingresso a curso.
%>

<%= content_tag :li, id: "status-#{log.id}" do %>
  <hr class="list-separator">
  <div class="status">
    <div class="context">
      <% if log.logeable.course.environment.avatar_file_name %>
        <%= link_to environment_path(log.logeable.course.environment),
          title: log.logeable.course.environment.name do %>
          <%= image_tag log.logeable.course.environment.avatar.url(:thumb_32),
            size: "32x32",
            class: "author-thumbnail",
            alt: log.logeable.course.environment.name %>
        <% end %>
      <% else %>
        <%= link_to log.logeable.course.name,
          environment_course_path(log.logeable.course.environment,log.logeable),
          class: "text-replacement context-icon icon-course-gray_32_34-before" %>
      <% end %>
      <%= content_tag :span,
        entity_hierarchy_breacrumb_links(log.logeable.course.environment),
        class: "legend" %>
    </div>
    <div class="subject">
      <%= render "statuses/user_image", user: log.user %>
      <div class="subject-info">
        <%= render "statuses/user_name", user: log.user %>
        <%= content_tag :span, raw(log.text), class: "action" %>
        <%= link_to log.logeable.course.name,
          environment_course_path(log.logeable.course.environment, log.logeable.course),
          class: "target icon-course-gray_16_18-before" %>
        <%= render "statuses/timeago", timestamp: log.created_at %>
      </div>
    </div>
  </div>
<% end %>