<li id="status-<%= log.id %>">
  <hr class="list-separator">
  <div class="status without-context">
    <div class="subject">
      <%= link_to user_path(log.user), :rel => "nofollow", :title => "#{log.statusable.first_name} #{log.statusable.last_name}", :class => "author-thumbnail" do %>
        <%= image_tag log.statusable.avatar.url(:thumb_32), :width => 32, :height => 32 %>
      <% end %>
      <div class="subject-info">
        <%= link_to "#{log.statusable.first_name} #{log.statusable.last_name}",
          user_path(log.statusable), :class => "link-name" %>
        <span class="action">
          <%= raw auto_link(log.action_text) %>
        </span>
        <%= render :partial => 'statuses/timeago', :locals => { :item => log } %>
      </div>
    </div>
    <div class="subject-content">
      <%= link_to user_path(log.logeable.friend), :rel => "nofollow", :title => "#{log.logeable.friend.display_name}", :class => "author-thumbnail" do %>
        <%= image_tag log.logeable.friend.avatar.url(:thumb_32), :width => 32, :height => 32, :class => 'author-thumbnail' %>
      <% end %>
      <%= link_to log.logeable.friend.display_name, user_path(log.logeable.friend), :class => "link-name" %>
    </div>
  </div>
</li>

