<li id="status-<%= log.id %>">
  <div class="status icons-big-after icon-contact-lightblue_64_66-after">
    <div class="status-text">
      <%= render "statuses/user_detail", :item => log %>
      <span class="status-info"> <%= raw auto_link(log.action_text) %></span>
      <span class="date">
        <%= time_ago_in_words log.created_at %>
      </span>
    </div>
    <div class="status-content">
      <%= image_tag log.logeable.friend.avatar.url(:thumb_32), :width => 32, :height => 32, :class => 'friend-avatar' %>
      <%= link_to log.logeable.friend.display_name, user_path(log.logeable.friend), :class => "username" %>
      <span class="friend-summary">
      </span>
    </div>
  </div>
</li>

