<li id="status-<%= log.id %>">
  <hr class="list-separator">
  <div class="status">
    <div class="context">
      <% link_to log.logeable.name, space_subject_lecture_path(log.logeable.subject.space, log.logeable.subject, log.logeable), :class => "text-replacement context-icon icon-lecture-gray_32_34-before" %>
      <span class="legend">
        <%= log.logeable.environment.name %>
        <%= log.logeable.course.name %>
      </span>
      <%= link_to log.logeable.name, environment_space_path(log.logeable.environment, log.logeable) %>
    </div>
    <div class="status-log">
      <%= render "statuses/user_image", :item => log %>
      <div class="status-icon icon-<%= log.user ? role_at(log.user, log.logeable) : "member" %>-gray_16_18-before">
        <%= render "statuses/user_name", :item => log %>
        <span class="status-info"><%= raw log.action_text %></span>
        <%= link_to log.logeable.name, space_subject_lecture_path(log.logeable.subject.space, log.logeable.subject, log.logeable) %>
        <%= render :partial => 'statuses/timeago', :locals => { :item => log } %>
      </div>
    </div>
  </div>
</li>

