<%#
  Log da disciplina.

  Exemplo: "X criou a disciplina Y".

  Variáveis:
    log: o log da disciplina.
%>

<%= content_tag :li, id: "status-#{log.id}" do %>
  <hr class="list-separator">
  <div class="status">
    <div class="context">
      <%= link_to log.logeable.name, space_path(log.logeable),
        class: "text-replacement context-icon icon-space-gray_32_34-before" %>
      <%= content_tag :span,
        "#{log.logeable.course.environment.name} > #{log.logeable.course.name}",
        class: "legend" %>
      <%= link_to log.logeable.name, space_path(log.logeable) %>
    </div>
    <div class="subject">
      <%= render "statuses/user_image", user: log.user %>
      <div class="subject-info">
        <%= render "statuses/user_name", user: log.user,
          classes: "icon-#{role_icon(role_at(log.user, log.logeable)).first}-gray_16_18-before" %>
        <%= content_tag :span, raw(auto_link(log.action_text)), class: "action" %>
        <%= link_to log.logeable.name, space_path(log.logeable),
          class: "icon-space-gray_16_18-before" %>
        <%= render "statuses/timeago", timestamp: log.created_at %>
      </div>
    </div>
  </div>
<% end %>