<%#
  Log do m칩dulo.

  Exemplo: "X publicou o m칩dulo Y".

  Vari치veis:
    log: o log do m칩dulo.
%>

<%= content_tag :li, id: "status-#{log.id}" do %>
  <hr class="list-separator">
  <div class="status">
    <div class="context">
      <%= link_to log.logeable.name, space_path(log.logeable),
        class: "text-replacement context-icon icon-space-gray_32_34-before" %>
      <%= content_tag :span,
        entity_hierarchy_breacrumb_links(log.logeable.space),
        class: "legend" %>
    </div>
    <div class="subject">
      <%= render "statuses/user_image", user: log.user %>
      <div class="subject-info">
        <%= render "statuses/user_name", user: log.user, entity: log.logeable %>
        <%= content_tag :span, raw(auto_link(log.action_text)), class: "action" %>
        <%= link_to log.logeable.name, space_subject_path(log.logeable.space, log.logeable),
          class: "icon-subject-gray_16_18-before" %>
        <%= render "statuses/timeago", status: log, timestamp: log.created_at %>
      </div>
    </div>
  </div>
<% end %>