<li id="status-<%= log.id %>">
  <div class="status icons-big-after icon-course-lightblue_64_66-after">
    <div class="status-context">
      <span class="status-subject icon-small icon-environment-lightblue_32_34">
      </span>
      <%= link_to log.logeable.course.environment.name, environment_path(log.logeable.course.environment), :class => "status-main" %>
        <%= link_to log.logeable.course.name, environment_course_path(log.logeable.course.environment, log.logeable.course), :class => "status-secondary icon-expand-gray_8_10-before" %>
    </div>
    <div class="status-log">
      <%= render "statuses/user_image", :item => log %>
      <div class="status-icon icon-<%= log.user ? role_at(log.user, log.logeable.course) : "member" %>-gray_16_18-before">
        <%= render "statuses/user_name", :item => log %>
        <span class="status-info"><%= raw log.text %></span>
        <%= link_to log.logeable.course.name, environment_course_path(log.logeable.course.environment, log.logeable.course) %>
        <span class="date">
          <%= time_ago_in_words log.created_at %>
        </span>
      </div>
    </div>
  </div>
</li>
