<li id="status-<%= log.id %>">
  <div class="status">
    <div class="status-text">
      <%= image_tag log.user.avatar.url(:thumb_32),
        :class => "avatar", :width => 32, :height => 32 %>
      <%= link_to log.user.display_name, user_path(log.user), :class => "username" %>
      <span class="status-info"> <%= raw auto_link(log.action_text) %></span>
      <span class="date">
        <%= time_ago_in_words log.created_at %>
      </span>
    </div>
  </div>
</li>
