<div class="container_16 clearfix" id="invitation">
  <div class="grid_4 alpha">
    <h1 class="logotipo replacement">
      <%= link_to "#{Redu::Application.config.name}: rede social educacional", application_path  %>
    </h1>
  </div>
  <div class="clearfix invite">
    <span class="salutation">Olá, você foi convidado para participar do curso:</span>
    <div  class="clearfix course">
      <%= image_tag @environment.avatar(:thumb_32),
        :class => 'avatar' %>
      <div class="informations">
        <div class="header">
          <span class="environment"><%= @environment.name %></span>
          <span class="name"><%= @course.name %></span>
          <% unless @course.tags.blank? %>
            <ul class="tags clearfix">
              <% @course.tags.each do |tag| %>
                <li>
                  <%= tag %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <span class="description">
          <% if @course.description.blank? %>
            Sem descrição.
          <% else %>
            <%= @course.description %>
          <% end %>
        </span>
        <ul class="statistics">
          <li>
            <em>Membros:</em>
            <span><%= @course.approved_users.length %></span>
          </li>
          <li>
            <em>Professores:</em>
            <span><%= @course.teachers.length %></span>
          </li>
          <li>
            <em>Tutores:</em>
            <span><%= @course.tutors.length %></span>
          </li>
          <li>
            <em>Alunos:</em>
            <span><%= @course.students.length %></span>
          </li>

        </ul>
        <div class="audience">
          <em>Audiência:</em>
          <ul>
            <% if @course.audiences.blank? %>
              <li><%= link_to 'Não informado', nil %></li>
            <% else %>
              <% @course.audiences.each do |audience| %>
                <%= link_to audience.name, environment_course_path(@course, @course.environment) %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="grid_6 omega">
    <div class="login-box">
      <h3 class="new-version-call">Já possui uma conta? Acesse nossa versão <span class="beta-call" >beta</span>.</h3>
      <%= form_for @user_session, :html => { :class => "concave-form" }, :url => sessions_path do |f| %>
        <%= field_set_tag do %>
          <%= hidden_field_tag :invitation_token, @user_course_invitation.token %>
          <%= f.text_field :login, :placeholder => "Digite seu login e, abaixo, sua senha" %>
          <%= concave_errors_for @user_session, :login %>
          <%= f.password_field :password %>
          <%= concave_errors_for @user_session, :password %>
          <button>Entrar</button>

          <div class="short-options">
            <%= f.check_box :remember_me, :class => "check-stay-connect" %>
            <%= f.label :remember_me, "Matenha-me conectado", :class => "label-stay-connect" %>
            <%= link_to "Recuperar login & senha", recover_username_password_path, :class => "recover-login" %>
          </div>
          <div class="fb-login">
            <%= link_to "Entre com sua conta do Facebook",
              facebook_authentication_path(:state => { :invitation_token => @user_course_invitation.token }.to_json),
              :class => "uibutton confirm large" %>
          </div>
          <p class="or-call">&minus; ou &minus;</p>
        <% end %>
      <% end %>
      <%= link_to "Que tal se cadastrar?", application_path(:anchor => "modal-sign-up", :invitation_token => @user_course_invitation.token), :class => "concave-important" %>
    </div>
  </div>
</div>
