<%#
  Ações que podem ser realizadas num exercicio (rever, realizar, etc).

  Variáveis:
    can_manage_lecture: se é possível gerenciar a aula (booleano).
    exercise: o exercício.
    result: o resultado do exercício (nil se não houver).
%>

<%= questions_review = capture do %>
  <%= link_to "Rever questões",
    exercise_question_path(exercise, first_question),
    class: "exercise-button button-primary icon-exercise-white_blue_16_18-before" %>
<% end %>

<div class="exercise-box exercise-box-gray clearfix">
  <% if can_manage_lecture %>
    <%# TODO: Ícone white blue de exercise 16x18. %>
    <div class="text-center">
      <%= questions_review %>
      <%= link_to "Relatório", exercise_results_path(exercise),
        class: "exercise-button button-primary icon-exercise-white_blue_16_18-before" %>
    </div>

  <% elsif result %>
    <div class="exercise-summary exercise-column-left">
      <%= render "users/thumb_legend", user: result.user,
        legend: time_ago_in_words(result.finalized_at),
        wrapper_class: "exercise-summary-user" %>

      <%= questions_review %>
    </div>
    <%= render "lectures/exercise/grade", result: result %>

  <% else %>
    <%= form_tag exercise_results_path(exercise), method: :post,
      class: "text-center" do %>
      <button type="submit" class="button-big button-primary icon-exercise-white_blue_16_18-before">Fazer exercício</button>
    <% end %>
  <% end %>
</div>