<%#
  Ações que podem ser realizadas num exercicio (rever, realizar, etc).

  Variáveis:
    can_manage_lecture: se é possível gerenciar a aula (booleano).
    exercise: o exercício.
    result: o resultado do exercício (nil se não houver).
%>

<%= questions_review = capture do %>
  <%= link_to "Rever questões",
    exercise_question_path(exercise, first_question),
    class: "exercise-button button-primary icon-exercise-white_blue_16_18-before" %>
<% end %>

<div class="exercise-box exercise-box-gray clearfix">
  <% if can_manage_lecture %>
    <%# TODO: Ícone white blue de exercise 16x18. %>
    <div class="text-center">
      <%= questions_review %>
      <%= link_to "Relatório", exercise_results_path(exercise),
        class: "exercise-button button-primary icon-exercise-white_blue_16_18-before" %>
    </div>

  <% elsif result %>
    <div class="exercise-summary exercise-column-left">
      <div class="exercise-summary-user two-columns-wrapper">
        <%= link_to result.user, class: "two-columns-column",
          title: result.user.display_name do %>
          <%= image_tag result.user.avatar.url(:thumb_32), size: "32x32",
            alt: result.user.display_name %>
        <% end %>
        <div class="two-columns-column">
          <%= link_to result.user.display_name,
            result.user,
            title: result.user.display_name,
            class: "text-truncate" %>
          <%= content_tag :span, time_ago_in_words(result.finalized_at),
            class: "legend show" %>
        </div>
      </div>

      <%= questions_review %>
    </div>
    <%= render "lectures/exercise/grade", result: result %>

  <% else %>
    <%= form_tag exercise_results_path(exercise), method: :post,
      class: "text-center" do %>
      <button type="submit" class="button-big button-primary icon-exercise-white_blue_16_18-before">Fazer exercício</button>
    <% end %>
  <% end %>
</div>