<%#
  Resultados para o exercício.

  Variáveis:
    can_manage_lecture: se é possível gerenciar a aula (booleano).
    exercise: o exercício.
    result: o resultado do exercício (nil se não houver).
%>

<% exercise_status = result ? "exercise-done" : "exercise-undone" %>

<div class="exercise-summaries">
  <%= content_tag :div, class: "exercise-box exercise-summary exercise-column-left #{ exercise_status }" do %>
    <%= content_tag :h5, "#{ exercise.lecture.name }:",
      class: "exercise-summary-title" %>

    <%= content_tag :span, exercise.info[:questions_count],
      class: "exercise-summary-value" %>
    <span class="exercise-summary-legend legend">questões (múltipla ecolha)</span>

    <%= content_tag :span, exercise.info[:explained_count],
      class: "exercise-summary-value" %>
    <span class="exercise-summary-legend legend">questões explicadas</span>

    <% if result %>
      <%= content_tag :h5, result.to_report[:hits],
      class: "exercise-summary-value exercise-summary-value-right" %>
      <span class="exercise-summary-legend legend">questões acertadas</span>
    <% end %>
  <% end %>

  <% if exercise.results.finalized.count > 0 %>
    <div class="exercise-summary exercise-column-middle exercise-box exercise-box-gray">
      <h5 class="exercise-summary-title">Quantos já fizeram</h5>

      <%= content_tag :span, exercise.info[:results_count],
        class: "exercise-summary-value exercise-summary-value-finalized" %>
      <%= content_tag :span, "pessoa".pluralize(exercise.info[:results_count]),
        class: "exercise-summary-legend legend" %>

      <h5 class="exercise-summary-title">Média geral</h5>
      <%= content_tag :span, exercise.info[:average_grade].round(2).to_s,
        class: "exercise-summary-value exercise-summary-value-average" %>

      <h5 class="exercise-summary-title">Tempo médio</h5>
      <%= content_tag :span,
        period_of_time(exercise.info[:average_duration])[:value],
        class: "exercise-summary-value exercise-summary-value-average" %>
      <%= content_tag :span,
        period_of_time(exercise.info[:average_duration])[:unit],
        class: "exercise-summary-legend legend" %>
    </div>

    <div class="exercise-summary exercise-column-right exercise-box exercise-box-gray">
      <h5 class="exercise-summary-title">Recentemente</h5>

      <ul class="exercise-users-list">
        <%= render partial: "lectures/exercise/users_list_item",
          collection: exercise.results.finalized.n_recents(3).includes(:user) %>
      </ul>

      <% if can_manage_lecture %>
        <h5 class="exercise-summary-title">Melhores notas</h5>
      <% else %>
        <h5 class="exercise-summary-title">Compartilhe dúvidas com</h5>
      <% end %>
      <ol class="exercise-users-list">
        <%= render partial: "lectures/exercise/users_list_item",
          collection: exercise.results.finalized.n_best_grades(3).includes(:user),
          locals: { show_grade: true } %>
      </ol>
    </div>
  <% else %>
    <div class="exercise-summary exercise-clean">
      <span class="exercise-note">Este exercício ainda não foi resolvido</span>
    </div>
  <% end %>
</div>