<%# Status resposta %>
<li id="status-<%= response.id %>">
  <div class="re-status">
    <%= image_tag response.user.avatar.url(:thumb_32), :width => 32, :height => 32,
      :class => 'avatar'%>
   <span class="message">
      <%= link_to response.user.display_name, user_path(response.user),
        { :class => 'username' } %>
      <span class="date">
        hรก <%= time_ago_in_words response.created_at %>
    </span>
    <p>
      <%= raw auto_link(response.text) %>
    </p>
  </span>
  <ul class="actions clearfix">
    <li>
      <%= render :partial => 'statuses/new/favorite',
        :locals => { :status => response } %>
    </li>
    <% if can? :manage, response %>
      <li>
      <%= link_to_remote 'Apagar',
        :url => status_path(response),
        :loading => "$('#status-#{response.id} > .actions .icon-redu_r12_c43_s1').hide(); $('#status-#{response.id}  > .actions #favorite_spinner').show();",
        :confirm => 'Deseja remover a postagem?',
        :method => :delete,
        :html => { :class => "icon icon icon-redu_r12_c43_s1" } %>
      </li>
    <% end %>
  </ul>
</div>
</li>
