<div id="hierarchy-header" class="clearfix course-header">
  <span class="initials">
      <%= @course.environment.initials_or_name %>
  </span>
  <h3 class="call course-name"><%= @course.name %></h3>

  <% unless @course.users.include?(current_user) %>
    <% if (current_page? preview_environment_course_path(@course.environment,
      @course)) || @sidebar_preview %>
      <%= link_to 'Participar',
        join_environment_course_path(@course.environment, @course),
        :method => :post, :class => 'join important'%>
    <% end %>
  <% else %>
    <% if @course.waiting_approval?(current_user) or
      @course.rejected_participation?(current_user) %>
      <span class="join waiting">Aguardando moderação</span>
    <% else %>
      <%= link_to 'Abandonar curso',
        unjoin_environment_course_path(@course.environment, @course),
        :method => :post,
        :confirm => 'Você perderá o vínculo e o acesso a este curso e isso não poderá ser desfeito. Tem certeza?',
        :class => 'leave icon icon-redu_r12_c43_s1' %>
    <% end %>
  <% end %>

  <div class="grid_9 alpha">
    <span class="description">
      <%= course.description %>
    </span>
    <ul class="tags clearfix">
      <% course.tags.each do |tag| %>
        <li>
          <%= link_to tag,
            environment_course_path(course.environment, course) %>
        </li>
      <% end %>
    </ul>
  </div>
  <ul class="statistics grid_3 omega">
    <li>
      <em class="icon icon-redu_r8_c319_s1">Membros:</em>
        <span><%= course.approved_users.length %></span>
        <span><%= "(+#{course.new_members.length})" if course.new_members.count > 0 %></span>
    </li>
    <li>
      <em class="icon icon-redu_r8_c207_s1">Professores:</em>
      <span><%= course.teachers.length %></span>
    </li>
    <li>
      <em class="icon icon-redu_r8_c385_s1">Tutores:</em>
      <span><%= course.tutors.length %></span>
    </li>
    <li>
      <em class="icon icon-redu_r8_c355_s1">Alunos:</em>
      <span><%= course.students.length %></span>
    </li>
  </ul>

</div><!-- end #hierarchy-header -->
