<div class="sidebar alpha grid_3">
  <div class="image-frame course-frame">
    <%= image_tag @course.environment.avatar.url(:thumb_100),
      :alt => 'profile' %>
  </div>

  <ul class="local-nav">
    <li>
      <div class="<%= (current_page? preview_environment_course_path(@course.environment,
                                                                   @course)) ?
        "session selected".to_s : "session".to_s %>">
        <%= link_to 'Pré-visualização',
          preview_environment_course_path(@course.environment,@course),
         :class => 'icon icon-redu_r8_c313_s1'%>
     </div>
    </li>
    <li>
      <div class="<%= (current_page? users_environment_course_path(@course.environment,
                                                                   @course)) ?
        "session selected".to_s : "session".to_s %>">
        <%= link_to "Membros (#{@course.approved_users.length})",
          users_environment_course_path(@course.environment, @course,
                                        :preview => true),
          :class => 'icon icon-redu_r8_c319_s1'%>
      </div>
      <ul class="connections clearfix">
        <%= render :partial => 'users/new/item_short',
          :collection => @course.approved_users.n_recent(9)%>
      </ul><!-- end .connections -->
        <%= link_to "Ver mais",
          users_environment_course_path(@course.environment, @course),
          :class => 'more'%>
    </li>
  </ul><!-- end .local-nav -->
</div>
