<div class="sidebar alpha grid_3">
  <div class="image-frame course-frame">
    <!-- <%# Nao setar width e height na imagem %> -->
    <%= image_tag @course.environment.avatar.url(:thumb_100),
      :alt => 'profile' %>
  </div>

  <ul class="local-nav">
    <li>
      <div class="<%= (current_page? environment_course_path(@course.environment, @course)) ?
                    "session selected".to_s : "session".to_s %>">
        <%= link_to 'Disciplinas', environment_course_path(@course.environment, @course),
          :class => "icon icon-redu_r8_c307_s1" %>
    </li>
    <% if can? :manage, @course %>
      <li>
        <div class="<%= (current_page? edit_environment_course_path(@environment, @course)) ?
                      "session selected".to_s : "session".to_s %>">
          <%= link_to 'Gerenciamento', edit_environment_course_path(@environment, @course),
            :class => 'icon icon-redu_r8_c221_s1'%>
        </div>
      </li>
    <% end %>
    <li>
      <div class="<%= (current_page? users_environment_course_path(@course.environment, @course)) ?
                    "session selected".to_s : "session".to_s %>">
        <%= link_to "Membros: #{@course.approved_users.length}",
          users_environment_course_path(@course.environment, @course),
          :class => 'icon icon-redu_r8_c319_s1' %>
      <ul class="connections clearfix">
          <%= render :partial => 'users/new/item_short',
            :collection => @course.approved_users.n_recent(9) %>
      </ul><!-- end .connections -->
      <a href="" class="more">Ver mais</a>
    </li>
  </ul><!-- end .local-nav -->
</div>
