<% content_for :header_scripts_and_styles do %>
  <script type="text/javascript" charset="utf-8">
    //<![CDATA[
  $(document).ready(function(){
      $("#course_path").bind('keyup blur', function(e){
        var slug = $(this).slug()
        $(this).val(slug);
        })

      $("#course_path").bind('keyup blur', function(){
        var slug = $(this).slug()
        $("#url_preview .course").html(slug);
        })

      $("#course_name").bind('keyup blur', function(e){
        var slug = $(this).slug()
        $("#course_path").val(slug);
        $("#url_preview .course").html(slug);
        })

      })
//]]>
</script>
<% end %>

<%= render :partial => 'courses/new/sidebar' %>
<div class="main grid_12 omega big-col">
  <%= render :partial => 'courses/new/breadcrumbs' %>
  <%= render :partial => 'courses/new/header',
    :locals => { :course => @header_course } %>
  <div id="course-manage" class="body">
    <div class="header">
      <h4>Gerenciamento</h4>
      <span class="counter">Informações gerais do Curso</span>
    </div>
    <%
      fake_tabs ["Informações", edit_environment_course_path(@environment, @course), {:class => 'icon icon-management-lightblue_16_16'}],
        ["Membros", admin_members_environment_course_path(@environment, @course), {:class => 'icon icon-members-gray_16_16'}],
        ["Moderação", admin_members_requests_environment_course_path(@environment, @course), {:class => 'icon icon-moderation-gray_16_16'}],
        ["Convites", admin_manage_invitations_environment_course_path(@environment, @course), {:class => ''}],
        ["Disciplinas", admin_spaces_environment_course_path(@environment, @course), {:class => ''}] do
    %>
      <% form_for @course,
        :url => environment_course_path(@environment, @course),
        :html => { :class => "common" } do |f| %>
        <%= render :partial => 'courses/new/form', :locals => { :f => f, :edit => true } %>
        <%= f.submit "Salvar alterações" %>
        <% if @course.published? %>
          <%= link_to 'Despublicar', unpublish_environment_course_path(@environment, @course),
            :confirm => 'Você tem certeza que deseja deixar este curso invisível?',
            :class => "vanilla cancel" %>
        <% else %>
          <%= link_to 'Publicar', publish_environment_course_path(@environment, @course),
            :confirm => 'Você tem certeza que deseja deixar este curso visível?' %>
        <% end %>
        <%= link_to 'Remover', environment_course_path(@environment, @course),
          :confirm => 'Você tem certeza que deseja remover este curso?', :method => :delete,
          :class => "vanilla remove" %>
      <% end %>
    <% end %>
  </div>
</div>
