<%= render :partial => 'environments/new/sidebar' %>
<div class="main grid_12 omega big-col">
  <ol id="breadcrumbs" class="clearfix">
    <li>
      <%= link_to 'Home', home_user_path(current_user),
        :class => 'replacement home icon icon-redu_r8_c227_s1' %>
    </li>
    <li>
      <%= link_to @environment.name, environment_path(@environment),
        :class => 'icon icon-redu_r8_c217_s1' %>
    </li>
  </ol>
  <div id="hierarchy-header" class="clearfix">
    <h3 class="call environment-name"><%= @environment.name %></h3>
    <div class="grid_9 alpha">
      <span class="description">
        <%= @environment.description %>
      </span>
      <ul class="tags clearfix">
        <% @environment.tags.each do |tag| %>
        <li>
          <%= link_to tag, environment_path(@environment) %>
        </li>
      <% end %>
      </ul>
    </div>
    <ul class="statistics grid_3 omega">
      <li>
        <em class="icon icon-redu_r8_c319_s1">Membros:</em>
        <span><%= @environment.users.length %></span>
      </li>
      <li>
        <em class="icon icon-redu_r8_c391_s1">Administradores:</em>
        <span><%= @environment.administrators.length %></span>
      <li>
        <em class="icon icon-redu_r8_c301_s1">Professores:</em>
        <span><%= @environment.teachers.length %></span>
      </li>
      <li>
        <em class="icon icon-redu_r8_c385_s1">Tutores:</em>
        <span><%= @environment.tutors.length %></span>
      </li>
    </ul>

  </div><!-- end #hierarchy-header -->
  <div id="course-new" class="hierarchy-listing-wrapper">
    <div class="header">
      <h4>Curso</h4>
      <span class="counter">Novo curso</span>
    </div>
  </div>

  <% form_for @course,
    :url => environment_courses_path(@environment),
    :html => { :class => 'common' } do |f| %>
    <%= f.error_messages %>
    <%= hidden_field_tag :plan, 'free' %>
    <%= render :partial => 'courses/new/form', :locals => { :f => f, :edit => false } %>
    <%= f.submit "Criar!" %>
  <% end %>
</div>
