<%= render :partial => 'environments/new/sidebar' %>
<div class="main grid_12 omega big-col">
  <ol id="breadcrumbs" class="clearfix">
    <li>
      <%= link_to 'Home', home_user_path(current_user),
        :class => 'replacement home icon icon-redu_r8_c227_s1' %>
    </li>
    <li>
      <%= link_to @environment.name, environment_path(@environment),
        :class => 'icon icon-redu_r8_c217_s1' %>
    </li>
  </ol>
  <%= render :partial => 'environments/new/header',
    :locals => { :environment => @environment } %>
  <div id="course-new" class="hierarchy-listing-wrapper">
    <div class="header">
      <h4>Curso</h4>
      <span class="counter">Novo curso</span>
    </div>
  </div>

  <% form_for @course,
    :url => environment_courses_path(@environment),
    :html => { :class => 'common' } do |f| %>
    <%= f.error_messages %>
    <%= hidden_field_tag :plan, 'free' %>
    <%= render :partial => 'courses/new/form', :locals => { :f => f, :edit => false } %>
    <%= f.submit "Criar curso" %>
  <% end %>
</div>
