<%= render :partial => 'courses/new/preview_sidebar' %>

<div class="main grid_12 omega big-col">
  <ol id="breadcrumbs" class="clearfix">
    <li>
      <%= link_to 'Home', home_user_path(current_user),
        :class => 'replacement home icon icon-redu_r8_c227_s1' %>
    </li>
    <li>
      <%= link_to @environment.name, environment_path(@environment),
        :class => 'replacement icon icon-redu_r8_c217_s1' %>
    <li>
      <%= link_to @course.name,
        environment_course_path(@course.environment, @course),
        :class => 'icon icon-redu_r8_c313_s1' %>
    </li>
  </ol>
  <%= render :partial => 'courses/new/header',
    :locals => { :course => @course }  %>
  <div id="course-preview" class="hierarchy-preview body">
    <div class="header">
      <h4>Pré-visualização</h4>
    </div>

    <h3 class="call icon icon-redu_r8_c309_s1">Disciplinas</h3>
    <span class="count">
      (<%= pluralize(@course.spaces.length, 'disciplina') + " " +
       (pluralize @course.spaces.length,'disponível').split(' ')[1] %>)
    </span>
    <ul class="preview-listing">
      <%= render :partial => 'spaces/new/item_short',
        :collection => @spaces %>
    </ul>
    <%= will_paginate @spaces, :renderer => EndlessRenderer %>
  </div><!-- end #environment-courses -->

</div><!-- end .main -->
