<% if @sidebar_preview %>
  <%= render :partial => 'courses/new/preview_sidebar' %>
<% else %>
  <%= render :partial => 'courses/new/sidebar' %>
<% end %>

<div class="main grid_12 omega big-col">
  <%= render :partial => 'courses/new/breadcrumbs' %>
  <%= render :partial => 'courses/new/header',
    :locals => { :course => @course }%>
  <div id="course-users" class="hierarchy-listing-wrapper">
    <div class="header">
      <h4>Membros</h4>
      <span class="counter">
        <%= @course.approved_users.length %> pessoas fazem parte de
        <%= @course.name %>
      </span>
    </div>

    <ul id="users_list" class="members clearfix">
      <%= render :partial => 'users/new/item',
        :collection => @users, :locals => {:entity => @course} %>
    </ul>

    <%= will_paginate @users, :renderer => EndlessRenderer %>
  </div><!-- end #environment-courses -->

</div><!-- end .main -->
