<!-- ESSE ARQUIVO ESTÁ DEPRECATED, ESSE CODIGO ESTÁ AGORA DENTRO DO PARTIAL _account.html.erb --> 
 
<% form_for @user, :url => url_for(:controller => "users", :action => "update", :anchor => "tabs-4"), :method =>  'post' do |f|  %>
	<%= f.error_messages %>	
<div id="current">
	<%= f.label "Senha Atual" %>
 
	<% if @flag%>
	<%=  password_field_tag :current_password, nil, :style => "background-color: #FEEFB3"  %>
	<%else%>
	<%= @current_password%>
	<%=  password_field_tag :current_password %>
   <%end%> 

</div>
		
<div id="modify">	
	<%= f.label "Digite a nova senha" %>
	<%=  f.password_field :password %>
	<%= f.label "Digite novamente" %>
	<%=  f.password_field :password_confirmation %>		
</div>

 <%= f.submit :save_changes.l, :style => "float: right;" %> 

<%end%>

 