<div id="comment_<%=comment.id%>" class="comment_user">
		<div id="comment_user_photo">
			<%= link_to image_tag(comment.recipient.avatar_photo_url(:thumb), :height => '40', :width => '40', :alt => "#{comment.recipient.login}"), commentable_url(comment), :rel => 'bookmark', :class => 'move_foto', :title => "Perfil de #{comment.recipient.login}" %>
			
			<!--
			<img src="img/photo_comments.jpg" width="50" height="50" class="move_foto"  border="0"/>
			-->
		</div>
		<div id="comment_user_txt">
			
            
			<% if comment.commentable.eql?(comment.recipient) %>
            <%= :to.l + ": #{link_to comment.recipient.login, commentable_url(comment)}" %>
            <% else %>
            <%= :on_commentable.l + ": #{link_to comment.commentable_name, commentable_url(comment)} (#{comment.commentable_type.l})" %>
            <%end %>
				
			<%= comment.comment %>
		</div>
		<div id="comment_user_time"><%= comment.created_at.strftime("%B %d, %Y") %></div>
		<div id="comment_user_actions"> 
		
		<% if ( comment.can_be_deleted_by(current_user) ) %>
		<%= link_to_remote("Delete".l, {:url => comment_path(comment.commentable_type, comment.commentable_id, comment), :method => :delete, 500 => 'alert(\'Desculpe-nos, houve um problema no servidor\'); return false',  :success => visual_effect(:fade, "comment_#{comment.id}"), :confirm => :are_you_sure_you_want_to_permanently_delete_this_comment.l} ) %>
		<% end %>
		
		</div>            
    </div>




