<%#
  Formulário do perfil do usuário.

  Variáveis:
    user: o usuário.
%>
<%= form_for user,
  :html => { :multipart => true,
  :class => "form-horizontal form-config-profile" } do |f| %>
  <%= new_concave_error_messages_for(user, :id => nil,
    :class => 'system-message message-warning fade in') %>
  <%# Avatar %>
  <div class="control-group row">
    <div class="control-label span3">
      <%= f.label :avatar, "Foto do seu perfil" %>
    </div>
    <div class="controls span6">
      <%= f.file_field :avatar %>
      <%= concave_errors_for(f.object, :avatar) %>
      <%= image_tag user.avatar.url(:thumb_160), :size => "160x160",
        :class => "form-config-avatar",
        :title => user.display_name,
        :alt => user.display_name %>
    </div>
  </div>
  <%# Nome %>
  <div class="control-group row">
    <div class="control-label span3">
      <%= f.label :first_name, "Nome" %>
    </div>
    <div class="controls span6">
      <%= f.text_field :first_name,
        :placeholder => "Seu primeiro nome",
        :maxlength => 11 %>
      <%= concave_errors_for(f.object, :first_name) %>
    </div>
  </div>
  <%# Sobrenome %>
  <div class="control-group row">
    <div class="control-label span3">
      <%= f.label :last_name, "Sobrenome" %>
    </div>
    <div class="controls span6">
      <%= f.text_field :last_name,
        :placeholder => "Seu último nome",
        :maxlength => 14 %>
      <%= concave_errors_for(f.object, :last_name) %>
    </div>
  </div>
  <%# Data de nascimento %>
  <div class="control-group control-select-date row">
    <div class="control-label span3">
      <%= f.label :birthday, "Data de nascimento" %>
    </div>
    <div class="controls span6">
      <%= f.date_select :birthday,
        { :start_year => 1926, :end_year => Time.now.year - 1 } %>
      <%= concave_errors_for(f.object, :birthday) %>
    </div>
  </div>
  <%# Cidade onde nasceu %>
  <div class="control-group row">
    <div class="control-label span3">
      <%= f.label :birth_localization, "Cidade onde nasceu" %>
    </div>
    <div class="controls span6">
      <%= f.text_field :birth_localization,
        :placeholder => "Sua cidade natal" %>
      <%= concave_errors_for(f.object, :birth_localization) %>
    </div>
  </div>
  <%# Cidade onde vive %>
  <div class="control-group row">
    <div class="control-label span3">
      <%= f.label :localization, "Cidade onde vive" %>
    </div>
    <div class="controls span6">
      <%= f.text_field :localization,
        :placeholder => "Sua cidade onde reside" %>
      <%= concave_errors_for(f.object, :localization) %>
    </div>
  </div>
  <%# Celular %>
  <div class="control-group row">
    <div class="control-label span3">
      <%= f.label :mobile, "Celular" %>
    </div>
    <div class="controls span6">
      <%= lazy_load(:user, :jammit => true, :clear => true) do %>
          // Coloca a máscara de celular no campo correspondente
          $.fn.refreshMobileMask = function() {
            return this.each(function() {
                var $this = $(this);
                $this.mask("(99) 9999-9999", { placeholder: "" });
            });
          };

          $(".form-config-mobile").refreshMobileMask();
      <% end %>
      <%= f.text_field :mobile, :placeholder => "(DDD) XXXX-XXXX",
        :class => "form-config-mobile" %>
      <%= concave_errors_for(f.object, :mobile) %>
    </div>
  </div>
  <%# Idiomas %>
  <div class="control-group row">
    <div class="control-label span3">
      <%= f.label :languages, "Idiomas" %>
    </div>
    <div class="controls span6">
      <%= f.text_field :languages,
        :placeholder => "Idiomas bem compreendidos por você" %>
      <%= concave_errors_for(f.object, :languages) %>
    </div>
  </div>
  <%# Sobre você %>
  <div class="control-group row">
    <div class="control-label span3">
      <%= f.label :description, "Sobre você" %>
    </div>
    <div class="controls span6">
      <%= f.text_area :description,
        :placeholder => "Sua personalidade e informações adicionais",
        :rows => 6,
        :maxlength => 400 %>
      <%= concave_errors_for(f.object, :description) %>
    </div>
  </div>
  <%# Frase marcante %>
  <div class="control-group row">
    <div class="control-label span3">
      <%= f.label :favorite_quotation, "Frase marcante" %>
    </div>
    <div class="controls span6">
      <%= f.text_area :favorite_quotation,
        :placeholder => "Escreva uma frase, sua ou de outra pessoa, que reflita sua maneira de pensar e agir",
        :rows => 6 %>
      <%= concave_errors_for(f.object, :favorite_quotation) %>
    </div>
  </div>
  <%# Áreas de seu interesse %>
  <div class="control-group row">
    <div class="control-label span3">
      <%= f.label :tag_list, "Áreas de seu interesse" %>
    </div>
    <div class="controls span6">
      <%= f.text_area :tag_list,
        :placeholder => "Ramos do conhecimento que despertam seu interesse. Exemplo: redes sociais, tecnologia, design",
        :rows => 6 %>
      <%= concave_errors_for(f.object, :tag_list) %>
    </div>
  </div>
  <%# Perfils adicionais %>
  <div class="control-group row" id="biography">
    <div class="control-label span3">
      <%= f.label :social_networks, "Perfils adicionais" %>
    </div>
    <div class="controls span6" id="select-networks">
      <ul class="form-config-social-networks">
        <%= f.fields_for :social_networks do |builder| %>
          <%= render :partial => "social_networks/social_network_fields",
            :locals => { :f => builder, :user => user } %>
        <% end %>
      </ul>
      <div id="new-social-network">
        <%= new_social_network f, :social_networks %>
      </div>
    </div>
  </div>
  <hr class="list-separator">
  <div class="content-section clearfix">
    <%= f.submit t(:save_changes), :class => "button-primary pull-right" %>
  </div>
<% end %>