<%#
Formulário de conta do usuário.

Variáveis:
  user: o usuário.
%>
<%= form_for user, :url => update_account_user_path,
  :html => { :multipart => true,
  :class => "form-horizontal form-config-account" } do |f| %>
  <%= new_concave_error_messages_for(user, :id => nil,
    :class => 'system-message message-warning fade in') %>
  <div class="control-group row">
    <div class="control-label span3">
      <%= f.label "Notificações por e-mail" %>
    </div>
    <div class="controls span6">
      <div class="control-checkbox">
        <%= f.check_box :notify_community_news %>
        <%= f.label :notify_community_news, "Novidades do Openredu" %>
      </div>
      <div class="control-checkbox">
        <%= f.check_box :notify_messages %>
        <%= f.label :notify_messages, "Mensagens recebidas" %>
      </div>
      <div class="control-checkbox">
        <%= f.check_box :notify_followships %>
        <%= f.label :notify_followships, "Novos seguidores" %>
      </div>
    </div>
  </div>

  <div class="control-group row">
    <%= f.fields_for :settings do |builder| %>
      <div class="control-label span3">
        <%= f.label "Meu Mural é visível a" %>
      </div>
      <div class="controls span6">
        <div class="control-radio">
          <%= builder.radio_button :view_mural, Privacy[:public], {
            :checked => user.settings.view_mural.public? ?
            true : false } %>
          <%= builder.label "view_mural_#{Privacy[:public]}".to_sym, "Todos" %>
        </div>
        <div class="control-radio">
          <%= builder.radio_button :view_mural, Privacy[:friends], {
            :checked => user.settings.view_mural.friends? ?
            true : false } %>
          <%= builder.label "view_mural_#{Privacy[:friends]}".to_sym,
            "Apenas amigos" %>
        </div>
      </div>
    <% end %>
  </div>

  <hr class="list-separator"/>

  <fieldset class="form-config-fieldset">
    <legend class="form-config-legend">Redefinir e-mail</legend>
    <div class="control-group row">
      <div class="control-label span3">
        <%= f.label :email, "E-mail" %>
      </div>
      <div class="controls span6">
        <%= f.text_field :email,
          :placeholder => "E-mail desejado", :maxlength => 100 %>
      </div>
    </div>
    <div class="control-group row">
      <div class="control-label span3">
        <%= f.label :email_confirmation, "Confirmação" %>
      </div>
      <div class="controls span6">
        <%= f.text_field :email_confirmation,
          :placeholder => "Repita o e-mail desejado", :maxlength => 100 %>
        <%= concave_errors_for(f.object, :email_confirmation) %>
      </div>
    </div>
  </fieldset>

  <hr class="list-separator"/>

  <fieldset class="form-config-fieldset">
    <legend class="form-config-legend">Redefinir senha</legend>
    <div class="control-group row">
      <div class="control-label span3">
        <%= label_tag :current_password, "Senha atual" %>
      </div>
      <div class="controls span6">
        <% if @flag %>
          <%= password_field_tag :current_password, nil,
            :placeholder => "Senha da conta cadastrada no Openredu",
            :maxlength => 20 %>
        <% else %>
          <%= password_field_tag :current_password, nil,
            :placeholder => "Senha da conta cadastrada no Openredu",
            :maxlength => 20 %>
        <% end %>
        <%= concave_errors_for(f.object, :current_password) %>
      </div>
    </div>
    <div class="control-group row">
      <div class="control-label span3">
        <%= f.label :password,  (t :new_password) + "" %>
      </div>
      <div class="controls span6">
        <%= f.password_field :password, :placeholder => "Senha desejada",
          :maxlength => 20 %>
        <%= concave_errors_for(f.object, :password) %>
      </div>
    </div>
     <div class="control-group row">
      <div class="control-label span3">
        <%= f.label :password_confirmation, "Confirmação" %>
      </div>
      <div class="controls span6">
        <%= f.password_field :password_confirmation,
          :placeholder => "Repita a senha desejada", :maxlength => 20 %>
      </div>
    </div>
  </fieldset>


  <hr class="list-separator"/>

  <div class="content-section clearfix">
    <%= f.submit t( :save_changes ), :class => "button-primary pull-right" %>
    <%= link_to "Remover conta", user, :confirm => "Você tem certeza que remover a sua conta do Openredu? Todo o seu material criado será removido de forma irreversível.",
      :method => :delete, :class => "button-danger pull-right" %>
  </div>
<% end %>