<%# Sidebar da home do usuário. Locals: user %>
<div class="sidebar alpha grid_3">
  <div class="home-image-frame">
    <%= image_tag current_user.avatar.url(:thumb_110),
      :alt => 'profile', :size => "110x110" %>
  </div>
  <%= local_nav :users %>
  <% cache ['home_sidebar_environments', current_user.id] do %>
    <ul class="local-nav auxiliary-local-nav">
      <%= render :partial => 'users/sidebar_environments_item', :collection => current_user.environments %>
    </ul>
  <% end %>
  <%= local_nav :user_contacts %>
  <% cache ['home_sidebar_connections', current_user.id] do %>
    <ul class="connections clearfix">
      <%= render :partial => 'users/item_short',
        :collection => current_user.recently_active_friends %>
    </ul><!-- end .connections -->
    <%= link_to 'Ver mais', user_friendships_path(current_user),
      :class => 'more' %>
  <% end %>
</div>

