<li>
  <% if education.educationable.class == HighSchool %>
    <span class="bio"><%= t :high_school %></span> em
  <% elsif education.educationable.class == HigherEducation %>
    <span class="bio"><%= t education.educationable.kind %></span> em
    <span class="bio"><%= education.educationable.course == "" ? education.educationable.research_area : education.educationable.course %></span> pela
  <% elsif education.educationable.class == ComplementaryCourse %>
    <span class='bio'><%= education.educationable.course %></span> pela
  <% end %>
  <span class="bio"><%= education.educationable.institution %></span>
</li>
