<%#
  Item com a experiência acadêmica mais importante.
%>

<li class="profile-summary-item">
  <% if education.educationable.class == HighSchool %>
    <%= content_tag :span, t(:high_school), class: "profile-summary-bio" %> em
  <% elsif education.educationable.class == HigherEducation %>
    <%= content_tag :span, t(education.educationable.kind),
      class: "profile-summary-bio" %> em
    <%= content_tag :span,
      (education.educationable.course == "" ? education.educationable.research_area : education.educationable.course),
      class: "profile-summary-bio" %> pela
  <% elsif education.educationable.class == ComplementaryCourse %>
    <%= content_tag :span, education.educationable.course,
      class: "profile-summary-bio" %> pela
  <% end %>
  <%= content_tag :span, education.educationable.institution,
    class: "profile-summary-bio" %>
</li>