<%# Usuário representado pelo avatar (thumb_90) e o link do nome  %>
<li class="general-list-item middle-width">
  <div class="general-list-item-body">
    <div class="general-list-item-column">
      <%= link_to item_medium, :title => item_medium.display_name do %>
        <%= image_tag item_medium.avatar.url(:thumb_90), :class => 'avatar', :size => "64x64" %>
      <% end %>
    </div>
    <div class="general-list-item-column">
      <%= link_to item_medium.display_name, user_path(item_medium), :title => item_medium.display_name, :class => 'link-name text-truncate' %>
      <span class="legend text-truncate" title="<%= item_medium.experiences.actual_jobs.map{ |exp| exp.title.strip }.join(", ") %>"><%= item_medium.experiences.actual_jobs.map{ |exp| exp.title.strip }.join(", ") %></span>
      <span class="legend"><%= pluralize(mutual_friends(item_medium).length, "contato") %> em comum</span>
    </div>
  </div>
</li>