<li class="<%= cycle('odd', 'odd ', 'odd omega', 'even', 'even', 'even omega',
                     :name => "users_cycle") %>">
  <%= image_tag item.avatar.url(:thumb_32), :size => "32x32" %>
  <div class="infos omega">
    <%= link_to item.display_name, user_path(item), :class => "name" %>
    <% if entity.class == Environment %>
      <span class="courses-count"><%# pluralize item.user_course_associations.approved.count, "curso matriculado", "cursos matriculados" %></span>
    <% else %>
      <% role =  item.get_association_with(entity).role %>
      <span class="role icon-<%= role %>-gray_16_18-before"><%= t("classy_enum.role.#{role}", :count => 1) %></span>
    <% end %>
    <% if current_user and
      item.get_association_with(entity).role.member? %>
      <% unless item.friends_in_common_with(current_user).count == 0 %>
        <span class="friends-common"><%= pluralize item.friends_in_common_with(current_user).count, "contato" %> em comum</span>
      <% end %>
    <% end %>
  </div>
</li>
<% if (item_counter + 1) % 3 == 0 %>
  <hr class="separator" />
<% end %>
