<%= real_tabs ["tabs-1", "Todos"], ["tabs-2", "Professores", { :class => "icon-teacher-lightblue_16_18-before" }],
  ["tabs-3", "Tutores", { :class => "icon-tutor-lightblue_16_18-before" }], ["tabs-4", "Alunos", { :class => "icon-member-lightblue_16_18-before" }] do %>
  <div id="tabs-1">
    <ul id="users-list" class="members clearfix">
      <%= render :partial => 'users/item',
        :collection => users, :locals => { :entity => entity } %>
      <% reset_cycle "users_cycle" %>
    </ul>
    <%= will_paginate users, :param_name => "users_page",
      :id => "users-endless", :renderer => EndlessRenderer %>
  </div>
  <div id="tabs-2">
    <ul id="teachers-list" class="members clearfix">
      <%= render :partial => 'users/item',
        :collection => teachers, :locals => { :entity => entity } %>
      <% reset_cycle "users_cycle" %>
    </ul>
    <%= will_paginate teachers, :param_name => "teachers_page",
      :id => "teachers-endless", :renderer => EndlessRenderer%>
  </div>
  <div id="tabs-3">
    <ul id="tutors-list" class="members clearfix">
      <% item_counter = 0 %>
      <%= render :partial => 'users/item',
        :collection => tutors, :locals => { :entity => entity } %>
      <% reset_cycle "users_cycle" %>
    </ul>
    <%= will_paginate tutors, :param_name => "tutors_page",
      :id => "tutors-endless", :renderer => EndlessRenderer %>
  </div>
  <div id="tabs-4">
    <ul id="students-list" class="members clearfix">
      <%= render :partial => 'users/item',
        :collection => students, :locals => { :entity => entity } %>
      <% reset_cycle "users_cycle" %>
    </ul>
    <%= will_paginate students, :param_name => "students_page",
      :id => "students-endless", :renderer => EndlessRenderer%>
  </div>
<% end %>
