<% field_set_tag "Fazer login", :class => 'hide' do %>  
<%= f.label :login, "Usuário"  %>
<%= f.text_field :login  %>
<%= f.label :password, "Senha" %>
<%= f.password_field :password %>
<div class="grid_3 alpha">
<%= f.check_box :remember_me %>
<%= f.label :remember_me, "Lembrar de mim", :class => "inline" %>
</div>
<button class="common enter"><span>Entrar!</span></button>
<% end %>
