<ul class="sortable clearfix"> 

  <% mct = current_user.unread_message_count %>
  <li class="clearfix">
    <span class="call"><span>Últimas Mensagens</span></span>
    <% if mct > 0 %>
      <ul class="menu new-messages">
        <%= render :partial => "messages/list", :collection => @user.received_messages.find(:all, :conditions => { :read_at => nil }), :as => :message, :limit => 5, :locals => {:mailbox => "inbox"}  %>
      </ul>
      
      <%= link_to "ver todas", user_messages_path(current_user), :class=> "more small" %>
    <% else %>
      <div class="box_notice">Você não tem nenhuma mensagem nova no momento.</div>
    <% end %>
  </li>

  <% unless current_user.avatar_file_name and current_user.activated_at and (current_user.has_invited or AppConfig.closed_beta_mode) and current_user.profile_complete? %>
    <li class="clearfix">
      <span class="call"><span>O que você precisa fazer</span></span>
      <ul class="menu">
        <% unless current_user.profile_complete? %>
          <li><%= link_to "Completar dados do perfil", edit_user_path(current_user)%></li>
        <% end %>
        <% unless current_user.avatar_file_name %>
          <li><%= link_to "Fazer upload de foto", edit_user_path(current_user)%></li>
        <% end %>
        <% unless current_user.curriculum_file_name %>
          <li><%= link_to "Fazer upload de currículo", edit_user_path(current_user)%></li>
        <% end %>
        <% if current_user.can_activate? %>
          <li>Ativar conta <%= link_to "reenviar e-mail de ativação", resend_activation_path(:email => current_user.email, :id => current_user.id), :class => "icon more"%></li>
        <% end %>
        <% unless current_user.has_invited or AppConfig.closed_beta_mode %>
          <li><%= link_to "Convidar amigos e contatos", invite_user_path%></li>
        <% end %>
      </ul>
    </li>
  <% end %>


<li class="clearfix">
<span class="call"><span>Quem você segue</span></span>

<div class="followship box clearfix">
	
<% if @user.follows.size > 0 %>
<ul class="clearfix">

<% for user in @user.follows[0..9]%>
<li>
  <%= link_to image_tag(user.avatar.url(:thumb), :height => '24', :width => '24', :alt => "#{user.login}"), user_path(user), :rel => 'bookmark', :title => "#{user.display_name}", :class => "tooltipable" %>
</li>
<%end%>

</ul>
<% else %>
<div class="box_notice">Você não está seguindo ninguém no momento.</div>
<% end %>
</div>
</li>

<li class="clearfix">
    <span class="call"><span>Quem segue você</span></span>
    <div class="followship box clearfix">

      <% if @user.followers.size > 0 %>
        <ul class="clearfix">
          <% for user in @user.followers[0..9]%>
            <li>
              <%= link_to image_tag(user.avatar.url(:thumb), :height => '24', :width => '24', :alt => "#{user.login}"), user_path(user), :rel => 'bookmark', :title => "#{user.display_name}", :class => "tooltipable" %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div class="box_notice">Ninguém segue <%= @user.first_name %> no momento.</div>
      <% end %>
    </div>
</li>

<li class="clearfix">
<span class="call"><span>Minhas anotações</span></span>
<div class="followship box clearfix">
	
<% if @user.annotations.size > 0 %>
<ul class="clearfix">

<% for annotation in @user.annotations[0..9]%>
<li>
	<%= link_to_or_name(annotation) %>
  <%= truncate_chars(annotation.content)%>
</li>
<%end%>

</ul>	
	<%# link_to "(ver todos)", annotations_user_path, :class => "icon more"%>
<% else %>
<div class="box_notice">Você não possui nenhuma anotação de aula ainda.</div>
<% end %>

</div>
</li>

<!--
<li class="clearfix"> 
<span class="call"><span>Seu Progresso</span></span> 
<div class="followship box clearfix"> 
    Progresso
</div> 
</li>
-->
