<ul class="sortable clearfix"> 



<li class="clearfix" style="background-color: #FFFFDF; -moz-box-shadow:0 4px 12px #DDDDDD; ">
    <span class="call"><span style ="background:none repeat scroll 0 0 #FFFFDF; color:orange;">Ações</span></span>
    <ul class="menu">
    	<% mct = current_user.unread_message_count %>
    	<% unless mct == 0%>
			<li><%= link_to "Caixa de mensagens ("+mct.to_s+")", user_messages_path(:user_id => current_user.id)%></li>
			<% end %>
      <li><a href="" class="closed sb">Acompanhar alunos</a></li>
      <li><a href="" class="closed sb">Acompanhar aulas</a></li>
    </ul>
  </li>


<% unless current_user.avatar_file_name and current_user.activated_at and current_user.has_invited and current_user.profile_complete? %>
<li class="clearfix">
<span class="call"><span>TODO</span></span>
    <ul class="menu">
    	<% unless current_user.profile_complete? %>
			<li><%= link_to "Completar dados do perfil", edit_user_path(current_user)%></li>
			<% end %>
    	<% unless current_user.avatar_file_name %>
			<li><%= link_to "Fazer upload de foto", edit_user_path(current_user)%></li>
			<% end %>
      <% unless current_user.activated_at %>
			<li>Ativar conta <%= link_to "reenviar e-mail de ativação", resend_activation_path(:email => current_user.email, :id => current_user.id), :class => "icon more"%></li>
			<% end %>
			 <% unless current_user.has_invited %>
			<li><%= link_to "Convidar amigos e contatos", invite_user_path%></li>
			<% end %>
    </ul>
  </li>
<% end %>


<li class="clearfix">
<span class="call"><span>Quem você segue</span></span>

<div class="followship box clearfix">
	
<% if @user.follows.size > 0 %>
<ul class="clearfix">

<% for user in @user.follows[0..9]%>
<li>
	<%= link_to image_tag(user.avatar.url(:thumb), :height => '24', :width => '24', :alt => "#{user.login}"), user_path(user), :rel => 'bookmark', :title => "#{user.display_name}" %>
</li>
<%end%>

</ul>
<% else %>
<div class="box_notice">Você não está seguindo ninguém no momento.</div>
<% end %>
</div>
</li>


<li class="clearfix">
<span class="call"><span>Minhas anotações</span></span>
<div class="followship box clearfix">
	
<% if @user.annotations.size > 0 %>
<ul class="clearfix">

<% for annotation in @user.annotations[0..9]%>
<li>
	<%= link_to_or_name(annotation) %>
  <%= truncate_chars(annotation.content)%>
</li>
<%end%>

</ul>
<%= link_to "(ver todos)", annotations_user_path, :class => "icon more"%>
<% else %>
<div class="box_notice">Você não possui nenhuma anotação de aula ainda.</div>
<% end %>

</div>
</li>

<!--
<li class="clearfix"> 
<span class="call"><span>Seu Progresso</span></span> 
<div class="followship box clearfix"> 
    Progresso
</div> 
</li>
-->
