<div class="sidebar">
  <div class="image-user">
    <%= image_tag @user.avatar.url(:thumb_110), :alt => 'user', :size => "110x110" %>
  </div>

  <%= local_nav :user_profile %>
  <% if current_user == @user %>
    <ul class="connections con-endless clearfix">
      <% @contacts = @user.friends.page(params[:page]).per_page(8) %>
      <%= render :partial => 'users/item_medium_24',
        :collection => @contacts %>
    </ul><!-- end .connections -->
  <% else %>
    <%# TODO: Descomentar quando os amigos em comum estiver funcionado novamente. %>
    <%# @friends_in_common = @user.friends_in_common_with(current_user).shuffle %>
    <%# <span class="call icon-contacts-gray_16_18-before">Em comum: <span class="count"> %><%# @friends_in_common.count %><%# </span></span> %>
    <%# <ul class="connections clearfix"> %>
      <%# render :partial => 'users/item_medium_24',
        :collection => @friends_in_common[0..3] %>
    <%# </ul> %><%# end .connections %>
    <hr class="separator"/>
    <ul class="connections con-endless clearfix">
      <% @contacts = Kaminari::paginate_array(@user.friends_not_in_common_with(current_user)).
        page(params[:page]).per_page(4) %>
      <%= render :partial => 'users/item_medium_24',
        :collection => @contacts %>
    </ul><!-- end .connections -->
  <% end %>
  <%= paginate @contacts, :theme => 'sidebar_endless',
    :params => { :controller => 'users', :action => 'contacts_endless',
                 :id  => @user.login },
                 :text => "Mostrando os <X> últimos contatos de #{@user.first_name}" %>
</div>
