<%#
  Status do perfil.

  Variáveis:
    progress_percentage: a porcentagem do status.
%>
<% unless progress_percentage == 100 %>
  <div class="right-sidebar-area">
    <h6 class="right-sidebar-area-title">Status do Perfil</h6>
    <div class="nav-local-separator"></div>
    <div class="progress-bar-legend progress-bar-medium">
      <span class="legend"><%= "#{progress_percentage}%" %></span>
      <span class="progress-bar-total progress-bar-thin" rel="tooltip" title="<%= "#{progress_percentage}% completado" %>">
        <span class="progress-bar-completed text-replacement" style="width: <%= "#{progress_percentage}%" %>;"><%= "#{progress_percentage}%" %></span>
      </span>
    </div>
    <p class="legend">Preencha e personalize seu Perfil; leva no máximo 10 minutos. <%= link_to "Que tal começar?", edit_user_path(@user), :class => "link-secondary" %></p>
  </div>
<% end %>