<div class="sidebar alpha grid_3">
  <div class="image-frame ">
    <%= image_tag @user.avatar.url(:thumb_120), :alt => 'user' %>
  </div>

  <ul class="local-nav">
    <li>
      <div class="<%= (current_page? user_path(@user)) ?
                       "session selected".to_s : "session".to_s %>">
        <% selected = (current_page? user_path(@user)) ? "icon-profile-white_16_16" : "icon-profile-lightblue_16_16" %>
        <%= link_to "Perfil: #{@user.first_name}", user_path(@user),
        :class => "icon #{selected}" %>
      </div>
     </li>
    <li>
      <div class="<%= (current_page? user_friendships_path(@user)) ?
                       "session selected".to_s : "session".to_s %>">
        <% selected = (current_page? user_friendships_path(@user)) ? "icon-contacts-white_16_16" : "icon-contacts-lightblue_16_16" %>
        <%= link_to "Contatos: #{ @user.friends.count }",
          user_friendships_path(@user, :profile => true),
          :class => "icon #{selected}"%>
      </div>
      <ul class="connections clearfix">
        <% @contacts = @user.friends.page(params[:page]).per(8) %>
        <%= render :partial => 'users/item_medium_24',
          :collection => @contacts %>
      </ul><!-- end .connections -->
      <%= paginate @contacts, :theme => 'sidebar_endless',
        :params => { :controller => 'users', :action => 'contacts_endless',
                     :id  => @user.login },
        :text => "Mostrando os <X> últimos contatos de #{@user.first_name}" %>
    </li>
  </ul><!-- end .local-nav -->
  <% friendship = current_user.friendship_for @user %>
  <% if current_user.friends?(@user) %>
    <%= link_to 'Remover conexão',
      user_friendship_path(current_user, friendship.id),
      :remote => true,
      :method => :delete,
      :class => "disconnect icon icon-x-gray_8_8"%>
  <% end %>
</div>
