<div id="password-form">
  <%= form_for @recovery_email, :url => { :action => "recover_password", :method => "post" }, :remote => true, :html => { :class => "concave-form recover-blog" } do |f| %>
    <fieldset class="body-login grid_10 omega alfa">
      <h2 class="forgot-password">Esqueceu a <q class="name-password">senha</q> ?</h2>
      <h3 class="call">Ao requisitar a recuperação de senha, a sua antiga deixará de existir e uma nova será gerada.</h3>
        <div class="confirmation-msg" id="recovered-password" style="display:none">
              <h2 class="aba-top"></h2>
              <h3 class="text-confirmation" id="password-text">
              Um e-mail com o login esquecido foi enviado para a sua caixa de entrada (<q class="client-email" id="client-email2">endereço@email.com.br</q>)
              </h3>
        </div>
      <div class="login-box omega alfa grid_9" id="login-box">
      <%= concave_error_messages_for @recovery_email %>
        <strong class="appear-tiptip icon-interrog-blue_12_12-before tiptip-lite" title ="Este endereço de e-mail deve ser o mesmo que você cadastrou no Redu. Mantenha-o atualizado."></strong>
        <%= f.label "recover_mail", "E-mail:", :class => "input-password" %>
        <%= f.text_field "email", :placeholder => "Digite o seu endereço de e-mail cadastrado no Redu", :class => "concave-input registered-email" %>
        <%= concave_errors_for @recovery_email, :email %>
      </div>
      <%= submit_tag "Enviar", :class => "concave-button", :id => "password" %>
    </fieldset>
  <% end %>
</div>
