<div id="password-form">
  <%= form_for @recovery_email, :url => { :action => "forgot_password", :method => "post" }, :remote => true, :html => { :class => "concave-form recover-blog" } do |f| %>
    <fieldset class="body-login grid_10 omega alfa">
      <h2 class="forgot-password grid_10">Esqueceu a <q class="name-password">Senha</q> ?</h2>
      <h3 class="call grid_10">Ao requisitar a recuperação de senha, a sua antiga deixará de existir e uma nova será gerada.</h3>
      <div class="confirmation-msg" id="recovered-password" style="display:none">
            <h2 class="aba-top"></h2>
            <h3 class="text-confirmation" id="password-text"></h3>
      </div>
      <div class="login-box grid_9" id="login-box">
        <strong class="appear-tiptip grid_1 icon-interrog-blue_12_12-before tiptip-lite" title ="Este endereço de e-mail deve ser o mesmo que você cadastrou no Redu. Mantenha-o atualizado."></strong>
        <%= f.label "recover_mail", "E-mail:", :class => "input-email grid_1" %>
        <%= f.text_field "email", :value => "Digite o seu endereço de e-mail cadastrado no Redu", :class => "concave-input grid_7 registered-email" %>
        <%= concave_errors_for @recovery_email, :email %>
      </div>
      <%= submit_tag "Enviar", :class => "concave-button grid_2", :id => "password" %>
    </fieldset>
  <% end %>
</div>
