<div id="password-form">
  <h2 class="forgot-title">Esqueceu a <span class="forgotten-information">senha</span>?</h2>
  <h3 class="call">Ao requisitar a recuperação de senha, a sua antiga deixará de existir e uma nova será  gerada.</h3>
  <%= form_for @recovery_email, :url => { :action => "recover_password", :method => "post" }, :remote => true, :html => { :class => "concave-form" } do |f| %>
    <fieldset class="body-login">
      <div class="confirmation-msg" id="recovered-password" style="display:none">
        <p>Um e-mail contendo a nova senha foi enviado para a sua caixa de entrada (<span class="client-email" id="client-email2">endereço@email.com.br</span>)</p>
      </div>
      <div id="login-box">
        <%= concave_error_messages_for @recovery_email %>

        <%= f.text_field :email, :placeholder => "Digite o seu endereço de e-mail cadastrado no Redu", :class => "registered-email" %>
        <%= f.label :email, raw("#{ content_tag :span, "", :class => "icon-small icon-question-blue_12_12 tiptip-left", :title => "Este endereço de e-mail deve ser o mesmo que você cadastrou no Redu. Mantenha-o atualizado." } E-mail:"), :class => "input-password" %>
        <%= concave_errors_for @recovery_email, :email %>
      </div>
      <%= submit_tag "Enviar", :class => "concave-button", :id => "password" %>
    </fieldset>
  <% end %>
</div>
