<div class="home-right-sidebar">
  <%= render :partial => "home/sidebar/profile_status",
             :locals => { :progress_percentage => current_user.completeness } %>
  <%= render :partial => "home/sidebar/explore_redu" %>
  <%= render :partial => "home/sidebar/invite_friends" %>
  <%= render :partial => "home/sidebar/help_center" %>
  <%= render :partial => "home/sidebar/connect",
             :locals => { :members => @members_to_connect } %>
</div>
