<div class="home-right-sidebar">
  <%= render :partial => "users/profile_status",
    :locals => { :progress_percentage => user.completeness } %>
  <%= render :partial => "users/explore_redu_sidebar",
    :locals => { :user => user } %>
  <%= render :partial => "users/invite_friends",
    :locals => { :user => user } %>
  <%= render :partial => "users/help_center" %>
  <%= render :partial => "users/recommendation",
    :locals => { :recommendations => user.recommended_contacts(3) } %>
</div>
