<%#
  Barra lateral direita do perfil do usuário.

  Variáveis:
    user: o usuário.
    subscribed_courses_count: a quantidade de cursos inscritos.
%>

<div class="home-right-sidebar">
  <%# Se o perfil for o do current user %>
  <% if can? :manage, user %>
    <%= render "users/profile_status", user: user %>
  <% end %>

  <div class="right-sidebar-area">
    <ul class="profile-actions">
      <%# Se os usuários forem amigos, existe a opção de acabar com a amizade. %>
      <% if is_friend?(user) %>
        <li class="profile-action profile-action-remove-contact">
          <%= link_to 'Remover contato',
            user_friendship_path(current_user, current_friendship(current_user, user).id),
            remote: true,
            method: :delete,
            class: "icon-close-lightblue_16_18-before"%>
        </li>
      <% end %>

      <%# Se os usuários não forem amigos ainda. %>
      <% if !is_friend?(user) %>
        <%# Se existe requisição pendente. %>
        <% if current_friendship(user) %>
          <%# Se current_user já enviou requisição de amizade. %>
          <% if current_friendship(user).status == 'pending' %>
            <%= render "friendships/button_waiting" %>
          <%# Se o usuario do perfil enviou requisiçnao de amizade. %>
          <% else %>
            <li class="profile-action">
              <%= link_to 'Aceitar conexão',
                user_friendships_path(current_user, friend_id: user.id),
                method: :post,
                class: "button-success icon-invite-white_green_16_18-before" %>
            </li>
          <% end %>
        <%# Se não houver requisição de amizade eles não podem ser a mesma pessoa. %>
        <% elsif !user.is?(current_user) %>
          <%= render 'friendships/form', user: current_user, friend: user %>
        <% end %>
      <% end %>

      <%# Se os usuário forem amigos, opção para escrever mensagem. %>
      <% if is_friend?(user) %>
        <li class="profile-action profile-action-remove-contact">
          <%= link_to "Escrever Mensagem", user_messages_path(current_user),
            class: 'button-primary icon-message-new-white_blue_16_18-before' %>
        </li>
      <% end %>
    </ul>
  </div>

  <% environments = user.environments.page(params[:page]).per(4) %>
  <% unless environments.empty? %>
    <div class="right-sidebar-area">
      <%= content_tag :h6, "Cursos inscritos: #{subscribed_courses_count}",
        class: "right-sidebar-area-title" %>
      <div class="nav-local-separator"></div>
      <ul class="profile-enrolled-environments">
        <%= render partial: 'environments/item_medium',
          collection: environments, locals: { user: user } %>
      </ul>
      <%= paginate environments, theme: 'new_sidebar_endless',
        params: { controller: 'users', action: 'environments_endless' },
        text: "Mostrando os <X> últimos ambientes de #{user.first_name}",
        html_class: "profile-enrolled-environments-endless" %>
    </div>
  <% end %>
</div>