<% content_for :js do %>

<script type="text/javascript">
	    $("#user-description").editInPlace({
	        url: "<%= url_for(:controller => :users, :action => :update)%>",
					default_text: "(clique para adicionar uma descrição)"
	    });
</script>

<% end %>

<div class="overview yellow clearfix">
 <div class="actions"> 
            <ul> 
                <% unless @user.eql?(current_user) %>
                    <li>
                    <% deja = @user.followers.include?(current_user) %>
                    <%= link_to_remote 'Seguir', :url => {:controller => :users, :action => :follow, :id => @user.id} , :html =>{:class => "icon ico-follow", :style => "display:" + ((deja) ? 'none' : 'block'), :id => "follow_link"} %>
                    <%= link_to_remote 'Não seguir', :url => {:controller => :users, :action => :unfollow, :id => @user.id}, :html =>{:style => "display:"+ ((deja) ? 'block' : 'none'), :id => "unfollow_link" } %>
                    </li>
                <% else %>
                    <li class="action-2">
						<%= link_to "Mensagens", user_messages_path(current_user), :class => "icon ico-contact" %>
					</li> 
                <% end %>
            </ul> 
        </div><!-- end actions --> 
        <div class="photo"> 
            <%= 
                link_to image_tag( @user.avatar.url(:thumb), 
                    {:width => "80", :height=>"80", :border => 0 }), @user 
            %> 
            <% if (@user && @user.eql?(current_user)) %> 
                <% if @user.avatar %> 
                    <%# link_to :profile_photo_crop.l, crop_profile_photo_user_path(@user), :class => 'small' %>
                <% else %>
                    <%= link_to :click_here_to_upload_one.l, edit_user_path(@user), :class => 'small' %>
                <% end %>
            <% end %>
        </div> 
        <div class="personal-overview clearfix"> 
            <div class="points-m"> 
            <span class="number"><%= @user.score %></span> 
            <span class="legend">redu points</span> 
            </div> 
						<div class= "name">
							<%= link_to @user.display_name, @user%> 
						
						 <% if (@user && @user.eql?(current_user)) %> 
						<%= link_to 'Editar', edit_user_path(@user), :class => 'small' %>
						<% end %>
						</div>
            
						
            <span class="location quiet">
            	<!-- Recife, Pernambuco -->
							 <% unless @user.tag_list.empty? %>
            <span class="areas quiet">Áreas de interesse</span> 
            <ul class="tags"> 
                <%= @user.tag_list %>
            </ul> 
            <% end %>
							</span> 
        </div><!-- end personal-overview --> 
        
        <div id="user-description" class="social-overview clearfix inplace-editor"> 
            <!-- <div class="recomendations-m"> 
            <span class="number">37</span> 
            <span class="legend">recomendações</span> 
            </div> -->
           
        </div><!-- end social-overview --> 
</div><!-- end overview -->

