<div class="overview yellow clearfix">
 <div class="actions"> 
            <ul> 
                <% unless @user.eql?(current_user) %>
                    <li>
                    <% unless @user.followers.include?(current_user) %>
                    <%= link_to 'Seguir', follow_user_path(@user), :class => "icon ico-follow"  %>
                    <% else %>
                    <%= link_to 'Não seguir', unfollow_user_path(@user) %>
                    <% end %>
                    </li>
                <% else %>
                    <li class="action-2"><a href="" class="icon ico-contact">Mensagem</a></li> 
                    <li class="action-3"><a href="" class="icon ico-recomend">Recomende</a></li> 
                <% end %>
            </ul> 
        </div><!-- end actions --> 
        <div class="photo"> 
            <%= 
                link_to image_tag( @user.avatar_photo_url(:thumb), 
                    {:width => "80", :height=>"80", :border => 0 }), @user 
            %> 
            <% if (@user && @user.eql?(current_user)) %> 
                <% if @user.avatar %> 
                    <%= link_to :profile_photo_crop.l, crop_profile_photo_user_path(@user), :class => 'small' %>
                <% else %>
                    <%= link_to :click_here_to_upload_one.l, edit_user_path(@user), :class => 'small' %>
                <% end %>
            <% end %>
        </div> 
        <div class="personal-overview clearfix"> 
            <div class="points-m"> 
            <span class="number"><%= @user.score %></span> 
            <span class="legend">redu points</span> 
            </div> 
						<div class= "name">
							<%= link_to @user.display_name, @user%> 
						
						 <% if (@user && @user.eql?(current_user)) %> 
						<%= link_to 'Editar', edit_user_path(@user), :class => 'small' %>
						<% end %>
						</div>
            
						
            <!--<span class="status student replacement">Aluno</span>--> 
            <span class="location quiet">Recife, Pernambuco</span> 
        </div><!-- end personal-overview --> 
        
        <div class="social-overview clearfix"> 
            <div class="recomendations-m"> 
            <span class="number">37</span> 
            <span class="legend">recomendações</span> 
            </div>
            <% unless user.tag_list.empty? %>
            <span class="areas quiet">Áreas de intersse</span> 
            <ul class="tags"> 
                <%= user.tag_list %>
            </ul> 
            <% end %>
        </div><!-- end social-overview --> 
</div><!-- end overview -->

