<div class="span3">
  <%= render :partial => "users/left_sidebar",
    :locals => { :user => @user } %>
</div>
<div class="span10">
  <div class="content-area">
    <%= render :partial => "users/breadcrumb_configurations",
      :locals => { :user => @user } %>
    <div class="content-body">
      <div class="content-section">
        <%# Cabeçalho %>
        <ul class="header-breadcrumb">
          <li class="header-breadcrumb-item">
            <%= link_to "Configurações", edit_user_path(@user),
               :class => "header-bradcrumb-link icon-manage-gray_32_34-before",
               :title => "Configurações" %>
          </li>
          <li class="header-breadcrumb-item">
            <%= link_to "Perfil", edit_user_path(@user),
               :class => "header-bradcrumb-link",
               :title => "Perfil" %>
          </li>
        </ul>
      </div>
      <%# Abas e sub-abas %>
      <%= new_tabs(:new_users) %>
      <%# TODO: Remover quando estiver integrado ao simple-navigation %>
      <div class="tab-buttons">
        <%= link_to "Biografia", edit_user_path(@user),
          :title => "Biografia",
          :class => "tab-button icon-biography_16_18-before" %>
        <%= link_to "Currículo", curriculum_user_path(@user),
          :title => "Currículo",
          :class => "tab-button tab-button-active icon-curriculum_16_18-before" %>
      </div>
      <hr class="list-separator">
      <div class="home-container">

        <h4 class="config-title">Experiência profissional</h4>

        <li class="list-mix-item config-experience clearfix">
          <div class="list-mix-inner">
            <div class="grid_5">
              <div class="grid_4">
                <a data-dismiss="alert" class="message-close">×</a>
                <a class="legend">editar</a>
                <span class="title"><b>Nome da profissão atual</b> <i>em</i> Empresa Lorem Ipsum</span>
                <span class="time">Dezembro de 2010 – presente (13 meses)</span>
                <p>Nunc facilisis feugiat tempor. Aliquam lacinia felis a nunc ultricies iaculis. Integer massa nulla, fermentum nec tincidunt sit amet, tristique vitae augue.</p>
              </div>
            </div>
          </div>
        </li>

        <a class="button-default icon-curriculum-blue_16_18-before config-new-item">Adicionar novo item</a>

      </div>
      <hr class="list-separator">

      <div class="home-container">
        <h4 class="config-title">Experiência acadêmica</h4>

        <li class="list-mix-item config-experience clearfix">
          <div class="list-mix-inner">
            <div class="grid_5">
              <div class="grid_4">
                <a data-dismiss="alert" class="message-close">×</a>
                <a class="legend">editar</a>
                <span class="title"><b>Ensino fundamental</b> <i>em</i> Colégio Lorem Ipsum</span>
                <span class="time">1994 – 2005</span>
                <p>Nunc facilisis feugiat tempor. Aliquam lacinia felis a nunc ultricies iaculis. Integer massa nulla, fermentum nec tincidunt sit amet, tristique vitae augue.</p>
              </div>
            </div>
          </div>
        </li>

        <li class="list-mix-item config-experience clearfix">
          <div class="list-mix-inner">
            <div class="grid_5">
              <div class="grid_4">
                <a data-dismiss="alert" class="message-close">×</a>
                <a class="legend">editar</a>
                <span class="title">Bacharel <i>em</i> <b>Nome do curso</b> <i>pela</i> Universidade Federal de Pernambuco</span>
                <span class="time">2006 - 2012</span>
                <p>Nunc facilisis feugiat tempor. Aliquam lacinia felis a nunc ultricies iaculis. Integer massa nulla, fermentum nec tincidunt sit amet, tristique vitae augue.</p>
              </div>
            </div>
          </div>
        </li>

        <a class="button-default icon-curriculum-blue_16_18-before config-new-item">Adicionar novo item</a>
      </div>

      <hr class="list-separator">

      <div class="home-container">
        <a class="button-primary">Salvar alterações</a>
      </div>

    </div>
    <%= render :partial => "users/breadcrumb_configurations",
      :locals => { :user => @user } %>
  </div>
</div>
<div class="span3">
  <%= render :partial => "users/sidebar_explanation",
    :locals => { :user => @user } %>
</div>