<%= lazy_load(:user, :jammit => true, :clear => true) %>
<%= lazy_load(:user, :type => :css, :jammit => true, :clear => true) %>
<%= render :partial => 'users/home_sidebar' %>
<div class="main grid_10" style="width: 580px;">
  <%= render :partial => 'users/breadcrumbs' %>
  <%=
    fake_tabs ['Perfil', edit_user_path(@user), {:class => 'icon icon-profile-lightblue_16_16'}],
      ['Conta', account_user_path(@user), {:class => 'icon icon-account-gray_16_16'}],
      ['Planos', user_plans_path(@user), {:class => 'icon icon-cash-gray_16_16'}] do
    %>
  <%= real_tabs ["biography", "Biografia"], ["curriculum", "Currículo"] do %>
    <div id="biography" class"clearfix">
      <%= render :partial => 'users/form' %>
    </div>
    <div id="curriculum" class="clearfix">
      <div class="experience clearfix">
        <div class="header clearfix">
          <h3 class="title"><span class="icon"></span>Experiência</h3>
          <hr class="separator">
        </div>
        <ul class="experiences">
          <%= render :partial => 'experiences/item',
            :collection => @user.experiences %>
        </ul>
        <%= render :partial => 'experiences/form', :locals => {
          :user => @user, :experience => @experience } %>
        <a href="#" class="new-experience-button cancel">+ Novo projeto</a>
      </div>
      <div class="education">
        <div class="header clearfix">
          <h3 class="title"><span class="icon"></span>Educação</h3>
          <hr class="separator">
        </div>
        <ul class="educations">
          <%= render :partial => "educations/item",
            :collection => @user.educations %>
        </ul>
        <%= render :partial => 'educations/form', :locals => {
          :high_school => @high_school, :higher_education => @higher_education,
          :complementary_course => @complementary_course,
          :event_education => @event_education, :user => @user }%>
        <a href="#" class="new-education-button cancel">+ Novo projeto</a>
      </div>
    </div>
  <% end %>
<% end %>
</div>
