<% content_for :page_id, 'public-profile' %>
<%- @meta = { :description => "#{@user.login}'s profile on #{AppConfig.community_name}.", :keywords => "#{@user.login}, #{@user.tags.join(", ") unless @user.tags.nil?}", :robots => AppConfig.robots_meta_show_content }%>
<%- @section = @user.eql?(current_user) ? 'my_profile' : 'users' %>

<div class="main grid_11">
<%= render :partial => "users/user_info", :locals => {:user => @user}%>
<div class="fake-tabs grid_11 omega alpha"> 
    <ul class="menu"> 
	    <li><%= link_to 'Atividades', user_path(@user) %></li> 
	    <!--<li><a href="#tabs-5">Currículo</a></li>--> 
	    <!--<li><a href="#tabs-2">Cursos</a></li> -->
	    <li><%= link_to 'Disciplinas', {:action => 'groups', :id => @user.id}, :class => 'selected' %></li> 
	    <!--<li><a href="#tabs-4">Exames (22)</a></li> -->
    </ul> 
    
    <div class="panel">
    <ul>
	<% @groups.each do |space| %>
		<li><%= link_to space.name, space %></li>
	<% end %>
	</ul><!-- end spaces -->
    </div>
</div><!-- end tabs -->
</div><!-- end main -->

<div class="sidebar grid_5 omega">
<% if @user.eql?(current_user) %>
<%= render :partial => 'users/private_sidebar', :object => @user %>
<% else %>
<%= render :partial => 'users/public_sidebar', :object => @user %>
<% end %>
</div><!-- end sidebar -->
