<div class="span3">
  <%= render "users/left_sidebar", user: @user %>
</div>
<div class="span10">
  <div class="content-area">
    <div class="content-body">
      <%# Mensagem de boas-vindas ao Openredu. %>
      <%= render "users/welcome_greeting", user: @user %>

      <%# Convites de amizades. %>
      <% cache ["home_friends_requisitions", @user.id] do %>
        <% unless @friends_requisitions.empty? %>
          <div class="content-section">
            <ul class="requisitions">
              <%= render partial: "friendships/friend_requisition",
                collection: @friends_requisitions, as: :friendship %>
            </ul>
          </div>
          <hr class="list-separator">
        <% end %>
      <% end %>

      <%# Convites para cursos. %>
      <% cache ["home_courses_requisitions", @user.id] do %>
        <% unless @course_invitations.empty? %>
          <div class="content-section">
            <ul class="requisitions">
              <%= render partial: "courses/item_invitation",
                collection: @course_invitations %>
            </ul>
          </div>
          <hr class="list-separator">
        <% end %>
      <% end %>

      <%# Explore o Openredu. %>
      <%= content_tag :div, id: "what-is-missing-box",
        style: "display: #{what_is_missing_box_display(@user)}" do %>
        <div class="content-section">
          <%= render "users/explore_redu", user: @user %>
        </div>
        <hr class="list-separator">
      <% end %>

      <%# Explicação de AVA. %>
      <%= content_tag :div, id: "learn-environments-box",
        style: "display: #{learn_environments_display(@user)}" do %>
        <div class="content-section">
          <%= render "users/learn_environments" %>
        </div>
        <hr class="list-separator">
      <% end %>

      <%# Mural. %>
      <%= render "statuses/wall", status: @status, statusable: @user,
        placeholder: "Compartilhe algo com seus Amigos através de seu mural",
        statuses: @statuses %>
    </div>
    <%= render "bootstrap/breadcrumb_mini", breadcrumb_mini_items: [
      { name: "Visão Geral", classes: "icon-home-gray_16_18-before" } ] %>
  </div>
</div>
<div class="span3">
  <%= render "users/right_sidebar", user: @user %>
</div>
