<%= render :partial => 'users/home_sidebar' %>
<div class="main grid_10 omega" style="width: 580px;">
  <ol id="breadcrumbs" class="clearfix">
    <li>
      <%= link_to 'Home', home_user_path(@user),
        :class => 'replacement home icon-small icon-home-lightblue_16_18' %>
    </li>
  </ol>
  <% cache ['home_friends_requisitions', @user.id] do %>
    <% unless @friends_requisitions.all.empty? %>
      <ul class="friends-requisitions">
        <%= render :partial => 'friendships/friend_requisition',
          :collection => @friends_requisitions, :as => :friendship %>
      </ul>
    <% end %>
  <% end %>
  <% cache ['home_courses_requisitions', @user.id] do %>
    <% unless @course_invitations.all.empty? %>
      <ul class="courses-requisitions">
        <%= render :partial => 'courses/item_invitation',
          :collection => @course_invitations %>
      </ul>
    <% end %>
  <% end %>
  <%= render_wally("core:space_1", { :user => current_user, :target => @user, :config => { :showContexts => true } }, { :width => '580px'}) %>
</div><!-- end .main -->

<div class="secondary-sidebar home-sidebar">
  <%= render :partial => 'friendships/invite_button' %>
  <div class="contact-recommendations">
    <div class="call">
      <span class="icon-contacts-white-green_16_18-before">Conecte-se</span>
    </div>
    <ul>
      <%= render :partial => 'users/recommendation_item',
        :collection => @contacts_recommendations %>
    </ul>
  </div>
</div><!-- end .offering -->
