<%= render :partial => 'users/home_sidebar' %>
<div class="main grid_10" id="notifications" style="width: 580px;">
  <ol id="breadcrumbs" class="clearfix  notifications-breadcrumbs">
    <li><%= link_to 'Home', home_user_path(current_user), :class => 'replacement home icon-small icon-home-lightblue_16_18' %></li>
    <li><%= link_to 'Avise-me', notifications_user_path(@user), :class => 'icon-spk-lightblue_16_18 breadcrumbs-text' %></li>
  </ol>

<div id="notifications-header">
  <h3 class="notifications-title icons-big-before icon-spk-lightblue_64_64-before">Avise-me</h3>
  <em class="notifications-subtitle">Saiba o que acontece no Redu e que se relaciona diretamente com você: convites para amizades; participações em cursos; respostas a comentários seus, etc.</em>
</div>

<%= subtabs :notifications do %>
  <% unless @friends_requisitions.empty? %>
    <ul class="friends-requisitions">
      <%= render :partial => 'users/friend_requisition',
        :collection => @friends_requisitions, :as => :friend %>
    </ul>
  <% end %>
  <% if current_user.has_course_invitation? %>
    <ul class="courses-requisitions">
      <%= render :partial => 'courses/item_invitation',
        :collection => @course_invitations %>
    </ul>
  <% end %>
<% end %>

</div><!-- end .main -->
