<% content_for :header_scripts_and_styles do %>
  <script type="text/javascript">
    function verifyTOS(){
      if (document.getElementById('user_tos').checked) {
        return true;
      }
      else {
        alert('Você não pode se cadastrar se não aceitar os termos de uso do Redu');
        return false;
      }
    }

  </script>
<% end %>
<div id="clean" class="container_16 clearfix">
  <div class="grid_4 alpha header">
    <h1 class="logotipo replacement">
      <%= link_to "Redu: rede social educacional", application_path %>
    </h1>
  </div>
  <div class="main grid_12 omega">
    <h3 class="call">Cadastro</h3>
    <%= form_for :user, :url => users_path,
      :html => {:class => 'concave-form user-registration-form',
                :onsubmit => 'return verifyTOS();'} do |f| %>
      <%= concave_error_messages_for @user %>
      <% if params[:invitation_token] %>
        <%= hidden_field_tag :invitation_token, params[:invitation_token] %>
      <% end %>
      <% if params[:friendship_invitation_token] %>
        <%= hidden_field_tag :friendship_invitation_token, params[:friendship_invitation_token] %>
      <% end %>
      <%= field_set_tag "Informações pessoais", :class => 'separator' do %>
        <%= f.label :first_name, "Nome:" %>
        <%= f.text_field :first_name, :class => 'small' %>
        <%= concave_errors_for @user, :first_name %>

        <%= f.label :last_name, "Sobrenome:" %>
        <%= f.text_field :last_name, :class => 'small' %>
        <%= concave_errors_for @user, :last_name %>

        <%= f.label :birthday, t( :birthday ) + ":" %>
        <div class="inline">
          <%= date_select :user, :birthday,
            {:start_year => 1926, :end_year => (Time.now.year - 13)} %>
        </div>
        <%= concave_errors_for @user, :birthday %>
      <% end %>
      <%= field_set_tag "Informações de contato", :class => 'separator' do %>
        <%= f.label :login, t( :username ) + ':' %>
        <%= f.text_field :login, :class => 'small' %>
        <%= concave_errors_for @user, :login %>

        <%= f.label :email, t( :email ) + ':' %>
        <%= f.text_field :email, :class => 'small' %>
        <%= concave_errors_for @user, :email %>

        <%= f.label :email_confirmation, "Confirmação:" %>
        <%= f.text_field :email_confirmation, :class => 'small' %>
        <%= concave_errors_for @user, :email_confirmation %>
      <% end %>
      <%= field_set_tag "Senha", :class => 'separator' do %>
        <%= f.label :password, t( :password ) + ':' %>
        <%= f.password_field :password, :class => 'small' %>
        <%= concave_errors_for @user, :password %>

        <%= f.label :password_confirmation, 'Confirmação:' %>
        <%= f.password_field :password_confirmation, :class => 'small' %>
        <%= concave_errors_for @user, :password_confirmation %>
      <% end %>
      <%= field_set_tag @user.humanizer_question, :class => 'sparator' do %>
        <%= f.label :humanizer_answer, "Resposta:" %>
        <%= f.text_field :humanizer_answer, :class => 'small'  %>
        <span class="tip" style="width: 370px">Na Internet, é comum que certos computadores façam cadastros automáticos para espalhar propagandas indesejadas conhecidas como 'spam'. Essa pergunta serve para diferenciar as pessoas reais desses robôs e garantir uma boa e segura experiência de uso para você.</span>
        <%= f.hidden_field :humanizer_question_id %>
        <%= concave_errors_for @user, :humanizer_answer %>
      <% end %>
      <%= field_set_tag "Termos", :class => 'tos' do %>
        <div class="inline">
          <%= check_box "user", "tos" %>
          <%= f.label "tos", raw("Li e aceito os #{link_to "termos de uso", tos_path} do Redu") %>
        </div>
      <% end %>
      <%= submit_tag t(:sign_up), :class => 'register-button' %>
      <%= hidden_field_tag :inviter_id, params[:inviter_id] %>
      <%= hidden_field_tag :inviter_code, params[:inviter_code] %>
    <% end %>
  </div>


</div><!-- end #content -->
