<div id="all_content3">
    <div id="col_content">
        <div id="breadcrumbs">
            <a href="<%=application_url%>">home</a>
            > cadastrar
        </div>
        <div id="title">
            CADASTRAR
        </div>
		<br/><br/>
        <div>
        	<%= error_messages_for :user %>
            <% form_for :user, :url => users_path, :html => {:class => 'MainForm'} do |f| %>
            <br/>
			<label for='first_name'>
                Nome
            </label>
            <br/>
			<%= f.text_field :first_name, :size => 35 %>
			<br/>
			<label for='last_name'>
                Sobrenome
            </label>
            <br/>
			<%= f.text_field :last_name, :size => 35 %>
			<br/>
            <label for='username'>
                <%=:username.l %>
            </label>
            <br/>
			<em>
			<%= :required_your_username_must_not_contain_numerals_spaces_or_special_characters.l%>
          	</em>
		    <%= f.text_field :login, :size => 35 %>
            <br/>
            
			<label for='username'>
                <%=:email.l %>
            </label>
            <br/>
			<em>
			<%=:required_we_will_send_a_confirmation_e_mail_to_the_address_you_enter.l%>	
			</em>	
            <%= f.text_field :email, :size => 35 %>
            <br/>
			
			<label for ='username'>
          		<%= :birthday.l %>
			</label>
			 <br/>
			<%= date_select :user, :birthday, {:start_year => 1926, :end_year => (Time.now.year - 13)}%>
			<br/>
			  <label for ='user_password'>
			  	<%= :type_your_password.l %>
				</label>
				<br/>
				<%= f.password_field :password %>
			  	<br/>
			  
			  <label for ='user_password'>
			  	<%= :re_type_your_password_to_confirm.l %>
				</label>
				<br/>
				<%= f.password_field :password_confirmation %>
				<%= hidden_field_tag :inviter_id, params[:inviter_id] %>
				<%= hidden_field_tag :inviter_code, params[:inviter_code] %>
			  
            <br/>
            <%= submit_tag :sign_up.l %>
            <% end %>
            
			<br/>
			<p>
                <%=:dont_have_an_account.l %>
                <br/>
                <%= link_to "&raquo; " + :click_here_to_sign_up.l, "/signup" %>
            </p>
            <p>
                <%=:forgot_your_password.l %>
                <br/>
                <%= link_to "&raquo; " + :click_here_to_retrieve_it.l, forgot_password_url %>
            </p>
            <p>
                <%=:forgot_your_username.l %>
                <br/>
                <%= link_to "&raquo; " + :click_here_to_retrieve_it.l, forgot_username_url %>
            </p>
        </div>
    </div>
</div>