<% content_for :page_id, 'public-profile' %>
<%- @meta = { :description => "#{@user.login}'s profile on #{AppConfig.community_name}.", :keywords => "#{@user.login}, #{@user.tags.join(", ") unless @user.tags.nil?}", :robots => AppConfig.robots_meta_show_content }%>
<%- @section = @user.eql?(current_user) ? 'my_profile' : 'users' %>

<script type="text/javascript">
var userlearningPath = "<%= learning_user_path %>";
var userteachingPath = "<%= teaching_user_path %>";
<% if can? :manage, @user %>
  var userAnnotationPath = "<%= annotations_user_path %>";
<% end %>

var $usertabs;

$(document).ready(function() {

    $usertabs = $(".user-tabs").tabs({
        select: function(event, ui) {
            if (ui.panel.id == "tabs-2") {
                // Meus cursos
                $("#tabs-2-content").html('');
                jQuery.ajax({
                    data: '',
                    dataType: 'script',
                    success: function(request) {
                        $("#tabs-2-loading").hide();
                    },
                    type: 'get',
                    url: userlearningPath
                });

                $("#tabs-2-loading").show();
            }
        <% if can? :manage, @user %>
            else if (ui.panel.id == "tabs-5"){
                // Anotações
                $("#tabs-5-content").html('');
                jQuery.ajax({
                    data: '',
                    dataType: 'script',
                    success: function(request) {
                        $("#tabs-5-loading").hide();
                    },
                    type: 'get',
                    url: userAnnotationPath
                });

                $("#tabs-5-loading").show();
          }
        <% end %>
      }
    });
});
</script>


<div class="main grid_11">
  <%= render :partial => "users/user_info", :locals => {:user => @user}%>

  <div class="user-tabs tabs clearfix">
    <ul>
      <li><a href="#tabs-1">Atividades</a></li>
      <li><a href="#tabs-2">Meus cursos</a></li>
      <% if can? :manage, @user %>
        <li><a href="#tabs-5">Anotações</a></li>
      <% end %>
    </ul>

    <div id="tabs-1" class="clearfix first-page">
      <%= javascript_include_tag 'flow.js' %>
      <% if current_user == @user%>
        <%= render :partial => "statuses/create_status", :locals => {:status => @status, :statusable => @user }%>
      <% end %>
      <ul class="activities">
        <%= render :partial => "statuses/type_proxy", :collection => @statuses, :as => :status, :locals => {:statusable => @user } %>
      </ul><!-- end activities -->

      <% unless @statuses.length < 10%>
        <div id="more">
          <%= link_to_remote "mais...", :url => {:controller => :statuses, :action => :more, :id => @user.id, :type => 'user', :offset => 10, :limit => 10}, :method =>:get, :loading => "$('#more').html('"+escape_javascript(image_tag('spinner.gif'))+"')"%>
        </div>
      <% end %>

    </div>

    <!-- meus cursos -->
    <div id="tabs-2" class="clearfix">
      <%=  image_tag 'loadingAnimation.gif', :id=> 'tabs-2-loading', :style => 'padding: 20px;'%>
      <div id="tabs-2-content"></div>
    </div>

    <% if can? :manage, @user %>
    <!-- anotações -->
    <div id="tabs-5">
      <%=  image_tag 'loadingAnimation.gif', :id=> 'tabs-5-loading', :style => 'padding: 20px;'%>
      <div id="tabs-5-content"></div>
    </div>
    <% end %>

  </div><!-- end tabs -->

</div><!-- end main -->

<div class="sidebar grid_5 omega">
  <% if @user.eql?(current_user) %>
    <%= render :partial => 'users/private_sidebar', :object => @user %>
  <% else %>
    <%= render :partial => 'users/public_sidebar', :object => @user %>
  <% end %>
</div><!-- end sidebar -->
