<%- @meta = { :description => "#{@user.login}'s profile on #{AppConfig.community_name}.", :keywords => "#{@user.login}, #{@user.tags.join(", ") unless @user.tags.nil?}", :robots => AppConfig.robots_meta_show_content }%>
<%- @section = @user.eql?(current_user) ? 'my_profile' : 'users' %>

<div id="all_content3">
<div id="col_content_user">
	<div id="breadcrumbs"><a href="#">home</a> > <a href="#">perfil do usuário</a></div>
    <!--<div id="title">AULAS</div>-->
<!-- LISTAGEM RECURSO ############################################################################################################################################## -->
<div id="all_list">

<div id="profile_user_info">
	
	<div id="user_photo">
		<!--
		<img src="img/foto_guilherme_cavalcanti.png" width="64" height="64" />
		-->
    <%= image_tag( @user.avatar_photo_url(:thumb), {:width => "64", :height=>"64" })%><BR>
	 
	 <% if @is_current_user %> 
	  	<% if @user.avatar %> 
	  		<%= link_to :profile_photo_crop.l, crop_profile_photo_user_path(@user)%>
	  	<% else %>
			<%= link_to :click_here_to_upload_one.l, edit_user_path(@user)%>
		<% end %>
	 <% end %>
	
	</div>
    <div id="name_user">
		<ul id="name_user_item">
			<li class="name"><span class="name"><%= @user.login.upcase %></span></li>
			<li>
				<%= link_to :update_your_profile.l, edit_user_path(@user), :class => "edit"%>
			</li>
		</ul>
	</div>
<div id="description_user">
<% if @user.description %>
<%= @user.description %>
<% else %>
	Que tal escrever algo sobre você? <%= link_to "Clique aqui!", edit_user_path(@user), :class => "edit"%>
<% end %>

</div> 

<% if not @is_current_user %>
<div id="follow_user">

    <% unless @user.followers.include?(current_user) %>
      <%= link_to 'Seguir', { :action => :follow, :id => @user }%>
    <% else %>
      <%= link_to 'Parar de seguir', { :action => :unfollow, :id => @user }%>
	  <% end %>
	
</div> 
<% end %>

<div id="info_user">
<strong>Publicações:</strong>  Aulas(<%=@user.courses.count%>) | Exames(<%=@user.exams.count%>) | Materiais(<%=@user.resources.count%>)<br /><br />
<strong>Professor em:</strong> TODO<br /><br />
<strong>Redes em que participa:</strong> TODO<br /><br />

<strong>Áreas de Interesse:</strong> Ciência da Computação, Física, Mátemática<br />
</div> 

<div id="tags_user"><strong>Tags:</strong> <%= @user.tag_list %></div>

<div id="actions_user">
	<!--
	<a href="#" class="contact_user">ADICIONAR COMO CONTATO</a> |
	-->
	<% if @is_current_user %>
	<a href="#" class="contact_user">MINHAS ANOTAÇÕES</a> | <a href="#" class="contact_user">CAIXA DE MENSAGENS</a>
	<% else %>
	<%= link_to(:send_me_a_message.l, new_user_message_path(current_user, :to=>@user), :class => "mensage_user")%>
	<% end %>
	<br />
</div>
     
</div>

<!-- BOX COMENTÁRIOS ############################################################################################################################################### -->
<div id="comments_user">
	<div id="user_box_top">COMENTÁRIOS(<%= @users_comments.length %>)</div>
	
	<% if @users_comments.empty? %>
	Sem comentários ainda.
	<% else %>
	
	<%= render :partial => "users/comment", :collection => @users_comments, :as => :comment %>
	
	<div id="link_ver_todos"><a href="#">Ver todos(<%= @users_comments.length %>) &gt;</a></div>
	<% end %>
	
	<%= render :partial => 'users/comment_form', :locals => { :commentable => @user } %>
</div>
<!-- BOX COMENTÁRIOS ############################################################################################################################################### -->

<!-- BOX MINHA MOV. RESCENTE ####################################################################################################################################### -->
<div id="comments_user">
	<div id="user_box_top">MINHA MOVIMENTAÇÃO RECENTE(8)</div>
<!-- ITEM ////////////////////////////////////////////////////////////////// -->
<%= render :partial => 'logs/item', :collection => @user.recent_activity %>
<!-- ITEM ////////////////////////////////////////////////////////////////// -->

<!-- ITEM ////////////////////////////////////////////////////////////////// -->
<div id="item">
	<div id="title_item_user"><a href="#">ENGENHARIA DE SOFTWARE</a></div>
    <div id="ratting_user">
    	<ul id="ratting_menu">
			<li><img src="img/icon_star_on.png" /></li>
        	<li><img src="img/icon_star_on.png" /></li>
			<li><img src="img/icon_star_on.png" /></li>
			<li><img src="img/icon_star_off.png" /></li>
			<li><img src="img/icon_star_off.png" /></li>
            <li class="evaluation_rating">Avaliações(30)</li>
		</ul>
    </div>            
<div id="identification">
	<ul id="identification_resource">
		<li><a href="#">Robson Ribeiro</a></li>
        <li>|</li>
		<li>há 1 hora atrás</li>
        <li>|</li>
		<li>Exibições(30)</li>
	</ul>
</div>
<div id="description_user">Descricao do video aula, o que vai ser passado para o alunos, conteudo da aula e outra coisas mais significantes para seu aprendizado</div>
</div>
<!-- ITEM ////////////////////////////////////////////////////////////////// -->

<div id="link_ver_todos"><a href="#">Ver todos(8) &gt;</a></div>
</div>
<!-- BOX MINHA MOV. RESCENTE ####################################################################################################################################### -->

<!-- MATERIAIS ##################################################################################################################################################### -->
<div id="materials_user">
	<div id="materials_user_box_top">MATERIAIS PUBLICADOS(8)</div>
    <div id="user_materialslist" align="left">
    	<ul id="user_materials_item">
    		<li><a href="#" class="pdf">Exercicio Complementar(100KB)</a> | <a href="#" class="target">Aula: ENGENHARIA DE REQUISITOS</a></li>
            <li><a href="#" class="word">Apostilia 021(30KB)</a> | <a href="#" class="target">Aula: CICLO DE VIDA DO SOFTWARE</a></li>
            <!--<li><a href="#" class="excel">Planilha para coleta dos dados(10KB)</a> | <a href="#" class="target">Aula: FÍSICA</a></li>
            <li><a href="#" class="text">Resumo da palestra (5KB)</a> | <a href="#" class="target">Aula: GEOGRAFIA</a></li>-->
            <li><a href="#" class="ppt">Slide da Aula</a> | <a href="#" class="target">Aula: PADRÕES DE PROJETOS</a></li>
            <li><a href="#" class="photo">Fotos da Turma</a> | <a href="#" class="target">WORKSHOP ENGENHARIA DE SOFTWARE</a></li>
    	</ul>
    </div>
    <div id="link_materials_ver_todos"><a href="#">Ver todos(8) &gt;</a></div>
</div>
<!-- MATERIAIS ##################################################################################################################################################### -->




</div>

</div>
<!-- COLUNA DIREITA ################################################################################################################################################ -->
<div id="col_box3">
<!-- BOX MOVIMENTACAO RESCENTE ///////////////////////////////////////////////////////////////////////////////////// -->
	<div id="box_move">
    	<div id="box_top">MOVIMENTAÇÃO RESCENTE</div>
        
        <div id="box_list">
        	<div id="move_item">
           	  <div id="move_foto"><img src="img/foto_40x40.png" width="40" height="40" class="move_foto"/></div>
                <div id="move_txt"><a href="#">Jõao Vitor</a> adicionou um video sobre Biologia Marinha e seus Benefícios</div>
                <div id="time">3 minutos atrás</div>
            	<div id="replay"><a href="#">Responder</a></div>            
            </div>
 			<div id="move_item">
            	<div id="move_foto"><img src="img/foto_40x40.png" width="40" height="40" class="move_foto"/></div>
                <div id="move_txt"><a href="#">Jõao Vitor</a> adicionou um video sobre Biologia Marinha e seus Benefícios</div>
                <div id="time">3 minutos atrás</div>
            	<div id="replay"><a href="#">Responder</a></div>            
            </div>
 			<div id="move_item">
            	<div id="move_foto"><img src="img/foto_40x40.png" width="40" height="40" class="move_foto"/></div>
                <div id="move_txt"><a href="#">Jõao Vitor</a> adicionou um video sobre Biologia Marinha e seus Benefícios</div>
                <div id="time">3 minutos atrás</div>
            	<div id="replay"><a href="#">Responder</a></div>            
            </div>
 			<div id="move_item">
            	<div id="move_foto"><img src="img/foto_40x40.png" width="40" height="40" class="move_foto"/></div>
                <div id="move_txt"><a href="#">Jõao Vitor</a> adicionou um video sobre Biologia Marinha e seus Benefícios</div>
                <div id="time">3 minutos atrás</div>
            	<div id="replay"><a href="#">Responder</a></div>            
            </div>
 			<div id="move_item">
            	<div id="move_foto"><img src="img/foto_40x40.png" width="40" height="40" class="move_foto"/></div>
                <div id="move_txt"><a href="#">Jõao Vitor</a> adicionou um video sobre Biologia Marinha e seus Benefícios</div>
                <div id="time">3 minutos atrás</div>
            	<div id="replay"><a href="#">Responder</a></div>            
            </div>
        </div>
        
        <div id="box_baseline">
        	<div id="box_baseline_base">O que você esta fazendo agora?</div>
        	<div id="box_baseline_base"><textarea cols="27" rows="3"></textarea></div>
		<div id="bt_send_mv" align="center"><a href="#" class="bt_send">Enviar</a></div>
        </div>
        
    </div>
<!-- BOX MOVIMENTACAO RESCENTE ///////////////////////////////////////////////////////////////////////////////////// -->

    <!--<div id="friends"></div>
    <div id="workspace"></div>
    <div id="mytasks"></div>-->
</div>
<!--<div id="title_page">Assistindo Aula</div>-->
</div>



