<%= render :partial => 'users/profile_sidebar' %>

<div class="main grid_10 omega" style="width: 580px;">
  <% if (can? :manage, @user) or (can? :view_mural, @user) %>
    <%= render "statuses/create_status", :status => @status,
      :statusable => @user %>
    <div id="statuses" class="status-list">
      <ol>
        <%= render :partial => 'statuses/item', :collection => @statuses %>
      </ol>

      <%= paginate @statuses, :theme => 'endless' %>
    </div><!-- end .statuses -->
  <% else %>
    <%= render "shared/empty_message", :icon_message => "Mural disponível apenas para Amigos",
      :icon_class => "icon-private-gray_128_130",
      :message => "Este mural está disponível disponível apenas para Amigos." %>
  <% end %>

</div>

<%= render 'users/secondary_sidebar',
  :subscribed_courses_count => @subscribed_courses_count %>
