<%= render :partial => 'users/profile_sidebar' %>

<div class="main grid_10 omega" style="width: 580px;">
  <div id="profile">
    <div class="vcard clearfix">
      <h5 class="name"><%= @user.display_name %></h5>
      <div class="user-summary clearfix">
        <ul>
          <li>
            <ul>
              <% @user.experiences.actual_jobs.each do |experience| %>
                <li>
                  <span class="bio"><%= experience.title %></span> em
                  <span class="bio"><%= experience.company %></span>
                </li>
              <% end %>
            </ul>
          </li>
          <li>
            <span class="bio"><%= t :high_school %></span> em
            <span class="bio"><%= @user.educations.first.educationable.institution %></span>
          </li>
          <li>
            <ul>
              <li><span class="bio"><%= @user.age %></span> anos</li>
              <li>Fala
                <span class="bio"><%= @user.languages %></span>
              </li>
              <li>Natural de
                <span class="bio"><%= @user.birth_localization %></span>
              </li>
              <li>Vive em
                <span class="bio"><%= @user.localization %></span>
              </li>
            </ul>
          </li>
        </ul>
      </div><!-- end .user-summary -->
      <% if can? :manage, @user %>
        <%= link_to 'Editar', edit_user_path(@user),
          :class => 'edit icon icon-management-gray_8_8' %>
      <% end %>
      <hr class="separator"/>

      <div class="bio-wrapper clearfix">
        <span class="label">Sobre mim:</span>
        <span class="bio indent"><%= @user.description %></span>
        <span class="label">Interesses:</span>
        <span class="bio indent"><%= @user.tag_list.join(", ") %></span>
        <span class="label">Celular:</span>
        <span class="bio indent"><%= @user.mobile %></span>
      </div><!-- end .bio-wrapper -->

      <hr class="separator"/>

      <div class="bio-wrapper experience clearfix">
        <span class="label">Experiência:</span>
        <ul class="indent clearfix">
          <% @user.experiences.each do |experience| %>
            <li>
              <%= render :partial => "experiences/item_detail", :locals => { :item => experience } %>
            </li>
          <% end %>
        </ul>
      </div>

      <hr class="separator"/>

      <div class="bio-wrapper clearfix">
        <span class="label">Educação:</span>
        <span class="label">Complemento:</span>
        <span class="label">Evento:</span>
      </div>

    </div><!-- end .vcard -->
  </div><!-- end #profile -->
</div><!-- end .main -->

<%= render :partial => 'users/secondary_sidebar' %>
