<%= render :partial => 'users/profile_sidebar' %>

<div class="main grid_10 omega" style="width: 580px;">
  <% if (can? :manage, @user) or (can? :view_mural, @user) %>
    <%= render :partial => 'statuses/create_status',
      :locals => { :statusable => @user } %>
    <div id="statuses" class="statuses">
      <ol>
        <%= render :partial => 'statuses/item', :collection => @statuses %>
      </ol>

      <%= will_paginate @statuses, :renderer => EndlessRenderer %>
    </div><!-- end .statuses -->
  <% else %>
    <div class="empty-message">
      <span class="empty-message-icon icon-private-gray_128_130 text-replacement" title="Mural disponível apenas para Amigos">Mural disponível apenas para Amigos</span>
      <p class="empty-message-content">Este mural está disponível disponível apenas para Amigos.</p>
    </div>
  <% end %>

</div>

<%= render 'users/secondary_sidebar',
  :subscribed_courses_count => @subscribed_courses_count %>
