<%#
  Formulário contato com parceiro.

  Variáveis:
    environment: o ambiente.
    migration:
    billable_url:
%>

<% if migration ||= false %>
  <%= f.hidden_field :migration, :value => migration ||= false %>
  <%= f.hidden_field :billable_url, :value => billable_url %>
<% else %>
  <div style="display:none;">
    <%= fields_for environment do |builder| %>
      <%= render :partial => 'environments/form', :locals => { :f => builder } %>
    <% end %>
  </div>
  <%= field_set_tag "Nome do ambiente:", :class => "inline" do %>
    <span class="environment-name"><%= environment.try(:name) %></span>
    <%= f.hidden_field :environment_name, :value => environment.try(:name)  %>
  <% end %>
  <%= field_set_tag "Nome do primeiro curso:", :class => "inline" do %>
    <span class="course-name"><%= environment.try(:courses).try(:first).try(:name) %></span>
    <%= f.hidden_field :course_name, :value => environment.try(:courses).try(:first).try(:name) %>
  <% end %>
<% end %>
<div class="control-group row">
  <div class="control-label span3">
    <%= label_tag "Categoria" %>
  </div>
  <div class="controls span6">
    <label class="control-radio"><%= f.radio_button "category", "institution", :checked => true %>Instituição de ensino</label>
    <label class="control-radio"><%= f.radio_button "category", "company" %>Empresa</label>
  </div>
</div>
<div class="control-group row">
  <div class="control-label span3">
    <%= f.label :email, "E-mail para contato" %>
  </div>
  <div class="controls span6">
    <%= f.text_field :email, :placeholder => 'Endereço de e-mail para contatos administrativos' %>
  </div>
</div>
<div class="control-group row">
  <div class="control-label span3">
    <%= f.label :details, "Descrição" %>
  </div>
  <div class="controls span6">
    <%= f.text_area :details, :rows => 5, :placeholder => 'Detalhe as necessidades de ensino a distância de sua organização' %>
  </div>
</div>
<div class="control-group row">
  <div class="controls span9">
    <%= submit_tag "Enviar", :class => "button-success pull-right" %>
  </div>
</div>
