<div style="display:none;">
  <%= fields_for environment do |builder| %>
    <%= render :partial => 'environments/form', :locals => { :f => builder } %>
  <% end %>
</div>
<%= field_set_tag "Nome do ambiente:", :class => "inline" do %>
  <span class="environment-name"><%= environment.try(:name) %></span>
  <%= f.hidden_field :environment_name, :value => environment.try(:name)  %>
<% end %>
<%= field_set_tag "Nome do primeiro curso:", :class => "inline" do %>
  <span class="course-name"><%= environment.try(:courses).first.try(:name) %></span>
  <%= f.hidden_field :course_name, :value => environment.try(:courses).first.try(:name) %>
<% end %>
<%= field_set_tag "Categoria", :class => "inline" do %>
  <%= f.radio_button "category", "institution" %>
  <%= f.label "category_institution", "Instituição de ensino" %>
  <%= f.radio_button "category", "company" %>
  <%= f.label "category_company", "Empresa" %>
<% end %>
<%= field_set_tag do %>
  <%= f.label :email, "E-mail para contato:" %>
  <%= f.text_field :email %>
  <span class="tip">Digite um endereço de e-mail utilizado para contatos administrativos</span>
  <%= f.label :details, "Informações adicionais:" %>
  <%= f.text_area :details %>
  <span class="tip">Detalhe suas necessidades básicas ou outras informações extras</span>
  <%= submit_tag "Avançar", :class => "concave-important" %>
<% end %>
