<div class="sidebar alpha grid_3">
  <div class="image-frame">
    <%= image_tag @environment.avatar.url(:thumb_150), :alt => 'profile' %>
  </div>

  <ul class="local-nav">
    <li>
      <div class="<%= (current_page? preview_environment_path(@environment)) ?
        "session selected".to_s : "session".to_s %>">
        <% selected = (current_page? preview_environment_path(@environment)) ? "icon-preview-white_16_16" : "icon-preview-lightblue_16_16" %>
        <%= link_to 'Pré-visualização', preview_environment_path(@environment),
          :class => "icon #{selected}" %>
      </div>
    </li>
    <li>
      <div class="<%= (current_page? users_environment_path(@environment)) ?
        "session selected".to_s : "session".to_s %>">
        <% selected = (current_page? users_environment_path(@environment)) ? "icon-members-white_16_16" : "icon-members-lightblue_16_16" %>
        <%= link_to "Membros: #{@environment.users.length}",
          users_environment_path(@environment, :preview => true),
            :class => "icon #{selected}" %>
      </div>
      <ul class="connections clearfix">
        <%= render :partial => 'users/new/item_short',
          :collection => @environment.users.n_recent(9) %>
      </ul><!-- end .connections -->
        <%= link_to "Ver mais",
          users_environment_path(@environment),
          :class => 'more' %>
    </li>
  </ul><!-- end .local-nav -->
</div>
