<div class="sidebar alpha grid_3">
  <div class="image-frame">
    <!-- <%# Nao setar width e height na imagem %> -->
    <%= image_tag @environment.avatar.url(:thumb_150),
      :alt => 'profile' %>
  </div>

  <ul class="local-nav">
    <li>
      <div class="<%= (current_page? :controller => :environments,
                       :action => :show) ?
                    "session selected".to_s : "session".to_s %>">
        <%= link_to 'Cursos', environment_path(@environment),
          :class => 'icon icon-redu_r8_c313_s1' %>
      </div>
    </li>
    <li>
      <div class="<%= (current_page? :controller => :bulletins,
                       :action => :index) ?
                    "session selected".to_s : "session".to_s %>">
        <%= link_to 'Notícias', environment_bulletins_path(@environment),
          :class => "icon icon-redu_r9_c289_s1" %>
      </div>
    </li>
    <li>
      <div class="<%= (current_page? :controller => :environments,
                       :action => :edit) ?
                    "session selected".to_s : "session".to_s %>">
        <%= link_to 'Gerenciamento', edit_environment_path(@environment),
          :class => "icon icon-redu_r8_c221_s1" %>
      </div>
    </li>
    <li>
      <div class="session">
        <a href="" class="icon icon-redu_r8_c319_s1">Membros (<%= @environment.users.length %>)</a>
      </div>
      <ul class="connections clearfix">
          <%= render :partial => 'users/new/item_short',
            :collection => @environment_users %>
      </ul><!-- end .connections -->
      <a href="" class="more">Ver mais</a>
    </li>
  </ul><!-- end .local-nav -->
</div>

