<tr id="user-<%= user_item_admin.user_id %>">
  <td><%= check_box_tag 'users[]', user_item_admin.user.id, false, 
    {:class => "autoCheck", :id => "remove-#{user_item_admin.user.id}"}  %></td>
  <td>
    <%= image_tag user_item_admin.user.avatar(:thumb_32),
          :class => "avatar" %>
    <%= link_to user_item_admin.user.display_name, user_item_admin.user,
      :rarget => "_blank", :class => "user" %>
  </td>
  <td>
    <span class="date"><%= time_ago_in_words(user_item_admin.created_at) %></span>
  </td>
  <td>
    <ul class="courses">
    <% user_item_admin.user.courses.of_environment(@environment).each do |course| %>
      <li><%= link_to course.name, environment_course_path(@environment, course) %></li>
    <% end %>
    </ul>
  </td>
  <td>
    <%= link_to "Permissões", user_admin_roles_path(user_item_admin.user, @environment),
      :class => "icon icon-management-gray_8_8"%>
  </td>
  <td class="administrator" id="administrator-<%= user_item_admin.user_id %>">
  <%#FIXME O Rails não permitiu forms aninhados, foi necessario usar o link_to_remote para conseguir o
      efeito desejado %>
  <%= link_to_remote "Tornar usuário comum",
      :method => :post,
      :url => user_update_roles_path(user_item_admin.user, @environment),
      :loading => "$(\"table tr#user-#{user_item_admin.user_id} .administrator\").prepend(\"#{escape_javascript(image_tag("spinner.gif")) }\")",
      :complete => "$(\"table tr#user-#{user_item_admin.user_id} .administrator img\").remove()",
      :success => "$(\"td#administrator-#{user_item_admin.user_id} a\").toggle()",
      :html => {:class => ' ',
      :style => "display: #{user_item_admin.role.eql?(Role[:environment_admin]) ? "inline" : "none"};"},
      :with => "'type=environment;roles=#{Role[:member].id}'" %>
  <%= link_to_remote "Tornar administrador",
      :method => :post,
      :url => user_update_roles_path(user_item_admin.user, @environment),
      :loading => "$(\"table tr#user-#{user_item_admin.user_id} .administrator\").prepend(\"#{escape_javascript(image_tag("spinner.gif")) }\")",
      :complete => "$(\"table tr#user-#{user_item_admin.user_id} .administrator img\").remove()",
      :success => "$(\"td#administrator-#{user_item_admin.user_id} a\").toggle()",
      :html => {:class => '', :style => "display: #{user_item_admin.role.eql?(Role[:environment_admin]) ? "none" : "inline"};"},
      :with => "'type=environment;roles=#{Role[:environment_admin].id}'" %>
</td>
</tr>
