<script type="text/javascript" language="javascript" charset="utf-8">
  function showLoadingUsers(){
    if (document.getElementById('loading_bar')){
	document.getElementById('loading_bar').style.display = 'block';
        $('user_list_table').remove();
    }
}
</script>
<%= render :partial => 'environments/new/sidebar' %>
<div class="main grid_12 omega big-col">
  <ol id="breadcrumbs" class="clearfix">
    <li>
      <%= link_to 'Home', home_user_path(current_user),
        :class => 'replacement home icon icon-redu_r8_c227_s1' %>
    </li>
    <li>
      <%= link_to @environment.name, environment_path(@environment),
        :class => 'icon icon-redu_r8_c217_s1' %>
    </li>
  </ol>

  <%= render :partial => 'environments/new/header',
    :locals => { :environment => @environment } %>

  <div id="environment-manage" class="body">
    <div class="header">
      <h4>Gerenciamento</h4>
      <span class="counter">Informações gerais do ambiente <%= @environment.initials_or_name %></span>
    </div>

    <%#FIXME adicionar icones  %>
    <%
      fake_tabs ["Informações", edit_environment_path(@environment), {:class => 'icon'}],
        ["Membros", admin_members_environment_path(@environment), {:class => 'icon'}],
        ["Notícias", admin_bulletins_environment_path(@environment), {:class => 'icon'}],
        ["Cursos", admin_courses_environment_path(@environment), {:class => 'icon'}] do
      %>

    <% if @memberships && @memberships.size > 0 %>
      <% form_remote_tag :url => { :action => :search_users_admin, :id => @environment.id},
        :loading => "showLoadingUsers()", :html => { :class => "common filter" } do %>
        <div class="filters clearfix">
          <% field_set_tag "Buscar", :class => "grid_4 alpha inline hidden" do %>
            <%= label_tag :search_user, "Nome" %>
            <%= text_field_tag :search_user, nil, :class => "nano" %>
          <% end %>
          <% field_set_tag nil, :class => "grid_4 omega inline" do %>
            <ul class="columns">
              <li>
                <%= check_box_tag :role_filter, Role[:member].id %>
                <%= label_tag :role_filter, "Membro", :class => "inline" %>
              </li>
              <li>
                <%= check_box_tag :role_filter, Role[:tutor].id %>
                <%= label_tag :role_filter, "Tutor", :class => "inline" %>
              </li>
              <li>
                <%= check_box_tag :role_filter, Role[:teacher].id %>
                <%= label_tag :role_filter, "Professor", :class => "inline" %>
              </li>
              <li>
                <%= check_box_tag :role_filter, Role[:environment_admin].id %>
                <%= label_tag :role_filter, "Administrador", :class => "inline" %>
              </li>
            </ul>

            <% end %>
          <%= submit_tag 'Filtrar',
            :style => "float: right;" %>
        </div>
      <% end %>

      <div id="user_list">
        <%= render :partial => 'environments/new/user_list_admin',
          :locals => {:memberships => @memberships}%>
      </div>
    <% else %>
      <div class="box_notice">Não há usuários no ambiente.</div>
    <% end %>


    <%= will_paginate @memberships, :renderer => EndlessRenderer %>
  <% end %>
</div>
</div><!-- end #environment-edit -->
