<%= render :partial => 'environments/new/preview_sidebar' %>

<div class="main grid_12 omega big-col">
  <ol id="breadcrumbs" class="clearfix">
    <li>
      <%= link_to 'Home', home_user_path(current_user),
        :class => 'replacement home icon icon-redu_r8_c227_s1' %>
    </li>
    <li>
      <%= link_to @environment.name, environment_path(@environment),
        :class => 'icon icon-redu_r8_c217_s1' %>
    </li>
  </ol>
  <%= render :partial => 'environments/new/header',
        :locals => { :environment => @environment } %>

  <div id="environment-preview" class="hierarchy-preview body">
    <div class="header">
      <h4>Pré-visualização</h4>
    </div>

    <h3 class="call icon icon-redu_r8_c215_s1">Cursos</h3>
    <span class="count">
      (<%= pluralize(@environment.courses.length, 'disciplina') + " " +
       (pluralize @environment.courses.length,'disponível').split(' ')[1] %>)
    </span>

    <ul class="preview-listing courses">
      <%= render :partial => 'courses/new/item_short',
        :collection => @environment.courses %>
    </ul>

    <%# FIXME Colocar listagem de notícias (ver front-end) %>
  </div><!-- end #environment-courses -->

</div><!-- end .main -->
