<%= render :partial => 'environments/new/sidebar', :locals => { :environment => @environment } %>
<div class="main grid_12 omega big-col">
  <%= render :partial => 'environments/new/breadcrumbs',
    :locals => { :environment => @environment } %>
  <%= render :partial => 'environments/new/header',
        :locals => { :environment => @environment } %>

  <div id="environment-courses" class="body">
    <div class="header">
      <h4>Cursos</h4>
      <span class="counter"><%= pluralize(@environment.courses.length, 'curso') %></span>
    </div>

    <% if can?(:manage, @environment) %>
      <div class="admin-actions">
        <%= link_to 'Criar novo curso', new_environment_course_path(@environment), :class => "button" %>
      </div>
    <% end %>

    <ul id="courses_list" class="hierarchy-listing">
      <%= render :partial => 'courses/item',
        :collection => @courses %>
    </ul>
  <%= will_paginate @courses, :renderer => EndlessRenderer %>
  </div><!-- end #environment-courses -->

</div><!-- end .main -->
