<%= render :partial => 'environments/new/sidebar' %>
<div class="main grid_12 omega big-col">
  <ol id="breadcrumbs" class="clearfix">
    <li>
      <%= link_to 'Home', home_user_path(current_user),
        :class => 'replacement home icon icon-redu_r8_c227_s1' %>
    </li>
    <li>
      <%= link_to @environment.name, environment_path(@environment),
        :class => 'icon icon-redu_r8_c217_s1' %>
    </li>
  </ol>
  <%= render :partial => 'environments/new/header',
        :locals => { :environment => @environment } %>

  <div id="environment-courses" class="body">
    <div class="header">
      <h4>Cursos</h4>
      <span class="counter"><%= pluralize(@environment.courses.length, 'curso') %></span>
    </div>

    <% if can?(:manage, @environment) %>
      <div class="admin-actions">
        <%= link_to 'Criar novo curso', new_environment_course_path(@environment), :class => "button" %>
      </div>
    <% end %>

    <ul id="courses_list" class="hierarchy-listing">
      <%= render :partial => 'courses/new/item',
        :collection => @courses %>
    </ul>
  <%= will_paginate @courses, :renderer => EndlessRenderer %>
  </div><!-- end #environment-courses -->

</div><!-- end .main -->
