<% content_for :content do %>
  <% content_for :container_class do "entity-wrapper" end %>

  <%= render "lectures/javascripts" %>

  <div class="span3">
    <%= render "lectures/sidebar", lecture: @lecture, user: current_user, done: @done %>
  </div>
  <div class="span13">
    <%= breadcrumb = capture { render "lectures/breadcrumb", lecture: @lecture } %>
    <div class="content-body">
      <%= render "lectures/header", lecture: @lecture, question: @question,
        results: @results %>

      <%= yield %>

      <% unless defined?(@result) %>
        <%= render "statuses/wall", status: @status, statusable: @lecture,
          statuses: @statuses, placeholder: "Comente nesta aula." %>
      <% end %>
    </div>
    <%= breadcrumb %>
  </div>
<% end %>

<%= render template: "layouts/new_application" %>