<% content_for :container_class do "entity-wrapper" end %>

<div class="span3">
  <%= render "spaces/sidebar_new", space: @space, user: current_user %>
</div>
<div class="span13">
  <%= render "spaces/breadcrumbs_new", space: @space %>
  <div class="content-body">
    <%= render "spaces/header_new", space: @space %>

    <div class="content-section">
      <h3 class="header-breadcrumb-big icon-members-gray_32_34-before">Membros</h3>
    </div>

    <div class="content-section centralize">
      <%= new_subtabs :spaces_new %>
    </div>

    <%= render "shared/entity_members_list", role: @role, users: @users,
      entity: @space %>
  </div>
</div>