<ul>
  <li><%= link_to "Cadastros por dia", '/analytics/signup_by_date' %></li>
  <li><%= link_to "AVAs por dia", '/analytics/environment_by_date' %></li>
  <li><%= link_to "Cursos por dia", '/analytics/course_by_date' %></li>
  <li><%= link_to "Posts por dia", '/analytics/post_by_date' %></li>
  <li><%= link_to "Informações de AVAs", '/analytics/environment_dashboard' %></li>
</ul>
