<h1>Listing videos</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @videos.each do |resource| %>
  <tr>
    <td><%=h resource.source_file_name %></td>
    <td><%= link_to 'Show', resource %></td>
    <td><%= link_to 'Edit', edit_video_path(resource) %></td>
    <td><%= link_to 'Destroy', resource, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New video', new_video_path %>