<h2>New Video</h2><br />

<% form_for(@video, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <p>
   <%= f.label :title %>: 
   <%= f.text_field :title %> 
   </p>
   <p>
   <%= f.label :description %>:  <%= f.text_area :description, :size => "50x3" %>
   </p>
   <p>
     <%= f.label :video %>:  <%= f.file_field :source  %> 
     </p>
     <%= f.submit 'Submit' %> 

<% end %>

 <%= link_to 'Back', videos_path %> 