<div class="annotation-outter">
                         

		<% annotation_link_class = (@course.has_annotations_by(current_user)) ? "annotation_plus" : "annotation" %>
		<%= link_to_function "Anotações", "jQuery('div.annotation-inner').slideToggle()", :class => annotation_link_class, :id => "annotation_link" %>

	<%= image_tag 'loading_bar.gif', :style => 'display:none;', :id => 'annotation_spinner' %>


		<div class="annotation-inner hoverdiv">
			
			<% remote_form_for(@annotation, :loading => "jQuery('div.annotation-inner').slideToggle(); $('#annotation_link').hide(); $('#annotation_spinner').show();") do |f| %>
		 			<%= f.hidden_field(:user_id, :value => current_user.id) %>
					<%= f.hidden_field(:course_id, :value => @course.id) %>
					<%= f.hidden_field(:asset_name, :value => @course.name) %>
		
						<%= f.label "Anotações:"%><br/>
						<%= f.text_area :content, :size => "60x3" %><br/>
					
					<div id="annotation_menu" class="clearfix">
						<%= f.submit 'Salvar' %> | <%= link_to_function "Cancelar", "jQuery('div.annotation-inner').slideToggle()"%>
					</div>
					 <% end %>
					 
		</div>
</div>