<div class="footer">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="footer-logo-wrapper">
          <%= link_to "http://openredu.org/",
            :class => "footer-logo-link" do %>
              <h1 class="footer-logo-img sprite-logo-redu-tech-footer text-replacement">Feito com ♥ pela comunidade Openredu</h1>
          <% end %>
          <span class="footer-cnpj">contato@openredu.com</span>
        </div>
      </div>
      <div class="span3">
        <%# Esconde os links para a landing quando o usuário está logado,
          pois o mesmo não consegue ir para lá. Remover quando for possível. %>
        <% unless current_user %>
          <ul class="footer-navigation">
            <li>
              <%= link_to "Sobre o Openredu", home_path(anchor: "") %>
            </li>
            <li>
              <%= link_to "Segmentos", home_path(anchor: "segmentos"),
                class: "landing-scroll" %>
            </li>
            <li>
              <%= link_to "Vantagens", home_path(anchor: "vantagens"),
                class: "landing-scroll" %>
            </li>
            <li>
              <%= link_to "Funcionalidades", home_path(anchor: "funcionalidades"),
                class: "landing-scroll" %>
            </li>
            <li>
              <%= link_to "Parceiros", home_path(anchor: "parceiros"),
                class: "landing-scroll" %>
            </li>
          </ul>
        <% else %>
          &nbsp;
        <% end %>
      </div>
      <div class="span3">
        <ul class="footer-navigation">
          <li>
            <%= link_to "Central de Ajuda",
              Redu::Application.config.redu_services[:help_center][:url],
              :title => "Central de Ajuda", :target => "_blank" %>
          </li>
          <li>
            <%= link_to "Blog",
              Redu::Application.config.redu_services[:blog][:url],
              :title => "Blog"
            %>
          </li>
          <li>
            <%= link_to "Desenvolvedores",
              Redu::Application.config.redu_services[:dev][:url],
              :title => "Desenvolvedores"
            %>
          </li>
          <li>
            <%= link_to "Política de Privacidade",
              "#modal-privacy-policy",
              :title => "Política de Privacidade",
              "data-toggle" => "modal"
            %>
          </li>
          <li>
            <%= link_to "Termos de Uso",
              "#modal-tos",
              :title => "Termos de Uso",
              "data-toggle" => "modal"
            %>
          </li>
        </ul>
        <%= render :partial => "shared/modal_tos" %>
        <%= render :partial => "shared/modal_privacy_policy" %>
      </div>
      <div class="span3">
        <div class="footer-social-networks-legend">
          <span class="legend">Siga-nos na web</span>
        </div>
        <div class="footer-social-networks">
          <%= link_to "Facebook",
            "https://www.facebook.com/openredu",
            :class => "footer-social-network sprite-social-facebook text-replacement",
            :title => "Facebook" %>
          <%= link_to "Twitter", "https://twitter.com/openredu",
            :class => "footer-social-network sprite-social-twitter text-replacement",
            :title => "Twitter" %>
        </div>
      </div>
      <div class="span3">
        <div class="footer-contact link-container">
          <div class="row">
            <div class="span2">
              <h3>
                <%= link_to "Fale Conosco",
                  contact_path,
                  :title => "Fale Conosco",
                  :class => "link-target"
                %>
              </h3>
              <p class="legend">Dúvidas? Nosso suporte online pode lhe ajudar</p>
            </div>
            <div class="span1 alpha-half">
              <span class="footer-talk-to-us-balloons sprite-talk-to-us text-replacement" title="Fale Conosco">Fale conosco</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
