<%= form_for user_session || UserSession.new, :remote => true, url: sessions_path, html: { class: 'form-login', id:'form-sign-in' } do |f| %>
  <h2 class="sub-title">ACESSE SUA CONTA AQUI</h2>
  <% unless user_session.errors.empty? %>
    <ul class="messages-errors">
      <% f.object.errors.each do |key, msg| %>
        <li class="error-message"><%=msg%></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.text_field :login, class: 'input', placeholder: 'login' %>
  <%= f.password_field :password, class: 'input', placeholder: 'senha' %><br />
  <%= f.check_box :remember_me, class: 'check', id: 'lembrar-me' %>
  <label class="lb-check-lembrar" for="lembrar-me">lembrar</label><br />
  <button class="bt active">entrar</button>
<% end %>
