<div id="header">
    <div id="header_content">
        <div id="logo">
            <a href="<%=application_url%>"><%= image_tag("logo_redu1.png", :alt => 'Início', :height => '65', :width => '150', :border => '0') %>
            </a>
        </div>
        <div id="menu_container">
            <ul id="secundary_menu">
                <% if logged_in? %>
                <% render :partial => 'shared/user_menu' %>
                <li>
                    <strong>
                    <a href="<%= user_path(current_user) %>"><%=current_user.display_name %></a> 
					<% if current_user.admin? %>
					(<a href="<%= admin_dashboard_path %>"><span style="color: red">admin</span></a>)
					<% end %>
					</strong>
                </li>
              
                <li>
                    |
                </li>
                <li>
                	<%= link_to "convidar", invite_user_path(current_user) %>
                </li>
                <li>
                	<!--%= link_to 'créditos', :controller => "credits", :action => "create", :id => current_user.id %-->
                    <%= link_to 'créditos', user_credits_path(current_user) %>
                </li>
                <li>
                    <a href="<%=user_messages_path(current_user)%>">mensagens(<%=current_user.unread_message_count %>)</a>
                </li>
                <li>
                    <%= link_to 'favoritos', favorites_courses_path(:from => 'favorites') %>
                </li>
                
                <li>
                    <a href="<%=logout_path%>">sair</a>
                </li>
                <% else %>
                <li>
                    <%=:welcome_message.l(:login_link => (link_to :log_in.l, login_path), :signup_link => (link_to :sign_up.l, signup_path)) %>
                </li>
                <% end %>
            </ul>
        </div>
        
        <!-- MENU Principal ****************************************** -->
        <div id="info">
            <div id="menu">
                <ul class="level1">
                    <li class="level1-li">
                        <a class="level1-a" href="<%=application_url%>">INÍCIO</a>
                    </li>
                    <li class="level1-li">
                        <a class="level1-a fly" href="<%=courses_path%>">APRENDER
                            <!--[if gte IE 7]><!--></a>
                        <!--<![endif]--><!--[if lte IE 6]><table><tr><td><![endif]-->
                        <div>
                            <ul>
                                <li>
                                    <a href="<%=courses_path%>">AULAS</a>
                                </li>
                                <li>
                                    | 
                                </li>
                                <li>
                                    <a href="<%=exams_path%>">EXAMES</a>
                                </li>
                               
                            </ul>
                        </div>
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    </li>
                    <li class="level1-li">
                        <a class="level1-a fly" href="<%=schools_path%>">REDES
                            <!--[if gte IE 7]><!--></a>
                        <!--<![endif]--><!--[if lte IE 6]><table><tr><td><![endif]-->
                        <div>
                            <ul>
                                <li>
                                    <a href="<%=schools_path%>">TODAS</a>
                                </li>
                                
								<% if current_user %>
								<li>
                                    | 
                                </li>
                                <li>
                                	<%= link_to 'MINHAS', member_user_schools_path(current_user.id) %> 
                                </li>
								<% end %>
								
                                <li>
                                    | 
                                </li>
                                <li>
                                    <a href="<%=new_school_path%>">NOVA</a>
                                </li>
                            </ul>
                        </div>
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    </li>
                    <li class="level1-li left">
                        <a class="level1-a fly" href="#url">ENSINAR
                            <!--[if gte IE 7]><!--></a>
                        <!--<![endif]--><!--[if lte IE 6]><table><tr><td><![endif]-->
                        <div>
                            <ul>
                                <li>
                                    <a href="<%= new_course_path %>">AULA</a>
                                </li>
                                <li>
                                    | 
                                </li>
                                <li>
                                    <a href="<%= new_exam_path %>">EXAME</a>
                                </li>
                                
                            </ul>
                        </div>
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    </li>
                </ul>
            </div>
        </div>
        <!-- end of info -->
        <!-- MENU PRINCIPAL ****************************************** -->
    </div>
</div>

<script type="text/javascript">
var uservoiceOptions = {
  /* required */
  key: 'redusugestoes',
  host: 'redusugestoes.uservoice.com', 
  forum: '58955',
  showTab: true,  
  /* optional */
  alignment: 'left',
  background_color:'#06C', 
  text_color: 'white',
  hover_color: '#06C',
  lang: 'pt_BR'
};

function _loadUserVoice() {
  var s = document.createElement('script');
  s.setAttribute('type', 'text/javascript');
  s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
  document.getElementsByTagName('head')[0].appendChild(s);
}
_loadSuper = window.onload;
window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
</script>
