<div class="container_16">
  <%= render :partial => 'shared/loading_message' %>
</div>

<% if current_user %>
  <%= render :partial => 'shared/nav_global' %>
<% else %>
  <%# Mantido enquanto existem dois layouts (com e sem bootstrap) %>
  <div id="header" class="container_16">
    <h1 id="logotipo" class="grid_3 replacement">
      <a href="<%= application_url %>" title="Página Inicial">Openredu: potencializando o talento das pessoas.</a>
    </h1>
    <ul class="nav grid_10">
      <li>
        <%= link_to 'Início', application_path, :title => "Início" %>
      </li>
      <li>
        <%= link_to "Ensine", teach_index_path , :title => "Ensine"%>
      </li>
      <li>
        <%= link_to "Ambientes", environments_index_path, :title => "Ambientes" %>
      </li>
      <li>
        <%= link_to "Aplicativos", Redu::Application.config.redu_services[:apps][:url], :title => "Aplicativos" %>
      </li>
    </ul>
    <div id="search-box" class="grid_3">
    </div><!-- end #search -->
  </div><!-- end #header -->
<% end %>
