<div class="nav-global nav-global-fixed-top">
  <style>
    .main-wrapper { padding-top: 42px; }
    .main-wrapper-old { padding-top: 57px; }
  </style>
  <div class="nav-global-inner">
    <div class="nav-global-container">
      <h1>
        <%= link_to "Redu", application_path, :class => "nav-global-brand logo-redu-gray_140_40 text-replacement", :title => "Redu" %>
      </h1>

      <%= global_nav %>
      <div class="nav-global-buttons-dropdown button-toolbar">
        <div class="button-group">
          <button class="button-default nav-global-button-dropdown dropdown-toggle icon-profile-lightblue_16_18-before" data-toggle="dropdown">
            <span class="button-dropdown-arrow icon-arrow-down-gray_8_10"></span>
          </button>
          <span class="dropdown-arrow icon-arrow-up-dropdown-lightblue_20_8 text-replacement">Seta</span>
          <% cache ['nav_global_dropdown_menu', current_user.id] do %>
            <div class="dropdown-menu nav-global-profile-dropdown">
              <div class="nav-global-profile-header">
                <%= current_user.display_name %>
              </div>
              <ul class="nav-global-profile-items">
                <li class="nav-global-profile-item link-container">
                  <%= link_to "Meu Perfil", user_path(current_user), :class => "link-target icon-profile-lightblue_16_18-before", :title => "Meu Perfil" %>
                  <%= link_to "editar", edit_user_path(current_user), :class => "nav-global-profile-edit link-secondary", :title => "Editar perfil" %>
                </li>
                <li class="nav-global-profile-item link-container">
                  <%= link_to "Mensagens #{parentize current_user.unread_message_count}", user_messages_path(current_user), :class => "link-target icon-message-lightblue_16_18-before", :title => "Mensagens" %>
                </li>
                <li class="nav-global-profile-item link-container">
                  <%= link_to "Configurações", edit_user_path(current_user), :class => "link-target icon-manage-lightblue_16_18-before", :title => "Configurações" %>
                </li>
                <% current_user.partners.each do |partner| %>
                  <li class="nav-global-profile-item link-container">
                    <%= link_to partner.name, partner_path(partner), :class => "link-target icon-partner-lightblue_16_18-before", :title => partner.name %>
                  </li>
                <% end %>
                <% if can? :index, Partner %>
                  <li class="nav-global-profile-item link-container">
                    <%= link_to "Parceiros", partners_path, :class => "link-target icon-partner-lightblue_16_18-before", :title => "Parceiros" %>
                  </li>
                <% end %>
                <li class="nav-global-profile-item link-container">
                  <%= link_to "Sair", logout_path, :method => :delete, :class => "link-target", :title => "Sair" %>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
