<%# Menu para navegação na conta do usuário (Dropdown) %>
<% if current_user %>
  <% cache ['nav_account', current_user.id] do %>
    <div id="nav-account" class="grid_3">
      <div class="username"><%= link_to current_user.first_name, home_user_path(current_user) %></div>
      <ul style="display: none;">
        <li>
          <%= link_to 'Meu Perfil', user_path(current_user),
            :title => 'Perfil' %>
          <%= link_to 'editar', edit_user_path(current_user),
            :title => 'editar', :class => 'edit' %>
        </li>
        <%# Menu de parceiros  %>
        <% current_user.partners.each do |partner| %>
          <li><%= link_to partner.name, partner_path(partner) %></li>
        <% end %>
        <% if can? :index, Partner %>
          <li><%= link_to "Parceiros", partners_path %></li>
        <% end %>

        <li>
          <%= link_to "Mensagens (#{current_user.unread_message_count})",
            user_messages_path(current_user) %>
        </li>
        <li>
          <%= link_to "Configurações", edit_user_path(current_user) %>
        </li>
        <li>
          <%= link_to 'Sair', logout_path %>
        </li>
      </ul>
    </div><!-- end #nav-account -->
  <% end %>
<% end %>
