<%# Menu para navegação na conta do usuário (Dropdown) %>
<% if current_user %>
  <div id="nav-account" class="grid_3">
    <div class="username"><%= link_to current_user.first_name, home_user_path(current_user) %></div>
    <ul style="display: none;">
      <li>
        <%= link_to 'Meu Perfil', user_path(current_user),
          :title => 'Perfil' %>
        <%= link_to 'editar', edit_user_path(current_user),
          :title => 'editar', :class => 'edit' %>
      </li>
      <%= render :partial => 'shared/user_partner_item', :locals => { :user => current_user } %>
      <li>
        <%= link_to "Mensagens (#{current_user.unread_message_count})",
          user_messages_path(current_user) %>
      </li>
      <li>
        <%= link_to "Configurações", edit_user_path(current_user) %>
      </li>
      <li>
        <%= link_to 'Sair', logout_path %>
      </li>
    </ul>
  </div><!-- end #nav-account -->

  <div id="nav-notifications" class="grid_2">
    <div class="notifications">
      <a class="icon-spk-blue_16_18" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </div>
    <ul style="display: none;">
      <li>
        <%= link_to 'Teste', logout_path %>
      </li>
    </ul>
  </div><!-- end #nav-notifications -->


<% end %>
