<div class="nav-global nav-global-fixed-top">
  <style>
    #content,
    .main-wrapper { padding-top: 42px; }
  </style>
  <div class="nav-global-inner">
    <div class="nav-global-container">
      <h1>
        <%= link_to "Redu", application_path, :class => "nav-global-brand logo-redu-gray_140_40 text-replacement", :title => "Redu" %>
      </h1>

      <%= global_nav(yield :nav_global_context) %>
      <div class="nav-global-buttons-dropdown button-toolbar">
        <div class="button-group">
          <button class="button-default nav-global-button-dropdown dropdown-toggle icon-profile-2-lightblue_16_18-before" data-toggle="dropdown">
            <span class="button-dropdown-arrow icon-arrow-down-lightblue_8_10"></span>
          </button>
          <div class="dropdown-menu nav-global-profile-dropdown">
            <div class="arrow"></div>
            <div class="nav-global-profile-header">
              <%= current_user.display_name %>
            </div>
            <ul class="nav-global-profile-items">
              <li class="nav-global-profile-item link-container">
                <%= link_to "Meu Perfil", user_path(current_user), :class => "link-target icon-profile-lightblue_16_18-before", :title => "Meu Perfil" %>
                <%= link_to "editar", edit_user_path(current_user), :class => "nav-global-profile-edit link-secondary", :title => "Editar perfil" %>
              </li>
              <li class="nav-global-profile-item link-container">
                <%= link_to "Mensagens", user_messages_path(current_user), :class => "link-target icon-message-lightblue_16_18-before", :title => "Mensagens" %>
              </li>
              <li class="nav-global-profile-item link-container">
                <%= link_to "Configurações", edit_user_path(current_user), :class => "link-target icon-manage-lightblue_16_18-before", :title => "Configurações" %>
              </li>
              <li class="nav-global-profile-item link-container">
                <%= link_to "Sair", logout_path, :method => :delete, :class => "link-target", :title => "Sair" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
