= javascript_include_tag "prototype"
= javascript_include_tag "application"
= javascript_include_tag "effects"	
= javascript_include_tag "event-selectors" 		

= javascript_include_tag "controls" unless current_page?({:controller => 'application', :action => 'index'})

= javascript_include_tag "dragdrop" if @controller.controller_name.eql?('users') && %w(welcome_about edit update).include?(@controller.action_name)

= javascript_include_tag "application"		

= javascript_include_tag "AC_RunActiveContent" if current_page?(:controller => 'photos', :action => 'new') or current_page?(:controller => 'statistics', :action => 'index')		


-# - if (controller_name == 'exams' && action_name == 'new')
-#  = javascript_include_tag 'greybox/AJS'
-#  = javascript_include_tag 'greybox/gb_scripts'
-#  = javascript_include_tag 'greybox/AJS_fx'
-#  = stylesheet_link_tag '../javascripts/greybox/gb_styles'
-#  = '<script>var GB_ROOT_DIR = "http://127.0.0.1:3000/javascripts/greybox/";</script>' 

- if (controller_name == 'photos' && action_name == 'new')
  = javascript_include_tag 'swfupload'
  = javascript_include_tag 'uploader'

- if (controller_name == 'exams' && (action_name == 'new' || action_name == 'edit'))
  = javascript_include_tag "dragdrop"


- if (controller_name == 'questions' && action_name == 'new')
  = javascript_tag "var AScgiloc = 'http://www.imathas.com/imathas/filter/graph/svgimg.php';"
  = javascript_tag "var AMTcgiloc = 'http://www.imathas.com/cgi-bin/mimetex.cgi';"
  = javascript_include_tag "tiny_mce/plugins/asciimath/js/ASCIIMathMLwFallback"
  = javascript_include_tag "tiny_mce/plugins/asciisvg/js/ASCIIsvgPI"
  

/= stylesheet_link_tag 'reset-fonts-grids.css'
= stylesheet_link_tag 'screen'
= stylesheet_link_tag 'print', :media => 'print'


- if current_page?({:controller => 'posts', :action => 'show' })
  = javascript_include_tag 'lightbox'
  = stylesheet_link_tag 'lightbox'	
  
- if ((controller_name == 'resources' or controller_name == 'courses') && action_name == 'show' )
  = javascript_include_tag 'swfobject'

- if (action_name == 'site_index')
  = javascript_include_tag 'swfobject' 
   
= javascript_include_tag "prototip-min"
= stylesheet_link_tag 'prototip', :media => 'screen'

- if (controller_name == 'courses' || controller_name == 'resources' || controller_name == 'base'  )
  = ajaxful_rating_style


= javascript_include_tiny_mce_if_used
= tiny_mce if using_tiny_mce?

- if forum_page?
  = javascript_include_tag 'lowpro', 'forum'  
  = stylesheet_link_tag 'forum'
  - unless @feed_icons.blank?
    - @feed_icons.each do |feed|
      = auto_discovery_link_tag :rss, feed[:url], :title => "Subscribe to '#{feed[:title]}'"
      
   
