<div>
			<div><%= label_tag :permalink %>
			<%= text_field_tag "course_permalink", resource.permalink, :style => "font-size: 0.9em; width: 400px;", :disabled => true%>
			</div>
			
			<div style="padding: 10px;">
				 
	<% promote_url = "http://promote.orkut.com/preview?nt=orkut.com&tt=#{resource.name}&du=#{resource.permalink}" %>
	
    <button type="button" class="watch-share-button yt-uix-button" onclick="window.open('<%= promote_url %>');">
        <img src="/images/socialite/orkut_16.png" alt="Orkut" title="Orkut"><span class="yt-uix-button-content">orkut</span>
    </button>
		
		<button type="button" class="watch-share-button yt-uix-button" onclick='window.open("http://www.facebook.com/share.php?u=<%=resource.permalink%>");'>
       <img src="/images/socialite/facebook_16.png" title="Facebook"><span class="yt-uix-button-content">facebook</span>
    </button>
		
		<% twitter_url = "http://www.twitter.com/?status=#{resource.name}: #{resource.permalink} via redu.com.br" %>
	<% twitter_url = URI.escape(twitter_url) %>
		
			<button type="button" class="watch-share-button yt-uix-button" onclick='window.open("<%=twitter_url%>");'>
        <img src="/images/socialite/twitter_16.png" alt="Twitter" title="Twitter"><span class="yt-uix-button-content">twitter</span>
    </button>
		
		<button type="button" class="watch-share-button yt-uix-button" onclick="jQuery('div.emails').slideToggle(); return false;">
        <img src="/images/socialite/email_16.png" title="E-mail"><span class="yt-uix-button-content">e-mail</span>
    </button>

		</div>
		
		<div class="emails innerdiv">
		 <%= label_tag "Lista de e-mails:" %>	
		<%= text_area_tag "emails", nil, :size => "40x3"%>
		</div>
		
		</div>