%h3
  = event.name
  = "(#{event.metro_area.to_s})" unless event.metro_area.blank?
%p
  %b= :when.l+":"
  =h event.time_and_date
  - unless event.location.blank?
    %br
    %b= :where.l+":"
    =h event.location
    = link_to :map_it.l, "http://www.google.com/maps?q=#{URI::encode(event.location)}", :title=>:map_it.l, :target=>'_blank'
  %br
  - if event.end_time > Time.now
- if show_details_link
  %p= link_to :event_details.l, event_url(event)

