<%- form_for [ eventable, event ],:html => { :class => "form-common" } do |f| %>
  <%= f.error_messages %>

  <%= f.label :name, "Nome:" %>
  <%= f.text_field :name %>

  <%= f.label :description, "Descrição:" %>
  <%= f.cktext_area :description, :width=>'530px', :height => "400px",
    :swf_params => { :assetable_type => eventable.class.to_s,
      :assetable_id => eventable.id }%>

      <%= f.label :start_time, "Início:" %>
    <div class="inline">
      <%= f.datetime_select :start_time %>
    </div>

      <%= f.label :end_time, "Término:" %>
    <div class="inline">
      <%= f.datetime_select :end_time %>
    </div>

    <%= f.label :location, "Local:"%>
    <%= f.text_field :location %>

    <%= f.label raw("Palavras-chave: <span class='snippet'>(separadas por vírgula)</span>") %>
    <%= f.text_field :tag_list %>

    <% if event.new_record? %>
      <%= f.submit "Criar evento"%>
    <% else %>
      <%= f.submit "Salvar evento"%>
    <% end %>
  </fieldset>
<% end %>


