<li class="clearfix">
  <div class="grid_2" >
  <div class="date grid_2 alpha omega">
    <span class="quiet day"><%= item.start_time.day %></span>
    <span class="col">
      <span class="month quiet"><%= item.start_time.strftime("%b") %></span>
      <span class="quiet year"><%= item.start_time.year %></span>
    </span>
  </div>
  <div class="hour grid_2 alpha omega">
    <%= item.start_time.strftime("%I:%M%p") %>
  </div>
  </div>
  <div class="grid_8 last">
  <span class="name"><%= link_to item.name, polymorphic_path([item.eventable, item]) %></span>
    <%= render :partial => 'tags/tags', :object => item.tags  %>
  </div>
</li>
