<li class="clearfix">

  <%= link_to event.name, polymorphic_path([event.eventable, event]), :class => "grid_12" %>
  <span class="grid_6"><%= event.time_and_date %></span>

  <div class="grid_10 pretty-text">
    <%= event.tagline %>
  </div>

  <% if current_user.can_manage?(event) %>
    <div class="grid_10">
      <%= link_to "Editar", edit_polymorphic_path([event.eventable, event]), :class => "button icon-edit" %>
      <%= link_to 'Remover', polymorphic_path([event.eventable, event]),
        :confirm => 'Você tem certeza que deseja remover este evento permanentemente?',
        :method => :delete, :class => "button icon-delete" %>
    </div>
  <% end %>

</li>

