<li class="clearfix">

	<%= link_to event.name, school_event_path(event.school, event), :class => "grid_12" %>	
	<span class="grid_6"><%= event.time_and_date %></span>
	
	<div class="grid_10 pretty-text">				
			<%= event.tagline %>
	</div>

	<% if current_user.can_manage?(event, event.school) %>
		<div class="grid_10">
		<%= link_to "Editar", edit_school_event_path(event.school, event), :class => "button icon-edit" %>
		<%= link_to 'Remover', school_event_path(event, event.school),
		:confirm => 'Você tem certeza que deseja remover essa notícia permanentemente?',
		:method => :delete, :class => "button icon-delete" %>	
		</div>
	<% end %>
	
</li>
