<% unless upcoming_sidebar.empty? %>
<ul class="upcoming-events-preview">
  <% upcoming_sidebar.each do |event| %>
    <li>
      <span class="date quiet small upper">
        <%= event.start_time.day %>
        <%= event.start_time.strftime("%b") %> -
        <% if event.end_time %>
          <%= event.end_time.day %>
          <%= event.start_time.strftime("%b") %>
        <% end %>
      </span>
      <%= link_to event.name, polymorphic_path([event.eventable, event]) %>
    </li>
  <% end %>
</ul>
<%= link_to "Ver mais", space_events_path(@space), :class => "icon more" %>
<% else %>
  <div class="box_notice">Não há eventos criados. <%= link_to "Crie aqui", new_space_event_path(@space) %></div>
<% end %>
