<div class="main grid_16">
	<%= render :partial => "schools/school_info", :locals => {:school => @school, :show => false} %>

	<div class="main grid_12">
		<div class="menu">
			<%= link_to "Eventos passados", past_school_events_path %> <!--TODO BUG Ver um jeito de passar o school_id-->
			<%= link_to "Eventos Futuros", school_events_path %>
		</div>
		<div class="grid_12">
			<h3>EVENTOS</h3>
			<p>Informe-se sobre os eventos da rede!</p>
		</div>
	
		<%= render :partial => 'events/subscribe' %>
	
		<ul class="grid_12">	
			<%= render :partial => 'events/list', :collection => @events, :as => :event, :locals => {:show_details_link => false} %>
		</ul>
	
		<div id="pagination" align="center" class="pagination">
			<%= will_paginate  @events, :params => {:sort_by => 'start_time'}, :class => "pagination_number"  %>		
	    </div>
	</div>
</div>