<div class="main grid_16">
  <%= render :partial => "spaces/sidebar", :locals => {:space => @space} %>
  <div class="grid_11 omega">
    <h2 class="grid_11 omega"><%= @list_title %></h2>

    <% if @events && @events.size > 0 %>
      <ul id="events" class="grid_11 omega upcoming-events events-index">
        <%= render :partial => 'events/item', :collection => @events %>
      </ul>
    <% else %>
      <% if can? :manage, @space || current_user.tutor?(@space) %>
        <div class="box-info">
          <div class="pretty-text">
            Esta disciplina ainda não tem eventos agendados para este período!
            <%= link_to "Crie um novo evento", new_polymorphic_path([@eventable, Event.new]) %>
          </div>
        </div>
      <% else %>
        <div class="box_notice">
          Esta disciplina ainda não tem eventos agendados para este período!
        </div>
      <% end %>
    <% end %>
    <%= will_paginate @events, :renderer => EndlessRenderer  %>
  </div>
</div>

