<div class="main grid_16">
  <%= render :partial => "schools/school_info", :locals => {:school => @school, :show => false} %>
  <%= render :partial => "schools/sidebar", :locals => {:school => @school} %>
    <h2 class="grid_11 omega"><%= @list_title %></h2>

    <ul class="grid_11 omega upcoming-events events-index">
      <% if @events && @events.size > 0 %>
        <%= render :partial => 'events/item', :collection => @events %>
      <% else %>
        Esta rede ainda não tem eventos agendados para este período!
        <%= link_to "Crie um novo evento", new_school_event_path %>
      <% end %>
    </ul>

    <div id="pagination" align="center" class="pagination">
      <%= will_paginate  @events, :params => {:sort_by => 'start_time'}, :class => "pagination_number"  %>
    </div>
  </div>
</div>
