<div class=" grid_16">
<% if @eventable.class.to_s.eql? "Space" %>
  <%= render :partial => "spaces/sidebar", :locals => {:space => @event.eventable} %>
<% end %>
  <div class="event-content grid_12 omega">
    <div class="grid_2 alpha">
      <div class="date grid_2 alpha omega">
        <span class="quiet day"><%= @event.start_time.day %></span>
        <span class="col">
          <span class="month quiet"><%= @event.start_time.strftime("%b") %></span>
          <span class="quiet year"><%= @event.start_time.year %></span>
        </span>
      </div>
      <div class="hour grid_2 alpha omega">
        <span class="from">Das</span>
        <%= @event.start_time.strftime("%I:%M%p") %>
      </div>
      <div class="hour green grid_2 alpha omega">
        <span class="to">às</span>
        <%= @event.end_time.strftime("%I:%M%p") %>
      </div>

    </div>
    <div class="grid_10 omega">
      <h4 class="name"><%= link_to @event.name, polymorphic_path([@event.eventable, @event]) %></h4>
      <div class="pretty-text">
        <%= raw @event.description %>
      </div>
      <em>Palavras-chave</em>
      <%= render :partial => 'tags/tags', :object => @event.tags  %>
    </div>
    <div class="grid_11 aplha omega">
      <% form_tag(notify_space_event_path, :method => :post) do %>
        <fieldset><legend>Seja notificado sobre este evento!</legend>
          Notifique-me
          <%= select_tag :days, options_for_select([["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6", 6], ["7", 7]], 1)  %>
          dias antes
          <%= submit_tag "Ok"%>
        </fieldset>
      <% end %>
    </div>
    <div class="grid_11 alpha omega clearfix" style="padding: 10px 0;">
      <% if can? :manage, @event %>
        <%= link_to 'Editar', edit_polymorphic_path([@event.eventable, @event]), :class => "button"%>
        <%= link_to 'Remover', polymorphic_path([@event.eventable, @event]),
          {:confirm => 'Você tem certeza que deseja remover  permanentemente?',
            :method => :delete,  :class => "button"} %>
        <% end %></div>

    </div>
  </div>
