<tr class="<%= cycle('odd', 'even') %>">
  <td>
    <%= check_box_tag "delete[]", item.id %>
  </td>
  <td>
    <% css_class = 'unread' if (mailbox == :inbox && !item.read?) %>
    <%= link_to item.subject, user_message_path(@user, item),
      :class => "title #{css_class}"%>
  </td>
  <td>
    <% other_user = (mailbox == :inbox ? item.sender : item.recipient) %>
    <%= image_tag other_user.avatar.url(:thumb_32), :class => 'avatar' %>
    <%= link_to other_user.display_name, user_path(other_user),
      :class => 'user' %>
    <span class="date"><%= item.created_at.strftime('%b %e, %Y, %l:%M %p') %></span>
  </td>
</tr>
