<%- form_for [ bulletinable, bulletin ], :html => { :class => "common" } do |f| %>
    <%= f.error_messages %>

    <%= hidden_field_tag("bulletinable_id", bulletinable.id) %>
    <%= hidden_field_tag("bulletinable_type", bulletinable.class) %>

    <%= f.label "Título" %>
    <%= f.text_field :title %>

    <%= f.label "Descrição" %>
    <% if bulletinable.class.to_s == 'Space' %>
      <%= f.cktext_area :description, :width=>'560px', :height => "400px",
        :swf_params => { :assetable_type => bulletinable.class.to_s, :assetable_id => bulletinable.id }%>
    <% else %>
      <%= f.cktext_area :description, :width=>'560px', :height => "400px",
        :swf_params => { :assetable_type => bulletinable.class.to_s, :assetable_id => bulletinable.id }%>
    <% end %>
    <%= f.label raw("Palavras-chave <span class='snippet'>(separadas por vírgula)</span>") %>
    <%= f.text_field :tag_list %>

    <%= f.submit "Criar notícia" %>
  </fieldset>
<% end %>
