<% content_for :header_scripts_and_styles do %>
  <%= javascript_include_tag :ckeditor %>
<% end %>
<%= render :partial => "#{@bulletinable.class.to_s.downcase + 's'}/new/sidebar" %>
<div class="main grid_12 omega big-col">
  <ol id="breadcrumbs" class="clearfix">
    <% if @bulletinable.class.to_s.eql? "Environment" %>
      <li>
        <%= link_to 'Home', home_user_path(current_user),
          :class => 'replacement home icon icon-redu_r8_c227_s1' %>
      </li>
      <li>
        <%= link_to @environment.name,
          environment_path(@environment),
          :class => 'replacement icon icon-redu_r8_c217_s1' %>
      </li>
      </ol>
      <%= render :partial => 'environments/new/header',
        :locals => { :environment => @environment }%>
    <% elsif @bulletinable.class.to_s.eql? "Space" %>
       <li>
        <%= link_to 'Home', home_user_path(current_user),
          :class => 'replacement home icon icon-redu_r8_c227_s1' %>
       </li>
       <li>
        <%= link_to @space.course.environment.name,
          environment_path(@space.course.environment),
          :class => 'replacement icon icon-redu_r8_c217_s1' %>
       </li>
       <li>
        <%= link_to @space.course.name,
          environment_course_path(@space.course.environment, @space.course),
          :class => 'replacement icon icon-redu_r8_c313_s1' %>
       </li>
       <li>
        <%= link_to @space.name, space_path(@space),
          :class => 'icon icon-redu_r8_c307_s1' %>
       </li>
       </ol>
       <%= render :partial => 'spaces/new/header',
         :locals => { :space => @space }%>
      <% end %>
    <div id="bulletin-new" class="hierarchy-listing-wrapper">
      <div class="header">
        <h4>Notícias</h4>
        <span class="counter">Nova notícia</span>
      </div>

      <%= render :partial => "bulletins/new/form",
        :locals => {:bulletinable => @bulletinable,  :bulletin => @bulletin }%>
    </div><!-- #bulletin-new -->
  </div><!-- end main -->
