<% if @bulletinable.class.to_s.eql? "Space" %>
  <%= render :partial => 'spaces/new/sidebar', :locals => { :space => @bulletinable } %>
<% else %>
  <%= render :partial => "environments/new/sidebar", :locals => { :environment => @bulletinable } %>
<% end %>
<div class="main grid_12 omega big-col">
    <% if @bulletinable.class.to_s.eql? "Environment" %>
      <ol id="breadcrumbs" class="clearfix">
        <li>
          <%= link_to 'Home', home_user_path(current_user),
            :class => 'replacement home icon icon-home-lightblue_16_16' %>
        </li>
        <li>
          <%= link_to @environment.name,
            environment_path(@environment),
            :class => ' icon icon-environment-lightblue_16_16' %>
        </li>
      </ol>
      <%= render :partial => 'environments/new/header',
        :locals => { :environment => @environment }%>
    <% elsif @bulletinable.class.to_s.eql? "Space" %>
      <%= render :partial => "spaces/new/breadcrumbs", :locals => { :space => @space } %>
      <%= render :partial => 'spaces/new/header',
        :locals => { :space => @space }%>
    <% end %>

    <div id="bulletin" class="body">
      <div class="header">
        <h4>Notícias</h4>
        <span class="counter">
          Notícias
          <% if @bulletinable.class.to_s.eql? "Space" %>
            da disciplina
          <% else %>
            do ambiente
          <% end %>
          <%= @bulletinable.name %>
        </span>
      </div>
      <div class="info">
        <%= image_tag @bulletin.owner.avatar(:thumb_32), :class => "avatar" %>
        <span class="label">Autor:</span>
        <%= link_to @bulletin.owner.display_name, user_path(@bulletin.owner) %>
      </div>
      <% if can? :manage, @bulletin %>
        <div class="admin-actions">
          <%= link_to 'Editar',
            edit_polymorphic_path([@bulletin.bulletinable, @bulletin]),
            :class => "edit icon icon-management-gray_8_8" %>
          <%= link_to 'Remover',
            polymorphic_path([@bulletin.bulletinable, @bulletin]),
            :method => :delete,
            :confirm => "Você tem certeza que deseja remover esta aula? Não será possível recuperá-la.",
            :class => "delete icon icon-x-gray_8_8" %>
        </div>
      <% end %>
      <div class="details clearfix">
        <div class="date">
          <span class="month"><%= @bulletin.created_at.strftime('%b') %></span>
          <span class="day"><%= @bulletin.created_at.day %></span>
          <span class="year"><%= @bulletin.created_at.year %></span>
        </div>
        <h3 class="title"><%= @bulletin.title %></h3>
        <ul class="tags clearfix">
          <% @bulletin.tags.each do |tag| %>
            <li>
              <%= link_to tag,
                polymorphic_path([@bulletin.bulletinable, @bulletin]) %>
            </li>
          <% end %>
        </ul>
      </div><!-- end .details -->

      <div class="bulletin-content pretty-text">
        <%= raw @bulletin.description %>
      </div>
    </div><!-- end #bulletin -->

  </div><!-- end .main -->
