<%#
  Convite de amizade.

  Variáveis:
    friendship: o convite de amizade.
%>

<li id="requisition-<%= friendship.friend.id %>" class="list-mix-item">
  <div class="list-mix-inner">
    <div class="general-list-item-body">
      <%= link_to user_path(friendship.friend),
        :class => "general-list-item-column" do %>
        <%= image_tag friendship.friend.avatar.url(:thumb_32), :size => "32x32",
          :alt => friendship.friend.display_name,
          :title => friendship.friend.display_name %>
      <% end %>
      <div class="general-list-item-column">
        <%= link_to friendship.friend.display_name, user_path(friendship.friend) %> quer se conectar a você
        <% if friendship.requested_at %>
          <p class="legend"><%= l friendship.requested_at, :format => :elegant %></p>
        <% end %>
      </div>
    </div>
    <div class="general-list-item-footer">
      <%= form_for [current_user, Friendship.new], :remote => true,
        :html => { :method => :post, :class => "pull-right" } do %>
        <%= hidden_field_tag "goto_home", true %>
        <%= hidden_field_tag "friend_id", friendship.friend.id %>
        <%= submit_tag "Aceitar", :class => "button-success" %>
      <% end %>
      <%= form_for [current_user, friendship], :remote => true,
        :html => { :method => :delete, :class => "pull-right" } do %>
        <%= hidden_field_tag "goto_home", true %>
        <%= submit_tag "Recusar", :class => "button-default" %>
      <% end %>
    </div>
  </div>
</li>
