<div class="span3">
  <%= render :partial => "users/left_sidebar",
     :locals => { :user => @user } %>
</div>
<div class="span10">
  <div class="content-area">
    <%= render :partial => "friendships/breadcrumb",
       :locals => { :user => @user } %>
    <div class="content-body">
      <div class="content-section">
        <ul class="header-breadcrumb">
          <li class="header-breadcrumb-item">
            <%= link_to "Meus Contatos", user_friendships_path(@user),
               :class => "header-bradcrumb-link icon-message-gray_32_34-before",
               :title => "Meus Contatos" %>
          </li>
          <li class="header-breadcrumb-item">
            <%= link_to "Amigos", user_friendships_path(@user),
               :class => "header-bradcrumb-link",
               :title => "Amigos" %>
          </li>
        </ul>
        <%= link_to "Convidar amigos", new_user_friendship_path(@user), :class => "button-primary icon-contacts-white_blue_16_18-before pull-right" %>
      </div>
    </div>
    <%= render :partial => "friendships/breadcrumb",
       :locals => { :user => @user } %>
  </div>
</div>
<div class="span3">
  <%= render :partial => "users/right_sidebar",
     :locals => { :user => @user } %>
</div>