<% if @profile %>
  <%= render :partial => 'users/profile_sidebar' %>
<% else %>
  <%= render :partial => 'users/home_sidebar' %>
<% end %>
<div class="main grid_10" style="width: 580px;">
  <ol id="breadcrumbs" class="clearfix">
    <li>
      <%= link_to 'Home', home_user_path(current_user), :class => 'replacement icon-small home icon-home-lightblue_16_18' %>
    </li>
    <li>
      <%= link_to 'Contatos', edit_user_path(current_user), :class => 'icon-contacts-lightblue_16_18-before' %>
    </li>
  </ol>

  <div id="contacts">
    <ul class="clearfix">
      <%= render :partial => "users/item_medium", :collection => @friends %>
    </ul>
    <%= will_paginate @friends, :renderer => EndlessRenderer %>
  </div>

</div><!-- end .main -->
