<div class="span3">
  <%= render :partial => "users/left_sidebar",
    :locals => { :user => @user } %>
</div>
<div class="span10">
  <div class="content-area">
    <%= render :partial => "friendships/breadcrumb",
      :locals => { :user => @user } %>
    <div class="content-body">
      <div class="content-section">
        <ul class="header-breadcrumb">
          <li class="header-breadcrumb-item">
            <%= link_to "Meus Contatos", user_friendships_path(@user),
              :class => "header-bradcrumb-link icon-connections-gray_32_34-before",
              :title => "Meus Contatos" %>
          </li>
          <li class="header-breadcrumb-item">
            <%= link_to user_friendships_path(@user),
              :class => "header-bradcrumb-link",
              :title => "Amigos" do %>
                Amigos <%= content_tag(:span, parentize(@total_friends),
                         :class => "header-breadcrumb-item-light") %>
              <% end %>
          </li>
        </ul>
        <%= link_to "Convidar amigos", new_user_friendship_path(@user), :class => "button-primary icon-invite-white_blue_16_18-before pull-right" %>
      </div>
      <%= new_tabs(:new_users) do %>
      <% end %>
      <div class="content-section">
        <% if @friends.size == 0 %>
          <div class="empty-invite-list">
            <span class="icon-invite-empty_128_130 show text-replacement"></span>
            <p>Adicione amigos e crie sua rede social educacional. Você pode conversar, ajudar e tirar dúvidas com seus amigos. <a>Que tal procurar?</a></p>
          </div>
        <% else %>
          <ul class="list-2-columns list-columns-separator friendship-list clearfix">
            <%= render :partial => "users/item_medium", :collection => @friends %>
          </ul>
        <% end %>
      </div>
      <% if @friends.num_pages > 1 %>
        <hr class="list-separator">
      <% end %>
      <%= paginate @friends, :theme => "numbers",
        :outer_window => 1, :inner_window => 4 %>
    </div>
    <%= render :partial => "friendships/breadcrumb",
      :locals => { :user => @user } %>
  </div>
</div>
<div class="span3">
  <%= render :partial => "users/right_sidebar",
    :locals => { :user => @user } %>
</div>