<%= render :partial => 'users/home_sidebar' %>
<div class="main grid_10 omega friends-invitations">
  <%= render :partial => 'friendships/breadcrumbs' %>
  <%= render :partial => "friendships/friend_invitation" %>
  <%= render :partial => "friendships/manage_invitations",
  :locals => { :invitations => @invitations,
               :friendship_requests => @friendship_requests } %>
</div>
<div class="secondary-sidebar home-sidebar friendship-sidebar">
  <div class="contact-recommendations">
    <div class="call">
      <span class="icon-contacts-white-green_16_18-before">Conecte-se</span>
    </div>
    <ul>
      <%= render :partial => 'users/recommendation_item',
        :collection => @contacts_recommendations %>
    </ul>
  </div>
</div><!-- end .offering -->
