<% content_for :header_scripts_and_styles do %>
  <%= javascript_include_tag 'friend-invitation' %>
<% end %>

<div class="span3">
  <%= render "users/left_sidebar", :user => @user %>
</div>
<div class="span10">
  <div class="content-area">
    <%= render "friendships/breadcrumb", :user => @user %>
    <div class="content-body friend-invitation">
      <div class="content-section">
        <%= render "bootstrap/header_breadcrumb", :header_breadcrumb_items => [
          { :name => "Meus Contatos", :link => user_friendships_path(@user), :classes => "icon-connections-gray_32_34-before" },
          { :name => "Amigos", :link => user_friendships_path(@user) },
          { :name => "Convidar amigos", :link => new_user_friendship_path(@user) } ] %>
      </div>
      <%= new_tabs(:new_users) %>
      <%= render "friendships/friend_invitation", :user => @user %>
      <hr class="list-separator">
      <%= render "invitations/manage_invitations", :invitations => @invitations,
        :friendship_requests => @friendship_requests %>
    </div>
    <%= render "friendships/breadcrumb", :user => @user %>
  </div>
</div>
<div class="span3">
  <%= render "users/right_sidebar", :user => @user %>
</div>
