<%#
  Convite de amizade enviado para usuário do Openredu.

  Variáveis:
    friendship_item: o item de amizade com informações sobre o usuário convidado.
%>

<li id="friendship-request-for-<%= friendship_item.friend.id %>" class="invitation list-mix-inner clearfix">
  <%= link_to friendship_item.friend, :title => friendship_item.friend.display_name,
    :class => "invitation-thumbnail-link" do %>
    <%= image_tag friendship_item.friend.avatar(:thumb_48),
      :title => friendship_item.friend.display_name,
      :alt => friendship_item.friend.display_name,
      :class => "invitation-thumbnail", :size => "48x48" %>
  <% end %>
  <div class="invitation-inner">
    <%= link_to "Remover", user_friendship_path(current_user, friendship_item),
      :remote => true, :method => :delete,
      :class => "invitation-link-remove icon-close-gray_16_18 text-replacement",
      :confirm => "Deseja remover este convite?",
      :title => "Remover convite" %>
    <%= link_to "Reenviar convite", resend_email_user_friendship_path(friendship_item.user, friendship_item),
      :remote => true, :method => :post,
      :class => "invitation-link-resend link-secondary",
      :title => "Reenviar convite" %>
    <%= link_to friendship_item.friend.display_name, friendship_item.friend,
      :class => "invitation-title text-truncate" %>
    <% if friendship_item.requested_at %>
      <span class="invitation-legend legend">Convite enviado em <%= l friendship_item.requested_at, :format => :elegant %></span>
    <% end %>
  </div>
</li>