<tr id=<%="invitation-#{invitation_item.id}" %> class="invite">
  <td class="cell-checkbox">
    <%= check_box_tag 'invitations_ids[]', invitation_item.id, false, {:class => 'autoCheck',
           :id => "remove-#{invitation_item.id}"} %>
  </td>
  <td class="cell-user-info">
    <%= image_tag "new/missing_users_thumb_32.png", :class => 'avatar', :whit => 32, :height => 32 %>
    <span class="user">
      <%= invitation_item.email %>
    </span>
    <span class="tip">
      O usuário ainda não aceitou o convite de amizade.
    </span>
  </td>
  <td class="cell-reinvite">
    <%= link_to 'Reenviar Convite', resend_email_invitation_path(invitation_item), :remote => true, :method => :post, :class => 'reinvite' %>
  </td>
</tr>
