<% unless invitations.empty? and friendship_requests.empty? %>
  <div class="notice">
    <h3 class="form-header">Aguardando a resposta de <%= (invitations.count + friendship_requests.count) %> membro(s)</h3>
  </div>
  <div id="user_list" class="invitation-list">
    <%= form_tag destroy_invitations_invitations_path, :method => :post do %>
      <table id="user_list_table" class ="concave-invitation-table">
        <thead>
          <tr style="display: none;">
            <th>
              <input type="checkbox" id="select_all">
            </th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => 'invitations/invitation_item',
                     :collection => invitations %>
          <%= render :partial => 'invitations/friendship_item',
                     :collection => friendship_requests %>
        </tbody>
      </table>
      <%= submit_tag "Remover selecionados", :class => 'concave-remove' %>
    <% end %>
  </div>
<% else %>
  <div class="empty-invite-list">
    <span class="icon-invite-empty_128_130 show text-replacement">
  </div>
<% end %>
