<%= content_for :wrapper_class do %>overlvay landing <% end %>
<div class="container_16 clearfix" id="invitation">
  <div class="grid_4 alpha">
    <h1 class="logotipo replacement">
      <%= link_to "Openredu: rede social educacional", application_path  %>
    </h1>
  </div>
  <div class="clearfix invite">
    <span class="salutation">Olá, você foi convidado para participar do Openredu.</span>
    <div  class="clearfix course">
      <%= image_tag @invitation_user.avatar(:thumb_32), :size => '32x32',
        :class => 'avatar' %>
      <div class="informations">
        <div class="header">
          <%= link_to @invitation_user.display_name, user_path(@invitation_user), :class => "name" %>
        </div>
        <ul class="statistics">
          <li>
            <em>Contatos</em>
            <span>
              <%= @contacts[:total] %>
            </span>
          </li>
          <% if @courses[:total] > 0 %>
            <li>
              <em>Cursos</em>
              <span><%= @courses[:total] %></span>
            </li>
          <% end %>
          <% if @courses[:teacher] > 0 %>
            <li>
              <em>Professor em:</em>
              <span><%= @courses[:teacher] %> </span>
            </li>
          <% end %>
          <% if @courses[:tutor] > 0 %>
            <li>
              <em>Tutor em:</em>
              <span><%= @courses[:tutor] %>, tutor em <%= @courses[:tutor] %>) </span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="grid_6 omega">
      <div class="login-box">
        <h3 class="new-version-call">Já possui uma conta? Acesse nossa versão <span class="beta-call" >beta</span>.</h3>
        <%= form_for @user_session, :html => { :class => "concave-form" }, :url => sessions_path do |f| %>
          <%= field_set_tag do %>
            <%= hidden_field_tag :friendship_invitation_token, @invitation.token %>
            <%= f.text_field :login, :placeholder => "Digite seu login e, abaixo, sua senha" %>
            <%= concave_errors_for @user_session, :login %>
            <%= f.password_field :password %>
            <%= concave_errors_for @user_session, :password %>
            <button>Entrar</button>

            <div class="short-options">
              <%= f.check_box :remember_me, :class => "check-stay-connect" %>
              <%= f.label :remember_me, "Matenha-me conectado", :class => "label-stay-connect" %>
              <%= link_to "Recuperar login & senha", recover_username_password_path, :class => "recover-login" %>
            </div>
            <div class="fb-login">
              <%= link_to "Entre com sua conta do Facebook",
                facebook_authentication_path(:state => { :friendship_invitation_token => @invitation.token }.to_json),
                :class => "uibutton confirm large" %>
            </div>
            <p class="or-call">&minus; ou &minus;</p>
          <% end %>
        <% end %>
        <%= link_to "Que tal se cadastrar?", application_path(:anchor => "modal-sign-up", :friendship_invitation_token => @invitation.token), :class => "concave-important" %>
      </div>
    </div>
  </div>
</div>
