<% content_for :container_class do "entity-wrapper" end %>

<div class="span3">
  <%= render "courses/sidebar_new", course: @course %>
</div>
<div class="span13">
  <%= render "courses/breadcrumbs_new", course: @course %>
  <div class="content-body">
    <%= render "courses/header_new", course: @course,
      responsibles_associations: @responsibles_associations %>

    <% if can? :invite_members, @course %>
      <div class="entity-actions clearfix">
        <%= link_to "Convidar membros",
          admin_invitations_environment_course_path(@course.environment, @course),
          class: "entity-action button-primary" %>
      </div>
    <% end %>

    <%= new_tabs :courses %>

    <div class="content-section centralize">
      <%= new_subtabs :courses %>
    </div>

    <%= render "shared/entity_members_list", role: @role, users: @users,
      entity: @course %>
  </div>
</div>