<%= form_for [user, experience], :remote => true,
  :html => { :class => "form-horizontal clearfix form-config-account edit-form" } do |f| %>

  <div class="control-group row">
    <div class="offset3 span6">
      <% if experience.new_record? %>
        <h6 class="pull-left curriculum-title">Novo item</h6>
      <% else %>
        <h6 class="pull-left curriculum-title edit">Editando item</h6>
      <% end %>
    </div>
  </div>

  <div class="control-group row">
    <div class="control-label span3">
      <%= f.label :title, 'Título de sua função' %>
    </div>
    <div class="controls span6">
      <%= f.text_field :title,
          :placeholder => "Exemplo: professor, engenheiro, analista..." %>
      <%= concave_errors_for experience, :title %>
    </div>
  </div>

  <div class="control-group row">
    <div class="control-label span3">
      <%= f.label :company, 'Empresa' %>
    </div>
    <div class="controls span6">
      <%= f.text_field :company,
          :placeholder => "Nome da empresa ou organização" %>
      <%= concave_errors_for experience, :company %>
    </div>
  </div>

  <div class="control-group row">
    <div class="control-label span3">
      <%= f.label :start_date, 'Período' %>
    </div>
    <div class="controls span6 period-experience">
      <div class="control-select-date start-date clearfix">
        <%= f.date_select :start_date,
          { :start_year => (Date.today - 90.years).year,
            :end_year => Date.today.year,
            :discard_day => true } %>
      </div>
      <div class="control-select-date end-date clearfix">
        <%= f.date_select :end_date,
          { :start_year => (Date.today - 90.years).year,
            :end_year => Date.today.year,
            :discard_day => true } %>
      </div>
    </div>
    <div class="controls offset3 span6 current-experience">
      <div class="control-checkbox pull-left">
        <%= f.check_box :current, :id => "experience_current-#{experience.id}", :class => "experience-current" %>
      </div>
      <div class="control-label">
        <%= f.label :current, (t :i_currently_work_here), :for => "experience_current-#{experience.id}" %>
      </div>
    </div>
  </div>

  <div class="control-group row">
    <div class="control-label span3">
      <%= f.label :description, "Descrição" %>
    </div>
    <div class="controls span6">
      <%= f.text_area :description, :rows => '6',
          :placeholder => "Detalhes do encargo e suas realizações no período" %>
    </div>
  </div>

  <div class="offset3 span6 curriculum-buttons">
    <button type="submit" class="button-default add-item icon-curriculum-lightblue_16_18-before pull-right"><% if experience.new_record? %>Adicionar item<% else %>Salvar item<% end %></button>
    <button class="button-default cancel pull-right">Cancelar</button>
  </div>

<% end %>
