<div class="details">
  <span class='title'><%= item.title %></span> em <span class="company"><%= item.company %></span>
  <span class="period">
    <% if item.current? %>
      <%= l item.start_date, :format => "%B %Y" %> -  Atual
      (<%= distance_of_time_in_words item.start_date, Date.today %>)
    <% else %>
      <%= l item.start_date, :format => "%B %Y" %> - <%= l item.end_date, :format => "%B %Y" %>
      (<%= distance_of_time_in_words item.start_date, item.end_date %>)
    <% end %>
  </span>

  <div class="description"><%= item.description %></div>
</div>