<span class="title"><b><%= item.title %></b> <span class="in-between">em</span> <%= item.company %></span>
<span class="time">
  <% if item.current? %>
    <%= l(item.start_date, :format => :month_year) %> - presente
    (<%= distance_of_time_in_words item.start_date, Date.today %>)
  <% else %>
    <%= l(item.start_date, :format => :month_year) %> - <%= l(item.end_date, :format => :month_year) %>
    (<%= distance_of_time_in_words item.start_date, item.end_date %>)
  <% end %>
</span>
<p class="description"><%= item.description %></p>