<li id="experience-<%= item.id %>">
  <div class="infos clearfix">
    <a href="#" class="edit-experience icon icon-management-gray_8_8"><%= t :edit %></a>
    <%= link_to (t :remove), user_experience_path(item.user, item),
      :remote => true, :method => :delete,
      :class => "remove-experience icon icon-x-gray_8_8 replacement",
      :confirm => "Você tem certeza que deseja excluir esta experiência? Não será mais possível recuperá-la." %>
    <div class="details">
      <span class='title'><%= item.title %></span> em <span class="company"><%= item.company %></span>
      <span class="period">
        <% if item.current? %>
          <%= t item.start_date.strftime("%B %Y") %> -  Atual
          (<%= distance_of_time_in_words item.start_date, Date.today %>)
        <% else %>
          <%= t item.start_date.strftime("%B %Y") %> - <%= t item.end_date.strftime("%B %Y") %>
          (<%= distance_of_time_in_words item.start_date, item.end_date %>)
        <% end %>
      </span>

      <div class="description"><%= item.description %></div>
    </div>
  </div>

  <%= render :partial => 'experiences/form', :locals => { :user => item.user,
    :experience => item } %>
</li>
