<span class="title"><b><%= item.title %></b> <i>em</i> <%= item.company %></span>
<span class="time">
  <% if item.current? %>
    <%= t l(item.start_date, :format => "%B de %Y") %> - presente
    (<%= distance_of_time_in_words item.start_date, Date.today %>)
  <% else %>
    <%= t l(item.start_date, :format => "%B de %Y") %> - <%= t l(item.end_date, :format => "%B de %Y") %>
    (<%= distance_of_time_in_words item.start_date, item.end_date %>)
  <% end %>
</span>
<p class="description"><%= item.description %></p>


