<%= render :partial => "spaces/new/sidebar", :locals => { :space => @eventable } %>
<div class="main grid_12 omega big-col">
  <%= render :partial => 'spaces/new/breadcrumbs', :locals => { :space => @space } %>
  <%= render :partial => 'spaces/new/header',
    :locals => { :space => @space }%>

  <div id="space-events" class="body">
    <div class="header">
      <h4>Eventos</h4>
      <span class="counter">
        <%= pluralize(@eventable.events.length, 'evento') %>
      </span>
    </div>
    <% if can? :manage, @eventable %>
      <div class="admin-actions">
        <%= link_to 'Criar novo evento',
          new_polymorphic_path([@eventable, Event.new]),
          :class => 'button vanilla' %>
      </div>
    <% end %>

    <div id="events_list" class="event-listing-wrapper clearfix">
      <ul>
        <%= render :partial => 'events/new/item', :collection => @events %>
      </ul>
      <%= will_paginate @events, :renderer => EndlessRenderer %>
    </div>

  </div><!-- end #event -->

</div><!-- end .main -->
