<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
      $(".message").hide()
      $("#toggle").live('click', function(e){
        $(".message").toggle()
        e.preventDefault()
      });
  })
</script>
<div id="environment_invitation_errors">
  <%= f.error_messages %>
</div>
<%= f.label :email, "E-mail" %>
<%= f.text_field :email %>
<%= f.label :role, "Papel" %>
<%= f.select :role_id, Role.all.collect{|r| [r.name, r.id]} %>
<a id="toggle" href="#">Escrever Mensagem</a>
<%= f.label :message, "Mensagem", :class => "message" %>
<%= f.text_area :message, :class => "message" %>
