<% unless @invitations.empty? %>
  <table class="common">
    <thead>
      <tr>
        <th>E-mail</th>
        <th>Papel</th>
        <th>Enviado em</th>
        <th>Ação</th>
      </tr>
    </thead>
    <% @invitations.each do |item| %>
      <tr id="invitation-<%= item.id %>">
        <td><%= item.email %></td>
        <td><%= item.role.name %></td>
        <td class="date"><%= time_ago_in_words item.updated_at %></td>
        <td class="action">
          <%= link_to_remote "Enviar novamente",
            :url => resend_environment_invitation_path(@environment, item),
            :loading => "$(\"##{item.id}\")." + \
                        "after(\"#{escape_javascript(image_tag("spinner.gif")) }\")",
            :complete => "$(\"##{item.id}\")." + \
                         "next(\"img\").remove()",
            :html => {:id => item.id}
          %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <div class="box_notice">
      Este ambiente de ensino não possui nenhum curso.
      <%= link_to "Crie um agora!", new_environment_course_path(@environment) %>
    </div>
  <% end %>
</table>
