Voce tem <%= @balance %> de creditos<br>

Compre aqui:
<% form_for(@credit) do |f| %>
  <%= f.error_messages %>

  <%= f.radio_button :value, "10"%> 10 <BR>
  <%= f.radio_button :value, "20"%> 20 <BR>
  <%= f.radio_button :value, "30"%> 30 <BR>
  <%= f.radio_button :value, "40"%> 40 <BR>
  <%= f.radio_button :value, "50"%> 50 <BR>
  <%= f.text_field :value %>Escolha quanto você quer comprar<BR>
  <p>
    <%= f.submit 'Comprar' %>
  </p>
<% end %>



