<% content_for :container_class do "entity-wrapper" end %>

<div class="span3">
  <%= render "environments/sidebar", environment: @environment %>
</div>
<div class="span13">
  <%= render "environments/breadcrumb", environment: @environment %>
  <div class="content-body">
    <%= render "environments/header", environment: @environment %>

    <div class="content-section centralize">
      <%= new_subtabs :environments %>
    </div>

    <%= render "shared/entity_members_list", role: @role, users: @users,
      entity: @environment %>
  </div>
  <%= render "environments/breadcrumbs_new", environment: @environment %>
</div>