<%= form_for recover_password, :url => recover_password_path, :method => "post",
  :remote => true,
  :html => { :id => "mobile-form-password-recovery",
             :class => "mobile-form-password-recovery" } do |f| %>
  <div class="control-group">
    <div class="control-label">
      <%= f.label :email, "E-mail cadastrado" %>
    </div>
    <div class="controls">
      <%= f.text_field :email, :placeholder => "Digite o endereço de e-mail cadastrado no Openredu" %>
      <%= concave_errors_for f.object, :email %>
    </div>
  </div>
  <div class="mobile-form-password-recovery-return clearfix">
    <%= link_to "Voltar", login_path, :title => "Voltar",
      :class => "pull-left" %>
    <button type="submit" class="button-primary pull-right">Requisitar nova senha</button>
  </div>
<% end %>
