<%= content_for :wrapper_class do %>overlay<% end %>
<div class="container_16">
  <div class="grid_4">
    <h1 class="logo-top" title="Redu">
      <%= link_to "Redu", home_path %>
    </h1>
    <ul class="left-navigation">
      <li class="active term-of-service">
        <%= link_to "Termos de Uso", page_path("tos"), :title => "Termos de Uso" %>
      </li>
      <li class="privacy-policy">
        <%= link_to "Política de Privacidade", page_path("privacy"), :title => "Política de Privacidade" %>
      </li>
      <li class="contact">
        <%= link_to "Fale Conosco", contact_path, :title => "Fale Conosco" %>
      </li>
    </ul>
  </div>
  <div class="grid_12 alpha">
    <ul class="top-navigation">
      <li><%= link_to "Termos de Uso", page_path("tos"), :title => "Termos de Uso", :class => "active" %><span class="separator">|</span></li>
      <li><%= link_to "Política de Privacidade", page_path("privacy"), :title => "Política de Privacidade" %><span class="separator">|</span></li>
      <li><%= link_to "Fale Conosco", contact_path, :title => "Fale Conosco" %><span class="separator">|</span></li>
      <li><%= link_to "Página inicial", home_path, :title => "Página inicial" %></li>
    </ul>
    <h2 class="content-title term-of-service" title="Termo de Uso">Termo de Uso</h2>
    <div class="content">
      <p>Estes são os termos de uso que regem os serviços oferecidos pela empresa <em>REDU – Desenvolvimento e Licenciamento de Programas de Informática Ltda.</em> devidamente inscrita no CNPJ/MF sob o nº 12.359.885/0001-07, denominada aqui como <em>Redu</em>. Qualquer indivíduo, doravante nominada <em>USUÁRIO</em>, que pretenda utilizar os serviços do site, deverá aceitar os Termos de Uso, e todas as demais políticas e princípios que o regem.</p>

      <p>Por este instrumento e na melhor forma de direito, o(s) <em>USUÁRIO(S)</em> declara(m) conhecer, se obrigando a cumprir integralmente, a regulamentação estipulada pelo <em>Redu</em> para a navegação e a utilização dos Serviços oferecidos através do site, em conformidade com as cláusulas e condições seguintes, cuja aceitação prévia, será condição indispensável de acesso aos Serviços.</p>

      <span class="section">Do cadastro</span>

      <p>A realização do cadastro é condição indispensável à utilização dos Serviços disponibilizados no site <em>Redu</em>, assumindo os <em>USUÁRIOS</em> a responsabilidade exclusiva pela veracidade dos dados, para este fim, fornecidos.</p>

      <p>É de responsabilidade integral e exclusiva dos <em>USUÁRIOS</em> a constante atualização do seu respectivo cadastro, com a imediata informação de todo e qualquer dado pessoal ou informacional que eventualmente sofra alguma alteração.</p>

      <p>Cada <em>USUÁRIO</em> poderá realizar um único cadastro, podendo o <em>Redu</em> suspender, em caráter temporário ou definitivo, cadastros que aparentem pertencer a um mesmo <em>USUÁRIO</em>.</p>

      <p>O <em>Redu</em> poderá, ao efetuar o cadastro, utilizar quaisquer informações que considere necessárias à identificação dos <em>USUÁRIOS</em>, bem como, a qualquer tempo e ao seu exclusivo critério, solicitar dados adicionais e requerer o envio de documentos visando à conferência dos dados cadastrados.</p>

      <p>Caso seja constatada a existência de dados incompletos ou inverídicos, o <em>Redu</em> poderá suspender, em caráter temporário ou definitivo, o cadastro do <em>USUÁRIO</em>, bloqueando, pelo tempo em que perdurar a suspensão, o acesso a todos os serviços por ele utilizados, sem prejuízo de outras medidas que entenda serem necessárias.</p>

      <p>A suspensão ou cancelamento da conta de cadastro do <em>USUÁRIO</em>, em decorrência de iniciativa deste ou do <em>Redu</em>, implicará o bloqueio de qualquer serviço utilizado pelo proprietário da conta veiculado, não cabendo direito à indenização ou ressarcimento.</p>

      <p>O <em>USUÁRIO</em> que tenha sua conta suspensa ou cancelada pelo <em>Redu</em> não poderá realizar novo cadastro, exceto com a expressa anuência do <em>Redu</em>.</p>

      <p>Os <em>USUÁRIOS</em> reconhecem que são os únicos responsáveis pelos atos praticados com uso de suas respectivas contas de cadastro e comprometem-se a zelar pela segurança destas, devendo notificar o <em>Redu</em> caso verifiquem a ocorrência de acesso às suas contas, ou uso destas, sem suas devidas autorizações.</p>

      <p>É expressamente proibida a venda, cessão, aluguel ou a efetivação de qualquer outra forma de transferência da conta de cadastro do <em>USUÁRIO</em>, sendo esta de caráter personalíssimo e intransferível.</p>

      <span class="section">Das responsabilidades do usuário</span>

      <p>Cada <em>USUÁRIO</em> é integralmente responsável por todo e qualquer conteúdo que seja transmitido a um servidor, exibido, enviado por e-mail ou de qualquer outra forma disponibilizado através do Site.</p>

      <p>O <em>Redu</em> não controla o conteúdo disponibilizado através do Serviço e, como consequência, não garante a correção, integridade ou qualidade de tal conteúdo.</p>

      <span class="section">Da política de privacidade</em>

      <p>O <em>Redu</em> possui uma política expressa sobre a questão da privacidade online. As informações de registro e algumas outras informações sobre o <em>USUÁRIO</em> estão sujeitas ao tratamento referido em tal política de privacidade.</p>

      <p>Para maiores informações acerca da política de privacidade aplicável ao <em>Redu</em>, consultar a <em>Política de Privacidade</em> disponível neste endereço eletrônico, <a href="http://www.redu.com.br/privacy" title="Política de Privacidade">http://www.redu.com.br/privacy</a>.</p>

      <span class="section">Da propriedade intelectual</span>

      <p>Quaisquer criações intelectuais constantes do site da <em>Redu</em> sobre as quais incidam direitos autorais ou de propriedade industrial, tais como textos, imagens, marcas, logotipos, base de dados ou layouts, pertencem ao Site, sendo vedada a terceiros sua reprodução sem prévia autorização por escrito do respectivo proprietário, sob pena de aplicação das sanções previstas na legislação cabível.</p>

      <p>O <em>USUÁRIO</em> afirma deter os direitos autorais ou de propriedade industrial sobre qualquer conteúdo que venha a enviar, postar ou exibir dentro da plataforma do <em>Redu</em>.</p>

      <span class="section">Das sanções</span>

      <p>O <em>Redu</em> poderá suspender ou cancelar, em caráter temporário ou definitivo, conta de cadastro de <em>USUÁRIO</em> que infrinja das disposições contidas neste instrumento, sem prejuízo das medidas judiciais cabíveis.</p>

      <span class="section">Das disposições gerais</span>

      <p>Este instrumento será regido pelas disposições legais brasileiras em vigor aplicáveis.</p>

      <p>No caso de qualquer termo ou condição do presente contrato ou de seus anexos ser considerado inválido ou ineficaz, a validade ou eficácia do remanescente do presente contrato não será afetada.</p>

      <p>O não-exercício por qualquer das partes de qualquer dos direitos que para si resultem do presente contrato não constituirá, nem será considerado, uma renúncia ou perda dos referidos direitos.</p>

      <p>O <em>Redu</em> reserva-se o direito de, a qualquer tempo, alterar as disposições constantes dos  <em>TERMOS DE USO</em>, visando aprimorar os serviços prestados aos seus <em>USUÁRIOS</em>. As alterações a este instrumento entrarão em vigor 10 (dez) dias após sua publicação no site da <em>Redu</em>. Neste prazo, deverão os <em>USUÁRIOS</em> que não concordem com as alterações comunicar sua posição ao <em>Redu</em>, que procederá ao cancelamento da conta de cadastro do <em>USUÁRIO</em>, caso não existam dívidas em aberto. A não manifestação dentro do prazo implica a aceitação tácita das alterações.</p>

      <span class="section">Do foro</span>

      <p>Para dirimir quaisquer dúvidas ou questões quanto à interpretação e à aplicação das cláusulas e condições contratuais aqui assentadas, as partes elegem o foro da Comarca de Recife, no estado de Pernambuco, com renúncia expressa a qualquer outro por mais privilegiado que seja.</p>

      <p>Atualizado pela última vez em: <em>março de 2012</em></p>
    </div>
  </div>
</div>
