<li id="<%= item.id %>-lecture" class="asset-item clearfix">
  <div class="index">
    <%= item.position %>
  </div>
  <span class="name">
    <%= link_to item.name,
          space_subject_lecture_path(@space, @subject, item)  %>
  </span>
  <span class="headlines">
    <span class="things">
      <%= truncate(item.description, :length => 150) %>
    </span>
  </span>
  <span class="headlines">
    <ul class="item_info">
      <li><strong>Tipo:</strong> <%#= item.friendly_type %> | </li>
      <li><strong>Professor:</strong> <%= link_to item.owner.display_name,
            user_path(item.owner) %></li>
    </ul>
  </span>
</li>
