<%  form_remote_for [@space, @subject],
  :loading => "$('#spinner-form').show()",
  :success => "$('#spinner-form').hide()" do |f| %>
  <div class="">
    <% field_set_tag :subject.l do %>
      <%= hidden_field_tag 'space_id', @space.id %>
      <%= f.label :title, :title.l %>
      <%= f.text_field :title %>
      <%= error_for :subject, :title %>

      <%= f.label :description, :description.l %>
      <%= f.text_area :description, :class => 'subject-description' %>
      <%= render :partial => 'shared/limit_char_field',
        :locals => { :class_textarea => "subject-description" }%>
      <%= error_for :subject, :description %>
      <%= f.label :tag_list, :tag_list.l %>
      <%= f.text_field :tag_list %>

      <% if @subject.published? %>
        <div class="box_notice">
          Você não pode editar o conteúdo do módulo, pois ele está publicado. Para despublicá-lo,
          clique <%= link_to 'aqui', unpublish_space_subject_path(@space, @subject),
                    :confirm => "Ao despublicar um módulo, todas as matrículas serão perdidas." + \
                    " Tem certeza?" %>.
        </div>
        <%= render :partial => 'lectures/item_created', :collection => @subject.lectures,
          :locals => { :published => true } %>
      <% else %>
        <%= render :partial => 'lectures/item_created', :collection => @subject.lectures,
          :locals => { :published => false } %>
      <% end %>
      <% if action_name == 'edit' %>
        <%= render :partial => 'lectures/choose_type' %>
      <% end %>
      <%= error_for :subject, :lectures %>

      <% if action_name == 'new' %>
        <%= f.submit "Adicionar", :id => "add_button" %>
        <%= f.submit "Criar", :id => "create_button", :style => "display: none;" %>
        <%= link_to_function "Cancelar",
          "$('#new_subject').remove(); $('#link-new-subject').show();",
          :id => "cancel_link" %>
      <% else %>
        <%= link_to_function "Adicionar",
          "jQuery('#lectures_types').show(); jQuery(this).hide()",
          :id => 'add_link'
        %>
        <%= f.submit "Salvar" %>
        <% unless @admin_panel %>
          <%= link_to_function "Voltar",
            "$('#edit_subject_#{@subject.id}').remove(); $('#content').show();",
            :id => "cancel_link" %>
          <%= link_to "Deletar",
            space_subject_path(@space, @subject),
            :method => :delete,
            :confirm => "Você tem certeza que deseja deletar deste módulo? Todas as informações serão perdidas."  %>
        <% end %>
      <% end %>
        <%= image_tag 'spinner.gif', :id => 'spinner-form', :style => 'display: none;'  %>
    <% end %>
  </div>
<% end %>
