<%  form_remote_for [@space, @subject] do |f| %>
  <div class="">
    <% field_set_tag :subject.l do %>
      <%= hidden_field_tag 'space_id', @space.id %>
      <%= f.label :title, :title.l %>
      <%= f.text_field :title %>
      <%= error_for :subject, :title %>
      <%= f.label :description, :description.l %>
      <%= f.text_area :description %>
      <%= error_for :subject, :description %>
      <%= f.label :tag_list, :tag_list.l %>
      <%= f.text_field :tag_list %>

      <% if action_name == 'edit' %>
        <%= render :partial => 'lectures/choose_type' %>
      <% end %>
      <%= error_for :subject, :lectures %>

      <%= render :partial => 'lectures/item_created', :collection => @subject.lectures %>

      <% if action_name == 'new' %>
        <%= f.submit "Adicionar", :id => "add_button" %>
        <%= f.submit "Criar", :id => "create_button", :style => "display: none;" %>
        <%= link_to_function "Cancelar",
          "$('#new_subject').remove(); $('#link-new-subject').show();",
          :id => "cancel_link" %>
      <% else %>
        <%= link_to_function "Adicionar",
          "jQuery('#lectures_types').show(); jQuery(this).hide()",
          :id => 'add_link' %>
        <%= f.submit "Salvar" %>
        <%= link_to_function "Voltar",
          "$('#edit_subject_#{@subject.id}').remove(); $('#content').show();",
          :id => "cancel_link" %>
      <% end %>
    <% end %>
  </div>
<% end %>
