<%# Locals: space e subject %>
<div id="hierarchy-header" class="clearfix subject-header">
  <span class="parent">
    <%= link_to subject.space.course.environment.initials_or_name,
      environment_path(subject.space.course.environment)%> /
    <%= link_to subject.space.course.name,
      environment_course_path(subject.space.course.environment, subject.space.course)%>
  </span>
  <span class="parent subject-name">
    <%= link_to subject.space.name, space_path(subject.space) %> /
  </span>

  <h3 class="call name lecture-name">
    <%= link_to subject.name, space_subject_path(subject.space, subject) %>
  </h3>

  <% unless subject.description.blank? %>
    <div class="details">
      <span class="description icon-bio-gray_16_18-before">
        <%= subject.description %>
      </span>
    </div>
  <% end %>
</div><!-- end #hierarchy-header -->
