<%# Locals: space e subject %>
<div id="hierarchy-header" class="clearfix subject-header">
  <span class="parent">
    <%= link_to subject.space.course.environment.initials_or_name,
      environment_path(subject.space.course.environment)%> /
    <%= link_to subject.space.course.name,
      environment_course_path(subject.space.course.environment, subject.space.course)%>
  </span>
  <span class="parent subject-name">
    <%= link_to subject.space.name, space_path(subject.space) %> /
  </span>

  <h3 class="call name lecture-name">
    <%= link_to subject.title, space_path(subject.space) %>
  </h3>

  <% unless subject.description.blank? && subject.tags.empty? %>
    <div class="details">
      <% unless subject.description.blank? %>
        <span class="description icon-bio-gray_16_18-before">
          <%= subject.description %>
        </span>
      <% end %>
      <% unless subject.tags.empty? %>
        <ul class="tags icon-tag-gray_16_18-before clearfix <%= subject.description.empty? ? "" : "separator" %>" >
          <% subject.tags.each do |tag| %>
            <li>
              <%= link_to tag, nil %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div><!-- end #hierarchy-header -->
