<%# Locals: space e subject %>
<div id="hierarchy-header" class="clearfix subject-header">
  <span class="parent">
    <%= subject.space.course.environment.initials_or_name %> / <%= subject.space.course.name %>
  </span>
  <h3 class="call name">
    <%= subject.space.name %> /
    <span class="subject-name"><%= subject.title %></span>
  </h3>

  <% unless subject.description.blank? && subject.tags.empty? %>
    <div class="details">
      <% unless subject.description.blank? %>
        <span class="description icon-bio-gray_16_18-before">
          <%= subject.description %>
        </span>
      <% end %>
      <% unless subject.tags.empty? %>
        <ul class="tags icon-tag-gray_16_18-before clearfix <%= subject.description.empty? ? "" : "separator" %>" >
          <% subject.tags.each do |tag| %>
            <li>
              <%= link_to tag, nil %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div><!-- end #hierarchy-header -->
