<li class="clearfix">
  <% if(can? :manage, item) %>
    <%= link_to 'Editar', edit_space_subject_path(item.space, item),
      :class => "edit icon icon-management-gray_8_8" %>
  <% end %>
  <%= link_to item.title, space_subject_path(item.space, item),
    :class => 'name' %>
  <% if item.recent? %>
    <span class="new">Novo</span>
  <% end %>
  <% if !item.visible? %>
    <span style="color: #C02200; font-weight: bold; font-size: 0.7em;">INVISÍVEL</span>
  <% end %>
  <span class="description"><%= item.description %></span>
  <ul class="tags clearfix">
    <% item.tags.each do |tag| %>
      <li>
        <%= link_to tag.name, space_subjects_path(item.space) %>
      </li>
    <% end %>
  </ul>
  <span class="expand replacement">Mais detalhes</span>
  <div class="details" style="display: none;">
    <strong>Recursos</strong>
    <ul class="resources">
      <%= render :partial => 'lectures/item_preview',
        :collection => item.lectures %>
    </ul>
  </div>
</li>
