<li class="child clearfix">
  <% if(can? :manage, item) %>
    <%= link_to 'Editar', edit_space_subject_path(item.space, item),
      :class => "manage icon-manage-gray_8_10-before" %>
    <% if item.visible? %>
      <span class="visible icon-small icon-visible-gray_16_18 replacement">Visível para os alunos</span>
    <% end %>
  <% end %>
  <%= link_to item.name, "#",
    :class => 'subject-name name icon-content-lightblue_32_34-before' %>
  <% item_graduated = item.graduated? current_user %>
  <% user_association_item = current_user.get_association_with(item) %>
  <% if item_graduated %>
    <span class="graduated icon-small icon-confirm-green_16_18 replacement">Módulo finalizado</span>
  <% end %>
  <% if item.recent? %>
    <span class="new">Novo</span>
  <% end %>
  <% if !item_graduated && !user_association_item.nil?  %>
    <span class="grade">(<%= user_association_item.grade.to_i %>% cursado)</span>
  <% end %>
  <p class="description"><%= item.description %></p>
  <span class="expand icon-small icon-expand_down-gray_16_18 replacement">Mais detalhes</span>
  <ol class="lectures clearfix" style="display: none;">
    <strong class="title icon-lecture-gray_16_18-before">Aulas (<%= item.lectures.length %>)</strong>
    <%= render :partial => 'lectures/item_preview',
      :collection => item.lectures, :locals => {:subject => item} %>
  </ol>
</li>
