<li class="child clearfix">
  <% if(can? :manage, item) %>
    <%= link_to 'Editar', edit_space_subject_path(item.space, item),
      :class => "manage icon-manage-gray_8_10-before" %>
    <% if item.visible? %>
      <span class="visible icon-small icon-visible-gray_16_18 replacement">Visível para os alunos</span>
    <% end %>
  <% end %>
  <%= link_to item.title, "#",
    :class => 'subject-name name icon-content-lightblue_32_34-before' %>
  <% if item.graduated? current_user %>
    <span class="graduated icon-small icon-confirm-green_16_18 replacement">Módulo finalizado</span>
  <% end %>
  <% if item.recent? %>
    <span class="new">Novo</span>
  <% end %>
  <% if !item.graduated?(current_user) &&
    !current_user.get_association_with(item).nil?  %>
    <span class="grade">(<%= current_user.get_association_with(item).student_profile.grade.to_i %>% cursado)</span>
  <% end %>
  <p class="description"><%= item.description %></p>
  <ul class="tags clearfix">
    <% item.tags.each do |tag| %>
      <li>
        <%= link_to tag.name, space_subjects_path(item.space) %>
      </li>
    <% end %>
  </ul>
  <span class="expand icon-small icon-expand_down-gray_16_18 replacement">Mais detalhes</span>
  <ul class="lectures clearfix" style="display: none;">
    <strong class="title icon-lecture-gray_16_18-before">Aulas (<%= item.lectures.count %>)</strong>
    <%= render :partial => 'lectures/item_preview',
      :collection => item.lectures %>
  </ul>
</li>
