<% field_set_tag "Recurso", :class => "fields lazy-assets" do %>
  <div class="existent">
    <%= f.radio_button :existent, false, :class => "new" %>
    <%= f.label :existent, "Novo", :class => "inline tooltipable",
          :title => "Será criada posteriormente" %>
    <%= f.radio_button :existent, true, :class => "exist"%>
    <%= f.label :existent, "Existente", :class => "inline tooltipable",
          :title => "Copiar aula de outro módulo" %>
  </div>
  <div class="hide new-form">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name, :size => 40 %>

    <% field_set_tag  "Tipo" do%>
      <%= f.radio_button :lazy_type, "Page" %>
      <%= f.label :lazy_type, "Página Simples", :class => "inline tooltipable",
            :title => "Conteúdo de leitura rápida como um tutorial ou uma página simples" %>
      <%= f.radio_button :lazy_type, "Document" %>
      <%= f.label :lazy_type, "Apresentação (PowerPoint ou PDF)", :class => "inline" %>
      <%= f.radio_button :lazy_type, "Seminar" %>
      <%= f.label :lazy_type, "Vídeo-aula", :class => "inline tooltipable",
            :title => "Aula multimídia, podendo ser vídeo, aúdio ou slides."%>
      <%= f.radio_button :lazy_type, "Exam" %>
      <%= f.label :lazy_type, "Exame Simples", :class => "inline tooltipable", 
            :title => "Simulado com questões de multipla escolha"%>
    <% end %>
  </div>

  <div class="hide exist-form">
    <%= f.label :assetable_id, 'Copiar aula já existente' %>
    <%= f.hidden_field :assetable_id, :class => "assetable_id" %>
    <%= f.hidden_field :assetable_type, :class => "assetable_type" %>
    <% if user_assets.empty? %>
      <div class="box_notice">Você não possui nenhum recurso. Crie um novo!</div>
    <% else %>
       <%= select_tag(:assetable_id, options_for_select(user_assets),
                     :class => "existent-asset") %>
    <% end %>
  </div>

  <%= f.hidden_field :_destroy %>
  <a href="#" class="remove">remover</a>
<% end %>

