<% field_set_tag "Recurso", :class => "fields lazy-assets" do %>
  <%= f.label :name, "Nome" %>
  <%= f.text_field :name, :size => 40 %>

  <% field_set_tag  "Tipo" do %>
    <%= f.radio_button :lazy_type, "Page" %>
    <%= f.label :lazy_type, "Página Simples", :class => "inline" %>
    <%= f.radio_button :lazy_type, "InteractiveClass" %>
    <%= f.label :lazy_type, "Aula passo-a-passo", :class => "inline" %>
    <%= f.radio_button :lazy_type, "Seminar" %>
    <%= f.label :lazy_type, "Vídeo-aula", :class => "inline" %>
    <%= f.radio_button :lazy_type, "Exam" %>
    <%= f.label :lazy_type, "Exame Simples", :class => "inline" %>
  <% end %>
  <%= f.hidden_field :_destroy %>
  <a href="#" class="remove">remover</a>
<% end %>
