<% unless lazy_item.existent? %>
  <li class="clearfix">
    <% assetable = lazy_item.new_assetable %>
    <% if assetable.nil? %>
      <% unless lazy_item.lazy_type.eql?('Exam') %>
        <%= link_to lazy_item.name,
              new_space_subject_lecture_path(@space,
                                             @subject,
                                             :name => lazy_item.name,
                                             :type => lazy_item.lazy_type,
                                             :lazy => lazy_item.id),
                :class => "name" %>
        <%= link_to "Concluir criação",
              new_space_subject_lecture_path(@space,
                                             @subject,
                                             :name => lazy_item.name,
                                             :type => lazy_item.lazy_type,
                                             :lazy => lazy_item.id),
                :class => "button finalize" %>
      <% else %>
        <%= link_to lazy_item.name,
              new_space_subject_exam_path(@space,
                                          @subject,
                                          :type => lazy_item.lazy_type,
                                          :lazy => lazy_item.id,
                                          :name => lazy_item.name),
                :class => "name" %>
        <%= link_to "Concluir criação",
              new_space_subject_exam_path(@space,
                                          @subject,
                                          :type => lazy_item.lazy_type,
                                          :lazy => lazy_item.id,
                                          :name => lazy_item.name),
                :class => "button finalize" %>
      <% end %>
      <span class="headlines">
        <ul class="item_info">
          <li><strong>Tipo:</strong> <%= lazy_item.friendly_type %></li>
        </ul>
      </span>
    <% else %>
      <%# space_subject_assetable é um helper  %>
      <%= link_to assetable.name,
            space_subject_assetable_path(@space,
                                         @subject,
                                         assetable),
            :class => "name" %>
      <%= link_to "Finalizado",
            space_subject_assetable_path(@space,
                                         @subject,
                                         assetable),
            :class => "button finalized" %>
      <span class="headlines">
        <ul class="item_info">
          <li><strong>Tipo:</strong> <%= assetable.asset.friendly_type %></li>
        </ul>
      </span>
    <% end %>
  </li>
<% end %>
