<script>
	jQuery(document).ready(function(){
  //se o botãoo fechar for clicado
        $('.close').click(function(e){
            //cancela o comportamento padrão do link
            e.preventDefault();
            $('#lights-dimmed, .modal_window').hide();
        });
        
	 });	
	 
	 function contentPopup(type){
		$('div.add-topic-inner').hide();
		$('.selected').removeClass('selected');
		$('#lights-dimmed').fadeIn(); 
		if(type == "Lecture"){
		 $('#dialog').show(); 
		}
		else{
			$('#dialog_exam').show();
		}
		
	 }
	
	 
	 function addContent(link, thecontent){
	 	$('.nothing').hide();
	 	$('#subject_content').append(thecontent);
		$(link).parent().remove();
	 }
	 
	 
	
</script>




<div class="grid_9 push_3">
<table class="booking_steps" cellpadding="0" cellspacing="0">
							<tbody><tr>
								<td><span class="book_step disabled"><span><em>1</em>Informações Gerais</span></span></td>
								<td class="spacer">&nbsp;</td>
								<td><span class="book_step current"><span><em>2</em>Conteúdo</span></span></td>
								<td class="spacer">&nbsp;</td>
								<td><span class="book_step disabled"><span><em>3</em>Publicação</span></span></td>
							</tr>
						</tbody></table>
</div>

<div class="grid_9">
<%= f.error_messages %>
</div>

<%= hidden_field_tag("step", "lecture")%>

<div id="menu_bar" class="grid_16">
    <div class="add-topic-outter" style="float:left;">
        <a id="add_topic_link" href="#" onclick="$('div.add-topic-inner').toggle(); $(this).toggleClass('selected'); return false;">Inserir</a>
        <div class="add-topic-inner menudiv">
            <ul class="selectable">
                <li>
                	<%= link_to_function (image_tag 'icons/iclass.gif', :title => 'Aula') + 'Aula', "contentPopup('Lecture')"  %>
                </li>
                <li>
                	<%= link_to_function (image_tag 'icons/exam.gif', :title => 'Exame') + 'Exame', "contentPopup('Exam')" %>
                </li>
            </ul>
        </div>
    </div>
    <div style="text-align:right; margin-right: 10px;">
        <%= image_tag 'spinner.gif', :id => 'save-spinner', :style => 'display: none' %>
        <span class="snippet" id="save_info"></span>
    </div>
</div>

<!--Conteudo Selecionado-->


<div class="grid_10">

<% field_set_tag 'Conteúdo selecionado', :style => "margin-top:40px;" do %>
	
	
	<ul id="subject_content" class="default sortable" style="min-height:300px;">
 
     <!-- Aulas-->
		<% unless (session[:subject_id].nil? || current_user.subjects.find(session[:subject_id]).aulas.nil?) %>
		
		<ul class="sortable clearfix"><!--sortable-->    
		 <%  current_user.subjects.find(session[:subject_id]).aulas.each do |aula|%>
	      	
		
		          <li class="clearfix">
			        <span class="call"><span style ="background:none repeat scroll 0 0 #FFFFDF; color:orange;"><%= aula.name%></span></span>
			         <div style="background-color: #eef; border: 3px solid #eee; height: 100px; padding: 15px;">
					
		                 <%= check_box_tag "aulas[]", aula.id, true%>
                        <div class="thumb photo">
                          <%= aula.name%><% link_to(image_tag aula.thumb_url, :width => "70px") %>
	                   </div>
			   
			           <div class="headlines" style="width: 490px"> 
				        <span class="things">
				         <%= truncate_words( aula.description, 10, '...') %>
				       </span>
			         </div>	
			
			      </div>	
		         </li> 
		    
		
		<%end%><!--loop aulas-->
		<ul/><!--Fim sortable-->	
		
		<%else%>
		<span class="nothing snippet">Nenhuma aula adicionada ainda.</span>
		<%end%>
		<!-- Fim Aulas-->
		
		
      <!-- Exames-->
		<% unless session[:subject_id].nil?  || current_user.subjects.find(session[:subject_id]).exames.nil?%>
 
		
		     <%  current_user.subjects.find(session[:subject_id]).exames.each do |exam|%>
		
		        <li class="clearfix">
			
		            <%= check_box_tag "exams[]", exam.id, true%>
                    <div class="thumb photo">
                       <%= exam.name%><% link_to(image_tag "FOTO", :width => "70px") %>
	                </div>
			   
			        <div class="headlines" style="width: 490px"> 
				      <span class="things">
				        <%= truncate_words( exam.description, 10, '...') %>
				     </span>
			       </div>		
		       </li> 	
		<%end%>
		
		<%else%>
		<span class="nothing snippet">Nenhuma exame adicionada ainda.</span>
		<%end%>
	 <!-- Fim Exames-->
		
	</ul>

<% end %>

</div>

<!--Fim Conteudo Selecionado-->
<div class="grid_6">
	<div class="y_addinfo">
                                <div class="addinfocontent">
                                    <h1>
                                       Adicione aulas e exames</h1>
                                    <p>
                                    	Ao adicionar um conteúdo para este curso, o Redu criará automaticamente uma 
										cópia da aula ou exame original permitindo com que você edite este conteúdo 
										sem alterar o conteúdo original.
                                    </p>
																			
                                </div>
                            </div>
</div>

 <div id="lights-dimmed">
     <div id="dialog" class="modal_window grid_12">
         <a href="#" class="close">Fechar [X]</a>
         <div id="dialog_content">
         <form>
             <% field_set_tag 'Aulas' do %>
             <ul>
                 <% current_user.lecture.each do |lecture| %><!--cursos tem ser filtrador pro usuuarios-->
                 <li id="add_lecture_<%=lecture.id%>">
                
                     <span><%= h(lecture.name) %></span>
 
					 <%= link_to_function "adicionar", "addContent(this,'"+escape_javascript(render("lectures/item_subject2", :lecture=> lecture ))+"')"%> 
					
 
					<% if !session[:subject_id].nil? && current_user.subjects.find(session[:subject_id]).aulas.map{|a| a.name}.include?(lecture.name) %>
					<b style="color:red">Já possui copia</b>
					<%end%>
 
 
                 </li>
                 <%end %>
             </ul>
             <%end %>
         </form>
			 
         </div>
     </div>

     <!--Lista de Exame-->

      <div id="dialog_exam" class="modal_window grid_12">
         <a href="#" class="close">Fechar [X]</a>
         <div id="dialog_content">
         <form>
             <% field_set_tag 'Exames' do %>
             <ul><!--exames tem ser filtrador pro usuuarios-->
                 <% current_user.exams.each do |exam| %>

                 <li id="add_lecture_<%=exam.id%>">

                     <span><%= h(exam.name) %></span>

					 <%= link_to_function "adicionar", "addContent(this,'"+escape_javascript(render("exams/item_exam", :exam => exam ))+"')"%> 

                 </li>
                 <%end %>
             </ul>
             <%end %>
         </form>

         </div>
     </div>


 </div>
