<%
title1 = titles.split('-')[0]
title2 = titles.split('-')[1]
%>


<div class="grid_9 push_3">
  <table class="booking_steps" cellpadding="0" cellspacing="0">
    <tbody><tr>
        <td><span class="book_step "><span><em>1</em><%= h title1 %></span></span></td>
        <td class="spacer">&nbsp;</td>
        <td><span class="book_step "><span><em>2</em><%= h title2 %></span></span></td>
        <td class="spacer">&nbsp;</td>
        <td><span class="book_step current"><span><em>3</em>Publicação</span></span></td>
      </tr>
    </tbody></table>
</div>




<div class="grid_16">

  <% field_set_tag 'Visibilidade' do %>
    <%= f.label "Pública <span class='snippet'>(Visível em todo o Redu)</span>" %>
    <% unless session[:subject_id].nil? %>
      <%= f.check_box :is_public, :checked => current_user.subjects.find(session[:subject_id]).is_public?   %>
    <%else%>
      <%= f.check_box :is_public %>
    <%end%>

  <%end%>

  <% field_set_tag 'Redes' do %>
    <%= f.select :school_id, current_user.schools.collect{|m|[m.name,m.id ]}, {:include_blank => true} %>
  <%end%>

</div>