<%# Form de Subject (e somente ele) %>
<span class="question question-blue_12_12 tiptip" title="O título aparecerá na página do modulo e nas listagens quando o mesmo for publicado"></span>
<%= f.label :title, t( :title ) %>
<%= f.text_field :title, { :class => 'big' } %>
<%= error_for :subject, :title %>

<span class="question question-blue_12_12 tiptip" title="Assuntos que serão abordados no módulo"></span>
<%= f.label :description, t(:description), :size => '10x30' %>
<%= f.text_area :description, :class => 'subject-description' %>
<%= render :partial => 'shared/limit_char_field',
  :locals => { :class_textarea => "subject-description",
               :limit => 250 }%>
  <%= error_for :subject, :description %>
<span class="question question-blue_12_12 tiptip" title="Termos que descrevem o módulo. Quanto mais fieis ao conteúdo os termos forem, mais fácil será de encontrar o seu módulo."></span>
<%= f.label :tag_list, t(:tag_list), { :class => 'big' } %>
<%= f.text_field :tag_list %>

