<%# Form de Subject (e somente ele) %>
<%= f.label :title, "Nome", :class => "icon-content-gray_32_34-before" %>
<%= f.text_field :title, { :class => 'big' } %>
<span class="tip">Nome do módulo</span>
<%= concave_errors_for(f.object, :title) %>

<%= f.label :description, t(:description) %>
<%= f.text_area :description, :class => 'subject-description' %>
<span class="tip">Informações acerca do módulo e suas aulas</span>
<%= render :partial => 'shared/limit_char_field',
  :locals => { :class_textarea => "subject-description",
               :limit => 250 }%>
<%= concave_errors_for(f.object, :description) %>

<%= f.label :tag_list, raw("#{t(:tag_list)} <span class='snippet'>(separadas por vírgula)</span>"), { :class => 'big' } %>
<%= f.text_field :tag_list %>
<span class="tip">Palavras-chave que caracterizam o módulo e suas aulas</span>
