<div class="grid_5 omega sidebar">
   <% if @subject.published? && !current_user.enrolled?(@subject) %>
     <%= link_to "Matricule-se", enroll_space_subject_path(@space, @subject),
       :class => "button" %>
   <% else %>
     <% if current_user.enrolled?(@subject) and
      current_user.get_association_with(@subject).student_profile.graduaded? %>
       <%= link_to "Desmatricular", unenroll_space_subject_path(@space, @subject),
         :confirm => "Tem certeza? Todas as suas informações vinculadas a este módulo serão perdidas.",
         :class => "button" %>
     <% end %>
   <% end %>
   <ul class="sortable">
    <li class="clearfix">
      <span class="call"><span>Palavras-chave</span></span>
      <ul class="tags">
        <% for tag in @subject.tags %>
          <li><span><%= tag.name %></span></li>
        <% end %>
      </ul>
    </li>
    <li class="clearfix">
      <span class="call"><span>Quem já cursou (<%= @subject.graduated_members.size %>)</span></span>
      <div class="followship box clearfix">
        <ul class="clearfix">
          <%= render :partial => 'spaces/member_short', :collection => @subject.graduated_members, :as => :member %>
        </ul>
      </div><!-- end followship -->
    </li>
  </ul>
</div>
