<%
title1 = titles.split('-')[0]
title2 = titles.split('-')[1]
%>

<div class="grid_9 push_3">
  <table class="booking_steps" cellpadding="0" cellspacing="0">
    <tbody><tr>
        <td><span class="book_step current"><span><em>1</em><%= h title1 %></span></span></td>
        <td class="spacer">&nbsp;</td>
        <td><span class="book_step disabled"><span><em>2</em><%= h title2 %></span></span></td>
        <td class="spacer">&nbsp;</td>
        <td><span class="book_step disabled"><span><em>3</em>Publicação</span></span></td>
      </tr>
    </tbody></table>
</div>




<div class="grid_16">

  <% field_set_tag 'Informações Curso' do %>
    <%= f.label "Título" %>
    <%= f.text_field :title%>
    <%= error_message_on @subject, :title %>
  
    <%= f.label "Descrição" %>
    <%= f.text_area :description%>
    <%= error_message_on @subject, :description %>

  <%end%>




</div>