<script type="text/javascript">

$(document).ready(function(){
                    $('#subject_description').keyup(function(){
                                                      limitChars('subject_description', <%=AppConfig.desc_char_limit %>, 'char_limit');
                    })
});
</script>

<div class="grid_9 push_3">
<table class="booking_steps" cellpadding="0" cellspacing="0">
<tbody><tr>
<td><span class="book_step current"><span><em>1</em>Informações Gerais</span></span></td>
<td class="spacer">&nbsp;</td>
<td><span class="book_step disabled"><span><em>2</em>Conteúdo</span></span></td>
  <td class="spacer">&nbsp;</td>
  <td><span class="book_step disabled"><span><em>3</em>Publicação</span></span></td>
  </tr>
  </tbody></table>
  </div>

  <div class="grid_9">
  <%= f.error_messages %>
  </div>

  <%= hidden_field_tag("step", "subject")%>

  <div class="grid_9">

  <% field_set_tag 'Informações Gerais' do %>
    <%= f.label "Nome" %>
    <%= f.text_field :title  %>
    <%= error_message_on @subject, :title %>

    <%= f.label "Descrição" %>
    <%= f.text_area :description, :size => "50x3", :maxlength=> AppConfig.desc_char_limit %>
    <div id="char_limit" style="text-align:right;">(<%=AppConfig.desc_char_limit %>)</div>
    <%= error_message_on @subject, :description %>

   	<%= f.label :beginning, "Início:" %>
	<%= f.text_field :start_time %>
	
   	<%= f.label :end, "Fim:" %>
	<%= f.text_field :end_time %>
	<%= error_message_on @subject, :end_time %>
	

    <%= f.label "Tags <span class='snippet'>(separadas por vírgula)</span>" %>
    <%= f.text_field :tag_list %>

    <%# f.select(:simple_category%>
    <%= f.label "Categoria:" %>
    <%= simple_categories_i18n(f) %>
    <%= error_for :subject, :simple_category %>

  <% end %>


  <% field_set_tag 'Audiência' do %>
    <span class="snippet">Selecionar um público que não corresponde ao propósito da rede pode levar à uma má avaliação. </span>
    <%= error_for :subject, :audiences %>
    <ul>
    <% for audience in Audience.find(:all) %>
    <li>
    <%= check_box_tag "subject[audience_ids][]", audience.id, @subject.audiences.include?(audience) %>
    <%= audience.name %>
    </li>
  <% end %>
  </ul>
<% end %>


</div>

<script type="text/javascript">

		$(function() {
			$("#subject_start_time").datetimepicker();
			$("#subject_end_time").datetimepicker();
		});
</script>
