<script type="text/javascript">

  $(document).ready(function(){
      $('#subject_description').keyup(function(){
        limitChars('subject_description', <%=AppConfig.desc_char_limit %>, 'char_limit');
        })
      });
</script>

<div class="grid_9 push_3">
  <table class="booking_steps" cellpadding="0" cellspacing="0">
    <tbody><tr>
        <td><span class="book_step current"><span><em>1</em>Informações Gerais</span></span></td>
        <td class="spacer">&nbsp;</td>
        <td><span class="book_step disabled"><span><em>2</em>Conteúdo</span></span></td>
        <td class="spacer">&nbsp;</td>
        <td><span class="book_step disabled"><span><em>3</em>Publicação</span></span></td>
      </tr>
  </tbody></table>
</div>

<div class="grid_9">
  <%= f.error_messages %>
</div>

<%= hidden_field_tag("step", "subject")%>

<div class="grid_9">

  <% field_set_tag 'Informações Gerais' do %>
    <%= f.label "Nome" %>
    <%= f.text_field :title  %>
    <%= error_message_on @subject, :title %>

    <%= f.label "Descrição" %>
    <%= f.text_area :description, :size => "50x3", :maxlength=> AppConfig.desc_char_limit %>
    <div id="char_limit" style="text-align:right;">(<%=AppConfig.desc_char_limit %>)</div>
    <%= error_message_on @subject, :description %>

    <%= f.label "Tags <span class='snippet'>(separadas por vírgula)</span>" %>
    <%= f.text_field :tag_list %>
  <% end %>
</div>
