
<%= hidden_field_tag("step", "subject")%>

<% field_set_tag 'Informações Gerais' do %>
  <%= f.label "Nome" %>
  <%= f.text_field :title, :size => 50 %>
  <%= error_message_on @subject, :title %>

  <%= f.label "Descrição" %>
  <%= f.cktext_area :description, :width=>'620px' %> 
  <%= error_message_on @subject, :description %>

  <%= f.label "Tags <span class='snippet'>(separadas por vírgula)</span>" %>
  <%= f.text_field :tag_list %>
<% end %>
