<div id="breadcrumbs"><b><strong><%= link_to "Cursos", admin_subjects_path %></strong></b> > <b><strong><%= h @subject.title%></strong></b> </div>

<h3>Curso:<i><%= @subject.title%><i/><h3/>


    <h1>Dados Gerais:</h1>	
    <ul>
      <% if @subject.is_public?%>
        <li>Público:Sim</li><br />
      <%else%>
        <li>Público:Não<li><br /> 
        <%end%>
      <li>Descrição:<i><%= @subject.description%><i/></li><br />
      <li>Autor:<i><%= @subject.owner.login%><i/></li><br />
      <% unless @subject.school.nil? %>
        <li>Rede:<i><%= @subject.school.name%><i/></li><br />	
      <%else%>
        <li>Rede:<i>Não está associado!<i/></li><br />		
      <%end%>
     <li>Data Incio:<i><%= @subject.start_time.nil? ? " não definida" : to_pt_BR_format(@subject.start_time)%><i/></li><br />
	<li>Data Final:<i><%= @subject.end_time.nil? ? " não definida" : to_pt_BR_format(@subject.end_time)%><i/></li><br />
	
      <li>Vagas:<i><%= @subject.limit.nil? ? "não definida" : @subject.limit %><i/></li><br />

    </ul>	
    <br /> 	
    <h1>Aulas</h1>	
    <ul>

      <% @subject.aulas.each do |aula|%>
        <li><%= link_to aula.name, course_path(aula) %></li>	
      <%end%> 
    </ul>

    <h1>Exames</h1>	
    <ul>
      <% @subject.exames.each do |exame|%>
        <li><%= exame.name%></li>	
      <%end%>
    </ul>

    <h1>Alunos</h1>	
    <ul>
      <% @subject.enrolled_students.each do |student|%>
        <li><%= student.login%></li>	
      <%end%>
    </ul>


    <h1>Eventos</h1>	
    <ul>
      <%= render :partial => 'events/list', :collection => @subject.events, :as => :event %>
    </ul>
    <h1>Noticias</h1>	
    <ul>

      <%= render :partial => 'bulletins/list', :collection => @subject.bulletins, :as => :bulletin , :locals => { :is_index => false, :is_school_from_show => false }%>
    </ul>

    <h1>Alunos Graduados</h1>	
    <ul>
      <% @subject.graduaded_students.each do |student|%>
        <li><%= student.login%></li>	
      <%end%>
    </ul>

    <h1>Alunos cursando</h1>	
    <ul>
      <% @subject.under_graduaded_students.each do |student|%>
        <li><%= student.login%></li>	
      <%end%>
    </ul>

 <h1>Uploads</h1>	
    <ul>
      <% @subject.subject_files.each do |file|%>
        <li><%= file.attachment_file_name%></li>	
      <%end%>
    </ul>


