<% content_for :header_scripts_and_styles do %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js" %>
  <script type="text/javascript" charset="utf-8">
  // Altera a ordem dos recursos.
  $(document).ready(function(){
      $( ".sortable tbody" ).sortable({
        stop: function(event, ui) {
        var lectures_ordered = $(this).sortable('toArray');
        $('.assets').val(lectures_ordered);
        }
      });
      $(".sortable li:odd").addClass("odd");
  })
  </script>
<% end %>
<%= render :partial => "subjects/sidebar" %>
<div class="main grid_12 omega big-col">
  <%= render :partial => 'subjects/breadcrumbs', :locals => { :subject => @subject } %>
  <%= render :partial => 'subjects/header',
    :locals => { :subject => @subject, :space => @space } %>
  <div id="subject-edit" class="hierarchy-listing-wrapper">
    <div class="header">
      <h4>Gerenciamento</h4>
      <span class="counter">Informações gerais do módulo <%= @subject.title %></span>
    </div>

    <%= fake_tabs ["Informações", edit_space_subject_path(@space, @subject), { :class => "icon icon-management-gray_16_16" } ],
      ["Recursos", admin_lectures_order_space_subject_path(@space, @subject), { :class => "icon icon-resource-lightblue_16_16" } ],
      ["Membros", admin_members_space_subject_path(@space, @subject), { :class => "icon icon-members-gray_16_16" } ] do %>

      <div class="actions">
        <%= link_to "Novo recurso", new_space_subject_lecture_path(@space, @subject),
          :class => "button" %>
      </div>

      <% unless @subject.lectures.empty? %>
        <div class="pretty-text"><strong>Arraste as aulas para alterar a ordem destas no módulo!</strong></div>
        <div class="lazy_list clearfix">
          <table class="common spaced default sortable subject-assets">
            <thead>
              <tr>
                <th width="8%">Ordem</th>
                <th width="60%">Nome</th>
                <th colspan="2">Gerenciamento</th>
              </tr>
            </thead>
            <tbody id="resources_list">
              <%= render :partial => "subjects/asset_item",
                :collection => @subject.lectures, :as => :item ,
                :locals => { :space => @space, :subject => @subject } %>
            </tbody>
          </table>
        </div>

        <div class="actions">
          <% form_tag admin_lectures_order_space_subject_path do %>
            <%= hidden_field_tag 'lectures_ordered', nil, :class => "assets" %>
            <%= submit_tag 'Salvar alterações' %>
          <% end %>
        </div>

      <% else %>
        <div class="box_notice">Este módulo não possui recursos.</div>
      <% end %>

    <% end %>
  </div><!-- end #subjec-edit -->
</div><!-- end .main -->
