<% if @subject.errors.any? %>
  var $form = $('#new_subject');

  <%# Mostra todos os erros %>
  var $errors = $('<ul \>');
  <% @subject.errors.full_messages.each do |error| %>
    $errors.append("<li><%= escape_javascript(error) %></li>");
  <% end %>

  var $errorsExplanation = $form.find('.errorExplanation');
  $errorsExplanation.find('ul').replaceWith($errors);
  $errorsExplanation.show();

  <%# Mostra os errors individualmente %>
  var $titleError = $('#subject_title-error');
  $titleError.html("<%= escape_javascript(@subject.errors[:title].join(",")) %>");
  $titleError.show();

  var $descError = $('#subject_description-error');
  $descError.html("<%= escape_javascript(@subject.errors[:description].join(",")) %>");
  $descError.show();
<% else %>
  <%# Adaptando o form para ir para Subjects#update %>
  $('#new_subject').get(0).setAttribute('action', '<%= space_subject_path(@space, @subject) %>');
  var $authenticity_token = $('input[name=authenticity_token]');
  $('<input/>', {'name': '_method', 'type': 'hidden', 'value': 'put'}).insertAfter($authenticity_token);

  $('#errorExplanation').hide();
  $('#subject_title-error').hide();
  $('#subject_description-error').hide();


  $('#add_button').remove();
  $('#create_button').show();

  <%# Colocando botões para fora do form devido ao layout. %>
  var $buttons = $('#create_button, #cancel_link').remove();
  $('<div/>', {'class': 'form-common', 'id': 'add-resources'}).append($buttons).insertAfter('#new_subject');
  $("#create_button").click(function(){ $("#new_subject").submit(); return false; });

  var $lecturesIndex = $('#lectures_index, #subject_lectures-error').remove();
  $('<div/>', {'class': 'new-subject form-common'}).append($lecturesIndex).insertAfter('#new_subject');
  $('#subject_lectures-error').after("<%= escape_javascript(render :partial => 'lectures/choose_type', :locals => { :subject => @subject, :space => @space}) %>");
<% end %>
