<%= render :partial => "subjects/sidebar" %>
<div class="main grid_12 omega big-col">
  <%= render :partial => 'subjects/breadcrumbs', :locals => { :subject => @subject } %>
  <%= render :partial => 'subjects/header',
    :locals => { :subject => @subject_header, :space => @space } %>
  <div id="subject-edit" class="hierarchy-listing-wrapper">
    <div class="header">
      <h4>Gerenciamento</h4>
      <span class="counter">Informações gerais do módulo <%= @subject_header.title %></span>
    </div>

    <% fake_tabs ["Informações", edit_space_subject_path(@space, @subject), { :class => "icon icon-management-lightblue_16_16" } ],
      ["Recursos", admin_lectures_order_space_subject_path(@space, @subject), { :class => "icon icon-resource-gray_16_16" } ],
      ["Membros", admin_members_space_subject_path(@space, @subject), { :class => "icon icon-members-gray_16_16" } ] do %>

        <% form_for [@space, @subject],
            :html => { :class => "common", :multipart => true } do |f| %>
          <%= render :partial => "subjects/raw_form", :locals => { :f => f } %>
          <%= f.submit "Salvar alterações" %>
          <%= link_to "Remover",
            space_subject_path(@space, @subject),
            :method => :delete,
            :class => "remove",
            :confirm => "Você tem certeza que deseja deletar deste módulo? Todas as informações serão perdidas."  %>
          <%= render :partial => "subjects/visible_invisible",
              :locals => { :space => @space, :subject => @subject } %>
        <% end %>
        
    <% end %>
  </div><!-- end #subjec-edit -->
</div><!-- end .main -->
