<div class="grid_16">
  <%= render :partial => "spaces/sidebar", :locals => {:space => @space} %>

  <div class="main grid_12 omega">
    <div class="fake-tabs">
      <%= render :partial => 'spaces/taskbar' %>

      <div id="content">
        <%= link_to_remote "Novo Módulo", :url => new_space_subject_path(@space),
          :method => :get,  :html => { :id => 'link-new-subject' } %>
        <%= render :partial => "subject_list"%>
        <%= will_paginate @subjects, :renderer => EndlessRenderer %>
      </div>
    </div>
  </div>
</div>
