<% content_for :js do %>
  <script type="text/javascript">
    function select(type, id) {
      jQuery('#'+ type+'_' + id).parent().children().removeClass('selected')
        jQuery('#'+ type+'_' + id).addClass('selected')
        loadList();

    }

function loadList(){
  jQuery('#subject_list').html(' ')
    jQuery('#loader').show()
}
/* pega os filtros selecionados e passa-os como parametro */
function getParameters(){

  return ''

    var params = ''
    jQuery('.selected').each(function(i) {
        var id = $(this).attr('id').split('_')
        if (id[1] != 'all' && typeof(id[0]) != 'undefined' && typeof(id[1]) != 'undefined') {
        if (id[0] == 'cat') id[0] = 'category';

        params += id[0] + '=' + id[1];
        }

        })
  alert(params)
    return params;
}
</script>
<% end %>

<div class="grid_16">
  <!--
  <div id="breadcrumbs">
    <% if @space%>
      <a href="<%=application_url%>">início</a> > <a href="#">redes</a> > <%= link_to @space.name, @space%> > aulas
    <% else %>
      <a href="<%=application_url%>">início</a> > <a href="#">aprender</a> > aulas
    <%end %>
  </div>
  -->

  <h3> Cursos</h3>
</div>




<div class="grid_4 calls" id="filter">
  <!--
  <span class="call"><span>Refinar</span></span>
  -->
  <form>
    <% field_set_tag "Categoria" do %>
      <ul class="criteriaList">
        <li id ="cat_all" class="selected">
          <%= link_to_remote "Todas", :url => {:action => :index}, :loading => "select('cat','all')", :method => :get%>
        </li>

        <% for category in SimpleCategory.all do %>
          <li id = "cat_<%=category.id%>">
            <%= link_to_remote category_i18n(category.name), :url => {:action => :index, :category => category.id}, :loading => "select('cat','"+category.id.to_s+"')", :with => "getParameters()",:method => :get%>
          </li>
        <% end %>

      </ul>
    <% end %>
  </form>


  <form>
    <% field_set_tag "Audiência" do %>
      <ul class="criteriaList">

        <li id ="audience_all" class="selected">
          <%= link_to_remote "Todas", :url => {:action => :index}, :loading => "select('audience','all')", :method => :get%>
        </li>

        <% for audience in Audience.all(:limit =>5) do %>
          <li id = "audience_<%=audience.id%>">
            <%= link_to_remote (audience.name), :url => {:action => :index, :audience => audience.id}, :loading => "select('audience','"+audience.id.to_s+"')", :with => "getParameters()",:method => :get%>
          </li>
        <% end %>

      </ul>
    <% end %>
  </form>



  <form>
    <% field_set_tag "Ordem" do %>
      <ul class="criteriaList">

        <li id = "sort_recent" class="selected">
          <%= link_to_remote "Mais recentes", :url => {:action => :index, :sort => 'updated_at'}, :loading => "select('sort','recent')", :method => :get%>
        </li>

        <li id = "sort_view">
          <%= link_to_remote "Mais vistos", :url => {:action => :index, :sort => 'view_count'}, :loading => "select('sort','view')", :method => :get%>
        </li>

        <li id = "sort_rating">
          <%= link_to_remote "Melhores avaliados", :url => {:action => :index, :sort => 'rating_average'}, :loading => "select('sort','rating')", :method => :get%>
        </li>
      </ul>
    <% end %>
  </form>
</div>


<span class="grid_12 filter_bar">
  <span class="filter_text">
    <%= (params[:search]) ? ("Resultados para: \""+params[:search]+"\"") : "Todas os cursos mais recentes" %>
  </span>

  <% form_tag subjects_path, :method => :get do %>
    Buscar
    <%= text_field_tag :search, params[:search] %>
    <%= hidden_field_tag(:space_id, @space.id) if @space%>
    <%= submit_tag "OK", :name => nil%>
  <% end %>

</span>

<%= image_tag "loadingAnimation.gif", :id => "loader", :style => "display: none"%>
<div id="subject_list" class="grid_12">

  <%= render :partial => "subject_list"%>
</div>



