<div id="breadcrumbs"><b><strong><%= link_to "Cursos", subjects_path %></strong></b> > <b><strong>Novo Curso</strong></b>  </div>

<%  form_for(:subject, :url => subjects_path, :html => {:id => "form_subject"} ) do |f| %>

<p><%= render :partial => "#{@subject.current_step}_step", :locals=>{:f => f, :titles => "Criar Curso-Adicionar Aulas"}%></p><br /><br />

<div class="grid_16">
<br /><%= f.submit "< Anterior", :name => "back_button" unless @subject.first_step? %><%= f.submit "Próximo >" unless @subject.last_step? %>
 
ou <%= link_to "Cancelar", cancel_subjects_path %>
 
</div>
<%end%>
