<%= render :partial => 'spaces/sidebar', :locals => { :space => @space } %>
<div class="main grid_12 omega big-col">
  <%= render :partial => "spaces/breadcrumbs", :locals => { :space => @space } %>
    <div id="hierarchy-header" class="clearfix space-header">
      <span class="prefix">
        <% if @space.course.environment.initials == '' %>
          <%= @space.course.environment.name %>
        <% else %>
          <%= @space.course.environment.initials %>
        <% end %>
        > <%= @space.course.name  %>
    </span>
    <h3 class="call space-name"><%= @space.name %></h3>
    <div class="grid_9 alpha">
      <span class="description">
        <%= @space.description %>
      </span>
      <ul class="tags clearfix">
        <% @space.tags.each do |tag| %>
          <li>
            <%= link_to tag,
              space_path(@space) %>
          </li>
        <% end %>
      </ul>
    </div>
    <ul class="statistics grid_3 omega">
      <li>
        <em class="icon icon-teacher-gray_16_16">Professores:</em>
        <span><%= @space.teachers.length %></span>
      </li>
      <li>
        <em class="icon icon-tutor-gray_16_16">Tutores:</em>
        <span><%= @space.tutors.length %></span>
      </li>
      <li>
        <em class="icon icon-student-gray_16_16">Alunos:</em>
        <span><%= @space.students.length %></span>
      </li>
    </ul>

  </div><!-- end #hierarchy-header -->
  <div id="space-subjects" class="hierarchy-listing-wrapper">
    <div class="header">
      <h4>Módulos</h4>
      <span class="counter">Novo módulo</span>
    </div>
  <%= render :partial => 'subjects/form' %>
  </div><!-- end #space-subjects -->
</div><!-- end .main -->
