<div id="breadcrumbs">
  <%= link_to "Cursos", subjects_path %> > Novo Curso
</div>

<script type="text/javascript" charset="utf-8">
//<![CDATA[
$(document).ready(function(){
    reload_assets_index()

    // Remove alternativa
    $("a.remove").live('click', function(e){
      $(this).prev("input[type=hidden]").val("1")
      $(this).parent(".fields").hide()
      reload_assets_index()
      e.preventDefault()
    })
})

// Adiciona numeração das questoes
function reload_assets_index(){
  $("fieldset.lazy-assets:not(:hidden) > legend").each(function(i){
    $(this).html("Recurso " + ($("fieldset.lazy-assets:not(:hidden) > legend").index(this) + 1))
  })
}

// Adiciona alternativas ou questões
function add_fields(link, association, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp("new_" + association, "g");
    $(link).before(content.replace(regexp, new_id));
    reload_assets_index()
}

//]]>
</script>

<%  form_for [@space, @subject] do |f| %>

  <%= render :partial => "#{@subject.current_step}_step",
    :locals => {:f => f, :titles => "Criar Curso-Adicionar Aulas"}%>

  <div class="grid_16">
    <%= f.submit "< Anterior", :name => "back_button" unless @subject.first_step? %>
    <%= f.submit "Próximo >" unless @subject.last_step? %>
    <%= f.submit "Finalizar", :onclick => "jQuery('#form_subject').submit();" if @subject.last_step? %>
    ou <%= link_to "Cancelar", cancel_subjects_path(:space_id => @space.id) %>
  </div>
<% end %>
