<div class="grid_16">
  <%= render :partial => 'subjects/publish_unpublish' %>
  <% unless @subject.published? %>
    <div class="box_notice">Este módulo ainda não foi publicado pois sua criação precisa ser finalizada. <%= link_to "Clique aqui", lazy_space_subject_path(@space, @subject) %> para finaliza-la.</div>
  <% end %>
  <div class="grid_11">
    <ul class="default">
      <li class="clearfix">
        <label class="name"><%= @subject.title %></label>

        <span class="call">Descrição:</span>
        <span class="things">
          <%= h @subject.description %>
        </span><br />

        <br /><b><%= link_to "Inscrever-se", enroll_space_subject_path(@space, @subject.id) %></b>

      </li>
    </ul>
  </div><!-- end grid_11 -->

</div>
