<% content_for :page_id, 'group' %>
<%- @meta = { :description => "Curso \"#{@subject.title}\" no  #{AppConfig.community_name}.", :keywords => "#{@subject.title}, #{@subject.tags.join(", ") unless @subject.tags.nil?}", :robots => AppConfig.robots_meta_show_content }%>

<% unless @subject.published? %>
  <div class="box_notice">Este módulo ainda não foi publicado pois sua criação precisa ser finalizada. <%= link_to "Clique aqui", lazy_subject_path(@subject) %> para finaliza-la.</div>
<% end %>
<%= render :partial => 'subjects/publish_unpublish' %>
<script type="text/javascript">
  var subjectFoldersPath = "<%# space_folders_path(:space_id => @space.id.to_s) %>";

  var $subjecttabs;

  $(document).ready(function() {

    $subjecttabs = $(".subject-tabs").tabs({});
  });
</script>

<%= render :partial => "subjects/sidebar", :locals => {:subject => @subject, :percetage => @percentage} %>

<div class="main grid_12">
  <div class="subject-tabs tabs">
    <ul>
      <li><a href="#tabs-1">Início</a></li>
      <li><a href="#tabs-2">Atividades</a></li>
    </ul>

    <div id="tabs-1" class="clearfix first-page">

      <div>
        <% field_set_tag 'Conteúdo selecionado', :style => "margin-top:40px;" do %>
          <ul id="subject_content" class="default sortable" style="min-height:300px;">

            <% @subject.assets.each do |asset|%>

              <%= render :partial => "lectures/item_subject", :locals => {:lecture=> asset.assetable}%>
            <% end %>

          </ul>
        <% end %>
      </div>

    </div><!-- end tab1 -->

    <div id="tabs-2">
      <%= javascript_include_tag 'flow.js' %>
      <%= render :partial => "statuses/create_status", :locals => {:status => @status, :statusable => @subject }%>
      <ul class="activities">
        <%= render :partial => "statuses/type_proxy", :collection => @statuses, :as => :status, :locals => {:statusable =>@subject} %>
      </ul><!-- end activities -->

      <% unless @statuses.length < 10%>
        <div id="more">
          <%= link_to_remote "mais", :url => {:controller => :statuses, :action => :more, :id => @subject.id, :type => 'subject', :limit => 10}, :method =>:get, :loading => "$('#more').html('"+escape_javascript(image_tag('spinner.gif'))+"')"%>
        </div>
      <% end %>

    </div>

  </div><!-- end tabs -->
</div><!-- end main -->
