<%#
  Quase cópia de Spaces#show, sem paginação, lista vazia e
  com JS de scroll para o módulo.
%>

<% content_for :container_class do "entity-wrapper" end %>

<script>
  $(function() {
    $("body").animate({
      scrollTop: $("#subject-<%= @subject.id %>").offset().top - 75
    }, "slow");
  });
</script>

<div class="span3">
  <%= render "spaces/sidebar_new", space: @space, user: current_user %>
</div>
<div class="span13">
  <%= render "spaces/breadcrumbs_new", space: @space %>
  <div class="content-body">
    <%= render "spaces/header", space: @space %>

    <div class="content-section">
      <h3 class="header-breadcrumb-big icon-subject-gray_32_34-before">Aulas</h3>
    </div>

    <div class="content-section">
      <ul class="list-subject" style="clear: both;">
        <%= render partial: "bootstrap/list_subject_item",
          collection: @subjects, locals: { user: current_user } %>
      </ul>
    </div>
  </div>
  <%= render "spaces/breadcrumbs_new", space: @space %>
</div>