<%- @meta = { :description => "Curso \"#{@subject.title}\" no  #{AppConfig.community_name}.", :keywords => "#{@subject.title}, #{@subject.tags.join(", ") unless @subject.tags.nil?}", :robots => AppConfig.robots_meta_show_content }%>


<div class="grid_16" id="subject">
  <div class="fake-tabs grid_11 alpha omega">
    <%= render :partial => 'subjects/tabs_menu' %>
    <div class="panel">
        <%= javascript_include_tag 'flow.js' %>
        <%= render :partial => "statuses/create_status",
          :locals => {:status => @status, :statusable => @subject }%>
        <ul class="activities">
          <%= render :partial => "statuses/type_proxy",
            :collection => @statuses, :as => :status,
            :locals => {:statusable => @subject } %>
        </ul><!-- end activities -->

        <%= will_paginate @statuses, :renderer => EndlessRenderer,
          :class => "endless_statuses",
          :params => {:id => @subject.id, :type => 'Subject'} %>
    </div>
  </div>

  <%= render :partial => 'subjects/sidebar' %>
</div><!-- end grid_16 -->
