<h1>Listing abilities</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th>Weight</th>
  </tr>

<% @abilities.each do |ability| %>
  <tr>
    <td><%=h ability.name %></td>
    <td><%=h ability.value %></td>
    <td><%=h ability.weight %></td>
    <td><%= link_to 'Show', ability %></td>
    <td><%= link_to 'Edit', edit_ability_path(ability) %></td>
    <td><%= link_to 'Destroy', ability, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ability', new_ability_path %>