<%# Utilizado para a crição de um Course. A flag edit deve ser true quando o form
    estiver sendo utilizado para editar uma entrada já existente %>

<span class="course-path">
  openredu.ufpe.br<%= environment_path(@environment) %>/cursos/<span class="course-name strong"><%= @course.path %></span>
</span>

<%= f.label :name, "Nome" %>
<%= f.text_field :name %>
<%= concave_errors_for(f.object, :name) %>
<span class="tip">Nome do curso</span>
<%= f.label :workload, "Carga Horária" %>
<%= f.text_field :workload, :class => 'concave-nano' %>
<span class="hours">horas</span>
<span class="tip">Ex.: 60</span>
<%= f.label :path, "URL" %>
<%= f.text_field :path %>
<%= concave_errors_for(f.object, :path) %>
<span class="tip">Endereço eletrônico do curso</span>
<%= f.label :description, "Descrição" %>
<%= f.text_area :description, :size => '100x5' %>
<%= concave_errors_for(f.object, :description) %>
<span class="tip">Informações acerca do curso</span>
<%= f.label :tag_list, raw("Palavras-chave <span class='snippet'>(separadas por vírgula)</span>") %>
<%= f.text_field :tag_list %>
<span class="tip">Áreas de estudo e interesses relacionados ao curso</span>
<%= f.label :audiences, "Audiência" %>
<%= error_for :course, :audiences %>
<ul class="columns">
  <% for audience in Audience.find(:all) %>
    <li>
      <%= check_box_tag "course[audience_ids][]", audience.id, @course.audiences.include?(audience), :id => "course_audiences_ids_#{audience.id}" %>
      <%= label_tag "course_audiences_ids_#{audience.id}", audience.name %>
    </li>
  <% end %>
</ul>
<div class="clearfix">
  <%= f.label :subscription_type, raw("Inscrição <span class='snippet'>entrada dos membros</span>") %>
  <ul class="single-column">
    <li>
      <%= f.radio_button :subscription_type, "1", :checked => true %>
      <%= f.label :subscription_type_1, "Todos" %>
    </li>
    <li>
      <%= f.radio_button :subscription_type, "2" %>
      <%= f.label :subscription_type_2, "Entrada moderada" %>
    </li>
  </ul>
</div>
