<%# Utilizado para a crição de um Course. A flag edit deve ser true quando o form
    estiver sendo utilizado para editar uma entrada já existente %>

<span class="course-path">
  redu.com.br<%= environment_path(@environment) %>/cursos/<span class="course-name strong"><%= @course.path %></span>
</span>

<%= f.label :name, "Nome" %>
<%= f.text_field :name %>
<span class="tip">Nome do curso</span>
<%= f.label :workload, "Carga Horária" %>
<%= f.text_field :workload, :class => 'concave-nano' %>
<span class="hours">horas</span>
<span class="tip">Ex.: 60</span>
<%= f.label :path, "URL" %>
<%= f.text_field :path %>
<span class="tip">Endereço eletrônico do curso</span>
<%= f.label :description, "Descrição" %>
<%= f.text_area :description, :size => '100x5' %>
<span class="tip">Informações acerca do curso</span>
<%= f.label :tag_list, raw("Palavras-chave <span class='snippet'>(separadas por vírgula)</span>") %>
<%= f.text_field :tag_list %>
<span class="tip">Áreas de estudo e interesses relacionados ao curso</span>
<%= f.label :audiences, "Audiência" %>
<%= error_for :course, :audiences %>
<ul class="columns">
  <% for audience in Audience.find(:all) %>
    <li>
      <%= check_box_tag "course[audience_ids][]", audience.id, @course.audiences.include?(audience), :id => "course_audiences_ids_#{audience.id}" %>
      <%= label_tag "course_audiences_ids_#{audience.id}", audience.name %>
    </li>
  <% end %>
</ul>

<% unless @course.has_basic_content %>
  <div class="clearfix">
    <%= label_tag :basic_content, raw("Importar Conteúdo Básico <span class='snippet'>Ensino Médio</span>") %>
    <ul class="single-column">
      <li>
        <%= radio_button_tag :basic_content, "1" %>
        <%= label_tag :basic_content_1, "Sim" %>
        <span class="tiptip-right icon-small icon-question-blue_12_12" title="<%= "#{render 'courses/basic_content'}" %>"></span>
      </li>
      <li>
        <%= radio_button_tag :basic_content, "2", :checked => true %>
        <%= label_tag :basic_content_2, "Não" %>
      </li>
    </ul>
    <%= hidden_field_tag :base_course_id, Redu::Application.config.base_course['id'] %>
  </div>
<% end %>

<div class="clearfix">
  <%= f.label :subscription_type, raw("Inscrição <span class='snippet'>entrada dos membros</span>") %>
  <ul class="single-column">
    <li>
      <%= f.radio_button :subscription_type, "1", :checked => true %>
      <%= f.label :subscription_type_1, "Todos" %>
    </li>
    <li>
      <%= f.radio_button :subscription_type, "2" %>
      <%= f.label :subscription_type_2, "Entrada moderada" %>
    </li>
  </ul>
</div>

<% unless edit || @environment.plan %>
  <hr />
  <div class="clearfix">
    <%= label :plan, "Plano" %>
    <ul class="single-column course-plan">
      <li>
        <span class="plan-type">Professor</span>
      </li>
      <li>
        <%= radio_button_tag :plan, 'free', :checked => true %>
        <%= label_tag :plan_free, "Grátis" %>
        <span class="tiptip-right icon-small icon-question-blue_12_12" title="<%= "#{render 'plans/admin/details', :name => 'Professor', :type => 'Grátis', :plan => Plan.from_preset(:free)}" %>"></span>
      </li>
      <li>
        <%= radio_button_tag :plan, 'professor_lite' %>
        <%= label_tag :plan_professor_lite, "Lite" %>
        <span class="tiptip-right icon-small icon-question-blue_12_12" title="<%= "#{render 'plans/admin/details', :name => 'Professor', :type => 'Lite', :plan => Plan.from_preset(:professor_lite)}" %>"></span>
      </li>
      <li>
        <%= radio_button_tag :plan, 'professor_standard' %>
        <%= label_tag :plan_professor_standard, "Standard" %>
        <span class="tiptip-right icon-small icon-question-blue_12_12" title="<%= "#{render 'plans/admin/details', :name => 'Professor', :type => 'Standard', :plan => Plan.from_preset(:professor_standard)}" %>"></span>
      </li>
      <li>
        <%= radio_button_tag :plan, 'professor_plus' %>
        <%= label_tag :plan_professor_plus, "Plus" %>
        <span class="tiptip-right icon-small icon-question-blue_12_12" title="<%= "#{render 'plans/admin/details', :name => 'Professor', :type => 'Plus', :plan => Plan.from_preset(:professor_plus)}" %>"></span>
      </li>
    </ul>
  </div>
<% end %>
