<% if pending_members && pending_members.size > 0 %>
  <%= form_tag  moderate_members_requests_environment_course_path(@environment, @course),
    :method => :post, :class => "concave-form moderate-members-form" do %>
    <h3 class="form-header"><%= pending_members.count %> usuário(s) com inscrição pendente</h3>
    <table id="pending_member_list" class="moderate-members-table" >
      <thead style="display: none;">
        <th>Aceitar</th>
        <th>Recusar</th>
        <th>Membro</th>
      </thead>
      <%= render :partial => 'courses/admin/pending_member_item_admin', :collection => pending_members %>
    </table>
    <%= submit_tag "Salvar alterações" %>
    <%= paginate pending_members, :theme => 'endless' %>
  <% end %>
<% else %>
    <div class="box_notice">Não há solicitacões pendentes.</div>
<% end %>
