<tr>
  <td class="accept-row clearfix">
    <span>Aceitar</span>
    <div class="accept-radio">
      <%= radio_button_tag '[member]['+ pending_member_item_admin.user.id.to_s+']', 'approve' %>
    </div>
  </td>
  <td class="reject-row clearfix">
    <span>Recusar</span>
    <div class="reject-radio">
      <%= radio_button_tag '[member]['+ pending_member_item_admin.user.id.to_s+']', 'reject' %>
    </div>
  </td>
  <td>
    <div class="moderate-member">
      <%= image_tag pending_member_item_admin.user.avatar(:thumb_32),
        :class => "avatar" %>
      <div class="member-info">
        <span class="user">
          <%= link_to pending_member_item_admin.user.display_name,
            pending_member_item_admin.user,
            :rarget => "_blank" %>
        </span>
        <span class="email"><%= pending_member_item_admin.user.email %></span>
        <span class="date">Increveu-se em <%= l(pending_member_item_admin.created_at, :format => :admin) %></span>
      </div>
      <div class="member-spaces">
        <span class="icon-space-gray_16_18-before">
          Matriculado em <%= pending_member_item_admin.user.spaces.of_course(@course).count %> disciplina(s)
        </span>
      </div>
    </div>
  </td>
</tr>
