<tr id="user-<%= user_item_admin.user_id %>" class="row">
  <td class="cell checkbox-cell centered-cell">
      <%= check_box_tag 'users[]', user_item_admin.user.id, false,
        {:class => "autoCheck", :id => "remove-#{user_item_admin.user.id}"}  %>
  </td>
  <td class="cell member-cell">
    <%= image_tag user_item_admin.user.avatar(:thumb_32),
      :class => "avatar", :size => "32x32" %>
    <div class="member-info">
      <%= link_to user_item_admin.user.display_name, user_item_admin.user,
        :rarget => "_blank", :class => "member-name" %>
      <span class="member-detail">Último login em <%= user_item_admin.user.last_login_at && l(user_item_admin.user.last_login_at, :format => :admin) %></span>
      <span class="member-detail">Inscrito em <%= user_item_admin.created_at && l(user_item_admin.created_at, :format => :admin) %></span>
    </div>
  </td>
  <% role = Role[user_item_admin.role] %>
  <td class="cell role-info centered-cell"><span class="member-detail role icon-<%= role %>-gray_16_18-before"><%= Role.human_attribute_name(role) %></span></td>
  <td class="cell centered-cell">
    <span class="member-detail">
      <span class="icon-space-gray_16_18-before">
        Matriculado em <%= pluralize spaces_count, 'disciplina' %>
      </span>
    </span>
  </td>
</tr>
