<div class="content-section clearfix">
  <%= content_tag(:h3,
    "#{ @total_spaces } #{ t("hierarchy.space", count: @total_spaces) }",
    class: "entity-management-count") unless @spaces.empty? %>

  <%= link_to "Criar nova disciplina",
    new_space_path(course_id: @course.id),
    class: "button-primary pull-right" %>
</div>

<% if @spaces.empty? %>
  <%= render "shared/empty_message",
    icon_message: "Nenhuma Disciplina.",
    icon_class: "icon-space-empty_128_130",
    message: "Este Ambiente não possui nenhuma Disciplina." %>
<% else %>
  <div class="content-section">
    <ul class="entity-mangement-list">
      <%= render partial: 'spaces/admin/item_admin', collection: @spaces %>
    </ul>
  </div>
  <% if @spaces.total_pages > 1 %>
    <hr class="list-separator">
    <%= paginate @spaces, theme: "numbers", outer_window: 1, inner_window: 4 %>
    <hr class="list-separator">
  <% end %>
<% end %>