<%= render :partial => 'courses/sidebar',
    :locals => { :course => @course } %>
<div class="main grid_12 omega big-col">
  <%= render :partial => 'courses/breadcrumbs',
    :locals => { :course => @course } %>
  <%= render :partial => 'courses/admin/header',
    :locals => { :course => @course } %>
  <div id="course-manage" class="management body">
    <%= render :partial => "courses/admin/clean_header" %>
    <%= tabs :courses_admin do %>
      <%= subtabs :courses_admin do %>
        <% if @memberships && @memberships.size > 0 %>
          <%= form_tag search_users_admin_environment_course_path( @environment, @course), :remote => true, :class => "admin-filter-form" do %>
          <%= render :partial => 'shared/admin/filter_members_form' %>
          <% end %>
          <div id="user_list">
            <%= render :partial => 'courses/admin/user_list_admin',
              :locals => {:memberships => @memberships, :spaces_count => @spaces_count}%>
          </div>
        <% else %>
          <div class="box_notice">Não há usuários no curso.</div>
        <% end %>
        <%= paginate  @memberships, :theme => 'endless' %>
        <%= link_to "Sair", environment_course_path(@environment, @course), :class => "manage exit icon-manage-gray_8_10-before" %>
      <% end %>
    <% end %>
</div>
</div>
