<%= render :partial => 'shared/management_background' %>
<div class="management-sidebar">
  <%= render :partial => 'courses/sidebar',
    :locals => { :course => @course } %>
</div>
<div class="main grid_12 omega big-col management-wrapper">
  <%= render :partial => 'courses/breadcrumbs',
    :locals => { :course => @header_course || @course } %>
  <%= render :partial => 'courses/admin/header',
    :locals => { :course => @header_course || @course } %>
  <div id="course-manage" class="body management">
    <%= render :partial => 'courses/admin/clean_header' %>
    <%= tabs :courses_admin do %>
      <% if @course.plan %>
        <div class="plan-panel">
          <div class="plan-use">
            <span class="plan-type">Limites</span>
            <%= render :partial => "quotas/quotas_old",
              :locals => { :quota_file => @course.percentage_quota_file,
                           :plan => @course.plan,
                           :quota_multimedia => @course.percentage_quota_multimedia,
                           :quota_members => @course.percentage_quota_members,
                           :quota => @course.quota } %>
          </div>
        </div>
      <% end %>
      <%= form_for @course,
        :url => environment_course_path(@environment, @header_course || @course),
        :html => { :class => "concave-form" } do |f| %>
        <%= concave_error_messages_for @course %>
        <%= render :partial => 'courses/admin/form', :locals => { :f => f, :edit => true } %>
        <%= f.submit "Salvar alterações" %>
        <% if @course.published? %>
          <%= link_to 'Despublicar curso', unpublish_environment_course_path(@environment, @course),
            :confirm => 'Você tem certeza que deseja deixar este curso invisível?',
            :class => "concave-clean" %>
        <% else %>
          <%= link_to 'Publicar', publish_environment_course_path(@environment, @course),
            :confirm => 'Você tem certeza que deseja deixar este curso visível?',
            :class => "concave-clean" %>
        <% end %>
        <%= link_to 'Remover curso', environment_course_path(@environment, @course),
          :confirm => 'Você tem certeza que deseja remover este curso?', :method => :delete,
          :class => "concave-remove" %>
      <% end %>
      <%= link_to "Sair", environment_course_path(@environment, @header_course || @course),
        :class => "manage exit icon-manage-gray_8_10-before" %>
    <% end %>
  </div>
</div>
