<h1>Editing access_key</h1>

<% form_for(@access_key) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </p>
  <p>
    <%= f.label :expiration_date %><br />
    <%= f.date_select :expiration_date %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @access_key %> |
<%= link_to 'Back', access_keys_path %>