<script>

//TODO validar numero de chaves > 0
function requestKeysToSchool(schoolId){
	var keysNumber = $('keys_number').val();//document.geteleme
	alert('você solicitou '+keysNumber +' chaves para a escola: '+schoolId);
}

function showRequestKeysBox(){
		document.getElementById('request_keys_link').style.display = 'none';
        document.getElementById('request_keys_box').style.display = 'inline';
}

function selectAll(){
	//$('select_all_link').hide();
	//$('select_all_string').show();
	var checkboxes = document.getElementsByName("ids[]");
	for (var i =0; i< checkboxes.length; i++) {
		checkboxes[i].checked = true;
	}
	
}

function selectNone(){
	var checkboxes = document.getElementsByName("ids[]");
	for (var i =0; i< checkboxes.length; i++) {
		checkboxes[i].checked = false;
	}
}

function selectNewExpirationDate(){
	return confirm("selecionou opcao 1 e data válida?");
}

function changeOption(optionSelect){
	//var optionSelect = document.getElementById('option');
	
	var option = optionSelect.selectedIndex;
	//alert(option);
	if (option == 0) { // Renovar prazo
	document.getElementById('exp_date_box').style.display = 'inline';
	document.getElementById('role_box').style.display = 'none';
	
	} else if (option == 1) { // Renovar chave
	
	document.getElementById('role_box').style.display = 'none';
	document.getElementById('exp_date_box').style.display = 'none';
	} else if (option == 2) { // Mudar papel
		document.getElementById('exp_date_box').style.display = 'none';
		document.getElementById('role_box').style.display = 'inline';
	}
	
}

function validateForm(){
	var optionSelected = document.getElementById('option').optionSelect.selectedIndex;
	if (optionSelected == 1) { // Renovar chave
		return confirm('As chaves selecionadas serão substituídas por novas chaves com mesmo prazo de validade. Confirma?')
	} else {
		return true;
	}
	
}

function showRequestKeysForm(){
		document.getElementById('request_keys_link').style.display = 'none';
        document.getElementById('request_keys_form').style.display = 'inline';
}


</script>

<h1>Listando chaves de <%= @school.name %></h1>

<p>
	<% if current_user %>
		<% if (current_user.school_admin?(@school)) %>Solicitar senhas
		<!--
			<a href="#" id="request_keys_link" onclick="javascript:showKeysSchoolBox();return false;">Solicitar senhas...</a>
		-->
		<% elsif (current_user.admin?) %>
			<a href="#" id="request_keys_link" onclick="javascript:showRequestKeysForm();return false;">Garantir senhas</a>
		<% end %>
		
		<div id="request_keys_form" style="display: none;">
			<% form_tag :action => :grant_keys_to_school, :school_id => @school do %>
			Number: <%= text_field_tag :number %>
			Expiration date: <%= select_date Date.today, :prefix => :exp_date, :discard_day => true, :start_year => Time.now.year %> 
			<%= submit_tag "OK" %>
			<% end %>
		</div>
		
	<% end %>
	
	
	
	
	<!--
	
	<div id="request_keys_box" style="display:none;">
		    Número de chaves: 
			<input type="text" id="keys_number" maxlength="5" size="5"/>
			Data de expiração:
			< calendar_date_select :start_time, :time => true, :popup => "force" >
		    <button onclick="requestKeysToSchool(<%= @school.id %>);">
		        OK
		    </button>
	</div>
	-->
 
</p>


Ordenar:
<% form_tag :action => :sort_keys, :id => @school do %>
<%= select_tag(:sort_by, options_for_select([['Data de expiração', 1], ['Nome de aluno', 2], ['Papel', 3]], 1)) %>
<%= select_tag(:order, options_for_select([['Dec', 1], ['Cre', 2]], 1)) %>
<%= submit_tag "OK"%>
<% end %>

<% form_tag({:action => :manage_keys, :id => @school}, {:onSubmit => 'return validateForm();', :method => "get"}) do %>

Selecionar: 
<a href="#" id="select_all_link" onclick="javascript:selectAll();return false;">Todas</a> | 
<a href="#" id="select_none_link" onclick="javascript:selectNone();return false;">Nenhuma</a>
<BR>
| Ação:
<%= select_tag(:option, options_for_select([['Renovar prazo', 1], ['Renovar chave', 2], ['Mudar papel', 3]], 1), :onchange => "changeOption(this);") %>

<div id="exp_date_box">
Expiration date: <%= select_date Date.today, :prefix => :exp_date, :discard_day => true, :start_year => Time.now.year %> 
</div>
<div id="role_box" style="display: none">
Papel: 
<%= select_tag(:role_id, options_from_collection_for_select(Role.find(:all, :conditions => ['school_role = ?', true]), :id, :name))%>
</div>
<%= submit_tag("OK") %> 


<BR>
<hr>

<div id="school_keys_list" style="min-height: 200px">
	
<% if @user_school_associations && @user_school_associations.length > 0 %>

<table>
  <tr>
  	<th></th>
    <th>Chave</th>
	<th>Usuário</th>
	<th>Papel</th>
    <th>Data de expiração</th>
  </tr>
<% @user_school_associations.each do |association| %>
  <tr>
  	<td><%= check_box_tag("ids[]",association.id) %></td>
  	<td><%=h association.access_key.key %></td>
    <td>
    	<%=h association.user ? association.user.login : 'livre' %>
	</td>
	<td>
    	<%=h association.role.name %>
	</td>
    <td><%=h association.access_key.expiration_date %></td>
  
     </tr>
<% end %>
</table>
<% else %>

Esta escola não possui chaves ainda. 

<% end %> 

<% end %> 
 
</div>

