<script>
	function switchResourceFields(fieldType){
		//alert(fieldType.value);
		
		// fieldType = 1 Upload
		// fieldType = 2 External link
		if (fieldType == 1) {
			document.getElementById("upload_resource_field").style.display = "block";
			document.getElementById("external_resource_field").style.display = "none";
		} else {
			document.getElementById("upload_resource_field").style.display = "none";
			document.getElementById("external_resource_field").style.display = "block";
		}
		
	}

</script>

<%= f.label "Título" %>: <br/>
<%= f.text_field :title %> <br/><br/>

<%= f.label "Descrição" %>:  <br/>
<%= f.text_area :description, :size => "50x3" %><br/><br/>

<%= f.label "Tags (separado por vírgula)" %>: <br/>
<%= f.text_field :tag_list %> <br/><br/>

<fieldset>
	<legend>Tipo de Material</legend>
<%= f.radio_button :external_resource_type, :upload, {:onchange => "switchResourceFields(1);"} %>
  <%= f.label :external_resource_type_upload, "Upload" %>	
  <%= f.radio_button :external_resource_type, :link, {:onchange => "switchResourceFields(2);"} %>
  <%= f.label :external_resource_type_link, "Link" %><br/><br/>
  

<div id="upload_resource_field" style="display:none;">
<%= f.label :media, "Upload de Material" %><br/>
<%= f.file_field :media  %><br/><br/>
</div>

 <div id="external_resource_field" style="display:none;">
<%= f.label :external_resource, "Link para página" %><br/>
<%= f.text_field :external_resource  %><br/><br/>
</div>

</fieldset>	