<div id="item">
    <div id="title">
        <%= link_to resource.name, resource %>
    </div>
    <div id="resource_thumb">
    	<% if resource.external_resource_type == "clipping" %>
        <%= link_to image_tag("icon_web_48.png", :border => 0), resource %>
		<% else %>
		<%= link_to image_tag("icon_pdf_48.png", :border => 0), resource %>
		<% end %>
    </div>
    <div id="identification">
        <ul id="identification_resource">
            <li>
                <%= link_to resource.owner.display_name, user_path(resource.owner) %>
            </li>
            <li>
                |
            </li>
            <li>
                Criado: <%= time_ago_in_words(resource.created_at) %>
            </li>
        </ul>
    </div>
    <% if resource.description %>
    <div id="description">
        <%= (resource.description[0..250] + "...") if resource.description.length > 250 %>
    </div>
    <% end %>
    <div id="identification">
        <ul id="identification_resource">
            <li>
                <strong>Categoria:</strong>
                Matemática
            </li>
            <li>
                |
            </li>
            <li>
                <strong>Tags:</strong>
                <%= resource.tag_list %>
            </li>
        </ul>
    </div>
    <!--
    <div id="actions">
    <ul id="actions_resource">
    <li><a href="#" class="share">Compartilhar</a></li>
    <li>|</li>
    <li><a href="#" class="download">Download</a></li>
    </ul>
    </div>
    -->
    <div id="ratting">
        <ul id="ratting_menu">
            <li>
                <%= ratings_for resource, :static %>
            </li>
            <li class="evaluation_rating">
                Avaliações(<%= resource.rates.count %>)
            </li>
        </ul>
    </div>
</div>
