<% if logged_in? %>
<div id="task_bar_exames">
    <%= link_to 'Novo Material', :action => 'new' %> | 
	<%= link_to 'Meus Materiais', published_user_resources_path(current_user.id) %> |
	<!--
    | <%= link_to 'Materiais Favoritos' , :action =>'show_favorites', :id => current_user %>
	-->
	<%= link_to 'Materiais Favoritos', favorites_resources_path %>
	
	<% if current_user.admin? %>
		| <%= link_to 'Moderar Materiais', waiting_resources_path, :class => "link_remove" %>
	<%end%>

</div>
<% end %>

