<h1>Criando comentário</h1>

<% form_for(@resource.comment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </p>
  <p>
    
  </p>
  <p>
    <%= f.submit 'OK' , {:action => :add_comment}%>
  </p>
<% end %>

<%= link_to 'Show', @resource %> |
<%= link_to 'Back', resources_path %>