<h1>Editing resource</h1>

<% form_for(@resource) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <% if not @resource.external_resource.nil? %>
  	<p>
  	<%= f.label :external_resource %>
  	<%= f.text_field :external_resource %>
  	</p>
  <% end %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @resource %> |
<%= link_to 'Back', resources_path %>
