<h1>Listing resources</h1>

<table>
  <tr>
    <th>Título</th>
	 <th>Tipo</th>
	  <th>Ratings</th>
  </tr>

<% @resources.each do |resource| %>
  <tr>
    <td><%=h resource.title %></td>
	<td><%=h resource.media_content_type %></td>
	<td> <%= ratings_for resource, :static %></td>
    <td><%= link_to 'Show', resource %></td>
    <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
    <td><%= link_to 'Destroy', resource, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo material', new_resource_path %>