<h1>Listando materiais uploadeados por <%= @user.login %></h1>

<p>
		<div id="local_search_form">
		<!-- render :partial => "resources/search" -->
		</div>
</p>

<%= render :partial => "resources/sort" %>
<hr>

<div id="local_search_results" style="min-height: 200px">

 <% if @resources && @resources.length > 0 %>
 <%= render :partial => 'resources/item', :collection => @resources, :as => :resource %> 
 <% else %>
 Não há materiais uploadeados ainda. 
 <% end %>

</div>



<br />
<%= link_to 'Materiais', resources_path %> |
<%= link_to 'Novo material', new_resource_path %>