<div id="all_content3">
<div id="col_content">
<div id="breadcrumbs"><a href="<%=application_url%>">home</a> > <a href="#">aprender</a> > <a href="#">exames</a> </div>
<div id="title">MEUS MATERIAIS PUBLICADOS
<%= render :partial => "resources/taskbar" %>
</div>
	
<!-- LISTAGEM RECURSO ############################################################################################################################################## -->

	<div id="filter_bar">
		
	    <span id="title_list" class="title_list"> MAIS RECENTES</span>
	    <span class="title_filter">Ordenar:</span>
	
	      
    </div>
    <div id="all_list">
    	
		<% if @resources && @resources.length > 0 %>
 			<%= render :partial => 'resources/item', :collection => @resources, :as => :resource %> 
 		<% else %>
 			Não há materais auxiliares publicados ainda. <%= link_to 'Crie um agora!', :action => 'new' %>
		<% end %>
    	
    </div> <!-- fim da listagem --> 
	
	 
    
<!-- PAGINACAO ##################################################################################################################################################### -->
    <div id="pagination" align="center">

    	<%= will_paginate  @resources, :params => {:sort_by => @sort_by}, :class => "pagination_number"  %>
    </div>
	
</div>

<!-- COLUNA DIREITA ################################################################################################################################################ -->
<div id="col_box3">
<% if current_user %>
	<% @logs = current_user.log_activity %>
	<%= render :partial => 'logs/log', :locals => {:logs => @logs} %>
	<% else %>
	<%= render :partial => 'logs/not_logged_in', :locals => {:logs => @logs} %>
	<% end %>
<%# render :partial => 'exams/tagcloud' %>
</div> <!-- fim da coluna da direita --> 
</div>
