<p>
  <b>Name:</b>
  <%=h @resource.name %>
</p>

<p>
  <b>file:</b>
  <%=h @resource.attachment_file_name %> ( <%= link_to('Download', ('../system/attachments/' + @resource.id.to_s + '/original/' + @resource.attachment_file_name)) %>)
</p>
<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>