
<h1>Titulo: <%= @resource.title %></h1>
<p>Descrição: <%= @resource.description %></p>


<%= ratings_for @resource %>


<% if @resource.video? or @resource.external_resource %>
<%= render :partial => "resources/video" %>
<% else %>
 <%= link_to "Download", @resource.media.url %>
 <% end %>
  


<hr>
Comentários:
<%= render :partial => "comments/comment" , :collection => @resource.comments %>
<BR>
<hr>
<%= render :partial => 'comments/comment_form', :locals => {:commentable => @resource} %>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
