<div id="all_content3">
<div id="col_content">
	<div id="breadcrumbs"><a href="<%=application_url%>">home</a> > <a href="#">aprender</a> > <a href="#">aulas</a> </div>
 	<div id="title">MATERIAIS NÃO PUBLICADOS
	<%= render :partial => "resources/taskbar" %>
	</div>
	<div id="filter_bar">
		
	    <span id="title_list" class="title_list">PUBLICADAS</span>
	    <span class="title_filter">Ordenar:</span>
	      
    </div>
    <div id="all_list">
    	
		<% if @resources && @resources.length > 0 %>
 			<%= render :partial => 'resources/item', :collection => @resources, :as => :resources %> 
 		<% else %>
 			Não há materiais auxiliares publicados ainda. <%= link_to 'Crie um agora!', :action => 'new' %>
		<% end %>
    	
    </div> <!-- fim da listagem --> 

</div>
<div id="col_box3">
	<% if current_user %>
	<% @logs = current_user.log_activity %>
	<%= render :partial => 'logs/log', :locals => {:logs => @logs} %>
	<% else %>
	<%= render :partial => 'logs/not_logged_in', :locals => {:logs => @logs} %>
	<% end %>
	</div>
</div>

