<%# Informações do plano, variráveis locais são :plan, :name, :type %>
<span class="name"><%= name %>:</span>
<span class="type"><%= type %></span>

<ul class="features">
  <li><%= plan.members_limit %> membros;</li>
  <li><%= number_to_human_size(plan.file_storage_limit, :precision => 0) %> de armazenamento de documentos;</li>
  <li><%= number_to_human_size(plan.video_storage_limit, :precision => 0) %> de armazenamento de vídeo.</li>
</ul>

<% if type == 'Grátis' %>
  <ul class="pricing">
    <li><span class="value">3 meses grátis</span></li>
  </ul>
<% else %>
  <ul class="pricing">
    <% if plan.membership_fee %>
      <li><span class="value"><%= number_to_currency plan.membership_fee %></span> <span class="period">(adesão)</span></li>
      <li>+ <span class="value"><%= number_to_currency plan.price %></span> <span class="period">/mês</span></li>
    <% else %>
      <li><span class="value"><%= number_to_currency plan.price %></span> <span class="period">/mês</span></li>
    <% end %>
    <li>ou <span class="value"><%= number_to_currency plan.yearly_price %></span> <span class="period">/ano</span></li>
  </ul>
<% end %>

