<%# Informações do plano, variráveis locais são :plan, :name, :type %>
<span class="name"><%= name %>:</span>
<span class="type"><%= type %></span>

<ul class="features">
  <li><%= number_to_human_size(plan.file_storage_limit, :precision => 0) %> de armazenamento de documentos;</li>
  <li><%= number_to_human_size(plan.video_storage_limit, :precision => 0) %> de armazenamento de vídeo.</li>
</ul>

<ul class="pricing">
  <li><span class="value"><%= number_to_currency plan.price %></span> <span class="period">/licença</span></li>
</ul>

