<% content_for(:container_class) { "container-fluid" } %>
<% content_for(:nav_global, "&nbsp;".html_safe) %>
<% content_for(:footer, "&nbsp;".html_safe) %>

<div class="content-area authorize-app">
  <div class="content-body">
    <div class="content-section">
      <%= render "bootstrap/header_breadcrumb", header_breadcrumb_items: [
        { name: "Aplicativos", link: user_oauth_clients_path(@user), classes: "icon-app-gray_32_34-before" },
        { name: "Autorização", link: "#" } ] %>
    </div>
    <div class="content-section">
      <h3>Autorizar acesso à sua conta</h3>
      <p class="authorization-disclaimer">O aplicativo <%= link_to @client_application.name,@client_application.url, target: "_BLANK", class: "app-name" %> deseja acessar seus dados no Openredu. Entretanto, sua senha nunca poderá ser consultada por este serviço.
      </p>
      <p class="authorization-question"> Você autoriza o acesso aos seus dados?  </p>
      <%= form_tag authorize_url(protocol: Rails.env.development? ? 'http' : 'https'), class: "positive-authorization-form" do %>
        <%= hidden_field_tag "response_type", params[:response_type]%>
        <%= hidden_field_tag "client_id", params[:client_id]%>
        <%= hidden_field_tag "redirect_uri", params[:redirect_uri]%>
        <%= hidden_field_tag "state", params[:state]%>
        <%= hidden_field_tag "scope", params[:scope]%>
        <%= hidden_field_tag 'authorize', 1 %>
        <%= submit_tag "Sim, autorizo o acesso", class: "button-primary" %>
      <% end %>

      <%= form_tag authorize_url(protocol: Rails.env.development? ? 'http' : 'https'), class: "negative-authorization-form" do %>
        <%= hidden_field_tag "response_type", params[:response_type]%>
        <%= hidden_field_tag "client_id", params[:client_id]%>
        <%= hidden_field_tag "redirect_uri", params[:redirect_uri]%>
        <%= hidden_field_tag "state", params[:state]%>
        <%= hidden_field_tag "scope", params[:scope]%>
        <%= hidden_field_tag 'authorize', 0 %>
        <%= submit_tag "Não autorizo o acesso", class: "button-danger" %>
      <% end %>
    </div>
  </div>
  <%= render "oauth_clients/breadcrumb", user: @user %>
</div>
