 	<%  if logged_in? %>
  <div id="task_bar_exames">
  
  <%= link_to 'Conteúdo postados (5)', pending_courses_school_path(@school) %> | 
  <%= link_to 'Solicitações pendentes (9)', pending_members_school_path(@school) %> |
  <%= link_to 'Gerenciar Papéis', owner_user_schools_path(current_user.id) %>
  <%= link_to 'Configurações', edit_school_path(@school) %> |
  <%= link_to 'Gadgets', owner_user_schools_path(current_user.id) %> |
  <%= link_to 'Aparência', look_and_feel_school_path %> |
  <%= link_to 'Conta (Premium)', owner_user_schools_path(current_user.id) %>
  
  </div>
	<% end %>
