<%  if logged_in? %>
<ul class="menu">

<li>
<%= 
link_to_unless_current 'Solicitacões(' + @school.pending_requests.count.to_s + ')', admin_requests_school_path do
  link_to 'Solicitações', admin_requests_school_path, 
    :class => 'selected'
end
%>
</li>

<li>
<%= 
link_to_unless_current 'Membros (' + @school.users.count.to_s + ')', admin_members_school_path do
  link_to 'Membros', admin_members_school_path, 
    :class => 'selected'
end
%>
</li>
<li>
<%= 
link_to_unless_current 'Submissões', admin_submissions_school_path do
  link_to 'Submissões', admin_submissions_school_path, 
    :class => 'selected'
end
%>
</li>
<li>
<%= 
link_to_unless_current 'Aparência', look_and_feel_school_path do
  link_to 'Aparência', look_and_feel_school_path, :class => 'selected'
end
%>
</li>
<li>
<%= 
link_to_unless_current 'Configurações', edit_school_path(@school) do
  link_to 'Configurações', edit_school_path(@school), :class => 'selected'
end
%>
</li>
<li><!--TODO trocar para usar um helper que conta apenas as "waiting"-->
<%=
link_to_unless_current 'Notícias (' + @school.bulletins.count.to_s + ')', admin_bulletins_school_path do
  link_to 'Notícias', admin_bulletins_school_path, :class => 'selected'
end
%>
</li>
<!--<li><%= link_to 'Papéis', owner_user_schools_path(current_user.id) %></li>-->
<!--<li><%= link_to 'Gadgets', owner_user_schools_path(current_user.id) %></li>-->
<!--<li><%= link_to 'Conta (Premium)', owner_user_schools_path(current_user.id) %></li>-->
</ul>

<% end %>
