<script>



String.prototype.NormaliseUrl = function () {
    var url = this;
    var preserveNormalForm = /[,_`;\':-]+/gi
    url = url.replace(preserveNormalForm, ' ');

    // strip accents
    url = stripVowelAccent(url);

    //remove all special chars
    url = url.replace(/[^a-z|^0-9|^-|\s]/gi, '').trim();

    //replace spaces with a -
    url = url.replace(/\s+/gi, '-');
    return url.toLowerCase();
}

String.prototype.trim = function () {
    return this.replace(/^\s+|\s+$/g, "");
}

function stripVowelAccent(str) {
    var rExps = [{ re: /[\xC0-\xC6]/g, ch: 'A' },
                 { re: /[\xE0-\xE6]/g, ch: 'a' },
                 { re: /[\xC8-\xCB]/g, ch: 'E' },
                 { re: /[\xE8-\xEB]/g, ch: 'e' },
                 { re: /[\xCC-\xCF]/g, ch: 'I' },
                 { re: /[\xEC-\xEF]/g, ch: 'i' },
                 { re: /[\xD2-\xD6]/g, ch: 'O' },
                 { re: /[\xF2-\xF6]/g, ch: 'o' },
                 { re: /[\xD9-\xDC]/g, ch: 'U' },
                 { re: /[\xF9-\xFC]/g, ch: 'u' },
				 { re: /[\xE7]/g, ch: 'c' },
				 { re: /[\xC7]/g, ch: 'C' },
                 { re: /[\xD1]/g, ch: 'N' },
                 { re: /[\xF1]/g, ch: 'n'}];



    for (var i = 0, len = rExps.length; i < len; i++)
        str = str.replace(rExps[i].re, rExps[i].ch);

    return str;
}


	function generatePath(nameField){
		document.getElementById("school_path").value = (nameField.value).NormaliseUrl();

		//document.getElementById("school_path").value = (nameField.value).replace(/[^a-zA-Z0-9_]+/g, '');
	}

</script>

<% unless edit %>

<div class="grid_9 push_3">
<table class="booking_steps" cellpadding="0" cellspacing="0">
							<tbody><tr>
								<td><span class="book_step current"><span><em>1</em>Informações Gerais</span></span></td>
								<td class="spacer">&nbsp;</td>
								<td><span class="book_step disabled"><span><em>2</em>Configurações</span></span></td>
								<td class="spacer">&nbsp;</td>
								<td><span class="book_step disabled"><span><em>3</em>Publicação</span></span></td>
							</tr>
						</tbody></table>
</div>

<div class="<%= (edit) ? 'grid_15 alpha omega': 'grid_9' %>">
<%= f.error_messages %>
</div>

<% end %>


<div class="<%= (edit) ? 'grid_15 alpha omega': 'grid_9' %>">

<% field_set_tag 'Informações Gerais' do %>
	<%= f.label "Nome" %>
	<%= f.text_field :name ,  :onkeyup => ((edit) ? nil : "generatePath(this)") %>
	<%= error_for :school, :name %>

	<%= f.label "Caminho" %>
	<div id="school-path">
	<span class="generate-path">www.redu.com.br/</span><%= f.text_field :path %>
	</div>
	<%= error_for :school, :path %>

	<% random_number = get_random_number%>
	<%= f.label "Descrição:" %>
	<div style="">
	<%= f.text_area :description, :size => "50x3", :class => "desc-#{random_number}" %>
	<%= render :partial => 'shared/limit_char_field', :locals => { :class_textarea => "desc-#{random_number}" }%>
	</div>
	<%= error_for :school, :description %>

	<%= f.label "Imagem <span class='snippet'>(tamanho recomendado: 200 x 64)</span>" %>
	<%= f.file_field :avatar %>

	<%= f.label "Tags <span class='snippet'>(separadas por vírgula)</span>" %>
	<%= f.text_field :tag_list %>

<% end %>

<% field_set_tag 'Categorias' do %>
<span class="snippet" style"width:100%; float: left;">Selecione uma ou mais categorias de acordo com a área de atuação da rede: </span>
<%= error_for :school, :categories %>
	<%= columnize_categories %>
<% end %>


<% field_set_tag 'Audiência' do %>
<span class="snippet">Selecionar um público que não corresponde ao propósito da rede pode levar à uma má avaliação. </span>
<%= error_for :school, :audiences %>
<ul>
<% for audience in Audience.find(:all) %>
	<li>
	  <%= check_box_tag "school[audience_ids][]", audience.id, @school.audiences.include?(audience) %>
	  <%= audience.name %>
	</li>
<% end %>
</ul>
<% end %>


</div>