<li <%= "class='first_item'" if (item_counter%3 == 0) %> >
	<%= link_to (image_tag school.avatar_photo_url(:thumb)), school, :class => "logo" %>
	<%= link_to school.name, school, :class => "name" %>
	<div class="badge_info">
	<span class="quiet">Faculdades, Ensino Superior</span>
	<span  class="quiet">Aulas: <%= school.courses.size() %> | Membros: <%= school.users.size() %> </span>
	</div>
	<%  if current_user.can_manage? @school %>
		<span><%= link_to "gerenciar", manage_school_path(school), :class => "icon more"%></span>
	<% end %>
</li>