<li class="clearfix">
	<%= link_to school.name, school, :class => "name" %>
	<div class="thumb photo"><%= link_to(image_tag school.avatar_photo_url(:thumb), :width => "70px") %></div>
	<div class="headlines" style="width: 490px">
		<span class="call">Descrição:</span>
		<span class="things">
		<%= 
			(school.description[0..250] + "...") if (school.description) 
		%>
		</span>
	</div>
	<div class="headlines" style="width: 490px">
		<% unless school.tag_list.empty? %>
			<span class="call">Tags:</span>
				<span class="things">
				<% school.tag_list.each do | tag | %>
				 <%= tag %>, 
				<% end %>
				</span>
		<% end %>
		<span class="call">Gostaram:</span>
		<span class="things"><%= school.votes_for %></span>
		<span class="call">Membros:</span>
		<span class="things"><%= school.members_count %></span>
		<span class="call">Cursos:</span>
		<span class="things"><%= school.courses_count %></span>
	</div>
</li> 
