<% form_tag({:action => 'moderate_members', :id => school}) do %>

	<table>
	  <tr>
	  	<th></th>
	    <th>Nome</th>
		<th>Aprovar</th>
		<th>Recusar</th>
	  </tr>

	<% pending_members.each  do |membership| %>
		<tr>
		<td><%= link_to image_tag( membership.user.avatar_photo_url(:thumb), {:width => "64", :height=>"64", :border => 0 }), membership.user %></td>
		<td><%= membership.user.display_name %></td>
	  	<td><%= radio_button_tag "approve[]", membership.id %></td>
		<td><%= radio_button_tag "disapprove[]", membership.id %></td>
	    </tr>
	<% end %>
	
	</table>
	<%= submit_tag("OK") %>
<% end %>
