<script type="text/javascript">
	$(document).ready(function(){

	});
	
	function disableVoting(){
		alert('desabilitar, nao permitir mais de um voto, loading image');
	}
	
</script>

<div id="group-header" class="grid_16   ">
    <div class="logo grid_4">
        <%= image_tag( school.avatar_photo_url(:thumb), {:width => "64", :height=>"64" })%>
    </div>
    <div class="info grid_9">
    <h2 class="name"><%= link_to  @school.name, @school %></h2>
    <% if current_user.can_manage?(school)%>
    <%= link_to "Configurações", manage_school_path(school), :class => 'config' %>
    <% end %>
    <span class="areas">
    <a href="">Ensino Médio, Escolas</a>
    </span>
    <span class="areas">
    <%= subscription_link %>
	|
	<%= link_to_remote 'like', :url=> {:action => :vote, :id => @school.id, :like => true}, :success => 'disableVoting();' %> (<%= @school.votes_for%>) |
	<%= link_to_remote 'dislike', :url=> {:action => :vote, :id => @school.id, :like => false}, :success => 'disableVoting();' %> (<%= @school.votes_against%>)
    </span>
    </div><!-- end info -->
</div><!-- end group-header -->

<!--<div id="profile_user_info">
<div id="profile_school_info">
>>>>>>> .r419
	<div id="user_photo">
		 <%= image_tag( school.avatar_photo_url(:thumb), {:width => "200" })%><BR>
	</div>
    <div id="name_user">
		<ul id="name_user_item">
			<li class="name"><span class="name"><%= school.name %></span></li>
			<% if current_user.can_manage?(school)%>
			<li>
				<%= link_to "Editar >", edit_school_path(school), :class => 'edit'%>
			</li>
			<% end %>
			
		</ul>
	</div>
<div id="description_user">
	<%= link_to school.owner.display_name, user_path(school.owner), :class => 'link_user' %>
	 | <%= time_ago_in_words(school.created_at) %> | Membros(<%= school.users.count %>) <br />
</div> 
<div id="description">
<%= school.description %>
</div>

<div>
	Assinatura mensal: $ 4,00
</div>
-->
