<script type="text/javascript">
	$(document).ready(function(){

	});
	
	function disableVoting(){
		alert('desabilitar, nao permitir mais de um voto, loading image');
	}
	
</script>

<div id="group-header" class="grid_16<%= (show) ? '' : ' even'%>">
    
		<div class="logo grid_4 alpha" onmouseover="$('#change_avatar_link').show();" onmouseout="$('#change_avatar_link').hide()">
        <%= image_tag( @school.avatar_photo_url(:thumb) )%>
				<div class="upload-avatar-outter">
                         <a href="#" onclick="$('div.upload-avatar-inner').slideToggle(); return false;" id="change_avatar_link" class="config" style="display:none">Mudar imagem</a>

		<div class="upload-avatar-inner hoverdiv">
          
		<% form_for @school, :html => { :multipart => true, :onsubmit => "$('#upload-avatar-spinner').show()"  } do |f| %>
		<%= f.file_field :avatar %> (200x64)
		<%= hidden_field_tag :only_image, true %>
		<br>
		<%= submit_tag 'OK' %>
		<%= image_tag 'spinner.gif', :id => 'upload-avatar-spinner', :style => 'display: none' %>
		<% end %>

		</div>
		</div>
    </div>
		
    <div class="info grid_9">
    <h2 class="name"><%= link_to  @school.name, @school %></h2>
    <% if current_user.can_manage?(@school)%>
    <%= link_to "Gerenciar", manage_school_path(@school), :class => 'config' %>
    <% end %>
    <span class="areas">
    <a href="">Ensino Médio, Escolas</a> | Criador: <%= owner_link %>
    </span>

    </div><!-- end info -->
	<% if show %>
	<div class="grid_3 omega options">
		<%= subscription_link %>
	    <span class="likeable">
		   	<span class="like">
			<%= link_to_remote image_tag('thumbs_up.png', :border => '0'), :url=> {:action => :vote, :id => @school.id, :like => true}, :success => 'disableVoting();' %><br/><%= @school.votes_for%>
			</span>
			<span class="deslike">
			<%= link_to_remote image_tag('thumbs_down.png', :border => '0'), :url=> {:action => :vote, :id => @school.id, :like => false}, :success => 'disableVoting();' %><br/><%= @school.votes_against%></span>
	    </span>
	</div>
	<%end%>
</div><!-- end group-header -->
