<% unless edit %>

<div class="grid_9 push_3">
<table class="booking_steps" cellpadding="0" cellspacing="0">
							<tbody><tr>
								<td><span class="book_step disabled"><span><em>1</em>Informações Gerais</span></span></td>
								<td class="spacer">&nbsp;</td>
								<td><span class="book_step current"><span><em>2</em>Configurações</span></span></td>
								<td class="spacer">&nbsp;</td>
								<td><span class="book_step disabled"><span><em>3</em>Publicação</span></span></td>
							</tr>
						</tbody></table>
</div>

<div class="grid_16">
<%= f.error_messages %>
</div>

<%end %>

<div class="<%= (edit) ? 'grid_16' : 'grid_9'%>">
<fieldset>
	<legend>Configurações</legend>

	<% field_set_tag 'Quem pode entrar na rede?' do %>
		
		<div>
		<%= f.radio_button :subscription_type, "1", :checked => true %>
		<%= f.label :subscription_type, "Todos", :class => "inline" %>
		</div><div>
		<%= f.radio_button :subscription_type, "2" %>
		<%= f.label :subscription_type, "Moderação", :class => "inline" %>
		</div>
	<% end %>
	
	<% field_set_tag 'Quem pode postar na rede?' do %>
	  <div>
	  <%= f.radio_button :submission_type, "1", :checked => true %>
		<%= f.label :sumbission_type, "Todos - sem moderação", :class => "inline" %>
		</div><div>
		<%= f.radio_button :submission_type, "2" %>
		<%= f.label :submission_type, "Todos - com moderação", :class => "inline" %>
		</div><div>
		<%= f.radio_button :submission_type, "3" %>
		<%= f.label :submission_type, "Apenas professores e administradores", :class => "inline" %>
		</div>
	<% end %>
	
	<!--
	<% field_set_tag "Perfil da Rede" do %>
		<div>
		<%= f.radio_button :public_profile, true, :checked => true %>
		<%= f.label :public_profile, "Público", :class => "inline" %>
		</div><div>
		<%= f.radio_button :public_profile, false %>
		<%= f.label :public_profile, "Privado <span class=\"snippet\">(apenas nome e descrição serão mostrados)</span>", :class => "inline" %>
		</div>
	<% end %>
	-->
</fieldset>

</div>

<% unless edit %>
<div class="grid_6">

	<div class="y_addinfo">
                                <div class="addinfocontent">
                                    <h1>
                                      Dica</h1>
                                    <p>
                                       As opções de configuração poderão ser modificadas a qualquer momento nas opções de gerenciamento da rede.</p>
																			 
																			
                                </div>
                            </div>
</div>
<% end %>
