<div class="sidebar grid_4">
  <ul class="sortable clearfix">
   <li class="clearfix" style="background-color: #FFFFDF;">
    <span class="call"><span>Menu do professor</span></span>
    <ul class="menu">
      <li><a href="" class="closed sb">Acompanhar alunos</a></li>
      <li><a href="" class="closed sb">Acompanhar aulas</a></li>
      <li><a href="" class="closed sb">Criar nova aula</a></li>
			<li><a href="" class="closed sb">Criar novo exame</a></li>
    </ul>
  </li>
  <li class="clearfix">
    <span class="call"><span>Seus grupos (4)</span></span>
    <ul class="sub-groups progress-bar">
      <li>
        <a href="" class="closed sb">Matemática</a>
        <ul>
        <li>
        <a href="" class="course">Revolução Francesa</a>
        <span class="bar-chart">
        <span style="width: 70%"><span>70%</span></span>
        </span>
      </li>
      <li>
        <a href="" class="course">Fisiologia da Obesidade</a>
        <span class="bar-chart">
        <span style="width: 30%"><span>30%</span></span>
        </span>
        </li>
      <li>
        <a href="" class="course">Segunda Guerra</a>
        <span class="bar-chart">
        <span style="width: 90%"><span>90%</span></span>
        </span>
        </li>
      </ul>
      <a href="" class="more">Ver mais</a>
      </li>
      <li><a href="" class="closed sb">História</a></li>
      <li><a href="" class="closed sb">Geografia</a></li>
      <li><a href="" class="closed sb">Xadrez</a></li>
    </ul>
  </li>
  <li class="clearfix">
    <span class="call"><span>Membros (<%= @school.users.size %>)</span></span>
      <div class="followship box clearfix">
      <ul class="clearfix">
        <%= render :partial => 'schools/member_short', :collection => @school.users, :as => :member %>
      </ul>
      <a href="<%= members_school_path(@school) %>" class="icon more">Ver mais</a>
      </div><!-- end followship -->
  </li>
  <li class="clearfix">
    <span class="call"><span>Professores (<%= teachers_preview(school).size %>)</span></span>
    <% unless teachers_preview(school).empty? %>
    <div class="followship box clearfix">
        <ul class="clearfix">
        <%= render :partial => 'schools/member_short', :collection => teachers_preview(school), :as => :member %>
        </ul>
        <a href="<%= teachers_school_path %>" class="icon more">Ver mais</a>
    </div><!-- end followship -->
    <% else %>
      <div class="notice box">Nenhum professor cadastrado</div>
    <% end %>
  </li>
	<li>
		<span class="call"><span>Eventos</span></span>
		<%= calendar(:year => Time.now.year, :month => Time.now.month) do |d|
		  link_to d.mday, day_school_events_path(@school) + "/?day="+ d.mday.to_s
		end	%>
		<%= link_to "Ver todos", school_events_path(@school), :class => "grid_4" %>
		<%= link_to "Criar novo evento", new_school_event_path(@school), :class => "grid_4" %>
	</li>
  </ul><!-- end sortable -->

</div><!-- end sidebar -->
