<span class="call featured"><span>Aulas</span></span>
<div class="featured">
	<div class="photo">
		<%= link_to((image_tag brand_new.thumb_url, :width => "229px", :height => "141px"), brand_new) %>
	</div>
	<%= link_to brand_new.name, brand_new, :class => "name" %>
	<span class="author">por <%= link_to brand_new.owner.login, brand_new.owner, :class => "author" %></span>
</div><!-- end featured1 -->
<div class="featured2">
	<ul>
		<%= render :partial => 'featured', :collection => featured %>
	</ul>
</div><!-- end featured2 -->
<div class="statistics">
	<span class="call"><span>Estatísticas</span></span>
</div><!-- end news -->
<div class="news">
	<span class="call"><span>Notícias</span></span>
	<% if bulletins && bulletins.size > 0 %>
		<ul>
			<%= render :partial => 'bulletins/list', :collection => bulletins, :as => :bulletin , :locals => { :is_index => false } %>
		</ul>
		<div class="grid_5"> 
			<%= link_to '(ver todos)', school_bulletins_path(@school), :class=>"more"%> 
		</div>

	<% else %>
			Nenhuma notícia foi enviada ainda. <%= link_to 'Envie uma agora!', new_bulletin_path %>
	<% end %>
</div><!-- end noticias -->
