<% content_for :page_id, 'group' %>
<div class="main grid_16">
<%= render :partial => "schools/school_info", :locals => {:school => @school,:show => false} %>
<div class="fake-tabs grid_16 alpha omega">
	<%= render :partial => "schools/admin_taskbar" %>
	<div class="panel">
	<!--
	<h3>Solicitacões Pendentes</h3>-->
	

<% if @pending_members && @pending_members.size > 0 %>
		 <% form_tag :action => :moderate_requests, :id => @school.id do %>
			<table style="width: 100%; margin: 15px 10px 20px 10px;">
				<tr>
					<th style="max-width:25px;">Aprovar</th><th style="max-width:27px;">Rejeitar</th><th>Nome</th><th>Data</th>
				</tr>
		 	<% for association in @pending_members %>
				<tr>
					<tr>
						<td><%= radio_button_tag '[member]['+ association.user.id.to_s+']', 'approve'  %></td>
						<td><%= radio_button_tag '[member]['+ association.user.id.to_s+']', 'reject' %></td>
						<td><%= link_to association.user.display_name, association.user, :target => "_blank" %> </td>
						<td><%= time_ago_in_words(association.created_at) %> </td>
					</tr>
				</tr>
 			<% end %>
			</table>
			<%= submit_tag "Moderar" %>
		 <% end %>
		<% else %>
			<%  if @school.subscription_type == 1 %>
			 <div class="box_notice">A configuracão atual da rede permite que <strong>qualquer pessoa entre na rede, sem moderacão.</strong>
			 Para restringir essa opcão clique em "<%= link_to "configuracões", edit_school_path(@school) %>"</div>
			 <% else %> 
			 <div class="box_notice">Não há solicitacões pendentes.</div>
			 <% end %>
		
 			
		<% end %>
		
		
		<div id="pagination" align="center" class="pagination">

		<%= will_paginate  @pending_members, :params => {:sort_by => @sort_by}, :class => "pagination_number"  %>
		
    </div>
	
	
	
	</div>
</div><!-- end tabs -->
</div><!-- end main -->
