<% content_for :page_id, 'group' %>
<div class="main grid_16">
<%= render :partial => "schools/school_info", :locals => {:school => @school, :show => false} %>
<div class="fake-tabs grid_16 alpha omega">
	<%= render :partial => "schools/admin_taskbar" %>
	<div class="panel">
	<h3>Administracão de Eventos</h3>
	<div id="all_list">
    	
		<% if @events && @events.size > 0 %>
		 <% form_tag :action => :moderate_events do %>
			<table style="width: 100%; margin: 15px 10px 20px 10px;">
				<tr>
					<th style="max-width:25px;">Aprovar</th><th style="max-width:27px;">Rejeitar</th><th>Evento</th><th>Autor</th><th>Data</th>
				</tr>
		 	<% for event in @events %>
				<tr>
					<tr>
						<td><%= radio_button_tag '[event]['+ event.id.to_s+']', 'approve'  %></td>
						<td><%= radio_button_tag '[event]['+ event.id.to_s+']', 'reject' %></td>
						<td><%= link_to event.name, event_path(event), :target => "_blank" %> </td>
						<td><%= event.owner.display_name %> </td>
						<td><%= time_ago_in_words(event.updated_at) %> </td>
					</tr>
				</tr>
 			<% end %>
			</table>
			<%= hidden_field_tag("id", @school.id) %>
			<%= submit_tag "Moderar" %>
		 <% end %>
		<% else %>
			 Não há eventos a serem moderados.		
 		<% end %>
    	
		<% if @school %>
		<!--TODO Colocar ajax para o form aparecer e sumir -->
		<%= link_to "Criar um evento", new_school_event_path(@school) %>
		<% end %>
		
    </div> <!-- fim da listagem --> 
	
	<div id="pagination" align="center" class="pagination">

		<%= will_paginate  @events, :params => {:sort_by => @sort_by}, :class => "pagination_number"  %>
		
    </div>
	</div> <!-- end panel -->
</div><!-- end tabs -->
</div><!-- end main -->





