<% content_for :page_id, 'group' %>
<div class="main grid_16">
<%= render :partial => "schools/school_info", :locals => {:school => @school,:show => false} %>

<div class="fake-tabs grid_16 alpha omega">
	<%= render :partial => "schools/admin_taskbar" %>
	<div class="panel squeeze">
	
	<% form_for(@school, :html => { :multipart => true }) do |f| %>
		<%= f.error_messages %>
		<%# render :partial => "schools/form", :locals => { :f => f, :school => @school } %>
		<%= render :partial => "general_step", :locals => { :f => f, :edit => true} %>
		<%= render :partial => "settings_step", :locals => { :f => f, :edit => true } %>
		
		<div class="grid_16"> 
	<% field_set_tag 'Visibilidade' do %>
		<%= f.label "Pública <span class='snippet'>(Visível em todo o Redu)</span>" %>
		<%= f.check_box :public %>
		<%end%>
	</div>

	  <p>
		<%= f.submit 'Atualizar' %> ou <%= link_to 'Voltar', @school %><BR/><BR/>
		
	  </p>
	<% end %>
	<%= link_to 'Deletar rede', @school, 
			:confirm => 'Você tem certeza que deseja remover esta rede?', :method => :delete %>
	</div><!-- end panel -->
</div><!-- end tabs -->
</div><!-- end main -->
