<h1>Listing schools</h1>

<table>
  <tr>
  </tr>

<% @schools.each do |school| %>
	
  <tr>
  	<td> <%= school.name %></td>
    <td><%= link_to 'Show', school %></td>
	<!-- nao é uma boa pratica, vai fazer consultas no bd pra cada escola listada TODO mudar -->
	<% if current_user && ( current_user.admin? || current_user.school_admin?(school)) %>
    <td><%= link_to 'Gerenciar', edit_school_path(school) %></td>
    <td><%= link_to 'Destroy', school, :confirm => 'Are you sure?', :method => :delete %></td>
  	<%end%>
  </tr>
<% end %>
</table>

<br />
<% if current_user && current_user.admin? %>
<%= link_to 'Criar escola', new_school_path %>
<%end%>
