<div id="all_content3">
<div id="col_content">
	<div id="breadcrumbs"><a href="<%=application_url%>">home</a> > <a href="#">redes</a> </div>
 	<div id="title">REDES
	<%= render :partial => "schools/taskbar" %>
	</div>
	<div id="filter_bar">
		
	    <span id="title_list" class="title_list"> MAIS RECENTES</span>
	    <span class="title_filter">Ordenar:</span>
	      
    </div>
    <div id="all_list">
    	
		<% if @schools && @schools.length > 0 %>
 			<%= render :partial => 'schools/item', :collection => @schools, :as => :school %> 
 		<% else %>
 			Não há redes cadastradas ainda. <%= link_to 'Crie uma agora!', :action => 'new' %>
		<% end %>
    	
    </div> <!-- fim da listagem --> 

</div>

<!-- COLUNA DIREITA ################################################################################################################################################ -->
<div id="col_box3">
<!-- BOX MOVIMENTACAO RECENTE ///////////////////////////////////////////////////////////////////////////////////// -->
	
	

<%= render :partial => 'shared/tagcloud' %>


</div>
</div>

