<% content_for :page_id, 'group' %>
<div class="main grid_16">
<%= render :partial => "schools/school_info", :locals => {:school => @school} %>
<div class="fake-tabs grid_16 alpha omega">
	<%= render :partial => "schools/admin_taskbar" %>
	<div class="panel">
	<% form_for @school, :url => {:action => :set_theme, :id => @school.id} do |f| %>

	
	<div style ="width: 100%; float: left; padding: 30px;">
	<div style="float: left;margin-right: 20px;">
	<%= f.radio_button(:theme, "default") %>
	<%= image_tag 'icon_default.png'%><BR>
	<%= f.label(:theme_default, "Padrão") %> 
	</div>
	
<div style="float: left; margin-right: 20px;">
	<%= f.radio_button(:theme, "redish") %>
	<%= image_tag 'icon_redish.png'%><BR>
	<%= f.label(:theme_redish, "Vermelho") %>
	</div>
	
	<div style="float: left;margin-right: 20px;">
	<%= f.radio_button(:theme, "greenish") %>
	<%= image_tag 'icon_greenish.png'%><BR>
	<%= f.label(:theme_greenish, "Verde") %>
	</div>
	
	<div style="float: left;margin-right: 20px;">
	<%= f.radio_button(:theme, "black") %>
	<%= image_tag 'icon_black.png'%><BR>
	<%= f.label(:theme_black, "Preto") %>
	</div>
	</div>
	
	
	<%= submit_tag 'Atualizar' %>
	<% end %>
	</div><!-- end panel -->
</div><!-- end tabs -->
</div><!-- end main -->


