<div class="grid_16">
<div id="breadcrumbs"><a href="<%=application_url%>">início</a> > <a href="#">redes</a> > <a href="#">nova rede</a> </div>
<h3 class="call">Nova Rede</h3>

	<% form_for @school do |f|%>
	<%= f.error_messages %>
	<%= render "#{@school.current_step}_step", :f => f %>
	<p><%= f.submit "Próximo >" %></p>
	<p><%= f.submit "< Anterior", :name => "back_button" unless @school.first_step? %></p>
	<% end %>

</div>
</div>
