<style>
#resume {
	background-color:#BBCCFF;
	padding: 15px;
	-moz-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	margin-top: 60px;
	
}

#resume div.right div {
	background-color: white;
	-moz-border-radius: 8px 8px 8px 8px;
	padding: 10px;
	float: right;
	width: 400px;
		border-radius: 8px 8px 8px 8px;
}

#resume div.right div a.join-btn {
	display: block;
	paddin: 20px;
	background-color: orange;
	color: white;
	font-size: 1.4em;
	margin-top: 20px;
	text-align: center;
}
#resume div.right {
margin-right: 30px;
}

#resume div.right ul {
	/*width: 450px;*/
}

#resume img {
	float: left;
margin-right: 20px;
margin-top: 30px;
}

#resume div h3 {
 font-size: 1.2em;
 color: #514721;
}

#resume div.right span {
display: block;
font-size: 0.8em;
}

#resume div.right span.desc {
	font-size: 1em;
	margin-bottom:  5px;
}

</style>

<% content_for :page_id, 'group' %>
<%- @meta = { :description => "Perfil da rede #{@school.name} no #{AppConfig.community_name}.", :keywords => "#{@school.name}, #{@school.tags.join(", ") unless @school.tags.nil?}", :robots => AppConfig.robots_meta_show_content }%>



<div class="main grid_16">


<div id="resume" class="grid_11 push_2">
    <div class="left">
        <%= image_tag @school.avatar_photo_url(:medium) %>
    </div>
    <div class="right">
        <div>
            <h3><%= @school.name %></h3>
            <span class="desc"><%= @school.description %></span>
            <span>12 membros</span>
            <span>Participação: <%= subscription_type(@school) %></span>
            <span>Submissão: <%= submission_type(@school) %></span>
						<%= link_to "ENTRAR", join_school_path(@school), :class => "join-btn"%>
        </div>
        <ul class="clearfix">
            <%= render :partial => 'schools/member_short', :collection => @school.users, :as => :member %>
        </ul>
    </div>
</div>

</div><!-- end main -->

