<%- @meta = { :description => "#{@school.name}'s profile on #{AppConfig.community_name}.", :keywords => "#{@school.name}, #{@school.tags.join(", ") unless @school.tags.nil?}", :robots => AppConfig.robots_meta_show_content }%>

<%# calendar_date_select_includes %>
<script>
    function grantKeysToSchool(school_id){
        //alert(school_id);
        nKeys = document.getElementById('keys_number').value;
        
        new Ajax.Request("<%= url_for :controller => :access_keys, :action => :grant_keys_to_school %>", {
            method: 'get',
            parameters: "?id= " + school_id + "&number=" + nKeys,
            onComplete: function(request){
                //res = eval("(" + request.responseText + ")");
                alert('Chaves garantidas!');
               // document.getElementById('keys_school_box').style.display = 'none';
            }
        });
    }
    
	
	function toggleAssociateBox(){
		
		var box = document.getElementById("associate_box");
		
		if (box.style.display == 'none') {
			//Effect.Appear(box);
			box.style.display = 'block';
			
		} else {
			//Effect.Fade(box);
			box.style.display = 'none';
		}
	}
	
	function showKeysSchoolBox(){
		
		document.getElementById('grant_keys_link').style.display = 'none';
        document.getElementById('keys_school_box').style.display = 'inline';
	}
	
	function showAdminLoginBox(){
		
		document.getElementById('grant_admin_link').style.display = 'none';
        document.getElementById('admin_login_box').style.display = 'inline';
	}
	
	function grantSchoolAdmin(schoolId) {
		var adminLogin = $('admin_login').val();
		var adminKey = $('admin_key').val();
		
		
		new Ajax.Request("<%= url_for :controller => :schools, :action => :create_school_admin %>", {
            method: 'get',
            parameters: "?id= " + school_id + "&login=" + adminLogin + "&key=" + adminKey,
            onComplete: function(request){
                //res = eval("(" + request.responseText + ")");
                alert('admin atribuido!');
				// TODO colocar para flash aparecer
				// page["notice"].replace_html flash[:notice] 
               // document.getElementById('keys_school_box').style.display = 'none';
            }
        });
	}
	
	
    
</script>





<div id="all_content3">
<div id="col_content_user">
	<div id="breadcrumbs_video"><a href="<%=application_url%>">home</a> > <%= link_to 'redes', schools_path %> > <strong><a href="#"><%= @school.name%></a></strong></div>  
    <!--<div id="title">AULAS</div>-->
<!-- LISTAGEM RECURSO ############################################################################################################################################## -->
<div id="all_list">

<%= render :partial => "schools/school_info", :locals => {:school => @school}%>

<% if logged_in?  %>
<div id="actions_user">
	
	
	<%= subscription_link %>
	
	
	|
	<a href="#" class="share" onclick="toggleShareBox();return false;">COMPARTILHAR</a>
	
	<% if current_user.school_admin? @school %>
	|<%= link_to "GERENCIAR", manage_school_path(@school), :class => "share"  %>
	<% end %>
</div>
<% end %>
     
</div>

<div id="associate_box" style="display:none;">
		<div>
	    <% form_tag({:controller => 'schools' , :action => 'associate', :id => @school}, :method => "get") do %>
		   <%= hidden_field_tag(:user_id, current_user.id) %>
		    Digite sua chave: 
			<%= text_field_tag(:user_key) %>
		<%= submit_tag("OK") %>
	    <% end %>
		</div>
</div>
<%= render :partial => 'shared/share', :locals => {:title => @school.name, :url => application_url[0..application_url.length-2] + request.request_uri, :thumb_url => @school.avatar_photo_url} %>
		

<!-- BOX RECURSOS ############################################################################## -->
<div id="comments_user">
	<div id="user_box_top">RECURSOS DA REDE(<%=@courses.length%>)</div>
    
	<% if @courses && @courses.length > 0 %>
 			<%= render :partial => 'courses/item', :collection => @courses, :as => :course %> 
 		<% else %>
 			Não há aulas publicadas ainda. <%= link_to 'Crie uma agora!', new_course_path %>
	<% end %>

<div id="link_ver_todos"><a href="#">Ver todos(8) &gt;</a></div>
</div>
<!-- BOX RECURSOS ############################################################### -->




<!-- BOX MOV. RESCENTE ############################################## -->
<div id="comments_user">
	<div id="user_box_top">ATIVIDADES RECENTES DE <%= @school.name.upcase %></div>
<%= render :partial => 'logs/item_user', :collection => current_user.recent_activity, :as => :item %>


<div id="link_ver_todos"><a href="#">Ver todos(8) &gt;</a></div>
</div>
<!-- BOX MOV. RESCENTE ############################################################## -->


<%= render :partial => 'forums/index' %>

</div>
</div>
<!-- COLUNA DIREITA ##################################################################### -->
<div id="col_box3">
	
	<!-- BOX MEMBROS ####################################################################### -->
<div id="box_move">
    	<div id="box_top">MEMBROS (<%= @school.users.count %>)</div>

        <div id="box_list">
		<%= render :partial => 'schools/member_short', :collection => @school.users, :as => :member %>
		</div>
		
    <div id="link_ver_todos"><a href="#">Ver todos(8) &gt;</a></div>
</div>
<!-- BOX MEMBROS ############################################################################### -->

	<!-- BOX MEMBROS ####################################################################### -->
<!--
<div id="box_move">
    	<div id="box_top">PROFESSORES (<%# @school.users.count %>)</div>

        <div id="box_list">
		<%# render :partial => 'schools/member_short', :collection => @school.users, :as => :member %>
		</div>
		
    <div id="link_ver_todos"><a href="#">Ver todos(8) &gt;</a></div>
</div>-->
<!-- BOX MEMBROS ############################################################################### -->

	
</div>
</div>








   


