<%# calendar_date_select_includes %>

<script>
    function grantKeysToSchool(school_id){
        //alert(school_id);
        nKeys = document.getElementById('keys_number').value;
        
        new Ajax.Request("<%= url_for :controller => :access_keys, :action => :grant_keys_to_school %>", {
            method: 'get',
            parameters: "?id= " + school_id + "&number=" + nKeys,
            onComplete: function(request){
                //res = eval("(" + request.responseText + ")");
                alert('Chaves garantidas!');
               // document.getElementById('keys_school_box').style.display = 'none';
            }
        });
    }
    
    function showAssociateBox(){
        //$('#associate_box').style.display = 'block';
        document.getElementById('associate_link').style.display = 'none';
        document.getElementById('associate_box').style.display = 'inline';
    }
	
	function showKeysSchoolBox(){
		
		document.getElementById('grant_keys_link').style.display = 'none';
        document.getElementById('keys_school_box').style.display = 'inline';
	}
	
	function showAdminLoginBox(){
		
		document.getElementById('grant_admin_link').style.display = 'none';
        document.getElementById('admin_login_box').style.display = 'inline';
	}
	
	function grantSchoolAdmin(schoolId) {
		var adminLogin = $('admin_login').val();
		var adminKey = $('admin_key').val();
		
		
		new Ajax.Request("<%= url_for :controller => :schools, :action => :create_school_admin %>", {
            method: 'get',
            parameters: "?id= " + school_id + "&login=" + adminLogin + "&key=" + adminKey,
            onComplete: function(request){
                //res = eval("(" + request.responseText + ")");
                alert('admin atribuido!');
				// TODO colocar para flash aparecer
				// page["notice"].replace_html flash[:notice] 
               // document.getElementById('keys_school_box').style.display = 'none';
            }
        });
	}
	
	
    
</script>
<h1>Nome da escola: <%= @school.name %></h1>
<p>
    <%= @school.description %>
</p>



<!-- Se usuário não estiver vinculado à escola -->
<% if current_user && !current_user.get_association_with(@school) && !current_user.admin? %>
	<a href="#" id="associate_link" onclick="javascript:showAssociateBox();false;">Associar-se</a>
	
	<div id="associate_box" style="display:none;">
	    <% form_tag({:controller => 'schools' , :action => 'associate', :id => @school}, :method => "get") do %>
		   <%= hidden_field_tag(:user_id, current_user.id) %>
		    Digite sua chave: 
			<%= text_field_tag(:user_key) %>
		<%= submit_tag("OK") %>
	    <% end %>
	</div>
<% end %>

<!-- Se admin ou school_admin -->
<% if current_user && (current_user.school_admin?(@school) || current_user.admin?) %>
	<%= link_to 'Manage', edit_school_path(@school) %>
	<%= link_to 'Gerenciar Chaves', {:controller => :access_keys, :action => :index_school, :id => @school}%>
<% end %>


<!-- Se admin -->
<% if current_user && current_user.admin? %>
	<a href="#" id="grant_keys_link" onclick="javascript:showKeysSchoolBox();false;">Gerar chaves</a>
	
	<div id="keys_school_box" style="display:none;">
		    Número de chaves: 
			<input type="text" id="keys_number" maxlength="5" size="5"/>
			Data de expiração:
			<!-- calendar_date_select :start_time, :time => true, :popup => "force" -->
		    <button onclick="grantKeysToSchool(<%= @school.id %>);">
		        OK
		    </button>
	</div>
	<%= link_to 'Gerar 50 chaves para escola',  {:controller => 'access_keys', :action => 'grant_keys_to_school', :id => @school, :number => 50, :exp_date => Time.now } %>
	
	
	<!-- link_to 'Conceder Admin', schools_path -->
	<!--
	<a href="#" id="grant_admin_link" onclick="javascript:showAdminLoginBox();false;">Conceder Admin</a>
	
	<div id="admin_login_box" style="display:none;">
		    Login: 
			<input type="text" id="admin_login" maxlength="5" size="5"/>
			Chave: 
			<input type="text" id="admin_key" maxlength="6" size="6"/>
			Data de expiração: ?
		    <button onclick="grantSchoolAdmin(<%= @school.id %>);">
		        OK
		    </button>
	</div>
	-->
	
<%end %>
<BR>
<!-- MOSTRAR APENAS ALGUNS -->
<% if @school.students.length == 0 %>
Sem estudantes ainda. 
<% else %>
Listando alunos:
<table>
    <tr>
    </tr>
    <% @school.students.each do |student| %>
    <tr>
        <td>
            <%= student.login %>
        </td>
        <td>
            <%= link_to 'Show', student %>
        </td>
    </tr>
    <% end %>
</table>
<%= link_to 'Todos os estudantes', school_path(@school) %>
<% end %>
<BR>
<%= link_to 'Back', schools_path -%>
