<% content_for :page_id, 'group' %>
<%- @meta = { :description => "#{@school.name}'s profile on #{AppConfig.community_name}.", :keywords => "#{@school.name}, #{@school.tags.join(", ") unless @school.tags.nil?}", :robots => AppConfig.robots_meta_show_content }%>

<script type="text/javascript">
	var $schooltabs;
	
    $(document).ready(function() 
{ 
$schooltabs = $( ".school-tabs" ).tabs({
  spinner: 'Retrieving data...',
   select: function(event, ui) { 
   if (ui.index == 3) {
		jQuery.ajax({data:'', dataType:'script', success:function(request){alert("success");}, type:'get', url:'/cin/arquivos' }); 
	 }
	}
});

   

});
//<%= school_folders_path(:school_id => @school.id.to_s) %>

	
	function toggleBox(boxname){
		var box = document.getElementById(boxname);
		
		if (box.style.display == 'none') {
			Effect.SlideDown(box,0.5);
		} else {
			Effect.SlideUp(box,0.5);
		}
	}
	
	function toggleAssociateBox(){
		var box = document.getElementById("associate_box");
		
		if (box.style.display == 'none') {
			//Effect.Appear(box);
			box.style.display = 'block';
			
		} else {
			//Effect.Fade(box);
			box.style.display = 'none';
		}
	}
	
	function showKeysSchoolBox(){
		document.getElementById('grant_keys_link').style.display = 'none';
        document.getElementById('keys_school_box').style.display = 'inline';
	}
	
	function showAdminLoginBox(){
		document.getElementById('grant_admin_link').style.display = 'none';
        document.getElementById('admin_login_box').style.display = 'inline';
	}
	
	
</script>

<%= render :partial => "schools/school_info", :locals => {:school => @school} %>
<%= render :partial => "schools/sidebar", :locals => {:school => @school} %>

<div class="main grid_12">
<div class="school-tabs tabs">
	    <ul>
		    <li><a href="#tabs-1">Início</a></li>
		    <li><a href="#tabs-2">Aulas</a></li>
			<li><a href="#tabs-3">Exames</a></li>
		    <li><a href="#tabs-4">Arquivos</a></li>
	    </ul>
	    
		<div id="tabs-1">
		<%= javascript_include_tag 'flow.js' %>
		<%= render :partial => "statuses/create_status", :locals => {:status => @status }%>
		<ul class="activities">
		<%= render :partial => "statuses/type_proxy", :collection => @school.recent_school_activity, :as => :status %>
		</ul><!-- end activities -->
		</div>
		
		<div id="tabs-2">
			<ul class="groups">
			<%= render :partial => 'course', :collection => @courses %>
			</ul>
		    <div id="pagination" align="center" class="pagination">
			<%= will_paginate  @courses, :params => {:sort_by => 'created_at'}, :class => "pagination_number"  %>
		    </div>
		</div>
		<div id="tabs-3">
			exames
		</div>
		<div id="tabs-4">
			arquivos
			<div id="file_list"></div>
		</div>
</div><!-- end tabs -->
</div><!-- end main -->

