<% content_for :page_id, 'group' %>
<%- @meta = { :description => "#{@school.name}'s profile on #{AppConfig.community_name}.", :keywords => "#{@school.name}, #{@school.tags.join(", ") unless @school.tags.nil?}", :robots => AppConfig.robots_meta_show_content }%>

<script type="text/javascript">
var schoolFoldersPath = "<%= school_folders_path(:school_id => @school.id.to_s) %>";
var schoolCoursesPath = "<%= school_courses_path(:school_id => @school.id.to_s) %>";
var schoolExamsPath = "<%= school_exams_path(:school_id => @school.id.to_s) %>";

var $schooltabs;

$(document).ready(function() {

    $schooltabs = $(".school-tabs").tabs({
        select: function(event, ui) {
            if (ui.index == 4) {
                // Arquivos
                $("#tabs-4-content").html('');
                jQuery.ajax({
                    data: '',
                    dataType: 'script',
                    success: function(request) {
                        $("#tabs-4-loading").hide();
                    },
                    type: 'get',
                    url: schoolFoldersPath
                });

                $("#tabs-4-loading").show();
            } else if (ui.index == 3) {
                // Exams
                $("#tabs-3-content").html('');
                jQuery.ajax({
                    data: 'tab=true',
                    dataType: 'script',
                    success: function(request) {
                        $("#tabs-3-loading").hide();
                    },
                    type: 'get',
                    url: schoolExamsPath
                });

                $("#tabs-3-loading").show();
            }
            else if (ui.index == 2) {
                // Aulas
                $("#tabs-2-content").html('');
                jQuery.ajax({
                    data: 'tab=true',
                    dataType: 'script',
                    success: function(request) {
                        $("#tabs-2-loading").hide();
                    },
                    type: 'get',
                    url: schoolCoursesPath
                });

                $("#tabs-2-loading").show();
            }
        }
    });
});
</script>

<%= render :partial => "schools/school_info", :locals => {:show => true} %>
<%= render :partial => "schools/sidebar", :locals => {:school => @school} %>

<div class="main grid_12">
<div class="school-tabs tabs">
	    <ul>
		    <li><a href="#tabs-1">Início</a></li>
		    <li><a href="#tabs-5">Atividades</a></li>
		    <li><a href="#tabs-2">Aulas</a></li>
			<li><a href="#tabs-3">Exames</a></li>
		    <li><a href="#tabs-4">Arquivos</a></li>
	    </ul>
	    
		<div id="tabs-1" class="clearfix first-page">
			<% if @brand_new and @featured %>
			<%= render :partial => 'start_page', :locals => {:featured => @featured, :brand_new => @brand_new, :bulletins => @bulletins} %>
			<% end %>
		</div>
		
		<div id="tabs-5">
			<%= javascript_include_tag 'flow.js' %>
			<%= render :partial => "statuses/create_status", :locals => {:status => @status, :statusable => @school }%>
			<ul class="activities">
			<%= render :partial => "statuses/type_proxy", :collection => @school.statuses.descend_by_created_at, :as => :status, :locals => {:statusable => @school } %>
			</ul><!-- end activities -->			
		</div>
		
		<!-- aulas -->
		<div id="tabs-2">
			
			<%=  image_tag 'loadingAnimation.gif', :id=> 'tabs-2-loading', :style => 'padding: 20px;'%>
			<div id="tabs-2-content"></div>
		</div>
		<!-- exames -->
		<div id="tabs-3">
			<%=  image_tag 'loadingAnimation.gif', :id=> 'tabs-3-loading', :style => 'padding: 20px;'%>
			<div id="tabs-3-content"></div>
		</div>
		<!-- arquivos --> 
		<div id="tabs-4">
			<%=  image_tag 'loadingAnimation.gif', :id=> 'tabs-4-loading', :style => 'padding: 20px;'%>
			<div id="tabs-4-content"></div>
			
		</div>
</div><!-- end tabs -->
</div><!-- end main -->

