<%= f.label :name, "Nome do ambiente:" %>
<%= f.text_field :name, :class => "big" %>
<%= concave_errors_for(f.object, :name) %>
<span class="tip">O nome do ambiente de estudo, instituição ou empresa</span>
<%= f.label :initials, "Abreviação:" %>
<%= f.text_field :initials %>
<%= concave_errors_for(f.object, :initials) %>
<span class="tip">A abreviatura das iniciais do ambiente ou a sigla da instituição / empresa</span>
<%= f.label :path, "Endereço eletrônico:", :class => "big"%>
<%= f.text_field :path %>
<%= concave_errors_for(f.object, :path) %>
<span class="tip">O endereço da página inicial do ambiente</span>
<%= f.label :description, "Descrição:" %>
<%= f.text_area :description %>
<%= concave_errors_for(f.object, :description) %>
<span class="tip">
Descreva as características, história ou informações adicionais do
ambiente de estudo.
</span>
<%= f.label :tags, "Marcadores:" %>
<%= f.text_field :tag_list %>
<%= concave_errors_for(f.object, :tags) %>
<span class="tip">Descreva o ambiente em palavras-chaves</span>
<% if partner %>
  <%= label :plan, "Plano" %>
  <ul class="single-column course-plan">
    <li>
      <span class="plan-type">Planos por Licença</span>
    </li>
    <li>
      <%= radio_button_tag :plan, 'licensed_plan-instituicao_medio' %>
      <%= label_tag 'plan_licensed_plan-instituicao_medio', "Inst. de Ensino Médio" %>
      <span class="tiptip-right icon-small icon-question-blue_12_12" title="<%= "#{render 'plans/admin/licensed_plan_details', :name => 'Planos por licença', :type => 'Inst. de Ensino Médio', :plan => Plan.from_preset(:instituicao_medio, "LicensedPlan")}" %>"></span>
    </li>
    <li>
      <%= radio_button_tag :plan, 'licensed_plan-instituicao_superior', :checked => true %>
      <%= label_tag 'plan_licensed_plan-instituicao_superior', "Inst. de Ensino Superior" %>
      <span class="tiptip-right icon-small icon-question-blue_12_12" title="<%= "#{render 'plans/admin/licensed_plan_details', :name => 'Planos por licença', :type => 'Inst. de Ensino Superior', :plan => Plan.from_preset(:instituicao_superior, "LicensedPlan")}" %>"></span>
    </li>
    <li>
      <%= radio_button_tag :plan, 'licensed_plan-curso_extensao' %>
      <%= label_tag 'plan_licensed_plan-curso_extensao', "Curso Extensão" %>
      <span class="tiptip-right icon-small icon-question-blue_12_12" title="<%= "#{render 'plans/admin/licensed_plan_details', :name => 'Planos por licença', :type => 'Curso Extensão', :plan => Plan.from_preset(:curso_extensao, "LicensedPlan")}" %>"></span>
    </li>
    <li>
      <%= radio_button_tag :plan, 'licensed_plan-curso_corporativo' %>
      <%= label_tag 'plan_licensed_plan-curso_corporativo', "Curso Corporativo" %>
      <span class="tiptip-right icon-small icon-question-blue_12_12" title="<%= "#{render 'plans/admin/licensed_plan_details', :name => 'Planos por licença', :type => 'Curso Corporativo', :plan => Plan.from_preset(:curso_corporativo, "LicensedPlan")}" %>"></span>
    </li>
  </ul>
  <ul class="single-column course-plan">
    <li>
      <span class="plan-type">Inst. de Ensino Médio</span>
    </li>
    <li>
      <%= radio_button_tag :plan, 'package_plan-instituicao_medio_tiny' %>
      <%= label_tag 'plan_package_plan-instituicao_medio_tiny', "Tiny" %>
      <span class="tiptip-right icon-small icon-question-blue_12_12" title="<%= "#{render 'plans/admin/details', :name => 'Instituição de Ensino Médio', :type => 'Tiny', :plan => Plan.from_preset(:instituicao_medio_tiny)}" %>"></span>
    </li>
    <li>
      <%= radio_button_tag :plan, 'package_plan-instituicao_medio_lite' %>
      <%= label_tag 'plan_package_plan-instituicao_medio_lite', "Lite" %>
      <span class="tiptip-right icon-small icon-question-blue_12_12" title="<%= "#{render 'plans/admin/details', :name => 'Instituição de Ensino Médio', :type => 'Lite', :plan => Plan.from_preset(:instituicao_medio_lite)}" %>"></span>
    </li>
    <li>
      <%= radio_button_tag :plan, 'package_plan-instituicao_medio_standard' %>
      <%= label_tag 'plan_package_plan-instituicao_medio_standard', "Standard" %>
      <span class="tiptip-right icon-small icon-question-blue_12_12" title="<%= "#{render 'plans/admin/details', :name => 'Instituição de Ensino Médio', :type => 'Standard', :plan => Plan.from_preset(:instituicao_medio_standard)}" %>"></span>
    </li>
    <li>
      <%= radio_button_tag :plan, 'package_plan-instituicao_medio_plus' %>
      <%= label_tag 'plan_package_plan-instituicao_medio_plus', "Plus" %>
      <span class="tiptip-right icon-small icon-question-blue_12_12" title="<%= "#{render 'plans/admin/details', :name => 'Instituição de Ensino Médio', :type => 'Plus', :plan => Plan.from_preset(:instituicao_medio_plus)}" %>"></span>
    </li>
  </ul>
<% end %>
