<%= f.label :name, "Nome do ambiente:" %>
<%= f.text_field :name, :class => "big" %>
<%= concave_errors_for(f.object, :name) %>
<span class="tip">O nome do ambiente de estudo, instituição ou empresa</span>
<%= f.label :initials, "Abreviação:" %>
<%= f.text_field :initials %>
<%= concave_errors_for(f.object, :initials) %>
<span class="tip">A abreviatura das iniciais do ambiente ou a sigla da instituição / empresa</span>
<%= f.label :path, "Endereço eletrônico:", :class => "big"%>
<%= f.text_field :path %>
<%= concave_errors_for(f.object, :path) %>
<span class="tip">O endereço da página inicial do ambiente</span>
<%= f.label :description, "Descrição:" %>
<%= f.text_area :description %>
<%= concave_errors_for(f.object, :description) %>
<span class="tip">
Descreva as características, história ou informações adicionais do
ambiente de estudo.
</span>
<%= f.label :tags, "Marcadores:" %>
<%= f.text_field :tag_list %>
<%= concave_errors_for(f.object, :tags) %>
<span class="tip">Descreva o ambiente em palavras-chaves</span>
