<script type="text/javascript">
$(document).ready(function(){
    $("#environment_name").bind('keyup blur', function(e){
      $("#environment_path").val($(this).slug());
    })
    $("#environment_courses_attributes_0_name").bind('keyup blur', function(e){
      $("#environment_courses_attributes_0_path").val($(this).slug());
    })
});
</script>

<% environment = Environment.new
   environment.courses.build %>
<%= form_for environment, :url => environments_path(:step => 1) do |f| %>
  <p>Crie um ambiente de Ensino a Distância em 3 passos</p>
  <ol class="clearfix">
    <li class="clearfix">
      <span class="phase">1. Planos</span>
      <span class="details">Escolha o plano que melhor se adapta às suas necessidades.</span>
    </li>
    <li class="clearfix">
      <span class="phase">2. Informações</span>
      <span class="details">Descreva as informações básicas do seu ambiente e primeiro curso.</span>
    </li>
    <li class="clearfix">
      <span class="phase">3. Confirmação</span>
      <span class="details">Confirme os dados e realize o pagamento.</span>
    </li>
  </ol>
  <fieldset>
    <%= f.error_messages %>
    <%= f.label :name, "Seu ambiente de ensino" %>
    <%= f.text_field :name, :class => "text" %>
    <%= f.hidden_field :path, :class => "leitura" %>
    <% f.fields_for :courses do |course|  %>
      <%= course.label :name, "Seu primeiro curso" %>
      <%= course.text_field :name, :class => "text" %>
        <%= course.hidden_field :path %>
    <% end %>
    <%= submit_tag "Avançar", :class => "important next" %>
  </fieldset>
<% end %>

