<script type="text/javascript">
$(document).ready(function(){
    $("#environment_name").bind('keyup blur', function(e){
      $("#environment_path").val($(this).slug());
    })
    $("#environment_courses_attributes_0_name").bind('keyup blur', function(e){
      $("#environment_courses_attributes_0_path").val($(this).slug());
    })
});
</script>

<% environment = Environment.new
   environment.courses.build %>
 <%= form_for environment, :url => environments_path(:step => 1), :html => {:class => "concave-form"} do |f| %>
  <fieldset>
    <%= f.error_messages %>
    <%= f.label :name, "Seu ambiente de ensino",
      :class => "environment replacement" %>
    <%= f.text_field :name, :class => "text" %>
    <span class="tip">Digite o nome do seu ambiente de estudo</span>
    <%= f.hidden_field :path, :class => "leitura" %>
    <%= f.fields_for :courses do |course|  %>
      <%= course.label :name, "Seu primeiro curso",
        :class => "course replacement" %>
      <%= course.text_field :name, :class => "text" %>
      <span class="tip">Digite o nome do seu primeiro curso</span>
        <%= course.hidden_field :path %>
    <% end %>

    <div class="basic-content">
      <span class="concave-label"> Conteúdo Básico para Ensino Médio </span>
      <span class="tiptip-right icon-small icon-question-blue_12_12" title="<%= "#{render 'courses/basic_content'}" %>"></span>

      <%= radio_button_tag :basic_content, "1" %>
      <%= label_tag :basic_content_1, "Sim" %>
      <%= radio_button_tag :basic_content, "2", :checked => true %>
      <%= label_tag :basic_content_2, "Não" %>
    </div>

    <%= submit_tag "Avançar", :class => "concave-important-font next" %>
  </fieldset>
<% end %>

