<script type="text/javascript" charset="utf-8">
//<![CDATA[
$(document).ready(function(){
  $("#environment_name").bind('keyup blur', function(e){
    var slug = $(this).slug()
    $("#environment_path").val(slug);
    $("#url_preview .environment").html(slug);
  })

  $("#environment_path, #environment_courses_attributes_0_path").bind('keyup blur', function(e){
    var slug = $(this).slug()
    $(this).val(slug);
  })

  $("#environment_path").bind('keyup blur', function(){
    var slug = $(this).slug()
    $("#url_preview .environment").html(slug);
  })

  $("#environment_courses_attributes_0_path").bind('keyup blur', function(){
    var slug = $(this).slug()
    $("#url_preview .course").html(slug);
  })

  $("#environment_courses_attributes_0_name").bind('keyup blur', function(e){
    var slug = $(this).slug()
    $("#environment_courses_attributes_0_path").val(slug);
    $("#url_preview .course").html(slug);
  })


  $("#environment_name").bind('keyup blur', function(){
    $("div.name h3 > a").html($(this).val())
  })

  $("#environment_courses_attributes_0_name").bind('keyup blur', function(){
    $("div.course h4 > a").html($(this).val())
  })

})
//]]>
</script>
<div class="clearfix" id="checkout">
  <%= render :partial => 'environments/wizard_breadcrumbs' %>

  <div class="step-info">
    <h3>1 <span>Informações</span></h3>
    <em class="description">Descreva as informações básicas do ambiente e curso</em>
  </div>
  <div class="customizing">
    <%= form_for @environment, :url => environments_path(:step => 2),
        :html => { :class => "highlightable concave-form" } do |f| %>
        <%= concave_error_messages_for(@environment) %>
        <%= field_set_tag nil, :class => "inline" do %>
          <div id="url_preview">
            <span class="base">redu.com.br</span>
            <span class="customizable">
              <span class="environment"><%= @environment.path %></span>
              <span class="course-base">cursos</span>
              <span class="course"><%= @environment.courses.first.path %></span>
            </span>
          </div>
        <% end %>
        <hr/>
        <%= render :partial => 'environments/form', :locals => { :f => f } %>
        <%= f.submit "Assinar", :class => "concave-important next"%>
      <% end %>
  </div>
</div>
