<div class="clearfix" id="checkout">
  <%= render :partial => 'environments/wizard_breadcrumbs' %>

  <div class="step-info">
    <h3>2 <span>Confirmar</span></h3>
    <em class="description">Confirme os dados.</em>
  </div>

  <div class="confirmation">
    <div id="url_preview">
      <span class="base">openredu.ufpe.br</span>
      <span class="customizable">
        <span class="environment"><%= @environment.path %></span>
        <span class="course-base">cursos</span>
        <span class="course"><%= @environment.courses.first.path %></span>
      </span>
    </div>
    <table class="environment-table concave-form">
      <thead>
        <tr>
          <th>Informação</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="concave-label">Seu ambiente de ensino:</td>
          <td class="value"> <%= @environment.name %> </td>
        </tr>
        <tr>
          <td class="concave-label">Abreviação:</td>
          <td class="value"> <%= @environment.initials %> </td>
        </tr>
      </tbody>
    </table>
    <table class="course-table concave-form">
      <thead>
        <tr>
          <th>Informação</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="concave-label">Seu primeiro curso:</td>
          <td class="value"> <%= @environment.courses.first.name %> </td>
        </tr>
      </tbody>
    </table>
    <%= form_for @environment,
      :url => environments_path(:step => 3),
      :remote => true,
      :html => { :class => "clearfix concave-form" } do |f| %>
      <%= f.error_messages %>
      <div style='display: none;'>
        <%= render :partial => 'environments/form', :locals => { :f => f } %>
      </div>
      <%= f.submit "Finalizar", :id => "final-button"%>
      <%= image_tag 'spinner.gif', :id => 'spinner-form',
        :style => 'display: none; float: right;'  %>
    <% end %>
  </div>
</div>
