<script type="text/javascript">
$(document).ready(function(){
    $("#environment_name").bind('keyup blur', function(e){
      $("#environment_path").val($(this).slug());
    })
    $("#environment_courses_attributes_0_name").bind('keyup blur', function(e){
      $("#environment_courses_attributes_0_path").val($(this).slug());
    })
});
</script>

<% environment = Environment.new
   environment.courses.build %>
 <%= form_for environment, :url => environments_path(:step => 1), :html => {:class => "concave-form"} do |f| %>
  <fieldset>
    <%= f.error_messages %>
    <%= f.label :name, "Seu ambiente de ensino", :class => "environment replacement" %>
    <%= f.text_field :name, :class => "text" %>
    <span class="tip">Digite o nome do seu ambiente de estudo.</span>
    <%= f.hidden_field :path, :class => "leitura" %>
    <%= f.fields_for :courses do |course|  %>
      <%= course.label :name, "Seu primeiro curso", :class => "course replacement" %>
      <%= course.text_field :name, :class => "text" %>
      <span class="tip">Digite o nome do seu primeiro curso.</span>
        <%= course.hidden_field :path %>
    <% end %>
    <%= submit_tag "Avançar", :class => "concave-important-font next" %>
  </fieldset>
<% end %>

