<fieldset class="environment-fields">
  <div class="environment-box clearfix">
    <%= f.label :name, "Seu ambiente de ensino" %>
    <%= f.text_field :name, :class => "big" %>
    <%= concave_errors_for @environment, :name %>

  </div>
  <span class="tip">40 caracteres</span>
  <%= f.label :initials, "Abreviação" %>
  <%= f.text_field :initials %>
  <%= concave_errors_for @environment, :initials %>
  <span class="tip">10 caracteres</span>
  <%= f.label :path, "Endereço eletrônico", :class => "big"%>
  <%= f.text_field :path %>
  <%= concave_errors_for @environment, :path %>
  <span class="tip">100 caracteres</span>
</fieldset>
<hr/>
<fieldset class="course-fields">
  <%= f.fields_for :courses do |builder|  %>
    <div class="course-box clearfix">
      <%= builder.label :name, "Seu primeiro curso" %>
      <%= builder.text_field :name, :class => "big" %>
      <%= concave_errors_for @environment.courses.first, :name %>
    </div>
    <span class="tip">60 caracteres</span>
    <%= builder.label :path, "Endereço eletrônico" %>
    <%= builder.text_field :path, :class => "big" %>
    <%= concave_errors_for @environment.courses.first, :path %>
    <span class="tip">100 caracteres</span>
  <% end %>
</fieldset>
