<fieldset>
  <div class="environment-box clearfix">
    <%= f.label :name, "Seu ambiente de ensino" %>
    <%= f.text_field :name, :class => "big" %>
  </div>
  <span class="tip">40 caracteres restantes</span>
  <%= f.label :initials, "Abreviação" %>
  <%= f.text_field :initials %>
  <span class="tip">40 caracteres restantes</span>
  <%= f.label :path, "Endereço eletrônico", :class => "big"%>
  <%= f.text_field :path %>
</fieldset>
<fieldset>
  <%= f.fields_for :courses do |builder|  %>
    <div class="course-box clearfix">
      <%= builder.label :name, "Seu primeiro curso" %>
      <%= builder.text_field :name, :class => "big" %>
    </div>
    <span class="tip">40 caracteres restantes</span>
    <%= builder.label :path, "Endereço eletrônico" %>
    <%= builder.text_field :path, :class => "big" %>
    <span class="tip">40 caracteres restantes</span>
  <% end %>
</fieldset>
