<%# 
  Partial que exibe o header do environment/course. Três locals: environment,
    course e space. 
    Caso não seja necessário exibir o course basta passar :course => nil.
    Caso não seja necessário exibir o space basta passar :space => nil.
  %>
<%= stylesheet_link_tag 'environment-header.css' %>

<script type="text/javascript">
  (function($) {
    $(document).ready(function(){
      $("#create-header .dropdown .current").hover(
        function(){
          $(this).parents('.dropdown:first').addClass('hover')
        },
        function(){
          $(this).parents('.dropdown:first').removeClass('hover')
        })
    });
  })(jQuery);
</script>
<div id="environment-header" class="container_16 clearfix">
  <div class="container_16" id="create-header" style="background-color: <%= course ? "#" + course.color : "inherited" %>">
    <div class="avatar grid_3">
      <div class="frame" id="university-logo">
        <div class="inner-frame">
          <%= image_tag environment.avatar.url(:thumb)  %>
        </div>
      </div> <!-- /frame -->
    </div>

    <div class="dropdown name grid_11 alpha">
      <h3><%= link_to environment.name, environment_path(environment) %><%= image_tag "btn-tit-environment.png", :class => "current" %></h3>
      <div class="dropdown-university">
        <ul>
          <li class="sub-university clearfix"><div class="nano"><%= image_tag environment.avatar.url(:nano) %></div><a href="#">Nome do link aqui</a></li>
          <li class="sub-university clearfix"><div class="nano"><%= image_tag environment.avatar.url(:nano) %></div><a href="#">Nome do link aqui</a></li>
          <li class="sub-university clearfix"><div class="nano"><%= image_tag environment.avatar.url(:nano) %></div><a href="#">Nome do link aqui</a></li>
          <li class="sub-university clearfix"><div class="nano"><%= image_tag environment.avatar.url(:nano) %></div><a href="#">Nome do link aqui</a></li>
          <li class="sub-university clearfix"><div class="nano"><%= image_tag environment.avatar.url(:nano) %></div><a href="#">Nome do link aqui</a></li>
          <li class="sub-university clearfix"><div class="nano"><%= image_tag environment.avatar.url(:nano) %></div><a href="#">Nome do link aqui</a></li>
        </ul>
      </div>
    </div>
    <% if course %>
      <% if space && space.id %>
        <div class="dropdown course grid_11 alpha">
          <h4>
            <%= link_to course.name + " > " , environment_course_path(environment, course) %> <%= link_to space.name , space_path(space) %>
            <%= image_tag "btn-subtit-environment.png", :class => 'current' %>
          </h4>
          <div class="dropdown-university">
            <ul>
              <li class="sub-university clearfix"><div class="nano"><%= image_tag environment.avatar.url(:nano) %></div><a href="#">Nome do link aqui</a></li>
              <li class="sub-university clearfix"><div class="nano"><%= image_tag environment.avatar.url(:nano) %></div><a href="#">Nome do link aqui</a></li>
              <li class="sub-university clearfix"><div class="nano"><%= image_tag environment.avatar.url(:nano) %></div><a href="#">Nome do link aqui</a></li>
              <li class="sub-university clearfix"><div class="nano"><%= image_tag environment.avatar.url(:nano) %></div><a href="#">Nome do link aqui</a></li>
              <li class="sub-university clearfix"><div class="nano"><%= image_tag environment.avatar.url(:nano) %></div><a href="#">Nome do link aqui</a></li>
              <li class="sub-university clearfix"><div class="nano"><%= image_tag environment.avatar.url(:nano) %></div><a href="#">Nome do link aqui</a></li>
            </ul>
          </div>
        </div>
      <% else %>
        <div class="dropdown course grid_11 alpha">
          <h4>
            <%= link_to course.name , environment_course_path(environment, course) %>
            <%= image_tag "btn-subtit-environment.png", :class => 'current' %>
          </h4>
          <div class="dropdown-university">
            <ul>
              <li class="sub-university clearfix"><div class="nano"><%= image_tag environment.avatar.url(:nano) %></div><a href="#">Nome do link aqui</a></li>
              <li class="sub-university clearfix"><div class="nano"><%= image_tag environment.avatar.url(:nano) %></div><a href="#">Nome do link aqui</a></li>
              <li class="sub-university clearfix"><div class="nano"><%= image_tag environment.avatar.url(:nano) %></div><a href="#">Nome do link aqui</a></li>
              <li class="sub-university clearfix"><div class="nano"><%= image_tag environment.avatar.url(:nano) %></div><a href="#">Nome do link aqui</a></li>
              <li class="sub-university clearfix"><div class="nano"><%= image_tag environment.avatar.url(:nano) %></div><a href="#">Nome do link aqui</a></li>
              <li class="sub-university clearfix"><div class="nano"><%= image_tag environment.avatar.url(:nano) %></div><a href="#">Nome do link aqui</a></li>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if @subject && !@subject.new_record? %>
      <div class="grid_16">
        <h3 class="call grid_10 alpha"><%= @subject.title %></h3>
        <div class="grid_6 omega">
          <%= link_to "Gerenciar", edit_space_subject_path(space, @subject),
            :class => "button" %>
          <%= render :partial => "subjects/publish_unpublish" %>
          <% if @subject.published? %>
            <%= link_to "Matricule-se", enroll_space_subject_path(@space, @subject),
              :class => "button" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div> <!-- /container_16 -->
</div><!-- end environment-header -->
