<%# 
  Partial que exibe o header do environment/course. Dois locals: environment
  e course. Caso não seja necessário exibir o course basta passar :course => nil
%>
<div id="environment-header" class="container_16 clearfix" style="background-color: <%= course ? "#" + course.color : "inherited" %>">
  <% if environment %>
    <div class="avatar grid_3">
      <div class="frame"><%= image_tag environment.avatar.url(:thumb)  %></div>
    </div>
    <div class="name grid_12">
      <h3><%= link_to environment.name, environment_path(environment) %></h3>
    </div>
    <%= link_to "Editar", edit_environment_path(environment),
      :class => "edit grid_1" %>
  <% end %>

  <% if course %>
    <% puts course %>
    <div class="grid_12">
      <h4><%= link_to course.name, environment_course_path(environment, course) %></h4>
    </div>
    <%= link_to "Editar", edit_environment_course_path(environment, course),
          :class => "grid_1 edit" %>
  <% end %>

</div><!-- end environment-header -->
