<%#
  Partial que exibe o header do environment/course. Três locals: environment,
    course e space.
    Caso não seja necessário exibir o course basta passar :course => nil.
    Caso não seja necessário exibir o space basta passar :space => nil.
  %>
<%= stylesheet_link_tag 'environment-header.css' %>

<script type="text/javascript">
   $(document).ready(function(){
      $("#create-header .dropdown .current").click(
        function(e){
          $(".dropdown-wrapper").hide();
          $(this).parents(".dropdown:first").find(".dropdown-wrapper").show()
        }
      );
      jQuery(document.body).click(function(event) {
        if (!(jQuery(event.target).is(".dropdown-wrapper") || jQuery(event.target).parents(".dropdown-wrapper").length || $(event.target).hasClass("current"))) {
                $(".dropdown-wrapper:visible").hide();
            }
        });

    })
 </script>
 <div id="environment-header" class="container_16 clearfix">
   <div class="container_16" id="create-header" style="background-color: <%= course && !course.new_record? ? "#" + course.color : "inherited" %>">
     <div class="frame" id="university-logo">
       <div class="inner-frame">
         <%= image_tag environment.avatar.url(:thumb)  %>
       </div>
     </div> <!-- /frame -->

     <div class="dropdown name">
       <h3><%= link_to environment.name, environment_path(environment) %><%= image_tag "btn-tit-environment.png", :class => "current" %></h3>
        <% if can? :manage, environment %>
        <span class="edit">
         <%= link_to "Gerenciar", edit_environment_path(environment) %>
        </span>
        <% end %>
       <div class="dropdown-wrapper clearfix" style="display: none;">
       <div class="dropdown-university clearfix">
         <ul>
         <% current_user.environments.each do |e| %>
           <li class="sub-university clearfix"><div class="nano"><%= image_tag e.avatar.url(:nano) %></div><%= link_to e.name, environment_path(e) %></li>
         <% end %>
         </ul>
       </div>
       </div>
     </div>
     <% if course && !course.new_record? %>
       <% if space && space.id %>
         <div class="dropdown course">
           <h4>
             <%= link_to course.name + " > " , environment_course_path(environment, course) %> <%= link_to space.name , space_path(space) %>
             <%= image_tag "btn-subtit-environment.png", :class => 'current' %>
           </h4>
           <% if can? :manage, course %>
             <span class="edit">
               <%= link_to "Gerenciar curso",
                 edit_environment_course_path(environment, course) %>
             </span>
           <% end %>
           <% if can? :manage, space %>
             <span class="edit">
               <%= link_to "Gerenciar espaço", edit_space_path(space) %>
             </span>
           <% end %>
           <div class="dropdown-wrapper" style="display:none">
             <div class="dropdown-university">
               <ul>
                 <% course.spaces.each do |s| %>
                   <li class="sub-university clearfix"><%= link_to course.name, environment_course_path(environment, course) %> <em>></em> <%= link_to s.name, space_path(s) %></li>
                 <% end %>
               </ul>
             </div>
           </div>
         </div>
       <% else %>
         <div class="dropdown course">
           <h4>
             <%= link_to course.name , environment_course_path(environment, course) %>
             <%= image_tag "btn-subtit-environment.png", :class => 'current' %>
           </h4>
           <div class="dropdown-wrapper" style="display:none">
             <div class="dropdown-university">
               <ul>
                 <% environment.courses.each do |c| %>
                   <li class="sub-university clearfix"><%= link_to c.name, environment_course_path(environment, c) %></li>
                 <% end %>
               </ul>
             </div>
           </div>
           <% if can? :manage, course %>
             <span class="edit">
               <%= link_to "Gerenciar curso",
                 edit_environment_course_path(environment, course) %>
             </span>
           <% end %>
         </div>
       <% end %>
     <% end %>
     <% if course && !course.new_record? && !course.published? %>
       <div class="grid_16">
         <div class="box_notice">O curso <strong><%= course.name %></strong> ainda não foi publicado. <%= link_to "Clique aqui", publish_environment_course_path(@environment, @course) %> para publicá-lo</div>
       </div>
     <% end %>
     <% if @subject && !@subject.new_record? %>
       <div class="grid_16 alpha omega " id="subject-header">
         <div class="grid_12 alpha">
           <strong>Módulo</strong>
           <h3 class="call">
             <%= link_to @subject.title, space_subject_path(@space, @subject) %>
             <% if can? :manage, @subject %>
               <%= link_to "Gerenciar", edit_space_subject_path(space, @subject),
                 :class => "edit" %>
             <% end %>
           </h3>
         </div>
         <div class="grid_4 omega">

           <%= render :partial => "subjects/publish_unpublish" %>
         </div>
         <div class="grid_16 alpha omgea">
           <div class="grid_3 push_13 alpha progress">
             <%= render :partial => 'subjects/progress',
               :locals => {:subject => @subject} %>
           </div>
         </div>
       </div><!--  grid_16 acoes gerais -->

       <div class="publish grid_16">
         <% unless @subject.ready_to_be_published? %>
           <div class="box_notice">Este módulo ainda não foi publicado pois sua criação precisa ser finalizada. <%= link_to "Clique aqui", lazy_space_subject_path(@space, @subject) %> para finalizá-la.</div>
         <% end %>
       </div>

       <% if current_user.enrolled?(@subject) %>
         <%= render :partial => 'subjects/next_previous' %>
       <% end %>
     <% end %>
   </div> <!-- /container_16 -->
 </div><!-- environment-header -->
