<%#
  Renderiza o cabeçalho da página de Ambiente de Aprendizagem.

  Variáveis:
    environment: o ambiente.
%>

<div class="entity-header content-section">
  <%= content_tag :h2, environment.name, class: "entity-header-title" %>

  <% unless environment.description.blank? %>
    <%= content_tag :p, environment.description,
      class: "entity-header-info icon-description-gray_16_18-before" %>
  <% end %>

  <% unless environment.tags.empty? %>
    <%= content_tag :p, environment.tags.join(", "),
      class: "entity-header-info icon-tag-gray_16_18-before" %>
  <% end %>
</div>

<% if can?(:manage, environment) %>
  <div class="entity-actions">
    <%= link_to "Gerenciar ambiente", edit_environment_path(environment),
      class: "entity-action button-default icon-manage-lightblue_16_18-before" %>
    <%= link_to "Criar novo curso", new_environment_course_path(environment),
      class: "entity-action button-primary" %>
  </div>
<% end %>

<%= new_tabs :environments %>