<%#
  Item de lista de ambientes e cursos inscritos.

  Variáveis:
    item_medium: o ambiente.
%>

<li class="profile-enrolled-environment">
  <div class="profile-enrolled-environment-info general-list-item-body">
    <%= link_to environment_path(item_medium), title: item_medium.name,
      alt: item_medium.name,
      class: "general-list-item-column" do %>
      <%= image_tag item_medium.avatar.url(:thumb_32), size: "32x32" %>
    <% end %>
    <div class="general-list-item-column">
      <%= link_to item_medium.initials, environment_path(item_medium),
        class: "text-truncate", title: item_medium.initials %>
      <%= content_tag :span, item_medium.name, class: "legend text-truncate",
        title: item_medium.name %>
    </div>
  </div>
  <ul class="profile-enrolled-courses">
    <% user.courses.of_environment(item_medium).each do |course| %>
      <li class="profile-enrolled-course">
        <%= link_to course.name,
          environment_course_path(item_medium, course),
          class: "text-truncate",
          title: course.name %>
        <% role = user.get_association_with(course).role %>
        <%= content_tag :span, t("classy_enum.role.#{role}", count: 1),
          class: "legend icon-#{role_icon(role).first}-gray_16_18-before" %>
      </li>
    <% end %>
  </ul>
</li>