<%#
  Formulário de escolha de planos do Ensine.
%>

  <%= lazy_load('https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js') do %>
    jQuery(function(){
      // Abas
      $(".tabs").tabs();
    });
  <% end %>

<div class="table tabs">
  <ul class="menu">
    <li class="vanila-plan">
      <a href="#teacher-plan" class="teacher icons-big icon-checkout-teacher-lightblue_100_100">Professor</a>
    </li>
    <li class="partner">
      <a href="#partner-plan" class="instituition icons-big icon-checkout-institution-lightblue_100_100">Instituição de ensino</a>
      <a href="#partner-plan" class="company icons-big icon-checkout-company-lightblue_100_100">Empresa</a>
    </li>
  </ul>
  <div id="teacher-plan" class="plan-container clearfix wide">
    <ul class="plans clearfix">
      <li class="free plan">
        <strong class="name tiptip-lite" title="Este plano é dedicado a professores que desejam criar seu primeiro ambiente virtual de ensino e interessados em testar o Redu." >Grátis</strong>
        <ul class="features">
          <li>
            <strong>30</strong>
            alunos
          </li>
          <li>Vídeos do YouTube <strong >ilimitados</strong></li>
          <li>Documentos no Scribd <strong>ilimitados</strong></li>
          <li>
            <strong>10 MB</strong>
            de armazenamento de documentos no Redu
          </li>
          <li>
            <strong>5 MB</strong>
            de armazenamento de vídeo no Redu
          </li>
          <li>
            Tempo
            <strong>ilimitado</strong>
          </li>
        </ul>

        <%= form_for @environment,
          :url => environments_path(:step => 2) do |f| %>
          <%= hidden_field_tag :plan, 'free' %>
          <%= f.submit "Assinar", :class => "concave-important" %>
          <div style="display:none;">
            <%= render :partial => 'form', :locals => { :f => f } %>
          </div>
        <% end %>
      </li>
      <li class="plan">
        <strong class="name">Lite</strong>
        <ul class="features">
          <li>
            <strong>70</strong>
            alunos
          </li>
          <li>Vídeos do YouTube <strong>ilimitados</strong></li>
          <li>Documentos no Scribd <strong>ilimitados</strong></li>
          <li>
            <strong>25 MB</strong>
            de armazenamento de arquivos no Redu
          </li>
          <li>
            <strong>30 MB</strong>
            de armazenamento de vídeos no Redu
          </li>
        </ul>
        <div class="pricing">
          <div class="setup">
            <span class="currency">R$</span>
            <span class="value">13,99</span>
            (adesão)
          </div>
          <span class="plus">+</span>
          <span class="monthly">
            <span class="currency">R$</span>
            <span class="value">13,99</span>
            /mês
          </span>
          <!--
          <span class="yearly">
            <span class="currency">R$</span>
            <span class="value">139,90</span>
            /ano
            <span class="tip">(2 meses grátis)</span>
          </span>
          -->
        </div>

        <%= form_for @environment,
          :url => environments_path(:step => 2) do |f| %>
          <%= hidden_field_tag :plan, 'professor_lite' %>
          <%= f.submit "Assinar", :class => "concave-important" %>
          <div style="display:none;">
            <%= render :partial => 'form', :locals => { :f => f } %>
          </div>
        <% end %>
      </li>
      <li class="plan no-sep">
        <strong class="name">Standard</strong>
        <ul class="features">
          <li>
            <strong>100</strong>
            alunos
          </li>
          <li>Vídeos do YouTube <strong>ilimitados</strong></li>
          <li>Documentos no Scribd <strong>ilimitados</strong></li>
          <li>
            <strong>25 MB</strong>
            de armazenamento de arquivos no Redu
          </li>
          <li>
            <strong>90 MB</strong>
            de armazenamento de vídeo no Redu
          </li>
        </ul>
        <div class="pricing">
          <div class="setup">
            <span class="currency">R$</span>
            <span class="value">56,99</span>
            (adesão)
          </div>
          <span class="plus">+</span>
          <span class="monthly">
            <span class="currency">R$</span>
            <span class="value">56,99</span>
            /mês
          </span>
          <!--
          <span class="yearly">
            <span class="currency">R$</span>
            <span class="value">569,90</span>
            /ano
            <span class="tip">(2 meses grátis)</span>
          </span>
          -->
        </div>

        <%= form_for @environment,
          :url => environments_path(:step => 2) do |f| %>
          <%= hidden_field_tag :plan, 'professor_standard' %>
          <%= f.submit "Assinar", :class => "concave-important" %>
          <div style="display:none;">
            <%= render :partial => 'form', :locals => { :f => f } %>
          </div>
        <% end %>
      </li>
      <li class="last plan best-choice">
        <strong class="name">Plus</strong>
        <ul class="features">
          <li>
            <strong>500</strong>
            alunos
          </li>
          <li>Vídeos do YouTube <strong>ilimitados</strong></li>
          <li>Documentos no Scribd <strong>ilimitados</strong></li>
          <li>
            <strong>25 MB</strong>
            de armazenamento de documentos no Redu
          </li>
          <li>
            <strong>150 MB</strong>
            de armazenamento de vídeo no Redu
          </li>
        </ul>
        <div class="pricing">
          <div class="setup">
            <span class="currency">R$</span>
            <span class="value">243,99</span>
            (adesão)
          </div>
          <span class="plus">+</span>
          <span class="monthly">
            <span class="currency">R$</span>
            <span class="value">243,99</span>
            /mês
          </span>
          <!--
          <span class="yearly">
            <span class="currency">R$</span>
            <span class="value">2439,90</span>
            /ano
            <span class="tip">(2 meses grátis)</span>
          </span>
          -->
        </div>

        <%= form_for @environment,
          :url => environments_path(:step => 2) do |f| %>
          <%= hidden_field_tag :plan, 'professor_plus' %>
          <%= f.submit "Assinar", :class => "concave-important" %>
          <div style="display:none;">
            <%= render :partial => 'form', :locals => { :f => f } %>
          </div>
        <% end %>
      </li>
    </ul>
  </div><!-- end #teacher -->
  <div id="partner-plan" class="plan-container">
    <%= image_tag "thumbnail-cns.png", :size => "130x130", :class => "partner-avatar" %>
    <h3 class="partner-call">
      A parceria certa para a sua empresa
    </h3>
    <p class="partner-details">
      A CNS Consultores Associados, em parceria com o Redu,  traz uma nova concepção de educação a distância, oferecendo soluções pedagógicas adequadas, por meio de um ambiente virtual de aprendizagem (A.v.A.) inovador, com conteúdos personalizados e metodologias motivadoras.
    </p>
    <%= render :partial => 'partners/partner_contacts/new_old', :locals => { :environment => @environment } %>
  </div><!-- end #partner -->
</div>
