<%#
  Barra lateral de ambientes.

  Variáveis:
    environment: o ambiente.
%>

<div class="entity-sidebar">
  <%= link_to environment, class: "environment-thumbnail" do %>
    <%# TODO: Usar 160x160 quando estiver gerado. %>
    <%= image_tag environment.avatar.url(:thumb_140), size: "160x160",
      alt: environment.name, title: environment.name,
      class: "environment-thumbnail" %>
  <% end %>

  <%= render "bootstrap/breadcrumb_icons", entity: environment %>

  <% cache ["environment_sidebar_connections_with_count", environment.id] do %>
    <div class="entity-members-counter-wrapper">
      <%= content_tag :span, environment.users.count,
        class: "entity-members-counter" %>
      <%= "membro".pluralize(environment.users.count) %>
    </div>

    <span class="entity-sidebar-separator icon-arrow-up-curly-gray show text-replacement">-</span>

    <ul class="entity-members-list clearfix">
      <%= render partial: "shared/item_linkable",
        collection: environment.users.limit(16),
        locals: { classes: "entity-member", size: 32, name: "display_name" } %>
    </ul>
  <% end %>
</div>