<div class="concave-sidebar alpha grid_3">
  <div class="image-frame">
    <%= link_to(environment) do %>
      <%= image_tag environment.avatar.url(:thumb_140),
        :size => "140x140",
        :alt => 'profile',
        :class => "environment-avatar" %>
    <% end %>
  </div>

  <% cache ['environment_sidebar_connections_with_count', @environment.id] do %>
    <div class="total-count">
      <span class="count"><%= users_count = environment.users.count %></span>
      <span class="members"><%= t :member_caps, :count => users_count %> </span>
    </div>

    <ul class="connections clearfix">
      <%= render :partial => 'users/item_short',
        :collection => environment.users.limit(16) %>
    </ul><!-- end .connections -->
  <% end %>
</div>

