<div class="concave-sidebar alpha grid_3">
  <div class="image-frame">
    <%= link_to(environment) do %>
      <%= image_tag environment.avatar.url(:thumb_140),
        :size => "140x140",
        :alt => 'profile',
        :class => "environment-avatar" %>
    <% end %>
  </div>

  <div class="total-count">
    <span class="count"><%= environment.users.count %></span>
    <span class="members">membros</span>
  </div>

  <ul class="roles clearfix">
    <li>
      <span class="role icon-environment_admin-gray_16_18-before">Administradores:</span>
      <%= link_to environment.administrators.count,
        environment_users_path(environment), :class => "count" %>
    </li>
    <li>
      <span class="role icon-teacher-gray_16_18-before">Professores:</span>
      <%= link_to environment.teachers.count,
        environment_users_path(environment, :role => "teachers"),
        :class => "count" %>
    </li>
    <li>
      <span class="role icon-tutor-gray_16_18-before">Tutores:</span>
      <%= link_to environment.tutors.count,
        environment_users_path(environment, :role => "tutors"),
        :class => "count" %>
    </li>
    <li>
      <span class="role icon-member-gray_16_18-before">Alunos:</span>
      <%= link_to environment.students.count,
        environment_users_path(environment, :role => "students"),
        :class => "count" %>
    </li>
  </ul><!-- end .roles -->
  <ul class="connections clearfix">
    <%= render :partial => 'users/item_short',
      :collection => environment.users.n_recent(16) %>
  </ul><!-- end .connections -->
</div>

