<%= image_tag 'loadingAnimation.gif', :id => 'loading_bar', :style => "display: none; margin-top: 40px"%>

<table id="user_list_table" class="common">
  <thead>
    <th>
    <input type="checkbox" id="select_all"  >
    </th>
    <th>Usuário</th>
    <th>Data de Inscricão</th>
    <th>Curso(s)</th>
  </thead>
  <% for environment_membership in memberships %>
    <tr>
      <td><%= check_box_tag 'users[]', environment_membership.user.id  %></td>
      <td><%= link_to environment_membership.user.display_name, environment_membership.user, :target => "_blank" %> </td>
      <td><%= time_ago_in_words(environment_membership.created_at) %> </td>
      <td>
        <ul class="tags">
        <% environment_membership.user.user_course_association.each do |course_membership| %>
          <li><span><%= course_membership.course.name %></span></li>
        <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
</table>
