<script type="text/javascript" language="javascript" charset="utf-8">
  function showLoadingUsers(){
    if (document.getElementById('loading_bar')){
	document.getElementById('loading_bar').style.display = 'block';
        $('user_list_table').remove();
    }
}
</script>
<%= render :partial => 'environments/sidebar', :locals => { :environment => @environment } %>
<div class="main grid_12 omega big-col">
  <%= render :partial => 'environments/breadcrumbs',
    :locals => { :environment => @environment } %>

  <%= render :partial => 'environments/header',
    :locals => { :environment => @environment } %>

  <div id="environment-manage" class="body">
    <div class="header">
      <h4>Gerenciamento</h4>
      <span class="counter">Informações gerais do ambiente <%= @environment.initials_or_name %></span>
    </div>

    <%=
      fake_tabs ["Informações", edit_environment_path(@environment), {:class => 'icon icon-management-gray_16_16'}],
        ["Membros", admin_members_environment_path(@environment), {:class => 'icon icon-members-lightblue_16_16'}],
        ["Notícias", admin_bulletins_environment_path(@environment), {:class => 'icon icon-bulletin-gray_16_16'}],
        ["Cursos", admin_courses_environment_path(@environment), {:class => ''}] do
      %>

    <% if @memberships && @memberships.size > 0 %>
      <%= form_tag search_users_admin_environment_path(@environment),
        :remote => true, :class => "form-common filter" do %>
        <div class="filters clearfix">
          <%= field_set_tag "Buscar", :class => "grid_4 alpha inline hidden" do %>
            <%= label_tag :search_user, "Nome" %>
            <%= text_field_tag :search_user, nil, :class => "nano" %>
          <% end %>
          <%= field_set_tag nil, :class => "grid_4 omega inline" do %>
            <ul class="columns">
              <li>
                <%= check_box_tag :role_filter, Role[:member] %>
                <%= label_tag :role_filter, "Membro", :class => "inline" %>
              </li>
              <li>
                <%= check_box_tag :role_filter, Role[:tutor] %>
                <%= label_tag :role_filter, "Tutor", :class => "inline" %>
              </li>
              <li>
                <%= check_box_tag :role_filter, Role[:teacher] %>
                <%= label_tag :role_filter, "Professor", :class => "inline" %>
              </li>
              <li>
                <%= check_box_tag :role_filter, Role[:environment_admin] %>
                <%= label_tag :role_filter, "Administrador", :class => "inline" %>
              </li>
            </ul>

            <% end %>
          <%= submit_tag 'Filtrar',
            :style => "float: right;" %>
        </div>
      <% end %>

      <div id="user_list">
        <%= render :partial => 'environments/user_list_admin',
          :locals => {:memberships => @memberships}%>
      </div>
    <% else %>
      <div class="box_notice">Não há usuários no ambiente.</div>
    <% end %>


    <%= will_paginate @memberships, :renderer => EndlessRenderer %>
  <% end %>
</div>
</div><!-- end #environment-edit -->
