<div class="grid_16">
  <script type="text/javascript"  charset="utf-8">
    $(document).ready(function(){
        $(".tabs").tabs();
        })
      </script>
      <div class="tabs grid_16 alpha omega">
        <ul>
          <li><a href="#tabs-1">Configurações</a></li>
          <li><a href="#tabs-2">Cursos</a></li>
          <li><a href="#tabs-3">Convites</a></li>
        </ul>
        <div id="tabs-1" class="clearfix grid_15">
          <h1>Configurações do Ambiente de Ensino</h1>

          <% form_for @environment, :html => { :multipart => true } do |f| %>
            <%= f.error_messages %>
            <% field_set_tag "Informações Gerais" do %>
              <%= f.label :name, "Nome" %>
              <%= f.text_field :name  %>
              <%= f.label :description, "Description" %>
              <%= f.text_area :description %>
            <% end %>
            <% field_set_tag "Aparência" do %>
              <%= f.label :avatar, "Imagem" %>
              <%= f.file_field :avatar %>
              <%= f.submit "Alterar!" %>
            <% end %>
          <% end %>

        </div><!-- end tabs-1 -->
        <div id="tabs-2" class="clearfix grid_15">
          <h1>Cursos</h1>
          <%= render :partial => 'courses/index_admin' %>
          <%= link_to "Criar Curso!", new_environment_course_path(@environment), :class => "button" %>
        </div><!-- end tabs-2 (cursos) -->

        <div id="tabs-3" class="clearfix grid_15">
          <h3>Colaboradores convidados</h3>
          <script type="text/javascript" charset="utf-8">
            $(document).ready(function(){
                $("#convidar").hide()
                $("a[href=#convidar]").click(function(e){
                  $("#convidar").slideToggle()
                  e.preventDefault()
                })
            })
          </script>
          <a href="#convidar">Envie mais convites</a>
          <div id="convidar">
            <%= render :partial => 'environment_invitations/remote_form' %>
          </div>
          <%= render :partial => "environment_invitations/index",
                :object => @invitations %>
        </div><!-- end tabs-3 (convites) -->
      </div>
    </div>
