<h1>Editing environment</h1>

<% form_for(@environment) do |f| %>
  <%= f.error_messages %>
  <% field_set_tag "Informações Gerais" do %>
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name  %>
    <%= f.label :description, "Description" %>
    <%= f.text_area :description %>
  <% end %>
  <% field_set_tag "Aparência" do %>
    <%= f.label :avatar, "Imagem" %>
    <%= f.file_field :avatar %>
  <% end %>
<% end %>

<h1>Cursos</h1>
<ul>
  <% @courses.each do |item| %>
    <li>
      <%= link_to item.name, environment_course_path(@environment, item) %>
      <%= link_to "Editar", edit_environment_course_path(@environment, item) %>
      <%= link_to 'Deletar', environment_course_path(@environment, item),
        :confirm => 'Você tem certeza que deseja remover este curso?', :method => :delete %>
    </li>
  <% end %>
  <% if @environment.courses.empty? %>
    <div class="box_notice">
      Este ambiente de ensino não possui nenhum curso.
      <%= link_to "Crie um agora!", new_environment_course_path(@environment) %>
    </div>
  <% end %>
</ul>
<%= link_to 'Show', @environment %> |
<%= link_to 'Back', environments_path %>
