<script type="text/javascript">
  $(document).ready(function(){
    $("input[type=text][name*=color]").val("<%= @environment.color if @environment %>")
    $("input[type=text][name*=color]").css('background-color' , "#<%= @environment.color %>")
  })
</script>
<%= apply_color_picker_to "#environment_color" %>
<div class="grid_16">
  <div class="fake-tabs grid_16 alpha omega">
    <%= render :partial => 'environments/admin_taskbar' %>
    <div class="panel clearfix grid_15">
      <h1>Configurações do Ambiente de Ensino</h1>

      <% form_for @environment, :html => { :multipart => true } do |f| %>
        <%= f.error_messages %>
        <% field_set_tag "Informações Gerais" do %>
          <%= f.label :name, "Nome" %>
          <%= f.text_field :name  %>
          <%= f.label :description, "Description" %>
          <%= f.text_area :description, :class => 'mceEditor' %>
          <%= f.label "Palavras-chave <span class='snippet'>(separadas por vírgula)</span>" %>
          <%= f.text_field :tag_list %>
        <% end %>
        <% field_set_tag "Aparência" do %>
          <%= f.label :avatar, "Imagem" %>
          <%= f.file_field :avatar %>
          <%= f.label :color, "Cor" %>
          <%= f.select :color, options_for_select(color_picker_colors, :selected => @environment.nil? ? nil : @environment.color )%>
          <%= f.submit "Alterar!" %>
        <% end %>
      <% end %>
    </div><!-- end config. -->
  </div>
</div>
