<h1>Listing environments</h1>

<%= render :partial => 'environment_simple_form' %>
<table>
  <tr>
  </tr>
<% @environments.each do |environment| %>
  <tr>
    <td><%= link_to 'Show', environment %></td>
    <td><%= link_to 'Edit', edit_environment_path(environment) %></td>
    <td><%= link_to 'Destroy', environment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New environment', new_environment_path %>
