<%= apply_color_picker_to "#environment_color" %>
<script type="text/javascript" charset="utf-8">
//<![CDATA[
$(document).ready(function(){
  $("#environment_name").bind('keyup blur', function(e){
    var slug = $(this).slug()
    $("#environment_path").val(slug);
    $("#url_preview .environment").html(slug);
  })

  $("#environment_path, #environment_courses_attributes_0_path").bind('keyup blur', function(e){
    var slug = $(this).slug()
    $(this).val(slug);
  })

  $("#environment_path").bind('keyup blur', function(){
    var slug = $(this).slug()
    $("#url_preview .environment").html(slug);
  })

  $("#environment_courses_attributes_0_path").bind('keyup blur', function(){
    var slug = $(this).slug()
    $("#url_preview .course").html(slug);
  })

  $("#environment_courses_attributes_0_name").bind('keyup blur', function(e){
    var slug = $(this).slug()
    $("#environment_courses_attributes_0_path").val(slug);
    $("#url_preview .course").html(slug);
  })

  $("input[name='environment[color]']").hide()
  $("input[name='environment[color]']").change(function(){
    color = $(this).css("background-color")
    $("#create-header").css("background-color", color)
  })

  $("#environment_name").bind('keyup blur', function(){
    $("div.name h3 > a").html($(this).val())
  })

  $("#environment_courses_attributes_0_name").bind('keyup blur', function(){
    $("div.course h4 > a").html($(this).val())
  })

})
//]]>
</script>
<div class="grid_16">
  <div class="general-call">
    <h3>Personalize seu ambiente de ensino</h3>
    <p>
      Antes de finalizar a criação do ambiente personalize nome, cores e até o endereço.
    </p>
  </div>
  <fieldset class="fake">
    <legend>O seu endereço completo será:</legend>
    <div id="url_preview">
      <span class="base">redu.com.br/</span>
      <span class="environment"><%= @environment.path %></span>/
      <span class="course"><%= @environment.courses.first.path %></span>
    </div>
  </fieldset>
  <% form_for @environment, :url => environments_path(:step => 2) do |f| %>
    <%= f.error_messages %>
    <% field_set_tag "Informações Gerais", :class => "inline grid_7 alpha" do %>
    <%= f.label :name, "Seu ambiente de ensino" %>
    <%= f.text_field :name %>
    <%= f.label :path, "Personalize a URL" %>
    <%= f.text_field :path %>
    <% end %>
    <% field_set_tag "Seu primeiro curso", :class => "inline grid_8 omega" do %>
    <% f.fields_for :courses do |builder|  %>
      <%= builder.label :name, "Seu curso" %>
      <%= builder.text_field :name, :class => "text" %>
      <%= f.select :color, options_for_select(color_picker_colors, "340096"),
            :class => "color inline" %>
      <%= builder.label :path, "Personalize a URL" %>
      <%= builder.text_field :path %>
        <% end %>
    <% end %>
    <%= f.submit "Criar", :style => "float: right;" %>
  <% end %>
</div>
