<%= render :partial => 'environments/sidebar', :locals => { :environment => @environment } %>

<div class="main grid_12 omega big-col">
  <%= render :partial => "environments/breadcrumbs", :locals => { :environment => @environment } %>
  <%= render :partial => 'environments/header',
        :locals => { :environment => @environment } %>

  <div id="environment-courses" class="body">
    <% if can?(:manage, @environment) %>
      <div class="admin-actions">
        <%= link_to 'Criar novo curso', new_environment_course_path(@environment), :class => "button" %>
      </div>
    <% end %>

    <ul id="courses_list" class="hierarchy-listing">
      <% tabs :environments do %>
        <%= render :partial => 'courses/item_preview',
          :collection => @courses %>
      <% end %>
    </ul>
  <%= will_paginate @courses, :renderer => EndlessRenderer %>
  </div><!-- end #environment-courses -->

</div><!-- end .main -->
