<%= render :partial => 'environments/sidebar',
  :locals => { :environment => @environment } %>

<div class="main grid_12 omega big-col">
  <%= render :partial => "environments/breadcrumbs",
      :locals => { :environment => @environment } %>

  <%= render :partial => 'environments/header',
    :locals => { :environment => @environment } %>

  <div id="environment-users" class="body">
    <%= fake_tabs ["Cursos", environment_path(@environment)],
      ["Membros", users_environment_path(@environment)] do %>
      <%= render :partial => "users/list",
        :locals => { :entity => @environment, :users => @users,
          :teachers => @teachers, :tutors => @tutors, :students => @students } %>
    <% end %>
  </div><!-- end #environment-courses -->

</div><!-- end .main -->
