<div class="filters">
  <strong class="call">Filtros:</strong>
    <fieldset>
      <%# hidden_field_tag 'search', "", { :id => 'hidden_search'} %>
      <% unless params[:role].nil? %>
        <%= hidden_field_tag 'role', params[:role] %>
      <% end %>
      <% for audience in Audience.find(:all) %>
        <%# Se a audiência está marcada devido a consulta anterior,
          manter marcada  %>
        <% if !params[:audiences_ids].nil? and params[:audiences_ids].include?(audience.id.to_s) %>
          <span class="filter checked">
            <%= check_box_tag "audiences_ids[]", audience.id %>
          <% else %>
            <span class="filter">
              <%= check_box_tag "audiences_ids[]", audience.id, nil, :id => "audiences_ids_#{audience.id}" %>
            <% end %>
            <%= label_tag "audiences_ids_#{audience.id}", audience.name %>
        </span>
      <% end %>
      <%= submit_tag "Filtrar" %>
    </fieldset>
</div><!-- end #filters -->
