  
  
  <div style="float: left; border:1px solid #DDDDDD;  width: 100%; background-color: #F8FAFF;">
	
	<div id="menu_bar">
	
		<div class="add-topic-outter" style="float:left;">
          <a id="add_topic_link" href="#" onclick="$('div.add-topic-inner').toggle(); $(this).toggleClass('selected'); return false;">Inserir</a>
          	<div class="add-topic-inner menudiv">
              <ul class="selectable">
                  <li>
                      <%= link_to_add_lesson((image_tag 'icons/iclass.gif', :title => "Texto") + "Texto", f, 'page') %>
                  </li>
                  <li>
                      <%= link_to_add_lesson((image_tag 'icons/seminar.gif', :title => "Vídeo") + "Vídeo", f, 'seminar') %>
											
                  </li>
                  
									<li>
                      <%= link_to_function((image_tag 'icons/exam.gif', :title => "Exame") + "Avaliação", 'alert("Opção indisponível nessa versão")') %>
                  </li> 
                  <li>
                      <%= link_to_add_lesson((image_tag 'icons/objects.png', :title => "Objetos") + "Objeto embarcado", f, 'object') %>
                  </li>
									
                  <li>
                  	 <%= link_to_function((image_tag 'icons/discussion.png', :title => "Discussão") + "Discussão", 'alert("Opção indisponível nessa versão")') %>
                  </li>
									
              </ul>
          </div>
					<!--
					|
					<%# link_to_function "Salvar", "save(false)", :id => "save_link"%>
          |
					<%# link_to_function "Pré-visualizar", "save(true)", :id => "preview_link"%>
				-->
     </div>	
			
		<div style="text-align:right; margin-right: 10px;">
      <%= image_tag 'spinner.gif', :id => 'save-spinner', :style => 'display: none' %>
      <span class="snippet" id="save_info"></span>
  	</div>
			

		</div>
	
	
	<div id="topic_bar">
  
    <h3 style="margin: 5px 0 0 5px;">Tópicos</h3>
  	<ul id="topic_list">
  		<% interactive_class.lessons.each_with_index do |lesson, index| %>
			<% if index == 0 %>
			<script> currentTopic = <%= (lesson.id) ? lesson.id : index %></script>
			<% end %>
			<li id="topic_list_item_<%= (lesson.id) ? lesson.id : 0 %>" >
			  	 <a href="#" onclick="selectTopic(<%= (lesson.id) ? lesson.id : 0 %>); return false;" id="topic_item_<%= (lesson.id) ? lesson.id : 0 %>" class="topic_item <%= (index ==0) ? 'topic_item_sel' : '' %>" >
			  		<%= image_tag 'icons/iclass.gif', :title => "Texto" %>
					<span id="topic_name_<%= (lesson.id) ? lesson.id : 0 %>"> <%= (lesson.title) ? lesson.title : 'Sem título' %></span>  
					<%= image_tag 'icons/delete.png', :border => 0, :onclick => "removeTopic("+ ((lesson.id) ? lesson.id.to_s : '0') +")", :style => "float: right;" %>
				 </a>
			 </li>
		 <% end %>
  	</ul>
  
  </div>
  
	  <div id="topic_body">
	  	
		<% if interactive_class.lessons.length == 0%>
		<div id="empty_lessons">
		 <h3 style="color: #bbb;">Clique em "inserir" para adicionar um novo tópico</h3>
		 </div>
		<% else %>
				<% counter = 0 %>
				<% f.fields_for :lessons do | build |%>
							<% if build.object and build.object.lesson_type == 'Page' %>
								<%= render :partial => 'courses/form_lesson_page', :locals => {:form_lesson => build} %>
	                       	<% end %>
							<% counter += 1 %>
				<% end %>
		<% end %>
			
	  </div>
  
  </div>
  
  
  

  <div style="float: left; width: 100%">
 
<!--TODO Funcionalidade de anexar arquivos à aulas %= render :partial => 'attachment_form', :locals => {:f => f}%-->


</div>
<iframe id='upload_frame' name="upload_frame" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>


