

	<%= f.label "Nome:" %><br/>
	<%= f.text_field :name %><br/><br/>

	<%= f.label "Descrição:" %><br/>
	<%= f.text_area :description, :size => "50x3" %><br/><br/>
	
	<%= f.label "Tags:" %><br/>
	<%= f.text_field :tag_list %><br/><br/>
	
	<%= f.label "Pública" %><br/>
	<%= f.check_box :published %><br/><br/>
	
	<%= f.label "Postar em:" %><br/>
	<% @schools = current_user.schools %>
	<% @schools.each do | school | %>
		<%= radio_button_tag :post_to, school.id %> <%= school.name %><br/>
	<% end %>
	<br/><br/>
	
	<% @user_resources = current_user.resources %>
	
	
	

<fieldset>
	<legend>Material Principal</legend>

  <%= f.radio_button :external_resource_type, :slideshare, {:onchange => "switchCourseFields(2);"} %>
  <%= f.label :external_resource_type_slideshare, "Slideshare" %>	
  <%= f.radio_button :external_resource_type, :youtube, {:onchange => "switchCourseFields(2);"} %>
  <%= f.label :external_resource_type_youtube, "Youtube" %>
  <%= f.radio_button :external_resource_type, :upload, {:onchange => "switchCourseFields(1);"} %>
  <%= f.label :external_resource_type_upload, "Upload" %><br/><br/>

  <div id="upload_resource_field" style="display:none;">
  <%= f.label :media, "Upload de Material" %><br/>
  <%= f.file_field :media  %><br/><br/>
  (tamanho máximo: 50MB)
  </div>

  <div id="external_resource_field" style="display:none;">
  <%= f.label :external_resource, "Material Externo (Youtube, Slideshare, etc)" %><br/>
  <%= f.text_field :external_resource  %><br/><br/>
  </div>
  
</fieldset>	
<script type="text/javascript">
	function switchCourseFields(fieldType){
		//alert(fieldType.value);
		
		// fieldType = 1 Upload
		// fieldType = 2 External link
		if (fieldType == 1) {
			$('price_box').show();
			document.getElementById("upload_resource_field").style.display = "block";
			document.getElementById("external_resource_field").style.display = "none";
		} else {
			$('price_box').hide();
			document.getElementById("upload_resource_field").style.display = "none";
			document.getElementById("external_resource_field").style.display = "block";
		}
		
	}

</script>
<fieldset>
	<legend>Material Complementar</legend>
	<%= link_to "Adicionar materiais complementares", :controller => "resources", :action => "new" %>
	<% unless @user_resources.empty? %>
	<div style="overflow: scroll; height: 200px; width: 250px;">
	<%= hidden_field_tag "course[resource_ids][]", "" %>
	<ul>
	<% @user_resources.each do | resource | %>
		<li>
		  <%= check_box_tag "course[resource_ids][]", "#{resource.id}", users_resource?(resource) -%>
		  <%= resource.name %>
		</li>
	<% end %>
	</ul>
	</div>
	<% end %>
</fieldset>	

<fieldset id="price_box">
	<legend>Preços</legend>
	<% f.fields_for :price do | course_price | %>
		<%= course_price.label :price %>
		<%= course_price.text_field :price %>
		<%= course_price.hidden_field :key_number %>
	<% end %>
</fieldset>

