<%# Utilizado para a crição de um Course. A flag edit deve ser true quando o form
    estiver sendo utilizado para editar uma entrada já existente %>
<script type="text/javascript">
  $(document).ready(function(){
     $("#course_name").bind('keyup blur', function(e){
       $("#course_path").val($(this).slug());    
     })

  })
</script>

<%= apply_color_picker_to "#course_color" %>

<% field_set_tag "Informações Gerais" do %>
  <%= f.label :name, "Nome" %>
  <%= f.text_field :name %>
  <%= f.label :path, :path.l %>
  <%= f.text_field :path %>
  <%= f.label :description, "Descrição" %>
  <%= f.text_area :description, :class => "mceEditor", :size => "2x10"%>
  <%= f.label :workload, "Carga Horária" %>
  <%= f.text_field :workload,  :size=> 8 %>
  <%= f.label "Palavras-chave <span class='snippet'>(separadas por vírgula)</span>" %>
  <%= f.text_field :tag_list %>
<% end %>
<% field_set_tag 'Audiência' do %>
  <span class="snippet">Selecionar um público que não corresponde ao propósito do curso pode levar à uma má avaliação. </span>
  <%= error_for :course, :audiences %>
  <ul>
    <% for audience in Audience.find(:all) %>
      <li>
        <%= check_box_tag "course[audience_ids][]", audience.id, @course.audiences.include?(audience) %>
        <%= audience.name %>
      </li>
    <% end %>
  </ul>
<% end %>
<% field_set_tag "Quem pode participar do curso?" do %>
  <%= f.radio_button :subscription_type, "1", :checked => true %> Todos
  <%= f.radio_button :subscription_type, "2" %> Moderação 
<% end %>

