

	<%= f.label :name %>:<br/>
	<%= f.text_field :name %><br/><br/>

	<%= f.label :description %>:<br/>
	<%= f.text_area :description %><br/><br/>
	
	<%= f.label :tag_list %>:<br/>
	<%= f.text_field :tag_list %><br/><br/>
	
	<%= f.label :published %>:<br/>
	<%= f.check_box :published %><br/><br/>

	<% @user_resources = current_user.resources.delete_if { |r| r.id == @course.main_resource.id } if @course.main_resource %>

<fieldset>
	<legend>Material Principal</legend>
	<% if edit %>
	  <strong><%= @course.main_resource.title %></strong>
    <%= link_to "Editar", :controller => 'resources', :id => @course.main_resource.id, :action => 'edit' %>
    <br/><br/>	
    
    <% unless @user_resources.empty? %>
    <strong>Novo material principal</strong>
    <div style="overflow: scroll; height: 200px; width: 250px;">
      <ul>
      <% @user_resources.each do | resource | %>
	      <li>
	       <%= radio_button_tag "course[main_resource_id]", "#{resource.id}" -%>
	      <%= resource.title %>	</li>
      <% end %>
      </ul>
    </div>
    <% end %>
    <%= link_to "Adicionar novo material principal", :controller => "resources", :action => "new" %>
	<% else %>
	  <% f.fields_for :main_resource do | main | %>
	  <%= render :partial => "resources/form", :locals => { :f => main } %>
	  <% end  %>
	<% end %>
</fieldset>	

<fieldset>
	<legend>Material Complementar</legend>
	<%= link_to "Adicionar materiais complementares", :controller => "resources", :action => "new" %>
	<% unless @user_resources.empty? %>
	<div style="overflow: scroll; height: 200px; width: 250px;">
	<%= hidden_field_tag "course[resource_ids][]", "" %>
	<ul>
	<% @user_resources.each do | resource | %>
		<li>
		  <%= check_box_tag "course[resource_ids][]", "#{resource.id}", users_resource?(resource) -%>
		  <%= resource.title %>
		</li>
	<% end %>
	</ul>
	</div>
	<% end %>
</fieldset>	

<fieldset>
	<legend>Preços</legend>
	<% f.fields_for :course_prices do | course_price | %>
		<%= course_price.label :price %>
		<%= course_price.text_field :price %>
	<% end %>
</fieldset>

