<div id="hierarchy-header" class="clearfix course-header">
  <span class="parent">
      <%= link_to course.environment.name, environment_path(course.environment)%> /
  </span>
  <% if can?(:manage, course) %>
    <%= link_to "Gerenciar curso",
      edit_environment_course_path(course.environment, course),
      :class => "manage icon-manage-gray_8_10-before" %>
  <% end %>
  <h3 class="call name"><%= link_to course.name, environment_course_path(course.environment, course) %></h3>
  <%# TODO: Back-end com a lista de responsáveis e seus papéis. %>
  <% if responsibles_associations.empty? %>
    <div class="course-owners cleafix">
      <span class="pull-left">Esse curso não possui administradores e professores.</span>
    </div>
  <% else %>
    <div class="course-owners clearfix">
      <%= content_tag :span,
        "#{ pluralize responsibles_associations.length, 'Responsável', 'Responsáveis'}:",
        class: "pull-left" %>
      <ol class="course-resposibles clearfix pull-left">
        <% responsibles_associations.each do |responsible| %>
          <li class="course-resposible">
            <%= link_to responsible.user.display_name, user_path(responsible.user),
              class: "icon-#{ role_icon(responsible.role).first }-gray_16_18-before" %>
          </li>
        <% end %>
      </ol>
    </div>
  <% end %>
  <% unless course.description.blank? && course.tags.empty? %>
    <div class="details">
      <% unless course.description.blank? %>
        <span class="description icon-bio-gray_16_18-before">
          <%= course.description %>
        </span>
      <% end %>
      <% unless course.tags.empty? %>
        <ul class="tags icon-tag-gray_16_18-before clearfix <%= course.description.blank? ? "" : "separator" %>">
          <% course.tags.each do |tag| %>
            <li>
              <%= link_to tag,
                environment_course_path(course.environment, course) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div><!-- end #hierarchy-header -->
