<tr id="invite-<%= invite_user_item_admin.id %>" class="invite">
  <td><%= check_box_tag 'user_invitations[]', invite_user_item_admin.id, false,
    {:class => "autoCheck", :id => "remove-#{invite_user_item_admin.id}"}  %></td>
  <td>
    <%= image_tag invite_user_item_admin.user.avatar(:thumb_32),
      :class => "avatar" %>
    <span class="user">
      <%= link_to invite_user_item_admin.user.display_name,
        invite_user_item_admin.user,
        :rarget => "_blank"%>
      <span class="tip">O membro ainda não aceitou o convite.</span>
  </span>
  </td>
  <td>
    <span class="date">
      <%= time_ago_in_words invite_user_item_admin.updated_at %>
    </span>
  </td>
  <td>
    <%= image_tag 'spinner.gif', :style => 'display: none;',
      :id => "spinner-#{invite_user_item_admin.id}-e" %>
    <%= link_to_remote 'Reconvidar',
      :url => invite_members_environment_course_path(@environment, @course,
           :users => "#{invite_user_item_admin.user.id}",
           :invitation_id => invite_user_item_admin.id),
      :loading => "$('#spinner-#{invite_user_item_admin.id}-e').show(); $('#invite-#{invite_user_item_admin.id} .reinvite').hide();",
      :success => "$('#spinner-#{invite_user_item_admin.id}-e').hide();",
      :html => { :class => 'important reinvite' } %>
  </td>
</tr>
