<tr id="invite-<%= invite_email_item_admin.id %>-e" class="invite">
  <td class="cell-checkbox"><%= check_box_tag 'email_invitations[]', invite_email_item_admin.id, false,
    {:class => "autoCheck", :id => "remove-#{invite_email_item_admin.id}"}  %></td>
  <td class="cell-user-info">
    <%= image_tag "missing_users_thumb_32.png",
      :class => "avatar", :width => 32, :height => 32 %>
    <span class="user">
      <%= invite_email_item_admin.email %>
    </span>
    <span class="tip">
      O usuário ainda não aceitou o convite para o curso.
    </span>
  </td>
  <td class="cell-reinvite">
    <%= link_to 'Reenviar convite',
      invite_members_environment_course_path(@environment, @course,
           :emails => "#{invite_email_item_admin.email}",
           :invitation_id => invite_email_item_admin.id.to_s + "-e"),
      :remote => true,
      :method => :post,
      :class => 'reinvite' %>
   </td>
</tr>
