<%#
  Convite para participar de curso.

  Variáveis:
    item_invitation: o convite para participar de curso.
%>

<li id="requisition-<%= item_invitation.id %>" class="list-mix-item">
  <div class="list-mix-inner">
    <div class="general-list-item-body">
      <%= link_to environment_course_path(item_invitation.course.environment, item_invitation.course), :class => "general-list-item-column" do %>
        <%= image_tag item_invitation.course.environment.avatar.url(:thumb_32), :size => "32x32", :alt => item_invitation.course.environment.name, :title => item_invitation.course.environment.name %>
      <% end %>
      <div class="general-list-item-column">
        Você foi convidado a participar do curso
        <%= link_to item_invitation.course.name,
          preview_environment_course_path(item_invitation.course.environment,
                                          item_invitation.course) %>
        <p class="legend"><%= l item_invitation.updated_at, :format => :elegant %></p>
      </div>
    </div>
    <div class="general-list-item-footer">
      <% if can? :add_entry, item_invitation.course %>
        <%= form_tag accept_environment_course_path(
          item_invitation.course.environment,
          item_invitation.course),
          :remote => true, :class => "pull-right" do %>
          <%= submit_tag "Aceitar", :class => "button-success" %>
        <% end %>
      <% else %>
        <button class="button-success pull-right" disabled="disabled">Limite de vagas atingido</button>
      <% end %>
      <%= form_tag deny_environment_course_path(
                                   item_invitation.course.environment,
                                   item_invitation.course),
                                   :remote => true, :class => "pull-right" do %>
        <%= submit_tag "Recusar", :class => "button-default" %>
      <% end %>
    </div>
  </div>
</li>
