<li class="child clearfix">
    <%= image_tag 'missing_courses_thumb_32.png', :alt => 'curso' %>
  <div class="info">
    <%= link_to item.name, environment_course_path(item.environment, item),
      :class => 'name' %>
    <% if can?(:manage, item) %>
      <%= link_to "Editar", edit_environment_course_path(item.environment, item),
        :class => "manage icon-manage-gray_8_10-before"%>
    <% end %>
    <%= course_privacy_legend(item) %>
    <% unless item.workload.nil? %>
      <span class="workload">(<%= item.workload %> horas)</span>
    <% end %>
    <% unless item.description.nil? %>
      <span class="description">
          <%= item.description %>
      </span>
    <% end %>
    <!--<ul class="tags clearfix">
      <% item.tags.each do |tag| %>
        <li>
          <%= link_to tag, environment_path(item.environment) %>
        </li>
      <% end %>
    </ul>-->
  </div>
  <div class="statistics">
    <%= render :partial => 'courses/privacy', :locals => { :course => item } %>
    <%= cache ["course_members_count", item.id] do %>
      <ul class="numbers clearfix">
        <li>
          <span class="count"><%= users_count = item.approved_users.count - item.administrators.count%></span>
          <em class="role"><%=t :member_caps, :count => users_count %></em>
        </li>
        <li>
          <span class="count"><%= teachers_count = item.teachers.count %></span>
          <em class="role"><%=t :teacher, :count => teachers_count%></em>
        </li>
        <li>
          <span class="count"><%= tutors_count = item.tutors.count %></span>
          <em class="role"><%= t :tutor, :count => tutors_count%></em>
        </li>
        <li>
          <span class="count"><%= studantes_count = item.students.count %></span>
          <em class="role"><%= t :studant, :count => studantes_count%></em>
        </li>

      </ul>
    <% end %>
  </div>
  <% if can?(:show, item) %>
    <ul class="spaces <%= "no-description" if item.description.blank? %>">
      <span class="title icon-space-gray_16_18-before"><%= disciplinas_matriculadas_count = item.spaces.published.count %> <%=t :disciplinas_matriculadas , :count => disciplinas_matriculadas_count%></span>
      <%= render :partial => 'spaces/item_medium',
        :collection => item.spaces.published %>
    </ul>
  <% end %>
</li>
