<li>
  <div class="avatar">
    <%= image_tag 'new/missing_courses_thumb_32.png' %>
  </div>
  <div class="preview clearfix">
    <div class="general parent-height">
      <%= link_to item_detailed.environment.name,
        environment_path(item_detailed.environment), :class => 'environment' %>
      <%= link_to item_detailed.name,
        environment_course_path(item_detailed.environment, item_detailed),
        :class => 'course' %>
      <% if item_detailed.subscription_type.eql? 2 %>
        <span class="moderated replacement icon-small icon-privacy-gray_16_18" title="Para entrar você precisa ser aceito">Moderado</span>
      <% end %>
      <ul class="tags clearfix">
        <% item_detailed.tags.each do |tag| %>
          <li>
            <%= link_to tag.name, courses_index_path %>
          </li>
        <% end %>
      </ul>
    </div><!-- end .general -->
    <div class="audience">
      <em>Audiência</em>
      <ul>
        <% item_detailed.audiences.each do |audience| %>
          <li>
            <%= link_to audience.name, environment_path(item_detailed.environment) %>
          </li>
        <% end %>
      </ul>
    </div><!-- end audience -->
    <span class="expand replacement">Mais detalhes</span>
  </div>
  <div  style="display: none;" class="details clearfix">
    <p class="description">
      <% if item_detailed.description.nil? or item_detailed.description.empty? %>
        Sem descrição.
      <% else %>
        <%= item_detailed.description %>
      <% end %>
    </p>

    <ul class="statistics">
      <li>
        <em>Membros:</em>
        <span><%= item_detailed.approved_users.count %></span>
      </li>
      <li>
        <em>Tutores:</em>
        <span><%= item_detailed.tutors.count %></span>
      </li>
      <li>
        <em>Estudantes:</em>
        <span><%= item_detailed.students.count %></span>
      </li>
    </ul>
  </div><!-- end .details -->
</li><p>

</p>
