<tr>
  <td><%= radio_button_tag '[member]['+ pending_member_item_admin.user.id.to_s+']', 'approve'  %></td>
  <td><%= radio_button_tag '[member]['+ pending_member_item_admin.user.id.to_s+']', 'reject' %></td>
  <td>
    <%= image_tag pending_member_item_admin.user.avatar(:thumb_32),
          :class => "avatar" %>
        <span class="user">
          <%= link_to pending_member_item_admin.user.display_name, pending_member_item_admin.user,
            :rarget => "_blank" %>
          <span class="email"><%= pending_member_item_admin.user.email %></span>
        </span>
  </td>
  <td><span class="date"><%= time_ago_in_words pending_member_item_admin.created_at %></span> </td>
</tr>
