<script type="text/javascript">
	var topics = {};
	
	
	var topicCount = 0;
	var currentTopic = 0;
	
	jQuery(document).ready(function(){
		removeAllMce();
		reloadMce();
		reloadSortable();
		
	});
	
	
function remove_fields(link) {
  $(link).prev("input[type=hidden]").val("1");
  $(link).closest(".fields").hide();
}
	
	function add_fields(link, association, content, type) {
		$('div.add-topic-inner').hide();
		$('#add_topic_link').removeClass('selected');
		
		var fieldsNumber = document.getElementById('topic_list').children.length;//jQuery("#topic_list > li").length;
		var maxFieldsNumber = <%= AppConfig.max_lesson_number %>;
		
		//"verificar" topic_list_item_0 
		if (fieldsNumber >= maxFieldsNumber){
			alert('O número máximo de tópicos em uma aula é 10'); // TODO tirar alerts
			return;
		}
		
		//alert(link + association + content);
		var new_id = new Date().getTime();
		var regexp = new RegExp("new_" + association, "g");
		if (type == 'anexo') {
			jQuery(link).before("<fieldset>" + content.replace(regexp, new_id) + "</fieldset>");
			return;
		}
		// BODY
		
		var topicBody = document.createElement("div");
		topicBody.innerHTML = content.replace(regexp, new_id);
		topicBody.setAttribute("id", "topic_body_" + topicCount);
		
		document.getElementById('topic_body').appendChild(topicBody);
		
		// INDEX
		
		var topicItemL = document.createElement("li");
		topicItemL.setAttribute("id", "topic_list_item_"+ topicCount);
		//topicItem.setAttribute("class", "lesson");
		//topicItem.setAttribute("style", "position: relative; z-index: 0; top: 0px; left: 0px;");
		
		var topicItem =	document.createElement("a");
		// TODO como reaproveitar esse innerHTML abaixo de um item do rails?
		
		var topicItemHTML;
		
		if (type == 'seminar') {
			topicItemHTML = "<img title=\"Vídeo\" src=\"/images/icons/seminar.gif\" alt=\"Vídeo\">" + 
		"<span id=\"topic_name_" + topicCount + "\"> Sem título</span>";
		
		} else if (type == 'object') {
			topicItemHTML = "<img title=\"Vídeo\" src=\"/images/icons/objects.png\" alt=\"Vídeo\">" + 
		"<span id=\"topic_name_" + topicCount + "\"> Sem título</span>";
		
		} else {
			topicItemHTML = "<img title=\"Texto interativo\" src=\"/images/icons/iclass.gif\" alt=\"Iclass\">" + 
		"<span id=\"topic_name_" + topicCount + "\"> Sem título</span>";
		}
		
		
		topicItem.innerHTML = topicItemHTML;
		topicItem.setAttribute("href", "#");
		topicItem.setAttribute("id", "topic_item_" + topicCount);
		topicItem.setAttribute("class", "topic_item");
		topicItem.setAttribute("onclick", "selectTopic("+topicCount+"); return false;");

		/*<img src=\"../../images/icons/delete.png\" style=\"float:right; border: 0;\"  onclick=\"removeTopic("+topicCount+"); return false;\" alt=\"Delete\">
		 * delete topic button
		 */
		var topicItemDel =	document.createElement("img");
		topicItemDel.setAttribute("src", "../../images/icons/delete.png");
		topicItemDel.setAttribute("style", "position:absolute; top:5px; right:5px; border: 0; z-index:1000");
		topicItemDel.setAttribute("onclick", "removeTopic("+topicCount+"); return false;");
		topicItemDel.setAttribute("alt", "Delete");
		
		topicItemL.appendChild(topicItem);
		topicItemL.appendChild(topicItemDel);

		document.getElementById('topic_list').appendChild(topicItemL);
		
		selectTopic(topicCount);
		
		topicCount++;
			
		removeAllMce();
		
		reloadMce();
		
		reloadSortable();
		
		document.getElementById("empty_lessons").style.display = 'none';
	}
	
	
	function reloadSortable(){
		    $("#topic_list").sortable({
					update: setTopicsPosition,
        	placeholder: 'ui-state-highlight'
   			 });
    	/*	$("#topic_list").disableSelection()*/
				
		/*Sortable.create("topic_list", {onUpdate: setTopicsPosition});*/

	}
	
    function removeAllMce(){
        var i, t = tinyMCE.editors;
        for (i in t) {
            if (t.hasOwnProperty(i)) {
					t[i].remove();
            }
        }
        
    }
		
	var isPreview = false;	
	function save(preview){
		isPreview = preview;
		jQuery.ajax({
			beforeSend:function(request){
				$('#save-spinner').show();
				}, 
			complete:function(request){
				$('#save-spinner').hide();
				if (isPreview) {
					window.open('<%= unpublished_preview_courses_path %>');
				}
				},
			data:jQuery.param(jQuery("#interactive_class_form").serializeArray()), 
			dataType:'script', 
			type:'post', 
			url:'<%= url_for(:action => :create, :course_id => @course.id)%>'});
	}
	
	
	function topicTitle(textBox){
		document.getElementById('topic_name_'+ currentTopic).innerHTML = textBox.value;
	}
	
	function selectTopic(topic){
		//alert('topic: '+topic + ' | current: '+ currentTopic);
		
		if (topic >= 0) {
		
			var curListItem = document.getElementById('topic_item_' + currentTopic);
			var selListItem = document.getElementById('topic_item_' + topic);
			
			if (curListItem != null && typeof(curListItem) != 'undefined') {
				curListItem.className = "topic_item";
			}
			if (selListItem != null && typeof(selListItem) != 'undefined') {
				selListItem.className += " topic_item_sel";
			}
			
			document.getElementById('topic_body_' + currentTopic).style.display = "none";
			document.getElementById('topic_body_' + topic).style.display = "block";
			
			currentTopic = topic;
		} else {
			document.getElementById('empty_lessons').style.display = "block";
			return false;
		}
	}
	
	function reloadMce(){
		<%=   raw_tiny_mce_init %>
	}
	
	function leavePage(){
		//return "Se você sair da página vai perder todas as informações não salvas. Deseja continuar?";
	}
	
	function removeTopic(link){
		
		var topic = document.getElementById("topic_list_item_" + link);
		var tbody = document.getElementById("topic_body_" + link);
		
		
		document.getElementById("topic_list").removeChild(topic);
		//document.getElementById("topic_body").removeChild(tbody); //nao remover div, pois pode conter um input que avisa ao rails que o elemento deve ser destruido

		var destroyEl = document.getElementById("destroy_"+link);
		if (destroyEl != null && typeof(destroyEl) != 'undefined') {
			destroyEl.value = "1";
		}
		
		tbody.style.display = "none";
		
		//jQuery(tbody).siblings("input[type=hidden]:first").val("1");
		
		var thelist = document.getElementById('topic_list').getElementsByTagName('li');
		if (thelist.length > 0) {
			var theid = thelist[0].id.split('_');
			seltopic = theid[theid.length - 1];
		}
		else {
			seltopic = -1;
		}
		selectTopic(seltopic);
		return false;
		
	}
	
	function setTopicsPosition(event,ui){
		
		sortable = document.getElementById('topic_list');
		
		var listItems = sortable.getElementsByTagName("li");
			for (var i =0; i < listItems.length; i++) {
				var liEl = listItems[i].id.split('_');
				var theId = liEl[liEl.length-1];
				//alert(theId);
				
				var tbody = document.getElementById('topic_body_'+theId);
				//alert(tbody);
				//alert(tbody.getElementsByTagName('input')[1].innerHTML+ ' |ordem: '+i);
				var liEl2 = tbody.getElementsByTagName('input')[0].value = i; // TODO esse codigo restringe sempre o segundo campo de input. Se mudar ordem dos campos pode gerar falha
				
			}
	}
	
	
	/* ******************************************************************************
	 * VIDEO (TODO replicado em step2seminar.html.erb)
	 * ******************************************************************************/
	
	function switchCourseFields(fieldType){
		if (fieldType == 1) {
			document.getElementById("upload_resource_field").style.display = "block";
			document.getElementById("external_resource_field").style.display = "none";
		} else {
			document.getElementById("upload_resource_field").style.display = "none";
			document.getElementById("external_resource_field").style.display = "block";
		}
		
	}
	

	
	
	function addAttachmentField(){
		
		var fieldsNumber = jQuery("input[name=attachments\\[\\]]").length;
		var maxFieldsNumber = <%= AppConfig.attachments_number %>;
		
		if (fieldsNumber < maxFieldsNumber) {
		
		jQuery('#attachments').append('<div><input id="attachments_" name="attachments[]" type="file"></div>');
		
		if (fieldsNumber == maxFieldsNumber-1) {
			jQuery('#new_attachment_link').hide();
		}
		
		}
	}
	
	
</script>
