<div class="concave-sidebar alpha grid_3">
  <div class="image-frame course-frame">
    <%= link_to(course.environment) do %>
      <%= image_tag course.environment.avatar.url(:thumb_90),
        :size => "90x90", :alt => 'profile', :class => "environment" %>
    <% end %>
    <span class="course icons-big icon-environment-white_64_64 replacement"><%= course.name %></span>
  </div>

  <div class="total-count">
    <span class="count"><%= users_count = course.approved_users.count %></span>
    <span class="members"><%=t :member_caps, :count => users_count%></span>
  </div>

  <ul class="roles clearfix">
    <li>
      <span class="role icon-teacher-gray_16_18-before">Professores:</span>
      <%= link_to course.teachers.count,
        environment_course_users_path(course.environment, course,
                                      :role => "teachers"),
        :class => "count" %>
    </li>
    <li>
      <span class="role icon-tutor-gray_16_18-before">Tutores:</span>
      <%= link_to course.tutors.count,
        environment_course_users_path(course.environment, course,
                                      :role => "tutors"),
        :class => "count" %>
    </li>
    <li>
      <span class="role icon-member-gray_16_18-before">Alunos:</span>
      <%= link_to course.students.count,
        environment_course_users_path(course.environment, course,
                                      :role => "students"),
        :class => "count" %>
    </li>
  </ul><!-- end .roles -->
  <ul class="connections clearfix">
    <%= render :partial => 'users/item_short',
      :collection => course.approved_users.limit(16) %>
  </ul><!-- end .connections -->
</div>
