<% content_for :header_scripts_and_styles do %>
  <%= stylesheet_link_tag "token-input" %>
  <%= javascript_include_tag "jquery.tokeninput.js" %>
  <script type="text/javascript">
    jQuery(function(){
      $("#invite_email").live("click", function(){
        email = $("input[autocomplete=off]").val();
        $("#emails").val($("#emails").val() + "," + email);
        $("input[autocomplete=off]").val("")

        item = "<li class=\"token-input-token email\"><p title=\"" + email + "\">" + email + "</p><span class=\"invite-to-redu\">(Convidar para o Redu)</span><span class=\"token-input-delete-token-email\">x</span></li>"
        $(".token-input-input-token").before(item);
        //$("#admin-invitations .token-input-list").css("marginTop", "40px");
        $(this).hide();
        return false;
      });

      $(".token-input-delete-token-email").live("click", function(){
          $(this).parent().remove();
          emails = $("#emails").val();
          deleted_email = $(this).prev().get(0).getAttribute("title");
          emails = emails.replace(new RegExp(deleted_email), "");
          $("#emails").val(emails);
      });

      $("form.common").ajaxComplete(function(){
        if ($(".token-input-dropdown li").length == 0) {
          emailRegex = /^([a-zA-Z0-9_.-])+@([a-zA-Z0-9_.-])+\.([a-zA-Z])+([a-zA-Z])+/;
          entered_value = $("input[autocomplete=off]").val().slice(2);
          if (emailRegex.test(entered_value)) {
            $("#admin-invitations .token-input-list").css("marginTop", "20px");
            $("#invite_email").show();
          };
        }
        else
        {
          $("#invite_email").hide();
        }
      });

      $("#users").tokenInput("<%= auto_complete_users_path(:format => :js) %>", {
        crossDomain: false,
        hintText: "Digite o nome, sobrenome ou e-mail do usuário",
        noResultsText: "Sem resultados",
        searchingText: "Buscando...",
      });
    });
  </script>
<% end %>
<%= render :partial => 'courses/sidebar' %>
<div class="main grid_12 omega big-col">
  <%= render :partial => 'courses/breadcrumbs',
    :locals => { :course => @course } %>
  <%= render :partial => 'courses/header',
    :locals => { :course => @course } %>
  <div id="admin-invitations" class="body">
    <div class="header">
      <h4>Membros</h4>
      <span class="counter">Convide pessoas para fazer parte do curso.</span>
    </div>
    <div class="actions clearfix">
      <%=
        link_to "Ver convites em aberto",
        admin_manage_invitations_environment_course_path(@environment, @course)
        %>
    </div>
    <% unless @course.can_add_entry? %>
      <div class="flash-message">
        <span>O limite de vagas foi atingido, seus convites não poderão ser aceitos. Faça o upgrade do seu curso, e aumente a capacidade de usuários.</span>
      </div>
    <% end %>
    <% form_tag invite_members_environment_course_path(@environment, @course),
      :class => 'common', :id => "invite-members" do %>
      <%= link_to "Clique aqui para convidar este endereço de e-mail", nil,
        :class => 'button', :id => 'invite_email', :style => 'display: none; margin-left: 265px;' %>
      <%= label_tag "name", "Nome ou e-mail:" %>
      <%= text_field_tag "users" %>
      <%= hidden_field_tag "emails", "" %>
      <%= submit_tag "Convidar todos" %>
    <% end %>
  </div><!-- end admin-invitations -->
</div>
