<%= render :partial => 'courses/sidebar' %>
<div class="main grid_12 omega big-col">
  <%= render :partial => 'courses/breadcrumbs',
    :locals => { :course => @course } %>
  <%= render :partial => 'courses/header',
    :locals => { :course => @course } %>
  <div id="course-manage" class="body">
    <div class="header">
      <h4>Gerenciamento</h4>
      <span class="counter">Listagem de membros do curso <%= @course.name %></span>
    </div>
    <%=
      fake_tabs ["Informações", edit_environment_course_path(@environment, @course), {:class => 'icon icon-management-gray_16_16'}],
        ["Membros", admin_members_environment_course_path(@environment, @course), {:class => 'icon icon-members-lightblue_16_16'}],
        ["Moderação", admin_members_requests_environment_course_path(@environment, @course), {:class => 'icon icon-moderation-gray_16_16'}],
        ["Convites", admin_manage_invitations_environment_course_path(@environment, @course), {:class => ''}],
        ["Disciplinas", admin_spaces_environment_course_path(@environment, @course), {:class => 'icon icon-space-gray_16_16'}] do
      %>
    <% if @memberships && @memberships.size > 0 %>
      <div class="actions invite clearfix">
        <%=
          link_to "Convidar membros", admin_invitations_environment_course_path(@environment, @course),
            :class => "button"
        %>
      </div>
      <% form_remote_tag :url => search_users_admin_environment_course_path(
        @environment, @course),
        :loading => "$('#loading_bar').show();",
        :success => "$('#loading_bar').hide();",
        :html =>  { :class => "common filter"} do %>
        <div class="filters clearfix">
          <% field_set_tag "Buscar", :class => "grid_4 alpha inline hidden" do %>
            <%= label_tag :search_user, "Nome" %>
            <%= text_field_tag :search_user, nil, :class => "nano" %>
            <span class="tip">Mínimo de 4 letras</span>
          <% end %>
          <% field_set_tag nil, :class => "grid_4 omega inline" do %>
            <ul class="columns">
              <li>
                <%= check_box_tag :role_filter, Role[:member] %>
                <%= label_tag :role_filter, "Membro", :class => "inline" %>
              </li>
              <li>
                <%= check_box_tag :role_filter, Role[:tutor] %>
                <%= label_tag :role_filter, "Tutor", :class => "inline" %>
              </li>
              <li>
                <%= check_box_tag :role_filter, Role[:teacher] %>
                <%= label_tag :role_filter, "Professor", :class => "inline" %>
              </li>
              <li>
                <%= check_box_tag :role_filter, Role[:environment_admin] %>
                <%= label_tag :role_filter, "Administrador", :class => "inline" %>
              </li>
            </ul>

          <% end %>
          <%= submit_tag 'Filtrar',
            :style => "float: right;" %>
        </div>
      <% end %>
      <%= image_tag 'loadingAnimation.gif', :id => 'loading_bar',
        :style => "display: none; margin-top: 40px"%>
      <div id="user_list">
        <%= render :partial => 'courses/user_list_admin',
          :locals => {:memberships => @memberships}%>
      </div>
    <% else %>
      <div class="box_notice">Não há usuários no curso.</div>
    <% end %>
    <%= will_paginate  @memberships, :renderer => EndlessRenderer %>
  <% end %>
</div>
</div>
