<script type="text/javascript" charset="utf-8">
//<![CDATA[
$(document).ready(function(){
  $("#course_path").bind('keyup blur', function(e){
    var slug = $(this).slug()
    $(this).val(slug);
  })

  $("#course_path").bind('keyup blur', function(){
    var slug = $(this).slug()
    $("#url_preview .course").html(slug);
  })

  $("#course_name").bind('keyup blur', function(e){
    var slug = $(this).slug()
    $("#course_path").val(slug);
    $("#url_preview .course").html(slug);
  })

})
//]]>
</script>

<div class="main grid_16">
  <div class="fake-tabs grid_16 alpha omega">
    <%= render :partial => "courses/admin_taskbar" %>
    <div class="panel">
      <h1>Configurações do Curso</h1>
      <% form_for @course,
        :url => environment_course_path(@environment, @course) do |f| %>
        <%= render :partial => 'courses/form', :locals => { :f => f, :edit => true } %>
        <%= f.submit "Alterar" %>
      <% end %>

      <fieldset class="fake">
        <legend>Publicação</legend>
        <% if @course.published? %>
          <%= link_to 'Despublicar curso', unpublish_environment_course_path(@environment, @course),
            :confirm => 'Você tem certeza que deseja deixar este curso invisível?' %>
        <% else %>
          <%= link_to 'Publicar curso', publish_environment_course_path(@environment, @course),
            :confirm => 'Você tem certeza que deseja deixar este curso visível?' %>
        <% end %>
      </fieldset>
      <fieldset class="fake">
        <legend>Remover curso</legend>
        <%= link_to 'Deletar curso', environment_course_path(@environment, @course),
          :confirm => 'Você tem certeza que deseja remover este curso?', :method => :delete %>
      </fieldset>
    </div> <!-- end panel -->
  </div> <!-- end fake -->
</div> <!-- end main -->
