<h1>Editing course</h1>

<% form_for(@course) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Adicionar Recurso', {:action => :list_resources, :id => @course} %> |
<%= link_to 'Comentar', {:action => :put_comment, :id => @course} %> |
<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>