<div id="all_content3">
<div id="col_content">
	<div id="breadcrumbs">
		<a href="<%=application_url%>">home</a> >
		 
		<a href="#">aprender</a> > 
		<a href="#">aulas</a> 
		</div>
 	<div id="title">AULAS
	<%= render :partial => "courses/taskbar_index" %>
	</div>
	<div id="filter_bar">
		
	    <span id="title_list" class="title_list"> TODOS</span>
	   
		<%= render :partial => "courses/sort" %>
	      
    </div>
    <div id="all_list">
    	
		<% if @courses && @courses.length > 0 %>
 			<%= render :partial => 'courses/item', :collection => @courses, :as => :course %> 
 		<% else %>
 			Não há aulas publicadas ainda. <%= link_to 'Crie uma agora!', :action => 'new' %>
		<% end %>
    	
    </div> <!-- fim da listagem --> 
	
	<!-- PAGINACAO ##################################################################################################################################################### -->
    <div id="pagination" align="center">

		<%= will_paginate  @courses, :params => {:sort_by => @sort_by}, :class => "pagination_number"  %>

		
    </div>
	
	<!-- Movimentação Recente --> 
	
</div>
<div id="col_box3">
	<% if current_user %>
	<% @logs = current_user.log_activity %>
	<%= render :partial => 'logs/log', :locals => {:logs => @logs} %>
	<% else %>
	<%= render :partial => 'logs/not_logged_in', :locals => {:logs => @logs} %>
	<% end %>
	</div>
	
	<%= render :partial => 'shared/tagcloud' %>
</div>



