<div id="global-courses" class="clearfix">
  <%= form_tag courses_index_path(:role => params[:role]), :method => :get, :id => 'filter_form' do %>
    <div class="alpha grid_3">
      <div class="call">
        <h4>Cursos</h4>
        <strong>Localize os cursos inscritos através de seus papéis, ou procure por algo novo.</strong>
      </div>
      <%= render :partial => 'courses/filter' %>

    </div>
    <div class="main grid_12 omega big-col">
      <%= tabs :courses_index do %>
        <div class="form-common">
          <div class="text-filter">
            <%# Form usado somente para manter os estilos  %>
            <%= label_tag :search, "Filtrar por:" %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Buscar", :class => "concave-button", :style => "clear: none;" %>
          </div>
        </div>
        <ul id="courses_list" class="courses">
          <% if @courses.empty? %>
            <div class="box_notice">Nenhum curso foi encontrado.</div>
          <% else %>
            <%= render :partial => 'courses/item_detailed',
              :collection => @courses %>
          <% end %>
        </ul>
        <%= paginate @courses, :theme => 'endless' %>
      <% end %>
    </div><!-- end .main -->
  <% end %>
</div>
