<h1>Listando Aulas</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Recursos</th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%=h course.name %></td>
	<td> <%= ratings_for course, :static %></td>
    <td><%= link_to 'Visualizar', course %></td>
    <td><%= link_to 'Editar', edit_course_path(course) %></td>
    <td><%= link_to 'Deletar', course, :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Aula', new_course_path %>