<%= render :partial => 'environments/sidebar', :locals => { :environment => @environment } %>
<div class="main grid_12 omega big-col">
  <%= render :partial => "environments/breadcrumbs", :locals => { :environment => @environment } %>
  <%= render :partial => 'environments/header',
    :locals => { :environment => @environment } %>
  <div id="course-new" class="hierarchy-listing-wrapper">
    <div class="header">
      <h4>Curso</h4>
      <span class="counter">Novo curso</span>
    </div>
  </div>

  <% form_for @course,
    :url => environment_courses_path(@environment),
    :html => { :class => 'common' } do |f| %>
    <%= f.error_messages %>
    <%= render :partial => 'courses/form', :locals => { :f => f, :edit => false } %>
    <%= f.submit "Criar curso" %>
  <% end %>
</div>
