<%= render :partial => 'courses/preview_sidebar' %>

<div class="main grid_12 omega big-col">
  <%= render :partial => "courses/breadcrumbs",
    :locals => { :course => @course } %>
  <%= render :partial => 'courses/header',
    :locals => { :course => @course }  %>
  <div id="course-preview" class="hierarchy-preview body">
    <div class="header">
      <h4>Pré-visualização</h4>
    </div>
    <%= render :partial => 'courses/actions',
      :locals => { :course => @course }%>
    <h3 class="call icon icon-space-lightblue_16_16">Disciplinas</h3>
    <span class="count">
      (<%= pluralize(@course.spaces.length, 'disciplina') + " " +
       (pluralize @course.spaces.length,'disponível').split(' ')[1] %>)
    </span>
    <ul class="preview-listing">
      <%= render :partial => 'spaces/item_short',
        :collection => @spaces %>
    </ul>
    <%= will_paginate @spaces, :renderer => EndlessRenderer %>
  </div><!-- end #environment-courses -->

</div><!-- end .main -->
