<%= stylesheet_link_tag "preview-course-old.css" %>
<% unless current_user %>
  <% content_for(:nav_global) do %>
    <%= render :partial => 'shared/header_not_logged_in' %>
  <% end %>
<% end %>

<%= render :partial => 'courses/sidebar',
  :locals => { :course => @course }  %>

<div id="course-preview" class="main grid_12 omega big-col">
  <%= render :partial => "courses/breadcrumbs",
    :locals => { :course => @course } %>
  <%= render "enroll_button", :course => @course, :extra_classes => nil %>
  <%= render :partial => 'courses/header',
    :locals => { :course => @course }  %>

  <div id="course-spaces" class="body preview clearfix">
    <%= render :partial => 'courses/actions',
      :locals => { :course => @course }%>

    <%= big_tabs :courses do %>
      <div class="course-preview-wrapper">
        <span class="course-preview-icon icon-privacy-lightred_58_62 text-replacement" title="Curso privado">Curso privado</span>
        <p class="course-preview-message">Este Curso requer <%= link_to "o seu pedido de participação", "http://ajuda.redu.com.br/duvidas-frequentes/como-posso-participar-de-um-curso", :title => "Central de Ajuda", :target => "_blank" %>, ou seja, apenas quem faz parte dele consegue visualizar seu conteúdo. Você pode pedir acesso clicando no botão abaixo e esperar a sua aprovação.</p>
        <%= render "enroll_button", :course => @course, :extra_classes => "button-big" %>
      </div>
    <% end %>
  </div>

</div><!-- end .main -->
