<%= render :partial => 'courses/sidebar',
  :locals => { :course => @course }  %>

<div class="main grid_12 omega big-col">
  <%= render :partial => "courses/breadcrumbs",
    :locals => { :course => @course } %>
  <%= render :partial => 'courses/header',
    :locals => { :course => @course }  %>

  <div id="course-spaces" class="body preview clearfix">
    <%= render :partial => 'courses/actions',
      :locals => { :course => @course }%>

    <%= big_tabs :courses do %>
      <div class="flash-message notice ">
        <ul class="message icons-big-before icon-privacy-lightred_64_66-before">
          <li>O conteúdo desta página é restrito aos membros do grupo.</li>
          <li>Para visualizar as disciplinas do curso, matricule-se e aguarde a confirmação.</li>

          <li>Você também pode ver os atuais <%= link_to "membros do curso", environment_course_users_path(@course.environment, @course)%>.</li>
          <ul>
      </div>
    <% end %>
  </div>

</div><!-- end .main -->
