<%= stylesheet_link_tag "preview-course-old.css" %>
<% unless current_user %>
  <% content_for(:nav_global) do %>
    <%= render :partial => 'shared/header_not_logged_in' %>
  <% end %>
<% end %>

<%= render :partial => 'courses/sidebar',
  :locals => { :course => @course }  %>

<div id="course-preview" class="main grid_12 omega big-col">
  <%= render :partial => "courses/breadcrumbs",
    :locals => { :course => @course } %>
  <%= render "enroll_button", :course => @course, :extra_classes => nil %>
  <%= render :partial => 'courses/header',
    :locals => { :course => @course }  %>

  <div id="course-spaces" class="body preview clearfix">
    <%= render :partial => 'courses/actions',
      :locals => { :course => @course }%>

    <%= big_tabs :courses do %>
      <div class="course-preview-wrapper">
        <% if @course.users.include?(current_user) %>
          <% if @course.waiting_approval?(current_user) %>
            <span class="course-preview-icon icon-moderated-green3_64_66 text-replacement" title="Aguarde a confirmação do responsável.">Aguarde a confirmação do responsável.</span>
            <p class="course-preview-message course-waiting-approval-message">Você já requisitou sua matrícula neste curso. Aguarde a confirmação do responsável.</p>
          <% end %>
        <% else %>
          <span class="course-preview-icon icon-privacy-lightred_58_62 text-replacement" title="Curso privado">Curso privado</span>
          <p class="course-preview-message">Este Curso requer o seu pedido de participação, ou seja, apenas quem faz parte dele consegue visualizar seu conteúdo. Você pode pedir acesso clicando no botão abaixo e <strong>esperar a aprovação do responsável</strong>.</p>
          <%= render "enroll_button", :course => @course, :extra_classes => "button-big" %>
        <% end %>
      </div>
    <% end %>
  </div>

</div><!-- end .main -->
