<script>
	
	function dimLights(turnOff){
		Effect.toggle('lights-dimmed','Appear',{
				duration:2,
				afterFinish: function() {
					
					var linkTurnOff = document.getElementById("lights-off");
					var linkTurnOn = document.getElementById("lights-on");
					
					if (turnOff) { // apagar as luzes
						linkTurnOff.style.display = 'none';
						linkTurnOn.style.display = 'inline';
					} else {
						linkTurnOff.style.display = 'inline';
						linkTurnOn.style.display = 'none';
					}
					
					/*
					if(linkTurnOff.style.display == 'none') {// $('lights-dimmed').visible()
						//$('dim-lights').update('Lights up');
						linkTurnOn
					} else {
						$('dim-lights').update('Dim the lights');
					}*/
					
				}
			});
	}
</script>
<div id="lights-dimmed" style="display:none; height: 100%;">&nbsp;</div>

<div id="all_content3">
    <div id="col_content_video">
        <div id="breadcrumbs_video">
        	
            <a href="<%=application_url%>">home</a>
            > <a href="#">aprender</a>
            > <a href="#">aulas</a>
        </div>
        <!-- CABEÇALHO ############################################################################################################################### -->
        <div id="item_video">
            <div id="title_video">
                <%= @course.name %>
            </div>
            <!--	<div id="title_video"><a href="#">História - Revolução Francesa</a></div>    -->
            <div id="edit_admin">
                <% if current_user.eql?(@course.owner) %>
                	<%= link_to 'Editar', {:action => "edit"}, :class => "link_edit" %>
                <% end %>
				<% if @course.can_be_deleted_by(current_user) %>
					<%= link_to 'Remover', @course, :confirm => 'Você tem certeza que quer remover esta aula permanentemente?', :method => :delete %>
				<% end %>
				
				
                <% if current_user.admin? and @course.state.eql?("waiting") %>
	                <%= link_to 'Aprovar' , {:action => "approve", :id => @course.id} %> |
	                <%= link_to 'Rejeitar' , {:action => "disapprove", :id => @course.id} %>
                <% end %>
            </div>
            <div id="identification1">
                <ul id="identification_resource1">
                    <li>
                        <%= link_to @course.owner.login, user_path(@course.owner) %>
                    </li>
                    <li>
                        |
                    </li>
                    <li>
                        <%= time_ago_in_words @course.created_at %>
                    </li>
                    <li>
                        |
                    </li>
                    <li>
                        Exibições(<%= @course.view_count %>)
                    </li>
                </ul>
            </div>
            <div id="description_video">
                <%= @course.description %>
            </div>
            <div id="identification1">
                <ul id="identification_resource1">
                    <li>
                        <strong>Categoria:</strong>
                        Português
                    </li>
                    <li>
                        |
                    </li>
                    <li>
                        <strong>Tags:</strong>
                        <%= @course.tag_list %>
                    </li>
                </ul>
            </div>
        </div>
        <!-- CABEÇALHO ############################################################################################################################### --><!-- BARRA ################################################################################################################################### -->
        
		
		
		<div id="filter_bar_video">
            <div id="actions_video">
                <ul id="actions_resource">
                	<li>
                		<span id="lights-off">
                        <a href="#" class="share" onclick="javascript:dimLights(true);">Apagar as luzes</a>
						</span>
						<span id="lights-on" style="display:none;">
                        <a href="#" class="share" onclick="javascript:dimLights(false);">Acender as luzes</a>
						</span>
                    </li>
					<li>
                        |
                    </li>
                    <li>
                        <a href="#" class="share_video" onclick="toggleShareBox();">Compartilhar</a>
                    </li>
                    <li>
                        |
                    </li>
                    <li>
                        <%# link_to 'Favoritos', {:action =>'put_as_favorite', :id => @course.id}, :class => 'favorites'%>
						<%= link_to_remote 'Favoritos', :url => { :action => "put_as_favorite", :id => @course.id }, :class => 'favorites'%>
                    </li>
                    <!--
					<li>
                        |
                    </li>
                    <li>
                        <a href="#" class="download_video">Download</a>
                    </li>-->
                    <li>
                        |
                    </li>
                    <li>
                        <a href="#comments" class="comments_video">Comentários(<%= @course.comments.count %>)</a>
                    </li>
                </ul>
            </div>
            <div id="ratting_video">
				<%= ratings_for @course %>
            </div>
        </div><!-- BARRA ################################################################################################################################### --><!-- VIDEO ################################################################################################################################### -->
        
		<%= render :partial => 'shared/share', :locals => {:title => @course.name, :url => url_for(:action => action_name)} %>
		<%# socialite(:url => url_for(:action => action_name), :title => @course.name) %>
		
		<div id="view_video" align="center">
        	<!-- colocar if aqui -->
			<% if current_user and not current_user.has_access_to_course(@course) %>
			<%= link_to "Comprar", { :action => :buy, :id => @course.id, :class => "download" }%>
			<% else %>
            <%= render :partial => "resources/player", :locals => {:resource => @course} %>
			<% end %>
        </div>
        
		
		<div id="left_column"> <!-- COLUNA DA ESQUERDA  ## -->
			<!-- ONLINE USERS ############################################################################################################################# --><!-- MATERIAIS AUXILIARES #################################################################################################################### -->
			<% cur_watching = @course.currently_watching %>
			
			<% if cur_watching.length > 1 %>
				<div id="filter_bar_comments"><span class="title_filter">ASSISTINDO AGORA</span></div>
			
				<% cur_watching.each do |user| %>
				<%= link_to image_tag(user.avatar_photo_url(:thumb), :height => '40', :width => '40', :alt => "#{user.login}"), user_path(user), :rel => 'bookmark', :class => 'move_foto', :title => "#{user.login}'s profile" %>
				<%= user.login %>
				
				<% end %>
			<% end %>
			<!-- COMENTARIOS ############################################################################################################################# -->
			<a name="comments"></a>
			<%= render :partial => 'shared/comment', :locals => { :commentable => @course } %>
		
        </div> <!-- FIM COLUNA DA ESQUERDA  ## -->
		
		<div id="right_column"> <!-- COLUNA DA DIREITA  ## -->
		
			<% if  (@course.owner == current_user or @course.resources.length > 0) %>
			<!-- MATERIAIS AUXILIARES #################################################################################################################### -->
           
            <div id="filter_bar_materials">
                <span class="title_materials">MATERIAL AUXILIAR</span>
            </div>
            <div id="materials_form">
                <div id="materialslist" align="left">
                    <ul id="materials_item">
                        <% @course.resources.each do | resource | %>
                        <li>
                            <%= link_to resource.title,
                            resource_path(resource),
                            :class => 'word' %>
                        </li>
                        <% end %>
                    </ul>
                    <%= link_to 'Adicionar materiais complementares', :action => 'edit' %>
                </div>
            </div>
            <!-- MATERIAIS AUXILIARES #################################################################################################################### -->
           <% end %>
		   
		    <!-- CONTEUDO COMPLEMENTAR ################################################################################################################### -->
        	<div id="filter_bar_comments"><span class="title_filter">AULAS RELACIONADAS</span></div>
			<%= render :partial => 'courses/item', :collection => @related_courses, :as => :course %>
		
		     </div> <!-- FIM COLUNA DA DIREITA  ## -->
		</div>
</div>
