<%= javascript_include_tag "jquery.scrollTo-1.4.2-min.js" %>
<% if can? :manage, @course %>
  <div class="actions clearfix">
    <div class="action-wrapper">
      <%= link_to "Crie Disciplinas", new_space_path(:course_id => @course.id), :class => "action" %>
      <small>Disciplinas são conjuntos de módulos onde os alunos aprendem</small>
    </div>
    <div class="action-wrapper">
      <%= link_to "Convide Colaboradores", "#invitation", :class => "action" %>
      <small>Chame pessoas para auxiliar na criação do conteúdo</small>
    </div>
    <div class="action-wrapper">
      <%= link_to "Gerencie este Curso", edit_environment_course_path(@environment, @course), :class => "action" %>
      <small>Acompanhe, avalie e interaja com alunos matriculados</small>
    </div>
  </div>
<% end %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
      $(".space div.vtabs").tabs({}).addClass('ui-tabs-vertical ui-helper-clearfix')
  })
</script>

<script type="text/javascript"  charset="utf-8">
  $(document).ready(function(){
    $("ul.repo_list li a").click(function(e){
      $(this).parents(".space:first").css("clear", "left").addClass("expanded").animate(
        { "width": "100%" }, "normal", "linear", function(){
          $.scrollTo($(this), 800, {offset: {top:-100, left:0}})
          $(this).find(".specific-logs").fadeIn()
          $(this).find("span.shrink").fadeIn()
          $(this).css("clear", "none")
        }
      )
    })

    $(".space .shrink").click(function(e){
      $(this).hide()
      $(this).parents(".space:first").find(".specific-logs").fadeOut("fast")
      $(this).parents(".space:first").removeClass("expanded").animate(
        { "width": "293px" }, "normal", "linear", function(){
          $.scrollTo($(this), 800, {offset: {top:-100, left:0}})
        }
      )
    })
  })
</script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
      $(".message").hide()
      $("#toggle").live('click', function(e){
        $(".message").slideToggle()
        e.preventDefault()
        });
      })
</script>
<div class="grid_16">
  <h3 class="call">Disciplinas do curso <%= @course.name %></h3>
</div>
<div class="spotlight-boxes clearfix">
  <% unless @spaces.empty? %>
    <%= render :partial => 'spaces/spotlight', :collection => @spaces %>
  <% else %>
    <div class="grid_16">
      <div class="box-info">
        <div class="pretty-text">
          Nenhuma disciplina foi criada. <% if can? :manage, @course  %>Você pode criá-las <%= link_to "aqui", new_space_path(:course_id => @course) %> <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div><!--  end spotlight-boxes -->

