<%= render :partial => 'courses/sidebar',
  :locals => { :course => @course }  %>

<div class="main grid_12 omega big-col">
  <%= render :partial => 'courses/breadcrumbs',
    :locals => { :course => @course } %>
  <%= render :partial => 'courses/header',
    :locals => { :course => @course } %>

<div id="course-spaces" class="body clearfix">
  <%= render :partial => 'courses/actions',
    :locals => { :course => @course }%>

  <%= big_tabs :courses do %>
    <ul id="spaces_list" class="hierarchy-listing spaces">
      <%= render :partial => 'spaces/item', :collection => @spaces %>
    </ul>
    <%= paginate @spaces, :theme => 'endless' %>
  <% end %>
</div>

</div><!-- end .main -->
