<div id="all_content3">
    <div id="col_content_video">
        <div id="breadcrumbs_video">
            <a href="#">home</a>
            > <a href="#">aprender</a>
            > <a href="#">aulas</a>
        </div>
        <!-- CABEÇALHO ############################################################################################################################### -->
        <div id="item_video">
            <div id="title_video">
                <%= @course.name %>
            </div>
            <!--	<div id="title_video"><a href="#">História - Revolução Francesa</a></div>    -->
            <div id="edit_admin">
                <% if current_user.eql?(@course.owner) %>
                <%= link_to 'Editar', {:action => "edit"}, :class => "link_edit" %>
                <br/>
                <% end %>
                <% if current_user.admin? %>
                <!-- Linkar para onde? --><%= link_to 'Aprovar' , {:action => "approve", :id => @course.id} %>
                <%= link_to 'Rejeitar' , {:action => "disapprove", :id => @course.id} %>
                <% end %>
            </div>
            <div id="identification1">
                <ul id="identification_resource1">
                    <li>
                        <%= link_to @course.owner.login, user_path(@course.owner) %>
                    </li>
                    <li>
                        |
                    </li>
                    <li>
                        <%= time_ago_in_words @course.created_at %>
                    </li>
                    <li>
                        |
                    </li>
                    <li>
                        Exibições(4)
                    </li>
                </ul>
            </div>
            <div id="description_video">
                <%= @course.description %>
            </div>
            <div id="identification1">
                <ul id="identification_resource1">
                    <li>
                        <strong>Categoria:</strong>
                        Português
                    </li>
                    <li>
                        |
                    </li>
                    <li>
                        <strong>Tags:</strong>
                        <%= @course.tag_list %>
                    </li>
                </ul>
            </div>
        </div>
        <!-- CABEÇALHO ############################################################################################################################### --><!-- BARRA ################################################################################################################################### -->
        <div id="filter_bar_video">
            <div id="actions_video">
                <ul id="actions_resource">
                    <li>
                        <a href="#" class="share_video">Compartilhar</a>
                    </li>
                    <li>
                        |
                    </li>
                    <li>
                        <a href="#" class="favorites_video">Favoritos</a>
                    </li>
                    <li>
                        |
                    </li>
                    <li>
                        <a href="#" class="download_video">Download</a>
                    </li>
                    <li>
                        |
                    </li>
                    <li>
                        <a href="#" class="comments_video">Comentários(30)</a>
                    </li>
                </ul>
            </div>
            <div id="ratting_video">
                <ul id="ratting_video_menu">
                    <li class="evaluation_rating">
                        Avaliações(30)
                    </li>
                    <li>
                        <img src="img/icon_star_on.png" />
                    </li>
                    <li>
                        <img src="img/icon_star_on.png" />
                    </li>
                    <li>
                        <img src="img/icon_star_on.png" />
                    </li>
                    <li>
                        <img src="img/icon_star_off.png" />
                    </li>
                    <li>
                        <img src="img/icon_star_off.png" />
                    </li>
                </ul>
            </div>
        </div><!-- BARRA ################################################################################################################################### --><!-- VIDEO ################################################################################################################################### -->
        <div id="view_video" align="center">
        	<!-- colocar if aqui -->
            <%= render :partial => "resources/player", :locals => {:resource => @course} %>
        </div>
        <!-- COMENTARIOS ############################################################################################################################# -->
        <div id="comments">
            <div id="filter_bar_comments">
                <span class="title_filter">COMENTÁRIOS</span>
            </div>
            <div id="comments_item">
                <div id="comments_foto">
                    <a href="#"><img src="img/foto_40x40.png" width="40" height="40" class="move_foto" border="0"/></a>
                </div>
                <div id="comments_txt">
                    <a href="#">Jõao Vitor,</a>
                    Essa aula foi muito importante para meu aprendizado, agora conseguir entender perfeitamente o assunto e também posso assitir várias vezes, vou adicionar nos meus favoritos ;-)
                </div>
                <div id="comments_time">
                    (3 minutos atrás)
                </div>
                <div id="comments_actions">
                    <a href="#">Responder</a>
                    | <a href="#">Spam</a>
                    | <a href="#">Excluir</a>
                </div>
            </div>
            <div id="comments_form">
                <div id="comments_top">
                    <div id="comments_numbers">
                        Mostrando <strong>(1)</strong>
                        de <strong>(30)</strong>
                    </div>
                    <div id="comments_view_all">
                        Exibir todos os <strong>(30)</strong>
                        comentários
                    </div>
                </div>
                <div id="comments_title">
                    INSERIR COMENTÁRIO
                </div>
                <div id="comments_form_fields">
                    <textarea cols="76" rows="5"class="comments_imput">
                    </textarea>
                    <br/>
                    <a href="#" class="bt_comments">Enviar</a>
                </div>
            </div>
        </div>
        <!-- COMENTARIOS ############################################################################################################################# --><!-- MATERIAIS AUXILIARES #################################################################################################################### -->
        <div id="materials">
            <div id="filter_bar_materials">
                <span class="title_materials">MATERIAL AUXILIAR</span>
            </div>
            <div id="materials_form">
                <div id="materialslist" align="left">
                    <ul id="materials_item">
                        <% @course.resources.each do | resource | %>
                        <% unless @course.main_resource.eql?(resource) %>
                        <li>
                            <%= link_to resource.title,
                            resource_path(resource),
                            :class => 'word' %>
                        </li>
                        <% end %>
                        <% end %>
                    </ul>
                    <%= link_to 'Adicionar materiais complementares', :action => 'edit' %>
                </div>
            </div>
            <!-- MATERIAIS AUXILIARES #################################################################################################################### -->
            <!-- CONTEUDO COMPLEMENTAR ################################################################################################################### -->
        </div>
    </div>
</div>
