


<script>
	/*
	function toggleAnnotationBox(){
		
		var box = document.getElementById("annotation_box");
		
		if (box.style.display == 'none') {
			//Effect.Appear(box);
			box.style.display = 'block';
			
		} else {
			//Effect.Fade(box);
			box.style.display = 'none';
		}
		
	}
	*/
	
var min = 8;
var max = 18;
function increaseFontSize(){
    var thecontainer = document.getElementById('topic_body');
    var p = thecontainer.getElementsByTagName('p');
    for (i = 0; i < p.length; i++) {
        if (p[i].style.fontSize) {
            var s = parseInt(p[i].style.fontSize.replace("px", ""));
        }
        else {
            var s = 12;
        }
        if (s != max) {
            s += 2;
        }
        p[i].style.fontSize = s + "px";
    }
}

function decreaseFontSize(){
	var thecontainer = document.getElementById('topic_body');
    var p = thecontainer.getElementsByTagName('p');
    for (i = 0; i < p.length; i++) {
        if (p[i].style.fontSize) {
            var s = parseInt(p[i].style.fontSize.replace("px", ""));
        }
        else {
            var s = 12;
        }
        if (s != min) {
            s -= 2;
        }
        p[i].style.fontSize = s + "px"
    }
}
	
	function checkTopic(tIndex){
		document.getElementById('topic_check_'+tIndex).innerHTML = '<img title="completei!" src="/images/checkbox.png" alt="Checkbox" onclick="unCheckTopic(' + tIndex + '); return false;">'
	}
	
	function unCheckTopic(tIndex){
		document.getElementById('topic_check_'+tIndex).innerHTML = '<img title="completei!" src="/images/checkbox_clear.png" alt="Checkbox" onclick="checkTopic(' + tIndex + '); return false;">'
	}
	
	var topics = {};
	
	
	var topicCount = 1;
	var currentTopic = 0;
	
	function selectTopic(topic){
		//alert('topic: '+topic + ' | current: '+ currentTopic);
		
		var curListItem = document.getElementById('topic_item_'+ currentTopic);
		var selListItem = document.getElementById('topic_item_'+ topic);
		if (typeof(curListItem) != 'undefined' ) {
		curListItem.className = "topic_item"; 
		}
		if (typeof(selListItem) != 'undefined' ) {
		selListItem.className += " topic_item_sel";
		}
		
		document.getElementById('topic_body_'+ currentTopic).style.display = "none";
		document.getElementById('topic_body_'+ topic).style.display = "block";
		
		currentTopic = topic;
	}
		
	jQuery(document).ready(function(){
		jQuery("a.lights_on").click(
			function(e){
				jQuery("#lights-dimmed").fadeOut("slow");
				jQuery(this).toggle();
				jQuery("a.lights_off").toggle();
				
				e.preventDefault();
			}
		)
		
		jQuery("a.lights_off").click(
			function(e){
				jQuery("#lights-dimmed").fadeIn("fast");
				jQuery(this).toggle();
				jQuery("a.lights_on").toggle();
				
				e.preventDefault();
			}
		)
		
		
		
	})
		
		
</script>
<div id="lights-dimmed" style="display:none; height: 100%;">&nbsp;</div>



<div class="grid_16">
<div id="breadcrumbs"><a href="<%=application_url%>">início</a> > <a href="#">aulas</a> > <a href="#"><%= @course.name %></a> </div>

<!--
<h3 class="call">Aula: </h3>
-->


				
        <div id="item_video" class="clearfix">
            <div id="title_video">
                <%= @course.name %>
				<% if @course.can_be_deleted_by(current_user) %>
                	<%= link_to 'Editar', {:action => "edit"}, :class => "button icon-edit" %>
					<%= link_to 'Remover', @course, {:confirm => 'Você tem certeza que quer remover esta aula permanentemente?', :method => :delete, :class => "button icon-delete"} %>
				<% end %>	
				<%# if current_user and not current_user.has_access_to_course(@course) and not @course.external_resource_type.eql?('youtube') %>
					<%# link_to "Comprar", { :action => :buy, :id => @course.id }, :class => "button icon-buy"%>
				<%# end %>
				
				
                <% if current_user.admin? and @course.state.eql?("waiting") %>
	                <%= link_to 'Aprovar' , {:controller => :admin, :action => "approve", :id => @course.id} %> |
	                <%= link_to 'Rejeitar' , {:controller => :admin, :action => "disapprove", :id => @course.id} %>
                <% end %>
            </div>
            <!--	<div id="title_video"><a href="#">História - Revolução Francesa</a></div>    -->
            <!--<div id="edit_admin">
				
            </div>-->
			<div>
            <div id="identification1">
                <ul id="identification_resource1">
                    <li>
                        <%= link_to @course.owner.display_name, user_path(@course.owner) %>
                    </li>
                    <li>
                        |
                    </li>
                    <li>
                        <%= time_ago_in_words @course.created_at %>
                    </li>
                    <li>
                        |
                    </li>
                    <li>
                        Exibições(<%= @course.view_count %>)
                    </li>
                </ul>
            </div>
            <div id="description_video">
                <%= @course.description %>
            </div>
            <div id="identification1">
                <ul id="identification_resource1">
                    <li>
                        <strong>Categoria:</strong>
                        <%=category_i18n(@course.simple_category.name) %>
                    </li>
                    <li>
                        |
                    </li>
                    <li>
                        <strong>Tags:</strong>
                        <%= @course.tag_list %>
                    </li>
                </ul>
            </div>
        </div>
		
        
		</div>
		
		
		<%= render_course %>
		

<div id="filter_bar_video">
			
            <div id="actions_video">
                <ul id="actions_resource">
					<li>
                	 	 <a href="#" class="raise_hand" >Pedir ajuda</a>
                        <!--
						<a href="#" class="share_video" onclick="toggleAnnotationBox();return false;">Anotações</a>
						-->
                    </li>
					<li>
                        |
                    </li>
					 <li>
                	 	<%= render :partial => "shared/annotation"%>
                        <!--
						<a href="#" class="share_video" onclick="toggleAnnotationBox();return false;">Anotações</a>
						-->
                    </li>
					<li>
                        |
                    </li>
                	<li>
                        <a href="#" class="lights_off" >Apagar as luzes</a>
                        <a href="#" class="lights_on" style="display:none;" >Acender as luzes</a>
                    </li>
					<li>
                        |
                    </li>
                    <li>
												<%# render :partial => 'shared/share'%>
												
                          <% thumb_url = @course.thumb_url %>
                          <% url = application_url[0..application_url.length-2] + request.request_uri %>
                          <div class="share-outter">
                              <%= link_to_function "Compartilhar", "jQuery('div.share-inner').slideToggle()", :class => "share_video" %>
													<div class="share-inner hoverdiv">
															<%= render :partial => 'shared/share', :locals => {:resource => @course}%>
														</div>
													</div>

												
                    </li>
					<li>
                        |
                    </li>
                    <li>
                    	<%= render :partial => "shared/favorite" , :locals => {:favoritable => @course}%>
					</li>
                    
                    <li>
                        |
                    </li>
                    <li>
                        <a href="#comments" class="comments_video">Comentários(<%= @course.comments.count %>)</a>
                    </li>
                </ul>
            </div>
            <div id="rating_video">
				<%= ratings_for @course %>
            </div>
        </div><!-- end bar -->
		
	    
		
        
        
				<div id="left_column" class= "grid_6"> <!-- COLUNA DA ESQUERDA  ## -->
			<!-- ONLINE USERS ############################################################################################################################# --><!-- MATERIAIS AUXILIARES #################################################################################################################### -->
			<% cur_watching = @course.currently_watching %>
			
			<% if cur_watching.length > 1 %>
				<div id="filter_bar_comments"><span class="title_filter">ASSISTINDO AGORA</span></div>
			
				<% cur_watching.each do |user| %>
				<%= link_to image_tag(user.avatar_photo_url(:thumb), :height => '40', :width => '40', :alt => "#{user.login}"), user_path(user), :rel => 'bookmark', :class => 'move_foto', :title => "#{user.login}'s profile" %>
				<br>
				<%= user.login %>
				
				<% end %>
			<% end %>
			<!-- COMENTARIOS ############################################################################################################################# -->
			<a name="comments"></a>
			<%= render :partial => 'shared/comment', :locals => { :commentable => @course } %>
		
     </div> <!-- FIM COLUNA DA ESQUERDA  ## -->
		
		<div id="right_column" class="grid_6"> <!-- COLUNA DA DIREITA  ## -->
		
			<% if  (@course.owner == current_user or @course.resources.length > 0) %>
			<!-- MATERIAIS AUXILIARES #################################################################################################################### -->
           
            <div id="filter_bar_materials">
                <span class="title_materials">ANEXOS</span>
            </div>
            <div id="materials_form">
                <div id="materialslist" align="left">
                    <ul id="materials_item">
                        <% @course.resources.each do | resource | %>
                        <li>
                            <%= link_to resource.attachment_file_name,	resource.attachment.url,
                            :class => type_class(resource) %>
                        </li>
                        <% end %>
                    </ul>
                    <%= link_to 'Adicionar materiais complementares', :action => 'edit' %>
                </div>
            </div>
            <!-- MATERIAIS AUXILIARES #################################################################################################################### -->
           <% end %>
		   
		    <!-- CONTEUDO COMPLEMENTAR ################################################################################################################### -->
        	<div id="filter_bar_comments2"><span class="title_filter">AULAS RELACIONADAS</span></div>
			<%= render :partial => 'courses/item', :collection => @related_courses, :as => :course %>
		
		  </div> <!-- FIM COLUNA DA DIREITA  ## -->

			
			<!--
			 <div id="filter_bar_comments2"><span class="title_filter">ASSISTIRAM RECENTEMENTE A ESTA AULA</span></div>
			-->

</div>
</div>

