<div class="container_16 actions clearfix">
  <%= link_to "Crie Cursos!", new_environment_course_path(@environment), :class => "grid_5 action" %>
  <a href="#" class="grid_5 action">Crie Módulos!</a>
  <%= link_to "Crie Espaços!", new_space_path(:course_id => @course.id), :class => "grid_5 action" %>
</div>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
      $(".space div.vtabs").tabs({}).addClass('ui-tabs-vertical ui-helper-clearfix')
  })
</script>

<div class="grid_16">
  <div class="grid_16 alpha omega">
    <h3 class="call">Espaços do curso <%= @course.name %></h3>
    <div class="spotlight-boxes">
      <% unless @spaces.empty? %>
        <%= render :partial => 'spaces/spotlight', :collection => @spaces %>
      <% else %>
        <div class="box_notice">Nenhuma disciplina foi criada.</div>
      <% end %>
    </div><!--  end spotlight-boxes -->
  </div>
  <div class="grid_8 alpha">
    <h3 class="call">Convide colaboradores</h3>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
          $(".message").hide()
          $("#toggle").live('click', function(e){
            $(".message").toggle()
            e.preventDefault()
            });
          })
</script>

<% remote_form_for :invitation, :method => :post,
  :url => course_invitations_path(@course),
  :html => {:id => "environment_invitation"},
  :loading => "$(\"#environment_invitation\").prepend(\"#{escape_javascript(image_tag("spinner.gif")) }\")",
  :complete => "$(\"#environment_invitation\").find(\"img\").remove()" do  |f| %>
  <div id="invitation_errors"></div>
  <%= f.label :email_addresses, "E-mails" %>
  <%= f.text_area :email_addresses, :cols => 50, :rows => 6 %>
  <a id="toggle" href="#">Escrever Mensagem</a>
  <%= f.label :message, "Mensagem", :class => "message" %>
  <%= f.text_area :message, :cols => 50, :rows => 6 , :class => "message" %>

  <%= f.submit "Convidar" %>
<% end %>

  </div>
</div>
