Aula

<p>
  <b>Nome:</b>
  <%=h @course.name %>
</p>

<%= ratings_for @course %>



<hr>
Comentários:
( <%=h @course.comments.length %> )

<%= render :partial => "comments/comment" , :collection => @course.comments %>
<BR>
<hr>
<%= render :partial => 'comments/comment_form', :locals => {:commentable => @course} %>

<BR>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>