<%= render :partial => 'scripts_interactive' %>


<div class="grid_16">
<div id="breadcrumbs">
	<% if @school %>
	<a href="<%=application_url%>">início</a> > <a href="#">redes</a> > <%= link_to @school.name, @school %> > nova aula
	<% else %>
	<a href="<%=application_url%>">início</a> > <a href="#">ensinar</a> > nova aula
	<%end %>
	
	</div>

<%= render(:partial => "schools/school_info", :locals=>{:show => false}) if @school%>	

<h3 class="call">Nova aula passo-a-passo </h3>

<div class="grid_9 push_3">
<table class="booking_steps" cellpadding="0" cellspacing="0">
							<tbody><tr>
								<td><span class="book_step disabled"><span><em>1</em>Informações Gerais</span></span></td>
								<td class="spacer">&nbsp;</td>
								<td><span class="book_step current"><span><em>2</em>Editor de Aula</span></span></td>
								<td class="spacer">&nbsp;</td>
								<td><span class="book_step disabled"><span><em>3</em>Publicação</span></span></td>
							</tr>
						</tbody></table>
</div>
	
<% form_for :interactive_class, @interactive_class, :url => { :action => "create" }, :html => { :multipart => true, :onsubmit => "setTopicsPosition();", :id => "interactive_class_form" } do |f| %>
  <%= f.error_messages %>
  
  <%= hidden_field_tag("step", "2", options = {})%>
	<%= hidden_field_tag("school_id", @school.id) if @school %>

  
 
  
  <%= render :partial => 'form_interactive', :locals => {:f => f, :interactive_class => @interactive_class} %>

 <div style="float: left;">
 <%= link_to '< Anterior', new_course_path(:step => '1', :prev => '2'), :class=> "button" %><%= f.submit 'Próximo >' %> 

ou <%= link_to 'Cancelar', cancel_courses_path, :confirm => "Tem certeza que deseja sair do editor de aulas?" %>

</div>
<% end %>

</div>
</div>



	
	

 
<!--
<script>
	window.onbeforeunload=leavePage;
</script>
-->