<div id="all_content3">
<div id="col_content_video">
	<div id="breadcrumbs"><a href="<%=application_url%>">home</a> > <a href="#">ensinar</a> > <a href="#">nova aula</a> > publicação </div>
 	<div id="title">NOVA AULA - PASSO 3
 	</div>

<div style="width: 100%; float: left;">

<% form_for :course, @course, :url => { :action => "create" } do |f| %>
<%= f.error_messages %>


<%= hidden_field_tag("step", "3", options = {})%>

<%= f.label "Pública" %><br/>
	<%= f.check_box :public %><br/><br/>
	
	<%= f.label "Postar em:" %><br/>
	<% @schools = current_user.schools %>
	<% @schools.each do | school | %>
		<%= radio_button_tag :post_to, school.id %> <%= school.name %><br/>
	<% end %>
	<br/><br/>
	
<fieldset id="price_box">
	<legend>Preço</legend>
		<%= f.label :price %>
		<%= f.text_field :price %>
</fieldset>

<%= link_to '< Anterior', new_course_path(:step => '2', :course_type => @course_type), :class => "button" %> 
<%= f.submit 'Salvar' %> 
<%= link_to 'Cancelar', cancel_courses_path, :confirm => "Tem certeza que deseja sair do editor de aulas?" %>


<% end %>
</div>


</div>

	
	
</div>
