<script type="text/javascript">
	
	var topics = {};
	
	
	var topicCount = 1;
	var currentTopic = 0;
	
	
	function removeField(link){
		jQuery(link).parent("fieldset:first").hide()
		jQuery(link).siblings("input[type=hidden]:first").val("1")
	}
	
	function add_fields(link, association, content) {
		var new_id = new Date().getTime();
		var regexp = new RegExp("new_" + association, "g");

		// BODY
		//jQuery('topic_body').append("<div id='topic_body_" + topicCount + "'>" + content.replace(regexp, new_id) + "</div>");  // pq nao pega????
		
		var topicBody = document.createElement("div");
		topicBody.innerHTML = content.replace(regexp, new_id);
		topicBody.setAttribute("id", "topic_body_" + topicCount);
		
		document.getElementById('topic_body').appendChild(topicBody);
		
		// INDEX
		
		var topicItem =	document.createElement("a");
		topicItem.innerHTML = "<span id=\"topic_name_" + topicCount + "\"> Sem título</span> <img src=\"../../images/icons/trash.gif\">";
		topicItem.setAttribute("href", "#");
		topicItem.setAttribute("id", "topic_item_" + topicCount);
		topicItem.setAttribute("class", "topic_item");
		topicItem.setAttribute("onclick", "selectTopic("+topicCount+");");
		
		
		//var topicItem =	"<a href=\"#\" id=\"topic_item_" + topicCount + "\" class=\"topic_item\" onclick=\"selectTopic("+topicCount+");\">" +
	  	//	"<span id=\"topic_name_" + topicCount + "\"> Sem título</span> <img src=\"../../images/icons/trash.gif\">"  +
		//    "</a>";
		
		document.getElementById('topic_list').appendChild(topicItem);
		
		selectTopic(topicCount);
		
		topicCount++;
			
		removeAllMce();
		
		reloadMce();
	}
	
    function removeAllMce(){
        var i, t = tinyMCE.editors;
        for (i in t) {
            if (t.hasOwnProperty(i)) {
					t[i].remove();
            }
        }
        
    }
	
	function topicTitle(textBox){
		document.getElementById('topic_name_'+ currentTopic).innerHTML = textBox.value;
	}
	
	function selectTopic(topic){
		//alert('topic: '+topic + ' | current: '+ currentTopic);
		document.getElementById('topic_item_'+ currentTopic).className = "topic_item";
		document.getElementById('topic_item_'+ topic).className += " topic_item_sel";
		
		document.getElementById('topic_body_'+ currentTopic).style.display = "none";
		document.getElementById('topic_body_'+ topic).style.display = "block";
		
		currentTopic = topic;
	}
	
	function newTopic(){
		var field = document.getElementById('f2');
		
		var textarea = document.createElement("textarea");
		textarea.setAttribute("rows","15");
		textarea.setAttribute("cols","80");
		textarea.setAttribute("id","elm" + ctn);
		
		
		
		field.appendChild(textarea);
		reloadMce();
	}
	
	function reloadMce(){
		<%=   raw_tiny_mce_init %>
	}
	


</script>


<div id="all_content3">
<div id="col_content_video">
	<div id="breadcrumbs"><a href="<%=application_url%>">home</a> > <a href="#">aprender</a> > <a href="#">materiais</a> </div>
 	<div id="title">NOVA AULA (INTERATIVA) - PASSO 2
 	</div>
	
	

<% form_for @interactive_class, :url => { :action => "create" }, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  
  <%= hidden_field_tag("step", "2", options = {})%>
<%# hidden_field_tag("course_type", "interactive", options = {})%>

  
  <div style="float: left; padding-top: 5%;">
  <p>
    <%= f.submit 'Salvar Aula' %> | <input type="button" value="Visualizar"/>
  </p>
  </div>
  
  <div style="float: left; width: 100%; margin-top: 12px; background-color: #F8FAFF;">
	
	<div id="topic_bar">
  
    <h3>Tópicos</h3>
  <div id="lesson_types">
  	Novo tópico:
	 
	 <%= link_to_add_lesson((image_tag 'icons/iclass.gif', :title => "Texto interativo"), f, :lessons) %>
	 <%# link_to_function((image_tag 'icons/iclass.gif', :title => "Texto interativo"), "newTopic()") %>
	<%= image_tag 'icons/exam.gif', :title => "Exame" %>
	<%= image_tag 'icons/seminar.gif', :title => "Seminário" %>
	<%= image_tag 'icons/discussion.png', :title => "Discussão" %>
  </div>
  	<div id="topic_list">
	  	 <a href="#" onclick="selectTopic(0);" id="topic_item_0" class="topic_item topic_item_sel">
	  		<span id="topic_name_0"> Sem título</span> <%= image_tag 'icons/trash.gif' %>
		 </a>
  	</div>
  
  </div>
  
  <div id="topic_body">
			
		<% f.fields_for :lessons do | build |%>
		<div id="topic_body_0">
			<%= render :partial => 'courses/lesson_form', :locals => {:f => build} %>
		</div>
		<% end %>


  </div>
  
  </div>
  
  <div style="float: left;">
   <%= link_to '< Anterior', new_course_path(:step => '1'), :class => "button" %> 
<%= f.submit 'Próximo >' %> 

<br><%= link_to 'Cancelar', cancel_courses_path, :confirm => "Tem certeza que deseja sair do editor de aulas?" %>
</div>

<% end %>
 



</div>
	
</div>
