<script type="text/javascript">
	
$(document).ready(function(){
 	$('#course_description').keyup(function(){
  limitChars('course_description', <%=AppConfig.desc_char_limit %>, 'char_limit');
  })
 });
</script>



<div class="grid_16">
<div id="breadcrumbs">
	<% if @school %>
	<a href="<%=application_url%>">início</a> > <a href="#">redes</a> > <%= link_to @school.name, @school %> > nova aula
	<% else %>
	<a href="<%=application_url%>">início</a> > <a href="#">ensinar</a> > nova aula
	<%end %>
</div>

<%= render(:partial => "schools/school_info", :locals=>{:show => false}) if @school%>


<h3 class="call">Nova Aula</h3>

	<% form_for :course, @course, :url => {:controller => :courses, :action => :create }, :html => { :multipart => true } do |f| %>
		<%= f.error_messages %>
	<%= hidden_field_tag("school_id", @school.id) if @school %>
<%= hidden_field_tag("step", "1", options = {})%>

		<div class="grid_8">
		
		<% field_set_tag 'Informações Gerais' do %>
		
			<%= f.label "Título: " %>
			<%= f.text_field :name %>

			<%= f.label "Descrição:" %>
			<div style="">
			<%= f.text_area :description, :size => "50x3", :maxlength=> AppConfig.desc_char_limit %>
			<div id="char_limit" style="text-align:right;">(<%=AppConfig.desc_char_limit %>)</div>
			</div>
	
			<%= f.label "Tags <span class='snippet'>(separadas por vírgula)</span>" %>
			<%= f.text_field :tag_list %>
			
			
			<%# f.select(:simple_category, )%>
			<%= f.label "Categoria:" %>
			<%= simple_categories_i18n(f) %>
			
			
			<%end%>
			
 		</div>
		
		
		
		<div class="grid_6 push_1">
		
			<% field_set_tag 'Tipo de Aula' do %>		
		
		<div style="margin-bottom: 20px;">
			
			<h3><%= f.radio_button(:courseable_type, "Seminar", :checked => true)%> Vídeo-aula</h3>
			Permite mostrar um vídeo- ou áudio-aula acompanhado de documentos para download.
		
		</div>
		
		<div style="margin-bottom: 20px;">
			
			<h3><%= f.radio_button(:courseable_type, "InteractiveClass", :checked => false)%> Aula passo-a-passo</h3>
			Uma aula passo-a-passo pode possuir várias páginas com recursos interativos tais como vídeos, texto, questões e exames.
		</div>
		
		<div style="margin-bottom: 20px;">
			
			<h3><%= f.radio_button(:courseable_type, "Page", :checked => false)%> Página simples</h3>
			Uma página permite a postagem de conteúdo de leitura rápida como um tutorial ou um recurso interativo.
		</div>
		<%end%>
		
 		</div>
	
	<div class="grid_16">
		<%= f.submit 'Próximo >' %> 
 	</div>
	
	<% end %>

</div>
</div>
