<%= render :partial => 'scripts_interactive' %>

<div id="all_content3">
<div id="col_content_video">
	<div id="breadcrumbs"><a href="<%=application_url%>">home</a> > <a href="#">aprender</a> > <a href="#">materiais</a> </div>
 	<div id="title">NOVA AULA (INTERATIVA) - PASSO 2
 	</div>
	
	

<% form_for :interactive_class, @interactive_class, :url => { :action => "create" }, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  
  <%= hidden_field_tag("step", "2", options = {})%>
<%# hidden_field_tag("course_type", "interactive", options = {})%>

  
  <div style="float: left; padding-top: 5%;">
  <p>
    <%= f.submit 'Salvar Aula' %> | <input type="button" value="Visualizar"/>
  </p>
  </div>
  
  <%= render :partial => 'form_interactive', :locals => {:f => f, :interactive_class => @interactive_class} %>

 <div style="float: left;">
 <%= link_to '< Anterior', new_course_path(:step => '1', :prev => '2'), :class => "button" %> 
<%= f.submit 'Próximo >' %> 

<br><%= link_to 'Cancelar', cancel_courses_path, :confirm => "Tem certeza que deseja sair do editor de aulas?" %>

</div>
<% end %>
 

</div>
	
</div>
<script>
	//window.onbeforeunload=leavePage;
</script>
