<script type="text/javascript">
	
	var topics = {};
	
	
	var topicCount = 1;
	var currentTopic = 0;
	
	
	function removeField(link){
		jQuery(link).parent("fieldset:first").hide()
		jQuery(link).siblings("input[type=hidden]:first").val("1")
	}
	
	function add_fields(link, association, content) {
		var new_id = new Date().getTime();
		var regexp = new RegExp("new_" + association, "g");

		// BODY
		
		var topicBody = document.createElement("div");
		topicBody.innerHTML = content.replace(regexp, new_id);
		topicBody.setAttribute("id", "topic_body_" + topicCount);
		
		document.getElementById('topic_body').appendChild(topicBody);
		
		// INDEX
		
		var topicItemL = document.createElement("li");
		topicItemL.setAttribute("id", "topic_list_item_"+ topicCount);
		//topicItem.setAttribute("class", "lesson");
		//topicItem.setAttribute("style", "position: relative; z-index: 0; top: 0px; left: 0px;");
		
		var topicItem =	document.createElement("a");
		topicItem.innerHTML = "<span id=\"topic_name_" + topicCount + "\"> Sem título</span> <img src=\"../../images/icons/trash.gif\">";
		topicItem.setAttribute("href", "#");
		topicItem.setAttribute("id", "topic_item_" + topicCount);
		topicItem.setAttribute("class", "topic_item");
		topicItem.setAttribute("onclick", "selectTopic("+topicCount+");");
		
		
		topicItemL.appendChild(topicItem);
		document.getElementById('topic_list').appendChild(topicItemL);
		
		selectTopic(topicCount);
		
		topicCount++;
			
		removeAllMce();
		
		reloadMce();
		
		reloadSortable();
	}
	
	
	function reloadSortable(){
		
		Sortable.create("topic_list", {onUpdate: function(a){
			//interactive_class_lessons_attributes_0_position
			for (var i =0; i < a.childNodes.length; i++) {
				var liEl = a.childNodes[i].id.split('_');
				var theId = liEl[liEl.length-1];
				//alert(theId);
				
				var tbody = document.getElementById('topic_body_'+theId);
				//alert(tbody);
				//alert(tbody.getElementsByTagName('input')[1].innerHTML+ ' |ordem: '+i);
				var liEl2 = tbody.getElementsByTagName('input')[1].value = i;
				//var theId2 = liEl2[liEl2.length-2];
				
				//alert(theId2);
				
				//document.getElementById('interactive_class_lessons_attributes_'+theId2+'_position').value = i;
			}
			

			//alert(Sortable.serialize("topic_list"));
		}});
 //Sortable.create("topic_list", {onUpdate:function(){new Ajax.Request('/courses/sort_lesson?iclass=', {asynchronous:true, evalScripts:true, parameters:Sortable.serialize("topic_list")})}})

	}
	
    function removeAllMce(){
        var i, t = tinyMCE.editors;
        for (i in t) {
            if (t.hasOwnProperty(i)) {
					t[i].remove();
            }
        }
        
    }
	
	function topicTitle(textBox){
		document.getElementById('topic_name_'+ currentTopic).innerHTML = textBox.value;
	}
	
	function selectTopic(topic){
		//alert('topic: '+topic + ' | current: '+ currentTopic);
		document.getElementById('topic_item_'+ currentTopic).className = "topic_item";
		document.getElementById('topic_item_'+ topic).className += " topic_item_sel";
		
		document.getElementById('topic_body_'+ currentTopic).style.display = "none";
		document.getElementById('topic_body_'+ topic).style.display = "block";
		
		currentTopic = topic;
	}
	
	
	
	function reloadMce(){
		<%=   raw_tiny_mce_init %>
	}
	
	function leavePage(){
		return "Se você sair da página vai perder todas as informações não salvas. Deseja continuar?";
	}


</script>


<div id="all_content3">
<div id="col_content_video">
	<div id="breadcrumbs"><a href="<%=application_url%>">home</a> > <a href="#">aprender</a> > <a href="#">materiais</a> </div>
 	<div id="title">NOVA AULA (INTERATIVA) - PASSO 2
 	</div>
	
	

<% form_for @interactive_class, :url => { :action => "create" }, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  
  <%= hidden_field_tag("step", "2", options = {})%>
<%# hidden_field_tag("course_type", "interactive", options = {})%>

  
  <div style="float: left; padding-top: 5%;">
  <p>
    <%= f.submit 'Salvar Aula' %> | <input type="button" value="Visualizar"/>
  </p>
  </div>
  
  <div style="float: left; width: 100%; margin-top: 12px; background-color: #F8FAFF;">
	
	<div id="topic_bar">
  
    <h3>Tópicos</h3>
  <div id="lesson_types">
  	Novo tópico:
	 
	 <%= link_to_add_lesson((image_tag 'icons/iclass.gif', :title => "Texto interativo"), f, :lessons) %>
	 <%# link_to_function((image_tag 'icons/iclass.gif', :title => "Texto interativo"), "newTopic()") %>
	<%= image_tag 'icons/exam.gif', :title => "Exame" %>
	<%= image_tag 'icons/seminar.gif', :title => "Seminário" %>
	<%= image_tag 'icons/discussion.png', :title => "Discussão" %>
  </div>
  	<ul id="topic_list">
  		<% @interactive_class.lessons.each do |lesson| %>
  		<%# content_tag_for :li, lesson do %>
		<li id="topic_list_item_<%= (lesson.id) ? lesson.id : 0 %>">
		  	 <a href="#" onclick="selectTopic(<%= (lesson.id) ? lesson.id : 0 %>);" id="topic_item_<%= (lesson.id) ? lesson.id : 0 %>" class="topic_item topic_item_sel">
		  		<span id="topic_name_<%= (lesson.id) ? lesson.id : 0 %>"> Sem título</span> <%= image_tag 'icons/trash.gif' %>
			 </a>
		 </li>
		 
		 <% end %>
  	</ul>
  
  </div>
  
	  <div id="topic_body">
				
			<% f.fields_for :lessons do | build |%>
			<div id="topic_body_0">
				<%= render :partial => 'courses/lesson_form', :locals => {:f => build} %>
			</div>
			<% end %>
	
	
	  </div>
  
  </div>
  
  
  

  <div style="float: left;">
  
<%= render :partial => 'attachment_form', :locals => {:f => f, :course => @interactive_class}%>
  
   <%= link_to '< Anterior', new_course_path(:step => '1', :prev => '2'), :class => "button" %> 
<%= f.submit 'Próximo >' %> 

<br><%= link_to 'Cancelar', cancel_courses_path, :confirm => "Tem certeza que deseja sair do editor de aulas?" %>
</div>

<% end %>
 



</div>
	
</div>
<script>
	//window.onbeforeunload=leavePage;
</script>
