<script type="text/javascript">
	function youtubePreview(textfield){
		regex = /youtube\.com\/watch\?v=([A-Za-z0-9._%-]*)[&\w;=\+_\-]*/;

		id = textfield.value.match(regex)
		if (id != null) {
			youtube_id = id[1];
			//alert(youtube_id)
			url = "http://www.youtube.com/v/" + youtube_id + "&hl=en&fs=1";
			
			jQuery('#yt_preview_param').attr("value",url);
			jQuery('embed').attr("src",url);
			jQuery('#youtube_preview').show();
			
		}  else {
			$('#youtube_preview').hide();
		}
			
	}
	
	function switchCourseFields(fieldType){
		if (fieldType == 1) {
			$('#upload_resource_field').show();
			$('#external_resource_field').hide();
			$('#youtube_preview').hide();
			
		} else {
			$('#upload_resource_field').hide();
			$('#external_resource_field').show();
		}
		
	}
	
	function removeField(link){
		jQuery(link).parent("fieldset:first").hide()
		jQuery(link).siblings("input[type=hidden]:first").val("1")
	}
	
	function add_fields(link, association, content) {
		var new_id = new Date().getTime();
		var regexp = new RegExp("new_" + association, "g")
		jQuery(link).before("<fieldset>" + content.replace(regexp, new_id) + "</fieldset>");
	}
	
</script>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
		$('#seminar_external_resource').change(function(obj){
			youtubePreview(obj.target);
		})
	});
</script>


<div class="grid_16">
<div id="breadcrumbs">
		<% if @space %>
	<a href="<%=application_url%>">início</a> > <a href="#">redes</a> > <%= link_to @space.name, @space %> > nova vídeo-aula
	<% else %>
	<a href="<%=application_url%>">início</a> > <a href="#">ensinar</a> > nova vídeo-aula
	<%end %>
</div>
</div>

<%= render(:partial => "spaces/space_info", :locals=>{:show => false}) if @space%>

<div id="title_video">Nova vídeo-aula</div>

<div class="grid_9 push_3">
<table class="booking_steps" cellpadding="0" cellspacing="0">
							<tbody><tr>
								<td><span class="book_step disabled"><span><em>1</em>Informações Gerais</span></span></td>
								<td class="spacer">&nbsp;</td>
								<td><span class="book_step current"><span><em>2</em>Editor de Aula</span></span></td>
								<td class="spacer">&nbsp;</td>
								<td><span class="book_step disabled"><span><em>3</em>Publicação</span></span></td>
							</tr>
						</tbody></table>
</div>
<%= stylesheet_link_tag 'uploadify' %>
<%= render_uploadify(:id  => "seminar_original",
                       :url => "/aulas",
                       :allow_multiple_files => false,
											 :fields => ['seminar_external_resource_type_upload', 'step'],
											 :max_size => 100.megabytes,
											 :allowed_extensions => [:mov, :mpeg, :mpg, :avi, '3gp', :mp4, :mpeg4, :vob, :mkv, '264', '3gp2', :dvr, :dvx, :flv, :h264, :m2v, :m4v, :movie, :mpeg1, :mpeg2, :swf, :vid, :wmv]) %>
<% form_for :seminar, @seminar, :url => { :action => "create" }, :html => { :multipart => true } do |f| %>
<div class="grid_16">
<%= f.error_messages %>
<%# error_messages_for :course, :seminar %>
</div>	
<%= hidden_field_tag("step", "2", options = {})%>
<%= hidden_field_tag("space_id", @space.id) if @space %>

	
<div class="grid_16 ">

<% field_set_tag 'Vídeo' do %>

<% field_set_tag 'Tipo de material' do %>
<%= f.radio_button :external_resource_type, :redu, {:onchange => "switchCourseFields(2);"} %>
  <%= f.label :external_resource_type_redu, "Redu", :class => "inline" %>
  <%= f.radio_button :external_resource_type, :youtube, {:onchange => "switchCourseFields(2);"} %>
  <%= f.label :external_resource_type_youtube, "Youtube", :class => "inline"  %>
  <%= f.radio_button :external_resource_type, :upload, {:onchange => "switchCourseFields(1);"} %>
  <%= f.label :external_resource_type_upload, "Upload", :class => "inline"  %><br/><br/>	
<% end %>

  <div id="upload_resource_field" style="display:none;">
<% field_set_tag 'Arquivo' do %>

  <%= f.label :original, "Arquivo do seu computador (máximo: 100MB)" %>
  <%= f.file_field :original  %>

  <%= uploadify_cancel("Parar") %>
	<%= uploadify_submit "Enviar material", :style => "margin: 10px 0; float: left; width: 120px; text-align: center; display: none;"  %>
<% end %>
 	</div>	

  <div id="external_resource_field" class="grid_7 alpha" style="display:block;">
	<% field_set_tag 'Link' do %>
  <%= f.label :external_resource, "Endereço do vídeo" %>
  <%= f.text_field :external_resource  %>
	<% end %>
	</div>
	<div id="youtube_preview" style="display: none;" class="grid_8 omega">
	<% field_set_tag 'Prévia' do %>
		<object width="440" height="300">
		<param name="movie" value="none" id="yt_preview_param"/>
		<param name="allowFullScreen" value="true"/>
		<param name="allowscriptaccess" value="always"/>
		<embed src="none" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="450" height="300"/>
		</object> 
		<%end%>
  </div>
	
<%end %>

</div>	

<div class="grid_16">
<%# render :partial => 'attachment_form', :locals => {:f => f, :course => @seminar}%>


<%= link_to '< Anterior', new_course_path(:step => '1'), :class => "button" %> 
<%= f.submit 'Próximo >', :class => "button" %> 

<br><%= link_to 'Cancelar', cancel_courses_path, :confirm => "Tem certeza que deseja sair do editor de aulas?" %>
</div>

<% end %>




