<div class="grid_16">
<div id="breadcrumbs">
		<% if @school %>
	<a href="<%=application_url%>">início</a> > <a href="#">redes</a> > <%= link_to @school.name, @school %> > nova aula
	<% else %>
	<a href="<%=application_url%>">início</a> > <a href="#">ensinar</a> > nova aula
	<%end %>
</div>

	
<%= render(:partial => "schools/school_info", :locals=>{:show => false}) if @school%>

<h3 class="call">Nova aula passo-a-passo </h3>

<% form_for :page, @page, :url => { :action => "create" }, :html => { :multipart => true } do |f| %>
<%= f.error_messages %>

<%= hidden_field_tag("step", "2", options = {})%>
	<%= hidden_field_tag("school_id", @school.id) if @school %>
	
	<div class="grid_11 push_2">
    <%= f.text_area :body, :class => "mceEditor"%>
  </div>
	
	<div class="grid_16"> 
<%= link_to '< Anterior', new_course_path(:step => '1'), :class => "button" %> 
<%= f.submit 'Próximo >' %> ou <%= link_to 'Cancelar', cancel_courses_path, :confirm => "Tem certeza que deseja sair do editor de aulas?" %>
</div>
<% end %>

</div>

	
	
</div>
