<% if @sidebar_preview %>
  <%= render :partial => 'courses/preview_sidebar' %>
<% else %>
  <%= render :partial => 'courses/sidebar',
  :locals => { :course => @course }  %>
<% end %>

<div class="main grid_12 omega big-col">
  <%= render :partial => 'courses/breadcrumbs',
    :locals => { :course => @course }%>
  <%= render :partial => 'courses/header',
    :locals => { :course => @course }%>
  <div id="course-users" class="body">
    <%= fake_tabs ["Disciplinas",
      environment_course_path(@course.environment, @course)],
      ["Membros", users_environment_course_path(@course.environment, @course)] do %>
      <%= render :partial => "users/list",
        :locals => { :entity => @course, :users => @users,
          :teachers => @teachers, :tutors => @tutors, :students => @students } %>
      <% end %>
  </div><!-- end #environment-courses -->
</div><!-- end .main -->
