<% if item.environment %>
<li class="clearfix">
  <%= image_tag item.environment.avatar(:thumb_32), :size => "32x32", :class => "avatar" %>
  <div class="environment-info">
    <%= link_to item.environment.name, environment_path(item.environment), :class => "environment-name" %>
    <span class="date">Criado h치 <%= time_ago_in_words(item.created_at) %> por</span>
    <%= link_to_if item.environment.owner, item.environment.owner.try(:display_name), user_path(item.environment.owner), :class=> "owner" do
      content_tag(:span, "Usu치rio removido", :class => "owner")
    end %>
  </div>
  <% if item.environment.plan %>
    <%= link_to "ver faturas", partner_client_plan_invoices_path(item.partner, item, item.environment.plan), :class => 'see-invoices' %>
  <% end %>
</li>
<% else %>
  <% environment = item.plan_of_dead_environment.billable_audit %>
  <% if environment %>
    <li class="clearfix">
      <%= image_tag 'missing_environments_thumb_32.png', :size => "32x32", :class => "avatar" %>
      <div class="environment-info">
        <%= content_tag :span, environment["name"], :class => "environment-name" %>
        <span class="date">Criado h치 <%= time_ago_in_words(item.created_at) %> por</span>
        <%= content_tag :span, environment["owner"].try(:display_name) || "Usu치rio removido", :class => "owner" %>
      </div>
      <%= link_to "ver faturas", partner_client_plan_invoices_path(item.partner, item, item.plan_of_dead_environment), :class => 'see-invoices' %>
      <span class="removed-environment">Ambiente removido</span>
    </li>
  <% end %>
<% end %>
