<%= render :partial => 'users/home_sidebar' %>
<div class="main grid_10" id="partner" style="width: 580px;">
  <%= render :partial => 'partners/breadcrumbs', :locals => { :partner => @partner} %>
  <%= render :partial => 'partners/header', :locals => { :partner => @partner } %>
  <%= real_tabs ["environments", "Ambientes"], ["admins", "Admins"] do %>
    <div id="environments">
      <% unless @partner_environment_associations.empty? %>
        <ul id="partner-environments-list">
          <%= render :partial => "partner_environment_associations/item", :collection => @partner_environment_associations %>
        </ul>
      <% else %>
        <div class="box_notice">Nenhum ambiente foi criado</div>
      <% end %>
      <%= will_paginate @partner_environment_associations,
        :params => { :controller => :partner_environment_associations,
                     :partner_id => @partner.id,
                     :action => :index },
        :renderer => EndlessRenderer %>
    </div>
    <div id="admins">
      <%= render :partial => 'partner_user_associations/admin_list',
        :locals => { :partner_user_associations => @partner_user_associations,
                     :partner => @partner } %>
    </div>
  <% end %>
</div>
