<div class="sidebar alpha grid_3">
  <div class="home-image-frame">
    <%= image_tag current_user.avatar.url(:thumb_110),
      :alt => 'profile', :size => "110x110" %>
  </div>
  <%= local_nav :partners %>
</div>

<div class="main grid_10" id="partner" style="width: 580px;">
  <%= render :partial => 'partners/breadcrumbs', :locals => { :partner => @partner} %>
  <%= render :partial => 'partners/header', :locals => { :partner => @partner } %>
  <%= subtabs :partners do %>
    <div id="environments">
      <% unless @partner_environment_associations.empty? %>
        <ul id="partner-environments-list">
          <%= render :partial => "partner_environment_associations/item", :collection => @partner_environment_associations %>
        </ul>
      <% else %>
        <div class="box_notice">Nenhum ambiente foi criado</div>
      <% end %>
      <%= will_paginate @partner_environment_associations,
        :params => { :controller => :partner_environment_associations,
                     :partner_id => @partner.id,
                     :action => :index },
        :renderer => EndlessRenderer %>
    </div>
  <% end %>
</div>
