<div id="all_content3">
<div id="col_content_user">
	<div id="breadcrumbs"><a href="#">home</a> > <a href="#">comentarios</a></div>
    <!--<div id="title">AULAS</div>-->
<!-- LISTAGEM RECURSO ############################################################################################################################################## -->
<div id="all_list">


<!-- BOX COMENTÁRIOS ############################################################################################################################################### -->
<div id="comments_user">
	<div id="user_box_top">COMENTÁRIOS(<%= @comments.size %>) <%# link_to "Voltar", @back_url %>	</div>
	
	<% if @comments.empty? %>
	Sem comentários ainda.
	<% else %>
	
	<%= render :partial => "users/comment", :collection => @comments, :as => :comment %>
	
	
<% end %>
	
	<%= render :partial => 'users/comment_form', :locals => { :commentable => @commentable } %>
	
</div>
<!-- BOX COMENTÁRIOS ############################################################################################################################################### -->
<%= link_to "Voltar", @back_url %>



</div>

</div>
<div id="col_box3">
	<% if current_user %>
	<% @logs = current_user.log_activity %>
	<%= render :partial => 'logs/log', :locals => {:logs => @logs} %>
	<% else %>
	<%= render :partial => 'logs/not_logged_in', :locals => {:logs => @logs} %>
	<% end %>
</div>
</div>


