<% dom_classes = "#{(index % 2 == 0) ? "" : "odd"} #{alternative.correct? ? "right-answer" : ""} #{alternative == choosed ? "selected" : ""}"  %>
<% if alternative.correct? %>
  <li class="<%= dom_classes %>">
    <span class="choice icon-confirm-green_16_18-after"><%= (index + 97).chr %>:</span>
    <div><%= raw(alternative.text) %></div>
  </li>
<% else %>
  <li class="<%= dom_classes %>">
    <span class="choice"><%= (index + 97).chr %>:</span>
    <div><%= raw(alternative.text) %></div>
  </li>
<% end %>

