<div id="all_content3">
    <div id="col_content">
        <div id="breadcrumbs">
            <a href="<%=application_url%>">rede</a>
            > fórum > postagens > gerenciar
        </div>
		
		<%-box do %>
			<label for='title'>
				<%= :links.l %>
			</label>
			<ul>
				<li>
					<%= link_to :view_my_blog.l, user_posts_path(current_user) %>
				</li>
				<li>
					<%= link_to :new_post.l, new_user_post_path(current_user) %>
				</li>
			</ul>
		<% end %>
		<%-box do %>
			<label for='title'>
				<%= :manage_posts.l %>
			</label>
			<p>
				<%= :posts_saved_with_draft_status_wont_appear_in_your_blog_until_you_publish_them.l %>
			</p>
			<%- if @posts.page_count > 1 %>
				<%= paginating_links @posts, :link_to_current_page => true %>
			<% end %>
			<table>
				<thead>
					<tr>
						<th><%= :date_created.l %> </th>
						<th><%= :date_published.l %></th>
						<th><%= :title.l %></th>
						<th><%= :category.l %></th>
						<th><%= :tags.l %></th>
						<th><%= :comments.l %></th>
						<th><%= :status.l %></th>					
					</tr>
				</thead>
				<tbody>
					<%- @posts.each do |post| %>
						<tr>
							<td>
								<abbr>
									<%= post.created_at.strftime("%Y/%m/%d") %>
								</abbr>
							</td>
							<td>
								<abbr>
									<%= post.published_at_display %>
								</abbr>
							</td>
							<td>
								<%= link_to post.title, edit_user_post_path(post.user, post) %>
								<%= link_to("(#{:preview.l})", user_post_path(post.user, post), :target => '_blank') unless post.is_live? %>
							</td>
							<td>
								<%= post.category ? post.category.name : :uncategorized.l %>
							</td>
							<td>
								<%= post.tags.any? ? post.tag_list : :no_tags.l %>
							</td>
							<td>
								<%= post.comments.count %>
							</td>
							<td>
								<%= post.is_live? ? link_to(:published.l, user_post_path(post.user, post)) : :draft.l %>
							</td>
						</tr>
					<% end %>	
				</tbody>
			</table>
		<% end %>
	
	</div>
</div>		
