<div id="all_content3">
    <div id="col_content">
        <div id="breadcrumbs">
            <a href="<%=application_url%>">rede</a>
            > fórum > postagens > nova
        </div>
		
		<%-box :id => 'category_tips' do %>
			<%- if @post.contest %>
				<%= render :partial => "contest" %>
			<%- elsif @post.category %>
				<%= render :partial => "/categories/tips", :locals => {:category => @post.category} %>
			<%- else %>
				<%= render :partial => "/categories/tips", :locals => {:category => nil} %>
			<% end %>
		<% end %>
		
		<!-- TODO one box tip -->
		
		<%-box do %>
			<label for='title'>
				<%= @post.category ? (:new_post_for_category.l :category => @post.category.name) : :new_post.l %>
			</label>
			<%= error_messages_for :post %>
			<%- form_for(:post, :url => user_posts_path, :html => {:class => "MainForm", :id => 'post_form'}) do |f| %>
				<%- unless @post.category || @post.contest || @categories.empty? %>
				<label>
					<%= :category.l %>
				</label>
				<select>
					<%- for category in @categories %>
						<%= h(category.name) %>
					<% end %>
				</select>
				<%- else %>
					<%= f.hidden_field :category_id %>
					<%= f.hidden_field :contest_id%>
					
					<label for='title'>
						<%= :title.l %>
						<em>
							<%= "(#{:required.l})" %>
						</em>
					</label>
					<%= f.text_field :title %>
					<label>
						<%= :body_text.l %>
						<em>
							<%= "(#{:required.l})" %>
						</em>
					</label>
					<%= f.text_area :raw_post, :style => "width:95%;" %>
					<label>
						<%= :tags.l %>
						<em>
							<%= "(#{:optional_keywords_describing_this_post_separated_by_commas.l})" %>
						</em>
					</label>
					<%= text_field_tag 'tag_list', @post.tag_list, {:autocomplete => "off", :size => 35} %>
					<%= auto_complete_field 'tag_list', {:url => { :controller => "tags", :action => 'auto_complete_for_tag_name'}, :tokens => [','] }%>
					<label>
						<%= "{image_tag 'icons/poll.png' }" + :add_a_poll.l %>
					</label>
					<em>
						<%= :optional.l %>
					</em>
					<%= render :partial => 'polls/new' %>
					<label>
						<%= :save_post_as.l %>
					</label>
					<%= f.select(:published_as, [[:published.l, 'live'], [:draft.l, 'draft']]) %>
					
					<p>
						<%= submit_tag :save.l %>
					</p>
					<p>
						<%= :or.l %>
						<%= link_to :cancel_and_go_back_to_my_posts.l, user_posts_path(@user) %>
					</p>
					
				<% end %>
			<% end %>
		<% end %>
		<%= observe_field  "post_category_id", {:url => {:controller => 'categories', :action => 'show_tips'}, :with => "id", :update => "category_tips", :complete => visual_effect(:highlight, "category_tips", :duration => 0.5)} %>
		
		
	</div>
</div>	
