<div class="span3">
  <%= render :partial => "users/left_sidebar",
     :locals => { :user => @user } %>
</div>
<div class="span10">
  <div class="content-area">
    <%= render :partial => "users/environments/breadcrumb",
       :locals => { :user => @user } %>
    <div class="content-body">
      <div class="content-section">
        <%= render "bootstrap/header_breadcrumb", :header_breadcrumb_items => [
          { :name => "Ambientes de que Participo",
            :link => user_environments_path(@user),
            :classes => "icon-environment-round-gray_32_34-before",
            :counter => @total_environments
          }
          ] %>
      </div>
      <% if @environments.empty? %>
        <hr class="list-separator">
        <%= render "shared/empty_message", :icon_message => "Nenhum ambiente",
          :icon_class => "icon-environment-empty_128_130",
          :message => "Você ainda não participa de um Ambiente de Aprendizagem." %>
      <% else %>
        <ul id="my-environments" class="list-environment-course-space">
          <%= render :partial => "users/environments/environment",
            :collection => @environments, :locals => { :user => @user } %>
        </ul>
      <% end %>
      <%= paginate @environments, :theme => 'new_endless' %>
    </div>
    <%= render :partial => "users/environments/breadcrumb",
       :locals => { :user => @user } %>
  </div>
</div>
<div class="span3">
  <%= render :partial => "users/right_sidebar",
     :locals => { :user => @user } %>
</div>