<div class="span3">
  <%= render "users/left_sidebar", user: @user %>
</div>
<div class="span10">
  <div class="content-area">
    <div class="content-body">
      <div class="content-section">
        <%= render "bootstrap/header_breadcrumb", header_breadcrumb_items: [
          { name: "Ambientes de que Participo", link: user_environments_path(@user), classes: "icon-environment-round-gray_32_34-before", counter: @total_environments } ] %>
      </div>
      <% if @environments.empty? %>
        <hr class="list-separator">
        <%= render "shared/empty_message", icon_message: "Nenhum ambiente",
          icon_class: "icon-environment-empty_128_130",
          message: "Você ainda não participa de um Ambiente de Aprendizagem." %>
      <% else %>
        <ul id="my-environments" class="list-environment-course-space">
          <%= render partial: "users/environments/environment",
            collection: @environments, locals: { user: @user } %>
        </ul>
      <% end %>
      <%= paginate @environments, theme: 'new_endless' %>
    </div>
    <%= render "bootstrap/breadcrumb_mini", breadcrumb_mini_items: [
      { name: "Visão Geral", link: home_user_path(@user), classes: "icon-home-lightblue_16_18-before text-replacement" },
      { name: "Ambientes", classes: "icon-environment-gray_16_18-before" }] %>
  </div>
</div>
<div class="span3">
  <%= render "users/right_sidebar", user: @user %>
</div>