<div id="hierarchy-header" class="clearfix space-header">
  <span class="prefix">
    <%= space.course.environment.initials_or_name %>
    > <%= space.course.name  %>
</span>
<h3 class="call space-name"><%= space.name %></h3>
<div class="grid_9 alpha">
  <span class="description">
    <%= space.description %>
  </span>
  <ul class="tags clearfix">
    <% space.tags.each do |tag| %>
      <li>
        <%= link_to tag,
          space_path(space) %>
      </li>
    <% end %>
  </ul>
</div>
<ul class="statistics grid_3 omega">
  <li>
    <em class="icon icon-redu_r8_c319_s1">Membros:</em>
    <span><%= space.users.length %></span>
    <span><%= "(+#{space.new_members.length})" if space.new_members.count > 0 %></span>
  </li>
  <li>
    <em class="icon icon-redu_r8_c207_s1">Professores:</em>
    <span><%= space.teachers.length %></span>
  </li>
  <li>
    <em class="icon icon-redu_r8_c385_s1">Tutores:</em>
    <span><%= space.tutors.length %></span>
  </li>
  <li>
    <em class="icon icon-redu_r8_c355_s1">Alunos:</em>
    <span><%= space.students.length %></span>
  </li>
</ul>

  </div><!-- end #hierarchy-header -->
