<div class="sidebar alpha grid_3">
  <div class="image-frame space-frame">
    <!-- <%# Nao setar width e height na imagem %> -->
    <%= image_tag space.course.environment.avatar.url(:thumb_100),
      :alt => 'profile' %>
  </div>

  <ul class="local-nav">
    <li>
      <div class="<%= (current_page? space_path(space)) ?
                    "session selected".to_s : "session".to_s %>">
        <% selected = (current_page? space_path(space)) ? "icon-list-white_16_16" : "icon-list-lightblue_16_16" %>
        <%= link_to 'Mural', space_path(space),
          :class => "icon #{selected}" %>
      </div>
    </li>
    <li>
        <%
          if space.subjects.visible.recent.count > 0
            subjects_count = "(+#{space.subjects.visible.recent.count})"
          end
        %>
      <div class="<%= (current_page? space_subjects_path(space)) ?
                    "session selected".to_s : "session".to_s %>">
        <% selected = (current_page? space_subjects_path(space)) ? "icon-subject-white_16_16" : "icon-subject-lightblue_16_16" %>
        <%= link_to "Módulos #{subjects_count}", space_subjects_path(space),
          :class => "icon #{selected}" %>
      </div>
    </li>
    <li>
      <div class="<%= (current_page? space_folders_path(space)) ?
                    "session selected".to_s : "session".to_s %>">
        <% selected = (current_page? space_folders_path(space)) ? "icon-material-white_16_16" : "icon-material-lightblue_16_16" %>
        <%= link_to 'Material de apoio', space_folders_path(space),
          :class => "icon #{selected}" %>
      </div>
    </li>
    <!--li>
      <div class="<%#= (current_page? :controller => :forum,
                       :action => :show) ?
                    "session selected".to_s : "session".to_s %>">
        <%#= link_to 'Fórum', space_forum_path(space),
          :class => 'icon icon-redu_r10_c281_s1' %>
      </div>
    </li --!>
    <li>
      <div class="<%= (current_page? space_bulletins_path(space)) ?
                    "session selected".to_s : "session".to_s %>">
        <% selected = (current_page? space_bulletins_path(space)) ? "icon-bulletin-white_16_16" : "icon-bulletin-lightblue_16_16" %>
        <%= link_to 'Notícias', space_bulletins_path(space),
          :class => "icon #{selected}" %>
      </div>
    </li>
    <li>
      <div class="<%= (current_page? space_events_path(space)) ?
                    "session selected".to_s : "session".to_s %>">
        <% selected = (current_page? space_events_path(space)) ? "icon-event-white_16_16" : "icon-event-lightblue_16_16" %>
        <%= link_to 'Eventos', space_events_path(space),
          :class => "icon #{selected}" %>
      </div>
    </li>
    <% if can? :manage, space %>
      <li>
        <div class="<%= (current_page? edit_space_path(space)) ?
                      "session selected".to_s : "session".to_s %>">
        <% selected = (current_page? edit_space_path(space)) ? "icon-management-white_16_16" : "icon-management-lightblue_16_16" %>
          <%= link_to 'Gerenciamento', edit_space_path(space),
            :class => "icon #{selected}" %>
        </div>
      </li>
    <% end %>
    <li>
      <div class="<%= (current_page? users_space_path(space)) ?
                    "session selected".to_s : "session".to_s %>">
        <% selected = (current_page? users_space_path(space)) ? "icon-members-white_16_16" : "icon-members-lightblue_16_16" %>
        <%= link_to "Membros: #{space.users.size}", users_space_path(space),
          :class => "icon #{selected}" %>
      </div>
      <ul class="connections clearfix">
        <%= render :partial => 'users/new/item_short',
          :collection => space.users.n_recent(9) %>
      </ul><!-- end .connections -->
      <a href="" class="more">Ver mais</a>
    </li>
  </ul><!-- end .local-nav -->
</div>
