<%= render :partial => 'courses/new/sidebar' %>
<div class="main grid_12 omega big-col">
  <%= render :partial => "courses/new/breadcrumbs", :locals => { :course => @course } %>
  <%= render :partial => 'courses/new/header',
      :locals => { :course => @course }%>

    <div id="space-new" class="hierarchy-listing-wrapper">
      <div class="header">
        <h4>Disciplina</h4>
        <span class="counter">Nova disciplina</span>
      </div>

      <% form_for @space, :html => {:class => "common highlightable",
        :id => "form_school"} do |f|%>
        <%= render "spaces/new/form", :f => f, :edit => false %>
        <%= f.submit "Criar disciplina" %>
      <% end %>
    </div><!-- end #space-new -->
  </div><!-- end main -->
