<%= render :partial => 'spaces/new/sidebar' %>
<div class="main grid_12 omega big-col">
  <ol id="breadcrumbs" class="clearfix">
    <li>
      <%= link_to 'Home', home_user_path(current_user),
        :class => 'replacement home icon icon-redu_r8_c227_s1' %>
    </li>
    <li>
      <%= link_to @space.course.environment.name,
        environment_path(@space.course.environment),
        :class => 'replacement icon icon-redu_r8_c217_s1' %>
      <li>
        <%= link_to @space.course.name,
          environment_course_path(@space.course.environment, @space.course),
          :class => 'replacement icon icon-redu_r8_c313_s1' %>
      </li>
      <li>
        <%= link_to @space.name, space_path(@space),
          :class => 'icon icon-redu_r8_c307_s1' %>
      </li>
    </ol>
    <div id="hierarchy-header" class="clearfix space-header">
      <span class="prefix">
        <% if @space.course.environment.initials %>
          <%= @space.course.environment.initials %>
        <% else %>
          <%= @space.course.environment.name %>
        <% end %>
        > <%= @space.course.name  %>
    </span>
    <h3 class="call space-name"><%= @space.name %></h3>
    <div class="grid_9 alpha">
      <span class="description">
        <%= @space.description %>
      </span>
      <ul class="tags clearfix">
        <% @space.tags.each do |tag| %>
          <li>
            <%= link_to tag,
              space_path(@space) %>
          </li>
        <% end %>
      </ul>
    </div>
    <ul class="statistics grid_3 omega">
      <li>
        <em class="icon icon-redu_r8_c207_s1">Professores:</em>
        <span><%= @space.teachers.length %></span>
      </li>
      <li>
        <em class="icon icon-redu_r8_c385_s1">Tutores:</em>
        <span><%= @space.tutors.length %></span>
      </li>
      <li>
        <em class="icon icon-redu_r8_c355_s1">Alunos:</em>
        <span><%= @space.students.length %></span>
      </li>
    </ul>

  </div><!-- end #hierarchy-header -->

  <div id="space-statuses" class="hierarchy-listing-wrapper">
    <div class="header">
      <h4>Mural</h4>
      <span class="counter">Atividades recentes</span>
    </div>

    <div style="clear: both;">
    <%= render :partial => 'statuses/new/create_status',
      :locals => { :statusable => @space } %>
    <div id="statuses" class="statuses">
      <ol>
        <%= render :partial => 'statuses/new/item', :collection => @statuses %>
      </ol>

      <%= will_paginate @statuses, :renderer => EndlessRenderer %>
    </div>
    </div><!-- end .statuses -->
  </div><!-- end #environment-courses -->

</div><!-- end .main -->
