<%#
  Compound log de ingresso a curso.

  Variáveis:
    compound: o compound log de ingresso a curso.
%>

<% course = compound.statusable %>

<%= content_tag :li, id: "status-#{compound.id}" do %>
  <hr class="list-separator">
  <div class="status log">
    <div class="context">
      <%= render "statuses/context_environment", course: compound.statusable %>
    </div>
    <div class="subject">
      <div class="subject-info">
        <%= content_tag :span, class: "icon-grouping-gray_16_18-before action" do %>
          <%= link_to course.name, environment_course_path(course.environment, course) %> possui <%= compound.logs.length %> novos Membros:
        <% end %>
        <% if compound.logs.count > 12 %>
          <span class="link-fake see-all link-secondary">+ Ver todos</span>
        <% end %>
      </div>
    </div>
    <div class="subject-content">
      <ul class="grouping-elements">
        <%= render partial: "statuses/compound_item",
          collection: compound.logs.collect {|log| log.logeable.user },
          as: :compound_user %>
      </ul>
    </div>
  </div>
<% end %>
