<%= render :partial => 'users/home_sidebar' %>
<div class="main grid_10" style="width: 580px;">
  <%= render :partial => 'users/breadcrumbs' %>
  <div id="plan-index">
    <%
    fake_tabs ['Perfil', edit_user_path(@user), {:class => 'icon icon-profile-gray_16_16'}],
      ['Conta', account_user_path(@user), {:class => 'icon icon-account-gray_16_16'}],
      ['Planos', user_plans_path(@user), {:class => 'icon icon-cash-lightblue_16_16'}] do
      %>
    <table class="common spaced">
      <thead>
        <tr>
          <th style="width: 45%">Curso:</th>
          <th>Plano/situação:</th>
          <th>Upgrade:</th>
        </tr>
      </thead>
      <tbody>
        <% @plans.each do |plan| %>
          <tr>
            <td>
              <% if plan.billable %>
                <%= 
                  link_to plan.billable.name, environment_course_path(plan.billable.environment, plan.billable),
                    :class => "billable"
                %>
              <% else %>
                "(curso removido)"
              <% end %>
            </td>
            <td>
              <% if plan.billable %>
                <%=
                link_to plan.name, plan_invoices_path(plan),
                  :class => "name"
                %>
                <% if plan.pending_payment? %>
                 <span class="info">Pagamento pendente</span>
                <% else %>
                  <span class="info">Sem pendências</span>
                <% end %>

              <% else %>
                <span class="name">Não possui</span>
              <% end %>
            </td>
            <td>
              <% if plan.pending_payment? %>
                <%= pagseguro_form plan.create_order, :submit => "Pagar" %>
              <% else %>
                <%= 
                  link_to "Upgrade", upgrade_plan_path(plan),
                    :class => "important"
                %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
</div>

