<div class="likeable">
  <span class="like">
    <%# FIXME refatorar a url para um path %>
    <%= link_to_remote image_tag('thumbs-up.jpg', :border => '0'),
      :url => {:action => :vote, :id => likeable.id, :like => "true"},
      :loading => 'jQuery("#like_link").hide(); jQuery("#like_spinner").show()',
      :html => {:id => "like_link"}%>
    <%= image_tag 'spinner.gif', :id => 'like_spinner', :style => 'display: none' %>
    &#40;<span id="like_count" style="display: inline"><%= likeable.votes_for%></span>&#41;
  </span>
  <span class="dislike">
    <%# FIXME refatorar a url para um path %>
    <%= link_to_remote image_tag('thumbs-down.jpg', :border => '0'),
      :url=> {:action => :vote, :id => likeable.id, :like => nil},
      :loading => 'jQuery("#dislike_link").hide(); jQuery("#dislike_spinner").show()',
      :html => {:id => "dislike_link"}%>
    <%= image_tag 'spinner.gif', :id => 'dislike_spinner', :style => 'display: none' %>
    &#40;<span id="dislike_count" style="display: inline"><%= likeable.votes_against%></span>&#41;
  </span>
</div>
