<div id="all_content3">
    <div id="col_content">
        <div id="breadcrumbs">
            <a href="<%=application_url%>">rede</a>
            > forum > editar
        </div>

		<div class='box_forum'>
			
		<%-box do %>
			<label for='title'>
				<%= :edit_forum.l %>
			</label>
			<p>
				<%= link_to :delete_this_forum.l, forum_path(@forum), :method => :delete, :class => "utility", :confirm => :are_you_sure.l %>
			</p>
			<%- form_for :forum, :url  => forum_path(@forum), :html => { :class => "MainForm", :method => :put } do |f| %>
				<%= render :partial => "form", :object => f %>
				<p>
					<%= submit_tag :save_forum.l, :or => link_to(:cancel.l, forums_path) %>
				</p>
			<% end %>
		<% end %>
		</div>		
	</div>
</div>		