<div id="all_content3">
    <div id="col_content">
        <div id="breadcrumbs">
            <a href="<%=application_url%>">rede</a>
            > fórum
        </div>
		
	
        <%- @meta = { :description => "#{AppConfig.community_name} forums.",:keywords => "#{AppConfig.meta_keywords}", :robots => AppConfig.robots_meta_list_content} %>
        <%- @section = 'forums' %>
        <%- if admin? %>
        <%-box :class => "alt first_alt" do %>
        <h3><%= :admin.l %></h3>
        <p>
            <%= link_to :create_new_forum.l, new_forum_path, :class => "utility" %>
        </p>
        <% end %>
        <% end %>
        <%- box do %>
        <div class='right'>
            <%= link_to :recent_posts.l, recent_forum_posts_path %>
        </div>
        <h3><%= :forums.l %></h3>
        <p class= "subtitle">
            <%= feed_icon_tag :recent_posts.l, all_sb_posts_path(:format => 'rss') %>
            <%= number_with_delimiter(Topic.count) %>
            <%= "#{'topics'.l}," %>
            <%= number_with_delimiter(SbPost.count) %>
            <%= "#{'posts'.l}," %>
            <%= number_with_delimiter(User.count(:conditions => "sb_posts_count>0")) %>
            <%= 'voices'.l %>
        </p>
        <table border="0" cellspacing="0" cellpadding="0" class="wide forums">
            <tr>
                <th width='70%' colspan='3'>
                    <%= :forum.l %>
                </th>
                <th width="30%" colspan="1">
                    <%= :last_post.l %>
                </th>
            </tr>
            <%- for forum in @forums do %>
            <tr>
                <td class="vat c1">
                    <%- if recent_forum_activity(forum) %>
                    <%= image_tag "clearbits/comment.gif", :class => "icon green", :title => :recent_activity.l %>
                    <%- else %>
                    <%= image_tag "clearbits/comment.gif", :class => "icon grey", :title => :no_recent_activity.l %>
                    <% end %>
                </td>
                <td class="c2 vat">
                    <%= link_to h(forum.name), forum_path(forum), :class => "title" %>
                    <div class="posts">
                        <%- unless forum.topics_count.zero? %>
                        <%= number_with_delimiter(forum.topics_count) %>
                        <%= :topics.l %>
                        ,<%= number_with_delimiter(forum.sb_posts_count) %>
                        <%= :posts.l %>
                        <% end %>
                    </div>
                    <p class='desc'>
                        <%= forum.description_html %>
                    </p>
                </td>
                <td class='c3'>
                    <%= link_to :edit.l, edit_forum_path(forum), :class => "tiny", :rel => "directory", :style => "float:right" if admin? %>
                </td>
                <td class='inv lp'>
                <%- if forum.sb_posts.last %>
                <%= time_ago_in_words(forum.sb_posts.last.created_at) %>
                </br>
                <%= :by.l %>
                <strong><%= h(forum.sb_posts.last.user.display_name) %></strong>
                <span>(<%= link_to :view.l, forum_topic_path(:forum_id => forum, :id => forum.sb_posts.last.topic_id, :page => forum.sb_posts.last.topic.last_page, :anchor => forum.sb_posts.last.dom_id) %>
                    )</span>
                <% end %>
            </td>
            </tr>
            <% end %>
        </table>
        <p>
            <%= link_to :recent_posts.l, recent_forum_posts_path %>
        </p>
        <%- online_users = User.currently_online %>
        <%- unless online_users.empty? %>
        <div class="stats">
            <div class="users">
                <% unless online_users.empty? %>
                <%= :users_online.l + ':' %>
                <%= online_users.map { |u| link_to "<strong>#{h u.display_name}</strong>", user_path(u) } * ", " %>
                <% end %>
                <br>
            </div>
        </div>
        <% end %>
        <% end %>
	
  </div>
</div>
	
	