<%= render :partial => 'users/home_sidebar' %>
<div class="main grid_10" id="partner" style="width: 580px;">
  <%= render :partial => 'partners/breadcrumbs', :locals => { :partner => @partner} %>
  <%= render :partial => 'partners/header', :locals => { :partner => @partner } %>

  <%= subtabs :partners, :class => "plan-panel" do %>
    <div class="call">
      <% if @plan.billable.is_a? Environment %>
        <%= content_tag(:h3, @plan.billable.name, :class => "billable") %>
      <% elsif @plan.billable.is_a? Course %>
        <%= content_tag(:h3, @plan.billable.environment.name, :class => "environment") %>
        <%= content_tag(:h3, @plan.billable.name, :class => "billable") %>
      <% elsif @plan.billable_audit %>
        <%= content_tag :span, @plan.billable_audit["name"] %>
      <% end %>
    </div>
    <%= link_to "< voltar para detalhes do plano atual", partner_client_plan_invoices_path(@partner, @client, @plan), :class => "back" %>
    <div class="options-plan">
      <h1 class="plan-user">Instituição de Ensino ou Empresa</h1>
      <ul class="plans-list">
        <%= render "partner_environment_associations/plans/item_medium", :plan_preset => :instituicao_superior, :type => "LicensedPlan", :actual_plan => @plan, :partner => @partner, :client => @client %>
        <%= render "partner_environment_associations/plans/item_medium", :plan_preset => :instituicao_medio, :type => "LicensedPlan", :actual_plan => @plan, :partner => @partner, :client => @client  %>
        <%= render "partner_environment_associations/plans/item_medium", :plan_preset => :curso_extensao, :type => "LicensedPlan", :actual_plan => @plan, :partner => @partner, :client => @client  %>
        <%= render "partner_environment_associations/plans/item_medium", :plan_preset => :curso_corporativo, :type => "LicensedPlan", :actual_plan => @plan, :partner => @partner, :client => @client  %>
        <%= render "partner_environment_associations/plans/item_medium", :plan_preset => :instituicao_medio_tiny, :actual_plan => @plan, :partner => @partner, :client => @client  %>
        <%= render "partner_environment_associations/plans/item_medium", :plan_preset => :instituicao_medio_lite, :actual_plan => @plan, :partner => @partner, :client => @client  %>
        <%= render "partner_environment_associations/plans/item_medium", :plan_preset => :instituicao_medio_standard, :actual_plan => @plan, :partner => @partner, :client => @client  %>
        <%= render "partner_environment_associations/plans/item_medium", :plan_preset => :instituicao_medio_plus, :actual_plan => @plan, :partner => @partner, :client => @client  %>
      </ul>
      <%= link_to "< voltar para detalhes do plano atual", plan_invoices_path(@plan), :class => "back bottom" %>
    </div>
  <% end %>
  </div>
<div class="explanation-sidebar">
  <div class="explanation">
    <span class="sidebar-top title">Upgrade</span>
    <p>Caso seu curso esteja próximo de atingir seus limites, faça o upgrade para um plano que atenda às suas necessidades.</p>
    <p>Após a escolha do plano mais adequado, clique em<span class="featured"> Assinar</span>. A fatura entrará em vigor assim que a confirmação for feita .</p>
  </div>
</div>
