<h1>Listing competences</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
  </tr>

<% @competences.each do |competence| %>
  <tr>
    <td><%=h competence.name %></td>
    <td><%=h competence.value %></td>
    <td><%= link_to 'Show', competence %></td>
    <td><%= link_to 'Edit', edit_competence_path(competence) %></td>
    <td><%= link_to 'Destroy', competence, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New competence', new_competence_path %>