






<div id="move_item">
    <div id="move_foto">
        <%= link_to image_tag(item.user.avatar.url(:thumb), :height => '36', :width => '36', :border => 0, :alt => "#{item.user.login}"), user_path(item.user), :rel => 'bookmark', :class => 'move_foto', :title => "Perfil de #{item.user.login}" %> 
    </div>
    <div id="move_txt">
    	
		<%= activity_name(item) %>
		<br/>
        <span id="time">
            <%= time_ago_in_words_or_date(item.created_at) %>
        </span>
        
		<% if logged_in? %>
        <!--
		<div id="link_respond_to_<%=item.id%>" class="replay">
            <a href="#" onclick="showResponseBox(<%=item.id%>); return false;">Responder</a>
        </div>
        <div id="box_respond_to_<%= item.id %>" style="display:none;">
            <div id="box_baseline_base">
                <textarea cols="27" rows="2">
                </textarea>
            </div>
            <div id="bt_send_mv" align="center">
                <a href="#" class="bt_send">Enviar</a>
            </div>
            <div id="bt_send_mv" align="center">
                <a href="#" onclick="hideResponseBox(<%=item.id%>); return false;">Cancelar</a>
            </div>
        </div> -->
        <% end %>
    </div>
</div>
