<div id="move_item">
    <div id="move_foto">
        <%= link_to image_tag(item.user.avatar_photo_url(:thumb), :height => '20', :width => '20', :alt => "#{item.user.login}"), user_path(item.user), :rel => 'bookmark', :class => 'move_foto', :title => "#{item.user.login}'s profile" %> 
    </div>
    <div id="move_txt">
    	
		<% activity = " atividade? " %>
		
        <% if item.logeable_type.eql?('course') %>
		
		<% activity = " está assistindo a aula " if item.action == "show" %>
		<% activity = " criou a aula " if item.action == "create" %>
				
        <li>
        	<%= link_to item.user.login, user_path(item.user) %>
             <%= activity %>
			<%= link_to item.logeable_name, course_path(item.logeable_id) %>
        </li>
		<% elsif item.logeable_type.eql?('resource') %>
		
		<% activity = " disponibilizou o material " if item.action == "create" %>
		
       	<li>
        	<%= link_to item.user.login, user_path(item.user) %>
             <%= activity %>
			<%= link_to item.logeable_name, resource_path(item.logeable_id) %>
        </li>
        <% elsif item.logeable_type.eql?('exam') %>
		
        <% activity = " está respondendo ao exame " if item.action == "answer" %>
		<% activity = " criou o exame " if item.action == "exame" %>
				
        <li>
        	<%= link_to item.user.login, user_path(item.user) %>
             <%= activity %>
			<%= link_to item.logeable_name, exam_path(item.logeable_id) %>
        </li>
        <% elsif item.logeable_type.eql?('user') %>
        <% activity = " acabou de entrar no redu" if item.action == "login" %>
		<% activity = " atualizou dados de seu perfil" if item.action == "update" %>		
        
		<li>
        	<%= link_to item.user.login, user_path(item.user) %>
             <%= activity %>
        </li>
        
        <% end %>
        <div id="time">
            <%= time_ago_in_words_or_date(item.created_at) %>
        </div>
        
		<% if logged_in? %>
        <!--
		<div id="link_respond_to_<%=item.id%>" class="replay">
            <a href="#" onclick="showResponseBox(<%=item.id%>); return false;">Responder</a>
        </div>
        <div id="box_respond_to_<%= item.id %>" style="display:none;">
            <div id="box_baseline_base">
                <textarea cols="27" rows="2">
                </textarea>
            </div>
            <div id="bt_send_mv" align="center">
                <a href="#" class="bt_send">Enviar</a>
            </div>
            <div id="bt_send_mv" align="center">
                <a href="#" onclick="hideResponseBox(<%=item.id%>); return false;">Cancelar</a>
            </div>
        </div> -->
        <% end %>
    </div>
</div>
