<span class="title"><%= item.educationable.course %> <span class="in-between">pela</span> <%= item.educationable.institution %></span>
<span class="time">
  <%= t item.educationable.year.strftime("%Y") %>
  (<%= pluralize item.educationable.workload, (t :hour).downcase %>)
</span>
<p class="description"><%= item.educationable.description %></p>