<div class="details">
  <span class='course'><%= item.educationable.course %></span> pela <span class="institution"><%= item.educationable.institution %></span>
  <span class="period">
    <%= t item.educationable.year.strftime("%Y") %>
    (<%= pluralize item.educationable.workload, (t :hour).downcase %>)
  </span>

  <div class="description"><%= item.educationable.description %></div>
</div>

