<%# Formulário para adicionar novo item de educação. %>
<div id="new_education" class="form-horizontal">

  <div class="control-group row title">
    <h6 class="offset3 curriculum-title">Novo item</h6>
  </div>

  <div class="control-group row">
    <div class="control-label span3">
      <%= label_tag "Tipo" %>
    </div>
    <div class="controls span6">
      <%= select_tag :education_type,
       (options_for_select [["Ensino Médio", "high_school"],
       ["Ensino Superior", "higher_education"],
       ["Curso Complementar", "complementary_course"],
       ["Evento", "event_education"]]) %>
    </div>
  </div>

  <%= form_for high_school, :url => user_educations_path(user),
   :remote => true, :html => { :class => "form-horizontal form-education" } do |f| %>
   <%= render :partial => "educations/high_school_fields",
     :locals => { :f => f } %>
  <% end %>
  <%= form_for higher_education, :url => user_educations_path(user),
   :remote => true, :html => { :class => "form-horizontal" } do |f| %>
   <%= render :partial => "educations/higher_education_fields",
     :locals => { :f => f } %>
  <% end %>
  <%= form_for complementary_course, :url => user_educations_path(user),
   :remote => true, :html => { :class => "form-horizontal form-education" } do |f| %>
   <%= render :partial => "educations/complementary_course_fields",
     :locals => { :f => f } %>
  <% end %>
  <%= form_for event_education, :url => user_educations_path(user),
   :remote => true, :html => { :class => "form-horizontal form-education" } do |f| %>
   <%= render :partial => "educations/event_education_fields",
     :locals => { :f => f } %>
  <% end %>

</div>