<div class="infos clearfix">
  <a href="#" class="edit-education icon icon-management-gray_8_8"><%= t :edit %></a>
  <%= link_to (t :remove), user_education_path(item.user, item),
    :remote => true, :method => :delete,
    :class => "remove-education icon icon-x-gray_8_8 replacement",
    :confirm => "Você tem certeza que deseja excluir esta experiência? Não será mais possível recuperá-la." %>
  <%= render :partial => "educations/higher_education_detail", :locals => { :item => item } %>
</div>

<%= form_for item.educationable,
  :url => user_education_path(item.user, item), :remote => true,
  :html => { :class => "concave-form clearfix" } do |f| %>
  <%= render :partial => 'educations/higher_education_fields',
    :locals => { :f => f, :higher_education => item.educationable } %>
<% end %>
