<div class="details">
  <span class='type'><%= t item.educationable.kind %></span> em <span class="course-area"><%= item.educationable.course == "" ? item.educationable.research_area : item.educationable.course %></span> pela <span class="institution"><%= item.educationable.institution %></span>
  <span class="period">
    <%= t item.educationable.end_year.strftime("%Y") %>
  </span>

  <div class="description"><%= item.educationable.description %></div>
</div>

