<%= f.label :institution, "Instituição:" %>
<%= f.text_field:institution %>
<span class="tip">Nome da instituição responsável.</span>
<%= error_for :high_school, :institution %>

<%= f.label :end_year, "Ano de término:" %>
<%= f.date_select :end_year,
  :start_year => (Date.today - 90.years).year,
  :end_year => (Date.today + 10.years).year,
  :discard_day => true, :discard_month => true %>

<%= f.label :description, "Descrição:" %>
<%= f.text_area :description, :class => "description" %>
<span class="tip">Detalhes do cursos e de suas realizações durante o período.</span>

<%= f.submit %>
