<div class="control-group row">
  <div class="control-label span3">
    <%= f.label :institution, "Instituição" %>
  </div>
  <div class="controls span6">
    <%= f.text_field :institution,
        :placeholder => "Nome da instituição responsável" %>
    <%= concave_errors_for f.object, :institution %>
  </div>
</div>

<div class="control-group row">
  <div class="control-label span3">
    <%= f.label :end_year, "Ano de término" %>
  </div>
  <div class="controls span6">
    <%= f.date_select :end_year,
      :start_year => (Date.today - 90.years).year,
      :end_year => (Date.today + 10.years).year,
      :discard_day => true, :discard_month => true %>
  </div>
</div>

<div class="control-group row">
  <div class="control-label span3">
    <%= f.label :description, "Descrição" %>
  </div>
  <div class="controls span6">
    <%= f.text_area :description, :rows => '6',
        :placeholder => "Detalhes do cursos e de suas realizações durante o período" %>
  </div>
</div>

<div class="offset3 span6 curriculum-buttons">
  <button type="submit" class="button-default add-item icon-curriculum-lightblue_16_18-before pull-right"><% if f.object.new_record? %>Adicionar item<% else %>Salvar item<% end %></button>
  <button class="button-default cancel pull-right">Cancelar</button>
</div>