<li id="education-<%= item.id %>" class="config-experience clearfix">
  <% if item.educationable.class == HighSchool %>
    <%= render :partial => 'educations/high_school_item',
      :locals => { :item => item } %>
  <% elsif item.educationable.class == HigherEducation %>
    <%= render :partial => 'educations/higher_education_item',
      :locals => { :item => item } %>
  <% elsif item.educationable.class == ComplementaryCourse %>
    <%= render :partial => 'educations/complementary_course_item',
      :locals => { :item => item } %>
  <% elsif item.educationable.class == EventEducation %>
    <%= render :partial => 'educations/event_education_item',
      :locals => { :item => item } %>
  <% end %>
</li>
