<% if @education.valid? %>
  var newItem = "<%= escape_javascript render :partial => 'educations/item',
    :locals => { :item => @education } %>"
  var oldItem = $("#education-<%= @education.id %>");
  oldItem.replaceWith(newItem);
  $("#curriculum .new-education-button").show();
  $("#education-<%= @education.id %> form").hide();
<% else %>
  <% if @education.educationable.class == HighSchool %>
    var $form = $("#edit_high_school_<%= @education.educationable.id %>");
    <% else @education.educationable.class == HigherEducation %>
    var $form = $("#edit_higher_education_<%= @education.educationable.id %>");
    <% end %>
  var $errorsExplanation = $form.find('.errorExplanation');
  if ($errorsExplanation.length == 0) {
    var errorsExplanationTemplate = "<%= escape_javascript render 'shared/error_explanation'  %>";
    $form.prepend(errorsExplanationTemplate);
  }

  <%# mostra todos os erros %>
  var $errors = $('<ul \>');
  <% @education.educationable.errors.full_messages.each do |error| %>
    $errors.append("<li><%= escape_javascript(error) %></li>");
  <% end %>

  $errorsExplanation = $form.find('.errorExplanation');
  $errorsExplanation.find('ul').replaceWith($errors);
  $errorsExplanation.show();
<% end %>
