<h3 class="call">Editção de Exame</h3>
<% field_set_tag 'Informações Gerais' do %>
  <%= f.hidden_field :lazy_asset_id %>
  <%= f.label "Nome" %>
  <%= f.text_field :name %>
  <%= error_for :exam, :name %>

  <% random_number = get_random_number%>
  <%= f.label "Descrição:" %>
  <%= f.text_area :description, :size => "50x3", :class => "desc-#{random_number}" %>
  <%= render :partial => 'shared/limit_char_field', :locals => { :class_textarea => "desc-#{random_number}" }%>
  <%= error_for :exam, :description %>

  <%= f.label "Tags <span class='snippet'>(separadas por vírgula)</span>" %>
  <%= f.text_field :tag_list %>
<% end %>
