<div class="grid_16">
  <div id="title_video">
    Novo Exame
  </div>
</div>

<div class="<%= (edit) ? 'grid_15 alpha omega': 'grid_9' %>">
  <%= f.error_messages %>
</div>

<%= hidden_field_tag("step", "general")%>

<div class="grid_8">
  <%= render :partial => 'exams/general_form', :locals => {:f => f} %>
</div>

<div class="grid_6 push_1">
  <% field_set_tag 'Tipo de Exame' do %>
    <div style="margin-bottom: 20px;">
      <h3><%= radio_button_tag("exam_type", "simple", checked = true, options = {}) %> Exame simples</h3>
      Contém um conjunto de questões e o resultado é exibido ao final do exame.
    </div>
  <% end %>
</div>
