<div class="grid_16">
  <div id="title_video">
    Novo Exame
  </div>
</div>

<%= render :partial => 'exams/breadcrumbs' %>

<div class="<%= (edit) ? 'grid_15 alpha omega': 'grid_9' %>">
  <%= f.error_messages %>
</div>

<%= hidden_field_tag("step", "general")%>

<div class="grid_8">
  <% field_set_tag 'Informações Gerais' do %>
    <%= f.label "Nome" %>
    <%= f.text_field :name ,  :onkeyup => ((edit) ? nil : "generatePath(this)") %>
    <%= error_for :exam, :name %>

    <% random_number = get_random_number%>
    <%= f.label "Descrição:" %>
    <%= f.text_area :description, :size => "50x3", :class => "desc-#{random_number}" %>
    <%= render :partial => 'shared/limit_char_field', :locals => { :class_textarea => "desc-#{random_number}" }%>
    <%= error_for :exam, :description %>

    <%= f.label "Tags <span class='snippet'>(separadas por vírgula)</span>" %>
    <%= f.text_field :tag_list %>
  <% end %>
</div>

<div class="grid_6 push_1">
  <% field_set_tag 'Tipo de Exame' do %>
    <div style="margin-bottom: 20px;">
      <h3><%= radio_button_tag("exam_type", "simple", checked = true, options = {}) %> Exame simples</h3>
      Contém um conjunto de questões e o resultado é exibido ao final do exame.
    </div>
  <% end %>
</div>
