<!-- ITEM ////////////////////////////////////////////////////////////////// -->
        <div id="item">
    		<div id="title"><%= link_to exam.name, exam %></div>
            <div id="average">
            	<div id="title_average" align="center">MÉDIA</div>
                <div id="number_average" align="center">88%</div>
                <div id="title_average" align="center">Realizações(<%=h exam.done_count %>)</div>
                <div id="difficulty_level" align="center"><%=h (exam.level == 1) ? "Iniciante" : ((exam.level == 2) ? "Intermediário" : "Avançado") %></div>
            </div> 
            <div id="identification">
              <ul id="identification_resource">
				<li><%= link_to exam.owner.login, exam.owner %></li>
        		<li>|</li>
				<li>Criado: <%= time_ago_in_words(exam.created_at) %></li>
                <li>|</li>
				<li><%=h exam.questions.length %> Questões</li>
			  </ul>
            </div>
            
            <div id="description"><%= (exam.description[0..250] + "...") if exam.description.length > 250 %>
            </div>
			
			<div id="identification">
              <ul id="identification_resource">
				<li><strong>Categoria:</strong> Matemática</li>
        		<li>|</li>
				<li><strong>Tags:</strong> <%=h exam.tag_list %></li>
			  </ul>
            </div>
            
                    
    	</div>

