<li class="clearfix">
	 <%= link_to exam.name, exam, :class => "name"  %>
	<div class="headlines" style="width: 490px">
		<!--
		<span class="call">Descrição:</span>
		-->
		<span class="things">
		<%= truncate_words( exam.description, 10, '...') %>
		
		</span>
	</div>
	<div class="headlines" style="width: 490px">
		
		
		<ul class="item_info">
            <% unless @user %>
						<li> Por 
                <%= link_to exam.owner.display_name, user_path(exam.owner) %>
            </li>
            <li>
                |
            </li>
						<%end%>
            <li> 
                <%= time_ago_in_words_or_date(exam.created_at) %>
            </li>
            <% if exam.school && !@school%>
						<li>
                |
            </li>
						 <li> 
                Rede: <%= link_to(exam.school.name, exam.school)  %>
            </li>
						<%end%>
            <li>
                |
            </li>
            <li>
                Realizações (<%= exam.done_count %>)
            </li>
						<li>
                |
            </li>
						
        </ul>
				
		<span style="float: left; margin-top:2px;">
			 							<%= ratings_for exam, :static, :small => true, :wrap => false %>
		</span>
		
		
	</div>
</li> 






