<li class="clearfix">
	 <%= link_to exam.name, exam, :class => "name"  %>
	<div class="headlines exam" style="width: 490px">
		<!--
		<span class="call">Descrição:</span>
		-->
		<span class="things">
		<%= truncate_words( exam.description, 10, '...') %>
		
		</span>
	</div>
	<div class="headlines average upper">
		95%
	</div>


<%= link_to "Responder!", answer_exam_path(:id=> exam.id, :first=> true), :class => "answer"%>
	
	<div class="headlines exam" style="width: 490px">
		
		
		<ul class="item_info">
            <% unless @user %>
						<li> Por 
                <%= link_to exam.owner.f_name, user_path(exam.owner) %>
            </li>
            <li>
                |
            </li>
						<%end%>
            <li> 
                <%= time_ago_in_words_or_date(exam.created_at) %>
            </li>
            <% if exam.school && !@school%>
						<li>
                |
            </li>
						 <li> 
                Rede: <%= link_to(exam.school.name, exam.school)  %>
            </li>
						<%end%>
            <li>
                |
            </li>
            <li>
                Realizações (<%= exam.done_count %>)
            </li>
						<li>
                |
            </li>
						<li>
                Questões (<%= exam.questions.size %>)
            </li>
							<li>
                |
            </li>
						<li>
                Nível <%= exam_level(exam) %>
            </li>
						
        </ul>
				
		
		
	</div>
		<div class="headlines average bottom">
		Média
	</div>
	
	
</li> 






