 

<% question_id = "question_#{question.id}" %>

<div id="<%= question_id %>" style="background: #EFEFEF; padding: 5px; margin-bottom: 10px; cursor: -moz-grab;" >
<%= hidden_field_tag('questions[]', question.id) %>
<p>
	
  <h1 style="font-size: 14px;">
  <%# form.text_field %>
  <%# q.text_field :statement %>
  <%= question.statement %>
  </h1>
  
</p>
<BR>
<BR>
<% question.alternatives.each do |alternative| %>
<% (question.answer_id == alternative.id) ? check = true : check = false %>

<%= radio_button_tag(("alternative_q" + question.id.to_s), "id", check, :disabled => true) %> 
<%= alternative.statement %> <BR>
<% end %>
<BR>
<p>
  <b>Resposta:</b>
  <%=h question.answer.statement %>
</p>

<p>
  
  <%= question.public ? 'Pública' : 'Privada' %>
</p>

<p>
  Justificativa: <BR>
  <%= question.justification ? question.justification: 'Sem justificativa' %>
</p>


<%= link_to_function 'Editar', 'saveDraft(4, ' + question.id.to_s + ' )' %> |

<span id="remove_link_<%=question.id.to_s%>">
<%= link_to_remote 'Remover do Exame', :url => { :controller => :exams, :action => :remove_question, :id => exam.id, :qid => question.id }, 
:loading => "$('remove_link_" + question.id.to_s + "').hide(); $('delete_spinner_" + question.id.to_s + "').show();"  %>
</span>
<%= image_tag 'loading_bar.gif', :style => 'display:none;', :id => 'delete_spinner_' + question.id.to_s %>



</div>
<!-- draggable_element(question_id, :revert=>true) -->
		
