   <div>
   <td colspan='5'>
    <!-- if the quiz is test like AND the current user is an admin, there is a difficulty column and a time spent column so the colspan is 7. If the quiz is test like but the user is not an admin, there is no difficulty column so the colspan is 6. If the quiz is a skills assessment quiz, then there is no time elapsed column and so the colspan is 5 -->
        <div class="tbl_toggle_detail">
            <!-- there will always be two columns. if there is a passage, passage goes in one column and everything else goes in the other -->
            <div class="line">
                <div class="item twoCol_left_half">
                    <h3>Question #<%= question_index + 1 %>
					<%= (answer && question.id == answer) ? '(correta)' : '(incorreta)' %>
					</h3>
                    <div class="item_question">
                        <p>
                            <%= question.statement %>
                        </p>
                    </div>
                    <!-- if its a testlike question, the answer is in the left col and the explanation is in the right col.
					 otherwise, the answer is in the right col and there is no explanation -->
                    <div class="item_answer">
                        <form>
                            <ul>
                            	<% letters = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'] %>
								<% question.alternatives.each_with_index do |alternative, i|%>
                                <li class="clear"> 
									
								
                                    <input type="radio" disabled="" value="a_68734" id="68734" name="quiz_attempt_mdl_question_answer_id" class="radio" <%= (alternative.id == answer) ? 'checked' : ''%> >
                                    
									<label for="a_68734" class="choice">
                                        (<%= letters[i%letters.length] %>) <%= alternative.statement %>
                                            
                                    </label>
									<%= '<span class="answer_chosen">Sua resposta</span>' if alternative.id == answer %>
									<%= '<span class="answer_correct">Correta</span>' if alternative == question.answer %>
									
                                    <!-- increment the question letter --><!-- TODO switch to use new question ordering bits --><!-- TODO GMAT and GRE shouldn't have question letter -->
                                </li>
								<% end %>
								
								
                            </ul>
                        </form>
                        <!-- end if question is a gridin question -->
                    </div>
                    <!-- end item_answer -->
                </div>
                <!-- end of twoCol_left_half -->
                <div class="item twoCol_right_half">
                    <h3>Explicação</h3>
                    <div class="item_feedback">
                        <%= question.justification %>
                    </div>
                </div>
                <!-- end of twoCol_right_half -->
                <!-- end check for passage-ness -->
            </div>
            <!-- end of line -->
        </div>
</td>
</div>