   	
 <div style="width: 50%; float:left;">
                    <h3>Question #<%= question_index + 1 %>
					<%= (answer && question.id == answer) ? '(correta)' : '(incorreta)' %>
					</h3>
                    <div class="item_question">
                        <p>
                            <%= question.statement %>
                        </p>
                    </div>
										
										
                    <div class="item_answer">
                        <form>
                            <ul>
                            	<% letters = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'] %>
								<% question.alternatives.each_with_index do |alternative, i|%>
                                <li class="clear"> 
									
								
                                    <input type="radio" disabled="" value="a_68734" id="68734" name="quiz_attempt_mdl_question_answer_id" class="radio" <%= (alternative.id == answer) ? 'checked' : ''%> >
                                    
									<label for="a_68734" class="choice">
                                        (<%= letters[i%letters.length] %>) <%= alternative.statement %>
                                            
                                    </label>
									<%= '<span class="answer_chosen">Sua resposta</span>' if alternative.id == answer %>
									<%= '<span class="answer_correct">Correta</span>' if alternative == question.answer %>
									
                                    <!-- increment the question letter --><!-- TODO switch to use new question ordering bits --><!-- TODO GMAT and GRE shouldn't have question letter -->
                                </li>
								<% end %>
								
								
                            </ul>
                        </form>
                        <!-- end if question is a gridin question -->
                    </div>
                    <!-- end item_answer -->
                </div>
								
								
								
                <!-- end of twoCol_left_half -->
                <div style="width: 50%; float:left;">
                    <h3>Explicação</h3>
                    <div class="item_feedback">
                        <%= question.justification %>
                    </div>
                </div>
                <!-- end of twoCol_right_half -->
                <!-- end check for passage-ness -->
