<% field_set_tag "Questão #{session[:question_index]}", :class => "heighted" do %>

  <div id="texto_instrucoes">
    <% if question.source%>
      <span class="snippet">
        Fonte: <%= question.source %>
      </span>
    <% end %>
    <%= question.statement %>
  </div>
  <%= hidden_field_tag(:id, session[:exam].id) %>
  <BR>

  <div id="all_respostas">
    <% for alternative in question.alternatives %>
      <%
        # Se já foi respondido, marcando a resposta
        check = false
        if session[:answers].has_key?(question.id)
          check = ( session[:answers][question.id] == alternative.id )
        end
      %>
      <%= radio_button_tag("answer", alternative.id, checked = check) %>
      <%= alternative.statement %><BR>
    <% end %>
  </div>
  <%= button_to_function "Desmarcar", "clearAnswers()" %>
  <span class="snippet">Você pode deixar em branco</span>
<% end %>
