<% published_count = Exam.published_by(current_user.id).count %>
<% unpublished_count = Exam.unpublished_by(current_user.id).count %>
<% done_count = current_user.exam_history.count %>
<% questions_count = current_user.questions.count %>

<div id="task_bar_exames">
	<%= link_to 'Novo Exame', :action => 'new' %> | 	
	<%= link_to 'Todos', exams_path %> | 
	
	<%= link_to 'Publicados (' + published_count.to_s + ')', published_user_exams_path(current_user.id) %> |
	<%= link_to 'Não publicados (' + unpublished_count.to_s + ')', unpublished_user_exams_path(current_user.id) %> |
	<%= link_to 'Histórico (' + done_count.to_s + ')', history_user_exams_path(current_user.id) %> |
	<%= link_to 'Minhas questões (' + questions_count.to_s + ')', user_questions_path(current_user.id) %>
	
</div>
	