<%= javascript_include_tag "exam.js" %>

<div class="grid_16 alpha omega">

  <%= render :partial => "exam_header" %>
  <div class="grid_4 push_12">
    <div id="clock" >00:00:00</div>
  </div>
  <div class="tabs grid_16">
    <ul>
      <li><a href="#exam">Exame</a></li>
      <li><a href="#instructions">Instruções</a></li>
    </ul>
    <div id="exam" class="clearfix">
      <% form_for :exam, answer_space_subject_exam_path(@space, @subject, @exam), :html => {:id => 'form_answer', :class => "grid_16" }  do %>
        <input id="chrono" name="chrono" type="hidden" value="" />
        <div id= "question_box" class ="grid_11 alpha pretty-text">
          <%= render :partial => 'exams/question_answer', :locals => {:question => @step} %>
        </div>
        <div id="questions" class ="grid_4 omega">
          <%= field_set_tag 'Questões', :class => "heighted" do %>
            <ul id="questions_number">
              <% session[:exam].questions.each_with_index do |q, x| %>
                <% if(0 == x) %>
                  <li><%= link_to_remote x + 1, :url => {:action => :answer, :id => session[:exam].id, :q_index => x}, :loading => "showLoading()", :html => {:class => 'number', :id => 'qIndex'+ q.id.to_s}%></li>
                <% else %>
                  <li><%= link_to_remote x + 1, :url => {:action => :answer, :id => session[:exam].id, :q_index => x}, :loading => "showLoading()", :html => {:class => 'number', :id => 'qIndex'+ q.id.to_s}%></li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </div>

        <div id="navigation" class="grid_15 alpha omega">
          <%= render :partial => 'exams/navigation' %>
        </div>
      <% end %>

    </div><!-- end exam -->
    <div id="instructions" class="clearfix pretty-text">
      <%= render :partial => "exams/instructions" %>
    </div><!-- end instructions -->
  </div>
</div>
