 <h1><%= @exam.name %></h1>

  <p><strong>Resultados:</strong>
    Você acertou <%= @correct %> questões de <%= @exam.questions.length %>!
	<BR>
	<% my_average = @correct/@exam.questions.length %> 
	<%= my_average %> % de acertos!
	
	<BR>
	a média de acertos nesse exame é 
	<% average = (@exam.total_correct/@exam.done_count)/@exam.questions.length*1000.round/10 %>
	<%= (@exam.done_count == 0) ? 0 : average %> %
	<BR>
	<%= (my_average >= average)? 'Você está acima da média, parabéns!' : 'Você precisa estudar mais...' %>
	
	<p>
  Realizado <%=h @exam.done_count %> vezes
</p>
	
	</p> 
	
	
	<% @exam.questions.each do |question| %>
	
	
    <div id="question_block" style="background: #EFEFEF; padding: 5px; margin-bottom: 10px">
    	<% if (@corrects.include?(question.id)) %> 
		resposta certa!
		<% else %>
		resposta errada
		<% end %>
		<BR>
	    <p>
            <h1 style="font-size: 14px;"><%=h question.statement %>
            </h1>
            <%# image_tag question.public_filename() %>
        </p>
		
		<div id="alternatives_block" style="margin: 10px 0 10px 0">
        <% question.alternatives.each do |alternative| %>
	        
			
			<% if session[:answers][question.id.to_s].to_i == alternative.id %>
	       
				<% if alternative.id != question.answer_id %>
		        	
					<%= image_tag "icons/wrong.gif"  %>
		     	<% end %> 

	     	<% end %>
			
			<% if alternative.id == question.answer_id %>
				<%= image_tag "icons/correct.jpg"  %>
			<% end %>
			<%= radio_button_tag :alternative, alternative.id  %>
			<%= alternative.statement %>
	        <BR>
        <% end %>
		</div>
		
        <p>
            Justificativa: 
            <BR>
            <%= question.justification ? question.justification: 'Sem justificativa' %>
        </p>
    </div>
	
	<% end %>

  <%= button_to "Fazer novamente", :action => "take", :id => @exam %>  | 
  <%= link_to "Lista de Testes", exams_path %>