<div id="all_content3">
<div id="col_content">
	<div id="breadcrumbs"><a href="<%=application_url%>">home</a> > <a href="#">exames</a> > <a href="#">favoritos</a> </div>
   	<div id="title">EXAMES FAVORITOS
	
	<%= render :partial => @taskbar %>
	
	</div>
	
<!-- LISTAGEM RECURSO ############################################################################################################################################## -->

	<div id="filter_bar">
		
	    <span id="title_list" class="title_list"> TODOS</span>
	    
		
	
		
	      
    </div>
    <div id="all_list">
    	
		<% if @exams && @exams.length > 0 %>
 			<%= render :partial => 'exams/item', :collection => @exams, :as => :exam %> 
 		<% else %>
 			Não há exames favoritados ainda.
		<% end %>
    	
    </div> <!-- fim da listagem --> 
	
	 
    
<!-- PAGINACAO ##################################################################################################################################################### -->
    <div id="pagination" align="center">

		<%= will_paginate  @exams, :params => {:sort_by => @sort_by}, :class => "pagination_number"  %>

		
    </div>
	
</div>

<!-- COLUNA DIREITA ################################################################################################################################################ -->
<div id="col_box3">
	<% if current_user %>
	<% @logs = current_user.log_activity %>
	<%= render :partial => 'logs/log', :locals => {:logs => @logs} %>
	<% else %>
	<%= render :partial => 'logs/not_logged_in', :locals => {:logs => @logs} %>
	<% end %>
<%# render :partial => 'exams/tagcloud' %>
</div> <!-- fim da coluna da direita --> 
</div>
