<h1>Listing exams</h1>

<table>
  <tr>
  	<th>Título</th>
    <th>Author</th>
  </tr>

<% @exams.each do |exam| %>
  <tr>
  	<td><%=h exam.name %></td>
    <td><%=h exam.author_id %></td>
	<td><%= link_to 'Fazer prova', :action => :answer, :id => exam, :first => true %></td>
    <td><%= link_to 'take', :action => :take, :id => exam %></td>
    <td><%= link_to 'Show', exam %></td>
    <td><%= link_to 'Edit', edit_exam_path(exam) %></td>
    <td><%= link_to 'Destroy', exam, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New exam', new_exam_path %>