<h1>Listando Testes Mais Recentes</h1>

<% if current_user %>
<%= link_to 'Novo Teste', :action => 'new_exam' %> | <%= link_to 'Meus testes', user_exams_path(current_user) %>
<% end %>

<p>
	<div id="local_search_form">
	<%= render :partial => "exams/search" %>
	</div>
</p>

<%= render :partial => "exams/sort" %>
<hr>

<div id="local_search_results" style="min-height: 200px">

 <% if @exams && @exams.length > 0 %>
 <%= render :partial => 'exams/item', :collection => @exams, :as => :exam %> 
 <% else %>
 Não há materiais uploadeados ainda. 
 <% end %>

</div>



<br/>
<hr/>
<% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
    <%= link_to tag, { :action => :tag, :id => tag }, :class => css_class %>
<% end %>
<hr/>

