 <script>
 	function saveDraft(opt){
		
        var theform = document.getElementById('exam_form');
		var theattribute = document.getElementById('sbt_opt');
		
		theattribute.value = opt;
		theform.submit();
    }
	
	function publishExam() {
		var confirm_msg = "Uma vez publicado, o exame não poderá ser editado nem removido. Deseja continuar?";
		if (confirm(confirm_msg)) {
			saveDraft(4);
		} 
		
	}
	
 </script>
 
<div id="all_content3">
<div id="col_content">
	<div id="breadcrumbs"><a href="<%=application_url%>">home</a> > <a href="#">aprender</a> > <a href="#">exames</a> </div>
   	
 <% form_for :exam, @exam, :url => { :action => "new" },  :html => {:id => 'exam_form'} do |f| %>
 
 <div id="title">NOVO EXAME
  <%= f.error_messages %>
	
    <div id="task_bar_exames">
		
		<%= link_to_function 'Nova questão', 'saveDraft(1)' %> | 
 		<%= link_to_function 'Adicionar questão', 'saveDraft(2)' %> | 
 		<%= link_to_function 'Adicionar materiais', 'saveDraft(3)' %>
	
	</div>
 
 </div>

 
 
 <%= hidden_field_tag('sbt_opt', 0) %>
  <%= f.hidden_field(:id, :value => @exam.id) %>
 
 <BR><hr><BR>
 
 Título: <BR> <%= f.text_field :name %>
 <br/><BR>
 Descrição: <BR><%= f.text_area :description, :size => "50x3" %>
 <br/><BR>
  Tags
  <em>
	<%= "(" + :optional_keywords_describing_this_exam_separated_by_commas.l + "):" %>
  </em><br/>
  <BR><%= f.text_field :tag_list %>
 <br/><BR>
  Dificuldade: <BR><%= f.select :level, options_for_select([['Iniciante', 1], ['Intermediário', 2], ['Avançado', 3]], 1) %>
 <br/><BR>
  Intruções: <BR><%= f.text_area :instruction, :size => "50x3" %>
 <br/><BR>
 

Materiais: <br/>

<% if @exam.resources && @exam.resources.length > 0 %>

 <%= render :partial => 'resources/item', :collection => @exam.resources, :as => :resource %> 
 <% else %>
 Não há materiais associados. 
 <% end %>

 <br/><BR>
<hr>

 <div id="questions" style="min-height: 100px;">
 
 <% if @exam.questions && @exam.questions.length > 0 %>
 <%= render :partial => 'questions/question_show', :collection => @exam.questions, :as => :question %> 
 <% else %>
 Não há questões nesse teste ainda. 
 Clique em "Adicionar Questão" para adicionar uma questão a 
 partir do banco de dados ou "Nova Questão" para criar uma questão.
 
 <% end %>
 </div>
 
 <!-- drop_receiving_element('questions',                             # The id of the receiving element
  :with   => "'question=' + (element.id.split('_').last())",     # The query string parameters
  :url    => {:action=>:trash_comment}                          # The action to call
 )-->
 
 <%= sortable_element 'questions',
:url => { :action => "sort_question" , :id => @exam },
:complete => visual_effect(:highlight, 'questions'),
 :tag => 'div'
%>
  
  <%= submit_tag "Salvar" %> 
  
  <% if not @exam.new_record? %>
  | <%= button_to_function "Publicar", 'publishExam()' %> |
  <% end %>
  <%= link_to 'Descartar e Voltar', :action => :discard_draft %>
  
 <% end %>
 

</div>

</div>
 
 
 
 
 
 
 
 
 