<h1>Questão</h1>

  <p><%= (@current_i+1) %> - <%= @question.statement %></p>

  <% form_tag :action => "next_question" do %>
   <%= hidden_field_tag(:id, @eid) %>
   <%= hidden_field_tag(:qid, @question.id) %>
   <%= hidden_field_tag(:nqid, @next_qid) %>
   <%= hidden_field_tag(:ci, @current_i) %>
   <BR>
    <% for alternative in @question.alternatives %>
	<%= alternative.id %>
      <%= radio_button_tag("answer", alternative.id, checked = false) %>
        <%= alternative.statement %><BR>
    <% end %>
	<%= button_to_function 'Back', 'history.back(); return false;' %>
  |  <%= submit_tag @next_qid ? "Next" : "End"  %>
  <hr>
  
  <% end %> 