<h1> Testes publicados por <%= @user.login %></h1>

<p>
		<div id="local_search_form">
		<%= render :partial => "exams/search" %>
		</div>
</p>

<%= render :partial => "exams/sort" %>
<hr>

<div id="local_search_results" style="min-height: 200px">

 <% if @exams && @exams.length > 0 %>
 <%= render :partial => 'exams/item', :collection => @exams, :as => :exam %> 
 <% else %>
 Não há testes ainda. 
 <% end %>

</div>



<br />

<%= render :partial => "exams/submenu" %>
