<style>
	
.tbl_toggle thead th {
background-color:#E5EDF7;
border-color:#FFFFFF #FFFFFF #AEBBCC;
border-style:solid;
border-width:1px;
font-size:0.9em;
padding:4px;
text-align:left;
}
.tbl_toggle tbody th, .tbl_toggle tbody td {
border-bottom:1px solid #E3E3E3;
padding:4px;
text-align:left;
}
.tbl_toggle tbody tr.odd td {
border-color:#DFDFDF;
border-style:solid;
border-width:1px 0;
}
.tbl_toggle tbody tr.even td {
background-color:#EFEFEF;
border-color:#FFFFFF;
border-style:solid;
border-width:1px 0;
}
.tbl_toggle tbody tr.odd-highlight td {
background-color:#FEFDCA;
border-color:#DFDFDF;
border-style:solid;
border-width:1px 0;
}
.tbl_toggle tbody tr.even-highlight td {
background-color:#FEFDCA;
border-color:#FFFFFF;
border-style:solid;
border-width:1px 0;
}
.tbl_toggle tbody tr.odd:hover td, .tbl_toggle tbody tr.even:hover td, .tbl_select tbody tr.odd:hover td, .tbl_select tbody tr.even:hover td {
background-color:#E1EFF4;
cursor:pointer;
}
.tbl_toggle tbody tr.first td {
border-top-width:0;
}
.tbl_toggle tbody tr.current_row td {
background-color:#E1EFF4;
border-bottom-width:0;
}
.tbl_toggle tbody tr.question_detail_row:hover td {
background-color:transparent;
}
.tbl_toggle tfoot td {
border-top:1px solid #AEBBCC;
font-weight:bold;
padding:8px 3px;
}

.line {
display:block;
float:left;
position:relative;
width:100%;
}

.line .twoCol_left_half {
margin-left:-100%;
width:48%;
}

line .twoCol_right_half {
margin-left:-48%;
width:48%;
}

.line .item {
float:left;
left:100%;
position:relative;
}

.line .item_answer span.answer_chosen {
background-color:#F7F198;
font-size:9px;
padding:1px 2px;
}

.line .item_answer span.answer_correct {
background-color:#8FD182;
font-size:9px;
margin-left:4px;
padding:1px 2px;
}
	
</style>
<script>
function reviewQuestion(questionId){
	//new Ajax.Updater('posts', '/exams/review_question', {asynchronous:true, evalScripts:true}); return false;
		
		var explanation = document.getElementById("explanation_"+questionId);
		if (explanation != null && typeof(explanation) != 'undefined') {
			// já expandido
			
			if (explanation.style.display == 'none') {
				Effect.SlideDown("explanation_"+questionId);
			}
			else {
				Effect.SlideUp("explanation_"+questionId);
			}
		}
		else {
		
			new Ajax.Request("<%= url_for :controller => :exams, :action => :review_question %>", {
				method: 'get',
				parameters: "?question_id=" + questionId,
				onLoading: function(){
				
				var loadingbar = "<tr><div id='explanation_"+ questionId + "'><div><td id='thebug_"+ questionId + "' colspan='5'> <img src='../../images/loadingAnimation.gif'/></td></div></div></tr>";
				
				Element.insert("question_"+questionId, {after: loadingbar});
				
				}/*,
				onComplete: function(request){
				
				
				}*/
			});
		}
}	
</script>

<div id="all_content4">
<div id="content_preview_exame">
	<div id="breadcrumbs_video"><a href="#">home</a> > <a href="#">aprender</a> > <a href="#">exames</a>  > <strong><%= session[:exam].name %></strong></div>   
   	<div id="title_video">Resultados para <%= @exam.name %></div>


<% total = @exam.questions.length %>
 Certas <%= @correct %> | Erradas <%= total - @correct %> | Total: <%= total %>
<BR><BR>

<table cellpadding="0" cellspacing="0" border="0" class="tbl_toggle">
      	<thead>
      		<tr>
				<th class="question_number">Questão</th>
				<th class="question_correctness">Correta?</th>
				<th class="question_user_answer">Sua Resposta</th>

				<th class="question_correct_answer">Resposta Certa</th>
				<!--
				<th class="question_type">Tipo de Questão</th>
				-->
				<th class="question_concept">Conceitos Fundamentais</th>
			</tr>
		</thead>
      	<tbody>

<% @exam.questions.each_with_index do |question, index | %>


		<% if index%2 == 0 %> 
			
				<% row_class = 'odd '%>
		<% else %>
			<% row_class = 'even '%>
		<% end %>
		
		  <tr class="<%=row_class%>" name="2892617" title="Mostrar explicação" onclick="reviewQuestion(<%= question.id %>);" id = "question_<%= question.id %>">
	
		
          <td class="question_number show_row"> <%= index + 1 %>	  </td>
          <td class="question_correctness show_row">
          
		  <% if session[:answers][question.id].to_i == question.answer.id %>
		  <%= image_tag 'tick.gif' %>
		  <% else %>
		  <%= image_tag 'cross.gif' %>
		  <% end %>
		  </td>
		  
          <td class="question_user_answer show_row">
          	 <% if  session[:answers][question.id] %>
			 letra!
			 <% else %>
			  Sem resposta
			 <% end %>
		  
		  </td>
          <td class="question_correct_answer show_row">	letra! </td>
          <td class="question_concept show_row">
				<a href="/sat/work/view_content/926" class="content_link" name="926">Categorias</a>
		  </td>
		</tr>
		
		<tr style="display:none;">
          <!-- if the quiz is test like AND the current user is an admin, there is a difficulty column and a time spent column so the colspan is 7. If the quiz is test like but the user is not an admin, there is no difficulty column so the colspan is 6. If the quiz is a skills assessment quiz, then there is no time elapsed column and so the colspan is 5 -->
          <td colspan="6"></td>
         </tr>

<% end %>
        
        </tbody>
		
		</table>






</div>

<!-- COMENTARIOS ############################################################################################################################# -->
<a name="comments"></a>
<%= render :partial => 'shared/comment', :locals => { :commentable => @exam } %>
<!-- COMENTARIOS ############################################################################################################################# -->
</div>
</div>

  
