<p>
  <b>Name:</b>
  <%=h @exam.name %> 
</p>

<p>
  <%=h @exam.questions.length %> questões
</p>

<p>
  Realizado <%=h @exam.done_count %> vezes
</p>

<p>
  Dificuldade: <%=h (@exam.level == 1) ? "Iniciante" : ((@exam.level == 2) ? "Intermediário" : "Avançado") %> 
</p>

<p>
  Média <%= (@exam.done_count == 0) ? 0 : (@exam.total_correct/@exam.done_count)/@exam.questions.length*1000.round/10 %> %
</p>

<p>
  <b>Author:</b>
  <%=h @exam.owner.login %>
</p>

<%= link_to 'Fazer prova', :action => :answer, :id => @exam, :first => true %> <Br> 
<hr>
<% if @exam.owner == current_user %>
<%= link_to 'Editar', edit_exam_path(@exam) %> |
<%= link_to 'Remover', @exam, :confirm => 'Are you sure?', :method => :delete %> |
<% end %> 
<%= link_to 'Voltar', exams_path %>
<BR><BR>

<%= render :partial => 'exams/comment' %>