<script type="text/javascript">
	function switchPublish(){
		
		var box = document.getElementById("publish_box");
		
		if (box.style.display == 'none') {
			Effect.SlideDown(box);
			//box.style.display = 'block';
			
		} else {
			Effect.SlideUp(box);
			//box.style.display = 'none';
		}
		
	}
	
	
</script>

<div id="all_content3">
<div id="col_content_video">
	<div id="breadcrumbs"><a href="<%=application_url%>">home</a> > <a href="#">aprender</a> > <a href="#">materiais</a> </div>
 	<div id="title">NOVO EXAME - PASSO 3
 	</div>

<div style="width: 100%; float: left;">

<% form_for :exam, @exam, :url => { :action => "create" } do |f| %>
<%= f.error_messages %>


<%= hidden_field_tag("step", "3", options = {})%>

<fieldset id="price_box">
	<legend>Visibilidade</legend>

<%= f.label "Público" %><br/>
	<%= f.check_box :public %><br/><br/>
	
	<%= link_to_function('Postar em Rede ' + image_tag('icons/bullet_arrow_down.png', :style => "border: 0"), 'switchPublish()')%>
	<br/>
	
	<div id="publish_box" style="display: none;">
	<div>
	<% @schools = current_user.schools %>
	<% @schools.each do | school | %>
		<%= radio_button_tag :post_to, school.id %> <%= school.name %><br/>
	<% end %>
	</div>
	</div>
</fieldset>	
<% if AppConfig.activate_payment %>	
<fieldset id="price_box">
	<legend>Preço</legend>
		R$<%= f.text_field :price, :style => "width: 35px", :maxlength => 5  %>
</fieldset>
<% end %>
	
<fieldset id="share_box_2">
	<legend>Compartilhar</legend>
	<%= render :partial => 'shared/share', :locals => {:title => @exam.name, :url => exam_url(@exam), :thumb_url => nil, :display => true} %>
		
		
</fieldset>

<%= link_to '< Anterior', new_exam_path(:step => '2', :exam_type => @exam_type), :class => "button" %> 
<%= f.submit 'Salvar' %> 
<%= link_to 'Cancelar', cancel_exams_path, :confirm => "Tem certeza que deseja sair do editor de aulas? Todas as informações serão perdidas." %>

<% end %>
</div>


</div>

	
	
</div>
