<div class="grid_16">
<div id="breadcrumbs">
		<% if @space %>
	<a href="<%=application_url%>">início</a> > <a href="#">redes</a> > <%= link_to @space.name, @space %> > novo exame
	<% else %>
	<a href="<%=application_url%>">início</a> > <a href="#">ensinar</a> > novo exame
	<%end %>
</div>

<%= render(:partial => "spaces/space_info", :locals=>{:show => false}) if @space%>	

<!--
<h3 class="call">Nova Aula - Publicação</h3>
-->
<div id="title_video">Novo Exame - Publicação</div>
</div>
<div class="grid_9 push_3">
<table class="booking_steps" cellpadding="0" cellspacing="0">
							<tbody><tr>
								<td><span class="book_step"><span><em>1</em>Informações Gerais</span></span></td>
								<td class="spacer">&nbsp;</td>
								<td><span class="book_step"><span><em>2</em>Editor de Exame</span></span></td>
								<td class="spacer">&nbsp;</td>
								<td><span class="book_step current"><span><em>3</em>Publicação</span></span></td>
							</tr>
						</tbody></table>
</div>


<div class="grid_8">
	
	<% form_for :exam, @exam, :url => { :action => "create" }, :html => {:id => "form_step_3"} do |f| %>

<%= f.error_messages %>
<%= hidden_field_tag("step", "3", options = {})%>
	<%= hidden_field_tag("post_to", @space.id) if @space %>

	<% unless @space %>

	<% field_set_tag 'Visibilidade' do %>
	<%= f.label "Pública <span class='snippet'>(Visível em todo o Redu)</span>" %>
		<%= f.check_box :public %>
		
		<% @spaces = current_user.spaces %>
		<% if @spaces and @spaces.size > 0 %>
		<%= f.label "Postar em:" %>
			<div style="overflow-y:scroll; max-height: 200px;">
			<% @spaces.each do | space | %>
				<div><%= radio_button_tag :post_to, space.id, false %> <%= space.name %></div>
			<% end %>
			</div>
		<% end %>
		<%end%>
	
	<%else%>
	 <%= f.hidden_field(:public, :value => 0)%>
	<% end %>
	
    <% if AppConfig.activate_payment %>
	    <% field_set_tag 'Preço' do %>
	        <%= f.label :price %>
	        <%= f.text_field :price %>
	    <% end %>
    <%end %>


	<% field_set_tag 'Compartilhe!' do %>
		<%= render :partial => 'shared/share', :locals => {:resource => @exam}%>
		<%end%>

</div>

<div class="grid_6 push_1">
											<div class="y_addinfo">
                                <div class="addinfocontent">
                                    <h1>
                                        Termos e Condições do Redu</h1>
                                    <p>
                                       Por favor não publique conteúdo que esteja protegido por direitos autoriais, conteúdo obceno ou que viole
																			 os <%= link_to "termos e condições", {:controller => "base", :action => "tos"}, :target => "_blank"%> do Redu.
                                    		
																			Ao clicar no botão abaixo você estará concordando com esses termos.</p>
																			
																			<p><span style="font-style: italic;">Uma vez publicado, as opções de publicação não poderão mais serem editadas.</span></p>
																			
																		<p class="large_btn"><a href="#" id="adm_showpay" style="color: #fff;" onclick="jQuery('#form_step_3').submit();">Publicar</a></p>
                                </div>
                            </div>
</div>

<div class="grid_16">
<%= link_to '< Anterior', new_exam_path(:step => '2', :exam_type => @exam_type), :class => "button", :disabled => true %> 
<%# f.submit 'Salvar' %> ou
<%= link_to 'Cancelar', cancel_exams_path, :confirm => "Tem certeza que deseja sair do editor de aulas? Todas as informações serão perdidas." %>
</div>

<% end %>

</div>
</div>
