<% plan = Plan.from_preset(plan_preset, type ||= "PackagePlan") %>
<li class="plans <%= actual_plan.name == plan.name ? "your-plan" : "" %>">
  <div class="plan">
    <%= content_tag(:span, plan.name, :class => "name") %>
    <% if actual_plan.name == plan.name %>
      <h2 class= "actual-plan">Plano atual</h2>
    <% else %>
      <% if actual_plan.billable.is_a? Environment %>
        <%= link_to "Assinar", environment_plans_path(actual_plan.billable, :new_plan => plan_preset, :type => type), :method => :post, :class => "concave-important concave-important-p" %>
      <% elsif actual_plan.billable.is_a? Course %>
        <%= link_to "Assinar", environment_course_plans_path(actual_plan.billable.environment, actual_plan.billable, :new_plan => plan_preset, :type => type), :method => :post, :class => "concave-important concave-important-p" %>
      <% end %>
    <% end %>
    <% if plan.members_limit == 1.0/0 # Infinity %>
      <span class="price"><%= number_to_currency plan.price %><span class="a-month">/licença</span></span>
    <% else %>
      <span class="price"><%= number_to_currency plan.price %><span class="a-month">/mês</span></span>
      <%= content_tag(:span, pluralize(plan.members_limit, "membro"), :class => "plan-limit") %>
    <% end %>
    <%= content_tag(:span, "#{number_to_human_size(plan.file_storage_limit, :precision => 0)} de armazenamento de documentos", :class => "plan-limit") %>
    <%= content_tag(:span, "#{number_to_human_size(plan.video_storage_limit, :precision => 0)} de armazenamento de vídeos", :class => "plan-limit") %>
  </span>
</div>
</li>
