<tr class="link-container">
  <td>
    <% if item.billable %>
      <% if item.billable.is_a? Environment %>
        <%= content_tag(:p, item.billable.name, :class => "plans-name") %>
      <% else %>
        <%= content_tag(:span, item.billable.environment.name, :class => "plans-name") %>
        <%= content_tag(:p, item.billable.name, :class => "legend") %>
      <% end %>
    <% else %>
      <span class="plans-name"><%= item.billable_audit.try(:[], "name") || "Sem informações" %> (removido)</span>
    <% end %>
  </td>
  <td>
    <%= link_to item.name, plan_invoices_path(item), :class => "#{plan_payment_status(item)} link-target" %>
    <% if item.pending_payment? %>
      <% if item.invoice.overdue? %>
        <p class="legend">Fatura em aberto, plano bloqueado</p>
      <% else %>
        <%= content_tag(:p, "Fatura em aberto. #{item.invoice.threshold_date - Date.today} dias restantes.", :class => "legend") %>
      <% end %>
    <% else %>
      <p class="legend">Sem pendências</p>
    <% end %>
  </td>
</tr>
