<% plan = Plan.from_preset(plan_preset, type ||= "PackagePlan") %>
<li class="plans <%= actual_plan.name == plan.name ? "your-plan" : "" %>">
  <div class="list-mix-item">
    <div class="list-mix-inner">
      <div class="list-mix-header">
        <%= content_tag(:span, plan.name, :class => "plan-name") %>
        <% if actual_plan.name == plan.name %>
          <span class= "legend plan-status">Seu plano atual</span>
        <% else %>
          <% if actual_plan.billable.is_a? Environment %>
            <%= link_to "Assinar", environment_plans_path(actual_plan.billable, :new_plan => plan_preset, :type => type), :method => :post, :class => "button-success pull-right" %>
          <% elsif actual_plan.billable.is_a? Course %>
            <%= link_to "Assinar", environment_course_plans_path(actual_plan.billable.environment, actual_plan.billable, :new_plan => plan_preset, :type => type), :method => :post, :class => "button-success pull-right" %>
          <% end %>
        <% end %>
      </div>
      <ul class="quotas">
        <% if plan.members_limit == 1.0/0 # Infinity %>
          <h5 class="pull-right plan-price"><%= number_to_currency plan.price %></h5>
          <span class="plan-period">/licença</span>
        <% else %>
          <h5 class="pull-right plan-price"><%= number_to_currency plan.price %></h5>
          <span class="plan-period">/mês</span>
          <li>
            <%= content_tag(:span, "Membros:", :class => "icon-members-gray_16_18-before") %>
            <%= content_tag(:span, "#{plan.members_limit}", :class => "plan-quota") %>
          </li>
        <% end %>
        <li>
          <%= content_tag(:span, "Documentos:", :class => "icon-file-gray_16_18-before") %>
          <%= content_tag(:span, number_to_human_size(plan.file_storage_limit, :precision => 0), :class => "plan-quota") %>
        </li>
        <li>
          <%= content_tag(:span, "Vídeos: ", :class => "icon-video-gray_16_18-before") %>
          <%= content_tag(:span, number_to_human_size(plan.video_storage_limit, :precision => 0), :class => "plan-quota") %>
        </li>
      </ul>
    </div>
  </div>
</li>
