<%= render :partial => 'users/home_sidebar' %>
<div class="main grid_10" style="width: 580px;">
  <%= render :partial => 'users/breadcrumbs' %>
  <%= tabs :users, :class => "plan-panel" do %>
      <table class="concave-admin-table">
        <thead>
          <tr class="label-course">
            <th class="name-course">Curso:</th>
            <th class="category">Categoria/Plano:</th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => 'plans/item', :collection => @plans %>
        </tbody>
      </table>
  <% end %>
</div>
<%= render "invoices/explanation_sidebar", :more_infos => raw("<p>Para saber todas as informações relativas às datas de fatura, especificações dos planos e o seu estado de uso atual, clique no nome do plano relativo a um curso.</p>") %>

