<div class="span3">
  <%= render :partial => "users/left_sidebar",
    :locals => { :user => @user } %>
</div>
<div class="span10">
  <div class="content-area">
    <%= render :partial => "users/breadcrumb_configurations",
      :locals => { :user => @user } %>
    <div class="content-body">
      <div class="content-section">
        <%# Cabeçalho %>
        <ul class="header-breadcrumb">
          <li class="header-breadcrumb-item">
            <%= link_to "Configurações", edit_user_path(@user),
              :class => "header-bradcrumb-link icon-manage-gray_32_34-before",
              :title => "Configurações" %>
          </li>
          <li class="header-breadcrumb-item">
            <%= link_to "Planos", user_plans_path(@user),
              :class => "header-bradcrumb-link",
              :title => "Planos" %>
          </li>
          <li class="header-breadcrumb-item">
            <%= link_to "Detalhes", plan_invoices_path(@plan),
              :class => "header-bradcrumb-link",
              :title => "Detalhes de Plano" %>
          </li>
          <li class="header-breadcrumb-item">
            <%= link_to "Upgrade", options_plan_path(@plan),
              :class => "header-bradcrumb-link",
              :title => "Upgrade" %>
          </li>
        </ul>
      </div>
      <%# Abas e sub-abas %>
      <%= new_tabs(:new_users) %>
      <div class="content-section">
        <%= render :partial => "plans/plans_title" %>
        <h5 class="plans-title teacher">Planos para Professor</h5>
        <ul class="list-mix plan-details">
          <% if @plan.name == Plan.from_preset(:free).name %>
            <%= render :partial => "plans/item_medium",
              :locals => { :plan_preset => :free, :actual_plan => @plan } %>
          <% end %>
          <%= render :partial => "plans/item_medium",
            :locals => { :plan_preset => :professor_lite, :actual_plan => @plan } %>
          <%= render :partial => "plans/item_medium",
            :locals => { :plan_preset => :professor_standard, :actual_plan => @plan } %>
          <%= render :partial => "plans/item_medium",
            :locals => { :plan_preset => :professor_plus, :actual_plan => @plan } %>
        </ul>
      </div>
      <hr class="list-separator">
      <div class="content-section">
        <h5 class="plans-title">Planos para Instituição de Ensino ou Empresa</h5>
        <span class="legend">Você é uma Instituição de Ensino ou Empresa? Entre em contato com a nossa parceira CNS e explique as suas necessidades.</span>
        <%= render :partial => "partners/partner_contacts/new",
          :locals => { :environment => nil, :migration => true, :billable_url => @billable_url } %>
      </div>
      <div class="content-section clearfix">
        <%= link_to "< voltar para detalhes do plano atual", plan_invoices_path(@plan), :class => "legend pull-right" %>
      </div>
    </div>
    <%= render :partial => "users/breadcrumb_configurations",
      :locals => { :user => @user } %>
  </div>
</div>
<div class="span3">
  <%= render :partial => "plans/explanation_sidebar",
    :locals => { :user => @user } %>
</div>
