<div class="span3">
  <%= render "users/left_sidebar", user: @user %>
</div>
<div class="span10">
  <div class="content-area">
    <div class="content-body">
      <div class="content-section">
        <%# Cabeçalho %>
        <%= render "bootstrap/header_breadcrumb", header_breadcrumb_items: [
          { name: "Configurações", link: edit_user_path(@user), classes: "icon-manage-gray_32_34-before" },
          { name: "Planos", link: user_plans_path(@user) },
          { name: "Detalhes", link: plan_invoices_path(@plan) },
          { name: "Upgrade", link: options_plan_path(@plan) } ] %>
      </div>
      <%# Abas e sub-abas %>
      <%= new_tabs(:new_users) %>
      <div class="content-section">
        <%= render "plans/plans_title", plan: @plan %>
        <h5 class="plans-title teacher">Planos para Professor</h5>
        <ul class="list-mix plan-details">
          <% if @plan.name == Plan.from_preset(:free).name %>
            <%= render "plans/item_medium", plan_preset: :free,
              actual_plan: @plan %>
          <% end %>
          <%= render "plans/item_medium", plan_preset: :professor_lite,
            actual_plan: @plan %>
          <%= render "plans/item_medium", plan_preset: :professor_standard,
            actual_plan: @plan %>
          <%= render "plans/item_medium", plan_preset: :professor_plus,
            actual_plan: @plan %>
        </ul>
      </div>
      <hr class="list-separator">
      <div class="content-section clearfix">
        <%= link_to "< voltar para detalhes do plano atual", plan_invoices_path(@plan), class: "legend pull-right" %>
      </div>
    </div>
    <%= render "users/breadcrumb_configurations", user: @user %>
  </div>
</div>
<div class="span3">
  <%= render "plans/explanation_sidebar" %>
</div>
