<h1>Editando Sugestão</h1>

<% form_for(@suggestion) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title, "Título" %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :message, "Texto" %><br />
    <%= f.text_area :message %>
  </p>
  
  <p>
    <%= f.submit 'Atualizar' %>
  </p>
<% end %>

<%= link_to 'Exibir', @suggestion %> |
<%= link_to 'Voltar', suggestions_path %>