<div id="all_content3">
    <div id="pagination" align="left">
        <fieldset>
        	<legend><h1>Sugestões</h1></legend>
        <h2>Deixe sua opinião para que possamos melhorar cada vez mais o Redu</h2>
		</fieldset>
        <%= render :partial => "new_suggestion", :locals => {:suggestion => Suggestion.new} %>
        <div id="price_box">
            <fieldset>
            	<legend><h3>Lista de Sugestões</h3></legend>
            <br>
            <% @suggestions.each do |suggestion| %>
            <h4><%=h suggestion.title %></h4><br>
            <p>
                <%=h suggestion.message %>
            </p><br><br>
            <% form_for(suggestion) do |f| %>
            <%= f.error_messages %>
            &nbsp <%= f.submit 'Sim', :url => {:action => "update", :controller => "suggestions"} %>&nbsp &nbsp &nbsp <%= f.submit 'Não', :url => { :action => "update", :controller => "suggestions" } %>
            <br>
            &nbsp &nbsp &nbsp <%= suggestion.yes %> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <%= suggestion.no %>
            <% end %>
            <br>
            <br>
			<!-- TODO só quem pode excluir é o admin do redu -->
			<% if current_user.role_id == 1 %>
			<%= link_to "Exluir",  {:action => "destroy", id => @suggestion}, :confirm => "Tem certeza?", :method => "delete" %>
			<%else%>
			nao admin
			
			<%end%>
            <% end %>
            <br/>
			</fieldset>
            <%= will_paginate  @suggestions, :params => {:sort_by => @sort_by}, :class => "pagination_number" %>
        </div>
    </div>
</div>
