<%= stylesheet_link_tag :print, :media => 'print' %>
<div id="partner-invoice-index">
  <%= render 'invoices/report_header' %>

  <%= render 'invoices/client', :client => @partner, :period => @reference_period %>

  <%= render :partial => 'invoices/billable_details', :collection => @partner.partner_environment_associations, :as => :partner_environment_association, :locals => { :invoices => @invoices } %>

  <span class="total-partner">
    Total final: <strong><%= number_to_currency total_amount_of(@invoices) %></strong>
  </span>
</div>
