<%= render :partial => 'users/home_sidebar' %>
<div class="main grid_10" id="partner" style="width: 580px;">
  <%= render :partial => 'partners/breadcrumbs', :locals => { :partner => @partner} %>
  <%= render 'partners/header', :partner => @partner, :title => "Faturas" %>
  <%= subtabs :partners do %>
    <div id="invoice-index">
      <ol class="invoices">
        <% dates_of(@invoices).keys.each do |date| %>
          <li><%= link_to (l date, :format => :month_year), partner_invoices_path(@partner, :year => date.year, :month => date.month) %></li>
        <% end %>
      </ol>
   </div>
  <% end %>
</div>
