<div class="span3">
  <%= render :partial => "users/left_sidebar",
    :locals => { :user => @user } %>
</div>
<div class="span10">
  <div class="content-area">
    <%= render :partial => "oauth_clients/breadcrumb", :locals => { :user => @user } %>
    <div class="content-body">
      <%= render :partial => 'oauth_clients/header_breadcrumb', :locals => { :user => @user } %>

      <div class="content-section">
        <%= new_tabs(:new_users) %>
        <% if @client_applications.empty? %>
        <% else %>
          <table class="table-with-borderradius table-with-link my-apps-list">
            <thead>
              <tr>
                <th width="45%">Nome</th>
                <th width="45%">URL Principal</th>
                <th width="30%">Gerenciamento</th>
              </tr>
            </thead>
            <tbody>
              <% @client_applications.each do |client|%>
                <tr class="link-container">
                  <td>
                    <%= link_to client.name, user_oauth_client_path(@user, client) %>
                  </td>
                  <td><%= client.url %></td>
                  <td><span><%= link_to 'Editar', edit_user_oauth_client_path(@user, client) %></span> <span><%= link_to 'Excluir', user_oauth_client_path(@user, client), :confirm => "Você tem certeza?", :method => :delete, :class => "icon-close-gray_8_10 replacement close" %></span></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
    <%= render :partial => "oauth_clients/breadcrumb", :locals => { :user => @user } %>
  </div>
</div>
<div class="span3">
  <%= render :partial => "users/right_sidebar",
    :locals => { :user => @user } %>
</div>
