<div class="span3">
  <%= render :partial => "users/left_sidebar",
    :locals => { :user => @user } %>
</div>
<div class="span10">
  <div class="content-area">
    <%= render :partial => "oauth_clients/breadcrumb", :locals => { :user => @user } %>
    <div class="content-body">
      <div class="content-section">
        <ul class="header-breadcrumb">
          <li class="header-breadcrumb-item">
            <%= link_to "Aplicativos", user_oauth_clients_path(@user),
              :class => "header-bradcrumb-link icon-apps-gray_32_34-before", :title => "Seus aplicativos" %>
          </li>
          <li class="header-breadcrumb-item">
            <%= link_to "Meus Aplicativos", user_oauth_client_path(@user), :class => "header-bradcrumb-link", :title => "Meus Aplicativos" %>
          </li>
        </ul>
      </div>

      <%= new_tabs(:new_users) %>
      <div class="content-section my-app">
        <h3 class="my-app-name"><%=@client_application.name %></h3>
        <p>Para realizar a autenticação utilizamos o protocolo <%= link_to "OAuth 2.0", "http://oauth.net/2/" %>. Para mais informações visite nosso <%= link_to "guia de desenvolvedores", "http://developers.redu.com.br" %>.</p>

        <ul class="my-app-infos">
          <li>
            <span>Chave do <em>consumer</em>:</span>
            <code><%=@client_application.key %></code>
          </li>
          <li>
            <span>Segredo do <em>consumer</em>:</span>
            <code><%=@client_application.secret %></code>
          </li>
          <li>
            <span>URL de autorização:</span>
            <code>http<%='s' if request.ssl? %>://<%= request.host_with_port %><%=@client_application.oauth_server.authorize_path %></code>
          </li>
          <li>
            <span>URL do token:</span>
            <code><%= token_url %></code>
          </li>
        </ul>
        <div class="my-app-actions">
          <%= link_to 'Remover', user_oauth_client_path(@user, @client_application), :confirm => "Você tem certeza?", :method => :delete, :class => "button-danger" %>
          <%= link_to 'Editar', edit_user_oauth_client_path(@user, @client_application), :class => 'button-primary' %>
        </div>
      </div>
    </div>
    <%= render :partial => "oauth_clients/breadcrumb", :locals => { :user => @user } %>
  </div>
</div>
<div class="span3">
  <%= render :partial => "users/right_sidebar",
    :locals => { :user => @user } %>
</div>
