<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title><%= page_title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'reset.css'	%>
    <%= stylesheet_link_tag '960.css'	%>    
    <%= stylesheet_link_tag "jquery-ui-1.8.7.custom.css" %>
    <%= stylesheet_link_tag "tipTip.css" %>
    <%= stylesheet_link_tag 'style.css'	%>  <!-- ver scripts_and_styles -->
    <%= javascript_include_tag :defaults  %> <!-- ja adiciona o jquery -->
    <%= render :partial => "shared/new/scripts_and_styles", :locals => {:controller_name => @controller.params[:controller], :action_name => @controller.params[:action]} %>
    <%= javascript_include_tag 'common' %>

    <% if @rss_title && @rss_url %>
      <%= auto_discovery_link_tag(:rss, @rss_url, {:title => @rss_title}) %>
    <% end %>
</head>
<body>
<% if @content_for_body.nil? %>
<%= render :partial => 'shared/new/header' %>

<div id="<%= yield :page_id %>" class="container_16 content clearfix">
<%= render :partial => "shared/messages" %>
<%= @content_for_layout %>

</div><!-- end content -->
<%= render :partial => 'shared/new/footer' %>
<% else %>
  <%= yield :body %>
<% end %>
<%= yield :js %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-13202852-1']);
  _gaq.push(['_setDomainName', '.redu.com.br']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>

