<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" class="no-js">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title><%= raw(page_title) %></title>
    <%= csrf_meta_tag %>
    <%= include_stylesheets :common %>
    <!--[if (gte IE 6)&(lte IE 8)]>
      <%= stylesheet_link_tag 'ie' %>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css' />
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js' %>
    <%= include_javascripts :common %>
    <!--[if (gte IE 6)&(lte IE 8)]>
      <%= include_javascripts :ie %>
    <![endif]-->
    <%= yield :header_scripts_and_styles %>

    <script type="text/javascript" charset="utf-8">
    //<![CDATA[
      var chat;
    //]]>
    </script>
    <%= lazy_load(:chat, :type => :css, :jammit => true, :clear => false)  %>
    <%= lazy_load(:chat, :jammit => true, :clear => false) do %>
      chat = buildChat({ key : "<%= Redu::Application.config.pusher[:key] %>"
      , channel : "<%= current_user.presence_channel %>"
      , endPoint : "<%= presence_auth_path %>"
      , owner_id : "<%= current_user.id %>"
      , layout : "<%= escape_javascript(render :partial => "presence/chat_list") %>"
      , windowPartial : "<%= escape_javascript(render :partial => "presence/chat_window") %>"
      , presencePartial : "<%= escape_javascript(render :partial => "presence/chat_presence") %>"
      , messagePartial : "<%= escape_javascript(render :partial => "presence/chat_message") %>" });

      chat.init();
      chat.subscribeMyChannel();
    <% end %>

    <%= lazy_load(:real_tabs, :jammit => true, :clear => true) %>
    <%= lazy_load(javascript_path("ckeditor/ckeditor.js"), :jammit => false, :clear => false) %>
  </head>
   <body>
    <div id="header" class="container_16">
      <h1 id="logotipo" class="grid_3 replacement">
        <a href="<%= application_url %>" title="Página Inicial">Redu: potencializando o talento das pessoas.</a>
      </h1>
      <ul class="nav grid_10">
          <% if current_user %>
        <li>
            <%= link_to 'Início', home_user_path(current_user) %>
        </li>
        <li>
            <%= link_to "Aprenda", user_path(current_user) %>
        </li>
        <% else %>
        <li>
            <%= link_to 'Início', application_path %>
        </li>
        <li>
            <%= link_to "Aprenda", new_user_path %>
        </li>
        <% end %>
        <li>
          <%= link_to "Ensine", teach_index_path %>
        </li>
        <li>
          <%= link_to "Cursos", courses_index_path %>
        </li>
      </ul>

      <%= render :partial => 'shared/nav_account' %>

      <div id="search-box" class="grid_3">
      </div><!-- end #search -->
    </div><!-- end #header -->

    <%= render :partial => 'shared/flash_message' %>

    <div id="content" class="container_16 clearfix">
      <%= yield :layout %>
    </div><!-- end #content -->

    <div id="footer" class="container_16 clearfix">
      <h1 id="logotipo-footer" class="replacement">
        <%= link_to 'Redu: potencializando o talento das pessoas.',
          :title => 'Página Inicial' %>
      </h1>
      <div class="copyright">Copyright 2010 - redu.com.br. Todos os direitos reservados.</div>

      <div id="nav-footer">
        <ul>
          <li>
            <a href="#">Sobre o Redu</a>
          </li>
          <li>
            <%= link_to "Privacidade", :controller => "base", :action => "privacy" %>
          </li>
          <li>
            <%= link_to "Termos de uso", :controller => "base", :action => "tos" %>
          </li>
          <li>
            <%= link_to "Contato", :controller => "base", :action => "contact" %>
          </li>
        </ul>
      </div><!-- end #nav-footer -->
    </div><!-- end #footer -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-13202852-1']);
      _gaq.push(['_setDomainName', '.redu.com.br']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <%= yield :footer_scripts_and_styles %>
  </body>
</html>
