<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" class="no-js">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <%= content_tag :title, raw(page_title) %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag :application %>
    <!--[if (gte IE 6)&(lte IE 9)]>
      <%= stylesheet_link_tag :ie %>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css' />
    <%= javascript_include_tag :application %>
    <!--[if (gte IE 6)&(lte IE 8)]>
      <%= javascript_include_tag :ie %>
    <![endif]-->
    <%= yield :header_scripts_and_styles %>
    <%= render "shared/analytics" %>
  </head>
   <body>
      <div id="pjax-container">
        <div class="main-wrapper-old">
          <%= render 'shared/outdated_browser' %>
          <%= render 'shared/header' %>
          <%= render 'shared/flash_message' %>

          <div id="content" class="container_16 clearfix">
           <%= yield :layout %>
          </div>

          <%= render "shared/footer_old" %>
          <%= yield :footer_scripts_and_styles %>
        </div>
      </div>
  </body>
</html>
