<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" class="no-js">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title><%= raw(page_title) %></title>
    <%= csrf_meta_tag %>
    <%= include_stylesheets :common %>
    <!--[if (gte IE 6)&(lte IE 9)]>
      <%= include_stylesheets 'ie', :embed_assets => false %>
    <![endif]-->
    <!--[if (gte IE 6)&(lte IE 8)]>
      <%= include_stylesheets 'ie8', :embed_assets => false %>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css' />
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' %>
    <%= include_javascripts :common %>
    <!--[if (gte IE 6)&(lte IE 8)]>
      <%= include_javascripts :ie %>
    <![endif]-->
    <%= yield :header_scripts_and_styles %>

    <% if current_user %>
      <script type="text/javascript" charset="utf-8">
        //<![CDATA[
        var chat;
        //]]>
      </script>
      <%= lazy_load(:chat, :type => :css, :jammit => true, :clear => false) %>
      <%= lazy_load(:chat, :jammit => true, :clear => false) do %>
      chat = buildChat({ key : "<%= Redu::Application.config.pusher[:key] %>"
      , channel : "<%= current_user.presence_channel %>"
      , endPoint : "<%= presence_auth_path %>"
      , owner_id : "<%= current_user.id %>"
      , layout : "<%= escape_javascript(render :partial => "presence/chat_list") %>"
      , windowPartial : "<%= escape_javascript(render :partial => "presence/chat_window") %>"
      , presencePartial : "<%= escape_javascript(render :partial => "presence/chat_presence") %>"
      , messagePartial : "<%= escape_javascript(render :partial => "presence/chat_message") %>" });

      chat.init();
      chat.subscribeMyChannel();
    <% end %>
  <% end %>

  <script type="text/javascript" language="javascript" charset="utf-8">
  //<![CDATA[
    <% asset_host =  Redu::Application.config.action_controller.asset_host || "" %>
    var CKEDITOR_BASEPATH = "<%=  "#{asset_host}/javascripts/ckeditor/" %>";
  //]]>
  </script>
  <%= include_javascripts :ckeditor %>
  <%= render :partial => "shared/typekit" %>
  <%= render :partial => "shared/analytics" %>
  </head>
   <body>
     <div id="pjax-container">
       <%= render :partial => 'shared/outdated_browser' %>
       <%= render :partial => 'shared/header' %>
       <%= render :partial => 'shared/flash_message' %>

       <div id="content" class="container_16 clearfix">
         <%= yield :layout %>
       </div><!-- end #content -->

       <%= render :partial => "shared/footer_old" %>
       <%= yield :footer_scripts_and_styles %>
       <%= render :partial => "shared/olark" %>
     </div>
  </body>
</html>
