<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" class="no-js">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title><%= raw(page_title) %></title>
    <%= csrf_meta_tag %>
    <%= include_stylesheets :common %>
    <!--[if (gte IE 6)&(lte IE 8)]>
      <%= stylesheet_link_tag 'ie' %>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css' />
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js' %>
    <%= include_javascripts :common %>
    <!--[if (gte IE 6)&(lte IE 8)]>
      <%= include_javascripts :ie %>
    <![endif]-->
    <%= yield :header_scripts_and_styles %>
  </head>
  <body>
    <%= render :partial => 'shared/flash_message' %>
    <%= yield %>
    <div id="footer" class="container_16 clearfix">
      <h1 id="logotipo-footer" class="replacement">
        <%= link_to 'Redu: potencializando o talento das pessoas.',
          :title => 'Página Inicial' %>
      </h1>
      <div class="copyright">Copyright 2010 - redu.com.br. Todos os direitos reservados.</div>

      <div id="nav-footer">
        <ul>
          <li>
            <a href="#">Sobre o Redu</a>
          </li>
          <li>
            <%= link_to "Privacidade", :controller => "base", :action => "privacy" %>
          </li>
          <li>
            <%= link_to "Termos de uso", :controller => "base", :action => "tos" %>
          </li>
          <li>
            <%= link_to "Contato", :controller => "base", :action => "contact" %>
          </li>
        </ul>
      </div><!-- end #nav-footer -->
    </div><!-- end #footer -->
     <%= yield :footer_scripts_and_styles %>
   </body>
 </html>
