<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" class="no-js">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title><%= raw(page_title) %></title>
    <%= csrf_meta_tag %>
    <%= include_stylesheets :landing %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js' %>
    <%= include_javascripts :landing %>

    <%= lazy_load("http://use.typekit.com/lpo4rgu.js", :jammit => false) do %>
      try{
        Typekit.load();
      }catch(e){}
    <% end %>
    <%= yield :header_scripts_and_styles %>
  </head>
  <body>
    <%= render :partial => 'shared/flash_message' %>
    <%= yield %>
    <div class="footer">
      <div class="container_16">
        <h1 class="logo-2"><a href="http://www.redu.com.br"></a></h1>
             <p class="footer-text">Somos uma pequena startup brasileira, recifense e estamos incubados pelo Porto Digital. Nossa equipe é composta por pessoas dedicadas e comprometidas com um objetivo em comum: desenvolver produtos que façam a diferença para uma educação mais acessível e universal.</p>
             <address class="our-address">Rua do Apolo, 181 Cais do Apolo, Recife Brasil CNPJ: 12.359.885/0001-07</address>
        <ul class="about-redu">
          <li class="list"><%= link_to "Página Inicial", application_path %></li>
          <li class="list"><a href="http://blog.redu.com.br/">Visite nosso Blog</a></li>
        </ul>
        <ul class="politics-terms">
          <li class="list"><%= link_to "Política de Privacidade", privacy_path %></li>
          <li class="list"><%= link_to "Termos de Uso", tos_path %></li>
          <li class="list"><%= link_to "Fale conosco", contact_path %></li>
        </ul>
      </div>
    </div>
     <%= yield :footer_scripts_and_styles %>
   </body>
 </html>
