<!doctype html>
<!--[if IE 8]><html class="ie8" lang="pt-br"><![endif]-->
<!--[if gt IE 8]><html class="gt-ie8" lang="pt-br"><![endif]-->
<!--[if gt IE 8]><!--><html lang="pt-br"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title><%= raw(page_title) %></title>
    <%= csrf_meta_tag %>
    <%= include_stylesheets :landing %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
      <%= include_javascripts :ie %>
    <![endif]-->
    <%= include_javascripts :landing %>
    <script src="http://use.typekit.com/lpo4rgu.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <%= render :partial => "shared/analytics" %>
  </head>
  <body>
    <%= render :partial => 'shared/outdated_browser' %>
    <div class="nav-global-inner">
      <div class="nav-global-container">
        <a class="nav-global-brand logo-redu-gray_140_40" href="http://developers.redu.com.br/ui-components" title="Redu">Redu</a>
        <div class="nav-global-buttons">
          <a class="nav-global-button nav-global-button-active" href="#" title="Início">Início</a>
          <a class="nav-global-button" href="#" title="Ambientes">Ambientes</a>
        </div>
        <div class="nav-global-buttons-dropdown button-toolbar">
          <div class="button-group">
            <span class="nav-global-notices-unread label-notify-me">5</span>
            <button class="nav-global-button-dropdown button-default dropdown-toggle icon-notification-lightblue_16_18-before" data-toggle="dropdown">
              <span class="button-dropdown-arrow icon-arrow-down-lightblue_8_10"></span>
            </button>
            <div class="nav-global-notify-dropdown dropdown-menu">
              <div class="arrow"></div>
              <div class="nav-global-notify-header">
                <span class="pull-left">Notificações: 3</span>
                <span class="pull-right">Convites: 2</span>
              </div>
              <ul class="nav-global-notify-notices">
                <li class="nav-global-notify-notice">
                  <span class="nav-global-notify-notice-unread label-notify-me"></span>
                  <a href="#" title="Nome Sobrenome" class="nav-global-notify-notice-thumbnail">
                    <img src="docs/assets/img/thumbnail-missing-profile-32.png" alt="Nome Sobrenome" title="Nome Sobrenome">
                  </a>
                  <div class="nav-global-notify-notice-content">
                    <p><a href="#" title="Nome Sobrenome" class="link-name">Nome Sobrenome</a> quer se conectar a você.</p>
                    <span class="nav-global-notify-notice-timestamp">7 Jan, 2011, 16h25</span>
                    <span class="nav-global-notify-notice-actions"><a href="#" title="Recusar">Recusar</a> ou <a href="#" title="Aceitar">Aceitar</a></span>
                  </div>
                </li>
                <li class="nav-global-notify-notice">
                  <span class="nav-global-notify-notice-unread label-notify-me"></span>
                  <a href="#" title="Nome Sobrenome" class="nav-global-notify-notice-thumbnail">
                    <img src="docs/assets/img/thumbnail-missing-profile-32.png" alt="Nome Sobrenome" title="Nome Sobrenome">
                  </a>
                  <div class="nav-global-notify-notice-content">
                    <p><a class="link-name" href="#" title="Nome Sobrenome">Nome Sobrenome</a> publicou o módulo <a href="#" title="Lorem Ipsum Sit Dolor">Lorem Ipsum Sit Dolor</a> na disciplina <a href="#" title="Consectetur Amet">Consectetur Amet</a>.</p>
                    <span class="nav-global-notify-notice-timestamp">7 Jan, 2011, 16h25</span>
                  </div>
                </li>
                <li class="nav-global-notify-notice">
                  <span class="nav-global-notify-notice-unread label-notify-me"></span>
                  <a href="#" title="Nome Sobrenome" class="nav-global-notify-notice-thumbnail">
                    <img src="docs/assets/img/thumbnail-missing-profile-32.png" alt="Nome Sobrenome" title="Nome Sobrenome">
                  </a>
                  <div class="nav-global-notify-notice-content">
                    <p><a class="link-name" href="#" title="Nome Sobrenome">Nome Sobrenome</a> respondeu ao seu comentário no <a href="#" title="Seu mural">seu mural</a>.</p>
                    <span class="nav-global-notify-notice-timestamp">7 Jan, 2011, 16h25</span>
                  </div>
                </li>
                <li class="nav-global-notify-notice">
                  <span class="nav-global-notify-notice-unread label-notify-me"></span>
                  <a class="nav-global-notify-notice-thumbnail" href="#" title="Curso Lorem Ipsum">
                    <img src="docs/assets/img/thumbnail-missing-environment-32.png" alt="Curso Lorem Ipsum" title="Curso Lorem Ipsum">
                  </a>
                  <div class="nav-global-notify-notice-content">
                    <p><a class="link-name" href="#" title="Nome Sobrenome">Nome Sobrenome</a> lhe convida a participar do curso <a href="#" title="Curso Lorem Ipsum">Curso Lorem Ipsum</a>.</p>
                    <span class="nav-global-notify-notice-timestamp">7 Jan, 2011, 16h25</span>
                    <span class="nav-global-notify-notice-actions"><a href="#" title="Recusar">Recusar</a> ou <a href="#" title="Aceitar">Aceitar</a></span>
                  </div>
                </li>
                <li class="nav-global-notify-notice">
                  <span class="nav-global-notify-notice-unread label-notify-me"></span>
                  <a href="#" title="Nome Sobrenome" class="nav-global-notify-notice-thumbnail">
                    <img src="docs/assets/img/thumbnail-missing-profile-32.png" alt="Nome Sobrenome" title="Nome Sobrenome">
                  </a>
                  <div class="nav-global-notify-notice-content">
                    <p><a class="link-name" href="#" title="Nome Sobrenome">Nome Sobrenome</a> respondeu ao seu comentário no <a href="#" title="Mural">mural</a> da disciplina <a href="#" title="Consectetur Amet">Consectetur Amet</a>.</p>
                    <span class="nav-global-notify-notice-timestamp">7 Jan, 2011, 16h25</span>
                  </div>
                </li>
              </ul>
              <div class="nav-global-notify-footer">
                <a href="#" class="button-default" title="Mostrar todas as atualizações">Mostrar todas as atualizações</a>
              </div>
            </div>
          </div>
          <div class="button-group">
            <button class="button-default nav-global-button-dropdown dropdown-toggle icon-profile-2-lightblue_16_18-before" data-toggle="dropdown">
              <span class="button-dropdown-arrow icon-arrow-down-lightblue_8_10"></span>
            </button>
            <div class="dropdown-menu nav-global-profile-dropdown">
              <div class="arrow"></div>
              <div class="nav-global-profile-header">
                Nome Sobrenome
              </div>
              <ul class="nav-global-profile-items">
                <li class="nav-global-profile-item link-container">
                  <a href="#" title="Meu Perfil" class="link-target icon-profile-lightblue_16_18-before">Meu Perfil</a>
                  <a href="#" title="Editar" class="nav-global-profile-edit link-secondary">editar</a>
                </li>
                <li class="nav-global-profile-item link-container">
                  <a href="#" title="Mensagens" class="link-target icon-message-lightblue_16_18-before">Mensagens (5)</a>
                </li>
                <li class="nav-global-profile-item link-container">
                  <a href="#" title="Configurações" class="link-target icon-manage-lightblue_16_18-before">Configurações</a>
                </li>
                <li class="nav-global-profile-item link-container">
                  <a href="#" title="Parceiro" class="link-target icon-partner-lightblue_16_18-before">Parceiro</a>
                </li>
                <li class="nav-global-profile-item link-container">
                  <a href="#" title="Sair" class="link-target">Sair</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="landing-wrapper">
      <%= render :partial => "landing/header" %>
      <%= render :partial => "landing/welcome" %>
      <%= yield %>
      <div class="landing-pusher"></div>
    </div>
    <%= render :partial => "landing/footer" %>
  </body>
</html>
