<!doctype html>
<!--[if gt IE 8]><html class="gt-ie8" lang="pt-br"><![endif]-->
<!--[if gt IE 8]><!--><html lang="pt-br"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <%= content_tag :title, raw(page_title) %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "bootstrap-redu.min" %>
    <%= stylesheet_link_tag "new_application" %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <%= javascript_include_tag "new_application" %>
    <%= render "shared/analytics" %>
    <%= content_for?(:chat_script) ? content_for(:chat_script) : render("shared/chat") %>
    <%= yield :header_scripts_and_styles %>
  </head>
  <body>
    <%= content_for?(:nav_global) ? content_for(:nav_global) : render("shared/nav_global") %>
    <div class="main-wrapper">
      <%= content_for?(:outdated_browser) ? content_for(:outdated_browser) : render("shared/outdated_browser_new") %>
      <%= render "shared/system_flash_message" %>
      <%= content_tag :div, class: "container #{ content_for(:container_class) }" do %>
        <div class="row">
          <%= yield %>
        </div>
      <% end %>
      <% unless content_for? :footer %>
        <div class="footer-sticky"></div>
      <% end %>
    </div>
    <%= content_for?(:footer) ? content_for(:footer) : render("shared/footer") %>
  </body>
</html>
