<!doctype html>
<!--[if gt IE 8]><html class="gt-ie8" lang="pt-br"><![endif]-->
<!--[if gt IE 8]><!--><html lang="pt-br"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title><%= raw(page_title) %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "bootstrap-redu.css" %>
    <%= include_stylesheets :new_application %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <%= include_javascripts :new_application %>
    <%# É possível sobrescrever a inicialização do chat %>
    <% if content_for?(:chat_script) %>
      <%= content_for(:chat_script) %>
    <% else %>
      <%= render :partial => "shared/chat" %>
    <% end %>
    <%= render :partial => "shared/typekit" %>
    <%= render :partial => "shared/analytics" %>
  </head>
  <body>
    <%= render :partial => "shared/nav_global" %>
    <div class="main-wrapper <%= yield :wrapper_class %>">
      <%= render :partial => "shared/outdated_browser_new" %>
      <%= render :partial => "shared/system_flash_message" %>
      <div class="container <%= content_for(:container_class) %>">
        <div class="row">
          <%= yield %>
        </div>
      </div>
      <div class="footer-pusher"></div>
    </div>
    <%= render :partial => "shared/footer" %>
    <%# É possível sobrescrever a inicialização do olark %>
    <% if content_for?(:olark_script) %>
      <%= content_for(:olar_script) %>
    <% else %>
      <%= render :partial => "shared/olark" %>
    <% end %>
  </body>
</html>
