<%# Layout utilizado em requisições pjax  %>

<%= render 'shared/header' %>
<%= render 'shared/flash_message' %>

<div id="content" class="container_16 clearfix">
  <%= yield :layout %>
</div>

<%= render 'shared/footer_old' %>
<%= yield :footer_scripts_and_styles %>
