<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<% stylesheet = 'email' %>
<% if Rails.env.development? %>
  <style type="text/css" media="all">
    <%= Rails.application.assets.find_asset(stylesheet).to_s %>
  </style>
<% else %>
  <%= stylesheet_link_tag stylesheet %>
<% end %>
</head>
<body>
<table id="email">
  <thead class="head">
    <tr>
      <td colspan="2"> &nbsp; </td>
    </tr>
  </thead>
  <tbody class="body">
    <tr>
      <%= yield :layout %>
    </tr>
  </tbody>
  <tr class="footer">
    <td class="footer-info-wrapper">
      <div class="footer-info">
        Esta notificação foi enviada para
        <% if @friend %>
          <a href="mailto:<%= @friend.email %>"><%= @friend.email %></a>.
        <% elsif @user %>
          <a href="mailto:<%= @user.email %>"><%= @user.email %></a>.
        <% else %>
          <a href="mailto:<%= @email %>"><%= @email %></a>.
        <% end %>
        Não é necessário responder a este e-mail.
      </div>
    </td>
    <td class="logo">
      <%= image_tag "mail/logo.png", size: "144x33" %>
    </td>
  </tr>
</table>
</body>
</html>

