<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <%= content_tag :title, raw(page_title) %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "bootstrap-redu.min" %>
    <%= javascript_include_tag :webview %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
