<% content_for :body do %>
  <% if @content_for_body.nil? %>
    <%= render 'shared/header' %>
    <div id="environment" class="container_16 content clearfix <%= yield :page_classes %>">
      <%= render "shared/messages" %>
      <%= render "environments/wizard_header", environment: @environment,
        course: @environment.courses.first %>

      <%= @content_for_layout %>
    </div><!-- end content -->
    <%= render 'shared/footer_old' %>
  <% else %>
    <%= yield :body %>
  <% end %>
<% end %>
<%= render file: "layouts/application" %>