<%= render :partial => 'users/home_sidebar' %>
<div class="main grid_10" id="partner" style="width: 580px;">
  <%= render :partial => 'partners/breadcrumbs', :locals => { :partner => @partner} %>
  <%= render :partial => 'partners/header', :locals => { :partner => @partner, :title => "Ambientes: criar um novo" } %>
  <%= subtabs :partners do %>
    <div id="environments">
      <%= form_for @partner_environment_association, :url => partner_clients_path(@partner),
        :html => {:class => "concave-form"} do |f| %>
        <%= render :partial => 'partner_environment_associations/form',
          :locals => { :f => f} %>
        <%= f.submit "Criar ambiente" %>
      <% end %>
    </div>
    <div id="admins">
    </div>
  <% end %>
</div>

